﻿@model TreasureDiveViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Treasure Dive</a></li>
    <li><a href="@Url.Action("OnTheHour", "TreasureDive")">On The Hour</a></li>
</ul>
<p>
    <div class="gray-container">
        Once every <b>6 hours</b>, you can try to find the hidden treasure on the map. If you manage to find it in <b>10 taps</b> or less, you'll get the <b class="win-green">treasure</b>!
    </div>
</p>
@if (Model.HasTreasureHint)
{
    <p>
        <div class="alert alert-success">
            <h5>
                You used a <b>Cinnamon Treasure Candy Card</b> and part of the map has been blocked off to let you know the treasure isn't there!
            </h5>
        </div>
    </p>
}
@{
    int distance = Model.TreasureDive.GetDistanceBetweenTreasureAndGuess();
    bool isMatch = Model.TreasureDive.IsMatch();
}
@if (isMatch)
{
    <h5>Treasure Earned: <b class="win-green">@Helper.GetFormattedPoints(10000 - (Model.TreasureDive.Attempts - 1) * 1000)</b></h5>
}
else
{
    <h5>Taps Left: <b class="@(Model.TreasureDive.Attempts >= 9 ? "lose-red" : "")">@(10 - Model.TreasureDive.Attempts)</b></h5>
}
<h5>Treasure Distance:
    @if (Model.TreasureDive.Attempts == 10 && !isMatch)
    {
        <b class="lose-red">You didn't find it!</b>
    }
    else
    {
        <b class="@(string.IsNullOrEmpty(Model.TreasureDive.LastGuessCoordinates) ? "" : distance > 100 ? "lose-red" : distance > 50 ? "orange-color" : "win-green")">@Model.TreasureDive.GetDistanceHint()</b>
    }
</h5>
<div class="small-padding-top table-center">
    <div id="map" class="@(isMatch ? "win-green-full-border" : Model.TreasureDive.Attempts == 10 ? "lose-red-full-border" : "gray-border-thick") clickable @(Model.CanPlay ? "" : "faded") shadow img-rounded" style="background: url('@Helper.GetImageUrl("TreasureDive/Map.png")'); width: 270px; height: 259px; background-position: center; position: relative;" onclick="treasureMapClicked(event, this);">
        @if (Model.HasTreasureHint)
        {
            <div class="highlighted-map-area" style="@(Model.TreasureDive.GetTreasureCoordinates().X < 135 ? "left: 50%;" : "")"></div>
        }
        @{ var lastGuessCoordinate = Model.TreasureDive.GetLastGuessCoordinates(); }
        @if (!lastGuessCoordinate.IsEmpty && !isMatch)
        {
            <div class="map-marker animated bounceIn primary-color-background shadow" style="left: @((double)lastGuessCoordinate.X/270 * 100)%; top: @((double)lastGuessCoordinate.Y/259 * 100)%; position: absolute;"></div>
        }
        @if (Model.TreasureDive.Attempts == 10 || isMatch)
        {
            var hiddenTreasureCoordinate = Model.TreasureDive.GetTreasureCoordinates();
            <div class="fas fa-times @(isMatch ? "win-green" : "lose-red") animated bounceIn shadow" style="left: @((double)hiddenTreasureCoordinate.X/270 * 100)%; top: @((double)hiddenTreasureCoordinate.Y/259 * 100)%; position: absolute;"></div>
        }
    </div>
</div>