﻿@model TreasureDiveViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "TreasureDive")">Treasure Dive</a></li>
    <li class="active"><a href="#">On The Hour</a></li>
</ul>
<p>
    <div class="gray-container">
        There's a special button that only works once every <b>60 minutes</b>. Each time you press it on the hour (2:00, 3:00, etc.), it will <b class="win-green">reward</b> you! But a minute too soon or late and you'll get nothing!
    </div>
</p>
<form action="@Url.Action("IsOnHour", "TreasureDive")" method="POST" class="large-padding-top text-center" onsubmit="updateTreasureDive(event, this);">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-lg btn-success @(Model.IsOnTheHour ? "" : "disabled")"><h5 class="no-margin-top no-margin-bottom"><b>Press the Button!</b></h5></button>
</form>