﻿@model WealthyDonorsViewModel

<div class="gray-container">
    Every <b>8 hours</b>, you can take a little <b class="win-green">free @Resources.Currency</b> thanks to contributions from wealthy donors across @Resources.SiteName.
    Make sure to thank these users for their donations!
</div>
<div class="padding-top text-center">
    <h5>Current Pot</h5>
    <h2 id="pot" class="@(Model.CurrentPot > 0 ? "win-green" : "") margin-top">
        <b id="currentPot" data-amount="@Model.CurrentPot">@Helper.GetFormattedPoints(Model.CurrentPot)</b>
    </h2>
</div>
<form action="@Url.Action("Take", "WealthyDonors")" method="POST" class="large-padding-top text-center" onsubmit="updateWealthyDonors(event, this);">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.CanTake && Model.CurrentPot > 0 ? "" : "disabled")">Take Some @Resources.Currency!</button>
</form>
<form class="padding-top" action="@Url.Action("Donate", "WealthyDonors")" method="POST" onsubmit="updateWealthyDonors(event, this)">
    <div class="form-group">
        <h5>Donate @Resources.Currency</h5>
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-coins"></i></span>
            <input type="number" class="form-control" id="deposit-amount" min="0" max="@Model.User.Points" name="amount" placeholder="Up to @Helper.GetFormattedPoints(Model.User.Points)" required>
        </div>
    </div>
    <div class="form-group inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.User.Points > 0 ? "" : "disabled")">Donate</button>
    </div>
</form>
<div class="large-padding-top"></div>
<div class="panel panel-primary">
    <div class="panel-heading">Top 50 Philanthropists</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>@Resources.Currency Donated</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WealthyDonor wealthyDonor in Model.TopDonors)
                {
                    <tr>
                        <td data-title="Rank"><b class="@(wealthyDonor.Rank == 1 ? "gold-color" : wealthyDonor.Rank == 2 ? "silver-color" : wealthyDonor.Rank == 3 ? "bronze-color" : "")">@Html.Raw(wealthyDonor.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @wealthyDonor.Rank</b></td>
                        <td data-title="Username"><a href='/User/@wealthyDonor.Username'>@wealthyDonor.Username</a></td>
                        <td data-title="@Resources.Currency Donated"><span class="win-green">@Helper.GetFormattedPoints(wealthyDonor.Amount)</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.TopDonors.Count == 0)
{
    <div class="alert alert-info behind-margin-top visible-xs">
        Nobody has donated any @Resources.Currency to the pot yet.
    </div>
}
