﻿@model LibraryViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Library">Library</a></li>
    <li class="active"><a href="#">Library Cards</a></li>
</ul>
@if (Model.CanSeeUnknown)
{
    <p>
        <div class="gray-container">
            You pull the lever and find a Stadium challenger waiting for you: <b class="win-green">The Unknown</b>.
            The Unknown is a very strong opponent and can only be rematched every <b>30 minutes</b>.
        </div>
    </p>
    <h5>Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div class="scrolling-container">
            @foreach (Card card in Model.Deck)
            {
                <div class="scrolling-grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                        <div>
                            <h5 class="small-margin-bottom">@card.Name</h5>
                        </div>
                    </div>
                     <div class="push-down-class">
                        @if  (card.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <form action="@Url.Action("ChallengeUnknown", "Stadium")" method="POST" onsubmit="updateLibrary(event, this, false)" class="padding-top">
        @Html.AntiForgeryToken()
        <div class="padding-top">
            <button type="submit" class="btn btn-success @(Model.CanChallengeUnknown ? "" : "disabled")"><b>Challenge The Unknown</b></button>
        </div>
    </form>
}
else
{
    <p>
        <div class="alert alert-success no-margin-bottom">
            <h5>
                Congratulations! You defeated <b>The Unknown</b>! Leave a message in The Void for others who pass this way...
            </h5>
        </div>
    </p>
    if (!Model.HasTakenUnknownItem)
    {
        <h5>Reward</h5>
        <div class="grid-container grid-container--fit">
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(Model.UnknownItem.ImageUrl)" alt="@Model.UnknownItem.Description" title="@Model.UnknownItem.Description">
                    <div>
                        <h5>@Model.UnknownItem.Name</h5>
                        <p><i><small>@Model.UnknownItem.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <small class="semi-bold">@(Model.UnknownItem.TotalUses > 0 ? $"{Model.UnknownItem.TotalUses} Use{(Model.UnknownItem.TotalUses != 1 ? "s" : "")}" : "")</small>
                    </div>
                    <div>
                        <small>
                            @Model.UnknownItem.Category
                        </small>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(Model.UnknownItem.Points)</small>
                    </div>
                </div>
            </div>
        </div>
        <form class="padding-top" action="@Url.Action("TakeUnknownItem", "Library")" method="POST" onsubmit="updateLibrary(event, this, false, true)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Take Item</button>
        </form>
        <hr />
    }
    <h5 class="@(Model.HasTakenUnknownItem ? "small-padding-top" : "")">The Void</h5>
    <input id="voidMessages" type="hidden" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.VoidMessages.Take(250))" />
    <div id="voidMessage" class="extra-small-padding-top large-padding-bottom text-center">
    </div>
    <form action="@Url.Action("SendVoidMessage", "Library")" method="POST" onsubmit="updateLibrary(event, this, false, true)">
        <div class="form-group">
            <div class="gray-container input-group">
                <input type="text" id="message" name="message" class="form-control" placeholder="Send to The Void..." autocomplete="off" maxlength="350" required>
                <span class="input-group-btn">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary btn-rounded">Send</button>
                </span>
            </div>
        </div>
    </form>
}