﻿@model LibraryViewModel

@if (Model.HasGoldenKnowledge)
{
    <div class="alert alert-success alert-elite-zone-coloring no-margin-bottom">
        <h5>
            You have <b>gold knowledge</b> for this use! You'll get a reward and increase your knowledge in whichever category you choose!
        </h5>
    </div>
    <div class="small-padding-top"></div>
}
<h5 id="library-knowledge-levels">Knowledge Levels</h5>
<div class="row text-center">
    <div class="col-xs-12 col-sm-4">
        <div id="@LibraryKnowledgeType.Power" class="alert alert-info @(Model.HasGoldenKnowledge ? "alert-gold-coloring" : "alert-purple-coloring alert-purple-coloring-gradient") @(Model.CanUseLibrary ? "clickable grow" : "faded")" onclick="@(Model.CanUseLibrary ? "knowledgeItemSelected(this);" : "")">
            <h3 id="power-level" class="@(Model.PowerLevel >= 20 && !Model.HasGoldenKnowledge ? "win-green" : "")"><b>@Helper.FormatNumber(Model.PowerLevel)</b></h3>
            <h5 class="@(Model.PowerLevel >= 20 && !Model.HasGoldenKnowledge ? "win-green" : "")">Power</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div id="@LibraryKnowledgeType.Opportunity" class="alert alert-info @(Model.HasGoldenKnowledge ? "alert-gold-coloring" : "alert-blue-coloring alert-blue-coloring-gradient") @(Model.CanUseLibrary ? "clickable grow" : "faded")" onclick="@(Model.CanUseLibrary ? "knowledgeItemSelected(this);" : "")">
            <h3 id="opportunity-level" class="@(Model.OpportunityLevel >= 20 && !Model.HasGoldenKnowledge ? "win-green" : "")"><b>@Helper.FormatNumber(Model.OpportunityLevel)</b></h3>
            <h5 class="@(Model.OpportunityLevel >= 20 && !Model.HasGoldenKnowledge ? "win-green" : "")">Opportunity</h5>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div id="@LibraryKnowledgeType.Wealth" class="alert alert-info @(Model.HasGoldenKnowledge ? "alert-gold-coloring" : "alert-green-coloring alert-green-coloring-gradient") @(Model.CanUseLibrary ? "clickable grow" : "faded")" onclick="@(Model.CanUseLibrary ? "knowledgeItemSelected(this);" : "")">
            <h3 id="wealth-level" class="@(Model.WealthLevel >= 20 && !Model.HasGoldenKnowledge ? "win-green" : "")"><b>@Helper.FormatNumber(Model.WealthLevel)</b></h3>
            <h5 class="@(Model.WealthLevel >= 20 && !Model.HasGoldenKnowledge ? "win-green" : "")">Wealth</h5>
        </div>
    </div>
</div>
<form action="@Url.Action("UseKnowledge", "Library")" method="POST" onsubmit="updateLibrary(event, this, true)">
    <input type="hidden" id="libraryKnowledgeType" name="libraryKnowledgeType" />
    @Html.AntiForgeryToken()
    <button id="knowledgeButton" type="submit" class="btn btn-success disabled">Use Knowledge</button>
</form>
@if (Model.LibraryHistories.Count > 0)
{
    <h5 class="padding-top small-padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#libraryHistories">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Recent Knowledge Uses
        </a>
    </h5>
    <div id="libraryHistories" class="collapse padding-bottom">
        @foreach (LibraryHistory libraryHistory in Model.LibraryHistories)
        {
            <div class="gray-container">
                <div>
                    <b class="@(libraryHistory.Type == LibraryKnowledgeType.Opportunity ? "primary-color" : libraryHistory.Type == LibraryKnowledgeType.Wealth ? "win-green" : "checklist-purple" )">@libraryHistory.Type</b>
                    <small class="text-muted pull-right">@libraryHistory.CreatedDate.GetTimeSince()</small>
                </div>
                <div class="small-padding-top">
                    @Html.Raw(Helper.BoldNumbers(Helper.BoldTimes(Helper.BoldPoints(Helper.BoldQuotes(libraryHistory.Message)))))
                </div>
            </div>
            <div class="padding-top"></div>
        }
    </div>
}