﻿@model LibraryViewModel

<h5>Library Cards (@Helper.FormatNumber(Model.LibraryCards.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (LibraryCard item in Model.LibraryCards)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.LibraryCards.Count == 0)
{
    <div class="alert alert-info">
        You have no Library Cards in your bag. You can find them around @Resources.SiteName. When you collect a full set of <b>6 Library Cards</b>, come back here!
    </div>
}
else if (Model.LibraryCards.GroupBy(x => x.Color).ToList().Count == 6)
{
    <form action="@Url.Action("RedeemLibraryCards", "Library")" method="POST" onsubmit="updateLibrary(event, this, false)" class="large-padding-top">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">Redeem Library Cards!</button>
    </form>
}
@if (Model.CanOpenPassage)
{
    <h5 class="small-padding-top">Secret Passage</h5>
    <div class="alert alert-info alert-info-coloring-gradient">
        <h5>
            You redeemed all 6 Library Cards and opened a secret passage! There is a poem and a lever beneath it:
        </h5>
        <div class="padding-top"></div>
        <div class="padding-left left-border-blue">
            <p>
                <i>
                    To pull this lever, three tasks must be completed
                </i>
            </p>
            <p>
                <i>
                    First and foremost, a certain Guard must be defeated
                </i>
            </p>
            <p>
                <i>
                    Then secondly, you must finish a checklist of tasks
                </i>
            </p>
            <p>
                <i>
                    And finally, all of the Museum must be opened at last
                </i>
            </p>
        </div>
    </div>
    <form action="@Url.Action("PullLever", "Library")" method="POST" onsubmit="updateLibrary(event, this, false)">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary @(Model.CanPullLever ? "" : "disabled")">Pull Lever!</button>
    </form>
}