﻿@model LibraryViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Library</a></li>
    <li><a href="/Library/LibraryCards">Library Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        Every <b>12 hours</b>, you can choose from one of 3 knowledge categories: <b>Power</b>, <b>Opportunity</b>, or <b>Wealth</b>. 
        You might increase your knowledge or earn a reward in any of those categories. The <b>more knowledge</b> you have in a category, the <b>greater</b> your reward!
    </div>
</p>
<div id="libraryPartialView">
    @await Html.PartialAsync("_LibraryMainPartial", Model)
</div>