﻿@model LibraryViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Library">Library</a></li>
    <li class="active"><a href="#">Library Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        You can find Library Cards around @Resources.SiteName. If you collect a full set of <b>6 Library Cards</b>, you can redeem them here for a <b class="win-green">great reward</b> and something more...
    </div>
</p>
<div id="libraryPartialView">
    @await Html.PartialAsync("_LibraryCardsPartial", Model)
</div>