﻿@model ContactViewModel

<div class="alert alert-info no-margin-bottom">
    We're here to help with your questions and feedback! If you'd like to know more about @Resources.SiteName, make sure to check out the <a class="alert-link" href="/Help">Help Hub</a>.
</div>
<form id="contactForm" action="@Url.Action("Contact", "Contact")" method="POST" onsubmit="submitContactForm(event, this);" class="large-padding-top">
    <div class="form-group">
        <label for="category">What can we help you with?</label>
        <select class="form-control" id="category" name="category" onchange="showSendMessageContactOption();" required>
            <option value="@ContactCategory.None">@ContactCategory.None.GetDisplayName()</option>
            <option value="@ContactCategory.AccountIssue">@ContactCategory.AccountIssue.GetDisplayName()</option>
            <option value="@ContactCategory.AdvertisingOpportunities">@ContactCategory.AdvertisingOpportunities.GetDisplayName()</option>
            <option value="@ContactCategory.CopyrightIssue">@ContactCategory.CopyrightIssue.GetDisplayName()</option>
            <option value="@ContactCategory.PaymentIssue">@ContactCategory.PaymentIssue.GetDisplayName()</option>
            <option value="@ContactCategory.GeneralHelp">@Resources.SiteName Help</option>
            <option value="@ContactCategory.GeneralQuestion">@ContactCategory.GeneralQuestion.GetDisplayName()</option>
            <option value="@ContactCategory.StaffComplaint">@ContactCategory.StaffComplaint.GetDisplayName()</option>
            <option value="@ContactCategory.SuspendedAccount">@ContactCategory.SuspendedAccount.GetDisplayName()</option>
            <option value="@ContactCategory.Other">@ContactCategory.Other.GetDisplayName()</option>
        </select>
    </div>
    @if (Model.Authenticated)
    {
        <div id="contact-message" class="alert alert-info alert-info-coloring-gradient display-none margin-bottom">
            <h5>
                Want a quicker answer? Send <a href="/Messages?username=tyler" class="alert-link">tyler</a> a message!
            </h5>
        </div>
    }
    <div class="form-group">
        <label for="emailAddress">Your Email</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
            <input type="email" class="form-control" aria-describedby="emailHelp" id="emailAddress" name="emailAddress" placeholder="Email Address" value="@(Model.Authenticated ? Model.User.EmailAddress : "")" required>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll send you an email if we need to reply to you.</small>
    </div>
    @if (Model.Authenticated)
    {
        <div class="form-group">
            <div>
                <label for="isReplyViaMessages">Reply Method</label>
            </div>
            <label class="checkbox-inline">
                <input name="isReplyViaMessages" id="isReplyViaMessages" type="checkbox" checked>Receive reply via <a href="/Messages">Messages</a> instead of email
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="A @Resources.SiteName Staff member will start a conversation with you if a reply is needed."></span>
            </label>
        </div>
    }
    <div class="form-group">
        <label for="message"><span class="glyphicon glyphicon-edit"></span> Your Message</label>
        <textarea class="form-control" name="message" rows="5" id="message" placeholder="Please be as detailed as possible." required onkeyup="updateContactCountMessage();"></textarea>
        <h6 class="pull-right text-muted" id="contactCountMessage">@Helper.FormatNumber(2500) remaining</h6>
    </div>
    @if (!Model.Authenticated)
    {
        <div class="form-group">
            <label for="number">What is @Model.Number1 + @Model.Number2?</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></span>
                <input type="number" class="form-control" aria-describedby="mathAnswerHelp" id="mathAnswer" name="mathAnswer" placeholder="Your Answer" required>
            </div>
            <small id="mathAnswerHelp" class="form-text text-muted">We do this to make sure you're a human.</small>
        </div>
    }
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Contact Us</button>
</form>