﻿@model TrainingCenterViewModel

<p>
    <div class="gray-container">
        <h5 id="training-tokens" class="small-margin-top">
            You have <b class="@(Model.Tokens > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.Tokens) Training Token@(Model.Tokens == 1 ? "" : "s")</b>
        </h5>
        <ul class="no-margin-bottom">
            <li>
                If you upgrade a @Resources.DeckCard, its value will increase by <b>1</b>. Stronger @Resources.DeckCards will cost <b>more tokens</b> to upgrade.
            </li>
            <li>
                You can earn tokens by winning matches at the <a href="/Stadium">Stadium</a>, disposing of items at the <a href="/Disposer">Disposer</a>, or giving red @Resources.DeckCards to the <a href="/Villager">Weary Villager</a>.
            </li>
        </ul>
    </div>
</p>
<h5>@Resources.DeckCards (@Helper.FormatNumber(Model.Cards.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (Card card in Model.Cards)
    {
        <div id="@card.SelectionId" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                <div>
                    <h5 class="@(card.DeckType == Model.DeckType ? "no-margin-bottom small-margin-bottom" : "")">@card.Name</h5>
                    @if (card.DeckType == Model.DeckType)
                    {
                        <div class="label label-primary" data-toggle="tooltip" data-placement="top" title="This @Resources.DeckCard is in your Deck.">Deck</div>
                        <div class="padding-top"></div>
                    }
                    <p><i><small>@card.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (card.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                    </div>
                }
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(card.GetAgeInHours()) hour@(card.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @card.Category <span class="@Helper.GetItemConditionColor(card.Condition)">(@card.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>Cost: <b class="@(Model.Tokens >= ((int)card.Color + 1) ? "win-green" : "lose-red")">@Helper.FormatNumber((int)card.Color + 1) Token@((int)card.Color + 1 == 1 ? "" : "s")</b></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("UpgradeCard", "TrainingCenter")" method="POST" onsubmit="updateTrainingCenter(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@card.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs @((card.DeckType != Model.DeckType || !Model.IsInMatch) && Model.Tokens >= ((int)card.Color + 1) ? "" : "disabled")">Upgrade Card</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Cards.Count == 0)
{
    <div class="alert alert-info">
        You have no @Resources.DeckCards in your <a class="alert-link" href="/Items">bag</a> that can be upgraded.
    </div>
}
@if (Model.PowerMoves.Count > 0 && Model.HasUnlocked)
{
    <h5 class="small-padding-top">Power Moves (@Helper.FormatNumber(Model.PowerMoves.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (PowerMove powerMove in Model.PowerMoves)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="power-move-dimensions" src="@Helper.GetImageUrl(powerMove.ImageUrl)" alt="@powerMove.Description" title="@powerMove.Description">
                    <div>
                        <h5>@powerMove.Name</h5>
                        <p>
                            <i><small>@powerMove.Description</small></i>
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <small>Cost: <b class="@(Model.Tokens >= powerMove.Tokens ? "win-green" : "lose-red")">@Helper.FormatNumber(powerMove.Tokens) Tokens</b></small>
                    </div>
                    <div class="small-padding-top"></div>
                    <form action="@Url.Action("GetPowerMove", "TrainingCenter")" method="POST" onsubmit="updateTrainingCenter(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="powerMoveType" value="@powerMove.Type" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.Tokens >= powerMove.Tokens ? "" : "disabled")">Learn It</button>
                    </form>
                </div>
            </div>
        }
    </div>
}
@if (Model.Upgrades.Count > 0 && Model.HasUnlocked)
{
    <h5 class="small-padding-top">Upgrades (@Helper.FormatNumber(Model.Upgrades.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (TrainingCenterUpgrade trainingCenterUpgrade in Model.Upgrades)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="power-move-dimensions" src="@Helper.GetImageUrl(trainingCenterUpgrade.ImageUrl)" alt="@trainingCenterUpgrade.Description" title="@trainingCenterUpgrade.Description">
                    <div>
                        <h5>@trainingCenterUpgrade.Name</h5>
                        <p>
                            <i><small>@trainingCenterUpgrade.Description</small></i>
                        </p>
                    </div>
                </div>
                <div>
                    <div>
                        <small>Cost: <b class="@(Model.Tokens >= trainingCenterUpgrade.Tokens ? "win-green" : "lose-red")">@Helper.FormatNumber(trainingCenterUpgrade.Tokens) Tokens</b></small>
                    </div>
                    <div class="small-padding-top"></div>
                    <form action="@Url.Action("GetUpgrade", "TrainingCenter")" method="POST" onsubmit="updateTrainingCenter(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="upgradeId" value="@trainingCenterUpgrade.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.Tokens >= trainingCenterUpgrade.Tokens && !Model.IsInMatch ? "" : "disabled")">Get It</button>
                    </form>
                </div>
            </div>
        }
    </div>
}