﻿@model TrainingCenterViewModel

<p>
    <div class="gray-container">
        You can enter the Ancient Plateau once you've earned all <b>@Model.Relics.Count Relics</b>.
        You can earn them by defeating the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Checkpoint CPUs</b> at the <a href="/Stadium">Stadium</a>.
    </div>
</p>
@if (Model.Relics.All(x => x.Earned))
{
    <p>
        <div class="alert alert-success small-margin-bottom">
            <h5>
                You've earned all the Relics! You now have access to the <b>Ancient Plateau</b>!
            </h5>
        </div>
    </p>
}
<h5>Relics (@(Model.Relics.Count(x => x.Earned))/@Model.Relics.Count)</h5>
<div class="scrolling-wrapper">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
    @foreach (Relic relic in Model.Relics)
        {
            <div id="@relic.Level" class="scrolling-grid-element text-center @(relic.Earned ? "win-green-border" : "faded")">
                <div>
                    <img class="relic-dimensions" src="@Helper.GetImageUrl(relic.ImageUrl)">
                    <div>
                        <h5>@relic.Name</h5>
                        <h6 class="text-muted">Level @relic.Level</h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<form class="large-padding-top" action="@Url.Action("AccessPlateau", "TrainingCenter")" method="POST" onsubmit="updateTrainingCenter(event, this, false)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.Relics.All(x => x.Earned) ? "" : "disabled")">Enter the Plateau!</button>
</form>
<div class="large-padding-top"></div>
<div id="relic-perks" class="panel-group">
    @{ Model.Relics.Reverse(); }
    @foreach (Relic relic in Model.Relics)
    {
        if (relic != Model.NextRelic && !relic.Earned)
        {
            continue;
        }
        PowerMove powerMove = Model.AllPowerMoves.Find(x => x.MinCPULevel == relic.Level);
        <div class="panel panel-primary">
            <div class="panel-heading @(relic == Model.NextRelic || Model.ExpandAll ? "" : "collapsed") clickable" data-toggle="collapse" data-parent="#relic-perks" data-target="#@relic.Id">
                <h4 class="panel-title accordion-toggle">
                    <img width="30" height="30" src="@Helper.GetImageUrl(relic.ImageUrl)" class="small-margin-right">
                    @relic.Name Relic Perks
                    @if (!relic.Earned)
                    {
                        <span>(Next)</span>
                    }
                </h4>
            </div>
            <div id="@relic.Id" class="panel-collapse collapse @(relic == Model.NextRelic || Model.ExpandAll ? "in" : "")">
                <div class="panel-body">
                    @if (relic.Earned)
                    {
                        <h5 class="no-margin-top"><span class="fas fa-check-circle win-green"></span> You earned the <b>@relic.Name Relic</b> (Level @relic.Level) and unlocked the following perks:</h5>
                    }
                    else
                    {
                        <h5 class="no-margin-top"><span class="fas fa-forward primary-color"></span> When you earn the <b>@relic.Name Relic</b> (Level @relic.Level), you'll unlock the following perks:</h5>
                    }
                    <ul style="list-style-type: none;">
                        <li>
                            <img width="30" height="30" src="@Helper.GetImageUrl(powerMove.ImageUrl)" class="small-margin-right">
                            <b>@powerMove.Name</b> Power Move
                            @if (relic.Earned)
                            {
                                <span>(Set it in your <a href="/Items?showPowerMoves=true#@powerMove.Type">bag</a>)</span>
                            }
                        </li>
                        @if (relic.Id > RelicId.Sun)
                        {
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl(relic.ImageUrl)" class="small-margin-right">
                                Use any cards at the Stadium that need the <b>@relic.Name Relic</b>
                            </li>
                        }
                        @if (relic.Id == RelicId.Moon)
                        {
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl("/Locations/ChallengerDome.png")" class="img-circle small-margin-right">
                                Access to the <b><a href="/ChallengerDome">Challenger Dome</a></b>
                            </li>
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl("/Stadium/TrainingToken.png")" class="img-circle small-margin-right">
                                Use Training Tokens to get new Power Moves and upgrades at the <b><a href="/TrainingCenter">Training Center</a></b>
                            </li>
                        }
                        else if (relic.Id == RelicId.Sun)
                        {
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl("/Locations/PhantomDoor.png")" class="img-circle small-margin-right">
                                Access to the <b><a href="/PhantomDoor">Phantom Door</a></b>
                            </li>
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl("/Locations/Trading.png")" class="img-circle small-margin-right">
                                Make trades at the <b><a href="/Trading">Trading Square</a></b>
                            </li>
                        }
                        else if (relic.Id == RelicId.Fire)
                        {
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl("/Locations/ArtFactory.png")" class="img-circle small-margin-right">
                                Access to the <b><a href="/ArtFactory">Art Factory</a></b>
                            </li>
                        }
                        else if (relic.Id == RelicId.Water)
                        {
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl("/Locations/Clubhouse.png")" class="img-circle small-margin-right">
                                Access to the <b><a href="/Clubhouse">Clubhouse</a></b>
                            </li>
                        }
                        else if (relic.Id == RelicId.Eternal)
                        {
                            <li class="small-padding-top">
                                <img width="30" height="30" src="@Helper.GetImageUrl("/Locations/TrainingCenter.png")" class="img-circle small-margin-right">
                                Access to the <b>Ancient Plateau</b>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>