﻿@model TrainingCenterViewModel

<p>
    <div class="gray-container">
        You enter the <b>Ancient Plateau</b> and come across a blue portal...
    </div>
</p>
<h5>Enchanted Portal</h5>
<div class="text-center fade-in">
    <img class="animated tada" src="@Helper.GetImageUrl("Locations/Portal.png")" />
    <div class="large-padding-top"></div>
    @if (Model.PortalExpiryDate <= DateTime.UtcNow)
    {
        <div class="alert alert-info">
            <h5>
                You can now open an Enchanted Portal to the <b>Right-Side Up World</b> for <b>24 hours</b>. Each time you open the portal, it costs <b class="win-green">@Helper.GetFormattedPoints(5000)</b>.
            </h5>
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <h5>
                The Enchanted Portal is now open! It will close in <b>@Model.PortalExpiryDate.GetTimeUntil()</b>. You can enter it from here or at the <a href="/Plaza" class="alert-link">Plaza</a>.
            </h5>
        </div>
    }
</div>
@if (Model.PortalExpiryDate <= DateTime.UtcNow)
{
    <form action="@Url.Action("OpenPortal", "TrainingCenter")" method="POST" onsubmit="updateTrainingCenter(event, this, false)" class="fade-in">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.User.Points >= 5000 ? "" : "disabled")">Open Enchanted Portal (@Helper.GetFormattedPoints(5000))</button>
    </form>
}
else
{
    <a class="btn btn-success fade-in" href="/RightSideUpWorld">Enter the Portal</a>
}