﻿@model TrainingCenterViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Training Center</a></li>
    <li><a href="@Url.Action("Plateau", "TrainingCenter")">Ancient Plateau</a></li>
</ul>
<div id="trainingCenterPartialView">
    @await Html.PartialAsync("_TrainingCenterMainPartial", Model)
</div>