﻿@model TrainingCenterViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "TrainingCenter")">Training Center</a></li>
    <li class="active"><a href="#">Ancient Plateau</a></li>
</ul>
<div id="trainingCenterPartialView">
    @await Html.PartialAsync("_TrainingCenterPlateauPartial", Model)
</div>