﻿@model ArtFactoryViewModel

@if (Model.CustomCard == null)
{
    <form id="upload-image" action="@Url.Action("Upload", "ArtFactory")" method="POST" onsubmit="submitArtFactoryForm(event, this);">
        <div class="form-group">
            <label for="name">Custom Art Card Name</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                <input type="text" class="form-control" id="artCardName" name="artCardName" placeholder="What's your Custom Card called?" maxlength="15" required>
            </div>
        </div>
        <h5>Upload Image</h5>
        <div class="form-group">
            <h6 class="text-muted no-margin-top">Should be a png, jpg, jpeg, or gif image, around 360 x 560, and up to 200 KB in size.</h6>
            <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg, .gif" />
        </div>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Preview Card</button>
        </div>
    </form>
}
else
{
    <h5>Custom Card Preview</h5>
    <div class="grid-element text-center center-block card-width">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl(Model.CustomCard.ImageUrl)" alt="@Model.CustomCard.Description" title="@Model.CustomCard.Description">
            <div>
                <h5>@Model.CustomCard.Name</h5>
                <p><i><small>@Model.CustomCard.Description</small></i></p>
            </div>
        </div>
        <div>
            <div>
                <small>
                    @Model.CustomCard.Category <span class="@Helper.GetItemConditionColor(Model.CustomCard.Condition)">(@Model.CustomCard.Condition)</span>
                </small>
            </div>
            <div>
                <small>Cost: <b class="@(Model.User.Points >= Model.CustomCard.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(Model.CustomCard.Points)</b></small>
            </div>
        </div>
    </div>
    <div class="large-padding-top"></div>
    <form action="@Url.Action("Create", "ArtFactory")" method="POST" class="inline" onsubmit="submitArtFactoryForm(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.User.Points < 5000 ? "disabled" : "")">Create Card (@Helper.GetFormattedPoints(5000))</button>
    </form>
    <div class="visible-xxs"><div class="small-padding-top"></div></div>
    <form action="@Url.Action("Discard", "ArtFactory")" method="POST" class="inline" onsubmit="submitArtFactoryForm(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-secondary">Never mind...</button>
    </form>
}