﻿@model ArtFactoryViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Art Factory</a></li>
    <li><a href="@Url.Action("RecentCards", "ArtFactory")">Recent Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        You can upload an image and create your own custom Art Card for <b class="win-green">@Helper.GetFormattedPoints(5000)</b>. Your image must meet the following criteria:
        <ul class="no-margin-bottom">
            <li>
                Your image dimensions should be close to 360 x 560 or else the image may be scaled.
            </li>
            <li>
                You must own the rights to your image. Uploading an image that you didn't create can lead to the Custom Card being <b>removed</b> and/or your account being <b>suspended</b>.
            </li>
        </ul>
    </div>
</p>
<div id="artFactoryPartialView">
    @await Html.PartialAsync("_ArtFactoryMainPartial", Model)
</div>