﻿@model ArtFactoryViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "ArtFactory")">Art Factory</a></li>
    <li class="active"><a href="#">Recent Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        Check out some of the recently created Custom Cards by @Resources.SiteName users.
    </div>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">Recently Created Custom Cards</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Card Image</th>
                    <th>Card Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Custom custom in Model.RecentCards)
                {
                    <tr>
                        <td data-title="User"><a href="/User/@custom.Username">@custom.Username</a></td>
                        <td data-title="Card Image">
                            <img src="@Helper.GetImageUrl(custom.ImageUrl)" width="53" height="83">
                        </td>
                        <td data-title="Name Name">@custom.Name</td>
                        <td data-title="Date">@custom.CreatedDate.GetTimeSince()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>