﻿@model ColorWarsViewModel

<div id="team-points" class="row text-center">
    <div class="col-xs-6">
        <h5 class="orange-color">
            Orange Team
            @if (Model.Team1Points > Model.Team2Points)
            {
                <span data-toggle="tooltip" data-placement="top" title="Leading Team" class="glyphicon glyphicon-star"></span>
            }
        </h5>
        <div class="progress progress-bar-vertical border-gray-background-color progress-bar-striped">
            <div class="progress-bar orange-color-background progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@((double)Model.Team1Points/Model.PointsGoal * 100)%; display: block; float: right;">
            </div>
        </div>
        <h5 id="points-header-@((int)ColorWarsColor.Orange)" class="@(Model.Team1Points == Model.Team2Points ? "" : Model.Team1Points > Model.Team2Points ? "win-green" : "lose-red") small-margin-bottom"><b id="points-@((int)ColorWarsColor.Orange)" data-count="@Model.Team1Points">@Helper.GetFormattedPoints(Model.Team1Points)</b></h5>
        <small class="text-muted no-margin-top">(@Math.Round((double)Model.Team1Points / Model.PointsGoal * 100, 1)% of goal)</small>
        @if (Model.Team1Submissions.Count > 0)
        {
            <div>
                <small class="text-muted">Last Contributor: <a href="/User/@Model.Team1Submissions.First().Username">@Model.Team1Submissions.First().Username</a></small>
            </div>
            int contributors = Model.Team1Submissions.GroupBy(x => x.Username).Count();
            <h6 class="small-margin-top small-margin-bottom">
                <a class="collapsed clickable" data-toggle="collapse" data-target="#team1Contributors">
                    <span class="if-collapsed">
                        <span class="glyphicon glyphicon-plus"></span>
                    </span>
                    <span class="if-not-collapsed">
                        <span class="glyphicon glyphicon-minus"></span>
                    </span>
                    @Helper.FormatNumber(contributors) Contributor@(contributors == 1 ? "" : "s")
                </a>
            </h6>
            <div id="team1Contributors" class="collapse">
                @foreach (var colorWarsSubmissionGrouping in Model.Team1Submissions.GroupBy(x => x.Username).OrderByDescending(x => x.Count()))
                {
                    <div>
                        <a href="/User/@colorWarsSubmissionGrouping.First().Username">@colorWarsSubmissionGrouping.First().Username</a> <span class="text-muted">(@Helper.FormatNumber(colorWarsSubmissionGrouping.Count()))</span>
                    </div>
                }
            </div>
        }
    </div>
    <div class="col-xs-6">
        <h5 class="primary-color">
            Blue Team
            @if (Model.Team2Points > Model.Team1Points)
            {
                <span data-toggle="tooltip" data-placement="top" title="Leading Team" class="glyphicon glyphicon-star"></span>
            }
        </h5>
        <div class="progress progress-bar-vertical border-gray-background-color progress-bar-striped">
            <div class="progress-bar primary-color-background progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@((double)Model.Team2Points/Model.PointsGoal * 100)%; display: block; float: right;">
            </div>
        </div>
        <h5 id="points-header-@((int)ColorWarsColor.Blue)" class="@(Model.Team1Points == Model.Team2Points ? "" : Model.Team2Points > Model.Team1Points ? "win-green" : "lose-red") small-margin-bottom"><b id="points-@((int)ColorWarsColor.Blue)" data-count="@Model.Team2Points">@Helper.GetFormattedPoints(Model.Team2Points)</b></h5>
        <small class="text-muted no-margin-top">(@Math.Round((double)Model.Team2Points / Model.PointsGoal * 100, 1)% of goal)</small>
        @if (Model.Team2Submissions.Count > 0)
        {
            <div>
                <small class="text-muted">Last Contributor: <a href="/User/@Model.Team2Submissions.First().Username">@Model.Team2Submissions.First().Username</a></small>
            </div>
            int contributors = Model.Team2Submissions.GroupBy(x => x.Username).Count();
            <h6 class="small-margin-top small-margin-bottom">
                <a class="collapsed clickable" data-toggle="collapse" data-target="#team2Contributors">
                    <span class="if-collapsed">
                        <span class="glyphicon glyphicon-plus"></span>
                    </span>
                    <span class="if-not-collapsed">
                        <span class="glyphicon glyphicon-minus"></span>
                    </span>
                    @Helper.FormatNumber(contributors) Contributor@(contributors == 1 ? "" : "s")
                </a>
            </h6>
            <div id="team2Contributors" class="collapse">
                @foreach (var colorWarsSubmissionGrouping in Model.Team2Submissions.GroupBy(x => x.Username).OrderByDescending(x => x.Count()))
                {
                    <div>
                        <a href="/User/@colorWarsSubmissionGrouping.First().Username">@colorWarsSubmissionGrouping.First().Username</a> <span class="text-muted">(@Helper.FormatNumber(colorWarsSubmissionGrouping.Count()))</span>
                    </div>
                }
            </div>
        }
    </div>
</div>
<form action="@Url.Action("Contribute", "ColorWars")" method="POST" onsubmit="submitColorWarsForm(event, this, @((int)Model.TeamColor));" class="large-padding-top">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-@(Model.TeamColor == ColorWarsColor.Orange ? "orange" : "primary") @(Model.CanContribute ? "" : "disabled")">Contribute @Helper.GetFormattedPoints(500) to @Model.TeamColor</button>
</form>
@if (Model.ColorWarsHistories.Count > 0)
{
    <h5 class="small-padding-top small-padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#colorWarsHistories">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Previous Team Results
        </a>
    </h5>
    <div id="colorWarsHistories" class="collapse padding-bottom">
        <div class="panel panel-primary">
            <div class="panel-heading">Last 25 Results</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Winning Team</th>
                            <th>Amount Earned / User</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ColorWarsHistory colorWarsHistory in Model.ColorWarsHistories.Take(25))
                        {
                            <tr>
                                <td data-title="Winning Team"><b class="@(colorWarsHistory.TeamColor == ColorWarsColor.Blue ? "primary-color" : "orange-color")">@colorWarsHistory.TeamColor</b></td>
                                <td data-title="Amount Earned / User"><b class="win-green">@Helper.GetFormattedPoints(colorWarsHistory.Amount)</b></td>
                                <td data-title="Date">@colorWarsHistory.CreatedDate.GetTimeSince()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
