﻿@model ColorWarsViewModel

<div class="gray-container">
    <h5>How to play</h5>
    <ul>
        <li>
            Your team color is <b class="@(Model.TeamColor == ColorWarsColor.Orange ? "orange-color" : "primary-color")">@Model.TeamColor</b>.
        </li>
        <li>
            Every <b>3 hours</b>, you can add <b class="win-green">@Helper.GetFormattedPoints(500)</b> to your team's pot.
        </li>
        <li>
            If your team reaches <b class="win-green">@Helper.GetFormattedPoints(Model.PointsGoal)</b> before the opposing team, your team wins and splits the total pot!
        </li>
        <li>
            You must contribute at least <b>once</b> to earn <b class="win-green">@Resources.Currency</b> if your team wins!
        </li>
    </ul>
</div>
<div id="colorWarsPartialView">
    @await Html.PartialAsync("_ColorWarsMainPartial", Model)
</div>