﻿@model WizardViewModel

<input type="hidden" id="secret-cavern" value="@(Model.CanSeeSecretCavern ? "true" : "false")" />
@if (Model.Wands.Contains(WizardWandColor.Gold))
{
    <div class="alert alert-success alert-elite-zone-coloring no-margin-bottom">
        <h5>
            The Young Wizard is offering you the chance to use his <b>gold wand</b>!
        </h5>
    </div>
    <div class="small-padding-top"></div>
}
else if (Model.HasBetterLuck)
{
    <div class="alert alert-success no-margin-bottom">
        <h5>
            Your <b>Grape Wizard Candy Card</b> gives you better luck with The Young Wizard!
        </h5>
    </div>
    <div class="small-padding-top"></div>
}
<div class="small-padding-top">
    If you're willing to let The Young Wizard practice casting an effect on you, <b>choose the wand</b> he should use.
</div>
<h5 id="wizard-wands" class="small-padding-top">
    Wands
</h5>
<div class="grid-container grid-container--fit">
    @foreach (WizardWandColor color in Model.Wands)
    {
        <div class="grid-container-no-padding grid-element text-center @(Model.CanSeeWizard ? "clickable grow" : "faded") @(color == WizardWandColor.Gold ? "gold-border" : "")" onclick="wizardWandSelected(this);" id="@color">
            <div>
                <img class="shadow" src="@Helper.GetImageUrl($"Wizard/{color}_Wand.png")" width="85" height="110">
                <div>
                    <h5>@color Wand</h5>
                </div>
            </div>
        </div>
    }
</div>
<form action="@Url.Action("CastEffect", "Wizard")" method="POST" class="large-padding-top" onsubmit="updateWizard(event, this)">
    @Html.AntiForgeryToken()
    <input type="hidden" name="selectedWandColor" id="selectedWandColor" />
    <button type="submit" class="btn btn-success @(Model.CanSeeWizard ? "" : "disabled")">Cast an effect!</button>
</form>
@if (Model.WizardHistories.Count > 0)
{
    <h5 class="padding-top small-padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#wizardHistories">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Recent Effects
        </a>
    </h5>
    <div id="wizardHistories" class="collapse padding-bottom">
        @foreach (WizardHistory wizardHistory in Model.WizardHistories)
        {
            <div class="gray-container">
                <div>
                    <b class="@(wizardHistory.Type == WizardType.None ? "" : (wizardHistory.Type == WizardType.Positive ? "win-green" : "lose-red"))">@wizardHistory.Type</b>
                    <small class="text-muted pull-right">@wizardHistory.CreatedDate.GetTimeSince()</small>
                </div>
                <div class="small-padding-top">
                    @Html.Raw(Helper.BoldNumbers(Helper.BoldTimes(Helper.BoldPoints(Helper.BoldQuotes(wizardHistory.Message)))))
                </div>
            </div>
            <div class="padding-top"></div>
        }
    </div>
}