﻿@model WizardViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Young Wizard</a></li>
    <li><a href="@Url.Action("Records", "Wizard")">Records</a></li>
</ul>
<p>
    <div class="gray-container">
        Every <b>3 hours</b> you can visit The Young Wizard. As he is an apprentice, his powers can vary wildly and have <b class="win-green">positive</b> or <b class="lose-red">negative</b> consequences.
    </div>
</p>
<div id="wizardPartialView">
    @await Html.PartialAsync("_WizardMainPartial", Model)
</div>