﻿@model WizardViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "Wizard")">Young Wizard</a></li>
    <li class="active"><a href="#">Records</a></li>
</ul>
<p>
    <div class="gray-container">
        The Young Wizard sometimes makes a mistake and some of your <b>@Resources.Currency on hand</b> vanishes. If that happens, you might qualify for the <b class="lose-red">biggest losses</b> of the past month.
    </div>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">Top 50 Losses of the Past Month</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>@Resources.Currency Lost</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WizardRecord wizardRecord in Model.WizardRecords)
                {
                    <tr>
                        <td data-title="Rank"><b class="@(wizardRecord.Rank == 1 ? "gold-color" : wizardRecord.Rank == 2 ? "silver-color" : wizardRecord.Rank == 3 ? "bronze-color" : "")">@Html.Raw(wizardRecord.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @wizardRecord.Rank</b></td>
                        <td data-title="Username"><a href='/User/@wizardRecord.Username'>@wizardRecord.Username</a></td>
                        <td data-title="@Resources.Currency Lost"><span class="lose-red">@Helper.GetFormattedPoints(wizardRecord.Amount)</span></td>
                        <td data-title="Date">@wizardRecord.CreatedDate.GetTimeSince()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.WizardRecords.Count == 0)
{
    <div class="alert alert-info behind-margin-top visible-xs">
        Nobody has lost any <b>@Resources.Currency</b> to The Young Wizard in the last <b>30 days</b>.
    </div>
}