﻿@model WizardViewModel

<div class="gray-container">
    You discovered a <b>Secret Cavern</b> beneath the Young Wizard!
</div>
<h5>The Four Guardians</h5>
<div>
    The Sorceress placed four Guardians to protect the second <b>Ancient Orb</b>. You must <b>defeat them all</b> to gain access to the orb!
</div>
<h5>Guardians Defeated: <b>@(Model.GuardiansDefeated)/4</b></h5>
<h5 class="small-padding-top">Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
<div class="scrolling-wrapper">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
        @foreach (Card card in Model.Deck)
        {
            <div class="scrolling-grid-element text-center clickable" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5 class="small-margin-bottom">@card.Name</h5>
                    </div>
                </div>
                <div class="push-down-class">
                    @if  (card.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<form class="large-padding-top" action="@Url.Action("ChallengeBeyondWorld", "Stadium")" method="POST" onsubmit="updateWizard(event, this);">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.Deck.Count == Helper.GetMaxDeckSize() && Model.Deck.All(x => x.Condition < ItemCondition.Unusable) ? "" : "disabled")"><b>Challenge Guardian #@(Model.GuardiansDefeated + 1)!</b></button>
</form>