﻿@if (!Model.Authenticated)
{
    <div class="bottom-banner animated slideInUp">
        <h5 class="no-margin-top inline margin-left margin-right">
            Ready for your first Stadium match?
        </h5>
        <form action="@Url.Action("Start", "Intro")" class="inline" method="POST" onsubmit="submitIntroForm(event, this);">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success hidden-xs"><h5 class="small-margin-top small-margin-bottom"><b>Choose Your Cards!</b></h5></button>
            <button type="submit" class="btn btn-sm btn-success visible-xs margin-left extra-small-margin-top"><b>Choose Your Cards!</b></button>
        </form>
    </div>
}
<div class="row">
    <nav class="col-sm-3 hidden-xs" id="helpScrollSpy">
        <ul id="sideHelpNav" class="nav nav-pills nav-stacked large-padding-top semi-bold">
            <li><a class="clickable" onclick="scrollToId('overview');">Overview</a></li>
            <li><a class="clickable" onclick="scrollToId('items');">Items</a></li>
            <li><a class="clickable" onclick="scrollToId('bag');">Bag</a></li>
            <li><a class="clickable" onclick="scrollToId('currency');">Currency</a></li>
            <li><a class="clickable" onclick="scrollToId('stadium');">Stadium</a></li>
            <li><a class="clickable" onclick="scrollToId('locations');">Locations</a></li>
            <li><a class="clickable" onclick="scrollToId('profile');">Profile</a></li>
            <li><a class="clickable" onclick="scrollToId('messages');">Messages</a></li>
            <li><a class="clickable" onclick="scrollToId('safety');">Safety</a></li>
            <li><a class="clickable" onclick="scrollToId('faq');">FAQ</a></li>
        </ul>
    </nav>
    <div class="col-sm-9">
        <div class="alert alert-info no-margin-bottom">
            If you're unsure about how to use @Resources.SiteName, you can read below or <a class="alert-link" href="/Contact">contact us</a> with your question.
        </div>
        <div id="overview" class="anchor-fix">
            <h3>Overview</h3>
            <div>
                Welcome to @Resources.SiteName! This Help Hub is here to provide you with general knowledge about some of the things you can do on @Resources.SiteName.
                @if (Model.Authenticated)
                {
                    <span>Once you've completed your first Stadium match, it's recommended to follow the <b>checklist</b> on your <a href="/">Feed</a> as it'll help guide you in the right direction.</span>
                }
                else
                {
                    <span>You can also <a href="/Contact">contact us</a> if you have any specific questions that aren't answered here.</span>
                }
            </div>
        </div>
        <div id="items" class="anchor-fix">
            <h3>Items</h3>
            <div>
                <div class="grid-element text-center center-block card-width">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.Enhancer.ImageUrl)" alt="@Model.Enhancer.Description" title="@Model.Enhancer.Description">
                        <div>
                            <h5>@Model.Enhancer.Name</h5>
                            <p><i><small>@Model.Enhancer.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.Enhancer.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.Enhancer.Tier}.png")" />
                        </div>
                        <div>
                            <small class="semi-bold">@Model.Enhancer.TotalUses Uses</small>
                        </div>
                        <div>
                            <small>
                                @Model.Enhancer.Category <span class="@Helper.GetItemConditionColor(Model.Card.Condition)">(@Model.Card.Condition)</span>
                            </small>
                        </div>
                        <div>
                            <small class="text-muted">~@Helper.GetFormattedPoints(Model.Enhancer.Points)</small>
                        </div>
                    </div>
                </div>
                <div class="padding-top">
                    Items (also known as cards) can be <b>bought</b> or <b>earned</b> and are stored in your <a class="clickable" onclick="scrollToId('bag');">bag</a>.
                    All items have a description, category, condition, and cost associated with them.
                </div>
                <h5>Description</h5>
                <ul>
                    <li>
                        This explains how the item can be used.
                    </li>
                </ul>
                <h5>Category</h5>
                <ul>
                    <li>
                        Categories group various items of the same type together. Each item has a category.
                        Items that can be used in the <a class="clickable" onclick="scrollToId('stadium');">Stadium</a> either have a <b>Deck</b> or <b>Enhancer</b> category.
                    </li>
                </ul>
                <h5>Condition</h5>
                <ul>
                    <li>
                        As an item ages, its condition will progessively get worse.
                        If it has an <span class="lose-red">Unusable</span> condition, it can no longer be used and its cost will be lower.
                        Fortunately, you can repair any item back to having a <span class="win-green">New</span> condition by going to a <a href="/Repair">Repair Shop</a> but the longer you wait, the more it will cost to repair it.
                    </li>
                </ul>
                <h5>Cost</h5>
                <ul>
                    <li>
                        This is an estimate of what the item might be worth.
                    </li>
                </ul>
                <h5>Additional Information</h5>
                <div>
                    Some items may also have a total number of uses, relic requirement, or theme associated with them.
                </div>
                <h5>Uses</h5>
                <ul>
                    <li>
                        Some items have a limited number of uses. Once an item has no more uses, it'll be removed from your bag. Most limited-use items can have their uses recharged at the <a href="/Repair?recharge=true">Repair Shop</a>.
                        Certain items such as @Resources.DeckCards have unlimited uses and they can be used indefinitely without worry of losing them.
                    </li>
                </ul>
                <h5>Relic Requirement</h5>
                <ul>
                    <li>
                        Some @Resources.DeckCards and Enhancers will have a Relic requirement (in this example, the @Model.Enhancer.Tier Relic: <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.Enhancer.Tier}.png")" />). Until you earn the specified Relic, the item will not behave as expected at the <a class="clickable" onclick="scrollToId('stadium');">Stadium</a>.
                    </li>
                </ul>
                <h5>Theme</h5>
                <ul>
                    <li>
                        Items with a Deck category, also known as @Resources.DeckCards, can have different themes. When given a new theme, it will change the appearance of that @Resources.DeckCard. If all the @Resources.DeckCards in your Deck have the same theme, you'll get an additional Theme Bonus at the <a class="clickable" onclick="scrollToId('stadium');">Stadium</a>.
                    </li>
                </ul>
                Make sure to read up on how an item can be used before you buy it.
            </div>
        </div>
        <div id="bag" class="anchor-fix">
            <h3>Bag</h3>
            <div>
                Your bag holds all of your items. As your bag can only hold a maximum number of items (which can be upgraded), if your bag is full, you must either sell your items, use them, or put them in your <a href="/Storage">Storage</a> to be able to get new items.
                Any items in your Storage can't be used at the <a class="clickable" onclick="scrollToId('stadium');">Stadium</a> or anywhere else until they are added back to your bag.
                <div style="clear: both;"></div>
                <h5>Your Deck</h5>
                <ul>
                    <li>
                        Your bag is responsible for setting your Deck. Your Deck can only consist of cards with a <b>Deck</b> category and must hold exactly <b>@Helper.GetMaxDeckSize() @Resources.DeckCards</b> to compete at the <a class="clickable" onclick="scrollToId('stadium');">Stadium</a>.
                        As well, none of the items in your Deck can have an <span class="lose-red">Unusable</span> condition.
                    </li>
                </ul>
                <div class="grid-element text-center center-block card-width">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.Card.ImageUrl)" alt="@Model.Card.Description" title="@Model.Card.Description">
                        <div>
                            <h5>@Model.Card.Name</h5>
                            <p><i><small>@Model.Card.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <small>
                                @Model.Card.Category <span class="@Helper.GetItemConditionColor(Model.Card.Condition)">(@Model.Card.Condition)</span>
                            </small>
                        </div>
                    </div>
                </div>
                <h5>Power Moves</h5>
                <ul>
                    <li>
                        Your bag is also responsible for choosing which <a class="clickable" onclick="scrollToId('stadium');">Power Moves</a> you'll take into a Stadium match. You are only allowed to have at most <b>8 Power Moves</b> (can be upgraded) in a Stadium match so you should choose wisely.
                    </li>
                </ul>
                <div class="grid-element text-center center-block card-width">
                    <div>
                        <img class="power-move-dimensions" src="@Helper.GetImageUrl(Model.PowerMove.ImageUrl)" alt="@Model.PowerMove.Description" title="@Model.PowerMove.Description">
                        <div>
                            <h5>@Model.PowerMove.Name</h5>
                            <p>
                                <i><small>@Model.PowerMove.Description</small></i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="padding-top">
                    If you are looking to clear up your bag, you can always put an item up for <a href="/Auction">auction</a>, <a href="/Trading">trade it</a>, or <a href="/Donations">donate it</a>.
                </div>
            </div>
        </div>
        <div id="currency" class="anchor-fix">
            <h3>Currency</h3>
            <div>
                <img class="margin-right" src="@Helper.GetImageUrl("/Locations/Lotto.png")" width="80" height="85" style="float: left;" />
                <b>@Resources.CurrencyFull</b> (also known as @Resources.Currency) is the form of currency in @Resources.SiteName. All items can be bought using @Resources.Currency.
                You can earn @Resources.Currency by selling items, visiting certain locations (<a href="/Fair">Fair</a>, <a href="/Wizard">The Young Wizard</a>, etc.), or even auctioning items for profit.
                Although you can only use your @Resources.Currency on hand to make purchases, you can also store your @Resources.Currency in the <a href="/Bank">Bank</a>.
               <div style="clear: both;"></div>
                <h5>Bank</h5>
                <ul>
                    <li>
                        The Bank lets you safely store @Resources.Currency and gain interest on it. It's recommended to leave most of your @Resources.Currency in the Bank and only keep on hand what you need. Any @Resources.Currency in the Bank is safely protected while your @Resources.Currency on hand can be <b>stolen</b>. 
                        As well, all @Resources.Currency on hand is publicly visible on your profile while @Resources.Currency you store in the Bank is hidden (unless you qualify for the <a href="/Rankings?wealthActive=true">Wealth Rankings</a>).
                    </li>
                </ul>
            </div>
        </div>
        <div id="stadium" class="anchor-fix">
            <h3>Stadium</h3>
            <div>
                The <a href="/Stadium">Stadium</a> is where you can challenge others (either CPUs or real users) with your Deck, Enhancers, and Power Moves.
                A Stadium match can be broken up into two parts: choosing moves and and the duel.
                <h5>1. Choosing Moves</h5>
                <div class="extra-extra-large-padding-left">
                    Before you can challenge someone at the Stadium, you need to set up your Deck. It can be chosen and rearranged in your <a class="clickable" onclick="scrollToId('bag');">bag</a>. Once you have <b>@Helper.GetMaxDeckSize() @Resources.DeckCards</b> in your Deck, you can start a Stadium match.
                </div>
                <ul>
                    <li>
                        <h5>Rounds</h5>
                        <ul>
                            <li>
                                <img class="margin-right" src="@Helper.GetImageUrl("/Help/5.png")" width="70" height="70" style="float: left;" />
                                A Stadium match is made up of a <b>best of @Helper.GetMaxDeckSize() rounds</b>. That means whenever you or your opponent has won the necessary rounds, the match ends.
                                Before each round, you can choose the next <b>@Resources.DeckCard</b> you'll play from your Deck but each @Resources.DeckCard can be played only once in a match. As well, you can optionally choose an <b>Enhancer</b> from your bag and a <b>Power Move</b> to accompany your @Resources.DeckCard. You <b>cannot</b> change your Deck during a Stadium match so make sure you've chosen the @Resources.DeckCards you want before you start a match.
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                        <h5>@Resources.DeckCards</h5>
                        <ul>
                            <li>
                                <img class="item-dimensions margin-right" src="@Helper.GetImageUrl("/Cards/10.png")" style="float: left;" />
                                You can play one @Resources.DeckCard per round at the Stadium. A higher @Resources.DeckCard leads to a higher Round Power with 100 being the highest possible value for a @Resources.DeckCard. @Resources.DeckCards are also colored either red, orange, yellow, green, blue, or purple where red @Resources.DeckCards are the least powerful and purple are the most powerful.
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                        <h5>Enhancers</h5>
                        <ul>
                            <li>
                                <img class="item-dimensions margin-right" src="@Helper.GetImageUrl("/Enhancers/Plus_5.png")" style="float: left;" />
                                These are special items that add a boost to your @Resources.DeckCard. Some Enhancers have <b>limited uses</b> (and need to be recharged or you'll lose them) while others may be <b>unlimited</b>.
                                The better the Enhancer, the more your @Resources.DeckCard will be improved. Although using them is optional, they are highly recommended.
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                        <h5>Power Moves</h5>
                        <ul>
                            <li>
                                <img class="margin-right" src="@Helper.GetImageUrl("/PowerMoves/FlowingPower.png")" width="75" height="75" style="float: left;" />
                                You can optionally choose to a use Power Move once per round at the Stadium. Once you use a Power Move, that specific one won't be available again for the rest of the match.
                                A Power Move can either affect you, your opponent, or both of you so it's important to play them wisely. You cannot buy new Power Moves with @Resources.Currency but you can unlock new ones.
                                As well, you can only take <b>8 Power Moves</b> (can be upgraded) with you in a Stadium match but you can choose which ones you want to take from your <a href="/Items?showPowerMoves=true">bag</a>.
                                It may also be worth learning about <a class="clickable" onclick="scrollToId('power-move-order');">Power Move order</a> in a Stadium match.
                            </li>
                        </ul>
                         <h5>Stadium Bonuses</h5>
                        <ul>
                            <li>
                                You can gain temporary <span class="win-green">bonuses</span> or <span class="lose-red">curses</span> at the Stadium by eating a Candy Card, having all the same colored @Resources.DeckCards, or even visiting certain locations. These will temporarily change your Round Power in a Stadium match. Some of these bonuses like Candy Card bonuses will <b>only</b> have an effect during CPU matches.
                            </li>
                        </ul>
                    </li>
                </ul>
                <h5>2. Duel</h5>
                <ul>
                    <li>
                        Once you've chosen your @Resources.DeckCard, Enhancer, and Power Move, you enter the duel phase of the round. A Stadium match ends when someone wins a <b>best of @Helper.GetMaxDeckSize()</b> rounds.
                        If you have a higher <b>Round Power</b> than your opponent, you <b class="win-green">win</b> the round. Your Round Power is determined by the strength of the played @Resources.DeckCards, Enhancers, Power Moves, and additional bonuses for that round.
                        In the event of a tie against another user, the round will be a draw. If after @Helper.GetMaxDeckSize() rounds, the match is tied, there will be a Sudden Death round.
                        <h5>Sudden Death</h5>
                        <ul>
                            <li>
                                <img class="margin-right"  src="@Helper.GetImageUrl("Stadium/Draw.png")" width="35" height="35" style="float: left;" />
                                In Sudden Death, the first to win a round will win the match. Unlike a normal round, you can use already played @Resources.DeckCards in your Deck and most Power Moves will be available again.
                            </li>
                        </ul>
                        <div style="clear: both;"></div>
                    </li>
                </ul>
                <hr />
                <h5>Stadium Match Types</h5>
                There are different types of Stadium matches that you can play:
                <ul>
                    <li>
                        <b>CPU Challengers</b>: These are challenges against CPUs. As you defeat more CPUs and increase your level, the rewards will become greater but the opponents will become tougher.
                        <ul>
                            <li>
                                <b>Checkpoint CPUs</b>: Every 5 levels, you'll encounter a <span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Checkpoint CPU when playing against regular CPU Challengers. You'll need to complete certain tasks to be able to challenge them to a match but you'll earn a Relic, a new Power Move, and bonus @Resources.Currency if you win.
                            </li>
                            <li>
                                <b>Relics</b>: There are <b>7 Relics</b> to be earned. You'll get one each time you win against a <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Checkpoint CPU</b> at the Stadium. If you earn them all, you'll be able to enter the <a href="/TrainingCenter/Plateau">Ancient Plateau</a>. As well, certain @Resources.DeckCards and Enhancers have Relic requirements. If you use an item without having earned its necessary Relic, it will cause unwanted effects at the Stadium.
                            </li>
                        </ul>
                        You can also sometimes encounter random Stadium Challenges.
                        <ul>
                            <li>
                                <b>Stadium Challenges</b>: These matches will have a limited duration to accept the challenge. Once accepted, there will be special conditions imposed on the match compared to normal matches and you will not have a chance to rematch if you lose.
                            </li>
                        </ul>
                    </li>
                    <li class="small-padding-top">
                        <b>User Challengers</b>: These matches are against real users.
                        Whether you win or lose one of these matches will affect your Global Ranking which appears on your profile and determines the level of competition you will face against users in future matches.
                        Unlike CPU Challengers, user matches require you to put down a chosen amount of @Resources.Currency and you'll either double-or-nothing your @Resources.Currency based on whether you win or lose the match.
                        <ul>
                            <li>
                                <b>Elite Zone</b>: If you have a good enough Global Ranking, you'll qualify for the Elite Zone and be matched with the strongest @Resources.SiteName users at the Stadium.
                            </li>
                            <li>
                                <b>Friendly Match</b>: You can also challenge a user to a Stadium match from their profile. As this allows you to choose who you are challenging, winning or losing one of these matches will not earn you any @Resources.Currency or affect your Global Ranking.
                            </li>
                            <li>
                                <b>Tourney</b>: You can create or join a <a href="/Tourney">tourney</a>. Tourneys have certain conditions such best of 1, 3, or 5 matches and may require @Resources.Currency entry costs. Tourneys do not affect your Global Ranking.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div id="locations" class="anchor-fix">
            <h3 class="small-margin-bottom">Locations</h3>
            <img class="center-block" src="@Helper.GetImageUrl("Locations/Store.png")" width="93" height="90" />
            <div class="padding-top">
                These are many places you can visit to buy items, earn @Resources.Currency, and more. Most locations can be found by visiting the <a href="/Plaza">Plaza</a>.
                Although there are <b>many</b> locations, some of them are outlined below.
                <h5>Attention Hall</h5>
                <ul>
                    <li>
                        You can boast about any items, accomplishments, or other general achievements you've earned.
                        When you make a post, other users can comment and vote on it so it's best to keep your posts interesting.
                    </li>
                </ul>
                <h5>Auction House</h5>
                <ul>
                    <li>
                        You can put your items up for auction or place bids on existing auctions.
                        Once an auction ends, the highest bid is paid to the creator of the auction and the bidder receives the item.
                    </li>
                </ul>
                <h5>Crafting</h5>
                <ul>
                    <li>
                        If you have <b>Crafting Card</b> items, you can use them to craft various @Resources.DeckCards and Enhancers.
                    </li>
                </ul>
                <h5>@Resources.SiteName Club</h5>
                <ul>
                    <li>
                        An exclusive club that offers perks to its members including free monthly items, daily Stadium bonuses, access to the Incubator, and a special badge on your profile.
                    </li>
                </ul>
                <h5>General Store</h5>
                <ul>
                    <li>
                        You can buy all sorts of items at the General Store, and if you're looking for new items, the inventory refreshes every <b>@Helper.GetStoreRefreshMinutes() minutes</b>.
                        As well, the General Store allows you to bargain the cost of any item in its inventory.
                    </li>
                </ul>
                <h5>
                    <a class="collapsed clickable" data-toggle="collapse" data-target="#expandedLocations">
                        <span class="if-collapsed">
                            <span class="glyphicon glyphicon-plus"></span>
                        </span>
                        <span class="if-not-collapsed">
                            <span class="glyphicon glyphicon-minus"></span>
                        </span>
                        More Locations
                    </a>
                </h5>
                <div id="expandedLocations" class="collapse">
                    <h5>Groups</h5>
                    <ul>
                        <li>
                            You can join a group or create your own. As a creator of a group, there is a start up fee, but you'll gain @Resources.Currency each time a new member joins your group.
                            As a member of a group, you'll be part of a group chat with all of the other members and you'll be able to participate in the group daily prize and use the Group Power.
                            <h5>Primary Group</h5>
                            <ul>
                                <li>
                                    If you are a member of more than one group, you can choose which group you want to be your Primary Group. You can only be eligible for the Group Daily Prize and use the Group Power of your Primary Group.
                                </li>
                            </ul>
                            <h5>Group Daily Prize</h5>
                            <ul>
                                <li>
                                    A daily prize that a randomly chosen group member has 24 hours to claim. The more members in the group, the better the prize.
                                </li>
                            </ul>
                            <h5>Group Power</h5>
                            <ul>
                                <li>
                                    A special benefit that you get for being a member of a group. The Group Power is chosen when the group is created.
                                </li>
                            </ul>
                            <h5>Group Leader</h5>
                            <ul>
                                <li>
                                    As the Founder of a group, you can make any of your group members a Group Leader. A Group Leader can edit the whiteboard, ban members from the group, and earn @Resources.Currency from the Group Daily Prize.
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <h5>Market Stalls</h5>
                    <ul>
                        <li>
                            You can buy items at other users' Market Stalls or create your own. When you create your own Market Stall, you can add items, choose their costs, add discounts, and earn @Resources.Currency whenever another user buys your item.
                            You can only have <b>10 items</b> to start in your Market Stall but this amount can be upgraded.
                        </li>
                    </ul>
                    <h5>Stock Market</h5>
                    <ul>
                        <li>
                            You can invest in @Resources.SiteName stocks to build your portfolio and collect dividends. As stock prices fluctuate, it's recommended to wait to sell your shares to earn more @Resources.Currency.
                        </li>
                    </ul>
                    <h5>Trading Square</h5>
                    <ul>
                        <li>
                            Put your items up for trade or find items you want and leave a desirable offer. When the creator of a trade likes an offer, they can accept it, and the items will be automatically transferred between the users.
                        </li>
                    </ul>
                    <h5>Training Center</h5>
                    <ul>
                        <li>
                            Each time you win at the Stadium, you'll earn a certain amount of Training Tokens. You can use them at the Training Center to upgrade your @Resources.DeckCards.
                        </li>
                    </ul>
                    <h5>Special Locations</h5>
                    <ul>
                        <li>
                            Sometimes <b>limited time locations</b> will show up at the Plaza. Make sure to check them out before they go away! If you happen to miss them, they'll usually come back again at some point in the future.
                        </li>
                    </ul>
                    <div class="small-padding-top">
                        These are just a few of the locations. It's best to explore @Resources.SiteName to visit them all!
                    </div>
               </div>
            </div>
        </div>
        <div id="profile" class="anchor-fix">
            <h3>Profile</h3>
            <div>
                <img class="accomplishment-dimensions margin-right"  src="@Helper.GetImageUrl("Accomplishments/Purple-Trophy.png")" style="float: left;" />
                Your <a href="/Profile">profile</a> is available for anyone to see. It shows your current @Resources.Currency on hand, your join date, and some of your Stadium statistics including your Global Ranking.
                You can also display your gender, location, and bio on your profile by updating it in your <a href="/Preferences">Preferences</a>. Your profile also allows other users to message you and shows off information including your Companions, partnership, and accomplishments.
                <div style="clear: both;"></div>
                <h5>Accomplishments</h5>
                <ul>
                    <li>
                        Accomplishments can be earned by doing various activities and tasks. The difficulty of the accomplishment determines its color with yellow being the easiest to earn and then green, blue, and purple being the hardest.
                    </li>
                </ul>
                <h5>Showroom</h5>
                <ul>
                    <li>
                        You can also unlock a Showroom for your profile and it can be used to display some of your items to other users. Any of your displayed items will not have their conditions worsen as long as they remain in your Showroom.
                    </li>
                </ul>
                <h5>Partnership</h5>
                <ul>
                    <li>
                        Once you unlock partnerships, you can request to form a partnership with another user on their profile if they've also unlocked partnerships. If they accept, you'll earn @Resources.Currency whenever they win a Stadium match against another user. You can only have one partnership at any time.
                    </li>
                </ul>
                <h5>Companions</h5>
                <ul>
                    <li>
                        <img class="margin-right"  src="@Helper.GetImageUrl("Companions/Unicorn/Four.png")" width="80" height="80" style="float: left;" />
                        You can have up to 6 Companions (or 10 with an upgrade) on your profile. If you interact with any of your Companions, they'll be happier, increase in level, and will bring you @Resources.Currency rewards.
                        There are some rarer Companions that you will need to discover to unlock. As well, if you no longer want your Companion, you can put it up for adoption at <a href="/TopAdoptions">Top Adoptions</a>.
                    </li>
                </ul>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div id="messages" class="anchor-fix">
            <h3>Messages</h3>
            <div>
                You can visit your <a href="/Messages">Messages</a> to have conversations with other users. If you're on someone's profile, send them a message and you'll start a conversation with them.
                You can also disable receiving messages in your <a href="/Preferences">Preferences</a>. Although messages are from real users, the Courier may also send you messages.
                <h5>Courier</h5>
                <ul>
                    <li>
                        The Courier will sometimes send you special messages or promo codes that you can <a href="/PromoCodes">redeem</a>. 
                        Promo codes often contain free @Resources.Currency, items, or special benefits.
                    </li>
                </ul>
            </div>
        </div>
        <div id="safety" class="anchor-fix">
            <h3>Safety</h3>
            <div>
                <img class="margin-right"  src="@Helper.GetImageUrl("Help/Safety.png")" width="85" height="75" style="float: left;" />
                Your safety on @Resources.SiteName is very important to us. If you ever think that a user is violating the <a href="/Terms">Terms of Service</a>, you can <b>report</b> them by using the report feature on their profile. 
                As well, you are able to <b>block</b> any user in your <a href="/Preferences#blockUsers">Preferences</a>. This will ensure that the blocked user can no longer visit your profile or message you. 
                <div style="clear: both;"></div>
                <h5>Preferences</h5>
                <ul>
                    <li>
                        There are a lot of safety options for you to choose from in your Preferences including updating your email or password, blocking users, or disabling messages.
                    </li>
                </ul>
                <h5>Groups</h5>
                <ul>
                    <li>
                        As the founder or leader of a group, you can ban members from your group. Banned members can no longer access your group. As well, you can always leave a group or report an offensive group.
                    </li>
                </ul>
                <h5>Messages</h5>
                <ul>
                    <li>
                        You can delete any conversation or block a user so they can no longer message you. You can also disable messages in your Preferences so that no one can message you.
                    </li>
                </ul>
                <h5>Helpers</h5>
                <ul>
                    <li>
                        Helpers are @Resources.SiteName users who are given special powers and privileges to help keep the community safe. You can recognize a Helper by the badge on their profile. 
                        @if (Model.User?.Role < UserRole.Helper)
                        {
                            <span>
                                If you're interested in becoming a Helper, you can apply to become one <a href="/Jobs/Helpers">here</a>.
                            </span>
                        }
                    </li>
                </ul>
                <h5>Staff</h5>
                <ul>
                    <li>
                        Staff are employed members of the @Resources.SiteName Team who ensure the safety of the community. You can recognize a Staff member by the badge on their profile.
                    </li>
                </ul>
            </div>
            <div id="faq" class="anchor-fix">
                <h3>FAQ</h3>
                <div>
                    Here are some frequently asked questions and their answers. This list is constantly being updated as new questions are being asked. You can submit a question by <a href="/Contact">contacting us</a>!
                </div>
                <h5><b>How many @Resources.DeckCards are there and what do the colors mean?</b></h5>
                <div>
                    There are currently 100 @Resources.DeckCards (1-100). Colors are used to indicate the power of a @Resources.DeckCard with red being the least powerful @Resources.DeckCards (1-17), then orange (18-34), yellow (35-51), green (52-68), blue (69-85), and finally purple being the most powerful (86-100). If all the cards in your Deck are the same color, you'll gain an additional Color Bonus at the Stadium.
                </div>
                <h5><b>What's the difference between an unlimited-use and limited-use Enhancer?</b></h5>
                <div>
                    Limited-use Enhancers typically only have 5 uses. This means that once you've played that Enhancer 5 times at the Stadium, it will disappear from your bag. Fortunately, you can recharge any limited-use Enhancer at the <a href="/Repair?recharge=true">Repair Shop</a> so that it gets back all its uses. Unlimited-use Enhancers can be used indefinitely at the Stadium without needing to recharge them.
                </div>
                <h5><b>What happened to my @Resources.DeckCard at the Stadium once I played it? I thought it was unlimited?</b></h5>
                <div>
                    @Resources.DeckCards have unlimited uses but you can only play each card from your Deck once per Stadium match. Don't worry, it won't disappear from your bag and you can play it again during your next Stadium match.
                </div>
                <h5><b>How do I set my Deck?</b></h5>
                <div>
                    You can set your Deck by visiting your <a href="/Items">bag</a>. To enter the Stadium, your Deck must have @Helper.GetMaxDeckSize() @Resources.DeckCards (a @Resources.DeckCard is any item with a Deck category).
                </div>
                <h5><b>What are limited time locations?</b></h5>
                <div>
                    Limited time locations sometimes show up when you're visiting the <a href="/Plaza">Plaza</a>. They are special locations that are only around for a small amount of time so you should visit them before they disappear. If you happen to miss one, all limited time locations eventually come back.
                </div>
                <h5><b>Who exactly is the Courier?</b></h5>
                <div>
                    The Courier will sometimes send you messages with promo codes. These codes may include free @Resources.Currency, items, or special perks. The Courier may also send you messages about special events or if you unlock something new!
                </div>
                <h5><b>What's the point of my Global Ranking?</b></h5>
                <div>
                    Whenever you play matches against others at the Stadium, your Global Ranking may change. A lower Global Ranking means a stronger user. It is used as a way to know the strength of another user, to see how you rank against others, and to determine if you qualify for the Elite Zone. The Elite Zone is reserved for the top 25% of all users and offers you stronger matches at the Stadium.
                </div>
                <h5><b>What are accomplishments and how are they used?</b></h5>
                <div>
                    You can earn accomplishments by completing tasks or exploring @Resources.SiteName. Whenever you earn a new accomplishment, it will appear on your profile. Anyone can see the accomplishments you've earned and you can see anyone else's accomplishments on their profile. Accomplishments are assigned colors based on their difficulty with yellow being the easiest to earn and purple being the most difficult. You also earn points each time you earn an accomplishment and they can be spent at the Rewards Store to get special perks.
                </div>
                <h5><b>In what order is my Round Power calculated at the Stadium?</b></h5>
                <div>
                    Your Round Power is calculated by taking your @Resources.DeckCard's value then adding your Enhancer's value. Power Moves are then applied and finally all remaining bonuses (Color Bonus, Poison Curse, etc.) are all added at once.
                </div>
                <h5 id="power-move-order"><b>Which Power Moves happen first in a Stadium match?</b></h5>
                <div>
                    In most cases, the order the Power Moves are executed has no effect on the outcome of match. <b>Power Stop</b> is always used first and then <b>Mirror Mirror</b> followed by <b>Deck Swap</b>, <b>Enhancer Swap</b>, and then Power Moves that modify Enhancers or @Resources.DeckCards. The last Power Moves executed are always <b>Self-Destruct</b> and Power Moves that affect final Round Power (<b>Lady Luck</b>, etc.). While most of the time, the order should not matter, there are some circumstances in which considering this order might be important.
                </div>
                <h5><b>Do Power Moves stack at the Stadium?</b></h5>
                <div>
                    Yes, Power Moves will stack on top of each other. For example, if you and your opponent both play a <b>Doubled Enhancers</b> Power Move, this will now 4x both yours and your opponent's played Enhancer. Similarly, if you both play an <b>Enhancer Swap</b> Power Move, they will cancel each other out.
                </div>
                <h5><b>I rank in the top 25% of users at the Stadium so why don't I qualify for the Elite Zone?</b></h5>
                <div>
                    To qualify for the Elite Zone, you need to rank in the top 25% of users at the Stadium and have played at least <b>5 matches</b> against other users.
                </div>
                <h5><b>What's the difference between an Art Card and a Custom Card? What's the point of either?</b></h5>
                <div>
                    Art Cards are official cards released by @Resources.SiteName that can be displayed in your <a href="/Profile/Showroom">Showroom</a> once you unlock it. Some of these Art Cards can be tough to earn and sell for a lot of @Resources.Currency. They serve no purpose aside from being collectibles you can show off. Custom Cards are Art Cards made by users at the <a href="/ArtFactory">Art Factory</a>. They are not official but can also be sold and displayed in your Showroom like Art Cards.
                </div>
                <h5><b>How long does it take for an item's condition to worsen?</b></h5>
                <div>
                    An item will lose its <span class="@Helper.GetItemConditionColor(ItemCondition.New)">New</span> condition after <b>30 days</b>, its <span class="@Helper.GetItemConditionColor(ItemCondition.Good)">Good</span> condition after <b>60 days</b>,
                    and its <span class="@Helper.GetItemConditionColor(ItemCondition.Poor)">Poor</span> condition after <b>120 days</b>. Once it has an <span class="@Helper.GetItemConditionColor(ItemCondition.Unusable)">Unusable</span> condition, it can't be used until it's repaired.
                </div>
                <h5><b>What are Sponsor Coins?</b></h5>
                <div>
                    You can buy Sponsor Coins at the <a href="/SponsorSociety">Sponsor Society</a> and help support @Resources.SiteName's monthly costs. Sponsor Coins allow you to get exclusive perks including new themes and locations. Payment transactions are secure and powered by <a href="https://www.stripe.com">Stripe</a> and can also be payed with using <a href="https://www.paypal.com">PayPal</a>. If you have any questions about purchasing Sponsor Coins, you can <a href="/Contact">contact us</a>!
                </div>
            </div>
        </div>
    </div>
</div>