﻿@model FairViewModel

<div class="gray-container">
    Welcome to the @Resources.SiteName Fair! You can visit any of the booths below and play games to earn <b class="win-green">rewards</b>!
</div>
@foreach(var location in Model.Locations)
{
    <h4 class="padding-top">
        <b class="label label-@(location.Key == LocationCategory.Popular ? "primary" : location.Key == LocationCategory.NoLimit ? "purple" : "more") padding-left padding-right padding-top padding-bottom tabbed-border-radius shadow clickable">
            <span class="shadow">
                <span class="fas fa-@(location.Key == LocationCategory.Popular ? "dice" : location.Key == LocationCategory.NoLimit ? "dice-two" : "dice-one") gold-color extra-extra-large-behind-margin-top"></span>
                @location.Key.GetDisplayName() (@Helper.FormatNumber(location.Count()))
            </span>
        </b>
    </h4>
    <div class="scrolling-wrapper padding-top">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div class="scrolling-container large-behind-margin-top" style="padding-bottom: 0px;">
            @foreach (Location fairLocation in location)
            {
                bool hasMatchingTag = !string.IsNullOrEmpty(Model.Tag) && fairLocation.Tags.Any(x => x == Model.Tag);
                <a class="scrolling-grid-location-element text-center clickable link-remove-decoration fair-location @(!string.IsNullOrEmpty(Model.Tag) && (fairLocation.Name == Model.Tag || fairLocation.Tags.Any(x => x == Model.Tag)) ? "fade-out-highlight" : "")" href="@fairLocation.Url@(hasMatchingTag ? $"?tag={Model.Tag}" : "")">
                    <div>
                        <img id="@fairLocation.Name.Split(' ').First()" class="grow grow-mobile img-rounded @(fairLocation.IsFaded ? "faded" : "")" src="@fairLocation.ImageUrl" width="@(85 * Math.Min(1.2, fairLocation.WidthToHeightRatio))" height="85" alt="@fairLocation.Description" title="@fairLocation.Description" />
                        <h5 class="large-padding-top">
                           <b>@fairLocation.Name</b>
                           <span class="extra-small-margin-left" data-toggle="tooltip" data-placement="top" title="@(fairLocation.IsFavorited ? "Unfavorite" : "Favorite")"><span class="clickable orange-color @(fairLocation.IsFavorited ? "fas fa-star" : "far fa-star")" onclick="updateFairLocation(event, '@fairLocation.LocationId'); event.stopPropagation();"></span></span>
                        </h5>
                        <h5 class="text-muted dotted-top-border"><small><i class="smaller-font">@fairLocation.Description</i></small></h5>
                    </div>
                    <div>
                        @if (hasMatchingTag)
                        {
                            <p><span class="label label-default">@Model.Tag</span></p>
                        }
                    </div>
                </a>
            }
        </div>
    </div>
}
@if (Model.ShowFairTutorial)
{
    @await Html.PartialAsync("_FairTutorialPartial", Model)
}