﻿@model FairViewModel

<div class="modal fade" id="modal-fair-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">The Fair</h4>
            </div>
            <div class="modal-body text-center">
                <img class="large-padding-bottom animated fadeInUp" src="@Helper.GetImageUrl("Locations/CrystalBall.png")" width="80" height="110">
                <div class="primary-container">
                    <h4>Visiting the Fair</h4>
                    <h5>
                        Play games to earn <b class="win-green">@Resources.Currency</b> and improve your Deck!
                        Some booths can only be visited <b>every few hours</b> so make sure to come back!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal" onclick="$('#Crystal').addClass('animated tada');"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>