﻿@model PhantomDoorViewModel

<div class="gray-container">
    You keep walking but sense you are nearing the end of your journey. A large door stands before you with two circular slots bearing the shapes of water and shadow on it.
</div>
<h5>Needed Relics (@(Model.Relics.Count(x => x.Level == 25 || x.Level == 30))/2)</h5>
<div class="grid-container grid-container--fit">
    @foreach (Relic relic in Model.Relics.FindAll(x => x.Level == 25 || x.Level == 30))
    {
        <div id="@relic.Level" class="grid-container-no-padding grid-element text-center @(relic.Earned ? "" : "faded")">
            <div>
                <img class="relic-dimensions" src="@Helper.GetImageUrl(relic.ImageUrl)">
                <div>
                    <h5>@relic.Name</h5>
                    <h6 class="text-muted">Level @relic.Level</h6>
                </div>
            </div>
        </div>
    }
</div>
<form class="large-padding-top" action="@Url.Action("OpenFourthDoor", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary @(Model.CanOpenDoor ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Open the Door!</h5></button>
</form>