﻿@model PhantomDoorViewModel

<div class="gray-container">
    You encounter the <b>Spirit Sisters</b>, Evena and Oddna, standing in your way. You'll have to defeat them <b>both</b> to keep moving forward.
</div>
<h5>The Spirit Sisters (@Helper.FormatNumber(Model.SpiritSisters.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach  (SpiritSister spiritSister in Model.SpiritSisters)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="@(spiritSister.HasDefeated ? "faded" : "")" width="95" height="130" src="@Helper.GetImageUrl(spiritSister.ImageUrl)" alt="@spiritSister.Description" title="@spiritSister.Description">
                <div>
                    <h5>@spiritSister.Name</h5>
                    <p>
                        <i><small>@spiritSister.Description</small></i>
                    </p>
                </div>
            </div>
            @if (spiritSister.HasDefeated)
            {
                <div class="small-padding-top">
                    <span class="label label-success">Defeated</span>
                </div>
            }
            else
            {
                <div class="small-padding-top">
                    <form action="@Url.Action(spiritSister.ChallengeUrl, "Stadium")" method="POST" onsubmit="updatePhantomDoor(event, this)">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary btn-xs @(spiritSister.CanChallenge ? "" : "disabled")"><b>Challenge</b></button>
                    </form>
                </div>
            }
        </div>
    }
</div>
@if (Model.SpiritSisters.All(x => x.HasDefeated))
{
    <div class="padding-top"></div>
    <div class="alert alert-success alert-success-gradient-coloring no-margin-bottom">
        <h5>Congratulations! You defeated both of the Spirit Sisters and can continue moving forward!</h5>
        <form class="small-padding-top" action="@Url.Action("DefeatSpiritSisters", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success"><h5 class="small-margin-top small-margin-bottom">Continue Forward!</h5></button>
        </form>
    </div>
}