﻿@model PhantomDoorViewModel

<div class="gray-container">
    You reach a dark room. In order to challenge the <b>Phantom Boss</b>, two accomplishments must be brought. One showing you defeated the <b>The Right-Side Up Guard</b>, the other that you have reached <b>Floor 5</b> of the Tower.
</div>
<h5>Accomplishments (@Model.Accomplishments.Count/2)</h5>
<div class="grid-container grid-container--fit">
    @foreach (Accomplishment accomplishment in Model.Accomplishments)
    {
        <div id="accomplishment-@((int)accomplishment.Id)" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="accomplishment-dimensions" src="@Helper.GetImageUrl(accomplishment.ImageUrl)" alt="@accomplishment.Description" title="@accomplishment.Description">
                <div>
                    <h5>@accomplishment.Name</h5>
                    <p><i><small>@accomplishment.Description</small></i></p>
                </div>
            </div>
            <div>
                <b><small class="no-margin-top no-margin-bottom text-muted">@Math.Round(accomplishment.PercentOwned, 1)% Earned</small></b>
            </div>
            <div>
                <b><small class="text-muted" data-toggle="tooltip" data-placement="top" title="Earned @accomplishment.ReceivedDate.GetTimeSince()">@accomplishment.Category</small></b>
            </div>
        </div>
    }
</div>
@if (Model.Accomplishments.Count == 0)
{
    <div class="alert alert-info no-margin-bottom">
        You haven't earned either of these 2 accomplishments yet.
    </div>
}
<form class="large-padding-top" action="@Url.Action("ChallengePhantomBoss", "Stadium")" method="POST" onsubmit="updatePhantomDoor(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary @(Model.CanOpenDoor ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Summon Phantom Boss!</h5></button>
</form>