﻿@model PhantomDoorViewModel

<div class="gray-container">
    You enter a dark room and encounter the <b>ethereal spirit</b> from before. It stares at you and begins to speak.
</div>
<h5>The Spirit's Poem</h5>
<div class="alert alert-info alert-info-coloring-gradient">
    <div class="padding-top"></div>
    <div class="padding-left left-border-blue">
        <p>
            <i>
                <b>ROY BORG</b> was my name before I was trapped
            </i>
        </p>
        <p>
            <i>
                And only spelling my name can turn me back
            </i>
        </p>
        <p>
            <i>
                If you wish to move on, that'll do the trick
            </i>
        </p>
        <p>
            <i>
                So speak with <b>colors</b> and make it quick!
            </i>
        </p>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.SpeltWord))
{
    <h5 class="inline">Word: <b>@Model.SpeltWord</b></h5>
    <form class="inline" action="@Url.Action("ResetSpeltWord", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this, false);">
        <button type="submit" class="btn btn-danger btn-xs small-margin-left small-margin-bottom"><b>Reset</b></button>
        @Html.AntiForgeryToken()
    </form>
}
@if (Model.SpeltWord == "ROYBORG")
{
    <form class="padding-top" action="@Url.Action("SubmitSpeltWord", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this);">
        <button type="submit" class="btn btn-success"><b>Submit Word</b></button>
        @Html.AntiForgeryToken()
    </form>
}
else
{
    <h5>@Resources.DeckCards (@Helper.FormatNumber(Model.Cards.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Card card in Model.Cards)
        {
            <div id="@card.SelectionId" class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5>@card.Name</h5>
                        <p><i><small>@card.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (card.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(card.GetAgeInHours()) hour@(card.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @card.Category <span class="@Helper.GetItemConditionColor(card.Condition)">(@card.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(card.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("GiveCard", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this, false);">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@card.SelectionId" />
                            <button type="submit" class="btn btn-primary btn-xs">Show Card</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Cards.Count == 0)
    {
        <div class="alert alert-info">
            You have no @Resources.DeckCards to choose from. @Resources.DeckCards that have an Unusable condition cannot be used.
        </div>
    }
}