﻿@model PhantomDoorViewModel

<div class="gray-container">
    You come across a screen with a <b class="lose-red">red button</b>. There is text engraved below it.
</div>
<h5>The Button</h5>
<div class="text-center">
    <img class="clickable @(Model.CanOpenDoor ? "grow" : "faded") animated tada" src="@Helper.GetImageUrl("PhantomDoor/RedButton.png")" width="125" height="125" onclick="pressPhantomRedButton();" />
</div>
<div class="large-padding-top"></div>
<div class="alert alert-info alert-info-coloring-gradient no-margin-bottom">
    <div class="padding-top"></div>
    <div class="padding-left left-border-blue">
        <p>
            <i>
                When the minute hits <b>thirty</b>, this button may be pressed
            </i>
        </p>
        <p>
            <i>
                And then you'll approach your final test
            </i>
        </p>
        <p>
            <i>
                Have with you an <b>eternal card</b> you can make by crafting
            </i>
        </p>
        <p>
            <i>
                <b>3 pink</b>, <b>on the hour</b>, there's no time for relaxing!
            </i>
        </p>
    </div>
</div>
@if (Model.Item != null)
{
    <h5>Eternal Jewel</h5>
    <div class="grid-element text-center card-width">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl(Model.Item.ImageUrl)" alt="@Model.Item.Description" title="@Model.Item.Description">
            <div>
                <h5>@Model.Item.Name</h5>
                <p><i><small>@Model.Item.Description</small></i></p>
            </div>
        </div>
        <div>
            <div>
                <small>
                    @Model.Item.Category <span class="@Helper.GetItemConditionColor(Model.Item.Condition)">(@Model.Item.Condition)</span>
                </small>
            </div>
        </div>
    </div>
}
