﻿@model PhantomDoorViewModel

<div class="gray-container">
    A <b>whispy spirit</b> flies past you. It whispers to you, "Please defeat the <b>Phantom Boss</b> and save the rest of us! The Phantom Boss has trapped us all behind this door!"
</div>
<h5>Needed Relics (@(Model.Relics[6].Earned ? "1" : "0")/1)</h5>
<div class="grid-container grid-container--fit">
    <div id="@Model.Relics[6].Level" class="grid-container-no-padding grid-element text-center @(Model.Relics[6].Earned ? "" : "faded")">
        <div>
            <img class="relic-dimensions" src="@Helper.GetImageUrl(Model.Relics[6].ImageUrl)">
            <div>
                <h5>@Model.Relics[6].Name</h5>
                <h6 class="text-muted">Level @Model.Relics[6].Level</h6>
            </div>
        </div>
    </div>
</div>
<form class="large-padding-top" action="@Url.Action("OpenFifthDoor", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary @(Model.CanOpenDoor ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Open the Door!</h5></button>
</form>