﻿@model PhantomDoorViewModel

<div class="container container-pyro">
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
</div>
<div class="alert alert-success alert-success-coloring-gradient no-margin-bottom">
    <h5>
        Congratulations! You defeated the <b>Phantom Boss</b> and freed all the spirits! You can now take the Boss' <b>treasures</b> from the Treasure Room. But be warned, once you destroy the Phantom Door, you <b>cannot</b> return.
    </h5>
</div>
<h5>
    Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.Id" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("TakeItem", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this, false);">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs">Take Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info no-margin-bottom">
        There are no more items left in the Treasure Room. All that is left is to forever <b>destroy</b> the Phantom Door so no more spirits can be trapped here.
    </div>
}
<form class="large-padding-top" action="@Url.Action("DestroyDoor", "PhantomDoor")" method="POST" onsubmit="promptUpdatePhantomDoor(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"><h5 class="small-margin-top small-margin-bottom">Destroy the Door!</h5></button>
</form>