﻿@model PhantomDoorViewModel

<div class="gray-container">
    The <b>ethereal spirit</b> slowly dissolves away. Before disappearing, it whispers, "You <b>saved me</b> from being a spirit! But you must keep moving forward, there are <b>more</b> to save!"
</div>
<h5>Needed Relics (@(Model.Relics[3].Earned ? "1" : "0")/1)</h5>
<div class="grid-container grid-container--fit">
    <div id="@Model.Relics[3].Level" class="grid-container-no-padding grid-element text-center @(Model.Relics[3].Earned ? "" : "faded")">
        <div>
            <img class="relic-dimensions" src="@Helper.GetImageUrl(Model.Relics[3].ImageUrl)">
            <div>
                <h5>@Model.Relics[3].Name</h5>
                <h6 class="text-muted">Level @Model.Relics[3].Level</h6>
            </div>
        </div>
    </div>
</div>
<form class="large-padding-top" action="@Url.Action("OpenThirdDoor", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary @(Model.CanOpenDoor ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Open the Door!</h5></button>
</form>