﻿@model PhantomDoorViewModel

<div class="gray-container">
    Upon defeating the <b>Phantom Spirit</b>, you find yourself facing a great barrier. It has a circular slot with the shape of a flame on it.
</div>
<h5>Needed Relics (@(Model.Relics[2].Earned ? "1" : "0")/1)</h5>
<div class="grid-container grid-container--fit">
    <div id="@Model.Relics[2].Level" class="grid-container-no-padding grid-element text-center @(Model.Relics[2].Earned ? "" : "faded")">
        <div>
            <img class="relic-dimensions" src="@Helper.GetImageUrl(Model.Relics[2].ImageUrl)">
            <div>
                <h5>@Model.Relics[2].Name</h5>
                <h6 class="text-muted">Level @Model.Relics[2].Level</h6>
            </div>
        </div>
    </div>
</div>
<form class="large-padding-top" action="@Url.Action("OpenSecondDoor", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary @(Model.CanOpenDoor ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Open the Door!</h5></button>
</form>