﻿@model PhantomDoorViewModel

<div class="gray-container">
    You open the Phantom Door and find yourself face-to-face with an <b>ethereal spirit</b>. It hisses at you and flies away leaving behind a strange note.
</div>
<h5>Strange Note</h5>
<div class="grid-element center-block text-center clickable grow animated fadeIn" onclick="$('#modal-note').modal();">
    <div>
        <img class="shadow" src="@Helper.GetImageUrl("PhantomDoor/Note.png")" width="95" height="95" alt="Strange Note" title="Strange Note" />
        <h5 class="small-padding-top">
            <b>Strange Note</b>
        </h5>
        <p>
            <div class="fas fa-info-circle gray-color"></div>
            <div><small><i>Tap to read the note.</i></small></div>
        </p>
    </div>
</div>
<div>
    <div class="modal fade" id="modal-note" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Strange Note</h4>
                </div>
                <div class="modal-body text-center">
                    <img class="shadow" src="@Helper.GetImageUrl("PhantomDoor/Note.png")" width="95" height="95" alt="Strange Note" title="Strange Note" />
                    <h5 class="large-margin-top primary-container light-blue-border no-margin-bottom">
                        @if (Model.CanReadNote)
                        {
                            <span>Using the Sorceress' power, you read the note: "Note to self - Must shout <b>Phantom Spirit</b> if I want to challenge Master! No @Resources.DeckCards <b>greater than 50</b> are allowed or Master will be mad!"</span>
                        }
                        else
                        {
                            <span>This note is written in a strange language and can't be read. Maybe someone magical and far away could help you out? You'll need to bring a <b>light</b> to visit somewhere so <b>deep</b>.</span>
                        }
                    </h5>
                </div>
                @if (Model.CanReadNote)
                {
                    <form class="small-padding-top large-padding-left large-padding-right" action="@Url.Action("ChallengePhantomSpirit", "Stadium")" method="POST" onsubmit="updatePhantomDoor(event, this)">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-block btn-success @(Model.Cards.Any(x => x.Amount > 50) ? "disabled" : "")" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Shout "Phantom Spirit"!</h5></button>
                    </form>
                }
                else if (!Model.HasReceivedLanguageHint)
                {
                    <form class="small-padding-top large-padding-left large-padding-right" action="@Url.Action("GetNoteHint", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this)">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-block btn-success @(Model.User.Points < 1500 ? "disabled" : "")" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Get a Hint! (@Helper.GetFormattedPoints(1500))</h5></button>
                    </form>
                }
                else
                {
                    <div class="alert alert-info alert-info-coloring-gradient large-margin-left large-margin-right no-margin-top small-margin-bottom">
                        Hint: You'll need a <b>Lemon Light Candy Card</b>! Eat it to explore the <b>Deep Caverns</b>. Maybe a Market Stall or the General Store has one?
                    </div>
                }
                <div class="small-padding-top large-padding-left large-padding-right padding-bottom">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>