﻿@model PhantomDoorViewModel

<div class="text-center small-padding-top">
    <img class="img-rounded animated bounceIn" src="@Helper.GetImageUrl("Locations/PhantomDoor.png")" width="200" height="200" alt="The Phantom Door" title="The Phantom Door" />
</div>
<div class="alert alert-info alert-info-coloring-gradient margin-top no-margin-bottom text-center animated fadeInUp">
    <h5>
        The Phantom Door is stuck shut when you try to open it. You notice two circular slots on it with the shape of a moon and a sun. You'll need both Relics to open the door.
    </h5>
</div>
<h5>Needed Relics (@Model.Relics.Take(2).Count(x => x.Earned)/2)</h5>
<div class="grid-container grid-container--fit animated fadeIn">
    @foreach (Relic relic in Model.Relics.Take(2))
    {
        <div id="@relic.Level" class="grid-container-no-padding grid-element text-center @(relic.Earned ? "" : "faded")">
            <div>
                <img class="relic-dimensions" src="@Helper.GetImageUrl(relic.ImageUrl)">
                <div>
                    <h5>@relic.Name</h5>
                    <h6 class="text-muted">Level @relic.Level</h6>
                </div>
            </div>
        </div>
    }
</div>
<form class="large-padding-top animated fadeIn" action="@Url.Action("OpenDoor", "PhantomDoor")" method="POST" onsubmit="updatePhantomDoor(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary @(Model.CanOpenDoor ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Open the Door!</h5></button>
</form>