﻿@model LottoViewModel

<p>
    <div class="gray-container">
        The Lotto also sells <b>Egg Cards</b>. These are special items that reward you with a certain amout of @Resources.Currency based on how old they are when they're opened.
    </div>
</p>

<h5>
    Items (@Helper.FormatNumber(Model.EggCards.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.EggCards)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("BuyItem", "Lotto")" method="POST" onsubmit="updateLotto(event, this, false)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points && Model.CanBuyLottoItem ? "" : "disabled")">Buy Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>