﻿@model LottoViewModel

<div id="pyro-container" class="container container-pyro" style="display: none;">
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
</div>
<div class="padding-top text-center">
    <h5>Pot's Current Value</h5>
    <h2 id="pot" class="win-green margin-top">
        <b id="currentPot" data-count="@Model.CurrentLotto.CurrentPot">@Helper.GetFormattedPoints(Model.CurrentLotto.CurrentPot)</b>
    </h2>
</div>
@if (Model.PastGuesses.Count == 0)
{
    <div class="alert alert-info large-margin-top margin-bottom">
        You haven't made any guesses yet for this lotto.
    </div>
}
else
{
    <div class="large-padding-top">
        <div class="panel panel-primary">
            <div class="panel-heading">Your Past Guesses (@Helper.FormatNumber(Model.PastGuesses.Count))</div>
            <div class="panel-body">
                @string.Join(", ", Model.PastGuesses)
            </div>
        </div>
    </div>
}
<form id="lotto-enter-form" action="@Url.Action("Enter", "Lotto")" method="POST" onsubmit="updateLotto(event, this, true)" class="small-padding-top">
    <input type="number" class="form-control input-lg" id="number" name="number" maxlength="3" min="1" max="250" placeholder="Your Number (1 to @Helper.FormatNumber(250))" autocomplete="off" autofocus required>
    @Html.AntiForgeryToken()
    <div class="large-padding-top"></div>
    <button type="submit" class="btn btn-success @(Model.CanEnterLotto ? "" : "disabled")">Enter the lotto! (@Helper.GetFormattedPoints(500))</button>
</form>
@if (Model.Lottos.Count > 1)
{
    <div class="extra-large-padding-top"></div>
    <div class="panel panel-success">
        <div class="panel-heading">Recent Winners</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Number</th>
                        <th>Winnings</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Lotto lotto in Model.Lottos.Skip(1).Take(10))
                    {
                        <tr>
                            <td data-title="Username"><a href="/User/@lotto.WinnerUsername">@lotto.WinnerUsername</a></td>
                            <td data-title="Number">@Helper.FormatNumber(lotto.WinningNumber)</td>
                            <td data-title="Winnings"><b class="win-green">@Helper.GetFormattedPoints(lotto.CurrentPot)</b></td>
                            <td data-title="Date">@lotto.WonDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}