﻿@model LottoViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Lotto">Lotto</a></li>
    <li class="active"><a>Egg Cards</a></li>
</ul>
<div id="lottoEggPartialView">
    @await Html.PartialAsync("_LottoEggMainPartial", Model)
</div>