﻿@model LottoViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Lotto</a></li>
    <li><a href="/Lotto/Egg">Egg Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        Feeling lucky? Put <b class="win-green">@Helper.GetFormattedPoints(500)</b> into the pot, choose a number from <b>1 to @Helper.FormatNumber(250)</b>, and if you guess it right, you'll win it all!
        You can only play once every <b>3 hours</b>.
        <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="If you win the pot, your earnings will be taxed at @Model.TaxPercent%. The older your account is, the less you'll be taxed."></span>
    </div>
</p>
<div id="lottoPartialView">
    @await Html.PartialAsync("_LottoMainPartial", Model)
</div>