﻿@model RepairViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="#" onclick="refreshRepairPartialView(false);">Repair Items</a></li>
    <li class="active"><a href="#">Recharge Items</a></li>
</ul>
<p>
    <div class="gray-container">
        Certain items have a <b>limited</b> number of uses. Once an item has no more uses, it'll be removed from your <a href="/Items">bag</a>.
        You can recharge some of these items back to having their <b>original</b> total uses.
    </div>
</p>
@if (Model.DiscountPercent > 0)
{
    <p>
        <div class="alert alert-success">
            <h5>
                You used a <b>Repair Shop Coupon Card</b>! All items below are <b>@Model.DiscountPercent% off</b> for your next recharge.
            </h5>
        </div>
    </p>
}
@if (Model.FromStadium)
{
    <p>
        <div class="alert alert-info">
            <a class="close" data-hide="alert alert-dismissible" role="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-landmark"></span> Active Stadium Match</h4>
            <h5>
                You're still in an active Stadium match!
            </h5>
            <div class="padding-top"></div>
            <a href="/Stadium" class="btn btn-primary">Back to the Stadium</a>
        </div>
    </p>
}
<h5>
    Rechargeable Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold @(item.Uses == 1 ? "lose-red" : "")">@item.Uses/@item.TotalUses Uses Left</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b>
                        @if (Model.DiscountPercent > 0)
                        {
                            <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(item.Points/(1 - (Model.DiscountPercent * 0.01)))"></span>
                        }
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Recharge", "Repair")" method="POST" onsubmit="updateRepair(event, this, true, @Model.FromStadium.ToString().ToLower())">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points ? "" : "disabled")">Recharge Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        All your items have their original total uses. Come back when you need one recharged!
    </div>
}