﻿@model RepairViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Repair Items</a></li>
    <li><a href="#" onclick="refreshRepairPartialView(true);">Recharge Items</a></li>
</ul>
<p>
    <div class="gray-container">
        You can repair any item back to having a <b class="win-green">New</b> condition! If an item has an <b class="lose-red">Unusable</b> condition, it cannot be used until it's repaired.
    </div>
</p>
@if (Model.DiscountPercent > 0)
{
    <p>
        <div class="alert alert-success @(Model.RepairAllCost > 0 || Model.FromStadium ? "small-margin-bottom" : "")">
            <h5>
                You used a <b>Repair Shop Coupon Card</b>! All items below are <b>@Model.DiscountPercent% off</b> for your next repair.
            </h5>
        </div>
    </p>
}
@if (Model.FromStadium)
{
    <p>
        <div class="alert alert-info @(Model.RepairAllCost > 0 ? "small-margin-bottom" : "")">
            <a class="close" data-hide="alert alert-dismissible" role="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-landmark"></span> Active Stadium Match</h4>
            <h5>
                You're still in an active Stadium match!
            </h5>
            <div class="padding-top"></div>
            <a href="/Stadium" class="btn btn-primary">Back to the Stadium</a>
        </div>
    </p>
}
@if (Model.RepairAllCost > 0)
{
    <div class="primary-container light-blue-border margin-bottom">
        <h5>
            <b>Quick Repair:</b> Repair all the items in your bag at once for <b class="win-green">@Helper.GetFormattedPoints(Model.RepairAllCost)</b>!
        </h5>
        <form class="small-padding-top" action="@Url.Action("RepairAll", "Repair")" method="POST" onsubmit="updateRepair(event, this, false, @Model.FromStadium.ToString().ToLower())">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success @(Model.User.Points >= Model.RepairAllCost ? "" : "disabled")">Repair All Items</button>
        </form>
    </div>
}
<h5>
    Repairable Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5 class="@(item.DeckType == Model.DeckType ? "no-margin-bottom small-margin-bottom" : "")">@item.Name</h5>
                    @if (item.DeckType == Model.DeckType)
                    {
                        <div class="label label-primary" data-toggle="tooltip" data-placement="top" title="This @Resources.DeckCard is in your Deck.">Deck</div>
                        <div class="padding-top"></div>
                    }
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b>
                        @if (Model.DiscountPercent > 0)
                        {
                            <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(item.Points/(1 - (Model.DiscountPercent * 0.01)))"></span>
                        }
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Repair", "Repair")" method="POST" onsubmit="updateRepair(event, this, false, @Model.FromStadium.ToString().ToLower())">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points ? "" : "disabled")">Repair Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        All your items have a <b>New</b> condition. Come back when you need one repaired!
    </div>
}