﻿@model ProfileViewModel

<div class="modal fade" id="modal-profile-accomplishments-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Accomplishments</h4>
            </div>
            <div class="modal-body text-center">
                <img src="@Helper.GetImageUrl(Model.Accomplishments.First().ImageUrl)" width="85" height="112">
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h5>
                        @Html.Raw(Model.Accomplishments.Count == 1 ? "You earned an accomplishment" : $"You've earned <b>{Model.Accomplishments.Count} accomplishments</b> so far")! You can get new accomplishments by exploring @Resources.SiteName and completing different activities!
                    </h5>
                    @{ double accomplishmentProgress = Math.Round((double)Model.Accomplishments.Count / 10 * 100, 1); }
                    <h5 class="bold padding-top">Try to earn 10 accomplishments! (@(Model.Accomplishments.Count)/10)</h5>
                    <div class="progress border-gray-background-color small-margin-bottom @(accomplishmentProgress == 0 ? "progress-bar-striped" : "")">
                        <div class="progress-bar progress-bar-striped win-green-background active" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@accomplishmentProgress">
                            <b class="progress-bar-text" style="@(accomplishmentProgress < 20 ? "position: absolute;" : "")">@accomplishmentProgress%</b>
                        </div>
                    </div>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>