﻿@model ProfileViewModel

@if (Model.IsUserProfile)
{
    <div class="gray-container">
        You can buy enhancements for your Showroom at the <b><a href="/BuyersClub/Showroom">Showroom Store</a></b>. An item is safely preserved and its condition <b>does not worsen</b> while it's in your Showroom.
    </div>
    <div class="padding-top"></div>
}
@if (Model.ProfileSettings.ShowroomCertification > ShowroomCertification.None)
{
    <h5 class="no-margin-top"><span class="fas fa-certificate @(Model.ProfileSettings.ShowroomCertification.ToString().ToLower())-color"></span> As per the Museum Curator, this Showroom is certified: <b>@Model.ProfileSettings.ShowroomCertification</b>.</h5>
    <div class="small-padding-top"></div>
}
@if (Model.IsUserProfile && string.IsNullOrEmpty(Model.ProfileSettings.ShowroomTitle))
{
    <div class="alert alert-info margin-bottom">
        <h5>Add a title, description, and color to your Showroom!</h5>
        <a class="btn btn-primary" href="/BuyersClub/Showroom?showTitleChange=true">Update Showroom!</a>
    </div>
}
else if (!string.IsNullOrEmpty(Model.ProfileSettings.ShowroomTitle))
{
    <div class="panel panel-primary" style="border-color: @Model.ShowroomColor;">
            <div class="panel-heading" style="background-image: none; background-color: @Model.ShowroomColor; border-color: @Model.ShowroomColor;">
                <h5 class="inline">@Model.ProfileSettings.ShowroomTitle</h5>
                @if (Model.User != null && Model.User.Role >= UserRole.Helper && !Model.IsUserProfile)
                {
                    <form action="@Url.Action("RemoveShowroomInfo", "Profile")" method="POST" onsubmit="submitProfileForm(event, this, false, '@Model.Profile.Username');" class="inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="username" value="@Model.Profile.Username" />
                        <button type="submit" class="btn btn-danger btn-xs pull-right small-margin-left">Remove</button>
                    </form>
                }
                @if (Model.IsUserProfile)
                {
                    <a class="pull-right btn btn-xs btn-success" href="/BuyersClub/Showroom?showTitleChange=true">Edit</a>
                }
            </div>
            @if (!string.IsNullOrEmpty(Model.ProfileSettings.ShowroomDescription))
            {
                <div class="panel-body show-line-spaces extra-large-behind-margin-top">
                    @Model.ProfileSettings.ShowroomDescription
                </div>
            }
        </div>
}
<h5>
    Items (@Helper.FormatNumber(Model.ShowroomItems.Count)/@Helper.FormatNumber(Model.MaxShowroomSize))
    @if (Model.IsUserProfile)
    {
        @Html.Raw(Model.MaxShowroomSize < Helper.GetMaxShowroomSize() ? $"<span data-toggle='tooltip' data-placement='top' title='Your Showroom can be upgraded to hold more items.'><b class='fas fa-arrow-up win-green'></b></span>" : "")
    }
    <small onclick="@(Model.Authenticated ? $"likeShowroom('{Model.Profile.Username}');" : "")" class="@(Model.Authenticated ? "clickable" : "") gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Likes">
        <span class="@(Model.HasLikedShowroom ? "fas" : "far") fa-thumbs-up win-green"></span> <b>@Helper.FormatNumberShortened(Model.ShowroomLikes.Count)</b>
    </small>
</h5>
<div id="@(Model.IsUserProfile ? "showroom-items" : "")" class="grid-container grid-container--fit">
    @foreach (Item item in Model.ShowroomItems)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center" style="border: ridge 3px @Model.ShowroomColor;">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    @if (item.Category == ItemCategory.Art)
                    {
                        <div class="label label-gold">Official Art</div>
                        <div class="padding-top"></div>
                    }
                    else if (item.Category == ItemCategory.Custom)
                    {
                        <div class="label label-default">Custom Art</div>
                        <div class="padding-top"></div>
                    }
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category
                        </small>
                    </span>
                </div>
                @if (Model.IsUserProfile)
                {
                    <div class="draggable-bar draggable small-padding-top text-muted">
                        <span class="fas fa-bars"></span>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("RemoveShowroomItem", "Profile")" method="POST" onsubmit="submitProfileForm(event, this, false)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-danger btn-xs">Remove Item</button>
                        </form>
                    </div>
                }
            </div>
        </div>
    }
</div>
@if  (Model.ShowroomItems.Count == 0)
{
    <div class="alert alert-info no-margin-bottom">
        There are no items on display.
    </div>
}
@if (Model.IsUserProfile)
{
    <h5 class="small-padding-top small-padding-bottom">
        <a id="collapseItems" class="clickable @(Model.IsCollapsed ? "collapsed" : "")" data-toggle="collapse" data-target="#manageShowroomItems">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Manage Showroom Items
        </a>
    </h5>
    <div id="manageShowroomItems" class="collapse @(Model.IsCollapsed ? "" : "in")">
        @if (Model.ShowroomItems.Count < Model.MaxShowroomSize)
        {
            <div class="gray-container">
                You can hold a total of <b>@Helper.FormatNumber(Model.MaxShowroomSize) items</b> in your Showroom. You can add <b>@Helper.FormatNumber(Model.MaxShowroomSize - Model.ShowroomItems.Count) more</b> item@(Model.MaxShowroomSize - Model.ShowroomItems.Count == 1 ? "" : "s").
            </div>
            <h5>
                Items (@Helper.FormatNumber(Model.Items.Count))
            </h5>
            <div class="grid-container grid-container--fit">
                @foreach (Item item in Model.Items)
                {
                    <div class="grid-container-no-padding grid-element text-center">
                        <div>
                            <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                            <div>
                                <h5>@item.Name</h5>
                                <p><i><small>@item.Description</small></i></p>
                            </div>
                        </div>
                        <div>
                            @if (item.Tier > RelicId.None)
                            {
                                <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                                </div>
                            }
                            <div>
                                <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                            </div>
                            <div>
                                <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                    <small>
                                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                    </small>
                                </span>
                            </div>
                            <div>
                                <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                            </div>
                            <div class="small-padding-top">
                                <form action="@Url.Action("AddShowroomItem", "Profile")" method="POST" onsubmit="submitProfileForm(event, this, false)">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="selectionId" value="@item.SelectionId" />
                                    <button type="submit" class="btn btn-primary btn-xs">Add Item</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Items.Count == 0)
            {
                <div class="alert alert-info">
                    You have no items to add to your Showroom. Items in your <a href="/Items">Deck</a> cannot be added.
                </div>
            }
        }
        else
        {
            <div class="alert alert-info">
                You already have <b>@Model.MaxShowroomSize items</b> in your Showroom. Remove some items from your Showroom to add more.
            </div>
        }
    </div>
}
