﻿@model ProfileViewModel

<div class="row large-padding-top">
    <div class="col-md-4 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @if (!string.IsNullOrEmpty(Model.Profile.DisplayPicUrl))
                {
                    <a href="@(Model.IsUserProfile ? "/Preferences" : "#")">
                        <img class="img-circle display-image no-border" src="@Model.Profile.DisplayPicUrl" />
                    </a>
                }
                <h5 class="small-margin-top small-margin-bottom">
                    @Html.Raw(Model.IsUserProfile ? "<a href='/Preferences' class='white-color link-remove-decoration'>You</a>" : Model.Profile.GetFriendlyName())
                    @if (Model.IsBlocked)
                    {
                        <a href="/Preferences#blocked-@Model.Profile.Username" class="label label-danger" data-toggle="tooltip" data-placement="top" title="You've blocked @Model.Profile.Username so they can't see your profile."><span class="fas fa-minus-circle"></span> Blocked</a>
                    }
                    else if (Model.ActiveBadge != null)
                    {
                        <span class="label label-@Model.ActiveBadge.Label clickable" onclick="@(Model.AllBadges?.Count > 0 ? "showAllBadges();" : "")"><span class="@Model.ActiveBadge.Icon"></span> @Model.ActiveBadge.ShortName</span>
                    }
                    @if (Model.IsJoinDay)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Join Day"><span class="fas fa-birthday-cake"></span></span>
                    }
                </h5>
                @if (Model.Profile.Username != Model.Profile.GetFriendlyName())
                {
                    <h5 class="small-margin-top small-margin-bottom">(@Model.Profile.Username)</h5>
                }
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        Joined <b>@Model.Profile.CreatedDate.GetTimeSince()</b>
                    </div>
                    <div class="col-lg-6">
                        <b>@Model.Profile.GetFormattedPoints()</b> on hand
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.Profile.Location))
                {
                    <div class="padding-top">
                        <span class="glyphicon glyphicon-map-marker primary-color" data-toggle="tooltip" data-placement="top" title="Location"></span> @Model.Profile.Location
                    </div>
                }
                @if (Model.Profile.Gender != Gender.None || Model.Group != null || Model.MarketStall != null || !string.IsNullOrEmpty(Model.ProfileSettings.PartnershipUsername))
                {
                    <h5 class="small-margin-top no-margin-bottom">
                        <a class="collapsed clickable" data-toggle="collapse" data-target="#profile-info">
                            <span class="if-collapsed">
                                <span class="glyphicon glyphicon-plus"></span>
                            </span>
                            <span class="if-not-collapsed">
                                <span class="glyphicon glyphicon-minus"></span>
                            </span>
                            More Info
                        </a>
                    </h5>
                    <div id="profile-info" class="collapse">
                        @if (Model.Profile.Gender != Gender.None)
                        {
                            <div class="padding-top">
                                <span class="fas fa-user primary-color"></span> @Model.Profile.Gender
                            </div>
                        }
                        @if (Model.Group != null)
                        {
                            <div class="@(Model.Profile.Gender == Gender.None ? "padding-top" : "")">
                                <span class="fas fa-briefcase primary-color"></span> @Model.Group.Role.GetDisplayName() of <b><a href="/Groups?id=@Model.Group.Id">@Model.Group.Name</a></b>
                            </div>
                        }
                        @if (Model.MarketStall != null)
                        {
                            <div class="@(Model.Group == null ? "padding-top" : "")">
                                <span class="glyphicon glyphicon-shopping-cart primary-color"></span> Owner of <b><a href="/MarketStalls?id=@Model.MarketStall.Id">@Model.MarketStall.Name</a></b>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.ProfileSettings.PartnershipUsername))
                        {
                            <div class="@(Model.Group == null && Model.MarketStall == null ? "padding-top" : "")">
                                <span class="glyphicon glyphicon-briefcase primary-color"></span> Partnership with <b><a href="/User/@Model.ProfileSettings.PartnershipUsername">@Model.ProfileSettings.PartnershipUsername</a></b>
                            </div>
                        }
                        @if (Model.AttentionHallPoints != 0)
                        {
                            <div class="@(Model.Group == null && Model.MarketStall == null && string.IsNullOrEmpty(Model.ProfileSettings.PartnershipUsername) ? "padding-top" : "")">
                                <span class="fas fa-exclamation-circle primary-color"></span> 
                                <b>@Helper.FormatNumber(Model.AttentionHallPoints)</b> Attention Hall Point@(Model.AttentionHallPoints == 1 ? "" : "s")
                                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Total points earned from Attention Hall posts."></span>
                            </div>
                        }
                    </div>
                }
                <form id="profileMessageForm" action="@Url.Action("Message", "Profile")" method="POST" class="large-padding-top" onsubmit="submitProfileForm(event, this, true, '', false);">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" id="username" value="@Model.Profile.Username" />
                    <button type="submit" class="btn btn-primary btn-block @(Model.Authenticated && !Model.IsUserProfile && !Model.ProfileSettings.DisableMessages ? "" : "disabled")">
                        <h5 class="small-margin-top small-margin-bottom">
                            <span class="fas fa-comment"></span>
                            <b>Message</b>
                        </h5>
                    </button>
                </form>
                @if (Model.HasShowroom)
                {
                    <div class="small-padding-top">
                        <a href="/Profile/Showroom?id=@Model.Profile.Username" class="btn btn-purple btn-block">
                            <h5 class="small-margin-top small-margin-bottom">
                                <span class="fas fa-palette"></span>
                                <b>Showroom</b>
                            </h5>
                        </a>
                    </div>
                }
                @if (Model.IsUserProfile && !string.IsNullOrEmpty(Model.ProfileSettings.PartnershipUsername))
                {
                    <div class="small-padding-top">
                        <a href="/Profile/Partnership" class="btn btn-secondary btn-block">
                            <h5 class="small-margin-top small-margin-bottom">
                                <span class="fas fa-briefcase"></span>
                                <b>Manage Partnership</b>
                            </h5>
                        </a>
                    </div>
                }
                else if (Model.CanRequestPartnership)
                {
                    @if (Model.PartnershipRequestPending)
                    {
                        <form action="@Url.Action("CancelPartnershipRequest", "Profile")" method="POST" class="small-padding-top" onsubmit="submitProfileForm(event, this, true, '@Model.Profile.Username');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" id="username" value="@Model.Profile.Username" />
                            <button type="submit" class="btn btn-danger btn-block"><h5 class="small-margin-top small-margin-bottom"><b>Cancel Request</b></h5></button>
                        </form>
                    }
                    else
                    {
                        <form action="@Url.Action("RequestPartnership", "Profile")" method="POST" class="small-padding-top" onsubmit="submitProfileForm(event, this, true, '@Model.Profile.Username');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" id="username" value="@Model.Profile.Username" />
                            <button type="submit" class="btn btn-success btn-block"><h5 class="small-margin-top small-margin-bottom"><b>Request Partnership</b></h5></button>
                        </form>
                    }
                }
                else if (Model.PartnershipRequests?.Count > 0)
                {
                    <div id="partnership-requests" class="small-padding-top">
                        <a onclick="$('#modal-partnership-requests').modal();" class="btn btn-secondary btn-block no-load-btn"><h5 class="small-margin-top small-margin-bottom"><b>Partnership Requests <span class="label label-success">@Helper.FormatNumberShortened(Model.PartnershipRequests.Count)</span></b></h5></a>
                    </div>
                }
                @if (Model.User == null || Model.User.Username != Model.Profile.Username)
                {
                    <div class="padding-top">
                        <b><a href="/Report?username=@Model.Profile.Username">Report @Model.Profile.GetFriendlyName()</a></b>
                    </div>
                }
                @if (Model.User != null && Model.User.Role > UserRole.Default && !Model.IsUserProfile)
                {
                    <div class="small-padding-top">
                        <b><a href="/Admin?lookUp=@Model.Profile.Username">Admin Look Up</a></b>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-8 text-center">
        <div class="panel panel-success">
            <div class="panel-heading"><h5 class="small-margin-top small-margin-bottom">Stadium</h5></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h5>Global Ranking</h5></div>
                            <div class="panel-body">
                                <h1 class="no-margin-top @(Model.IsElite ? "gold-color" : "")">@(Model.MatchRanking == null ? "N/A" : Helper.FormatNumber(Model.MatchRanking.Rank))</h1>
                                @if (Model.IsElite)
                                {
                                    <div class="label label-elite" data-toggle="tooltip" data-placement="top" title="The top 25% of users at the Stadium qualify for the Elite Zone.">Elite Zone</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <h5 class="no-margin-top">
                            <b>@Helper.FormatNumber(Model.MatchRanking?.TotalMatches ?? 0)</b> User Match@(Model.MatchRanking?.TotalMatches == 1 ? "" : "es") Played
                        </h5>
                        <h5 class="no-margin-top no-margin-bottom">
                            <b>@(Model.MatchRanking == null ? 0 : Math.Round((double)Model.MatchRanking.WonMatches / Model.MatchRanking.TotalMatches * 100))%</b> Won
                        </h5>
                        <form id="profileChallengeForm" action="@Url.Action("ChallengeUser", "Profile")" method="POST" class="large-padding-top" onsubmit="submitProfileForm(event, this, true, '', false);">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" id="username" value="@Model.Profile.Username" />
                            <button type="submit" class="btn btn-orange btn-block @(Model.Authenticated && !Model.IsUserProfile && Model.ProfileSettings.AllowUserChallenges && !Model.IsBlocked ? "" : "disabled")">
                                <h5 class="small-margin-top small-margin-bottom">
                                    <span class="fas fa-play"></span>
                                    <b>Challenge</b>
                                </h5>
                            </button>
                        </form>
                        <div class="padding-top">
                            <a class="btn btn-success btn-block" href="/Stadium/Statistics?id=@Model.Profile.Username">
                                <h5 class="small-margin-top small-margin-bottom">
                                    <span class="fas fa-chart-bar"></span>
                                    <b>Statistics</b>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Profile.Bio))
{
    <div class="panel panel-primary text-center">
        <div class="panel-heading">
            <h5 class="small-margin-top small-margin-bottom @(Model.IsUserProfile ? "inline extra-large-padding-left" : "")">About @Model.Profile.GetFriendlyName()</h5>
            @if (Model.IsUserProfile)
            {
                <a class="btn btn-xs btn-alt-blue pull-right" href="/Preferences#profile">Edit</a>
            }
        </div>
        <div class="panel-body">
            <span class="show-line-spaces">@Html.Raw(Helper.MakeLinkClickable(Model.Profile.Bio))</span>
        </div>
    </div>
}
@if (Model.IsUserProfile && string.IsNullOrEmpty(Model.Profile.Bio) && string.IsNullOrEmpty(Model.Profile.Location) && string.IsNullOrEmpty(Model.Profile.FirstName))
{
    <h5 class="text-center text-muted small-margin-top large-padding-bottom">
        No info? No problem! Update your info in your <b><a href="/Preferences">Preferences</a></b>.
    </h5>
}
@if (Model.Companions?.Count > 0)
{
    <div id="companions" class="panel panel-default text-center">
        <div class="panel-heading clickable" data-toggle="collapse" href="#companions-collapse"><h5 class="small-margin-top small-margin-bottom">Companions (@Helper.FormatNumber(Model.Companions.Count)) <span class="glyphicon glyphicon-info-sign gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Interact with a Companion by tapping on it."></span></h5></div>
        <div id="companions-collapse" class="panel-body panel-collapse collapse in">
              <div class="scrolling-wrapper">
                <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                <div id="companions-container" class="scrolling-container">
                    @foreach (Companion companion in Model.Companions)
                    {
                        <div id="companion-@companion.Id" class="scrolling-grid-element scrolling-companion-element text-center">
                            <div>
                                <img class="companion-dimensions clickable @(companion.IsAsleep() ? "faded" : "grow")" src="@Helper.GetImageUrl(companion.GetImageUrl())" title="@companion.GetHappiness()% Happiness" alt="@companion.GetHappiness()% Happiness" onclick="companionInteract('@Model.Profile.Username', '@companion.Id');">
                                <div>
                                    <h5>@companion.Name @(companion.IsAsleep() ? "(Asleep)" : "") </h5>
                                </div>
                            </div>
                            <div class="push-down-class">
                                @if (Model.IsUserProfile)
                                {
                                    <div class="progress border-gray-background-color @(companion.GetHappiness() == 0 ? "progress-bar-striped" : "")" data-toggle="tooltip" data-placement="top" title="Happiness">
                                        <div class="progress-bar @(companion.GetHappiness() >= 80 ? "win-green-background" : companion.GetHappiness() >= 60 ? "primary-color-background" : "lose-red-background") progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@companion.GetHappiness()%;">
                                            <b class="progress-bar-text" style="@(companion.GetHappiness() < 20 ? "position: absolute;" : "")">@companion.GetHappiness()%</b>
                                        </div>
                                    </div>
                                    <div class="draggable-bar draggable small-padding-top text-muted">
                                        <span class="fas fa-bars"></span>
                                    </div>
                                }
                                <div><small class="text-muted"><span class="fas fa-medal"></span> Level @Helper.FormatNumber(companion.Level + 1)</small></div>
                                <b><small class="text-muted" data-toggle="tooltip" data-placement="top" title="Activated @companion.CreatedDate.GetTimeSince()">@companion.Type</small></b>
                                @if (Model.User != null && (Model.IsUserProfile || Model.User.Role >= UserRole.Admin))
                                {
                                    <div class="small-padding-top">
                                        <form action="@Url.Action("RemoveCompanion", "Profile")" method="POST" onsubmit="submitRemoveProfileForm(event, this, '@Model.Profile.Username');">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="Username" value="@Model.Profile.Username" />
                                            <input type="hidden" name="companionId" value="@companion.Id" />
                                            <button type="submit" class="btn btn-danger btn-xs">Remove</button>
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Relics.Count > 0)
{
    <div id="relics" class="panel panel-default text-center">
        <div class="panel-heading clickable" data-toggle="collapse" href="#relics-collapse"><h5 class="small-margin-top small-margin-bottom">Relics (@Helper.FormatNumber(Model.Relics.Count)/7) <span class="glyphicon glyphicon-info-sign gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Earn a Relic each time you defeat a Checkpoint CPU at the Stadium."></span></h5></div>
        <div id="relics-collapse" class="panel-body panel-collapse collapse in">
            <div class="scrolling-wrapper">
                <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                <div class="scrolling-container">
                    @foreach (Relic relic in Model.Relics)
                    {
                        <div id="relic-@relic.Level" class="scrolling-grid-element text-center">
                            <div>
                                <img class="relic-dimensions" src="@Helper.GetImageUrl(relic.ImageUrl)">
                                <div>
                                    <h5>@relic.Name</h5>
                                    <h6 class="text-muted">Level @relic.Level</h6>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (Model.MatchTags.Count > 0)
{
    <div id="match-tags" class="panel panel-default text-center">
        <div class="panel-heading clickable" data-toggle="collapse" href="#match-tags-collapse"><h5 class="small-margin-top small-margin-bottom">Match Tags (@Helper.FormatNumber(Model.MatchTags.Count)) <span class="glyphicon glyphicon-info-sign gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Earn a Match Tag each time you defeat a new user at the Stadium."></span></h5></div>
        <div id="match-tags-collapse" class="panel-body panel-collapse collapse in">
              <div class="scrolling-wrapper">
                <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                <div class="scrolling-container">
                    @foreach (MatchTag matchTag in Model.MatchTags)
                    {
                        <div id="matchtag-@matchTag.TagUsername" class="scrolling-grid-element text-center">
                            <div class="center-circle">
                                <div class="circle" id="colored-by-username-@matchTag.TagUsername" value="@matchTag.TagUsername" data-user-color="@matchTag.Color">
                                    @matchTag.TagUsername.Substring(0, 1).ToUpper()
                                </div>
                            </div>
                            <div class="push-down-class">
                                <h5><a href="/User/@matchTag.TagUsername">@matchTag.TagUsername</a></h5>
                                <h6 class="text-muted" data-toggle="tooltip" data-placement="top" title="Earned @matchTag.FirstWinDate.GetTimeSince()">@Helper.FormatNumber(matchTag.Wins) Win@(matchTag.Wins == 1 ? "" : "s")</h6>
                            </div>
                        </div>
                    }
              </div>
            </div>
        </div>
    </div>
}
@if (Model.Accomplishments.Count > 0)
{
    @if (Model.IsUserProfile)
    {
        <div id="accomplishmentsDropdown" class="dropdown">
            <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Sort by <b>@Model.Sort.GetDisplayName()</b>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/Profile?id=@Model.User.Username&sort=@AccomplishmentSort.Easiest#accomplishmentsDropdown">@AccomplishmentSort.Easiest.GetDisplayName()</a></li>
                <li><a href="/Profile?id=@Model.User.Username&sort=@AccomplishmentSort.Hardest#accomplishmentsDropdown">@AccomplishmentSort.Hardest.GetDisplayName()</a></li>
                <li><a href="/Profile?id=@Model.User.Username&sort=@AccomplishmentSort.Rarest#accomplishmentsDropdown">@AccomplishmentSort.Rarest.GetDisplayName()</a></li>
                <li><a href="/Profile?id=@Model.User.Username&sort=@AccomplishmentSort.Newest#accomplishmentsDropdown">@AccomplishmentSort.Newest.GetDisplayName()</a></li>
                <li><a href="/Profile?id=@Model.User.Username&sort=@AccomplishmentSort.Name#accomplishmentsDropdown">@AccomplishmentSort.Name.GetDisplayName()</a></li>
            </ul>
        </div>
        <div class="padding-top"></div>
    }
    <div id="accomplishments" class="panel panel-default text-center">
        <div class="panel-heading clickable" data-toggle="collapse" href="#accomplishments-collapse"><h5 class="small-margin-top small-margin-bottom">Accomplishments (@Helper.FormatNumber(Model.Accomplishments.Count)/@Helper.FormatNumber(Model.AllAccomplishments.Count)) <span class="glyphicon glyphicon-info-sign gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Earn new accomplishments by completing tasks or exploring @Resources.SiteName."></span></h5></div>
        <div id="accomplishments-collapse" class="panel-body panel-collapse collapse in">
            <div class="grid-container grid-container--fit">
                @foreach (Accomplishment accomplishment in Model.Accomplishments)
                {
                    <div id="accomplishment-@((int)accomplishment.Id)" class="grid-container-no-padding grid-element text-center">
                        <div>
                            <img class="accomplishment-dimensions" src="@Helper.GetImageUrl(accomplishment.ImageUrl)" alt="@accomplishment.Description" title="@accomplishment.Description">
                            <div>
                                <h5>@accomplishment.Name</h5>
                                <p><i><small>@accomplishment.Description</small></i></p>
                            </div>
                        </div>
                        <div data-toggle="tooltip">
                            <b><small class="no-margin-top no-margin-bottom text-muted">@Math.Round(accomplishment.PercentOwned, 1)% Earned</small></b>
                        </div>
                        <div>
                            <b><small class="text-muted" data-toggle="tooltip" data-placement="top" title="Earned @accomplishment.ReceivedDate.GetTimeSince()">@accomplishment.Category</small></b>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (Model.IsUserProfile && Model.PartnershipRequests?.Count > 0)
{
    <div class="modal fade" id="modal-partnership-requests" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Partnership Requests (@(Helper.FormatNumberShortened(Model.PartnershipRequests.Count)))</h4>
                </div>
                <div class="modal-body">
                    <div class="text-muted padding-bottom">
                        Choose a partnership request you'd like to accept. You can only have <b>one partnership</b> at any time.
                    </div>
                    @foreach (PartnershipRequest partnershipRequest in Model.PartnershipRequests)
                    {
                        <div class="inline">
                            <a class="semi-bold" href="/User/@partnershipRequest.RequestUsername">@partnershipRequest.RequestUsername</a>
                        </div>
                        <form action="@Url.Action("AlterPartnership", "Profile")" method="POST" class="pull-right small-margin-left" onsubmit="submitProfileForm(event, this, true, '@Model.Profile.Username', true, @((Model.PartnershipRequests.Count > 1).ToString().ToLower()));">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" id="username" value="@partnershipRequest.RequestUsername" />
                            <input type="hidden" name="accepted" id="accepted" value="false" />
                            <button type="submit" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Decline"></span></button>
                        </form>
                        <form action="@Url.Action("AlterPartnership", "Profile")" method="POST" class="pull-right" onsubmit="submitProfileForm(event, this, true, '@Model.Profile.Username');">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="username" id="username" value="@partnershipRequest.RequestUsername" />
                            <input type="hidden" name="accepted" id="accepted" value="true" />
                            <button type="submit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" data-toggle="tooltip" data-placement="top" title="Accept"></span></button>
                        </form>
                        <div class="extra-large-padding-top"></div>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (Model.ShowAccomplishmentsTutorial)
{
    @await Html.PartialAsync("_AccomplishmentsTutorialPartial", Model)
}
@if (Model.AllBadges?.Count > 0)
{
    @await Html.PartialAsync("_ProfileAllBadgesModalPartial", Model)
}
