﻿@model ProfileViewModel

<div class="modal fade" id="modal-all-badges" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">All Badges</h4>
            </div>
            <div class="modal-body text-center">
                <h4>All Badges (@Helper.FormatNumber(Model.AllBadges.Count))</h4>
                @foreach (Badge badge in Model.AllBadges)
                {
                    <div class="label label-@badge.Label"><span class="@badge.Icon"></span> @badge.Type.GetDisplayName()</div>
                }
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>