﻿@model ProfileViewModel

<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl("Cards/Inactive.png")" alt="This user could not be found." title="This user could not be found.">
        <div>
            <h5>Inactive Account</h5>
            <p><i><small>This user could not be found.</small></i></p>
        </div>
    </div>
</div>
<div class="large-padding-top"></div>
<div class="alert alert-warning alert-warning-coloring-gradient no-margin-bottom text-center">
    <h5>
        This user has either temporarily disabled or permanently deleted their account.
    </h5>
</div>