﻿@model ProfilePartnershipViewModel
<div id="profilePartialView">
    <div class="gray-container">
        You can see how much your partnership with <b><a href="/User/@Model.PartnershipUser.Username">@Model.PartnershipUser.Username</a></b> has earned you to date or you can end your partnership.
    </div>
    <h5>Current Partnership</h5>
    <div class="alert alert-danger">
        You're currently in a partnership with <b><a class="alert-link" href="/User/@Model.PartnershipUser.Username">@Model.PartnershipUser.Username</a></b>.
        If you'd like to end this partnership, it will cost <b>@Helper.GetFormattedPoints(5000)</b>.
        <form action="@Url.Action("EndPartnership", "Profile")" method="POST" class="padding-top" onsubmit="submitEndPartnershipForm(event, this, '@Model.User.Username');">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger @(Model.User.Points < 5000 ? "disabled" : "")">End Partnership (@Helper.GetFormattedPoints(5000))</button>
        </form>
    </div>
    <h5 class="small-padding-top">
        Total Earnings: <b class="win-green">@Helper.GetFormattedPoints(Model.PartnershipEarnings.Sum(x => x.Amount))</b>
        <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="You'll earn @Resources.Currency whenever @Model.PartnershipUser.Username wins a Stadium match against another user."></span>
    </h5>
    <div class="panel panel-primary">
        <div class="panel-heading">Last 50 Partnership Earnings</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PartnershipEarning partnershipEarning in Model.PartnershipEarnings.Take(50).ToList())
                    {
                        <tr>
                            <td data-title="Amount"><b class="win-green">@Helper.GetFormattedPoints(partnershipEarning.Amount)</b></td>
                            <td data-title="Date">@partnershipEarning.CreatedDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.PartnershipEarnings.Count == 0)
    {
        <div class="alert alert-info behind-margin-top visible-xs">
            Your partnership hasn't earned you any @Resources.Currency yet.
        </div>
    }
</div>
