﻿@model ProfileViewModel

<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl("Cards/Suspended.png")" alt="This user is suspended." title="This user is suspended.">
        <div>
            <h5>Suspended Account</h5>
            <p><i><small>This user is suspended.</small></i></p>
        </div>
    </div>
</div>
<div class="large-padding-top"></div>
<div class="alert alert-warning alert-warning-coloring-gradient no-margin-bottom text-center">
    <h5>
        This user is suspended for violating the <a class="alert-link" href="/Terms">Terms of Service</a>.
    </h5>
</div>