﻿@model DeleteAccountViewModel

<div class="gray-container">
    We're sad to see you go, @Model.User.GetFriendlyName(). If you just want to take a break from @Resources.SiteName, you can <a href="/DisableAccount">disable your account</a> instead.
</div>
<form id="deleteAccount" action="@Url.Action("Delete", "DeleteAccount")" method="POST" onsubmit="submitDeleteAccountForm(event, this);" class="large-padding-top">
    <div class="form-group">
        <label for="category">Reason for Deleting Your Account</label>
        <select class="form-control" id="reason" name="reason" onchange="showDeleteAccountInfo();" required>
            <option value="-1">@InactiveAccountReason.None.GetDisplayName()</option>
            <option value="1">@InactiveAccountReason.ConcernedAboutPrivacy.GetDisplayName()</option>
            <option value="2">@InactiveAccountReason.TooBoring.GetDisplayName()</option>
            <option value="3">@InactiveAccountReason.TooConfusing.GetDisplayName()</option>
            <option value="4">@InactiveAccountReason.TooDifficult.GetDisplayName()</option>
            <option value="5">@InactiveAccountReason.TooDistracting.GetDisplayName()</option>
            <option value="6">@InactiveAccountReason.UnusedAccount.GetDisplayName()</option>
            <option value="0">@InactiveAccountReason.Other.GetDisplayName()</option>
        </select>
    </div>
        <div id="privacy" style="display: none;">
        <div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
            <h4>Just so you know...</h4>
            <h5>
                We greatly value your privacy. Before deleting your account, you may find answers to your questions by reading our <a class="alert-link" href="/Terms">Terms of Service</a>, our <a class="alert-link" href="/Privacy">Privacy Policy</a>, or by <a class="alert-link" href="/Contact">contacting us</a>.
            </h5>
        </div>
    </div>
    <div id="boring" style="display: none;">
        <div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
            <h4>We love suggestions!</h4>
            <h5>
                We're always trying to improve @Resources.SiteName and make it fun for everyone. If you have suggestions or improvements, you can submit them at the <a class="alert-link" href="/Jobs">Job Center</a> and earn @Resources.Currency if they're chosen.
                As well, there might be a lot you haven't discovered yet. Have you tried completing your <a class="alert-link" href="/?highlightChecklist=true">checklist</a>?
            </h5>
        </div>
    </div>
    <div id="confusing" style="display: none;">
        <div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
            <h4>This might help...</h4>
            <h5>
                If you find @Resources.SiteName to be too confusing, you may want to check out our <a class="alert-link" href="/Help">Help Hub</a> first. As well, you can always <a class="alert-link" href="/Contact">contact us</a> with your questions.
                A good place to start would be following your <a class="alert-link" href="/?highlightChecklist=true">checklist</a>!
            </h5>
        </div>
    </div>
    <div id="distracting" style="display: none;">
        <div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
            <h4>Are you sure?</h4>
            <h5>
                If @Resources.SiteName is too distracting, you can always take a break and <a class="alert-link" href="/DisableAccount">disable your account</a>. Unlike deleting your account, you can come back at any time and you won't permanently lose all of your data.
                As well, you can also disable email notifications from your <a class="alert-link" href="/Preferences#email-notifications">Preferences</a>.
            </h5>
        </div>
    </div>
    <div id="other" style="display: none;">
        <div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
            <h4>Before you go...</h4>
            <h5>
                Before deleting your account, we recommend you <a class="alert-link" href="/Contact">contact us</a> so you can let us know if there's anything we can do to help improve your experience (or at least give us feedback)!
            </h5>
        </div>
    </div>
    <div class="form-group">
        <label for="info"><span class="glyphicon glyphicon-edit"></span> Additional Info</label>
        <textarea class="form-control" name="info" rows="5" id="info" placeholder="To help improve @Resources.SiteName, can you share more info?" onkeyup="updateDeleteInfoCountMessage();"></textarea>
        <h6 class="pull-right text-muted" id="deleteInfoCountMessage">500 remaining</h6>
    </div>
    <div class="form-group">
        <label for="password">Please Re-enter Your Password</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
    </div>
    <div class="text-muted padding-top large-padding-bottom">
        If you delete your account, all your data, including your @Resources.Currency, items, rankings, and earnings, will be <b>permanently unrecoverable</b>. As well, if you ever sign up for a new account, your username cannot be used again.
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Delete Account</button>
</form>