﻿@model DonationsViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Take Items</a></li>
    <li><a href="#" onclick="refreshDonationsPartialView(false);">Donate Items</a></li>
</ul>
<p>
    <div class="gray-container">
        All of the items below are generously <a href="#" onclick="refreshDonationsPartialView(false);">donated</a> by other users. You are limited to taking <b>one item</b> every <b>hour</b>.
    </div>
</p>
<h5>
    Items (@Helper.FormatNumber((Model.Items.Count)))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">Donated by <a href="/User/@item.Username">@item.Username</a></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Take", "Donations")" method="POST" onsubmit="updateDonations(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.CanTakeDonation ? "" : "disabled")">Take it!</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        The Donation Zone is empty! You can <a class="alert-link" href="#" onclick="refreshDonationsPartialView(false);">donate</a> some of your items to others.
    </div>
}