﻿@model AuctionViewModel

<div>
    @if (Model.Auctions.Count > 0)
    {
        <div class="row text-center">
            <div class="col-xs-3">
                <h5>Item</h5>
            </div>
            <div class="col-xs-4">
                <h5>Final Bid</h5>
            </div>
            <div class="col-xs-3">
                <h5>End Date</h5>
            </div>
            <div class="col-xs-2">
                <h5>Bids</h5>
            </div>
        </div>
    }
    <div class="margin-left margin-right">
        @foreach (Auction auction in Model.Auctions)
        {
            <div class="row auction-row hover-container text-center" onclick="window.location='/Auction?id=@auction.Id'">
                <div class="col-xs-3">
                    <div>
                        <img class="auction-item-dimensions" src="@Helper.GetImageUrl(auction.AuctionItem.ImageUrl)" alt="@auction.AuctionItem.Description" title="@auction.AuctionItem.Description">
                    </div>
                    <div class="text-center small-padding-top">
                        @auction.AuctionItem.Name
                    </div>
                </div>
                <div class="col-xs-4">
                    <b>@Helper.GetFormattedPoints(auction.HighestBid)</b>
                </div>
                <div class="col-xs-3">
                    @auction.EndDate.GetTimeSince()
                </div>
                <div class="col-xs-2 @(auction.BidCount > 0 ? "semi-bold" : "text-muted")">
                    @Helper.FormatNumberShortened(auction.BidCount)
                </div>
            </div>
            <div class="padding-top"></div>
        }
    </div>
    @if (Model.Auctions.Count == 0)
    {
        <h5>No Auctions</h5>
        <div class="alert alert-info">
            There are no past auctions.
        </div>
    }
    @if (Model.TotalPages > 1)
    {
        <div class="text-center">
            <ul class="pagination pagination-sm">
                @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                        <a class="page-link" href="/Auction/Past?page=@i">@(i + 1)</a>
                    </li>
                }
            </ul>
        </div>
    }
</div>