﻿@model AuctionViewModel

@if (!string.IsNullOrEmpty(Model.SearchQuery) || Model.Auctions.Count > 0)
{
    <form onsubmit="event.preventDefault(); searchAuction(0);" class="form-group padding-top">
        <div class="input-group">
            <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search auctions..." value="@Model.SearchQuery" autofocus autocomplete="off">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" onclick="searchAuction(@Model.CurrentPage);"><span class="glyphicon glyphicon-search"></span></button>
                <a class="btn btn-secondary btn-rounded" href="/Auction"><span class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
        <div class="input-group padding-top">
            <a class="collapsed clickable" data-toggle="collapse" data-target="#advanced-search">
                <span class="if-collapsed">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
                <span class="if-not-collapsed">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
                Advanced Search Options
            </a>
        </div>
        <div id="advanced-search" class="collapse">
            <div class="small-padding-top">
                <label class="checkbox-inline"><input name="matchExactSearch" id="matchExactSearch" type="checkbox" @(Model.MatchExactSearch ? "checked" : "")>Match search query exactly</label>
            </div>
            <div class="small-padding-top">
                <label for="condition">Item Category</label>
                <input type="hidden" id="itemCategoryDropdownValue" value="@(Model.SearchCategory)" />
                <select class="form-control" id="category" name="category">
                    @{ 
                        List<ItemCategory> itemCategories = Enum.GetValues(typeof(ItemCategory)).Cast<ItemCategory>().ToList();
                        itemCategories.Remove(ItemCategory.None);
                        itemCategories.Remove(ItemCategory.All);
                        <option value="@ItemCategory.All">@ItemCategory.All.GetDisplayName()</option>
                        foreach (ItemCategory itemCategory in itemCategories)
                        {
                            <option value="@itemCategory">@itemCategory.GetDisplayName()</option>
                        }
                    }
                </select>
            </div>
            <div class="small-padding-top">
                <label for="condition">Item Condition</label>
                <input type="hidden" id="itemConditionDropdownValue" value="@(Model.SearchCondition)" />
                <select class="form-control" id="condition" name="condition">
                    @{ 
                        List<ItemCondition> itemConditions = Enum.GetValues(typeof(ItemCondition)).Cast<ItemCondition>().ToList();
                        itemConditions.Remove(ItemCondition.All);
                        <option value="@ItemCondition.All">@ItemCondition.All</option>
                        foreach (ItemCondition itemCondition in itemConditions)
                        {
                            <option value="@itemCondition">@itemCondition</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
}
@if (Model.Auctions.Count > 0)
{
    <div class="row text-center">
        <div class="col-xs-3">
            <h5>Item</h5>
        </div>
        <div class="col-xs-4">
            <h5>Current Price</h5>
        </div>
        <div class="col-xs-3">
            <h5>Time Left</h5>
        </div>
        <div class="col-xs-2">
            <h5>Bids</h5>
        </div>
    </div>
}
<div class="margin-left margin-right">
    @foreach (Auction auction in Model.Auctions)
    {
        <div class="row auction-row hover-container text-center" onclick="window.location='/Auction?id=@auction.Id'">
            <div class="col-xs-3">
                <div>
                    <img class="auction-item-dimensions" src="@Helper.GetImageUrl(auction.AuctionItem.ImageUrl)" alt="@auction.AuctionItem.Description" title="@auction.AuctionItem.Description">
                </div>
                <div class="small-padding-top">
                    @auction.AuctionItem.Name
                </div>
            </div>
            <div class="col-xs-4">
                <b><span class="@(Model.User.Points >= auction.HighestBid ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(auction.HighestBid)</span></b>
            </div>
            <div class="col-xs-3">
                @auction.EndDate.GetTimeUntil()
            </div>
            <div class="col-xs-2 @(auction.BidCount > 0 ? "semi-bold" : "text-muted")">
                @Helper.FormatNumberShortened(auction.BidCount)
            </div>
        </div>
        <div class="padding-top"></div>
    }
</div>
@if (Model.Auctions.Count == 0)
{
    <h5>No Auctions</h5>
    <div class="alert alert-info">
        @if (string.IsNullOrEmpty(Model.SearchQuery))
        {
            <div>
                There are currently no active auctions. Why don't you <a class="alert-link" href="/Auction/Create">create one?</a>
            </div>
        }
        else
        {
            <div>
                No active auctions matched your search of <b>@Model.SearchQuery</b>.
            </div>
        }
    </div>
}
@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/Auction?page=@i&query=@Model.SearchQuery&matchExactSearch=@Model.MatchExactSearch&category=@Model.SearchCategory&condition=@Model.SearchCondition">@(i + 1)</a>
                </li>
            }       
        </ul>
    </div>
}