﻿@model AuctionViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Auction">All Auctions</a></li>
            <li><a href="/Auction/Create">Create Auction</a></li>
            <li><a href="/Auction/Bids">Your Auctions / Bids</a></li>
            <li class="active"><a href="/Auction/Collection">Collection <span class="label label-success">@(Model.UncollectedEarnings ? "New" : "")</span></a></li>
            <li><a href="/Auction/Past">Past Auctions</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        @if (Model.CollectPoints > 0)
        {
            <div class="padding-top">
                <h5>
                    @Resources.Currency
                    <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="All @Resources.Currency earnings have a 10% tax applied."></span>
                </h5>
                <b class="win-green medium-font">@Helper.GetFormattedPoints(Model.CollectPoints)</b>
            </div>
        }
        <h5>Items (@Helper.FormatNumber(Model.CollectItems.Count))</h5>
        <div class="grid-container grid-container--fit">
            @foreach (Item item in Model.CollectItems)
            {
                <div class="grid-container-no-padding grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                        <div>
                            <h5>@item.Name</h5>
                            <p><i><small>@item.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        @if (item.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                            </div>
                        }
                        <div>
                            <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                        </div>
                        <div>
                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                <small>
                                    @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.CollectItems.Count == 0)
        {
            <div class="alert alert-info small-margin-bottom">
                You have no items @(Model.CollectPoints == 0 ? $"or {Resources.Currency}" : "") to collect at this time.
            </div>
        }
        @if (Model.CollectPoints > 0 || Model.CollectItems.Count > 0)
        {
            <form action="@Url.Action("CollectEarnings", "Auction")" method="POST" onsubmit="submitCollectAuctionForm(event, this);" class="@(Model.CollectItems.Count > 0 ? "padding-top" : "")">
                @Html.AntiForgeryToken()
                <div class="padding-top">
                    <button type="submit" class="btn btn-success">Collect Earnings</button>
                </div>
            </form>
        }
    </div>
</div>
