﻿@model AuctionViewModel

<h5 class="inline small-margin-bottom">@Html.Raw(Model.CurrentAuction.IsFinished() ? "<span class='lose-red'>Auction Ended</span>" : $"{Model.CurrentAuction.EndDate.GetTimeUntil()} remaining")</h5>
@if (Model.CurrentAuction.Username == Model.User.Username && Model.CurrentAuction.Bids.Count == 0 && !Model.CurrentAuction.IsFinished())
{
    <a class="pull-right lose-red big-font clickable" onclick="deleteAuction('@Model.CurrentAuction.Id')" data-toggle="tooltip" data-placement="top" title="End Auction"><span class="glyphicon glyphicon-remove"></span></a>
}
<h5 class="small-margin-top text-muted">Created by <a href="/User/@Model.CurrentAuction.Username">@Model.CurrentAuction.Username</a></h5>
<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.CurrentAuction.AuctionItem.ImageUrl)" alt="@Model.CurrentAuction.AuctionItem.Description" title="@Model.CurrentAuction.AuctionItem.Description">
        <div>
            <h5>@Model.CurrentAuction.AuctionItem.Name</h5>
            <p><i><small>@Model.CurrentAuction.AuctionItem.Description</small></i></p>
        </div>
    </div>
    <div>
        <div>
            <small class="semi-bold">@(Model.CurrentAuction.AuctionItem.Uses > 0 ? $"{Model.CurrentAuction.AuctionItem.Uses} Use{(Model.CurrentAuction.AuctionItem.Uses != 1 ? "s" : "")} {(Model.CurrentAuction.AuctionItem.TotalUses <= Model.CurrentAuction.AuctionItem.Uses ? "" : " Left")}" : "")</small>
        </div>
        <div>
            @if (Model.CurrentAuction.AuctionItem.Tier > RelicId.None)
            {
                <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.CurrentAuction.AuctionItem.Tier Relic.">
                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.CurrentAuction.AuctionItem.Tier}.png")" />
                </div>
            }
            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(Model.CurrentAuction.AuctionItem.GetAgeInHours()) hour@(Model.CurrentAuction.AuctionItem.GetAgeInHours() == 1 ? "" : "s") old">
                <small>
                    @Model.CurrentAuction.AuctionItem.Category <span class="@Helper.GetItemConditionColor(Model.CurrentAuction.AuctionItem.Condition)">@(Model.CurrentAuction.IsFinished() ? "" : $"({Model.CurrentAuction.AuctionItem.Condition})")</span>
                </small>
            </span>
        </div>
        <div>
            <small>Price: <b><span class="@(Model.User.Points >= (Model.CurrentAuction.HighestBidder == Model.User.Username ? Model.CurrentAuction.MinBidIncrement : Model.CurrentAuction.HighestBid) ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(Model.CurrentAuction.HighestBid)</span></b></small>
        </div>
    </div>
</div>
@if (!Model.CurrentAuction.IsFinished() && Model.CurrentAuction.Username != Model.User.Username)
{
    <form action="@Url.Action("SubmitBid", "Auction")" method="POST" onsubmit="submitBidAuctionForm(event, this, '@Model.CurrentAuction.Id');" class="extra-large-padding-top">
        <div class="form-group">
            <input type="hidden" name="auctionId" value="@Model.CurrentAuction.Id" />
            <div class="form-group">
                <label for="bidAmount">
                    @if (Model.CurrentAuction.HighestBidder == Model.User.Username)
                    {
                        <span>How much would you like to add to your current bid? (At least @Helper.GetFormattedPoints(Model.CurrentAuction.MinBidIncrement))</span>
                    }
                    else
                    {
                        <span>How much would you like to bid on this item? (You must bid at least @Helper.GetFormattedPoints(Model.CurrentAuction.HighestBid + +(Model.CurrentAuction.Bids.Count == 0 ? 0 : Model.CurrentAuction.MinBidIncrement)))</span>
                    }
                </label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                    <input type="number" class="form-control" id="bidAmount" min="@(Model.CurrentAuction.HighestBidder == Model.User.Username ? Model.CurrentAuction.MinBidIncrement : Model.CurrentAuction.HighestBid + (Model.CurrentAuction.Bids.Count == 0 ? 0 : Model.CurrentAuction.MinBidIncrement))" name="bidAmount" placeholder="Bid Amount" autofocus required>
                    <span class="input-group-btn"><button type="submit" class="btn btn-success btn-rounded">Place Bid</button></span>
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
}
@if (Model.CurrentAuction.Bids.Count > 0)
{
    <div class="extra-large-padding-top"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">Bids (@Helper.FormatNumber(Model.CurrentAuction.Bids.Count))</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bidder</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Bid bid in Model.CurrentAuction.Bids.Take(15))
                    {
                        <tr id="@bid.Username">
                            <td data-title="Bidder"><span data-toggle="tooltip" data-placement="top" title="@(Model.CurrentAuction.Bids?.First().Username == Model.User.Username ? "Winning Bidder" : "")"><span class="@(Model.CurrentAuction.Bids?.First().Username == bid.Username ? "fas fa-trophy gold-color" : "")"></span></span> <a href="/User/@bid.Username">@bid.Username</a></td>
                            <td data-title="Amount"><b class="win-green">@Helper.GetFormattedPoints(bid.Points)</b></td>
                            <td data-title="Date">@bid.BidDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (Model.CurrentAuction.Bids.Count == 0)
{
    <h5>Bids</h5>
    <div class="alert alert-info">
        @(Model.CurrentAuction.IsFinished() ? "No bids were placed during this auction." : "There are no bids on this item yet.")
    </div>
}
