﻿@model AuctionViewModel
<h5>Auction your item</h5>

<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.SelectedItem.ImageUrl)" alt="@Model.SelectedItem.Description" title="@Model.SelectedItem.Description">
        <div>
            <h5>@Model.SelectedItem.Name</h5>
            <p><i><small>@Model.SelectedItem.Description</small></i></p>
        </div>
    </div>
    <div>
        <div>
            <small class="semi-bold">@(Model.SelectedItem.Uses > 0 ? $"{Model.SelectedItem.Uses} Use{(Model.SelectedItem.Uses != 1 ? "s" : "")} {(Model.SelectedItem.TotalUses <= Model.SelectedItem.Uses ? "" : " Left")}" : "")</small>
        </div>
        <div>
            @if (Model.SelectedItem.Tier > RelicId.None)
            {
                <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.SelectedItem.Tier Relic.">
                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.SelectedItem.Tier}.png")" />
                </div>
            }
            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(Model.SelectedItem.GetAgeInHours()) hour@(Model.SelectedItem.GetAgeInHours() == 1 ? "" : "s") old">
                <small>
                    @Model.SelectedItem.Category <span class="@Helper.GetItemConditionColor(Model.SelectedItem.Condition)">(@Model.SelectedItem.Condition)</span>
                </small>
            </span>
        </div>
        <div>
            <small><b>~@Helper.GetFormattedPoints(Model.SelectedItem.Points)</b></small>
        </div>
    </div>
</div>
<form action="@Url.Action("CreateAuction", "Auction")" method="POST" onsubmit="submitCreateAuctionForm(event, this);" class="padding-top">
    <div class="form-group">
        <input type="hidden" name="selectionId" value="@Model.SelectedItem.SelectionId" />
        <div class="form-group">
            <label for="points">Starting Price</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                <input type="number" class="form-control" id="points" min="1" max="9500000" name="points" placeholder="Starting Price (@Resources.Currency)" autofocus required>
            </div>
        </div>
        <div class="form-group">
            <label for="minBidIncrement">Minimum Bid Increment</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                <input type="number" class="form-control" id="minBidIncrement" min="1" max="1000000" name="minBidIncrement" placeholder="Min. Bid Increment (@Resources.Currency)" value="1" autofocus required>
            </div>
        </div>
        <div class="form-group">
            <label for="length">Auction ends in...</label>
            <select class="form-control" id="length" name="length" required>
                <option value="1">1 hour</option>
                <option value="4">4 hours</option>
                <option value="12">12 hours</option>
                <option value="24">1 day</option>
                <option value="48">2 days</option>
                <option value="72">3 days</option>
                <option value="168">1 week</option>
            </select>
        </div>
    </div>
    @Html.AntiForgeryToken()
    <div>
        <h6 class="text-muted small-margin-bottom">
            You <b>cannot</b> end an auction before its time expires once there's at least <b>1 bid</b>. The Auction House will apply a <b>10% tax</b> on any @Resources.Currency you earn from an auction.
        </h6>
    </div>
    <div class="padding-top">
        <button type="submit" class="btn btn-success">Create Auction</button>
        <a href="#" class="btn btn-secondary" onclick="refreshAuctionCreatePartialView();">Never mind</a>
    </div>
</form>