﻿@model AuctionViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Auction">All Auctions</a></li>
            <li><a href="/Auction/Create">Create Auction</a></li>
            <li class="active"><a href="/Auction/Bids">Your Auctions / Bids</a></li>
            <li><a href="/Auction/Collection">Collection <span class="label label-success">@(Model.UncollectedEarnings ? "New" : "")</span></a></li>
            <li><a href="/Auction/Past">Past Auctions</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        @if (Model.Auctions.Count > 0)
        {
            <div class="row text-center">
                <div class="col-xs-3">
                    <h5>Item</h5>
                </div>
                <div class="col-xs-4">
                    <h5>Current Price</h5>
                </div>
                <div class="col-xs-3">
                    <h5>Time Left</h5>
                </div>
                <div class="col-xs-2">
                    <h5>Bids</h5>
                </div>
            </div>
        }
        <div class="margin-left margin-right">
            @foreach (Auction auction in Model.Auctions)
            {
                <div class="row auction-row hover-container text-center" onclick="window.location='/Auction?id=@auction.Id'">
                    <div class="col-xs-3">
                        <div>
                            <img class="auction-item-dimensions" src="@Helper.GetImageUrl(auction.AuctionItem.ImageUrl)" alt="@auction.AuctionItem.Description" title="@auction.AuctionItem.Description">
                        </div>
                        <div class="text-center small-padding-top">
                            @auction.AuctionItem.Name
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <span data-toggle="tooltip" data-placement="top" title="@(auction.Username == Model.User.Username ? "" : auction.TopBidder == Model.User.Username ? "Winning Bidder" : "Losing Bidder")"><span class="@(auction.Username == Model.User.Username ? "" : auction.TopBidder == Model.User.Username ? "fas fa-trophy gold-color" : "fas fa-trophy lose-red")"></span></span> <b>@Helper.GetFormattedPoints(auction.HighestBid)</b>
                    </div>
                    <div class="col-xs-3">
                        @Html.Raw(auction.IsFinished() ? "<span class='lose-red'>Auction Ended</a>" : $"{auction.EndDate.GetTimeUntil()}")
                    </div>
                    <div class="col-xs-2 @(auction.BidCount > 0 ? "semi-bold" : "text-muted")">
                        @Helper.FormatNumberShortened(auction.BidCount)
                    </div>
                </div>
                <div class="padding-top"></div>
            }
        </div>
        @if (Model.Auctions.Count == 0)
        {
            <h5>No Auctions</h5>
            <div class="alert alert-info">
                You haven't created or bid on any auctions.
            </div>
        }
        @if (Model.TotalPages > 1)
        {
            <div class="text-center">
                <ul class="pagination pagination-sm">
                    @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                            <a class="page-link" href="/Auction/Bids?page=@i">@(i + 1)</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>