﻿@model AuctionViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Auction">All Auctions</a></li>
            <li class="active"><a href="/Auction/Create">Create Auction</a></li>
            <li><a href="/Auction/Bids">Your Auctions / Bids</a></li>
            <li><a href="/Auction/Collection">Collection <span class="label label-success">@(Model.UncollectedEarnings ? "New" : "")</span></a></li>
            <li><a href="/Auction/Past">Past Auctions</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="auctionCreatePartialView">
            @await Html.PartialAsync("_AuctionCreateSelectPartial", Model)
        </div>
    </div>
</div>