﻿@model AuctionViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/Auction">All Auctions</a></li>
            <li><a href="/Auction/Create">Create Auction</a></li>
            <li><a href="/Auction/Bids">Your Auctions / Bids</a></li>
            <li><a href="/Auction/Collection">Collection <span class="label label-success">@(Model.UncollectedEarnings ? "New" : "")</span></a></li>
            <li><a href="/Auction/Past">Past Auctions</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="auctionPartialView">
            @if (Model.CurrentAuction == null)
            {
                @await Html.PartialAsync("_AuctionAllPartial", Model)
            }
            else
            {
                @await Html.PartialAsync("_AuctionIdPartial", Model)
            }
        </div>
    </div>
</div>