﻿@model TopAdoptionsViewModel

<div class="gray-container">
    Sometimes @Resources.SiteName users <b>no longer</b> want to keep their Companion. You can pay to <b>adopt</b> a Companion that was given up. When adopted, their color, name, and level will be transferred with them.
</div>
<h5>Companions (@Helper.FormatNumber(Model.Companions.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (Companion companion in Model.Companions)
    {
        <div id="@companion.Id" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="companion-dimensions" src="@Helper.GetImageUrl(companion.GetImageUrl())">
                <div>
                    <h5>@companion.Name @(companion.IsAsleep() ? "(Asleep)" : "") </h5>
                </div>
            </div>
            <div>
                <div><small class="text-muted"><span class="fas fa-medal"></span> Level @Helper.FormatNumber(companion.Level + 1)</small></div>
                <small>Cost: <b class="@(Model.User.Points >= companion.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(companion.Points)</b></small>
                <div class="small-padding-top">
                    <form action="@Url.Action("Adopt", "TopAdoptions")" method="POST" onsubmit="updateTopCompanions(event, this);">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="companionId" value="@companion.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= companion.Points ? "" : "disabled")">Adopt</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Companions.Count == 0)
{
    <div class="alert alert-info">
        Hooray! No Companions are currently up for adoption!
    </div>
}