﻿@model TopAdoptionsViewModel

@if (Model.IsCellarUnlocked)
{
    <div class="gray-container">
        You unlocked the Cellar and can now access the <b>Cellar Store</b>! You can buy one perk from Jamie the Mole-Rat every <b>6 hours</b>!
    </div>
    <h5>Items (@Helper.FormatNumber(Model.CellarStoreItems.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (CellarStoreItem item in Model.CellarStoreItems)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img width="102" height="75" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p>
                            <i><small>@item.Description</small></i>
                        </p>
                    </div>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b>
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("GetCellarItem", "TopAdoptions")" method="POST" onsubmit="updateTopCompanions(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.CanBuyCellarStoreItem && Model.User.Points >= item.Points ? "" : "disabled")">Get it!</button>
                    </form>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="gray-container">
        At the back of Top Adoptions is a locked door to the Cellar. You'll need all <b>6 Key Cards</b> to open it and gain access to what's down below.
    </div>
    <h5>Key Cards (@Helper.FormatNumber(Model.KeyCards.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (KeyCard item in Model.KeyCards)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                    </div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.KeyCards.Count == 0)
    {
        <div class="alert alert-info">
            You have no Key Cards in your bag. You can find them around @Resources.SiteName. When you collect a full set of <b>6 Key Cards</b>, you'll be able to open the Cellar!
        </div>
    }
    else if (Model.KeyCards.GroupBy(x => x.Piece).ToList().Count == 6)
    {
        <form action="@Url.Action("OpenCellarDoor", "TopAdoptions")" method="POST" onsubmit="updateTopCompanions(event, this, true)" class="large-padding-top">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Open Door!</button>
        </form>
    }
}