﻿@model TopAdoptionsViewModel

<p>
    <ul class="nav nav-tabs nav-justified">
        <li><a href="@Url.Action("Index", "TopAdoptions")">Top Adoptions</a></li>
        <li class="active"><a href="#">Cellar</a></li>
    </ul>
</p>
<div id="topAdoptionsPartialView">
    @await Html.PartialAsync("_TopAdoptionsCellarPartial", Model)
</div>