﻿@model TopAdoptionsViewModel

<p>
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#">Top Adoptions</a></li>
        <li><a href="@Url.Action("Cellar", "TopAdoptions")">Cellar</a></li>
    </ul>
</p>
<div id="topAdoptionsPartialView">
    @await Html.PartialAsync("_TopAdoptionsMainPartial", Model)
</div>