﻿@model AboutViewModel

<div class="jumbotron jumbotron-fluid animated fadeInUp">
    <div class="container">
        <h2 class="small-margin-bottom animated fadeInDown">
            <img class="behind-small-margin-top" src="@Helper.GetImageUrl("Global/Logo.png")" width="45" height="45" title="@Resources.SiteName" alt="@Resources.SiteName" />
            Welcome to @Resources.SiteName!
        </h2>
        <p class="big-font">Earn rare and powerful cards, explore and build your Deck, and win against others at the Stadium!</p>
        <div class="scrolling-wrapper">
            <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
            <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
            <div class="scrolling-container">
                @foreach(Item item in Model.DisplayItems)
                {
                    <div class="scrolling-grid-element text-center animated bounceIn @(Model.Authenticated ? "" :  "clickable grow grow-mobile")" onclick="@(Model.Authenticated ? "" : "window.location.href='/'")">
                        <div>
                            <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                            <div>
                                <h5>@item.Name</h5>
                                <i><small>@item.Description</small></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="large-padding-top"></div>
        <p class="lead">
            @if (!Model.Authenticated)
            {
                <a class="btn btn-success" href="/" role="button">
                    <span class="fas fa-play"></span>
                    <span class="semi-bold">Choose Your Cards!</span>
                </a>
                <span class="visible-xs padding-top"></span>
            }
            <a class="btn btn-primary no-load-btn" href="#" onclick="loadTutorialModal();" role="button">
                <span class="fas fa-info-circle"></span>
                <span class="semi-bold">More Info</span>
            </a>
        </p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid animated fadeInUp delay-0-5s">
    <div class="container">
        <h2>Some Numbers</h2>
        <p class="big-font">@Resources.SiteName is constantly growing with new users!</p>
        <div class="grid-container bigger-grid-container--fit">
            <div class="grid-container-no-padding panel panel-primary animated bounceIn text-center @(Model.Authenticated ? "" :  "clickable grow grow-mobile")" onclick="@(Model.Authenticated ? "" : "window.location.href='/'")">
                <div class="panel-heading">
                    <h5 class="no-margin-top no-margin-bottom">
                        Total Users
                    </h5>
                </div>
                <div class="panel-body primary-container">
                    <h2 class="win-green no-margin-top">
                        <b class="about-counter" data-count="@Model.Statistics.UsersCount">0</b>
                    </h2>
                </div>
            </div>
            <div class="grid-container-no-padding panel panel-primary animated bounceIn text-center @(Model.Authenticated ? "" :  "clickable grow grow-mobile")" onclick="@(Model.Authenticated ? "" : "window.location.href='/'")">
                <div class="panel-heading">
                    <h5 class="no-margin-top no-margin-bottom">
                        Items Owned
                    </h5>
                </div>
                <div class="panel-body primary-container">
                    <h2 class="win-green no-margin-top">
                        <b class="about-counter" data-count="@Model.Statistics.ItemsCount">0</b>
                    </h2>
                </div>
            </div>
            <div class="grid-container-no-padding panel panel-primary animated bounceIn text-center @(Model.Authenticated ? "" :  "clickable grow grow-mobile")" onclick="@(Model.Authenticated ? "" : "window.location.href='/'")">
                <div class="panel-heading">
                    <h5 class="no-margin-top no-margin-bottom">
                        Matches Played
                    </h5>
                </div>
                <div class="panel-body primary-container">
                    <h2 class="win-green no-margin-top">
                        <b class="about-counter" data-count="@Model.Statistics.StadiumMatchesCount">0</b>
                    </h2>
                </div>
            </div>
            <div class="grid-container-no-padding panel panel-primary animated bounceIn text-center @(Model.Authenticated ? "" :  "clickable grow grow-mobile")" onclick="@(Model.Authenticated ? "" : "window.location.href='/'")">
                <div class="panel-heading">
                    <h5 class="no-margin-top no-margin-bottom">
                        Accumulated @Resources.Currency
                    </h5>
                </div>
                <div class="panel-body primary-container">
                    <h2 class="win-green no-margin-top">
                        <b class="about-counter" data-count="@Model.Statistics.PointsAmount">0</b>
                    </h2>
                </div>
            </div>
        </div>
        <div class="padding-top"></div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid animated fadeInUp delay-1s small-margin-bottom">
    <div class="container">
        <h2>The Team</h2>
        <p class="big-font">@Resources.SiteName is made up of a passionate team that would love to hear from you!</p>
        <p class="lead">
            <a class="btn btn-primary" href="/Contact" role="button"><span class="semi-bold">Send us feedback!</span></a>
            @if (Model.Authenticated && Model.User.Role < UserRole.Helper)
            {
                 <span class="visible-xs padding-top"></span>
                 <a class="btn btn-success" href="/Jobs/Helpers" role="button"><span class="semi-bold">Apply to become a Helper!</span></a>
            }
        </p>
        <div class="padding-top"></div>
    </div>
</div>
@await Html.PartialAsync("../Tutorial/_TutorialPartial", Model)
