﻿@model LuckyGuessViewModel

<div id="pyro-container" class="container container-pyro" style="display: none;">
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
    </div>
</div>
<div class="gray-container">
    Once every <b>6 hours</b>, you can guess which chest has the <b class="win-green">hidden treasure</b>. The <b>quicker</b> the treasure is found, the more it'll be <b>worth</b>. If you find it before everyone else, you'll get to <b>keep</b> it! 
</div>
<h5 id="available-chests">Chests Available (@Helper.FormatNumber(Model.Chests.Count(x => string.IsNullOrEmpty(x.Username)))/50)</h5>
<div class="grid-container grid-container--fit">
    @foreach (LuckyGuess chest in Model.Chests)
    {
        <div class="grid-container-no-padding grid-element text-center @(string.IsNullOrEmpty(chest.Username) && Model.CanPlay ? "clickable grow grow-mobile" : "") @(Model.CanPlay ? "" : "faded") @(!string.IsNullOrEmpty(chest.Username) ? "lose-red-border" : "")" onclick="@(string.IsNullOrEmpty(chest.Username) ? $"revealLuckyGuessChest({chest.Position});" : "")">
            <div>
                @if (string.IsNullOrEmpty(chest.Username))
                {
                    <img class="lucky-guess-chest-dimensions" src="@Helper.GetImageUrl("Locations/LuckyGuess.png")">
                }
                else
                {
                    <h5 class="extra-large-margin-top"><a href="/User/@chest.Username">@chest.Username</a></h5>
                }
            </div>
        </div>
    }
</div>
@if (Model.PastWinners.Count > 0)
{
    <div class="large-padding-top"></div>
    <div class="panel panel-success">
        <div class="panel-heading">Recent Winners</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Position</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (LuckyGuess luckyGuess in Model.PastWinners.Take(10))
                    {
                        <tr>
                            <td data-title="Username"><a href="/User/@luckyGuess.Username">@luckyGuess.Username</a></td>
                            <td data-title="Position">@Helper.FormatNumber(luckyGuess.Position + 1)</td>
                            <td data-title="Date">@luckyGuess.CreatedDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}