﻿@model NoticeBoardViewModel

<div class="gray-container">
    There's a new task! You have <b>@Model.ExpiryDate.GetTimeUntil()</b> left to own an item in your bag that matches the following requirements and you'll earn <b class="win-green">@Helper.GetFormattedPoints(Model.Task.Reward)</b> if you do!
</div>
<h5>Task Requirements</h5>
<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.Item.ImageUrl)" alt="@Model.Item.Description" title="@Model.Item.Description">
        <div>
            <h5>@Model.Item.Name</h5>
            <p><i><small>@Model.Item.Description</small></i></p>
        </div>
    </div>
    <div>
         @if (Model.Item.Tier > RelicId.None)
        {
            <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.Item.Tier Relic.">
                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.Item.Tier}.png")" />
            </div>
        }
        <div>
            <small class="semi-bold">@(Model.Item.TotalUses > 0 ? (Model.Task.HasTotalUses ? $"{Model.Item.TotalUses} Use{(Model.Item.TotalUses != 1 ? "s" : "")}" : "Any Uses Left") : "")</small>
        </div>
        <div>
            <small>
                @Model.Item.Category <span class="@Helper.GetItemConditionColor(Model.Task.ItemCondition)">(@Model.Task.ItemCondition)</span>
            </small>
        </div>
    </div>
</div>
<div class="large-padding-top"></div>
<div class="panel panel-primary margin-top large-margin-bottom">
    <div class="panel-heading">
        <h5 class="small-margin-top small-margin-bottom">
            Requirements
        </h5>
    </div>
    <div class="panel-body primary-container">
        <ul>
            <li class="small-padding-top">
                The item needs to be in your bag.
            </li>
            <li>
                Must be the item <b>@Model.Item.Name</b>.
            </li>
            @if (Model.Task.HasTotalUses)
            {
                <li>
                    Must have <b>@Model.Item.TotalUses use@(Model.Item.TotalUses != 1 ? "s" : "")</b> or more.
                </li>
            }
            <li>
                @if (Model.Task.IsExactCondition)
                {
                    <span>
                        Must have the condition <b class="@Helper.GetItemConditionColor(Model.Task.ItemCondition)">@Model.Task.ItemCondition</b>.
                    </span>
                }
                else
                {
                    <span>
                        Can have the condition <b class="@Helper.GetItemConditionColor(Model.Task.ItemCondition)">@Model.Task.ItemCondition</b> or better.
                    </span>
                }
            </li>
            <li>
                @{
                    int totalDays = (int)((DateTime.UtcNow - Model.Task.ItemCreatedDate).TotalDays - (DateTime.UtcNow - Model.Task.CreatedDate).TotalDays);
                    int totalHours = (int)((DateTime.UtcNow - Model.Task.ItemCreatedDate).TotalHours - (DateTime.UtcNow - Model.Task.CreatedDate).TotalHours);
                }
                Must be at least <b>@Helper.FormatNumber(totalDays) day@(totalDays == 1 ? "" : "s") (@Helper.FormatNumber(totalHours) hour@(totalHours == 1 ? "" : "s"))</b> old.
            </li>
        </ul>
        <div class="small-margin-bottom extra-extra-large-margin-left">
            Reward: <b class="win-green">@Helper.GetFormattedPoints(Model.Task.Reward)</b>
        </div>
    </div>
</div>
<h5>
    Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
@if (Model.Items.Count > 0)
{
    <div class="gray-container">
        You can exchange @(Model.Items.Count == 1 ? "your item" : "any of your items") below to complete the task and earn <b class="win-green">@Helper.GetFormattedPoints(Model.Task.Reward)</b>.
    </div>
    <div class="padding-top"></div>
}
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("CompleteTask", "NoticeBoard")" method="POST" onsubmit="updateNoticeBoard(event, this)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs">Complete Task</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        You have no items that match all the requirements. Items that are in your Deck cannot be used.
    </div>
}
