﻿@model PrivacyViewModel

<div class="row">
    <nav class="col-sm-3 hidden-xs" id="policyScrollSpy">
        <ul id="sidePolicyNav" class="nav nav-pills nav-stacked large-padding-top semi-bold">
            <li><a class="clickable" onclick="scrollToId('data');">Collected Data</a></li>
            <li><a class="clickable" onclick="scrollToId('using-info');">Using Information</a></li>
            <li><a class="clickable" onclick="scrollToId('shared-info');">Shared Information</a></li>
            <li><a class="clickable" onclick="scrollToId('stored-info');">Stored Information</a></li>
            <li><a class="clickable" onclick="scrollToId('choices');">Your Choices</a></li>
            <li><a class="clickable" onclick="scrollToId('other-info');">Other Information</a></li>
        </ul>
    </nav>
    <div class="col-sm-9">
        <div class="alert alert-info no-margin-bottom">
            This Privacy Policy explains how @Resources.SiteName ("us" or "we") collects, uses, shares, and protects your information when you interact with us.
            This Policy applies to anyone who uses or accesses @Resources.SiteName.
        </div>
        <div id="data" class="anchor-fix">
            <h3>Collected Data</h3>
            <h5>Information You Provide Us</h5>
            <ul>
                <li>
                    Your username, password, and email when you sign up for an account. We also store your account preferences and settings.
                </li>
                <li>
                    Any information you choose to add to your profile including your bio, location, and gender.
                </li>
                <li>
                    Any content you submit including posts, articles, or messages with other users. This may also include reports you send to us about other users.
                </li>
                <li>
                    Any actions you take including buying, trading, selling, or owning virtual items or currency, blocking users, setting account preferences, or any communications between you and us.
                </li>
            </ul>
            <h5>Information We Automatically Collect</h5>
            <ul>
                <li>
                    We may log usage data when you use and access @Resources.SiteName such as your IP address, browser type, page visits, links clicked, and device information.
                </li>
                <li>
                    We use third-party analytic tools to help us measure usage and traffic trends on @Resources.SiteName. We collect analytic information from other users so it cannot be used to identify any individual user.
                </li>
                <li>
                    We may receive information from cookies. Cookies are small pieces of data stored in your browser sent by us. Cookies are used to improve your experience, personalize content, and improve the quality of @Resources.SiteName.
                    Please note that if you set your browser to disable cookies, you may be unable to access certain parts of @Resources.SiteName.
                </li>
                <li>
                    We may derive your approximate location from other information about you including your IP address.
                </li>
            </ul>
        </div>
        <div id="using-info" class="anchor-fix">
            <h3>Using Information</h3>
            We may use information we receive about you to:
            <ul class="small-padding-top">
                <li>
                    Help you access information when you sign in
                </li>
                <li>
                    Remember your information so you don't have to enter it again the next time you visit @Resources.SiteName
                </li>
                <li>
                    Research and develop new functionality and features
                </li>
                <li>
                    Keep @Resources.SiteName secure and safe by suspending suspected spammers, diagnosing technology problems, and enforcing the Terms of Service
                </li>
                <li>
                    Improve and test the effectiveness of @Resources.SiteName
                </li>
                <li>
                    Monitor metrics such as traffic, demographics, and usage with @Resources.SiteName
                </li>
                <li>
                    Provide personal content, features, information, and advertisements to you and other users
                </li>
            </ul>
        </div>
        <div id="shared-info" class="anchor-fix">
            <h3>Shared Information</h3>
            <h5>Sharing With Other Users</h5>
            <ul>
                <li>
                    We may share information with other users that you willingly give including your profile information, earned accomplishments, and posts.
                    When you post something to @Resources.SiteName, other users can see that content along with your username and the date you posted it.
                </li>
                <li>
                    When you send private messages, the recipients of the messages will be able to see your message, your username, and the date you sent that message.
                    As well in group messages, everyone in that group can see your message.
                </li>
                <li>
                    When other users or visitors view your profile, they will be able to see information about your use on @Resources.SiteName including your profile information, earned accomplishments, @Resources.Currency on hand, and the date you joined @Resources.SiteName.
                </li>
                <li>
                    When you perform certain actions including donating an item, creating an auction, or setting up a trade, your username will be attached to that action and will be viewable by all other users on @Resources.SiteName.
                </li>
                <li>
                    If you delete your account, certain posts, comments, and other information may still be viewable or exist on our servers.
                </li>
            </ul>
            <h5>Sharing With Third-Parties</h5>
            We will never share, sell, or give away your personal information to third-parties except in the following situations:
            <ul class="small-padding-top">
                <li>
                    We may share your information with third-parties that help us provide @Resources.SiteName to you. Third-parties will only gain access to your information as is necessary to provide functionality to you.
                    We may remove parts of the data that can be used to identify you.
                </li>
                <li>
                    We may share your information if required to do so by the law and this may include, but not limited to, meeting national security or law enforcement requirements.
                    To the extent required by the law, we will attempt to provide you with prior notice before disclosing any information.
                </li>
                <li>
                    We may share your information in an emergency if it's believed to be necessary to prevent death, serious injury, or harm to a person or prevent or address fraud or another illegal activity.
                </li>
                <li>
                    We may share your information to protect the rights, property, and safety of @Resources.SiteName, its staff, and others.
                </li>
                <li>
                    We may share your information with your consent.
                </li>
                <li>
                    We may share your information if it is anonymous. For example, showing the total amount of users on @Resources.SiteName without identifying the individual users.
                </li>
                <li>
                    If you purchase Virtual Goods (such as Sponsor Coins), we may share your payment information with third-party services that are responsible for processing the payment.
                </li>
                <li>
                    Third-party vendors may use cookies to serve ads to you based on your prior visits to @Resources.SiteName or other websites. You may opt out of personalized advertising by visiting <a href="https://adssettings.google.com/">Ads Settings</a>.
                </li>
            </ul>
            <h5>Change of Control</h5>
            <ul>
                <li>
                    In the event, we sell or transfer a part or the whole of @Resources.SiteName, your information (including your username and email address) and other information we collected may be among the items sold or transferred.
                    The buyer or transferee will have to honor the commitments made in this Privacy Policy.
                </li>
            </ul>
        </div>
        <div id="stored-info" class="anchor-fix">
            <h3>Stored Information</h3>
            <ul>
                <li>
                    Information we collect may be stored and processed in the United States or any other country in which @Resources.SiteName performs its operations.
                </li>
                <li>
                    We may transfer your information to other countries or jurisdictions around the world.
                </li>
                <li>
                    By signing up with and using @Resources.SiteName, you consent to the transfer of information to the United States or any other country that @Resources.SiteName performs its operations.
                    You also consent to the use and disclosure of information as outlined in this Privacy Policy.
                </li>
                <li>
                    We have security and protection in place to keep your data safe and secure. We cannot guarantee the security of your information and we cannot guaratee that any information @Resources.SiteName stores may not be accessed, disclosed, altered, or destroyed.
                </li>
                <li>
                    If a security breach does occur, we will attempt to notify you when we become aware of the issue.
                </li>
                <li>
                    We are not responsible for the security or privacy of any other companies or organizations.
                </li>
            </ul>
        </div>
        <div id="choices" class="anchor-fix">
            <h3>Your Choices</h3>
            <h5>Changing Your Information</h5>
            <ul>
                <li>
                    You may change your account information by logging in and visiting your Preferences page. You may also disable email notifications in your Preferences.
                </li>
            </ul>
            <h5>Deleting Your Account</h5>
            <ul>
                <li>
                    You may delete or disable your account at any time from your Preferences page. When you delete your account, your profile is no longer available to other users.
                    Please note that certain comments, posts, and messages you submitted prior to deleting your account may still be visible to other users. We also retain certain information about you as required by the law after you delete your account.
                </li>
            </ul>
            <h5>Cookies</h5>
            <ul>
                <li>
                    Most browsers enable cookies by default. You can choose to set your browser to disable cookies. Please note that if you disable cookies, certain parts of @Resources.SiteName may not work or be available as intended.
                </li>
            </ul>
            <h5>Data Retention</h5>
            <ul>
                Following the deletion of your account, we may retain your profile information for a reasonable amount of time for backup or archival purposes or as required by the law.
            </ul>
            <h5>EEA Users</h5>
            <ul>
                <li>
                    Users in the European Economic Area have the right to request access to, rectification of, or deletion of their personal data. These rights can be exercise by using the information provided above or using the contact information provided at the end of this Privacy Policy.
                    EEA users also have the right to make a complaint with their local supervisory authority.
                </li>
                <li>
                    We process and collect information about users in the EEA only if you have either consented for us to do so, we need to process the information to provide you @Resources.SiteName, it is necessary to enforce our legal rights or interests, or to comply with the law.
                </li>
            </ul>
        </div>
        <div id="other-info" class="anchor-fix">
            <h3>Other Information</h3>
            <h5>Children</h5>
            <ul>
                <li>
                    Children under the age of 13 are not allowed to sign up for an account or use @Resources.SiteName. As well, if you are in the EEA, you must be over the age required by the laws of your country to create an account. Otherwise, we need to receive verifiable consent from your parent or legal guardian.
                </li>
                <li>
                    If we learn that we have collected information from a child under the age of 13 without parental consent, we will delete that information as quickly as possible.
                </li>
            </ul>
            <h5>Other Sites or Services</h5>
            <ul>
                <li>
                    We are not resposible for the practices or policies employed by other sites or services that link to or from @Resources.SiteName. When you click a link from @Resources.SiteName and visit a third-party site or service, our Privacy Policy does not apply to them.
                </li>
            </ul>
            <h5>Changes to this Privacy Policy</h5>
            <ul>
                <li>
                    We may change this Privacy Policy from time to time. We will notify you when we make any changes to this Policy and give you the opportunity to review these changes.
                    By continuing to use @Resources.SiteName after a change to this Privacy Policy, you agree to be bound to the modified policy.
                </li>
            </ul>
            <h5>Contact Us</h5>
            <ul>
                <li>
                    If you have any questions about this Privacy Policy or @Resources.SiteName, you may contact us <a href="/Contact">here</a>.
                </li>
            </ul>
        </div>
        <h5 class="large-padding-top">This Privacy Policy was last updated June 21, 2020 and is effective immediately.</h5>
    </div>
</div>