﻿@model ReferralsViewModel

<p>
   <div class="gray-container">
        <h5 class="small-margin-top">How it works</h5>
        <ul class="no-margin-bottom">
            <li>Refer someone new to @Resources.SiteName and have them sign up.</li>
            <li>Get <b class="win-green">@Helper.GetFormattedPoints(Helper.PointsPerReferralCollect())</b> each time they collect daily interest at the <a href="/Bank">Bank</a> for their first <b>30 days</b>.</li>
            <li>That's a total of <b class="win-green">@Helper.GetFormattedPoints(Helper.PointsPerReferralCollect() * 30)</b> per new user you refer!</li>
            <li>Plus: Get a <b>limited Art Card</b> when you sign up <b>1 user</b> and another when you sign up <b>5 users</b>!</li>
            <li>You'll also get a cool <b>Ambassador badge</b> for your profile if someone signs up from your referral!</li>
        </ul>
    </div>
</p>
@if (Model.HasAdditionalReferralsPower)
{
    <p>
        <div class="alert alert-success">
            <h5>
                Your Group Power gives you an additional <b>@Helper.GetFormattedPoints(500)</b> for each new user you refer that signs up.
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="This additional @Resources.Currency will be added to your @Resources.Currency on hand and included in your Total Earned."></span>
            </h5>
        </div>
    </p>
}
@if (Model.Rewards?.Count > 0)
{
    <h5>Rewards (@Helper.FormatNumber(Model.Rewards.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Rewards)
        {
            <div id="@item.Id" class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("TakeReward", "Referrals")" method="POST" onsubmit="submitReferralsForm(event, this);">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="itemId" value="@item.Id" />
                            <button type="submit" class="btn btn-success btn-xs">Take Reward</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="padding-bottom"></div>
}
<div class="padding-top">
    Enter their email address below to refer them:
    <form action="@Url.Action("SubmitReferral", "Referrals")" method="POST" class="padding-top" onsubmit="submitReferralsForm(event, this)">
        <div class="input-group large-padding-bottom">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" autofocus required>
        </div>
        <input type="hidden" name="includeSnack" value="false" />
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Invite now</button>
    </form>
</div>
<div class="extra-large-padding-top">
    Or share your unique link with them:
    <div class="input-group padding-top">
        <span class="input-group-addon"><i class="fas fa-user"></i></span>
        <input type="text" class="form-control" id="uniqueUrl" value="@Model.UniqueLink">
        <span class="input-group-btn">
            <button class="btn btn-primary btn-rounded" onclick="copyText($('#uniqueUrl').val());">Copy</button>
        </span>
    </div>
</div>
@if (Model.Referrals.Count > 0)
{
    <h5 id="total-earned-title" class="extra-large-padding-top">
        Total Earned: <b class="@(Model.TotalEarned > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Model.TotalEarned)</b>
    </h5>
    <div class="panel panel-primary">
        <div class="panel-heading">Referrals (@Helper.FormatNumber(Model.Referrals.Count))</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>User Earned</th>
                        <th>Last Earned</th>
                        <th>Join Date</th>
                        <th>Last Active</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Referral referral in Model.Referrals)
                    {
                        <tr>
                            <td id="@referral.Username" data-title="Username"><a href="/User/@referral.Username">@referral.Username</a></td>
                            <td data-title="User Earned" ><b class="@(referral.InterestTimes > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(referral.InterestTimes * Helper.PointsPerReferralCollect())</b></td>
                            <td data-title="Last Earned">@(referral.InterestTimes > 0 ? referral.TransactionDate.GetTimeSince() : "N/A")</td>
                            <td data-title="Join Date">@referral.CreatedDate.GetTimeSince()</td>
                            <td data-title="Last Active">@referral.ModifiedDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (Model.Referrals.Count == 0)
{
    <h5 class="large-padding-top">Referrals (0)</h5>
    <div class="alert alert-info">
        You haven't referred anyone who has signed up yet!
    </div>
}