﻿@model ReferralsViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Referrals</a></li>
    <li><a href="/Referrals/Leaders">Leaders</a></li>
</ul>
<div id="referralsPartialView">
        @await Html.PartialAsync("_ReferralsMainPartial", Model)
</div>