﻿@model ReferralsViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Referrals">Referrals</a></li>
    <li class="active"><a href="#">Leaders</a></li>
</ul>
<p>
   <div class="gray-container">
        These users have referred the most new users in the past <b>30 days</b>.
    </div>
</p>
@if (Model.TopReferrers.Count > 0)
{
    <div class="panel panel-primary">
        <div class="panel-heading">Top Referrers</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Username</th>
                        <th>Referrals</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TopReferrer topReferrer in Model.TopReferrers)
                    {
                        <tr>
                            <td data-title="Rank"><b class="@(topReferrer.Rank == 1 ? "gold-color" : topReferrer.Rank == 2 ? "silver-color" : topReferrer.Rank == 3 ? "bronze-color" : "")">@Html.Raw(topReferrer.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @topReferrer.Rank</b></td>
                            <td data-title="Username"><a href="/User/@topReferrer.Referrer">@topReferrer.Referrer</a></td>
                            <td data-title="Referrals">@Helper.FormatNumber(topReferrer.Amount)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (Model.TopReferrers.Count == 0)
{
    <h5 class="large-padding-top">Top Referrers (0)</h5>
    <div class="alert alert-info">
        Nobody has signed up from a referral in the past <b>30 days</b>! Why don't you <a href="/Referrals" class="alert-link">refer someone</a>?
    </div>
}