﻿@model PreferencesViewModel

<div id="profile" class="panel panel-default">
    <div class="panel-heading"><h5 class="inline small-margin-top small-margin-bottom">Profile</h5><a class="pull-right" href="/Profile">View Profile</a></div>
    <div class="panel-body">
        <form id="profileForm" action="@Url.Action("UpdateProfile", "Preferences")" method="POST" onsubmit="submitPreferencesForm(event, this);">
            <div class="form-group">
                <div>
                    <label>Gender</label>
                </div>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="male" @(Model.User.Gender == Gender.Male ? "checked" : "")>Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="female" @(Model.User.Gender == Gender.Female ? "checked" : "")>Female
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="other" @(Model.User.Gender == Gender.Other ? "checked" : "")>Other / Prefer not to say
                </label>
            </div>
            <div class="form-group">
                <label for="location">First Name</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-signature"></i></span>
                    <input id="firstName" type="text" class="form-control" name="firstName" value="@Model.User.FirstName" placeholder="What do people call you?" maxlength="15">
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                    <input id="location" type="text" class="form-control" name="location" value="@Model.User.Location" placeholder="Wherever you might be" maxlength="35">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <label>Display Picture</label>
                </div>
                <div id="upload-pic" class="@(string.IsNullOrEmpty(Model.User.DisplayPicUrl) ? "" : "display-none")">
                    <h6 class="text-muted no-margin-top">Should be a .jpeg, .gif, or .png file and up to 250 KB in size.</h6>
                    <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg, .gif" />
                </div>
                @if (!string.IsNullOrEmpty(Model.User.DisplayPicUrl))
                {
                    <div id="existing-pic">
                        <img class="img-circle display-image" src="@Model.User.DisplayPicUrl" />
                        <a class="btn btn-sm" onclick="removeDisplayPic();">Remove Display Pic</a>
                    </div>
                }
            </div>
            <div class="form-group">
                <div>
                    <label>User Color</label>
                </div>
                <h6 class="text-muted no-margin-top">Tap to change it. This color will be used for your group chat bubbles, match tag, and display pic if no image is chosen.</h6>
                <input type="color" id="user-color" name="userColor" value="@Model.User.Color" class="inline clickable" onchange="updatePreferencesCircle(this);">
                <div class="small-circle text-center white-color inline margin-left message-bubble" id="colored-by-username-@Model.User.Username" data-user-color="@Model.User.Color" value="@Model.User.Username">
                    Example
                </div>
            </div>
            @if (Model.AvailableBadges.Count > 1)
            {
                <div class="form-group">
                    <input type="hidden" id="activeBadgeLocation" value="@((int)Model.Settings.ActiveBadge)" />
                    <label for="activeBadge">Which badge should show on your profile...</label>
                    <select class="form-control" id="activeBadge" name="activeBadge">
                        @foreach (Badge availableBadge in Model.AvailableBadges)
                        {
                            <option value="@((int)availableBadge.Type)">@availableBadge.Type.GetDisplayName()</option>
                        }
                    </select>
                </div>
            }
            else
            {
                <input type="hidden" name="activeBadge" value="@BadgeType.None" />
            }
            <div id="bio-form-group" class="form-group">
                <label for="bio"><span class="glyphicon glyphicon-edit"></span> Bio</label>
                <textarea class="form-control" name="bio" rows="5" id="bio" placeholder="All about me..." onkeyup="updateBioCountMessage();">@Html.Raw(Model.User.Bio)</textarea>
                <h6 class="pull-right text-muted" id="bioCountMessage">@(350 - (Model.User.Bio?.Length ?? 0)) remaining</h6>
            </div>
            @Html.AntiForgeryToken()
            <div class="form-group large-padding-top">
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
        </form>
    </div>
</div>
<div id="settings" class="panel panel-default">
    <div class="panel-heading"><h5 class="small-margin-top small-margin-bottom">Settings</h5></div>
    <div class="panel-body">
        <form id="settingsForm" action="@Url.Action("UpdateSettings", "Preferences")" method="POST" onsubmit="submitPreferencesForm(event, this);">
            <div class="form-group">
                <label for="emailAddress">Update Email</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input id="emailAddress" type="email" class="form-control" name="emailAddress" value="@Model.User.EmailAddress" placeholder="Email Address" maxlength="35" required>
                </div>
                @if (Model.Settings.VerifiedEmail)
                {
                    <div class="padding-top">
                        <span class="fas fa-check-circle win-green"></span>
                        This email is verified.
                    </div>
                }
                else
                {
                    <div class="padding-top">
                        <span class="fas fa-times-circle lose-red"></span>
                        This email isn't verified.
                        <a class="clickable" onclick="resendEmailVerification();">Resend email verification</a>
                    </div>
                }
            </div>
            <hr />
            <h5>Attention Hall</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="receiveCommentNotificationsOnAttentionHallPost">Receive Notifications of Comments on Attention Hall Posts</label>
                        </div>
                        <label class="checkbox-inline"><input name="receiveCommentNotificationsOnAttentionHallPost" id="receiveCommentNotificationsOnAttentionHallPost" type="checkbox" @(Model.Settings.ReceiveAttentionHallPostsCommentsNotifications ? "checked" : "")>If you make a post at the Attention Hall, you'll receive a notification whenever someone comments on it</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showPopularAttentionHallPostOnFeed">Show Trending Attention Hall Posts on Feed</label>
                        </div>
                        <label class="checkbox-inline"><input name="showPopularAttentionHallPostOnFeed" id="showPopularAttentionHallPostOnFeed" type="checkbox" @(Model.Settings.ShowTrendingAttentionHallPostsOnFeed ? "checked" : "")>Show trending Attention Hall posts on your feed</label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Auction House</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="receiveAuctionHouseBidNotifications">Receive Auction House Bids on Feed</label>
                        </div>
                        <label class="checkbox-inline"><input name="receiveAuctionHouseBidNotifications" id="receiveAuctionHouseBidNotifications" type="checkbox" @(Model.Settings.ReceiveAuctionBidNotifications ? "checked" : "")>If someone places a bid on your auction, you'll see it on your feed</label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Companions</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showCompanionsOnProfile">Show Companions on Profile</label>
                        </div>
                        <label class="checkbox-inline">
                            <input name="showCompanionsOnProfile" id="showCompanionsOnProfile" type="checkbox" @(Model.Settings.ShowCompanionsOnProfile ? "checked" : "")>If you have any Companions, show them on your profile
                        </label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Disposer</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showDisposerConfirmation">Require Confirmation When Discarding an Item</label>
                        </div>
                        <label class="checkbox-inline">
                            <input name="showDisposerConfirmation" id="showDisposerConfirmation" type="checkbox" @(Model.Settings.ShowDisposerConfirmation ? "checked" : "")>When you attempt to discard an item in your Storage or at the Disposer, you will have to confirm before the item is removed
                        </label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Groups</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showGroupOnProfile">Show Primary Group on Profile</label>
                        </div>
                        <label class="checkbox-inline"><input name="showGroupOnProfile" id="showGroupOnProfile" type="checkbox" @(Model.Settings.ShowGroupOnProfile ? "checked" : "")>If you're part of a group, your Primary Group will show up on your profile</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showNewGroupMemberNotifications">Show Group Messages First</label>
                        </div>
                        <label class="checkbox-inline"><input name="showGroupMessagesFirst" id="showGroupMessagesFirst" type="checkbox" @(Model.Settings.ShowGroupMessagesFirst ? "checked" : "")>If you're part of a group, you'll see your group messages page first</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showUnreadGroupMessagesOnFeed">Show Unread Group Messages on Feed</label>
                        </div>
                        <label class="checkbox-inline"><input name="showUnreadGroupMessagesOnFeed" id="showUnreadGroupMessagesOnFeed" type="checkbox" @(Model.Settings.ShowUnreadGroupMessagesOnFeed ? "checked" : "")>If you're part of a group, show unread group messages on your feed</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showNewGroupMemberNotifications">Get Notifications for New Group Members</label>
                        </div>
                        <label class="checkbox-inline"><input name="showNewGroupMemberNotifications" id="showNewGroupMemberNotifications" type="checkbox" @(Model.Settings.NotificationsForNewGroupMembers ? "checked" : "")>If you're a group founder, you'll be notified when a new member joins</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showNotificationsForGroupJoinRequests">Get Notifications for Join Requests</label>
                        </div>
                        <label class="checkbox-inline"><input name="showNotificationsForGroupJoinRequests" id="showNotificationsForGroupJoinRequests" type="checkbox" @(Model.Settings.NotificationsForGroupJoinRequests ? "checked" : "")>If you're the founder or leader of a private group, you'll be notified when someone requests to join your group</label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Market Stalls</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showMarketStallOnProfile">Show Market Stall on Profile</label>
                        </div>
                        <label class="checkbox-inline"><input name="showMarketStallOnProfile" id="showMarketStallOnProfile" type="checkbox" @(Model.Settings.ShowMarketStallOnProfile ? "checked" : "")>If you own a Market Stall, it will show up on your profile</label>
                    </div>
                </li>
                @if (Model.User.AllowNotifications)
                {
                    <li>
                        <div class="form-group">
                            <div>
                                <label for="sendMarketStallPurchaseEmail">Get Emails for Market Stall Purchases</label>
                            </div>
                            <label class="checkbox-inline"><input name="sendMarketStallPurchaseEmail" id="sendMarketStallPurchaseEmail" type="checkbox" @(Model.Settings.EmailsForMarketStallPurchases ? "checked" : "")>If you own a Market Stall, you'll get an email if one of your items is bought</label>
                        </div>
                    </li>
                 }
            </ul>
            <hr />
            <h5>Menu</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <input type="hidden" id="pointsLocationDropdownValue" value="@((int)Model.Settings.PointsLocation)" />
                        <label for="pointsLocation">On your menu, pressing your @Resources.Currency on hand should take you to...</label>
                        <select class="form-control" id="pointsLocation" name="pointsLocation">
                            <option value="@((int)PointsLocation.AttentionHall)">Attention Hall</option>
                            <option value="@((int)PointsLocation.Items)">Bag</option>
                            <option value="@((int)PointsLocation.Bank)">Bank</option>
                            <option value="@((int)PointsLocation.Club)">@Resources.SiteName Club</option>
                            <option value="@((int)PointsLocation.Fair)">Fair</option>
                            <option value="@((int)PointsLocation.Groups)">Groups</option>
                            <option value="@((int)PointsLocation.Plaza)">Plaza</option>
                            <option value="@((int)PointsLocation.MarketStalls)">Market Stalls</option>
                            <option value="@((int)PointsLocation.Preferences)">Preferences</option>
                            <option value="@((int)PointsLocation.Profile)">Profile</option>
                            <option value="@((int)PointsLocation.Showroom)">Showroom</option>
                            <option value="@((int)PointsLocation.Stadium)">Stadium</option>
                            <option value="@((int)PointsLocation.Portfolio)">Stock Portfolio</option>
                        </select>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Messages</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="allowReadReceipts">Enable Read Receipts</label>
                        </div>
                        <label class="checkbox-inline"><input name="allowReadReceipts" id="allowReadReceipts" type="checkbox" @(Model.Settings.EnableReadReceipts ? "checked" : "")>You can see if someone's read your message and they can see if you've read theirs</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="enableMessagesTab">Quick-Message Tab</label>
                        </div>
                        <label class="checkbox-inline">
                            <input name="enableMessagesTab" id="enableMessagesTab" type="checkbox" @(Model.Settings.CanShowMessagesTab ? "checked" : "")>See and reply to messages the bottom right corner of your screen (not available on mobile devices)
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="disableMessages">Disable Messages</label>
                        </div>
                        <label class="checkbox-inline">
                            <input name="disableMessages" id="disableMessages" type="checkbox" @(Model.Settings.DisableMessages ? "checked" : "")>Users can no longer send you any messages (unless you've messaged them)
                            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="@Resources.SiteName Staff and Helpers can still send you messages."></span>
                        </label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>News</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showNewsOnFeed">Show Recent News on Feed</label>
                        </div>
                        <label class="checkbox-inline"><input name="showNewsOnFeed" id="showNewsOnFeed" type="checkbox" @(Model.Settings.ShowNewsOnFeed ? "checked" : "")>Show recent News articles on your feed</label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Notifications</h5>
            <ul>
                <li>
                    <div id="email-notifications" class="form-group">
                        <div>
                            <label id="allowEmailNotificationsLabel" for="allowEmailNotifications">Email Notifications</label>
                        </div>
                        <label class="checkbox-inline">
                            <input name="allowEmailNotifications" id="allowEmailNotifications" type="checkbox" @(Model.User.AllowNotifications ? "checked" : "")>
                            Get an email notification whenever you receive a message, win an auction, etc.
                        </label>
                    </div>
                </li>
                @if (Model.User.AllowNotifications)
                {
                    <li>
                        <div class="form-group">
                            <div>
                                <label for="batchNotificationEmailMinutes">Batch Notification Email</label>
                            </div>
                            <h6 class="text-muted no-margin-top small-margin-bottom">After how many minutes should you receive an email if you have unseen notifications.</h6>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fas fa-clock"></i></span>
                                <input id="batchNotificationEmailMinutes" type="number" min="1" max="360" class="form-control" name="batchNotificationEmailMinutes" value="@Model.Settings.BatchNotificationEmailMinutes">
                            </div>
                        </div>
                    </li>
                }
                <li>
                    <div class="form-group">
                        <div>
                            <label for="allowUserMentionNotifications">User Mention Notifications</label>
                        </div>
                        <label class="checkbox-inline"><input name="allowUserMentionNotifications" id="allowUserMentionNotifications" type="checkbox" @(Model.Settings.AllowUserMentionNotifications ? "checked" : "")> Receive a notification whenever someone @@ mentions your username in a comment or News article</label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Profile</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="allowPartnershipRequests">Allow Partnership Requests</label>
                        </div>
                        <label class="checkbox-inline"><input name="allowPartnershipRequests" id="allowPartnershipRequests" type="checkbox" @(Model.Settings.AllowPartnershipRequests ? "checked" : "")>Users can request to form a partnership with you if you don't already have one</label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5>Stadium</h5>
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="enableChallengingCPUDifficulty">CPU Difficulty</label>
                        </div>
                        <label class="checkbox-inline"><input name="enableChallengingCPUDifficulty" id="enableChallengingCPUDifficulty" type="checkbox" @(Model.Settings.EnableCPUChallengingDifficulty ? "checked" : "")>Challenging Difficulty: CPUs don't become easier after losing several times to them</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showUserMatchesFirst">Default to "Challenge Users" Tab</label>
                        </div>
                        <label class="checkbox-inline"><input name="showUserMatchesFirst" id="showUserMatchesFirst" type="checkbox" @(Model.Settings.ShowUserMatchesFirst ? "checked" : "")>Default to the "Challenge Users" tab at the Stadium instead of the "CPU Challengers" tab</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="disableMessages">Hide CPU Stadium Statistics</label>
                        </div>
                        <label class="checkbox-inline"><input name="disableCPUStatistics" id="disableCPUStatistics" type="checkbox" @(Model.Settings.OnlyShowUserMatchesStatistics ? "checked" : "")>Only show statistics from user matches on your Stadium statistics page</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="cpuChallenges">Receive Stadium Challenges</label>
                        </div>
                        <label class="checkbox-inline"><input name="cpuChallenges" id="cpuChallenges" type="checkbox" @(Model.Settings.ReceiveStadiumChallenges ? "checked" : "")>You will sometimes receive a limited time Stadium Challenge against a CPU</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="userChallenges">Allow User Requests to Challenge You</label>
                        </div>
                        <label class="checkbox-inline"><input name="userChallenges" id="userChallenges" type="checkbox" @(Model.Settings.AllowUserChallenges ? "checked" : "")>Users can request to challenge you at the Stadium from your profile</label>
                    </div>
                </li>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="showStadiumFireworksAnimation">Show Stadium Fireworks Animation</label>
                        </div>
                        <label class="checkbox-inline"><input name="showStadiumFireworksAnimation" id="showStadiumFireworksAnimation" type="checkbox" @(Model.Settings.ShowStadiumFireworksAnimation ? "checked" : "")>If you win a Stadium match, a fireworks animation will display</label>
                    </div>
                </li>
            </ul>
            <hr />
            <h5><span class="fas fa-lightbulb"></span> Beta Features</h5>
            These are experimental features that are still in development.
            <ul>
                <li>
                    <div class="form-group">
                        <div>
                            <label for="allowSoundEffects">Enable Sound Effects</label>
                        </div>
                        <label class="checkbox-inline"><input name="allowSoundEffects" id="allowSoundEffects" type="checkbox" @(Model.Settings.EnableSoundEffects ? "checked" : "")>Some parts of @Resources.SiteName will play sound effects</label>
                    </div>
                </li>
            </ul>
            @Html.AntiForgeryToken()
            <div class="form-group padding-top">
                <button type="submit" class="btn btn-primary">Update Settings</button>
            </div>
        </form>
        @if (Model.HiddenFeedCategories.Count > 0)
        {
            <hr />
            <h5>Hidden Feed Categories (@Helper.FormatNumber(Model.HiddenFeedCategories.Count))</h5>
            <div id="hiddenFeedCategories" class="gray-container gray-border">
                @foreach (HiddenFeedCategory hiddenFeedCategory in Model.HiddenFeedCategories)
                {
                    <h5 class="small-margin-top small-margin-bottom">    
                        <span>@hiddenFeedCategory.FeedId.GetDisplayName()</span>
                        <a class="clickable" onclick="removeHiddenFeedCategory('@hiddenFeedCategory.FeedId')"><span class="larger-medium-font glyphicon glyphicon-remove lose-red pull-right" data-toggle="tooltip" data-placement="top" title="Remove"></span></a>
                    </h5>
                }
            </div>
        }
    </div>
</div>
<div id="admin" class="panel panel-default">
    <div class="panel-heading"><h5 class="small-margin-top small-margin-bottom">Admin</h5></div>
    <div class="panel-body">
        <form id="adminForm" action="@Url.Action("UpdateAdmin", "Preferences")" method="POST" onsubmit="submitPreferencesForm(event, this);" class="padding-top">
            <div class="form-group">
                <label for="currentPassword">Current Password</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                    <input id="currentPassword" aria-describedby="currentPasswordHelp" type="password" class="form-control" name="currentPassword" placeholder="Current Password">
                </div>
                <small id="currentPasswordHelp" class="form-text text-muted">You only need to enter your current password if you plan on updating it below.</small>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Update Current Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="New Password" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="passwordVerify">Confirm Updated Password</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" id="passwordVerify" name="passwordVerify" placeholder="New Password (again)" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5>Blocked Users (@Helper.FormatNumber(Model.BlockedUsers.Count))</h5>
                <div id="blockUsers" class="gray-container gray-border">
                    @foreach (Blocked blockedUser in Model.BlockedUsers)
                    {
                        <h5 id="blocked-@blockedUser.BlockedUser" class="small-margin-top small-margin-bottom">    
                            <a href="/User/@blockedUser.BlockedUser">@blockedUser.BlockedUser</a> 
                            <a class="clickable" onclick="removeBlockedUser('@blockedUser.BlockedUser')"><span class="larger-medium-font glyphicon glyphicon-remove lose-red pull-right" data-toggle="tooltip" data-placement="top" title="Remove"></span></a>
                        </h5>
                    }
                    @if (Model.BlockedUsers.Count == 0)
                    {
                        <span>You haven't blocked any users.</span>
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="blockedUsername">Add Blocked User</label>
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Blocked users won't be able to visit your profile or message you."></span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-ban-circle"></i></span>
						<input id="blockedUsername" type="text" class="form-control" name="blockedUsername" placeholder="Username">
                </div>
            </div>
            @Html.AntiForgeryToken()
            <div class="form-group padding-top">
                <button type="submit" class="btn btn-primary">Update Admin</button>
            </div>
        </form>
        @if (Model.ActiveSessions.Count > 1)
        {
            <hr />
            <div class="panel panel-primary">
             <div id="active-sessions" class="panel-heading">Active Sessions (@Helper.FormatNumber(Model.ActiveSessions.Count))</div>
                <div class="table-responsive" id="mobile-friendly-table">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>IP Address</th>
                                <th>Info</th>
                                <th>Login Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ActiveSession activeSession in Model.ActiveSessions)
                            {
                                <tr>
                                    <td data-title="IP Address">@activeSession.IPAddress @(Model.User.AccessToken == activeSession.AccessToken ? "(You)" : "")</td>
                                    <td data-title="Info">@activeSession.UserAgent</td>
                                    <td data-title="Login Date">@activeSession.CreatedDate.GetTimeSince()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <form action="@Url.Action("ClearActiveSessions", "Preferences")" method="POST" onsubmit="submitPreferencesForm(event, this);">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log Out Other Session@(Model.ActiveSessions.Count > 2 ? "s" : "")</button>
                </div>
            </form>
        }
        <hr />
        <h5>Disable or Delete Account</h5>
        <div class="text-muted">
            You can permanently delete your account or temporarily disable it.
        </div>
        <div class="large-padding-top"></div>
        <a href="/DeleteAccount" class="btn btn-danger">Delete Account</a>
        <div class="visible-xxs"><div class="padding-top"></div></div>
        <a href="/DisableAccount" class="btn btn-secondary">Disable Account</a>
        <div class="large-padding-top"></div>
    </div>
</div>

