﻿@model PreferencesViewModel

<div class="gray-container">
    You can use your notepad to write down any helpful thoughts, notes, or other information. Your notepad is <b>private</b> and <b>only visible</b> to you.
</div>
<form action="@Url.Action("SaveNotes", "Preferences")" method="POST" onsubmit="submitPreferencesForm(event, this, true, true);" class="padding-top">
    <div class="form-group">
        <label for="notes"><span class="glyphicon glyphicon-edit"></span> Notes</label>
        <textarea class="form-control" name="notes" rows="15" id="notes" placeholder="Your personal notes..." onkeyup="updateNotesCountMessage();">@Html.Raw(Model.Settings.Notes)</textarea>
        <h6 class="pull-right text-muted" id="notesCountMessage">@Helper.FormatNumber(2500 - Model.Settings.Notes.Length) remaining</h6>
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Update</button>
</form>