﻿@model PreferencesViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Preferences</a></li>
    <li><a href="@Url.Action("Notepad", "Preferences")">Notepad</a></li>
</ul>
<div class="padding-top"></div>
<div id="preferencesPartialView">
    @await Html.PartialAsync("_PreferencesMainPartial", Model)
</div>