﻿@model PreferencesViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "Preferences")">Preferences</a></li>
    <li class="active"><a href="#">Notepad</a></li>
</ul>
<div class="padding-top"></div>
<div id="preferencesPartialView">
    @await Html.PartialAsync("_PreferencesNotepadPartial", Model)
</div>