﻿@model JunkyardViewModel
<ul class="nav nav-tabs nav-justified">
    <li><a href="#" onclick="refreshJunkyardPartialView(true);">Buy Items</a></li>
    <li class="active"><a href="#">Sell Items</a></li>
</ul>
<p>
    <div class="gray-container">
        Pick an item you'd like to sell to the Junkyard at a reduced rate. Items in your <a href="/Items">Deck</a> and items that have an <a href="/Repair">Unusable</a> condition cannot be sold.
    </div>
</p>
<h5>
    Items (@Helper.FormatNumber((Model.SellItems.Count)))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.SellItems)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>Offer: <b class="win-green">@Helper.GetFormattedPoints(item.Points)</b></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Sell", "Junkyard")" method="POST" onsubmit="updateJunkyard(event, this, false)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-primary btn-xs">Sell Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.SellItems.Count == 0)
{
    <div class="alert alert-info">
        It looks like you have <b>no items</b> to sell. You can always buy items at the <a href="/Store">General Store</a> or other locations!
    </div>
}