﻿@model JunkyardViewModel
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Buy Items</a></li>
    <li><a href="#" onclick="refreshJunkyardPartialView(false);">Sell Items</a></li>
</ul>
<p>
    <div class="gray-container">
        The items below are bought from <b>real users</b> and sold at a <b>reduced rate</b>. You can buy any of the items below
        or <a href="#" onclick="refreshJunkyardPartialView(false);">sell</a> your own items at a reduced rate.
    </div>
</p>
@if (Model.DiscountPercent > 0)
{
    <p>
        <div class="alert alert-success">
            <h5>
                You used a <b>Junkyard Coupon Card</b>! All items below are <b>@Model.DiscountPercent% off</b> for your next purchase.
            </h5>
        </div>
    </p>
}
<h5>
    Items (@Helper.FormatNumber((Model.Items.Count)))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b>
                        @if (Model.DiscountPercent > 0)
                        {
                            <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(item.Points/(1 - (Model.DiscountPercent * 0.01)))"></span>
                        }
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Buy", "Junkyard")" method="POST" onsubmit="updateJunkyard(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points ? "" : "disabled")">Buy it!</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        It looks like the Junkyard is empty! You can <a class="alert-link" href="#" onclick="refreshJunkyardPartialView(false);">sell some of your items</a>.
    </div>
}