﻿@model HelperGuidelinesViewModel

<div class="alert alert-info">
    <h5>
        Congratulations on being admitted to the Helper program! As a Helper, it is your responsibility to keep @Resources.SiteName safe.
    </h5>
</div>
<h5>
    Responsibilities
</h5>
<ul>
    <li>
        Claim reports and fairly assess them before making any decisions.
    </li>
    <li>
        Be fully knowledgeable of the <a href="/Terms">Terms of Service</a>.
    </li>
    <li>
        Present yourself in an appropriate manner around @Resources.SiteName.
    </li>
    <li>
        Provide clear thoughts and reasoning when completing a report.
    </li>
    <li>
        Do not abuse your power.
    </li>
    <li>
        Do not use any of your power in return for compensation or special favors.
    </li>
    <li>
        If you gain access to non-public information, you will use that information only for your specific duty as Helper and not share that information with others.
    </li>
</ul>
If you do not engage in an appropriate manner with other users or disobey any of your responsibilities, your Helper role will be <b>removed</b>.
<h5>Presenting Yourself</h5>
As you are representing @Resources.SiteName, it is important you present yourself in an appropriate manner.
<ul class="padding-top">
    <li>
        Use proper grammar and spelling while messaging other users.
    </li>
    <li>
        Be mature and responsibile with your duties.
    </li>
    <li>
        Do not be offensive or rude to other users.
    </li>
    <li>
        You may not state that you are authorized to act on behalf of @Resources.SiteName nor that you are an employee of @Resources.SiteName.
    </li>
</ul>
If at any time, you feel you do not know how to properly handle a report or a situation, you can unclaim the report or <a href="/Contact">contact us</a> for help.
<h5>Powers</h5>
As a Helper, you are granted certain powers that should not be abused and should be strictly used to keep @Resources.SiteName safe.
<ul class="padding-top">
    <li>
        You have access to the <a href="/Admin">Admin</a> panel. It can also be accessed beneath your username on the menu.
    </li>
    <li>
        You can message any user (even those that have disabled messaging).
    </li>
    <li>
        You can read any group's messages (even if you are not part of the group) but cannot write in them.
    </li>
</ul>
<h5>Answering Questions</h5>
<ul class="padding-top">
    <li>
        You will be expected to answer questions at the <a href="/AttentionHall">Attention Hall</a>. You can identify questions as these posts will have a Question flair associated with them.
    </li>
    <li>
        If you do not know how to properly answer the question, please don't answer the question and let another Helper answer instead.
    </li>
</ul>
<h5>Admin Panel</h5>
As a Helper, you can access the Users and Reports section of the Admin Panel.
<ul class="padding-top">
    <li>
        <b>Users</b>: You can look up an existing user. You'll see some of their statistics and have options to suspend the user, reset their profile information, delete their group (for certain groups), view past admin history, and, in some cases, see messages related to your report.
        <ul>
            <li>
                <b>Suspending a User</b>: You should only suspend a user if they have broken the <a href="/Terms">Terms of Service</a>. As well, this should only be done after trying to have a discussion with them via Messages. 
                The length of the suspension varies based on the violation committed. The recommend time is <b>1 day</b> for small violations, <b>3 days</b> for medium violations, and <b>1 week</b> for large violations. 
                Helpers cannot permanently suspend a user so if you feel the suspension should be greater than a week, you should unclaim the report and let a @Resources.SiteName Staff pick it up.
            </li>
            <li>
                <b>Resetting Profile Information</b>: This should be done if information on a user's profile violates the <a href="/Terms">Terms of Service</a>. 
                If you are resetting a user's profile information, this usually involves carrying out a suspension, as well.
            </li>
            <li>
                <b>Deleting a Group</b>: You should <b>only</b> delete a group if it violates the <a href="/Terms">Terms of Service</a> and you've already warned the group founder or leaders.
            </li>
        </ul>
    </li>
    <li>
        <b>Reports</b>: You can pick up any unclaimed report. When picked up, you'll be able to see it under the <b>Claimed Reports</b> tab. You cannot pick up reports involving you. 
        When it's claimed, it means that only you can work on this report. If you feel like you cannot do a good job with the report, you can unclaim it without issue for someone else to pick up. 
        When a report is claimed, you are expected to do signficant research to solve the issue and then provide a write-up when completing it. You may also gain additional information about a user when you claim a report about them.
    </li>
</ul>
<h5>Messaging Users</h5>
<div>
    When you message other users, it's important that you conduct yourself in a professional manner. You should read the report and then privately message the user, if needed, any relevant questions for additional context.
    A sample opening message might be:
</div>
<p class="padding-top">
    <i>
        Hello, my name is @Model.User.GetFriendlyName() and I'm a @Resources.SiteName @Model.User.Role.GetDisplayName(). I'd like to ask you a few questions concerning a report we received. Thank you very much!
    </i>
</p>
<div>
    You may then follow with your questions. If a user doesn't answer you within <b>48 hours</b>, you may message them again. If they stil do not answer after another <b>72 hours</b> then you should write a note in the Admin panel for that user stating that they were unresponsive and unclaim the report and let a @Resources.SiteName Staff pick it up.
</div>
<h5>Badge</h5>
<div>
    Although Helpers are not required to keep their Helper badge always active (you can enable this in your <a href="/Preferences">Preferences</a>), you should enable it when messaging someone and performing Helper duties or point them to your name on the <a href="/Hall">Hall of Helpers</a>.
</div>
<h5>Additional Information</h5>
<div>
    If you have any questions concerning a specific report, you can always <a href="/Contact">contact us</a>.
    Make sure to follow these guidelines and you should have no issue being a great Helper. Thanks for keeping @Resources.SiteName safe!
</div>