﻿@model RightSideUpWorldViewModel

@if (Model.HasDefeatedGuard)
{
    <p>
        <div class="alert alert-success no-margin-bottom">
            <h5>
                Congratulations! You defeated the <b>The Right-Side Up Guard</b>! You were added to the <b>List of Champions</b> for your accomplishment!
            </h5>
        </div>
    </p>
    @if (!Model.HasTakenItem)
    {
        <h5>Reward</h5>
        <div class="grid-container grid-container--fit">
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(Model.Item.ImageUrl)" alt="@Model.Item.Description" title="@Model.Item.Description">
                    <div>
                        <h5>@Model.Item.Name</h5>
                        <p><i><small>@Model.Item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (Model.Item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.Item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.Item.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <small class="semi-bold">@(Model.Item.TotalUses > 0 ? $"{Model.Item.TotalUses} Use{(Model.Item.TotalUses != 1 ? "s" : "")}" : "")</small>
                    </div>
                    <div>
                        <small>
                            @Model.Item.Category
                        </small>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(Model.Item.Points)</small>
                    </div>
                </div>
            </div>
        </div>
        <form class="padding-top padding-bottom" action="@Url.Action("TakeReward", "RightSideUpWorld")" method="POST" onsubmit="updateRightSideUpWorld(event, this, false)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Take Item</button>
        </form>
    }
}
else
{
    <p>
        <div class="gray-container">
            The <b>Right-Side Up Guard</b> is one the fiercest opponents at the Stadium and will only challenge those who have earned all <b>7 Relics</b>. If you manage to win, you'll be rewarded greatly.
        </div>
    </p>
    <h5 class="small-padding-top">Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div class="scrolling-container">
            @foreach (Card card in Model.Deck)
            {
                <div class="scrolling-grid-element text-center clickable" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                        <div>
                            <h5 class="small-margin-bottom">@card.Name</h5>
                        </div>
                    </div>
                    <div class="push-down-class">
                        @if  (card.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <form class="large-padding-top" action="@Url.Action("ChallengeGuard", "Stadium")" method="POST" onsubmit="updateRightSideUpWorld(event, this, false)">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.User.Points >= 500 && Model.Deck.Count == Helper.GetMaxDeckSize() && Model.Deck.All(x => x.Condition < ItemCondition.Unusable) ? "" : "disabled")"><b>Challenge Guard (@Helper.GetFormattedPoints(500))</b></button>
    </form>
}
@if (Model.HasDefeatedGuard)
{
    <div class="padding-top"></div>
}
else
{
    <hr />
}
<div class="panel panel-primary">
    <div class="panel-heading">List of Champions (@Helper.FormatNumber(Model.HallOfFame.Count)) <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="Users who have defeated The Right-Side Up Guard are listed here."></span></div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (HallOfFameEntry hallOfFameEntry in Model.HallOfFame)
                {
                    <tr>
                        <td data-title="Username"><a href='/User/@hallOfFameEntry.Username'>@hallOfFameEntry.Username</a></td>
                        <td data-title="Date">@hallOfFameEntry.CreatedDate.GetTimeSince()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.HallOfFame.Count == 0)
{
    <div class="alert alert-info behind-margin-top visible-xs">
        Nobody has defeated The Right-Side Up Guard yet.
    </div>
}