﻿@model RightSideUpWorldViewModel

<h5>
    Items (@Helper.FormatNumber((Model.Items.Count)))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Enhancer enhancer in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(enhancer.ImageUrl)" alt="@enhancer.Description" title="@enhancer.Description">
                <div>
                    <h5>@enhancer.Name</h5>
                    <p><i><small>@enhancer.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (enhancer.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @enhancer.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{enhancer.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(enhancer.TotalUses > 0 ? $"{enhancer.TotalUses} Use{(enhancer.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @enhancer.Category <span class="@Helper.GetItemConditionColor(enhancer.Condition)">(@enhancer.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= enhancer.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(enhancer.Points)</b>
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("BuyItem", "RightSideUpWorld")" method="POST" onsubmit="updateRightSideUpWorld(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@enhancer.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= enhancer.Points && Model.CanBuyItem ? "" : "disabled")">Buy it!</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>