﻿@model RightSideUpWorldViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/RightSideUpWorld">Enchanted Store</a></li>
    <li class="active"><a href="#">The Guard</a></li>
</ul>
<div id="rightSideUpWorldPartialView">
    @await Html.PartialAsync("_RightSideUpWorldGuardPartial", Model)
</div>