﻿@model RightSideUpWorldViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Enchanted Store</a></li>
    <li><a href="/RightSideUpWorld/Guard">The Guard</a></li>
</ul>
<p>
    <div class="gray-container">
        You find yourself in an <b>Enchanted Store</b> with special items. The portal to the Right-Side Up World will close in <b>@Model.ExpiryDate.GetTimeUntil()</b>.
    </div>
</p>
<div id="rightSideUpWorldPartialView">
    @await Html.PartialAsync("_RightSideUpWorldMainPartial", Model)
</div>