﻿@model StoreViewModel

<div class="gray-container">
    Unlike conventional stores, you can <b>bargain</b> the cost of any of the items below.
    The store's inventory will refresh in <b>@(Helper.GetStoreRefreshMinutes() - Model.StoreItems.First().GetAgeInMinutes()) minute@((Helper.GetStoreRefreshMinutes() - Model.StoreItems.First().GetAgeInMinutes() == 1 ? "" : "s"))</b>.
    @if (Model.RemainingItems < 3 && (DateTime.UtcNow - Model.LastBuyDate).TotalHours < 1)
    {
        <span>You can buy <b>@Helper.FormatNumber(Model.RemainingItems) more item@(Model.RemainingItems == 1 ? "" : "s")</b> over the next <b>@Model.LastBuyDate.AddHours(1).GetTimeUntil()</b>.</span>
    }
</div>
@if (Model.DiscountPercent > 0)
{
    <p>
        <div class="alert alert-success">
            <h5>
                You used a <b>General Store Coupon Card</b>! All items below are <b>@Model.DiscountPercent% off</b> for your next purchase.
            </h5>
        </div>
    </p>
}
@if (Model.DiscountItemCategory != ItemCategory.None)
{
    <p>
        <div class="alert alert-success">
            <h5>
                The General Store has <b>15% off</b> all <b>@Model.DiscountItemCategory.GetDisplayName()s</b> for the next <b>@DateTime.UtcNow.Date.AddDays(1).GetTimeUntil()</b>.
            </h5>
        </div>
    </p>
}
<h5>
    Items (@Helper.FormatNumber(Model.StoreItems.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (StoreItem item in Model.StoreItems)
    {
        <div id="@item.Id" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>Cost: <b class="@(Model.User.Points >= item.Cost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Cost)</b></small>
                    @if (Model.DiscountPercent > 0 || item.Category == Model.DiscountItemCategory)
                    {
                        <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(item.Cost/((1 - (Model.DiscountPercent * 0.01)) * (item.Category == Model.DiscountItemCategory ? 0.9 : 1)))"></span>
                    }
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Bargain", "Store")" method="POST" onsubmit="updateStore(event, this);">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-primary btn-xs @(Model.User.Points > 0 && Model.CanBuy ? "" : "disabled")">Bargain Cost</button>
                    </form>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("QuickBuy", "Store")" method="POST" onsubmit="submitBargainForm(event, this);">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Cost && Model.CanBuy ? "" : "disabled")">Quick Buy</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>