﻿@model StoreViewModel

<div class="gray-container">
    You've come to bargain! What's your offer? (You should offer less than <b class="win-green">@Helper.GetFormattedPoints(Model.SelectedItem.Cost)</b> to get a good deal)
</div>
<div class="large-padding-top"></div>
@if (Model.DiscountPercent > 0)
{
    <p>
        <div class="alert alert-success">
            <h5>
                You used a <b>General Store Coupon Card</b>! The item below is <b>@Model.DiscountPercent% off</b> for your next purchase.
            </h5>
        </div>
    </p>
}
@if (Model.SelectedItem.Category == Model.DiscountItemCategory)
{
    <p>
        <div class="alert alert-success">
            <h5>
                The General Store has <b>10% off</b> all <b>@Model.DiscountItemCategory.GetDisplayName()s</b> for the next <b>@DateTime.UtcNow.Date.AddDays(1).GetTimeUntil()</b>.
            </h5>
        </div>
    </p>
}
<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.SelectedItem.ImageUrl)" alt="@Model.SelectedItem.Description" title="@Model.SelectedItem.Description">
        <div>
            <h5>@Model.SelectedItem.Name</h5>
            <p><i><small>@Model.SelectedItem.Description</small></i></p>
        </div>
    </div>
    <div>
        @if  (Model.SelectedItem.Tier > RelicId.None)
        {
            <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.SelectedItem.Tier Relic.">
                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.SelectedItem.Tier}.png")" />
            </div>
        }
        <div>
            <small class="semi-bold">@(Model.SelectedItem.TotalUses > 0 ? $"{Model.SelectedItem.TotalUses} Use{(Model.SelectedItem.TotalUses != 1 ? "s" : "")}" : "")</small>
        </div>
        <div>
            <small>
                @Model.SelectedItem.Category <span class="@Helper.GetItemConditionColor(Model.SelectedItem.Condition)">(@Model.SelectedItem.Condition)</span>
            </small>
        </div>
        <div>
            <small>Cost: <b class="@(Model.User.Points >= Model.SelectedItem.Cost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(Model.SelectedItem.Cost)</b></small>
            @if (Model.DiscountPercent > 0 || Model.SelectedItem.Category == Model.DiscountItemCategory)
            {
                <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(Model.SelectedItem.Cost/((1 - (Model.DiscountPercent * 0.01)) * (Model.SelectedItem.Category == Model.DiscountItemCategory ? 0.9 : 1)))"></span>
            }
        </div>
    </div>
</div>
<form action="@Url.Action("MakeBargain", "Store")" method="POST" onsubmit="submitBargainForm(event, this);" class="extra-large-padding-top">
    <div class="form-group">
        <input type="hidden" name="itemId" value="@Model.SelectedItem.Id" />
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-coins"></i></span>
            <input type="number" class="form-control" id="amount" min="1" max="@Model.SelectedItem.Cost" name="amount" placeholder="Your offer (@Resources.Currency)" autofocus required>
        </div>
    </div>
    @Html.AntiForgeryToken()
    <div class="padding-top">
        <button type="submit" class="btn btn-success @(Model.CanBuy ? "" : "disabled")">Buy it!</button>
        <a href="/Store" class="btn btn-secondary">On second thought...</a>
    </div>
</form>