﻿@model DisposerViewModel

<div class="primary-container light-blue-border small-margin-top">
    <h5 class="small-margin-top">
        Training Token Progress (@Helper.FormatNumber(Model.DisposedPoints)/@Helper.FormatNumber(Helper.GetMaxDisposerTrainingTokenProgess()))
        <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Disposing of higher value items will fill the meter more."></span>
    </h5>
    @{ double disposerTrainingTokenProgressPercent = Math.Round((double)Math.Min(Model.DisposedPoints, Helper.GetMaxDisposerTrainingTokenProgess()) / Helper.GetMaxDisposerTrainingTokenProgess() * 100, 1); }
    <div class="progress dark-gray-background-color small-margin-bottom">
        <div class="progress-bar win-green-background progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@disposerTrainingTokenProgressPercent%;">
            <b class="progress-bar-text" style="@(disposerTrainingTokenProgressPercent < 20 ? "position: absolute;" : "")">@disposerTrainingTokenProgressPercent%</b>
        </div>
    </div>
    @if (Model.DisposedPoints >= Helper.GetMaxDisposerTrainingTokenProgess())
    {
        <form class="small-padding-bottom" action="@Url.Action("RedeemTrainingToken", "Disposer")" method="POST" onsubmit="submitDisposerForm(event, this, true)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Redeem @Helper.FormatNumber(Model.DisposedPoints/Helper.GetMaxDisposerTrainingTokenProgess()) Training Token@(Model.DisposedPoints/Helper.GetMaxDisposerTrainingTokenProgess() == 1 ? "" : "s")</button>
        </form>
    }
</div>
<h5>
    Disposable Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                 @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Dispose", "Disposer")" method="POST" onsubmit="submitDisposerFormConfirmation(event, this, @Model.ShowDisposerConfirmation.ToString().ToLower());">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-danger btn-xs">Discard Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        You cannot dispose of any of your items. Items in your <a href="/Items">Deck</a> cannot be discarded.
    </div>
}