﻿@model DisposerViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Disposer</a></li>
    <li><a href="/Disposer/Records">Records</a></li>
</ul>
<p>
    <div class="gray-container">
        <h5>How it works</h5>
        <ul class="small-margin-bottom">
            <li>
                If you don't want to keep an item or repair it, you can <b>permanently dispose</b> of it.
            </li>
            <li>
                Each time you dispose of an item, you'll move up the <b>Training Token Progress</b> meter.
            </li>
            <li>
                If you fill the meter, you'll earn a Training Token to use at the <a href="/TrainingCenter">Training Center</a>.
            </li>
        </ul>
    </div>
</p>
<div id="disposerPartialView">
    @await Html.PartialAsync("_DisposerMainPartial", Model)
</div>