﻿@model DisposerViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Disposer">Disposer</a></li>
    <li class="active"><a href="#">Records</a></li>
</ul>
<p>
    <div class="gray-container">
        If you dispose of enough items that have an <span class="lose-red">Unusable</span> condition, you might qualify as one of the <b>top disposers</b> of the past month.
    </div>
</p>
<div class="panel panel-primary">
    <div class="panel-heading">Top 50 Disposers of the Past Month</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Total Items</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DisposerRecord disposerRecord in Model.DisposerRecords)
                {
                    <tr>
                        <td data-title="Rank"><b class="@(disposerRecord.Rank == 1 ? "gold-color" : disposerRecord.Rank == 2 ? "silver-color" : disposerRecord.Rank == 3 ? "bronze-color" : "")">@Html.Raw(disposerRecord.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @disposerRecord.Rank</b></td>
                        <td data-title="Username"><a href='/User/@disposerRecord.Username'>@disposerRecord.Username</a></td>
                        <td data-title="Total Items">@Helper.FormatNumber(disposerRecord.Amount)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.DisposerRecords.Count == 0)
{
    <div class="alert alert-info visible-xs">
        Nobody has disposed of any items in the last <b>30 days</b>.
    </div>
}