﻿@model MuseumViewModel


@if (Model.SouthWingUnlocked)
{
    <div class="gray-container">
        You can explore the South Wing of the Museum. The Museum will close in <b>@Model.ExpiryDate.GetTimeUntil()</b>.
    </div>
    <div id="displayItems">
        @await Html.PartialAsync("_MuseumDisplayItemsPartial", Model)
    </div>
}
else
{
    <div class="alert alert-info no-margin-bottom">
        You can open the South Wing of the Museum by reaching at least a <b>5x streak</b> playing <b><a class="alert-link" href="/StreakCards">Streak Cards</a></b>.
    </div>
    <form action="@Url.Action("UnlockSouthWing", "Museum")" method="POST" onsubmit="submitMuseumForm(event, this, @((int)MuseumWing.South));">
        @Html.AntiForgeryToken()
        <div class="large-padding-top">
            <button type="submit" class="btn btn-success @(Model.HasStreakAccomplishment ? "" : "disabled")">Unlock South Wing</button>
        </div>
    </form>
}