﻿@model MuseumViewModel

<h5>Most Attention Hall Posts (@(Helper.FormatNumber(Model.TopAttentionHallPoster.Amount)))</h5>
<div class="pull-left">
    @if (string.IsNullOrEmpty(Model.TopAttentionHallPoster.DisplayPicUrl))
    {   <div class="circle" id="colored-by-username-@Model.TopAttentionHallPoster.Username" value="@Model.TopAttentionHallPoster.Username" data-user-color="@Model.TopAttentionHallPoster.Color">
            @Model.TopAttentionHallPoster.Username.Substring(0, 1).ToUpper()
        </div>
    }
    else
    {
        <img class="img-circle display-image" src="@Model.TopAttentionHallPoster.DisplayPicUrl" />
    }
</div>
<div class="padding-top"></div>
<a class="padding-left" href="/User/@Model.TopAttentionHallPoster.Username"><b>@Model.TopAttentionHallPoster.Username</b></a>
<div class="padding-top"></div>
<h5>Most Attention Hall Comments (@(Helper.FormatNumber(Model.TopAttentionHallCommenter.Amount)))</h5>
<div class="pull-left">
    @if (string.IsNullOrEmpty(Model.TopAttentionHallCommenter.DisplayPicUrl))
    {
        <div class="circle" id="colored-by-username-@Model.TopAttentionHallCommenter.Username" value="@Model.TopAttentionHallCommenter.Username" data-user-color="@Model.TopAttentionHallCommenter.Color">
            @Model.TopAttentionHallCommenter.Username.Substring(0, 1).ToUpper()
        </div>
    }
    else
    {
        <img class="img-circle display-image" src="@Model.TopAttentionHallCommenter.DisplayPicUrl" />
    }
</div>
<div class="padding-top"></div>
<a class="padding-left" href="/User/@Model.TopAttentionHallCommenter.Username"><b>@Model.TopAttentionHallCommenter.Username</b></a>
<div class="large-padding-top"></div>
<h5>Rarest Accomplishment (@Helper.FormatNumber(Model.RarestAccomplishment.Count) User@(Model.RarestAccomplishment.Count == 1 ? "" : "s"))</h5>
<div class="grid-container grid-container--fit">
    <div class="grid-container-no-padding grid-element text-center">
        <div>
            <img class="accomplishment-dimensions" src="@Helper.GetImageUrl(Model.RarestAccomplishment.ImageUrl)" alt="@Model.RarestAccomplishment.Description" title="@Model.RarestAccomplishment.Description">
            <div>
                <h5>@Model.RarestAccomplishment.Name</h5>
                <p><i><small>@Model.RarestAccomplishment.Description</small></i></p>
            </div>
        </div>
    </div>
</div>
<h5>Oldest Owned Item (@Helper.FormatNumber(Model.OldestItem.GetAgeInDays()) days old)</h5>
<div class="grid-container grid-container--fit">
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(Model.OldestItem.ImageUrl)" alt="@Model.OldestItem.Description" title="@Model.OldestItem.Description">
                <div>
                    <h5>@Model.OldestItem.Name</h5>
                    <p><i><small>@Model.OldestItem.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(Model.OldestItem.TotalUses > 0 ? $"{Model.OldestItem.TotalUses} Use{(Model.OldestItem.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(Model.OldestItem.GetAgeInHours()) hour@(Model.OldestItem.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @Model.OldestItem.Category
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">Owned by <a href="/User/@Model.OldestItem.Username">@Model.OldestItem.Username</a></small>
                </div>
            </div>
        </div>
</div>
<h5>Longest Owned Item (@Helper.FormatNumber((int)(DateTime.UtcNow - Model.LongestOwnedItem.AddedDate).TotalDays) days)</h5>
<div class="grid-container grid-container--fit">
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(Model.LongestOwnedItem.ImageUrl)" alt="@Model.LongestOwnedItem.Description" title="@Model.LongestOwnedItem.Description">
                <div>
                    <h5>@Model.LongestOwnedItem.Name</h5>
                    <p><i><small>@Model.LongestOwnedItem.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(Model.LongestOwnedItem.TotalUses > 0 ? $"{Model.OldestItem.TotalUses} Use{(Model.OldestItem.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(Model.LongestOwnedItem.GetAgeInHours()) hour@(Model.LongestOwnedItem.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @Model.LongestOwnedItem.Category
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">Owned by <a href="/User/@Model.LongestOwnedItem.Username">@Model.LongestOwnedItem.Username</a></small>
                </div>
            </div>
        </div>
</div>

