﻿@model MuseumViewModel

<h5>@Model.CurrentWing Wing Items (@Helper.FormatNumber(Model.MuseumDisplays.Count))</h5>
<div class="grid-container grid-container--fit">
    @{ int index = 0; }
    @foreach (MuseumDisplay museumDisplay in Model.MuseumDisplays)
    {
        <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="$('#modal-@index').modal();">
            <div>
                <img class="shadow" src="@Helper.GetImageUrl(museumDisplay.ImageUrl)" width="@(95 * Math.Min(1.2, museumDisplay.WidthToHeightRatio))" height="95" alt="@museumDisplay.Name" title="@museumDisplay.Name" />
                <h5 class="small-padding-top">
                    <b>@museumDisplay.Name</b>
                </h5>
                <p>
                    <div class="fas fa-info-circle gray-color"></div>
                    <div><small><i>Tap to learn more about this display item.</i></small></div>
                </p>
            </div>
        </div>
        <div class="modal fade" id="modal-@index" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@museumDisplay.Name</h4>
                    </div>
                    <div class="modal-body text-center">
                        <img class="shadow" src="@Helper.GetImageUrl(museumDisplay.ImageUrl)" width="@(95 * Math.Min(1.2, museumDisplay.WidthToHeightRatio))" height="95" alt="@museumDisplay.Name" title="@museumDisplay.Name" />
                        <h5 class="large-margin-top primary-container light-blue-border no-margin-bottom">
                            @museumDisplay.Description
                        </h5>
                    </div>
                    @if (museumDisplay.PinCode > 0)
                    {
                        <form action="@Url.Action("UnlockBriefcase", "Museum")" method="POST" onsubmit="submitMuseumForm(event, this, @((int)MuseumWing.West));">
                            @Html.AntiForgeryToken()
                            <div class="input-group extra-large-padding-left extra-large-padding-right large-padding-bottom">
                                <input type="number" class="form-control" id="pinCode" name="pinCode" placeholder="Code" autocomplete="off" autofocus min="100" max="999" required>
                                <span class="input-group-btn"><button type="submit" class="btn btn-secondary btn-rounded">Enter</button></span>
                            </div>
                        </form>
                    }
                    else
                    {
                        <div class="small-padding-top large-padding-left large-padding-right padding-bottom">
                            <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                        </div>
                    }
                </div>
            </div>
        </div>
        index++;
    }
</div>