﻿@model MuseumViewModel


@if (Model.WestWingUnlocked)
{
    <div class="gray-container">
        You can explore the West Wing of the Museum. The Museum will close in <b>@Model.ExpiryDate.GetTimeUntil()</b>.
    </div>
    <div id="displayItems">
        @await Html.PartialAsync("_MuseumDisplayItemsPartial", Model)
    </div>
}
else
{
    <div class="alert alert-info">
        You can open the West Wing of the Museum by donating an item that is at least <b>500 hours old</b>.
    </div>
    <h5>Qualifying Items (@Helper.FormatNumber(Model.Items.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("DonateWestWing", "Museum")" method="POST" onsubmit="submitMuseumForm(event, this, @((int)MuseumWing.West));">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Donate Item</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info">
            You don't have any items that are at least <b>500 hours old</b>. Items that are in your Deck or that have an Unusable condition cannot be donated.
        </div>
    }
}