﻿@model MuseumViewModel

@if (Model.EastWingUnlocked)
{
    <div class="gray-container">
        You can explore the East Wing of the Museum. The Museum will close in <b>@Model.ExpiryDate.GetTimeUntil()</b>.
    </div>
    <div id="displayItems">
        @await Html.PartialAsync("_MuseumDisplayItemsPartial", Model)
    </div>
}
else
{
    <div class="alert alert-info no-margin-bottom">
        You can open the East Wing of the Museum by donating <b>@Helper.GetFormattedPoints(5000)</b>.
    </div>
    <form action="@Url.Action("DonateEastWing", "Museum")" method="POST" onsubmit="submitMuseumForm(event, this, @((int)MuseumWing.East));">
        @Html.AntiForgeryToken()
        <div class="large-padding-top">
            <button type="submit" class="btn btn-success @(Model.User.Points >= 5000 ? "" : "disabled")">Donate @Helper.GetFormattedPoints(5000)</button>
        </div>
    </form>
}