﻿@model MuseumViewModel

<div class="gray-container">
    You can buy Art Cards to display in your Showroom. The Museum will close in <b>@Model.ExpiryDate.GetTimeUntil()</b>.
</div>
<h5>Items (@Helper.FormatNumber(Model.Items.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5 class="@(item.IsExclusive ? "no-margin-bottom small-margin-bottom" : "")">@item.Name</h5>
                    @if (item.IsExclusive)
                    {
                        <div class="label label-success" data-toggle="tooltip" data-placement="top" title="Available for a limited time.">Limited</div>
                        <div class="padding-top"></div>
                    }
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("BuyBoutiqueItem", "Museum")" method="POST" onsubmit="submitMuseumForm(event, this, @((int)MuseumWing.Boutique));">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points && Model.CanBuyBoutiqueItem ? "" : "disabled")">Buy Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>