﻿@model MuseumViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Museum">North Wing</a></li>
            <li><a href="/Museum/EastWing">East Wing</a></li>
            <li><a href="/Museum/WestWing">West Wing</a></li>
            <li class="active"><a href="/Museum/SouthWing">South Wing</a></li>
            <li><a href="/Museum/Boutique">Boutique</a></li>
            <li><a href="/Museum/Records">Records</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="small-padding-top"></div>
        <div id="museumSouthWingPartialView">
            @await Html.PartialAsync("_MuseumSouthWingPartial", Model)
        </div>
    </div>
</div>