﻿@model PromoCodesViewModel

<form action="@Url.Action("Redeem", "PromoCodes")" method="POST" class="large-padding-top" onsubmit="updatePromoCodes(event, this)">
    <div class="input-group large-padding-bottom">
        <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
        <input type="text" class="form-control input-lg text-uppercase" id="promoCode" name="promoCode" maxlength="8" placeholder="Promo Code" value="@Model.Code" onkeyup="checkIfPromoBoxIsEnabled(this.value)" autocomplete="off" autofocus required>
    </div>
    @Html.AntiForgeryToken()
    <button id="redeemPromoCodeButton" type="submit" class="btn btn-success @(string.IsNullOrEmpty(Model.Code) ? "disabled" : "")">Redeem Promo Code</button>
</form>
@if (Model.PromoCodeHistories.Count > 0)
{
    <h5 class="padding-top small-padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#previousPromos">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Recently Redeemed Promo Codes
        </a>
    </h5>
    <div id="previousPromos" class="collapse padding-bottom">
        @foreach (PromoCodeHistory promoCodeHistory in Model.PromoCodeHistories)
        {
            <div class="gray-container">
                <div>
                    <b>@promoCodeHistory.Code</b>
                    <small class="text-muted pull-right">
                        @promoCodeHistory.CreatedDate.GetTimeSince()
                    </small>
                </div>
                <div class="small-padding-top">
                    @Html.Raw(Helper.BoldNumbers(Helper.BoldTimes(Helper.BoldPoints(Helper.BoldQuotes(promoCodeHistory.Message)))))
                </div>
            </div>
            <div class="padding-top"></div>
        }
    </div>
}