﻿@model PromoCodesViewModel

<div class="gray-container">
    You can earn <b>promo codes</b> by reading the <a href="/News">News</a>, receiving a <a href="/Messages">message</a> from the Courier, or exploring @Resources.SiteName.
    When you get one, enter it below to <b class="win-green">redeem</b> a reward.
</div>
<div class="large-padding-top">
    A promo code should be only <b>8 characters</b> and consist of numbers or letters.
</div>
<div id="promoCodesPartialView">
    @await Html.PartialAsync("_PromoCodesMainPartial", Model)
</div>