﻿@model AdminViewModel

<form onsubmit="e.preventDefault(); searchAdmin('@Model.SearchQuery');" class="form-group padding-top">
    <div class="input-group">
        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search by user..." value="@Model.SearchQuery" autofocus autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="searchAdmin('@Model.SearchQuery');"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-secondary btn-rounded" onclick="window.location = '/Admin?page=@ActiveAdminPage.TransferHistory';"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
    </div>
</form>
<div class="gray-container">
    If an item is bought for a much larger amount than its value, it will be <b>flagged</b>. While this usually means nothing, it may be worth investigating some users who may be trying to benefit a side account.
</div>
@if (Model.TransferHistories.Count > 0)
{
    <div class="padding-top"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">Last 250 Flagged Transfers</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Type</th>
                        <th>Transferer</th>
                        <th>Transferee</th>
                        <th>Amount Difference</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TransferHistory transferHistory in Model.TransferHistories.Take(250))
                    {
                        <tr>
                            <td data-title="Id"><a href="/@transferHistory.Type?id=@transferHistory.TransferId">@transferHistory.TransferId</a></td>
                            <td data-title="Type">@transferHistory.Type.GetDisplayName()</td>
                            <td data-title="Transferer"><a href="/User/@transferHistory.Transferer">@transferHistory.Transferer</a></td>
                            <td data-title="Transferee"><a href="/User/@transferHistory.Transferee">@transferHistory.Transferee</a></td>
                            <td data-title="Amount Difference"><b class="@(transferHistory.DifferenceAmount >= 50000 ? "lose-red" : "win-green")">@Helper.GetFormattedPoints(transferHistory.DifferenceAmount)</b></td>
                            <td data-title="Date">@transferHistory.CreatedDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@if (Model.TransferHistories.Count == 0)
{
    <div class="alert alert-info">
        There is no flagged transfer history.
    </div>
}
