﻿@model AdminViewModel

<form onsubmit="e.preventDefault(); searchAdmin('@Model.SearchQuery');" class="form-group padding-top">
    <div class="input-group">
        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search by contacted user..." value="@Model.SearchQuery" autofocus autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="searchAdmin('@Model.SearchQuery');"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-secondary btn-rounded" onclick="window.location = '/Admin?page=@ActiveAdminPage.CompletedContact';"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
    </div>
</form>
<h5>Completed Contact Submissions (@Helper.FormatNumber(Model.ContactSubmissions.Count))</h5>
@foreach (Contact contact in Model.ContactSubmissions)
{
    <div class="gray-container gray-border">
        <div>
            @if (string.IsNullOrEmpty(contact.Username))
            {
                <span>@contact.EmailAddress</span>
            }
            else
            {
                <a href="/User/@contact.Username">@contact.Username</a>
            }
            <small class="text-muted pull-right">@contact.CreatedDate.GetTimeSince()</small>
            @if (!string.IsNullOrEmpty(contact.IPAddress))
            {
                <div class="padding-bottom">
                    IP Address: @contact.IPAddress
                </div>
            }
        </div>
        <div>
            Category: <b>@contact.Category.GetDisplayName()</b>
        </div>
        <div class="show-line-spaces">
            @contact.Message
        </div>
    </div>
    <div class="small-padding-top"></div>
    <div class="gray-container unread-message">
        <div>
            Completed by: <a href="/User/@contact.ClaimedUser">@contact.ClaimedUser</a>
        </div>
        Outcome:
        <div class="show-line-spaces behind-margin-top">
            @contact.Outcome
        </div>
    </div>
    @if (contact.Id != Model.ContactSubmissions.Last().Id)
    {
        <hr />
    }
}
@if (Model.ContactSubmissions.Count == 0)
{
    <div class="alert alert-info">
        @if (string.IsNullOrEmpty(Model.SearchQuery))
        {
            <span>
                There are no completed contact submissions.
            </span>
        }
        else
        {
            <span>
                There are no completed contact submissions that match the contacted user <b>@Model.SearchQuery</b>.
            </span>
        }
    </div>
}