﻿@model AdminViewModel

<h5>General Statistics</h5>
<div>
    Total Users: <b>@Helper.FormatNumber(Model.Statistics.UsersCount)</b>
</div>
<div>
    Users Active in Last 60 Minutes: <b>@Helper.FormatNumber(Model.ActiveUsers.Count)</b>
</div>
<div>
    Average @Resources.Currency On Hand: <b>@Helper.GetFormattedPoints(Model.Statistics.PointsAmount / Model.Statistics.UsersCount)</b>
</div>
<div>
    Average Stadium Matches Played: <b>@Helper.FormatNumber(Model.Statistics.StadiumMatchesCount / Model.Statistics.UsersCount)</b>
</div>
<div>
    Average Items Owned: <b>@Helper.FormatNumber(Model.Statistics.ItemsCount / Model.Statistics.UsersCount)</b>
</div>
<div>
    Average Accomplishments Earned: <b>@Helper.FormatNumber(Model.Accomplishments.FindAll(x => x.Category > AccomplishmentCategory.Orange).Sum(x => x.Count) / Model.Statistics.UsersCount)</b>
</div>
<div>
    Average Accomplishments Earned (including hidden): <b>@Helper.FormatNumber(Model.Accomplishments.Sum(x => x.Count) / Model.Statistics.UsersCount)</b>
</div>
<hr />
<div>
    DAU/MAU Percent: <b>@Model.DAUMAUPercent%</b>
</div>
<h5>Users Active in Last 60 Mins</h5>
@for (int i = 0; i < Model.ActiveUsers.Count; i++)
{
    <div>
        @(i + 1). <a href="/Admin?page=@ActiveAdminPage.Users&lookup=@Model.ActiveUsers[i].Username">@Model.ActiveUsers[i].Username</a>
        <small class="pull-right text-muted">@Model.ActiveUsers[i].ModifiedDate.GetTimeSince()</small>
    </div>
}
<hr />
<h5>Users Active In Last 24 Hours Who Signed Up Over 24 Hours Ago</h5>
@for (int i = 0; i < Model.RecentlyReturningUsers.Count; i++)
{
    <div>
        @(i + 1). <a href="/Admin?page=@ActiveAdminPage.Users&lookup=@Model.RecentlyReturningUsers[i].Username">@Model.RecentlyReturningUsers[i].Username</a>
        <small class="pull-right text-muted">@Model.RecentlyReturningUsers[i].ModifiedDate.GetTimeSince()</small>
    </div>
}
<hr />
<div class="dropdown padding-bottom">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Filter Gender by <b class="hidden-xs">@Model.Gender</b>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/Admin?page=@ActiveAdminPage.UserStatistics&gender=@Gender.None">None Specified</a></li>
        <li><a href="/Admin?page=@ActiveAdminPage.UserStatistics&gender=@Gender.Male">Male</a></li>
        <li><a href="/Admin?page=@ActiveAdminPage.UserStatistics&gender=@Gender.Female">Female</a></li>
        <li><a href="/Admin?page=@ActiveAdminPage.UserStatistics&gender=@Gender.Other">Other</a></li>
    </ul>
</div>
<h5>Returning Users</h5>
<div>
    Total Returning Users: <b>@Helper.FormatNumber(Model.ReturningUsers.Count) (@(Model.AllUsers.Count == 0 ? 0 : Math.Round((double)Model.ReturningUsers.Count/Model.AllUsers.Count * 100, 1))%)</b>
    <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Users who joined over 2 weeks ago but were active in the last week."></span>
</div>
<h5>Newest Users (Last 2 Weeks by Gender)</h5>
@for (int i = 0; i < Model.RecentUsers.Count; i++)
{
    <div>
        @(i + 1). <a href="/Admin?page=@ActiveAdminPage.Users&lookup=@Model.RecentUsers[i].Username">@Model.RecentUsers[i].Username</a>
        <small class="pull-right text-muted">@Model.RecentUsers[i].CreatedDate.GetTimeSince()</small>
    </div>
}
<hr />
<div class="panel panel-primary">
    <div class="panel-heading">Accomplishments Rankings</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Earned Amount</th>
                    <th>Earned Percentage</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Accomplishment accomplishment in Model.Accomplishments)
                {
                    <tr>
                        <td data-title="Name">
                            @accomplishment.Name
                            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="@accomplishment.Description"></span>
                        </td>
                        <td data-title="Category">
                            @accomplishment.Category
                        </td>
                        <td data-title="Earned Amount">
                            @Helper.FormatNumber(accomplishment.Count)
                        </td>
                        <td data-title="Earned Percentage">
                            @Math.Round((double)accomplishment.Count/Model.Statistics.UsersCount * 100, 1)%
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>