﻿@model AdminViewModel

<form onsubmit="e.preventDefault(); searchAdmin('@Model.SearchQuery');" class="form-group padding-top">
    <div class="input-group">
        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search by reported user..." value="@Model.SearchQuery" autofocus autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="searchAdmin('@Model.SearchQuery');"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-secondary btn-rounded" onclick="window.location = '/Admin?page=@ActiveAdminPage.CompletedReports';"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
    </div>
</form>
<h5>Completed Reports (@Helper.FormatNumber(Model.CompletedReports.Count))</h5>
@foreach (Report report in Model.CompletedReports)
{
    <div class="gray-container gray-border">
        <div>
            Reporter:
            @if (string.IsNullOrEmpty(report.Username))
            {
                <span>Anonymous</span>
            }
            else
            {
                <a href="/User/@report.Username">@report.Username</a>
            }
            <small class="text-muted pull-right">@report.CreatedDate.GetTimeSince()</small>
            @if (!string.IsNullOrEmpty(report.IPAddress))
            {
                <div class="padding-bottom">
                    IP Address: @report.IPAddress
                </div>
            }
        </div>
        @if (report.AttentionHallPostId > 0)
        {
            <div>
                Reported: <b><a href="/AttentionHall?id=@report.AttentionHallPostId">Attention Hall Post</a></b>
            </div>
        }
        else
        {
            <div>
                Reported: <b><a href="/User/@report.ReportedUser">@report.ReportedUser</a></b>
            </div>
        }
        <div class="show-line-spaces">
            @report.Reason
        </div>
    </div>
    <div class="small-padding-top"></div>
    <div class="gray-container unread-message">
        <div>
            Completed by: <a href="/User/@report.ClaimedUser">@report.ClaimedUser</a>
        </div>
        Outcome:
        <div class="show-line-spaces behind-margin-top">
            @report.Outcome
        </div>
    </div>
    @if (Model.CompletedReports.Last() != report)
    {
        <hr />
    }
}
@if (Model.CompletedReports.Count == 0)
{
    <div class="alert alert-info">
        @if (string.IsNullOrEmpty(Model.SearchQuery))
        {
            <span>
                There are no completed reports.
            </span>
        }
        else if (Model.SearchQuery.Equals(Model.User.Username, StringComparison.InvariantCultureIgnoreCase))
        {
            <span>
                You cannot look up reports about yourself.
            </span>
        }
        else
        {
            <span>
                There are no completed reports that match the reported user <b>@Model.SearchQuery</b>.
            </span>
        }
    </div>
}