﻿@model AdminViewModel

@if (Model.IsHelper)
{
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/Admin?page=Jobs">Job Submissions  <span class="badge">@(Model.JobSubmissions.Count > 0 ? Helper.FormatNumber(Model.JobSubmissions.Count) : "")</span></a></li>
        <li class="active"><a href="#">Helper Applications</a></li>
    </ul>
    <h5>Open Helper Applications (@Helper.FormatNumber(Model.HelperJobSubmissions.Count))</h5>
}
else
{
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#">Job Submissions</a></li>
        <li><a href="/Admin?page=Jobs&isHelper=true">Helper Applications <span class="badge">@(Model.HelperJobSubmissions.Count > 0 ? Helper.FormatNumber(Model.HelperJobSubmissions.Count) : "")</span></a></li>
    </ul>
    <h5>Open Job Submissions (@Helper.FormatNumber(Model.JobSubmissions.Count))</h5>
}
@foreach (JobSubmission jobSubmission in (Model.IsHelper ? Model.HelperJobSubmissions : Model.JobSubmissions))
{
    <div class="gray-container gray-border">
        @if (!Model.IsHelper)
        {
            <div>
                <b>@jobSubmission.Title</b>
            </div>
        }
        <div>
            <a href="/User/@jobSubmission.Username">@jobSubmission.Username</a> @Html.Raw(Model.IsHelper ? "" : $"- <b>{jobSubmission.Position}</b>")
            <small class="text-muted pull-right">@jobSubmission.CreatedDate.GetTimeSince()</small>
        </div>
        @if (jobSubmission.AttentionHallPostId > 0)
        {
            <div class="padding-top">
                <a href="/AttentionHall?id=@jobSubmission.AttentionHallPostId">Attention Hall Post</a>
            </div>
        }
        <div class="show-line-spaces">
            @jobSubmission.Content
        </div>
        <form action="@Url.Action(Model.IsHelper ? "ConfirmHelper" : "ConfirmJob", "Jobs")" method="POST" onsubmit="submitAdminForm(event, this, true);">
            @Html.AntiForgeryToken()
            <input type="hidden" name="jobId" value="@jobSubmission.Id" />
            <input type="hidden" name="status" />
            <div class="large-padding-top">
                <button type="submit" value="accept" onclick="this.form.status.value=this.value;" class="btn btn-success">Accept</button>
                <button type="submit" value="reject" onclick="this.form.status.value=this.value;" class="btn btn-danger">Reject</button>
            </div>
        </form>
    </div>
    <div class="padding-top"></div>
}
@if ((Model.IsHelper ? Model.HelperJobSubmissions : Model.JobSubmissions).Count == 0)
{
    <div class="alert alert-info">
        There are no open submissions to review.
    </div>
}
