﻿@model AdminViewModel

<div class="padding-top"></div>
<a href="/Admin?page=@Model.ActivePage&inactiveType=@InactiveAccountType.Deleted" class="@(Model.InactiveAccountType == InactiveAccountType.Deleted ? "bold" : "")">@InactiveAccountType.Deleted</a>
<a href="/Admin?page=@Model.ActivePage&inactiveType=@InactiveAccountType.Disabled" class="@(Model.InactiveAccountType == InactiveAccountType.Disabled ? "bold" : "")">@InactiveAccountType.Disabled</a>
@if (Model.InactiveAccounts.Count > 0)
{
    <div class="padding-top"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">@Model.InactiveAccountType Accounts (@Helper.FormatNumber(Model.InactiveAccounts.Count))</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Username</th>
                        <th>Reason</th>
                        <th>Info</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (InactiveAccount inactiveAccount in Model.InactiveAccounts)
                    {
                        <tr>
                            <td data-title="Type"><b class="@(inactiveAccount.Type == InactiveAccountType.Deleted ? "lose-red" : "text-muted")">@inactiveAccount.Type</b></td>
                            <td data-title="Username">@inactiveAccount.Username</td>
                            <td data-title="Reason">@inactiveAccount.Reason.GetDisplayName()</td>
                            <td data-title="Info">@inactiveAccount.Info</td>
                            <td data-title="Date">@inactiveAccount.InactiveDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h5>@Model.InactiveAccountType Accounts (@Helper.FormatNumber(Model.InactiveAccounts.Count))</h5>
    <div class="alert alert-info">
        There are no @Model.InactiveAccountType.ToString().ToLower() accounts.
    </div>
}