﻿@model AdminViewModel

<form onsubmit="e.preventDefault(); searchAdmin('@Model.SearchQuery');" class="form-group padding-top">
    <div class="input-group">
        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search by user..." value="@Model.SearchQuery" autofocus autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="searchAdmin('@Model.SearchQuery');"><span class="glyphicon glyphicon-search"></span></button>
            <button class="btn btn-secondary btn-rounded" onclick="window.location = '/Admin?page=@ActiveAdminPage.Surveys';"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
    </div>
</form>
@if (Model.SurveyAnswers.Count > 0)
{
    <h5>Survey Score: <b class="@(Model.SurveyScore > 0 ? "win-green" : Model.SurveyScore < 0 ? "lose-red" : "")">@Model.SurveyScore</b></h5>
}
<h5>Survey Answers (Past 90 Days)</h5>
@foreach (IGrouping<string, SurveyAnswer> surveyAnswerGrouping in Model.SurveyAnswers)
{
    <div class="gray-container gray-border">
        <b>@surveyAnswerGrouping.Key</b>
        <ul class="padding-top">
            @foreach (IGrouping<string, SurveyAnswer> answer in surveyAnswerGrouping.GroupBy(x => x.Answer).OrderByDescending(x => x.Count()).Take(25))
            {
                <li>
                    <b>@Helper.FormatNumber(answer.Count()) Answer@(answer.Count() == 1 ? "" : "s"):</b> @answer.Key
                    @if (answer.Count() == 1)
                    {
                        <span>(<a href='/Admin?lookUp=@answer.First().Username'>@answer.First().Username</a>)</span>
                    }
                </li>
            }
        </ul>
    </div>
    <div class="padding-top"></div>
}
@if (Model.SurveyAnswers.Count == 0)
{
    <div class="alert alert-info">
        There are no survey answers.
    </div>
}
