﻿@model AdminViewModel

<h5>Update Global Settings</h5>
<form id="adminSettingsForm" action="@Url.Action("UpdateAdminSettings", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
    <div class="form-group">
        <div>
            <label for="enableBetaMode">Enable Beta Mode</label>
        </div>
        <label class="checkbox-inline"><input name="enableBetaMode" id="enableBetaMode" type="checkbox" @(Model.AdminSettings.IsBetaEnabled ? "checked" : "")>If enabled, users need to enter a beta code to sign up</label>
    </div>
    <div class="form-group">
        <label for="betaCode">Beta Code</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
            <input id="betaCode" type="text" class="form-control" name="betaCode" value="@Model.AdminSettings.BetaCode" placeholder="Beta Code" @(Model.AdminSettings.IsBetaEnabled ? "" : "disabled") maxlength="8">
        </div>
    </div>
    <div class="form-group">
        <label for="weeklySponsorAmount">Weekly Sponsor Amount</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-coins"></i></span>
            <input id="weeklySponsorAmount" type="number" class="form-control" name="weeklySponsorAmount" value="@Model.AdminSettings.TotalSponsorAmount" placeholder="Weekly Sponsor Amount">
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="enableAds">Enable Ads</label>
        </div>
        <label class="checkbox-inline"><input name="enableAds" id="enableAds" type="checkbox" @(Model.AdminSettings.EnableAds ? "checked" : "")>If enabled, show ads to those who haven't payed to remove them</label>
    </div>
    @Html.AntiForgeryToken()
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Settings</button>
    </div>
</form>
<h5>Send Return Email</h5>
<b>@Helper.FormatNumber(Model.NonReturningUsers.Count) user@(Model.NonReturningUsers.Count == 1 ? "" : "s")</b> qualif@(Model.NonReturningUsers.Count == 1 ? "ies" : "y")
@if (Model.NonReturningUsers.Count > 0)
{
    <span>(@string.Join(", ", Model.NonReturningUsers.Select(x => x.Username)))</span>
}
<form action="@Url.Action("SendReturnEmail", "Admin")" method="POST" class="small-padding-top" onsubmit="submitAdminForm(event, this, true);">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Send Email</button>
    </div>
</form>