﻿@model AdminViewModel
@if (Model.Type == ActiveAdminPage.Reports)
{
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/Admin?page=Reports">Open Reports  <span class="badge">@(Model.Reports.Count > 0 ? Helper.FormatNumber(Model.Reports.Count) : "")</span></a></li>
        <li class="active"><a href="#">Claimed Reports</a></li>
    </ul>
    <h5>Claimed Reports (@Helper.FormatNumber(Model.ClaimedReports.Count))</h5>
    @foreach (Report report in Model.ClaimedReports)
    {
        <div class="gray-container gray-border">
            <div>
                Reporter:
                @if (string.IsNullOrEmpty(report.Username))
                {
                    <span>Anonymous</span>
                }
                else
                {
                    <a href="/User/@report.Username">@report.Username</a>
                }
                <small class="text-muted pull-right">@report.CreatedDate.GetTimeSince()</small>
                @if (!string.IsNullOrEmpty(report.IPAddress))
                {
                    <div class="padding-bottom">
                        IP Address: @report.IPAddress
                    </div>
                }
            </div>
            @if (report.AttentionHallPostId > 0)
            {
                <div>
                    Reported: <b><a href="/AttentionHall?id=@report.AttentionHallPostId">Attention Hall Post</a></b>
                </div>
            }
            else
            {
                <div>
                    Reported: <b><a href="/User/@report.ReportedUser">@report.ReportedUser</a></b>
                </div>
            }
            <div class="show-line-spaces">
                @report.Reason
            </div>
            <div class="padding-top">
                <h5>
                    <a href="/Admin?lookup=@report.ReportedUser"><span class="glyphicon glyphicon-search"></span> Look up <b>@report.ReportedUser</b></a>
                </h5>
                <h5>
                    <a href="/Messages?username=@report.ReportedUser"><span class="glyphicon glyphicon-send"></span> Message <b>@report.ReportedUser</b></a>
                </h5>
                @if (!string.IsNullOrEmpty(report.Username))
                {
                    <div class="small-padding-top"></div>
                    <h5>
                        <a href="/Admin?lookup=@report.Username"><span class="glyphicon glyphicon-search"></span> Look up <b>@report.Username</b></a>
                    </h5>
                    <h5>
                        <a href="/Messages?username=@report.Username"><span class="glyphicon glyphicon-send"></span> Message <b>@report.Username</b></a>
                    </h5>
                }
            </div>
            <form action="@Url.Action("CompleteReport", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@report.Id" />
                <div class="form-group extra-large-padding-top">
                    <label for="outcomeNotes"><span class="glyphicon glyphicon-edit"></span> Outcome Write-Up</label>
                    <textarea class="form-control" name="outcomeNotes" rows="3" id="outcomeNotes" placeholder="Please be as detailed as possible."></textarea>
                </div>
                <div class="padding-bottom">
                    <input type="hidden" name="status" />
                    <button type="submit" value="complete" onclick="this.form.status.value=this.value;" class="btn btn-success">Complete Report</button>
                    <button type="submit" value="unclaim" onclick="this.form.status.value=this.value;" class="btn btn-danger">Unclaim</button>
                </div>
                <small class="text-muted">
                    By completing a report, you are declaring to have done all necessary actions to resolve the issue.
                    If an incomplete report is marked completed, this can lead to the removal of your permissions.
                </small>
            </form>
        </div>
        <div class="padding-top"></div>
    }
    @if (Model.ClaimedReports.Count == 0)
    {
        <div class="alert alert-info">
            You have no claimed reports.
        </div>
    }
}
else if (Model.Type == ActiveAdminPage.Contact)
{
    <ul class="nav nav-tabs nav-justified">
        <li><a href="/Admin?page=Contact">Open Submissions <span class="badge">@(Model.ContactSubmissions.Count > 0 ? Helper.FormatNumber(Model.ContactSubmissions.Count) : "")</span></a></li>
        <li class="active"><a href="#">Claimed Submissions</a></li>
    </ul>
    <h5>Claimed Contact Submissions (@Helper.FormatNumber(Model.ClaimedContactSubmissions.Count))</h5>
    @foreach (Contact contact in Model.ClaimedContactSubmissions)
    {
        <div class="gray-container gray-border">
            <div>
                @if (string.IsNullOrEmpty(contact.Username))
                {
                    <span>@contact.EmailAddress</span>
                }
                else
                {
                    <a href="/User/@contact.Username">@contact.Username</a>
                }
                <small class="text-muted pull-right">@contact.CreatedDate.GetTimeSince()</small>
                @if (!string.IsNullOrEmpty(contact.IPAddress))
                {
                    <div class="padding-bottom">
                        IP Address: @contact.IPAddress
                    </div>
                }
            </div>
            <div>
                Category: <b>@contact.Category.GetDisplayName()</b>
            </div>
            <div>
                @if (contact.ReplyViaMessages)
                {
                    <span>
                        Reply via <a href="/Messages?username=@contact.Username">Messages</a>
                    </span>
                }
                else
                {
                    <span>
                        Reply via email: <a href="mailto:@contact.EmailAddress">@contact.EmailAddress</a>
                    </span>
                }
            </div>
            <div class="show-line-spaces">
                @contact.Message
            </div>
            <div class="padding-top">
                @if (!string.IsNullOrEmpty(contact.Username))
                {
                    <h5>
                        <a href="/Admin?lookup=@contact.Username"><span class="glyphicon glyphicon-search"></span> Look up <b>@contact.Username</b></a>
                    </h5>
                    <h5>
                        <a href="/Messages?username=@contact.Username"><span class="glyphicon glyphicon-send"></span> Message <b>@contact.Username</b></a>
                    </h5>
                }
            </div>
            <form action="@Url.Action("CompleteContact", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@contact.Id" />
                <div class="form-group extra-large-padding-top">
                    <label for="outcomeNotes"><span class="glyphicon glyphicon-edit"></span> Outcome Write-Up</label>
                    <textarea class="form-control" name="outcomeNotes" rows="3" id="outcomeNotes" placeholder="Please be as detailed as possible."></textarea>
                </div>
                <div class="padding-bottom">
                    <input type="hidden" name="status" />
                    <button type="submit" value="complete" onclick="this.form.status.value=this.value;" class="btn btn-success">Complete Submission</button>
                    <button type="submit" value="unclaim" onclick="this.form.status.value=this.value;" class="btn btn-danger">Unclaim</button>
                </div>
                <small class="text-muted">
                    By completing a contact submission, you are declaring to have done all necessary actions to resolve the issue.
                    If an incomplete contact submission is marked completed, this can lead to the removal of your permissions.
                </small>
            </form>
        </div>
        <div class="padding-top"></div>
    }
    @if (Model.ClaimedContactSubmissions.Count == 0)
    {
        <div class="alert alert-info">
            You have no claimed contact submissions.
        </div>
    }
}
else
{
    Context.Response.Redirect("/Admin");
}