﻿@model AdminViewModel
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Open Reports</a></li>
    <li><a href="/Admin?page=Claims&type=Reports">Claimed Reports <span class="badge">@(Model.ClaimedReports.Count > 0 ? Helper.FormatNumber(Model.ClaimedReports.Count) : "")</span></a></li>
</ul>
<h5>Active Reports (@Helper.FormatNumber(Model.Reports.Count))</h5>
@foreach (Report report in Model.Reports)
{
    <div class="gray-container gray-border">
        <div>
            Reporter:
            @if (string.IsNullOrEmpty(report.Username))
            {
                <span>Anonymous</span>
            }
            else
            {
                <a href="/User/@report.Username">@report.Username</a>
            }
            <small class="text-muted pull-right">@report.CreatedDate.GetTimeSince()</small>
            @if (!string.IsNullOrEmpty(report.IPAddress))
            {
                <div class="padding-bottom">
                    IP Address: @report.IPAddress
                </div>
            }
        </div>
        @if (report.AttentionHallPostId > 0)
        {
            <div>
                Reported: <b><a href="/AttentionHall?id=@report.AttentionHallPostId">Attention Hall Post</a></b>
            </div>
        }
        else
        {
            <div>
                Reported: <b><a href="/User/@report.ReportedUser">@report.ReportedUser</a></b>
            </div>
        }
        <div class="show-line-spaces">
            @report.Reason
        </div>
        <form action="@Url.Action("ClaimReport", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@report.Id" />
            <div class="large-padding-top">
                <button type="submit" class="btn btn-primary">Claim Report</button>
            </div>
        </form>
    </div>
    <div class="padding-top"></div>
}
@if (Model.Reports.Count == 0)
{
    <div class="alert alert-info">
        There are no unclaimed reports.
    </div>
}