﻿@model AdminViewModel

<h5>Add a News article</h5>
<div class="text-muted padding-bottom">Note: Articles work with HTML.</div>
<form id="newsForm" action="@Url.Action(Model.Article == null ? "AddArticle" : "EditArticle", "News")" method="POST" onsubmit="submitAdminForm(event, this, false, @(Model.Article == null ? "true" : "false"));">
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" type="text" class="form-control" name="title" placeholder="Article Title" value="@(Model.Article?.Title ?? "")" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input id="author" type="text" class="form-control" name="author" placeholder="Article Author" value="@(Model.Article?.Username ?? "")" autocomplete="off" required>
    </div>
    <div class="form-group">
        <label for="article">Article</label>
        <textarea class="form-control" name="article" rows="5" id="article" placeholder="Article..." autocomplete="off" required>@(Model.Article?.Content ?? "")</textarea>
    </div>
    @if (Model.Article != null)
    {
        <input type="hidden" name="id" value="@Model.Article.Id" />
    }
    @Html.AntiForgeryToken()
    <div class="form-group large-padding-top">
        <button type="submit" class="btn btn-primary">@(Model.Article == null ? "Submit" : "Edit") News Article</button>
    </div>
</form>