﻿@model AdminViewModel

<h5>Accepted Job Submissions (@Helper.FormatNumber(Model.JobSubmissions.Count))</h5>
@foreach (JobPosition jobPosition in Enum.GetValues(typeof(JobPosition)))
{
    <a href="/Admin?page=@Model.ActivePage&jobPosition=@jobPosition" class="@(Model.JobPosition == jobPosition ? "bold" : "")">@jobPosition.GetDisplayName()</a>
}
<div class="padding-top"></div>
@foreach (JobSubmission jobSubmission in Model.JobSubmissions)
{
    <div class="gray-container gray-border">
        <div>
            <b>@jobSubmission.Title</b>
        </div>
        <div>
            <a href="/User/@jobSubmission.Username">@jobSubmission.Username</a> - <b>@jobSubmission.Position</b> 
            <small class="text-muted pull-right">@jobSubmission.CreatedDate.GetTimeSince()</small>
        </div>
        @if (jobSubmission.AttentionHallPostId > 0)
        {
            <div class="padding-top">
                <a href="/AttentionHall?id=@jobSubmission.AttentionHallPostId">Attention Hall Post</a>
            </div>
        }
        <div class="show-line-spaces">
            @jobSubmission.Content
        </div>
    </div>
    <div class="padding-top"></div>
}
@if (Model.JobSubmissions.Count == 0)
{
    <div class="alert alert-info">
        There are no accepted job submissions.
    </div>
}
