﻿@model AdminViewModel

<form action="@Url.Action("GeneratePromoCode", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, false, true);">
    <div class="form-group">
        <label for="type">Promo Type</label>
        <select class="form-control" id="type" name="type" required>
            <option value="1">Add @Resources.Currency</option>
            <option value="2">Reset Bank Interest</option>
            <option value="3">Card Pack</option>
            <option value="4">Item</option>
            <option value="5">Increase Bag Size</option>
            <option value="6">Stadium Bonus</option>
            <option value="7">Reset Young Wizard Visit</option>
            <option value="8">Add Bigger @Resources.Currency</option>
            <option value="9">Junkyard Discount</option>
            <option value="11">Repair Shop Discount</option>
            <option value="12">Reset Spin of Success Spin</option>
            <option value="13">Month Trial of @Resources.SiteName Club</option>
            <option value="14">Reset Treasure Dive Visit</option>
            <option value="15">Big Random Item</option>
        </select>
    </div>
    <div class="form-group">
        <label for="expiresDays">Expires in (days)</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            <input id="expiresDays" type="number" class="form-control" name="expiresDays" placeholder="Amount of days" min="1" max="1000" required>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label for="oneTimeUse">Non-Global Promo Code</label>
        </div>
        <label class="checkbox-inline"><input name="oneTimeUse" id="oneTimeUse" type="checkbox">Only one user can redeem this promo code</label>
    </div>
    <input type="hidden" id="itemId" name="itemId" />
    <h5 class="small-padding-top no-margin-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#items">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Add Item
        </a>
    </h5>
    <div id="items" class="collapse">
        <div class="padding-top"></div>
        <div class="gray-container">
            You must use the <b>Item</b> Promo Type for your selected item to be set. If no item is selected, a random item will be chosen.
        </div>
        <h5>
            Items (@Helper.FormatNumber(Model.Items.Count))
        </h5>
        <div class="grid-container grid-container--fit">
            @foreach (Item item in Model.Items)
            {
                <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="adminItemSelected(this);" id="@item.Id">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                        <div>
                            <h5>@item.Name</h5>
                            <p><i><small>@item.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        @if (item.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                            </div>
                        }
                        <div>
                            <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                        </div>
                        <div>
                            <small>
                                @item.Category
                            </small>
                        </div>
                        <div>
                            <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @Html.AntiForgeryToken()
    <div class="large-padding-top">
        <button type="submit" class="btn btn-success">Generate Promo</button>
    </div>
</form>
@if (Model.PreviousPromoCodes.Count > 0)
{
    <h5 class="padding-top small-padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#previousPromos">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Unexpired Global Promo Codes
        </a>
    </h5>
    <div id="previousPromos" class="collapse padding-bottom">
        @foreach (PromoCode promoCode in Model.PreviousPromoCodes)
        {
            <div class="gray-container">
                <div>
                    <b>@promoCode.Code</b>
                    <small class="text-muted pull-right">Expires in @promoCode.ExpiryDate.GetTimeUntil()</small>
                </div>
                <div>
                    <i>@promoCode.Effect.GetDisplayName()</i>
                </div>
            </div>
            <div class="padding-top"></div>
        }
    </div>
}