﻿@model AdminViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Open Submissions</a></li>
    <li><a href="/Admin?page=Claims&type=Contact">Claimed Submissions <span class="badge">@(Model.ClaimedContactSubmissions.Count > 0 ? Helper.FormatNumber(Model.ClaimedContactSubmissions.Count) : "")</span></a></li>
</ul>
<h5>Active Contact Submissions (@Helper.FormatNumber(Model.ContactSubmissions.Count))</h5>
@foreach (Contact contact in Model.ContactSubmissions)
{
    <div class="gray-container gray-border">
        <div>
            @if (string.IsNullOrEmpty(contact.Username))
            {
                <span>@contact.EmailAddress</span>
            }
            else
            {
                <a href="/User/@contact.Username">@contact.Username</a>
            }
            <small class="text-muted pull-right">@contact.CreatedDate.GetTimeSince()</small>
            @if (!string.IsNullOrEmpty(contact.IPAddress))
            {
                <div class="padding-bottom">
                    IP Address: @contact.IPAddress
                </div>
            }
        </div>
        <div>
            Category: <b>@contact.Category.GetDisplayName()</b>
        </div>
        <div class="show-line-spaces">
            @contact.Message
        </div>
        <form action="@Url.Action("ClaimContact", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
            @Html.AntiForgeryToken()
            <input type="hidden" name="id" value="@contact.Id" />
            <div class="large-padding-top">
                <button type="submit" class="btn btn-primary">Claim Submission</button>
            </div>
        </form>
    </div>
    <div class="padding-top"></div>
}
@if (Model.ContactSubmissions.Count == 0)
{
    <div class="alert alert-info">
        There are no unclaimed contact submissions.
    </div>
}