﻿@model AdminViewModel

@if (Model.LookUpUser == null && (Model.Users == null || Model.Users.Count == 0))
{
    <h5>Look Up a User</h5>
    <form onsubmit="e.preventDefault(); searchUserAdmin();" class="form-group padding-top">
        <div class="input-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username, IP Address, Email" autofocus autocomplete="off">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-rounded" onclick="searchUserAdmin();"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </form>
}
else if (Model.Users?.Count > 0)
{
    <h5>Users with IP Address <b>@Model.IPAddress</b> (@Helper.FormatNumber(Model.Users.Count))</h5>
    @foreach (User user in Model.Users)
    {
        <div>
            <a href="/Admin?lookup=@user.Username">@user.Username</a>
        </div>
    }
}
else
{
    <h5>
        <a href="/User/@Model.LookUpUser.Username">@Model.LookUpUser.Username</a>
        <span class="pull-right">
            <a href="/Messages?username=@Model.LookUpUser.Username"><span class="glyphicon glyphicon-send"></span> Message @Model.LookUpUser.Username</a>
        </span>
    </h5>
    @if (Model.LookUpUser.InactiveType > InactiveAccountType.None)
    {
        <div class="alert alert-info no-margin-bottom">
            This user's account is <b>@Model.LookUpUser.InactiveType.ToString().ToLower()</b>.
        </div>
        <div class="padding-top"></div>
    }
    <h5>Info</h5>
    <div class="gray-container gray-border">
        <div>
            Id: <b>@Helper.FormatNumber(Model.LookUpUser.Id)</b>
        </div>
        <div>
            Role: <b>@Model.LookUpUser.Role.GetDisplayName()</b>
        </div>
        <div>
            Suspension Ends: <b>@Html.Raw(Model.LookUpUser.IsSuspended ? $"<span class='lose-red'>{Model.LookUpUser.SuspendedDate.GetTimeUntil()}</span>" : "None")</b>
        </div>
        @if (Model.User.Role > UserRole.Helper)
        {
            <div class="small-padding-top">
                Email Address: <b>@Model.LookUpUser.EmailAddress</b>
            </div>
            <div>
                IP Address: <b><a href="/Admin?lookup=@Model.LookUpUser.IPAddress">@Model.LookUpUser.IPAddress</a></b>
            </div>
        }
        <div>
            Gender: <b>@Model.LookUpUser.Gender</b>
        </div>
        <div>
            Enables Email Notifications: <b>@(Model.LookUpUser.AllowNotifications ? "Yes" : "No")</b>
        </div>
        <div>
            Verified Email: <b>@(Model.LookUpSettings.VerifiedEmail ? "Yes" : "No")</b>
        </div>
        <div>
            Enables SFX: <b>@(Model.LookUpSettings.EnableSoundEffects ? "Yes" : "No")</b>
        </div>
        <div class="small-padding-top">
            Joined: <b>@Model.LookUpUser.CreatedDate.GetTimeSince()</b>
        </div>
        <div>
            Last Active: <b>@Model.LookUpUser.ModifiedDate.GetTimeSince()</b>
        </div>
        @if (!string.IsNullOrEmpty(Model.LookUpUser.Referral))
        {
            <div>
                Referred By: <b><a href="/Admin?lookup=@Model.LookUpUser.Referral">@Model.LookUpUser.Referral</a></b>
            </div>
        }
        <div class="small-padding-top">
            @Resources.Currency On Hand: <b>@Helper.GetFormattedPoints(Model.LookUpUser.Points)</b>
        </div>
        <div>
            Bank @Resources.Currency: <b>@Helper.GetFormattedPoints(Model.LookUpBank?.Points ?? 0)</b>
        </div>
        <div>
            Sponsor Coins: <b>@Helper.FormatNumber(Model.LookUpSettings.SponsorCoins)</b>
        </div>
        <div>
            Total Accomplishments: <b>@Helper.FormatNumber(Model.Accomplishments.Count)</b>
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="This factors in all accomplishments including hidden ones (red and orange)."></span>
        </div>
        @if (Model.LookUpGroup != null)
        {
            <div class="small-padding-top">
                Group: <b><a href="/Groups?id=@Model.LookUpGroup.Id">@Model.LookUpGroup.Name</a></b>
                @if (Model.User.Role > UserRole.Helper || Model.LookUpGroup.Members.Count < 10)
                {
                    <span class="pull-right">
                        <a href="#" onclick="deleteGroupAdmin(@Model.LookUpGroup.Id)"><span style="font-size: 16px;" class="glyphicon glyphicon-remove lose-red" data-toggle="tooltip" data-placement="top" title="Remove Group"></span></a>
                    </span>
                }
                @if (Model.User.Role > UserRole.Helper)
                {
                    <a href="/Groups/Create?id=@Model.LookUpGroup.Id" class="btn btn-xs btn-success">Edit</a>
                }
            </div>
        }
        @if (Model.LookUpMarketStall != null)
        {
            <div class="small-padding-top">
                Market Stall: <b><a href="/MarketStalls?id=@Model.LookUpMarketStall.Id">@Model.LookUpMarketStall.Name</a></b>
                @if (Model.User.Role > UserRole.Helper)
                {
                    <span class="pull-right">
                        <a href="#" onclick="deleteMarketStallAdmin(@Model.LookUpMarketStall.Id)"><span style="font-size: 16px;" class="glyphicon glyphicon-remove lose-red" data-toggle="tooltip" data-placement="top" title="Remove Market Stall"></span></a>
                    </span>
                }
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.LookUpUser.DisplayPicUrl))
        {
            <div class="small-padding-top">
                Display Picture: <img class="img-circle display-image" src="@Model.LookUpUser.DisplayPicUrl" />
                <form class="small-padding-top" action="@Url.Action("RemoveDisplayPicture", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                    <button type="submit" class="btn btn-sm btn-danger">Remove Display Picture</button>
                </form>
            </div>
        }
    </div>
    @if (Model.ActiveSessions.Count > 0)
    {
        <h5>Active Sessions</h5>
        <div class="panel panel-primary margin-bottom">
            <div class="panel-heading">Active Sessions (@Helper.FormatNumber(Model.ActiveSessions.Count))</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>IP Address</th>
                            <th>Info</th>
                            <th>Login Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ActiveSession activeSession in Model.ActiveSessions)
                        {
                            <tr>
                                <td data-title="IP Address">@activeSession.IPAddress</td>
                                <td data-title="Info">@activeSession.UserAgent</td>
                                <td data-title="Login Date">@activeSession.CreatedDate.GetTimeSince()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (Model.SameIPUsers.Count > 1 && Model.LookUpUser.Role <= Model.User.Role)
    {
        <h5>Same IP Users</h5>
        <div class="panel panel-primary margin-bottom">
            <div class="panel-heading">Users with Same IP Address (@Helper.FormatNumber(Model.SameIPUsers.Count - 1))</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User user in Model.SameIPUsers)
                        {
                            if (user.Username == Model.LookUpUser.Username || user.Role > UserRole.Helper)
                            {
                                continue;
                            }
                            <tr>
                                <td data-title="Username"><a href="/Admin?lookup=@user.Username">@user.Username</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <h5>Admin</h5>
    <div class="gray-container gray-border">
        <h5 class="no-margin-top">Suspension</h5>
        @if (Model.LookUpUser.IsSuspended)
        {
            <form action="@Url.Action("UnsuspendUser", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
                @Html.AntiForgeryToken()
                <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                <div class="form-group">
                    <label for="reason"><span class="glyphicon glyphicon-edit"></span> Unsuspension Reason</label>
                    <textarea class="form-control" name="reason" rows="3" id="reason" placeholder="Please be as detailed as possible." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Unsuspend User</button>
            </form>
        }
        else
        {
            <form action="@Url.Action("SuspendUser", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);">
                @Html.AntiForgeryToken()
                <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                <div class="form-group">
                    <label for="suspendDays">Suspension Days @(Model.User.Role >= UserRole.Admin ? "(-1 for permanent suspension)" : "(Up to 30 days)")</label>
                    <input id="suspendDays" type="number" class="form-control" name="suspendDays" placeholder="Suspension Days" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="reason"><span class="glyphicon glyphicon-edit"></span> Suspension Reason</label>
                    <textarea class="form-control" name="reason" rows="3" id="reason" placeholder="Please be as detailed as possible." required></textarea>
                </div>
                <button type="submit" class="btn btn-danger">Suspend User</button>
            </form>
        }
        <h5>Profile</h5>
        <div>
            Reset the user's profile information.
        </div>
        <form action="@Url.Action("ResetProfile", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
            @Html.AntiForgeryToken()
            <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
            <button type="submit" class="btn btn-danger">Reset Profile Info</button>
        </form>
        <div class="small-padding-top"></div>
        <h5>Log Out Active Sessions</h5>
        <div>
            Log out all active sessions for this user and force them to log back in.
        </div>
        <form action="@Url.Action("RemoveActiveSessions", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
            @Html.AntiForgeryToken()
            <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
            <button type="submit" class="btn btn-danger">Log Out Active Sessions</button>
        </form>
        <div class="small-padding-top"></div>
        <h5>Delete Wishing Stone Wishes</h5>
        <div>
            Delete all Wishing Stone wishes for a user (if they have violated the Terms of Service).
        </div>
        <form action="@Url.Action("DeleteWishingStoneWishes", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
            @Html.AntiForgeryToken()
            <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
            <button type="submit" class="btn btn-danger">Delete Wishes</button>
        </form>
        @if (Model.User.Role > UserRole.Admin)
        {
            <div class="small-padding-top"></div>
            <h5>Give 50 Sponsor Coins</h5>
            <div>
                Typically given to Admins who can then gift to other users from the Sponsor Society.
            </div>
            <form action="@Url.Action("AddSponsorCoins", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
                @Html.AntiForgeryToken()
                <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                <button type="submit" class="btn btn-success">Give Sponsor Coins</button>
            </form>
        }
        <div class="small-padding-top"></div>
        @if (Model.User.Role > UserRole.Helper)
        {
            <h5>Flush Session</h5>
            <div>
                Clear a user's session if they're experiencing caching issues.
            </div>
            <form action="@Url.Action("FlushSession", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
                @Html.AntiForgeryToken()
                <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                <button type="submit" class="btn btn-danger">Flush Session</button>
            </form>
            <div class="small-padding-top"></div>
            <h5>Ban IP Address</h5>
            <div>
                Prevent anyone with the IP Address <b>@Model.LookUpUser.IPAddress</b> from signing up.
            </div>
            @if (Model.IsIPAddressBanned)
            {
                <form action="@Url.Action("UnbanIpAddress", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                    <button type="submit" class="btn btn-primary">Remove Banned IP Address</button>
                </form>
            }
            else
            {
                <form action="@Url.Action("BanIpAddress", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                    <button type="submit" class="btn btn-danger">Ban IP Address</button>
                </form>
            }
            <div class="small-padding-top"></div>
        }
        @if (Model.User.Role > UserRole.Helper && !Model.Accomplishments.Any(x => x.Id == AccomplishmentId.CommunityHelper))
        {
            <h5>Give Community Helper Badge</h5>
            <div>
                Give a user the <b>Community Helper</b> badge. This can be given if they've provided additional helpful work to @Resources.SiteName that isn't normally awarded.
            </div>
            <form action="@Url.Action("GiveCommunityHelperAccomplishment", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="padding-top">
                @Html.AntiForgeryToken()
                <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                <button type="submit" class="btn btn-success">Give Accomplishment</button>
            </form>
            <div class="small-padding-top"></div>
        }
        <h5>Notes</h5>
        <div>
            Add notes for this user (visible to all members of the @Resources.SiteName team).
        </div>
        <form action="@Url.Action("AddNotes", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="small-padding-top">
            @Html.AntiForgeryToken()
            <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
            <div class="form-group">
                <label for="notes"><span class="glyphicon glyphicon-edit"></span> Notes</label>
                <textarea class="form-control" name="notes" rows="3" id="notes" placeholder="Optionally add detailed notes about this user for future reference." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Notes</button>
        </form>
        @if (Model.User.Role > UserRole.Helper)
        {
            <div class="small-padding-top"></div>
            <h5>Reset Password</h5>
            <div>
                If a user no longer has access to their email and their password, you can generate a reset password link for them.
            </div>
            <form action="@Url.Action("ResetPassword", "Admin")" method="POST" onsubmit="submitAdminForm(event, this);" class="padding-top">
                @Html.AntiForgeryToken()
                <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                <button type="submit" class="btn btn-primary">Generate Reset Password Link</button>
            </form>
            <div class="small-padding-top"></div>
            <h5>Role</h5>
            <div>
                The user's current role is: <b>@Model.LookUpUser.Role.GetDisplayName()</b> (@Model.LookUpUser.Role)
            </div>
            bool showButton = false;
            if (Model.User.Role > Model.LookUpUser.Role)
            {
                showButton = true;
                <div class="padding-top"></div>
                <form action="@Url.Action("PromoteUser", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="inline">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                    <button type="submit" class="btn btn-success">Promote</button>
                </form>
            }
            if (Model.LookUpUser.Role < Model.User.Role && Model.LookUpUser.Role > UserRole.Default)
            {
                if (!showButton)
                {
                    <div class="padding-top"></div>
                }
                <form action="@Url.Action("DemoteUser", "Admin")" method="POST" onsubmit="submitAdminForm(event, this, true);" class="inline">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="username" value="@Model.LookUpUser.Username" />
                    <button type="submit" class="btn btn-danger">Demote</button>
                </form>
            }
        }
    </div>
    @if (Model.SuspensionHistories.Count > 0 && Model.LookUpUser.Username != Model.User.Username)
    {
        <div class="padding-top"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Suspension History</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Suspended By</th>
                            <th>Suspension Ends</th>
                            <th>Action Taken On</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (SuspensionHistory suspensionHistory in Model.SuspensionHistories)
                        {
                            <tr>
                                <td data-title="Suspended By"><a href="/User/@suspensionHistory.SuspendingUser">@suspensionHistory.SuspendingUser</a></td>
                                <td data-title="Suspension Ends">@suspensionHistory.SuspendedDate.ToString("MMM d, yyyy")</td>
                                <td data-title="Action Taken On">@suspensionHistory.CreatedDate.ToString("MMM d, yyyy")</td>
                                <td data-title="Reason">@suspensionHistory.Reason</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    @if (Model.AdminHistories.Count > 0 && Model.LookUpUser.Username != Model.User.Username)
    {
        @if (Model.SuspensionHistories.Count == 0)
        {
            <div class="padding-top"></div>
        }
        <div class="panel panel-primary">
            <div class="panel-heading">Admin History</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Admin</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (AdminHistory adminHistory in Model.AdminHistories)
                        {
                            <tr>
                                <td data-title="Admin"><a href="/User/@adminHistory.AdminUser">@adminHistory.AdminUser</a></td>
                                <td data-title="Date">@adminHistory.CreatedDate.ToString("MMM d, yyyy")</td>
                                <td data-title="Action">@adminHistory.Reason</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <h5>Relevant Messages</h5>
    @foreach (KeyValuePair<User, List<Message>> entry in Model.LookUpMessages)
    {
        <div class="gray-container gray-border">
            <h5 class="no-margin-top">
                Conversation with <a href="/User/@entry.Key.Username">@entry.Key.Username</a>
            </h5>
            @foreach (Message message in entry.Value)
            {
                <div>
                    <b>@message.Sender</b>: @Html.Raw(message.Content)
                </div>
            }
        </div>
        <div class="padding-top"></div>
    }
    @if (Model.LookUpMessages.Count == 0)
    {
        <div class="text-muted">
            You are not able to see this user's messages as none of them are related to any of your claimed reports.
        </div>
    }
    @if (Model.User.Role > UserRole.Helper)
    {
        <div class="padding-top"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Accomplishments (@Helper.FormatNumber(Model.Accomplishments.Count))</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Date Earned</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Accomplishment accomplishment in Model.Accomplishments)
                        {
                            <tr>
                                <td data-title="Name">
                                    @accomplishment.Name
                                    <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="@accomplishment.Description"></span>
                                </td>
                                <td data-title="Category">
                                    @accomplishment.Category
                                </td>
                                <td data-title="Date Earned">
                                    @accomplishment.ReceivedDate.GetTimeSince()
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <h5>Recent Reports (@Helper.FormatNumber(Model.Reports.Count))</h5>
    foreach (Report report in Model.Reports.Take(25))
    {
        <div class="gray-container gray-border">
            <div>
                Reporter:
                @if (string.IsNullOrEmpty(report.Username))
                {
                    <span>Anonymous</span>
                }
                else
                {
                    <a href="/User/@report.Username">@report.Username</a>
                }
                <small class="text-muted pull-right">@report.CreatedDate.GetTimeSince()</small>
                @if (!string.IsNullOrEmpty(report.IPAddress))
                {
                    <div class="padding-bottom">
                        IP Address: @report.IPAddress
                    </div>
                }
            </div>
            <div class="show-line-spaces">
                @report.Reason
            </div>
        </div>
        @if (report.IsCompleted)
        {
            <div class="small-padding-top"></div>
            <div class="gray-container unread-message">
                <div>
                    Completed by: <a href="/User/@report.ClaimedUser">@report.ClaimedUser</a>
                </div>
                Outcome:
                <div class="show-line-spaces behind-margin-top">
                    @report.Outcome
                </div>
            </div>
        }
        @if (Model.Reports.Last() != report)
        {
            <hr />
        }
    }
    @if (Model.LookUpUser.Username == Model.User.Username)
    {
        <div class="text-muted">You cannot see reports about yourself.</div>
    }
    else if (Model.Reports.Count == 0)
    {
        <div class="text-muted">Nobody has ever reported this user.</div>
    }
    @if (Model.User.Role > UserRole.Helper)
    {
        <h5>Recent Contact Submissions (@Helper.FormatNumber(Model.ContactSubmissions.Count))</h5>
        foreach (Contact contact in Model.ContactSubmissions.Take(25))
        {
            <div class="gray-container gray-border">
                <small class="text-muted">@contact.CreatedDate.GetTimeSince()</small>
                <div class="show-line-spaces">
                    @contact.Message
                </div>
            </div>
            @if (contact.IsCompleted)
            {
                <div class="small-padding-top"></div>
                <div class="gray-container unread-message">
                    <div>
                        Completed by: <a href="/User/@contact.ClaimedUser">@contact.ClaimedUser</a>
                    </div>
                    Outcome:
                    <div class="show-line-spaces behind-margin-top">
                        @contact.Outcome
                    </div>
                </div>
            }
            @if (Model.ContactSubmissions.Last() != contact)
            {
                <hr />
            }
        }
        @if (Model.LookUpUser.Username == Model.User.Username)
        {
            <div class="text-muted">You cannot see your own contact submissions.</div>
        }
        else if (Model.ContactSubmissions.Count == 0)
        {
            <div class="text-muted">This user has no contact submissions.</div>
        }
    }
    @if (Model.User.Role > UserRole.Helper && Model.UserLogs?.Count > 0)
    {
        <h5>Recent Logs</h5>
        foreach (string log in Model.UserLogs.Take(25))
        {
            <div class="gray-container gray-border">
                @log
            </div>
            if (log != Model.UserLogs.Last())
            {
                <hr />
            }
        }
    }
}
