﻿@model AdminViewModel

<div class="gray-container">
    All the Staff members and Helpers of the @Resources.SiteName Team.
</div>
<h5>Staff (@Helper.FormatNumber(Model.Users.FindAll(x => x.Role > UserRole.Helper).Count))</h5>
@foreach (User user in Model.Users.FindAll(x => x.Role > UserRole.Helper))
{
    <div>
        <a href="/Admin?page=@ActiveAdminPage.Users&lookup=@user.Username">@user.Username</a>
    </div>
}
<h5>Helpers (@Helper.FormatNumber(Model.Users.FindAll(x => x.Role == UserRole.Helper).Count))</h5>
@foreach (User user in Model.Users.FindAll(x => x.Role == UserRole.Helper))
{
    <div>
        <a href="/Admin?page=@ActiveAdminPage.Users&lookup=@user.Username">@user.Username</a>
    </div>
}