﻿@model AdminViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <div class="list-group">
            <a href="/Admin" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Users ? "active" : "")">Users</a>
            <a href="/Admin?page=@ActiveAdminPage.Reports" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Reports || Model.Type == ActiveAdminPage.Reports ? "active" : "")"><span class="@(Model.Reports.Count > 0 ? "extra-large-padding-left" : "")">Reports</span><span class="badge">@(Model.Reports.Count > 0 ? Helper.FormatNumberShortened(Model.Reports.Count) : "")</span></a>
            <a href="/Admin?page=@ActiveAdminPage.CompletedReports" class="list-group-item @(Model.ActivePage == ActiveAdminPage.CompletedReports ? "active" : "")">Completed Reports</a>
            <a href="/Admin?page=@ActiveAdminPage.TransferHistory" class="list-group-item @(Model.ActivePage == ActiveAdminPage.TransferHistory ? "active" : "")">Transfer History</a>
            <a href="/Admin?page=@ActiveAdminPage.Members" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Members ? "active" : "")">Team Members</a>
            @if (Model.User.Role >= UserRole.SuperAdmin)
            {
                
                <a href="/Admin?page=@ActiveAdminPage.Settings" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Settings ? "active" : "")">Admin Settings</a>

            }
            @if (Model.User.Role > UserRole.Helper)
            {
                <a href="/Admin?page=@ActiveAdminPage.Jobs" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Jobs ? "active" : "")">Job Center</a>
                <a href="/Admin?page=@ActiveAdminPage.CompletedJobs" class="list-group-item @(Model.ActivePage == ActiveAdminPage.CompletedJobs ? "active" : "")">Completed Jobs</a>
                <a href="/Admin?page=@ActiveAdminPage.Contact" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Contact || Model.Type == ActiveAdminPage.Contact ? "active" : "")">Contact Submissions</a>
                <a href="/Admin?page=@ActiveAdminPage.CompletedContact" class="list-group-item @(Model.ActivePage == ActiveAdminPage.CompletedContact ? "active" : "")">Completed Contact</a>
                <a href="/Admin?page=@ActiveAdminPage.News" class="list-group-item @(Model.ActivePage == ActiveAdminPage.News ? "active" : "")">News Management</a>
                <a href="/Admin?page=@ActiveAdminPage.Promos" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Promos ? "active" : "")">Promo Codes</a>
                <a href="/Admin?page=@ActiveAdminPage.Surveys" class="list-group-item @(Model.ActivePage == ActiveAdminPage.Surveys ? "active" : "")">Survey Results</a>
                <a href="/Admin?page=@ActiveAdminPage.InactiveAccounts" class="list-group-item @(Model.ActivePage == ActiveAdminPage.InactiveAccounts ? "active" : "")">Inactive Accounts</a>
                <a href="/Admin?page=@ActiveAdminPage.UserStatistics" class="list-group-item @(Model.ActivePage == ActiveAdminPage.UserStatistics ? "active" : "")">User Statistics</a>
            }
            @if (Model.User.Role == UserRole.Helper)
            {
                <a href="/HelperGuidelines" class="list-group-item">Helper Guidelines</a>
            }
        </div>
    </div>
    <div id="adminPartialView" class="col-md-9">
        @if (Model.ActivePage == ActiveAdminPage.Users)
        {
            @await Html.PartialAsync("_AdminUsersPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Reports)
        {
            @await Html.PartialAsync("_AdminReportsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.CompletedReports)
        {
            @await Html.PartialAsync("_AdminCompletedReportsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Claims)
        {
            @await Html.PartialAsync("_AdminClaimsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Members)
        {
            @await Html.PartialAsync("_AdminMembersPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Settings && Model.User.Role >= UserRole.SuperAdmin)
        {
            @await Html.PartialAsync("_AdminSettingsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Jobs && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminJobsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.CompletedJobs && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminCompletedJobsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Contact && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminContactPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.CompletedContact && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminCompletedContactPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.News && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminNewsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Promos && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminPromosPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.Surveys && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminSurveysPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.InactiveAccounts && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminInactiveAccountsPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.TransferHistory)
        {
            @await Html.PartialAsync("_AdminTransferHistoryPartial", Model)
        }
        else if (Model.ActivePage == ActiveAdminPage.UserStatistics && Model.User.Role > UserRole.Helper)
        {
            @await Html.PartialAsync("_AdminUserStatisticsPartial", Model)
        }
    </div>
</div>