﻿@model SwapDeckViewModel


@if (Model.HasBetterSwapDeckLuck)
{
    <div class="alert alert-success no-margin-bottom">
        <h5>
            Your <b>Citrus Swap Candy Card</b> gives you better luck with swapping your deck!
        </h5>
    </div>
    <div class="small-padding-top"></div>
}
<h5 id="swap-deck-label">
    Your Deck
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Card card in Model.Deck)
    {
        <div class="grid-container-no-padding grid-element text-center @(Model.CanSwapDeck ? "clickable grow" : "faded")" onclick="@(Model.CanSwapDeck ? "swapDeckCardSelected(this);" : "")" id="@card.SelectionId">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                <div>
                    <h5>@card.Name</h5>
                    <p><i><small>@card.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (card.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                    </div>
                }
                <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(card.GetAgeInHours()) hour@(card.GetAgeInHours() == 1 ? "" : "s") old">
                    <small>
                        @card.Category <span class="@Helper.GetItemConditionColor(card.Condition)">(@card.Condition)</span>
                    </small>
                </span>
            </div>
            <div>
                <small class="text-muted">~@Helper.GetFormattedPoints(card.Points)</small>
            </div>
        </div>
    }
</div>
@if (Model.Deck.Count > 0)
{
    <div class="large-padding-top">
        Tap on any @Resources.DeckCard to choose it and then press the button below to <b>swap it</b>!
    </div>
    <form action="@Url.Action("Swap", "SwapDeck")" method="POST" class="large-padding-top" onsubmit="updateSwapDeck(event, this, true)">
        <input type="hidden" id="selectedDeckCard" name="selectedDeckCard" />
        @Html.AntiForgeryToken()
        <button id="swapDeckButton" type="submit" class="btn btn-success disabled">Swap @Resources.DeckCard!</button>
    </form>
}
else
{
    <div class="alert alert-info">
        You don't have any @Resources.DeckCards in your <a href="/Items">Deck</a>. Add at least one and then come back!
    </div>
}
@if (Model.SwapDeckHistories.Count > 0)
{
    <h5 class="padding-top small-padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#swapDeckHistories">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Recent Swaps
        </a>
    </h5>
    <div id="swapDeckHistories" class="collapse padding-bottom">
        @foreach (SwapDeckHistory swapDeckHistory in Model.SwapDeckHistories)
        {
            <div class="gray-container">
                <div>
                    <b class="@(swapDeckHistory.Type == SwapDeckType.None ? "" : (swapDeckHistory.Type == SwapDeckType.Positive ? "win-green" : "lose-red"))">@swapDeckHistory.Type.GetDisplayName()</b>
                    <small class="text-muted pull-right">@swapDeckHistory.CreatedDate.GetTimeSince()</small>
                </div>
                <div class="small-padding-top">
                    @Html.Raw(Helper.BoldNumbers(Helper.BoldTimes(Helper.BoldPoints(Helper.BoldQuotes(swapDeckHistory.Message)))))
                </div>
            </div>
            <div class="padding-top"></div>
        }
    </div>
}