﻿@model SwapDeckViewModel

<h5 id="maze-start">The Maze</h5>
@if (Model.CanAccessMaze)
{
    @if (Model.CanEnterMaze)
    {
        if (Model.MazeLevel == 0)
        {
            <div class="alert alert-info alert-info-coloring-gradient margin-bottom">
                <h5>
                    You can try your luck and attempt to make it to the end of the Maze for <b class="win-green">@Helper.GetFormattedPoints(500)</b>.
                </h5>
            </div>
            <form action="@Url.Action("EnterMaze", "SwapDeck")" method="POST" onsubmit="updateSwapDeck(event, this, false);">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success @(Model.User.Points < 500 ? "disabled" : "")">Enter Maze! (@Helper.GetFormattedPoints(500))</button>
            </form>
        }
        else if (Model.MazeLevel == 1)
        {
            <div class="primary-container light-blue-border margin-bottom">
                <h5>
                    The Maze is always changing directions. Pick a direction you'd like to head in:
                </h5>
            </div>
        }
        else if (Model.MazeLevel == 2)
        {
            <div class="primary-container margin-bottom">
                <h5>
                    Nice! You picked the right direction! Pick your next direction:
                </h5>
            </div>
        }
        else if (Model.MazeLevel == 3)
        {
            <div class="primary-container margin-bottom">
                <h5>
                    You're not lost yet! Pick your last direction:
                </h5>
            </div>
        }
        else
        {
            <div class="alert alert-success alert-success-coloring-gradient margin-bottom">
                <h5>
                    Congratulations! You reached the end of the Maze!
                </h5>
            </div>
            <form action="@Url.Action("EnterMaze", "SwapDeck")" method="POST" onsubmit="updateSwapDeck(event, this, false);">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success"><h5 class="no-margin-top no-margin-bottom">Get Prize!</h5></button>
            </form>
        }
        if (Model.MazeLevel > 0 && Model.MazeLevel < 4)
        {
            <div class="small-padding-top"></div>
            <form action="@Url.Action("EnterMaze", "SwapDeck")" method="POST" class="inline" onsubmit="updateSwapDeck(event, this, false);">
                <input name="direction" type="hidden" value="@MazeDirection.Left" />
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary"><span class="fas fa-chevron-left"></span> Go Left</button>
            </form>
            <form action="@Url.Action("EnterMaze", "SwapDeck")" method="POST" class="inline" onsubmit="updateSwapDeck(event, this, false);">
                <input name="direction" type="hidden" value="@MazeDirection.Right" />
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Go Right <span class="fas fa-chevron-right"></span></button>
            </form>
        }
    }
    else
    {
        <div class="alert alert-info">
            You can enter the Maze again in <b>@Model.MazeEntryDate.AddDays(1).GetTimeUntil()</b>.
        </div>
    }
}
else
{
    <div class="alert alert-warning alert-warning-coloring-gradient">
        <h5>
            You haven't gained access to the Maze yet. Although, if you have an <b>odd Deck</b>, you can redeem a <b>STRANGE</b> code to gain access.
            Need another hint?
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="If something isn't even, what is it? And where can you redeem a code?"></span>
        </h5>
    </div>
}