﻿@model SwapDeckViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Swap Deck</a></li>
    <li><a href="@Url.Action("Maze", "SwapDeck")">The Maze</a></li>
</ul>
<p>
    <div class="gray-container">
        Once per day, you can pick an active @Resources.DeckCard to be <b>swapped</b> for something new.
        This can either be an <b class="win-green">improvement</b> or a <b class="lose-red">disadvantage</b> to your chosen @Resources.DeckCard.
    </div>
</p>
<div id="swapDeckPartialView">
    @await Html.PartialAsync("_SwapDeckMainPartial", Model)
</div>