﻿@model SwapDeckViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "SwapDeck")">Swap Deck</a></li>
    <li class="active"><a href="#">The Maze</a></li>
</ul>
<p>
    <div class="gray-container">
        You can try making it to the end of the Maze once per day. It costs <b class="win-green">@Helper.GetFormattedPoints(500)</b> to enter but you'll win one of many <b>great prizes</b> if you succeed.
    </div>
</p>
<div id="swapDeckMazePartialView">
    @await Html.PartialAsync("_SwapDeckMazePartial", Model)
</div>