﻿@model HallViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#nav-helpers"><h5>Helpers</h5></a></li>
    <li><a data-toggle="tab" href="#nav-staff"><h5>Staff</h5></a></li>
</ul>
<div class="tab-content padding-top">
    <div class="tab-pane fade active in" id="nav-helpers">
        <div class="gray-container">
            Helpers are volunteers who help keep @Resources.SiteName safe. You can apply to become a Helper at the <a href="/Jobs/Helpers">Job Center</a> if you meet the requirements.
        </div>
        <div class="padding-top"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Helpers (@Helper.FormatNumber(Model.Helpers.Count))</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Join Date</th>
                            <th>Badge</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User user in Model.Helpers)
                        {
                            <tr>
                                <td data-title="User">
                                    <div class="pull-left">
                                        <div class="circle" style="width: 15px; height: 15px;" id="colored-by-username-@user.Username" data-user-color="@user.Color" value="@user.Username"></div>
                                    </div>
                                    <b><a class="padding-left" href="/User/@user.Username">@user.Username</a></b>
                                </td>
                                <td data-title="Join Date">
                                    @user.CreatedDate.GetTimeSince()
                                </td>
                                 <td data-title="Badge">
                                     <span class="label label-helper"><span class="fas fa-star"></span> @user.Role.GetDisplayName()</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-staff">
        <div class="gray-container">
            Staff are official members of the @Resources.SiteName team who ensure your safety, build new features, and keep @Resources.SiteName running smoothly.
        </div>
        <div class="padding-top"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Staff (@Helper.FormatNumber(Model.Staff.Count))</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Join Date</th>
                            <th>Badge</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (User user in Model.Staff)
                        {
                            <tr>
                                <td data-title="User">
                                    <div class="pull-left">
                                        <div class="circle" style="width: 15px; height: 15px;" id="colored-by-username-@user.Username" data-user-color="@user.Color" value="@user.Username"></div>
                                    </div>
                                    <b><a class="padding-left" href="/User/@user.Username">@user.Username</a></b>
                                </td>
                                <td data-title="Join Date">
                                    @user.CreatedDate.GetTimeSince()
                                </td>
                                <td data-title="Badge">
                                    <span class="label label-staff"><span class="fas fa-star"></span> @user.Role.GetDisplayName()</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
