﻿@model RewardsStoreViewModel

<div class="gray-container">
    Every time you earn an <a href="/Profile#accomplishments">accomplishment</a>, you gain points. You currently have <b class="@(Model.RewardPoints > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.RewardPoints) point@(Model.RewardPoints == 1 ? "" : "s")</b> to redeem.
    The Rewards Store will close in <b>@Model.ExpiryDate.GetTimeUntil()</b>.
</div>
@if (!Model.IsPartnershipEnabled)
{
    <div class="alert alert-info alert-info-coloring-gradient alert-dismissable margin-top margin-bottom" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-briefcase"></span> Unlock Partnerships</h4>
        <h5>
            Unlock the ability to form a partnership with another user for only <b class="win-green">10 points</b>!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-primary" href="/RewardsStore/Partnerships" role="button">Learn More</a>
        </div>
    </div>
}
<h5>Rewards (@Helper.FormatNumber(Model.Rewards.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (Reward reward in Model.Rewards)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="accomplishment-dimensions" src="@Helper.GetImageUrl(reward.ImageUrl)" alt="@reward.Description" title="@reward.Description">
                <div>
                    <h5>@reward.Name</h5>
                    <p>
                        <i><small>@reward.Description</small></i>
                        @if (!string.IsNullOrEmpty(reward.Info))
                        {
                            <small><span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="@reward.Info"></span></small>
                        }
                    </p>
                </div>
            </div>
            <div>
                <small>
                    Cost: <b class="@(Model.RewardPoints >= reward.Cost ? "win-green" : "lose-red")">@Helper.FormatNumber(reward.Cost) Points</b>
                </small>
            </div>
            <div class="small-padding-top">
                <form action="@Url.Action("Redeem", "RewardsStore")" method="POST" onsubmit="updateRewards(event, this)">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="rewardId" value="@reward.Id" />
                    <button type="submit" class="btn btn-success btn-xs @(Model.RewardPoints >= reward.Cost && Model.CanRedeem ? "" : "disabled")">Redeem Points</button>
                </form>
            </div>
        </div>
    }
</div>