﻿@model RewardsStoreViewModel

<div id="rewardsStorePartialView">
    <div class="gray-container">
        You can unlock the ability to form a partnership with another user for <b class="win-green">10 points</b>. You currently have <b class="@(Model.RewardPoints > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.RewardPoints) point@(Model.RewardPoints == 1 ? "" : "s")</b>.
    </div>
    <div class="panel panel-primary margin-top margin-bottom">
        <div class="panel-heading">
            <h5 class="small-margin-top small-margin-bottom">
                What are partnerships?
            </h5>
        </div>
        <div class="panel-body primary-container">
            <ul>
                <li class="small-margin-top">
                    You can request to form a <b>partnership</b> with another user (on their profile) if they've also unlocked the ability to form partnerships.
                </li>
                <li class="small-margin-top">
                    If they accept, you'll earn a bonus <b class="win-green">10%</b> of all their <b><a href="/Stadium" class="alert-link">Stadium</a> user matches</b> earnings and they'll earn an additional <b class="win-green">10%</b> of yours!
                </li>
                <li class="small-margin-top">
                    You can only have <b>one partnership</b> at any time.
                </li>
            </ul>
        </div>
    </div>
    <h5>
        Cost: <b class="win-green">10 points</b>
    </h5>
    <form action="@Url.Action("Redeem", "RewardsStore")" method="POST" onsubmit="updateRewards(event, this)" class="small-padding-top">
        @Html.AntiForgeryToken()
        <input type="hidden" name="rewardId" value="@RewardId.UnlockPartnership"/>
        <button type="submit" class="btn btn-success @(Model.RewardPoints >= 10 && Model.CanRedeem ? "" : "disabled")">Unlock Partnerships</button>
        <div class="visible-xxs"><div class="small-padding-top"></div></div>
        <a href="/RewardsStore" class="btn btn-secondary">Back to Store</a>
    </form>
</div>