﻿@model PasswordResetViewModel

@if (Model.CanResetPassword)
{
    <div class="alert alert-info no-margin-bottom">
        Hey <b>@Model.Username</b>! You can reset your password using the form below. This link will expire in <b>@Model.TimeLeftInMinutes minute@(Model.TimeLeftInMinutes == 1 ? "" : "s")</b>. 
        If you didn't request a password reset, please <a class="alert-link" href="/Contact">contact us</a> and let us know.
    </div>
    <h5 class="small-padding-top">Your password must be at least 5 characters.</h5>
    <form id="passwordResetForm" action="@Url.Action("UpdatePassword", "PasswordReset")" method="POST" class="small-padding-top" onsubmit="submitPasswordResetForm(event, this);">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="passwordVerify">Confirm New Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" id="passwordVerify" name="passwordVerify" placeholder="Password (again)" required>
                    </div>
                </div>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.PasswordReset.Username" id="username" name="username" />
        <input type="hidden" value="@Model.PasswordReset.Id" id="token" name="token" />
        <div class="form-group small-padding-top">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
}
else
{
    <div class="alert alert-warning">
        <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> Invalid Link</h4>
        Your reset password link has either expired or it's invalid. Still need to <b>reset your password</b>?
        You can request a new password reset link <a class="alert-link" href="/Login#remind">here</a>.
    </div>
}
