﻿@model SecretShrineViewModel

<div class="gray-container">
    Once thought to be lost, the Secret Shrine exists in hiding. Give it an item <b>once per day</b> and it may give you something back in return.
</div>
@if (Model.CanLeaveItem)
{
    <h5>
        Items (@Helper.FormatNumber(Model.Items.Count))
    </h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                    </div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("GiveItem", "SecretShrine")" method="POST" onsubmit="updateSecretShrineForm(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Give Item</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info">
            You have no items that can be given to the Secret Shrine. Items that are in your Deck or that have an <b class="lose-red">Unusable</b> condition cannot be entered.
        </div>
    }
}
else
{
    <p>
        <div class="alert alert-info no-margin-bottom">
            You can give the Secret Shrine another item in <b>@Model.LeaveItemDate.AddDays(1).GetTimeUntil()</b>.
        </div>
    </p>
}