﻿@model HighLowViewModel

<h5>Pot: <b id="pot-amount" data-count="@Model.Pot" class="@(Model.Pot > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Model.Pot)</b></h5>
<h5>Current Streak: <b class="@(Model.Streak > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.Streak)x</b></h5>
<h5>Top Streak: <b class="@(Model.TopStreak > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.TopStreak)x</b></h5>
<div class="grid-element text-center center-block card-width @(Model.Card.Amount > 0 ? Model.Pot > 0 ? "win-green-border itemSelected" : "lose-red-border itemSelected" : "")">
    <div id="reveal-card" data-revealed="@(Model.Card.Amount > 0 ? "true" : "false")">
        <img class="item-dimensions @(Model.Card.Amount > 0 ? "animated bounceIn" : "")" src="@Helper.GetImageUrl(Model.Card.ImageUrl)" alt="@Model.Card.Description" title="@Model.Card.Description">
        <div>
            <h5>@Model.Card.Name</h5>
        </div>
    </div>
</div>
@if (Model.IsInGame)
{
    <h5 class="text-muted small-padding-top no-margin-bottom text-center">Number</h5>
    <h3 id="high-low-number" class="text-center small-margin-top @(Model.Card.Amount == 0 ? "" : Model.Pot > 0 ? "win-green" : "lose-red")" data-count="@Model.Number">@Model.Number</h3>
    <div class="padding-top"></div>
    if (Model.Card.Amount > 0)
    {
        if (Model.Pot > 0)
        {
            <div class="alert alert-success text-center">
                <h5>
                    You got it right! The @Resources.DeckCard's value was @(Model.Card.Amount > Model.Number ? "higher" : "lower") and <b>@Helper.GetFormattedPoints(Model.Pot/2)</b> was added to your pot!
                </h5>
            </div>
            <form action="@Url.Action("Continue", "HighLow")" method="POST" onsubmit="submitHighLowForm(event, this);" class="inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Keep Playing</button>
            </form>
            <form action="@Url.Action("Take", "HighLow")" method="POST" onsubmit="submitHighLowForm(event, this);" class="inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Take Pot (@Helper.GetFormattedPoints(Model.Pot))</button>
            </form>
        }
        else
        {
            <div class="alert alert-danger text-center">
                <h5>
                    Too bad! You got it wrong and you lost your entire pot!
                </h5>
            </div>
            <form action="@Url.Action("Start", "HighLow")" method="POST" onsubmit="submitHighLowForm(event, this);" class="large-padding-top">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success @(Model.User.Points >= 500 ? "" : "disabled")">Play Again (@Helper.GetFormattedPoints(500))</button>
            </form>
        }
    }
    else
    {
        <h5>The flipped Deck Card's value will be:</h5>
        <div class="extra-small-padding-top"></div>
        <form action="@Url.Action("Play", "HighLow")" method="POST" onsubmit="submitHighLowForm(event, this);" class="inline">
            @Html.AntiForgeryToken()
            <input type="hidden" name="isHigher" value="true" />
            <button type="submit" class="btn btn-primary">Higher</button>
        </form>
        <form action="@Url.Action("Play", "HighLow")" method="POST" onsubmit="submitHighLowForm(event, this);" class="inline">
            @Html.AntiForgeryToken()
            <input type="hidden" name="isHigher" value="false" />
            <button type="submit" class="btn btn-primary">Lower</button>
        </form>
    }
}
else
{
    <form action="@Url.Action("Start", "HighLow")" method="POST" onsubmit="submitHighLowForm(event, this);" class="large-padding-top">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.User.Points >= 500 ? "" : "disabled")">Play High Low (@Helper.GetFormattedPoints(500))</button>
    </form>
}