﻿@model HighLowViewModel

<div class="gray-container">
    Put <b class="win-green">@Helper.GetFormattedPoints(500)</b> into a pot and bet on whether a flipped @Resources.DeckCard between <b>1 and 100</b> will be higher or lower than a given number. 
    If you're right, you'll get <b class="win-green">@Helper.GetFormattedPoints(500) + a 25% bonus</b> added to the pot! If you get it wrong, you'll <b class="lose-red">lose</b> it all!
</div>
<div id="highLowPartialView">
    @await Html.PartialAsync("_HighLowMainPartial", Model)
</div>