﻿@model HomeViewModel

<input type="hidden" id="showExpiredMessage" value="@(Model.BonusPrizes.First().IsExpired ? "true" : "false")" />
<input type="hidden" id="currentDay" value="@Model.BonusPrizes.Find(x => !x.IsRedeemed).Day" />
<input type="hidden" id="dailyBonusFeedId" value="@(Model.Feed.Find(x => x.Category == FeedCategory.DailyBonus)?.Guid ?? Guid.Empty)" />
<div class="modal fade" id="daily-bonus" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Daily Bonus</h4>
            </div>
            <div class="modal-body text-center">
                <h5 id="modal-top-text" class="no-margin-top small-padding-bottom animated fadeInDown"><span class="fas fa-coins win-green"></span> Log in each day to earn free <b class="win-green">@Resources.Currency</b> and reach <b>7 days in a row</b> to get <b class="win-green">@Helper.GetFormattedPoints(25000)</b>!</h5>
                <div class="grid-container grid-container--fit">
                    @foreach (BonusPrize bonusPrize in Model.BonusPrizes)
                    {
                        <div id="redeem-grid-@bonusPrize.Day" class="grid-container-no-padding grid-element primary-container text-center @(bonusPrize.IsRedeemed ? "win-green-border small-thick-border" : bonusPrize.IsActive ? "animated bounceIn light-blue-border-important" : "faded light-blue-border-important")">
                            <div>
                                <img id="prize-@bonusPrize.Day" src="@Helper.GetImageUrl(bonusPrize.ImageUrl)" class="small-square-dimensions shadow animated fadeInUp" alt="@bonusPrize.Description" title="@bonusPrize.Description">
                                <div>
                                    <h5 class="no-margin-bottom">Day @bonusPrize.Day</h5>
                                </div>
                                @if (bonusPrize.IsRedeemed)
                                {
                                    <div>
                                        <h6 class="win-green no-margin-bottom"><b>@Helper.GetFormattedPoints(bonusPrize.Reward)</b></h6>
                                    </div>
                                }
                                else
                                {
                                    @if (bonusPrize.IsActive)
                                    {
                                        <div class="hidden-reward" style="display: none;">
                                            <h6 class="win-green no-margin-bottom"><b><span class="number-counter" data-count="@bonusPrize.Reward">0</span> @Resources.Currency</b></h6>
                                        </div>
                                    }
                                    <form id="redeem-form-@bonusPrize.Day" class="padding-top" action="@Url.Action("RedeemDailyPrize", "Home")" method="POST" onsubmit="redeemDailyBonus(event, this);">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-success btn-xs @(bonusPrize.IsActive ? "" : "disabled")" @(bonusPrize.IsActive ? "" : "disabled")><b>Redeem</b></button>
                                    </form>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="large-padding-top"></div>
                <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
            </div>
        </div>
    </div>
</div>