﻿@model HomeViewModel

<div class="modal fade" id="modal-checklist" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Model.Checklist.First().Rank Checklist (@Model.Checklist.Count(x => x.Completed)/@Model.Checklist.Count)</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center no-margin-top">
                    <span class="fas fa-check-circle @(Model.Checklist.First().Rank <= ChecklistRank.Novice ? "bronze-color" : Model.Checklist.First().Rank <= ChecklistRank.Intermediate ? "silver-color" : "gold-color")"></span>
                    <b>@Model.Checklist.First().Rank Rank</b>
                </h4>
                <div class="padding-container light-blue-border small-thick-border large-padding-left">
                    @foreach (Checklist checklist in Model.Checklist)
                    {
                        <h5 class="checklist-item @(checklist == Model.Checklist.First() ? "small-margin-top" : "") small-margin-bottom">
                            <span class="@(checklist.Completed ? "fas fa-check-circle" : "far fa-circle")  win-green small-margin-right larger-medium-font"></span>
                            <span class="extra-small-margin-top @(checklist.Completed ? "strikethrough" : "")">
                                You should
                                <a class="alert-link" href="@checklist.Href">
                                    <b>
                                        @checklist.Description.
                                    </b>
                                </a>
                            </span>
                        </h5>
                    }
                </div>
                <div class="large-padding-top"></div>
                <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
            </div>
        </div>
    </div>
</div>