﻿@model BaseViewModel

<div class="modal fade" id="modal-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Email Notifications</h4>
            </div>
            <div class="modal-body text-center">
                <h1><span class="fas fa-envelope primary-color"></span></h1>
                <h5>
                    Email notifications aren't enabled.
                </h5>
                <div class="primary-container">
                    <h5>
                        If you enable notifications, we'll let you know if someone sends you a message, you win an auction, and more!
                    </h5>
                </div>
                <div class="large-padding-top"></div>
                <div id="notifications-buttons">
                    <form action="@Url.Action("EnableEmailNotifications", "Preferences")" method="POST" onsubmit="enableEmailNotifications(event, this);" class="small-padding-bottom">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-block btn-success"><h5 class="small-margin-top small-margin-bottom">Enable Email Notifications</h5></button>
                    </form>
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Not For Me</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>