﻿@model BaseViewModel

<div class="modal fade" id="modal-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sound Effects</h4>
            </div>
            <div class="modal-body text-center">
                <h1><span class="fas fa-music primary-color"></span></h1>
                <h4>
                    Sound Effects Beta
                </h4>
                <div class="primary-container">
                    <h5>
                        Your sound effects are <b>off</b>. If you're interested, you can enable them (they can always be turned off later from your Preferences).
                    </h5>
                </div>
                <div class="large-padding-top"></div>
                <div id="notifications-buttons">
                    <form action="@Url.Action("EnableSFX", "Preferences")" method="POST" onsubmit="enableSoundEffects(event, this);" class="small-padding-bottom">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-block btn-success"><h5 class="small-margin-top small-margin-bottom">Enable Sound Effects</h5></button>
                    </form>
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">No Thanks</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>