﻿@model HomeViewModel

<div class="title-gradient-background animated fadeInDown"></div>
<div class="text-center">
    <img class="logo-dimensions animated fadeInUp shadow" src="@Helper.GetImageUrl("Global/Logo.png")" title="@Resources.SiteName" alt="@Resources.SiteName" />
    <img class="main-logo-dimensions animated fadeInUp shadow small-margin-left" src="@Helper.GetImageUrl("Global/Logo_Full.png")" title="@Resources.SiteName" alt="@Resources.SiteName" />
    <h5 class="white-color small-margin-top animated fadeIn delay-0-5s strong-shadow">
        A browser-based card and exploration game
    </h5>
</div>
<div id="cards" class="stackable-cards-grid extra-large-padding-top margin-top animated fadeIn">
    <div class="faded-white extra-large-margin-top"></div>
    <div class="stackable-cards">
        @{
            string[] imageUrls = new string[]{
                "Cards/10.png",
                "Enhancers/Plus_25.png",
                "Art/24.png",
                "Cards/Neon/30.png",
                "Companions/Dog.png",
                "Stealth/StealthGrab.png",
                "Cards/Striped/80.png",
                "Art/6.png",
                "Fairy/Purple_Fairy.png",
                "Cards/Outline/100.png",
                "Candy/Wizard_Candy.png",
                "Companions/Penguin.png",
                "Frozen/Frozen.png",
                "CardPacks/RarePack.png",
                "Art/25.png",
                "Themes/Astral.png",
                "Enhancers/x10.png"
            };
        }
        @foreach (string imageUrl in imageUrls)
        {
            <img class="stackable-card" src="@Helper.GetImageUrl(imageUrl)" title="@Resources.SiteName Card" alt="@Resources.SiteName Card" />
        }
    </div>
</div>
<div id="slogan" class="padding-top text-muted animated fadeInUp display-none">
    <div class="row text-center">
        <div class="col-xs-4">
            <h4 class="mobile-font-size-larger no-margin-bottom">
                <span class="fas fa-shopping-basket primary-color"></span>
            </h4>
            <h4 class="mobile-font-size small-margin-top pill-text animated pulse">
                <span class="hidden-xs">Collect and Earn Unique Cards</span>
                <span class="visible-xs">Earn Tons of Unique Cards</span>
            </h4>
        </div>
        <div class="col-xs-4">
            <h4 class="mobile-font-size-larger no-margin-bottom">
                <span class="fas fa-toolbox win-green"></span>
            </h4>
            <h4 class="mobile-font-size small-margin-top pill-text win-green-background animated pulse">
                <span><span class="hidden-xxs">Explore and Build</span><span class="visible-xxs">Build</span> your Deck</span>
            </h4>
        </div>
        <div class="col-xs-4">
            <h4 class="mobile-font-size-larger no-margin-bottom">
                <span class="fas fa-trophy gold-color"></span>
            </h4>
            <h4 class="mobile-font-size small-margin-top pill-text gold-color-background animated pulse">
                <span class="hidden-xs">Win Against Others at the Stadium</span>
                <span class="visible-xs">Defeat Others at the Stadium</span>
            </h4>
        </div>
    </div>
</div>
<div class="small-padding-top visible-xs"></div>
<div class="large-padding-top hidden-xs"></div>
<div class="padding-top"></div>
<div class="row animated fadeInUp">
    <div id="sign-up" class="col-sm-12 col-md-10 col-lg-8 display-none">
        <div class="alert alert-success alert-home-coloring-gradient changing-background-color margin-bottom top-radius-border">
            <h4 class="small-margin-top small-margin-bottom"><b>Join the virtual world of @Resources.SiteName and start with:</b></h4>
                <div class="extra-large-margin-left"><b class="medium-font"><span class="larger-medium-font"><span class="fas fa-coins"></span> @Helper.FormatNumber(5000)</span> @Resources.CurrencyFull</b></div>
                <div class="extra-large-margin-left"><b class="medium-font"><span class="larger-medium-font"><span class="fas fa-map-pin"></span> 50+</span> <span class="hidden-xxs">Explorable</span> Locations</b></div>
                <div class="extra-large-margin-left"><b class="medium-font"><span class="larger-medium-font"><span class="fas fa-play-circle"></span> 6</span> Starter Cards</b></div>
        </div>
    </div>
</div>
<div class="padding-top"></div>
<div id="sign-up-button" class="display-none">
    <form action="@Url.Action("Start", "Intro")" method="POST" onsubmit="submitIntroForm(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success btn-lg animated fadeInUp">
            <h5 class="small-margin-top small-margin-bottom medium-font">
                <span class="fas fa-play"></span>
                <b>Choose My Starter Cards!</b>
            </h5>
        </button>
        <div class="extra-small-padding-top visible-xs"></div>
        <a class="btn btn-primary btn-lg animated fadeInUp no-load-btn" onclick="loadTutorialModal();">
            <h5 class="small-margin-top small-margin-bottom medium-font">
                <b>Learn More</b>
            </h5>
        </a>
        <h6 class="text-muted extra-small-padding-top animated fadeInUp delay-0-5s">Already have an account? <b><a href="/Login">Log in</a></b></h6>
    </form>
</div>
@await Html.PartialAsync("../Tutorial/_TutorialPartial", Model)