﻿@model HomeViewModel

@{ int i = 0; }
@foreach (Feed feed in Model.Feed)
{
    <div id="@feed.Guid" class="@feed.Category-category">
        <div class="home-feed feed-container clickable hover-container animated fadeIn @(Model.CanHighlightFeeds && feed.CreatedDate > Model.LastFeedVisitDate ? "fade-out-highlighted-feed" : "")" onclick="@(string.IsNullOrEmpty(feed.OnClick) ? $"window.location='{feed.Href}'" : feed.OnClick)">
            <img class="img-circle pull-left border-image" src="@feed.ImageUrl" />
            <div class="image-padding-left small-margin-left">
                <h5 class="no-margin-bottom">
                    <b>
                        <a href="@feed.Href">
                            @(string.IsNullOrEmpty(feed.Title) ? feed.Category.GetDisplayName() : feed.Title)
                        </a>
                        @if (feed.Category != FeedCategory.All && feed.Category != FeedCategory.SponsorSociety)
                        {
                            <span id="feed-ellipsis-@feed.Guid" class="pull-right fas fa-ellipsis-v text-muted clickable fa-lg feed-ellipsis" onclick="event.stopPropagation(); showFeedContextMenu('@feed.Guid', $('#@feed.Guid').offset());"></span>
                        }
                    </b>
                </h5>
                <h6 class="small-margin-top no-margin-bottom text-muted">@feed.CreatedDate.GetTimeSince()</h6>
            </div>
            <hr class="vertical-margins" style="margin-top: 15px !important;" />
            <div class="small-margin-bottom">
                @if (!string.IsNullOrEmpty(feed.Username))
                {
                    <b><a href="/User/@feed.Username">@feed.Username</a></b>
                }
                @if (!string.IsNullOrEmpty(feed.Description))
                {
                    <span>@Html.Raw(Helper.ExtractUserReply(Helper.BoldNumbers(Helper.BoldTimes((Helper.BoldPoints(Helper.BoldQuotes(feed.Description)))))))</span>
                }
                @if (!string.IsNullOrEmpty(feed.Object))
                {
                    <span>
                        <b>@feed.Object</b>.
                    </span>
                }
            </div>
        </div>
        @if (feed.Category != FeedCategory.All && feed.Category != FeedCategory.SponsorSociety)
        {
            <div id="feed-menu-@feed.Guid" class="feed-menu text-center animated pulse" style="display: none;">
                <h5 class="no-margin-top"><b>Options</b></h5>
                <a class="btn btn-xs btn-primary no-load-btn" onclick="hideFromFeed('@feed.Category', '@feed.Category.GetDisplayName().Replace("'", "%27")');">Hide Category</a>
                <div class="visible-xs small-padding-top"></div>
                @if (!string.IsNullOrEmpty(feed.Username) && !Model.BlockedUsers.Any(x => x.BlockedUser == feed.Username))
                {
                    <a class="btn btn-xs btn-danger no-load-btn" href="/Preferences?blockUser=@feed.Username#blockUsers">Block @feed.Username</a>
                }
            </div>
        }
        <div class="home-feed small-padding-top"></div>
    </div>
    @if (Model.Feed.Count >= 10 && (i == 2 || i == 6) && Model.User.AdFreeExpiryDate <= DateTime.UtcNow && Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Development" && Model.AdminSettings.EnableAds)
    {
        <div class="ad-feed home-feed animated fadeIn">
            <ins class="adsbygoogle"
                    style="display:block"
                    data-ad-client="ca-pub-9811434783745638"
                    data-ad-slot="6200000786"
                    data-ad-format="auto"
                    data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="enable-ad display-none feed-container fade-in">
            <h4><span class="fas fa-ban lose-red"></span> Disable Your Ad Blocker</h4>
            <div class="padding-bottom">
                You have an ad blocker <b class="lose-red">enabled</b>. Please disable it for @Resources.SiteName as only <b>one developer</b> runs @Resources.SiteName and needs ads to pay for its hosting fees.
                You can pay to remove ads and help keep @Resources.SiteName running from the <a href="/SponsorSociety">Sponsor Society</a>. Thank you for your support!
            </div>
        </div>
        <div class="home-feed small-padding-top enable-ad display-none"></div>
        <div class="home-feed small-padding-top ad-feed"></div>
    }
    i++;
}
@if (Model.BonusPrizes != null)
{
    @await Html.PartialAsync("_BonusPartial", Model)
}