﻿@model HomeViewModel

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div id="side-feed-bar" class="semi-fixed">
           <div id="profile-panel" class="panel panel-primary margin-bottom text-center hidden-xs hidden-sm">
                <div class="panel-heading">
                    @if (string.IsNullOrEmpty(Model.User.DisplayPicUrl))
                    {
                        <div class="center-block">
                            <div class="circle clickable" id="colored-by-username" data-user-color="@Model.User.Color" value="@Model.User.Username" onclick="window.location.href='/Preferences'">
                                @Model.User.Username.Substring(0, 1).ToUpper()
                            </div>
                        </div>
                    }
                    else
                    {
                        <a href="/Preferences">
                            <img class="img-circle display-image no-border" src="@Model.User.DisplayPicUrl" />
                        </a>
                    }
                    <h5 class="small-margin-top small-margin-bottom">
                        @Model.User.GetFriendlyName()
                        @if (Model.ActiveBadge != null)
                        {
                            <a class="label label-@Model.ActiveBadge.Label" href="/Preferences"><span class="@Model.ActiveBadge.Icon"></span> @Model.ActiveBadge.ShortName</a>
                        }
                        @if (Model.IsJoinDay)
                        {
                            <a data-toggle="tooltip" data-placement="top" title="Join Day"><span class="fas fa-birthday-cake"></span></a>
                        }
                    </h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            Joined <b>@Model.User.CreatedDate.GetTimeSince()</b>
                        </div>
                        <div class="col-lg-6">
                            <b>@Model.User.GetFormattedPoints()</b> on hand
                        </div>
                    </div>
                    <div class="padding-top">
                        <a href="/Profile" class="btn btn-primary btn-block">
                            <h5 class="small-margin-top small-margin-bottom">
                                <span class="fas fa-user"></span>
                                <b>Your Profile</b>
                            </h5>
                        </a>
                    </div>
                    @if (Model.Accomplishments.Any(x => x.Id == AccomplishmentId.ShowroomAccess))
                    {
                        <div class="small-padding-top">
                            <a href="/Profile/Showroom?id=@Model.User.Username" class="btn btn-purple btn-block">
                                <h5 class="small-margin-top small-margin-bottom">
                                    <span class="fas fa-palette"></span>
                                    <b>Your Showroom</b>
                                </h5>
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div id="checklist" class="panel panel-primary-gradient no-margin-bottom @(Model.ShowChecklistAnimation ? "fade-out-highlight animated bounce" : "") @(Model.HighlightChecklist ? "animated bounce" : "") @(Model.Checklist == null ? "hidden" : "")">
                <div class="panel-heading text-center">
                    <h5 class="no-margin-top no-margin-bottom shadow @(Model.ShowChecklistAnimation ? "animated fadeInLeft" : "") @(Model.Checklist == null ? "" : "margin-left")">
                        <span class="fas fa-check-circle @(Model.Checklist == null ? "gold-color" : Model.Checklist.First().Rank <= ChecklistRank.Novice ? "gold-color" : Model.Checklist.First().Rank <= ChecklistRank.Intermediate ? "silver-color" : "gold-color")"></span>
                        @if (Model.Checklist == null)
                        {
                            <b>Checklist</b>
                        }
                        else
                        {
                            <b>@Model.Checklist.First().Rank Checklist (@Model.Checklist.Count(x => x.Completed)/@Model.Checklist.Count)</b>
                            <span class="pull-right fas fa-plus clickable grow visible-xs visible-sm" onclick="showAllChecklist();"></span>
                        }
                    </h5>
                </div>
                <div id="checklist-body" class="panel-body padding-container large-padding-left @(Model.HighlightChecklist ? "fade-out-highlight" : "")">
                    @if (Model.Checklist == null)
                    {
                        <div class="text-center">
                            <div class="fas fa-trophy gold-color fa-2x"></div>
                            <div class="small-padding-top"></div>
                            <b class='fas fa-ribbon gold-color extra-small-margin-left'></b>
                            <h5 class="no-margin-top inline">
                                Congratulations! You've completed <b>the entire checklist</b>!
                            </h5>
                        </div>
                    }
                    else
                    {
                        int checklistIndex = 0;
                        @foreach (Checklist checklist in Model.Checklist)
                        {
                            <h5 class="checklist-item @(checklist == Model.Checklist.First() ? "no-margin-top" : "") no-margin-bottom @(checklistIndex >= 3 ? "hidden-xs hidden-sm" : "")">
                                <span class="@(checklist.Completed ? "fas fa-check-circle" : "far fa-circle")  win-green small-margin-right larger-medium-font" style="width: 18px;"></span>
                                <span class="extra-small-margin-top @(checklist.Completed ? "strikethrough" : "")" style="width: calc(100% - 18px);">
                                    You should
                                    <a class="alert-link" href="@checklist.Href">
                                        <b>
                                            @checklist.Description.
                                        </b>
                                    </a>
                                </span>
                            </h5>
                            checklistIndex++;
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="@(Model.UnreadNotifications == 0 && Model.UnreadMessages == 0 ? "hidden-xs hidden-sm" : "") text-center">
                   <div class="col-md-12 col-sm-@(Model.UnreadNotifications > 0 ? "6" : "12") no-margin-right @(Model.UnreadMessages == 0 ? "hidden-xs hidden-sm" : "")">
                        <div class="padding-top"></div>
                        <div class="panel panel-@(Model.UnreadMessages > 0 ? "success" : "default") no-margin-bottom text-center clickable" onclick="window.location.href='/Messages'">
                            <div class="panel-heading clickable">
                                <h5 class="no-margin-top no-margin-bottom">
                                    <span class="@(Model.UnreadMessages > 0 ? "fas" : "far") fa-comment"></span> Messages
                                </h5>
                            </div>
                            <div class="panel-body">
                                <h3 class="no-margin-top no-margin-bottom"><span id="total-messages" class="@(Model.UnreadMessages > 0 ? "win-green" : "")"><b>@Helper.FormatNumberShortened(Model.UnreadMessages)</b></span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-@(Model.UnreadMessages > 0 ? "6" : "12") @(Model.UnreadNotifications == 0 ? "hidden-xs hidden-sm" : "")">
                        <div class="padding-top"></div>
                        <div class="panel panel-@(Model.UnreadNotifications > 0 ? "success" : "default") no-margin-bottom text-center clickable" onclick="window.location.href='/Notifications'">
                            <div class="panel-heading clickable">
                                <h5 class="no-margin-top no-margin-bottom">
                                    <span class="@(Model.UnreadNotifications > 0 ? "fas" : "far") fa-bell"></span> Notifications
                                </h5>
                            </div>
                            <div class="panel-body">
                                <h3 class="no-margin-top no-margin-bottom"><span id="total-notifications" class="@(Model.UnreadNotifications > 0 ? "win-green" : "")"><b>@Helper.FormatNumberShortened(Model.UnreadNotifications)</b></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs hidden-sm">
                <div class="panel panel-default margin-top no-margin-bottom">
                    <div class="panel-heading">
                        <h5 class="no-margin-top no-margin-bottom text-center">
                            <span class="fas fa-arrow-alt-circle-up"></span>
                            Next CPU Challenger
                        </h5>
                    </div>
                    <div class="panel-body text-center">
                        <div class="center-block">
                            @if (string.IsNullOrEmpty(Model.NextChallenger.ImageUrl))
                            {
                                <div class="big-circle @(Model.NextChallenger.IsCheckpoint ? "orange-color-background" : "win-green-gradient-background")">
                                    <div class="padding-top"></div>
                                    <h5 class="no-margin-bottom">Level</h5>
                                    <h3 class="no-margin-top padding-bottom">@(Model.NextChallenger.Level + 1)</h3>
                                </div>
                            }
                            else
                            {
                                <img src="@Helper.GetImageUrl(Model.NextChallenger.ImageUrl)" class="img-circle display-image display-image-large">
                            }
                        </div>
                        <h5 class="small-margin-bottom">
                            @Model.NextChallenger.Name @Html.Raw(Model.NextChallenger.IsCheckpoint ? "<span class='glyphicon glyphicon-exclamation-sign orange-color' data-toggle='tooltip' data-placement='top' title='Checkpoint CPU'></span>" : "")
                        </h5>
                        @if (Model.NextChallenger.Intensity > 0)
                        {
                            <h5 class="small-margin-bottom">
                                <span class="fas fa-plus-square gold-color"></span>
                                Intensity @Helper.FormatNumber(Model.NextChallenger.Intensity + 1)
                            </h5>
                        }
                        <div class="padding-top">
                            <a href="/Stadium?stadiumTab=@StadiumTab.CPU#challenge-tabs" class="btn btn-@(Model.NextChallenger.IsCheckpoint ? "orange" : "success") btn-block">
                                <h5 class="small-margin-top small-margin-bottom">
                                    <span class="fas fa-play"></span>
                                    <b>Go to the Stadium!</b>
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.FavoritedLocations.Count > 0)
            {
                <div class="hidden-xs hidden-sm">
                    <div class="panel panel-primary margin-top no-margin-bottom">
                        <div class="panel-heading">
                            <h5 class="no-margin-top no-margin-bottom text-center ">
                                Favorites (@Helper.FormatNumber(Model.FavoritedLocations.Count))
                            </h5>
                        </div>
                        <div class="panel-body padding-container">
                            @foreach (Location location in Model.FavoritedLocations.Take(15))
                            {
                                <div class="extra-small-padding-top small-padding-left">
                                    <img class="img-circle display-image display-image-small" style="padding: 1px;" src="@location.ImageUrl" />
                                    <a href="@location.Url" class="small-margin-left">
                                        <b >@location.Name</b>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            @if (Model.Feed.Count >= 8 && Model.User.AdFreeExpiryDate <= DateTime.UtcNow && Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Development" && Model.AdminSettings.EnableAds)
            {
                <div class="hidden-xs hidden-sm padding-top">
                    <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-client="ca-pub-9811434783745638"
                            data-ad-slot="1131221520"
                            data-ad-format="auto"
                            data-full-width-responsive="true"></ins>
                    <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="panel panel-default margin-top no-margin-bottom hidden-xs hidden-sm">
                    <div class="panel-heading">
                        <h5 class="no-margin-top no-margin-bottom text-center ">
                            Don't like ads?
                        </h5>
                    </div>
                    <div class="panel-body padding-container text-center">
                        <h5 class="no-margin-top">
                            Get Sponsor Coins to support @Resources.SiteName and remove ads!
                        </h5>
                        <a href="/SponsorSociety/CoinCatalog#@SponsorPerkId.RemoveAds" class="btn btn-gold btn-block small-margin-top">
                            <h5 class="small-margin-top small-margin-bottom">
                                <span class="fas fa-coins"></span>
                                <b>Get Coins!</b>
                            </h5>
                        </a>
                    </div>
                </div>
            }
            <div class="hidden-xs hidden-sm">
                <footer class="text-muted text-center">
                    <hr>
                    <div>
                        <a href="/About">About</a> · <a href="/Contact">Contact</a> · <a href="/Help">Help</a> · <a href="/Privacy">Privacy</a> · <a href="/Terms">Terms</a>
                    </div>
                    <div class="small-padding-top">
                        @Resources.SiteName &copy; @DateTime.Now.Year.ToString()
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-sm-12">
        <div class="padding-top visible-xs visible-sm"></div>
        <div id="feed">
            @await Html.PartialAsync("_HomeFeedPartial", Model)
        </div>
    </div>
</div>
<div class="large-padding-top visible-xs visible-sm">
    <footer class="text-muted text-center">
        <hr>
        <div>
            <a href="/About">About</a> · <a href="/Contact">Contact</a> · <a href="/Help">Help</a> · <a href="/Privacy">Privacy</a> · <a href="/Terms">Terms</a>
        </div>
        <div class="small-padding-top">
            @Resources.SiteName &copy; @DateTime.Now.Year.ToString()
        </div>
    </footer>
</div>
@if (Model.ShowTutorial)
{
    @await Html.PartialAsync("../Tutorial/_TutorialPartial", Model)
}
else if (Model.ShowEnableNotifications)
{
    @await Html.PartialAsync("_EnableNotificationsPartial", Model)
}
else if (Model.ShowReferUserTutorial)
{
    @await Html.PartialAsync("_ReferUserPartial", Model)
}
else if (Model.ShowSponsorTutorial)
{
    @await Html.PartialAsync("_SponsorPartial", Model)
}
else if (Model.ShowEnableSFX)
{
    @await Html.PartialAsync("_EnableSFXPartial", Model)
}
else if (Model.ShowMessagesPopup)
{
    @await Html.PartialAsync("_ShowMessagesPartial", Model)
}
@if (Model.Checklist != null)
{
    @await Html.PartialAsync("_ChecklistFullPartial", Model)
}