﻿@model BaseViewModel

<div class="modal fade" id="modal-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Refer a Friend</h4>
            </div>
            <div class="modal-body text-center">
                <img class="animated fadeInUp" src="@Helper.GetImageUrl("Locations/Referral.png")" width="111" height="85">
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h4>Know Someone Who'd Like @Resources.SiteName?</h4>
                    <h5 class="small-padding-top">
                        <a href="/Referrals">Refer</a> a friend to @Resources.SiteName and earn up to <b class="win-green">@Helper.GetFormattedPoints(Helper.PointsPerReferralCollect() * 30)</b> (and limited Art Cards) if they sign up!
                    </h5>
                </div>
                <div>
                    <form action="@Url.Action("SubmitReferral", "Referrals")" method="POST" onsubmit="sendReferralEmail(event, this);" class="large-padding-top small-padding-bottom">
                        @Html.AntiForgeryToken()
                        <div class="input-group large-padding-bottom">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="Email Address" autofocus required>
                        </div>
                        <button type="submit" class="btn btn-block btn-success"><h5 class="small-margin-top small-margin-bottom">Refer Them!</h5></button>
                    </form>
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">No Thanks</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>