﻿@model BaseViewModel

<div class="modal fade" id="modal-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Messages</h4>
            </div>
            <div class="modal-body text-center">
                <h1><span class="fas fa-comment win-green"></span></h1>
                <h4>
                    Your Messages
                </h4>
                <div class="primary-container">
                    <h5>
                        You'll sometimes receive important messages from @Resources.SiteName Staff and the Courier. Whenever the Courier sends you a promo code, redeem it for something <b class="win-green">free</b>!
                    </h5>
                </div>
                <div class="padding-top">
                    <a href="/Messages" class="btn btn-block btn-success"><h5 class="small-margin-top small-margin-bottom">Visit Your Messages!</h5></a>
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">No Thanks</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>