﻿@model BaseViewModel

<div class="modal fade" id="modal-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sponsor Society</h4>
            </div>
            <div class="modal-body text-center">
                <img class="animated fadeInUp" src="@Helper.GetImageUrl("SponsorSociety/CoinBag.png")" width="105" height="115">
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h4>Want exclusive perks?</h4>
                    <h5 class="small-padding-top">
                        Buy <b class="win-green">Sponsor Coins</b> at the Sponsor Society! You'll get exclusive rewards such as removing ads and help support @Resources.SiteName!
                    </h5>
                </div>
                <div class="padding-top">
                    <a href="/SponsorSociety" class="btn btn-block btn-success"><h5 class="small-margin-top small-margin-bottom">Visit the Sponsor Society!</h5></a>
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">No Thanks</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>