﻿@model NotificationsViewModel

<h5>
    You have <b>@Model.UnreadNotificationsCount</b> unread notification@(Model.UnreadNotificationsCount == 1 ? "" : "s")
</h5>
@foreach (Notification notification in Model.Notifications)
{
    <div class="notification-container padding-top"></div>
    <div class="gray-container notification-container animated fadeIn white-background @(string.IsNullOrEmpty(notification.Href) || notification.Href == "#" ? "" : notification.SeenDate == DateTime.MinValue ? "clickable" : "hover-container clickable") @(notification.SeenDate == DateTime.MinValue ? "unread-message unread-message-hover": "gray-border")" onclick="window.location='@notification.Href'">
        <img class="img-circle pull-left border-image behind-small-margin-top" src="@notification.ImageUrl" /> 
        <div class="image-padding-left margin-left">
            <div>
                @Html.Raw(Helper.BoldNumbers(Helper.BoldTimes(Helper.BoldPoints(Helper.BoldQuotes(Helper.ExtractUserReply(notification.Message))))))
                <span class="label label-danger">@(notification.SeenDate == DateTime.MinValue ? "New" : "")</span>
            </div>
            <small class="text-muted">
                @notification.CreatedDate.GetTimeSince()
            </small>
        </div>
    </div>
}
@if (Model.Notifications.Count == 0)
{
    <h2 class="text-center primary-color small-padding-bottom"><span class="fas fa-bell"></span></h2>
    <div class="alert alert-info">
        You have <b>no notifications</b>. Come back here when you get one.
    </div>
}