﻿@model StreakCardsViewModel

<h5 id="streak-cards-streak">Play Streak: <b class="@(Model.Streak > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.Streak)x</b></h5>
<h5>
    Total Earned: <b class="@(Model.TotalEarned > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Model.TotalEarned)</b>
    @if (Model.Streak > 1)
    {
            <span class="text-muted">
                @if (Model.TotalEarned < 100000)
                {
                    <span>(@Helper.FormatNumber(Model.Streak) x @Helper.GetFormattedPoints(Model.TotalEarned / Model.Streak))</span>
                }
                else
                {
                    <span>(Max Amount)</span>
                }
        </span>
    }
</h5>
<h5 class="small-padding-top">Cards Picked (@Model.StreakCards.FindAll(x => !x.IsHidden).Count/3)</h5>
<div class="grid-container grid-container--fit">
    @foreach (StreakCard streakCard in Model.StreakCards)
    {
        <div class="grid-container-no-padding grid-element text-center streak-card @(streakCard.IsHidden ? "clickable" : streakCard.Points > 0 ? "streak-card-selected itemSelected" : "itemSelected gray-border") @(Model.CanPlayStreakCards || !streakCard.IsHidden ? "" : "faded") @(streakCard.IsHidden && Model.CanPlayStreakCards ? "grow" : "")" onclick="@(streakCard.IsHidden ? $"revealStreakCard({streakCard.Position});" : "")">
            <div>
                @if (streakCard.IsHidden)
                {
                    <div class="active-streak-card">
                        <img class="item-dimensions" src="@Helper.GetImageUrl(streakCard.ImageUrl)" alt="@streakCard.Description" title="@streakCard.Description">
                    </div>
                }
                else
                {
                    <h3 id="streak-card-@streakCard.Position" data-count="@streakCard.Points" class="large-padding-top streak-cards-height @(streakCard.Points == 0 ? "" : "win-green")">@Helper.GetFormattedPoints(streakCard.Points)</h3>
                }
            </div>
        </div>
    }
</div>