﻿@model StreakCardsViewModel

<div class="gray-container">
    <h5>How to play</h5>
    <ul>
        <li>
            You can pick <b>3 cards</b> to flip over and you'll earn the <b class="win-green">@Resources.Currency</b> underneath.
        </li>
        <li>
            For each day you play in a row, your <b>play streak</b> will be a multiplier of your total earnings.
            The more you play, the more you'll win!
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="You can win a maximum of @Helper.GetFormattedPoints(100000) per session."></span>
        </li>
        <li>
            You can only play once every <b>8 hours</b>.
        </li>
    </ul>
</div>
@if (Model.HasBetterLuck)
{
    <p>
        <div class="alert alert-success">
            <h5>
                Your Group Power grants you better luck while playing Streak Cards.
            </h5>
        </div>
    </p>
}
<div id="streakCardsPartialView">
    @await Html.PartialAsync("_StreakCardsMainPartial", Model)
</div>