﻿@model EliteShopViewModel

<div class="gray-container">
    Welcome to the Elite Shop! This a secret, premium store and items start at a cost of <b class="win-green">@Helper.GetFormattedPoints(1000000)</b>.
</div>
<h5>
    Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("BuyItem", "EliteShop")" method="POST" onsubmit="updateEliteShop(event, this)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points && Model.CanBuyEliteShopItem ? "" : "disabled")">Buy Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>