﻿@model MarketStallsViewModel
<div class="gray-container">
    You can create a Market Stall for <b class="win-green">@Helper.GetFormattedPoints(250)</b>. Put your items up for sale and earn @Resources.Currency whenever an item is bought. 
</div>
<form id="marketStallCreateForm" action="@Url.Action("Create", "MarketStalls")" method="POST" onsubmit="submitMarketStallCreateForm(event, this);" class="padding-top">
    <div class="form-group">
        <label for="name">Market Stall Name</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="marketStallName" name="marketStallName" placeholder="What's your Market Stall called?" maxlength="30" required>
        </div>
    </div>
    <div class="form-group">
        <label for="description"><span class="glyphicon glyphicon-edit"></span> Market Stall Message</label>
        <textarea class="form-control" name="description" rows="5" id="description" placeholder="Write an optional welcome message..." onkeyup="updateMarketStallDescriptionCountMessage();"></textarea>
        <h6 class="pull-right text-muted" id="marketStallDescriptionCountMessage">500 remaining</h6>
    </div>
    <div class="form-group margin-bottom">
        <div>
            <label>Market Stall Color</label>
        </div>
        <h6 class="text-muted no-margin-top">Tap to change it. This color will be used as the color to display your Market Stall's name.</h6>
        <input type="color" id="user-color" name="color" value="@(string.IsNullOrEmpty(Model.User.Color) ? "#337ab7" : Model.User.Color)" class="inline clickable">
    </div>
    @if (Model.UserItems.Count > 0)
    {
        <div class="alert alert-info small-margin-bottom">
            <h5>
                Choose a cost for any of your items below. Any items with a cost greater than <b>@Helper.GetFormattedPoints(0)</b> will be added to your Market Stall.
                You can choose up to <b>@Helper.FormatNumber(Model.MaxMarketStallItems) items</b>.
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="An item cannot be placed for sale for more than @Helper.GetFormattedPoints(1000000)."></span>
            </h5>
        </div>
    }
    <h5>Items (@(Helper.FormatNumber(Model.UserItems.Count)))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.UserItems)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                    </div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <input type="number" class="form-control" id="cost-@item.SelectionId" name="cost-@item.SelectionId" placeholder="@Helper.GetFormattedPoints(0)" min="0" max="@Math.Min(item.Points * 2, 1000000)">
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.UserItems.Count == 0)
    {
        <div class="alert alert-info">
            You have no items in your <a class="alert-link" href="/Items">bag</a>.
        </div>
    }
    else
    {
        <div class="extra-large-padding-top"></div>
    }
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.User.Points < 250 || Model.UserItems.Count == 0 ? "disabled" : "")">Create Market Stall (@Helper.GetFormattedPoints(250))</button>
</form>