﻿@model MarketStallsViewModel

<div class="panel panel-primary no-margin-bottom" style="border-color: @Model.CurrentMarketStall.Color;">
    <div class="panel-heading" style="background-image: none; background-color: @Model.CurrentMarketStall.Color; border-color: @Model.CurrentMarketStall.Color;">
        <h4 class="inline shadow">
            @Model.CurrentMarketStall.Name
        </h4>
        @if (Model.IsUserMarketStall)
        {
            <a class="white-color pull-right big-font clickable" onclick="deleteMarketStall('@Model.CurrentMarketStall.Id')" data-toggle="tooltip" data-placement="top" title="Remove Market Stall"><span class="glyphicon glyphicon-remove"></span></a>
        }
        <h5 class="small-margin-top no-margin-bottom link-without-format">Owned by <b><a href="/User/@Model.CurrentMarketStall.Username">@Model.CurrentMarketStall.Username</a></b></h5>
    </div>
    @if (!string.IsNullOrEmpty(Model.CurrentMarketStall.Description))
    {
        <div class="panel-body show-line-spaces extra-large-behind-margin-top">
            @Model.CurrentMarketStall.Description
        </div>
    }
</div>
@if (Model.CurrentMarketStall.Discount > 0)
{
    <p>
        <div class="alert alert-success no-margin-bottom">
            <h5>
                All items in this Market Stall have a <b>@Model.CurrentMarketStall.Discount%</b> discount!
            </h5>
        </div>
    </p>
}
<h5 class="small-padding-top">
    Items (@Helper.FormatNumber(Model.CurrentMarketStall.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (MarketStallItem item in Model.CurrentMarketStall.Items)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.IsUserMarketStall ? "" : Model.User.Points >= item.Cost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Cost)</b>
                        @if (Model.CurrentMarketStall.Discount > 0)
                        {
                            <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(Math.Floor(item.Cost/(1 - (Model.CurrentMarketStall.Discount * 0.01))))"></span>
                        }
                    </small>
                </div>
                <div class="small-padding-top">
                    @if (Model.IsUserMarketStall)
                    {
                        <form action="@Url.Action("RemoveItem", "MarketStalls")" method="POST" onsubmit="submitMarketStallsIdForm(event, this, '@Model.CurrentMarketStall.Id', false, false)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-danger btn-xs">Remove Item</button>
                        </form>
                    }
                    else
                    {
                        <form action="@Url.Action("BuyItem", "MarketStalls")" method="POST" onsubmit="submitMarketStallsIdForm(event, this, '@Model.CurrentMarketStall.Id', false)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <input type="hidden" name="marketStallId" value="@item.MarketStallId" />
                            <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Cost ? "" : "disabled")">Buy Item</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>
@if (Model.CurrentMarketStall.Items.Count == 0)
{
    <div class="alert alert-info">
        @if (Model.IsUserMarketStall)
        {
            <span>You have no more items in your Market Stall. Add some new ones.</span>
        }
        else
        {
            <span>This Market Stall has no more items.</span>
        }
    </div>
}
@if (Model.IsUserMarketStall)
{
    <h5 class="small-padding-top padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#manageMarketStall">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Manage Market Stall
        </a>
    </h5>
    <div id="manageMarketStall" class="collapse">
        <div class="gray-container">
            Your Market Stall can hold a total of <b>@Model.MaxMarketStallItems items</b>.
                        @Html.Raw(Model.MaxMarketStallItems < Helper.GetMaxStallSize() ? $"<span data-toggle='tooltip' data-placement='top' title='Your Market Stall can be upgraded to hold more items.'><b class='fas fa-arrow-up win-green'></b></span>" : "")
            You can manage it below and add up to <b>@(Model.MaxMarketStallItems - Model.CurrentMarketStall.Items.Count) more item@(Model.MaxMarketStallItems - Model.CurrentMarketStall.Items.Count == 1 ? "" : "s")</b>.
        </div>
        @if (Model.RepairCost > 0)
        {
            <div class="padding-top"></div>
            <form id="marketStallRepairForm" action="@Url.Action("Repair", "MarketStalls")" method="POST" onsubmit="submitMarketStallsIdForm(event, this, '@Model.CurrentMarketStall.Id', true);" class="primary-container light-blue-border">
                You can repair <b>@(Model.CurrentMarketStall.Items.Count == 1 ? "the 1 item" : $"all {Helper.FormatNumber(Model.CurrentMarketStall.Items.Count)} items")</b> in your Market Stall for <b class="@(Model.User.Points >= Model.RepairCost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(Model.RepairCost)</b>.
                @Html.AntiForgeryToken()
                <div class="padding-top"></div>
                <button type="submit" class="btn btn-success @(Model.User.Points >= Model.RepairCost ? "" : "disabled")">Repair Item@(Model.CurrentMarketStall.Items.Count == 1 ? "" : "s")</button>
            </form>
        }
        <h5>Update Info</h5>
        <form id="marketStallManageForm" action="@Url.Action("Manage", "MarketStalls")" method="POST" onsubmit="submitMarketStallsIdForm(event, this, '@Model.CurrentMarketStall.Id', true);" class="padding-bottom">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="marketStallName" name="marketStallName" placeholder="What's your Market Stall called?" maxlength="30" value="@Model.CurrentMarketStall.Name" required />
                </div>
            </div>
            <div class="form-group">
                <label for="description"><span class="glyphicon glyphicon-edit"></span> Market Stall Message</label>
                <textarea class="form-control" name="description" rows="5" id="description" placeholder="Write an optional welcome message..." onkeyup="updateMarketStallDescriptionCountMessage();">@Model.CurrentMarketStall.Description</textarea>
                <h6 class="pull-right text-muted" id="marketStallDescriptionCountMessage">@(500 - (Model.CurrentMarketStall.Description?.Length ?? 0)) remaining</h6>
            </div>
            <div class="form-group">
                <div>
                    <label>Market Stall Color</label>
                </div>
                <h6 class="text-muted no-margin-top">Tap to change it. This color will be used as the color to display your Market Stall's name.</h6>
                <input type="color" id="user-color" name="color" value="@Model.CurrentMarketStall.Color" class="inline clickable">
            </div>
            <div class="form-group">
                <label for="length">
                    Discount Percent
                    <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Add a discount to all your Market Stall items up to 75%."></span>
                </label>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-percent"></i></span>
                        <input type="number" class="form-control" id="discount" min="0" max="75" name="discount" placeholder="Discount Percent (0-75%)" value="@Model.CurrentMarketStall.Discount" required>
                    </div>
                </div>
            </div>
            <h5>Items (@(Helper.FormatNumber(Model.UserItems.Count)))</h5>
            @if (Model.CurrentMarketStall.Items.Count < Model.MaxMarketStallItems)
            {
                <div class="grid-container grid-container--fit">
                    @foreach (Item item in Model.UserItems)
                    {
                        <div class="grid-container-no-padding grid-element text-center">
                            <div>
                                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                                <div>
                                    <h5>@item.Name</h5>
                                    <p><i><small>@item.Description</small></i></p>
                                </div>
                            </div>
                            <div>
                                @if (item.Tier > RelicId.None)
                                {
                                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                                    </div>
                                }
                                <div>
                                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                                </div>
                                <div>
                                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                        <small>
                                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                        </small>
                                    </span>
                                </div>
                                <div>
                                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                                </div>
                                <div class="small-padding-top">
                                    <input type="number" class="form-control" id="cost-@item.SelectionId" name="cost-@item.SelectionId" placeholder="@Helper.GetFormattedPoints(0)" min="0" max="1000000">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.UserItems.Count == 0)
                {
                    <div class="alert alert-info margin-bottom">
                        You have no items in your <a href="/Items">bag</a>.
                    </div>
                }
            }
            else
            {
                <div class="alert alert-info margin-bottom">
                    You already have <b>@Model.MaxMarketStallItems items</b> in your Market Stall. Remove some items from your Market Stall to add more.
                </div>
            }
            @Html.AntiForgeryToken()
            <div class="@(Model.CurrentMarketStall.Items.Count < Model.MaxMarketStallItems && Model.UserItems.Count > 0 ? "extra-large-padding-top" : "")"></div>
            <button type="submit" class="btn btn-success">Update Market Stall</button>
        </form>
    </div>
}
@if (Model.MarketStallHistories?.Count > 0)
{
    <h5 class="padding-bottom">
        <a class="@(Model.OpenLedger ? "" : "collapsed") clickable" data-toggle="collapse" data-target="#marketStallLedgers">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Market Stall Ledger
        </a>
    </h5>
    <div id="marketStallLedgers" class="@(Model.OpenLedger ? "" : "collapse")">
        <h5>Total Sold: <b class="win-green">@Helper.GetFormattedPoints(Model.MarketStallHistories.Sum(x => x.Cost))</b></h5>
        <div class="panel panel-primary">
            <div class="panel-heading">Last 50 Purchases</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Item</th>
                            <th>Cost</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MarketStallHistory marketStallHistory in Model.MarketStallHistories.Take(50).ToList())
                        {
                            <tr>
                                <td data-title="Username"><a href="/User/@marketStallHistory.Username">@marketStallHistory.Username</a></td>
                                <td data-title="Item">@marketStallHistory.ItemName</td>
                                <td data-title="Cost"><b class="win-green">@Helper.GetFormattedPoints(marketStallHistory.Cost)</b></td>
                                <td data-title="Date">@marketStallHistory.CreatedDate.GetTimeSince()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}