﻿@model MarketStallsViewModel

<div class="small-padding-top"></div>
<div class="alert alert-info alert-info-coloring-gradient no-margin-bottom">
    <h5>
        Search for an item across all Market Stalls above or visit some of the newer Market Stalls below.
    </h5>
</div>
<h5>Newer Market Stalls</h5>
@foreach (MarketStall marketStall in Model.NewMarketStalls)
{
    MarketStallItem item = marketStall.Items.OrderBy(x => x.Cost).Last();
    <div class="gray-container gray-border clickable market-stall-container hover-container" onclick="window.location='/MarketStalls?id=@marketStall.Id'">
        <div class="pull-left behind-margin-top">
            <div>
                <img class="market-stall-item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
            </div>
        </div>
        <div class="image-extra-large-padding-left">
            <div>
                <b>@marketStall.Name</b>
                @if (marketStall.Discount > 0)
                {
                    <div class="label label-success hidden-xs">@marketStall.Discount% Off</div>
                }
                <h6 class="text-muted pull-right no-margin-top hidden-xxs">@Helper.FormatNumberShortened(marketStall.Items.Count) item@(marketStall.Items.Count == 1 ? "" : "s")</h6>
            </div>
            <h6 class="text-muted small-margin-top small-font">
                Owned by <a href="/User/@marketStall.Username">@marketStall.Username</a>
            </h6>
            @if (@marketStall.Items.Count > 1)
            {
                <h6 class="text-muted small-margin-top small-font hidden-xs">
                    Items include: @string.Join(", ", @marketStall.Items.OrderByDescending(x => x.Cost).Skip(1).Select(x => x.Name).Take(3).ToList())@(marketStall.Items.Count > 4 ? ", ..." : "")
                </h6>
            }
        </div>
    </div>
    <div class="padding-top"></div>
}
@if (Model.NewMarketStalls.Count == 0)
{
    <div class="alert alert-info">
        There are currently no new Market Stalls. Why don't you <a class="alert-link" href="/MarketStalls/Create">create one?</a>
    </div>
}