﻿@model MarketStallsViewModel

<h5>Items</h5>
<div class="grid-container grid-container--fit">
    @foreach (MarketStallItem item in Model.MarketStallItems)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>Cost: <b class="@(Model.User.Points >= item.Cost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Cost)</b></small> 
                </div>
                @if (item.Username != Model.User.Username)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("BuyItem", "MarketStalls")" method="POST" onsubmit="submitMarketStallsMainForm(event, this, '@Model.SearchQuery', '@Model.CurrentPage')">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <input type="hidden" name="marketStallId" value="@item.MarketStallId" />
                            <button type="submit" class="btn btn-success btn-xs @(Model.User.Points < item.Cost ? "disabled" : "")">Buy Item</button>
                        </form>
                    </div>
                }
                <div class="small-padding-top">
                    <a class="btn btn-primary btn-xs" href="/MarketStalls?id=@item.MarketStallId&query=@Uri.EscapeDataString(Model.SearchQuery)">Visit Stall</a>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.MarketStallItems.Count == 0)
{
    <div class="alert alert-info">
        No items in any of the Market Stalls matched your search of <b>@Model.SearchQuery</b>.
    </div>
}
@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/MarketStalls?page=@i&query=@Model.SearchQuery&matchExactSearch=@Model.MatchExactSearch&category=@Model.SearchCategory&condition=@Model.SearchCondition">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
}