﻿@model MarketStallsViewModel

<ul class="nav nav-tabs nav-justified padding-bottom">
    <li><a href="/MarketStalls">All Market Stalls</a></li>
    <li class="active"><a href="#">Your Market Stall</a></li>
</ul>
@await Html.PartialAsync("_MarketStallsCreatePartial", Model)