﻿@model MarketStallsViewModel

<ul class="nav nav-tabs nav-justified padding-bottom">
    <li class="@(Model.IsUserMarketStall ? "" : "active")"><a href="/MarketStalls">All Market Stalls</a></li>
    <li class="@(Model.IsUserMarketStall ? "active" : "")"><a href="@(Model.IsUserMarketStall ? "" : $"/MarketStalls{(Model.UserMarketStallId == 0 ? "/Create" : $"?id={Model.UserMarketStallId}")}")">Your Market Stall</a></li>
</ul>
<form onsubmit="event.preventDefault(); searchMarketStalls(0);" class="form-group padding-top">
    <div class="input-group">
        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search Market Stalls..." value="@Model.SearchQuery" autofocus autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="searchMarketStalls(@Model.CurrentPage);"><span class="glyphicon glyphicon-search"></span></button>
            <a class="btn btn-secondary btn-rounded" href="/MarketStalls"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="input-group padding-top">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#advanced-search">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Advanced Search Options
        </a>
    </div>
    <div id="advanced-search" class="collapse">
        <div class="small-padding-top">
            <label class="checkbox-inline"><input name="matchExactSearch" id="matchExactSearch" type="checkbox" @(Model.MatchExactSearch ? "checked" : "")>Match search query exactly</label>
        </div>
        <div class="small-padding-top">
            <label for="condition">Item Category</label>
            <input type="hidden" id="itemCategoryDropdownValue" value="@(Model.SearchCategory)" />
            <select class="form-control" id="category" name="category">
                @{
                    List<ItemCategory> itemCategories = Enum.GetValues(typeof(ItemCategory)).Cast<ItemCategory>().ToList();
                    itemCategories.Remove(ItemCategory.None);
                    itemCategories.Remove(ItemCategory.All);
                    <option value="@ItemCategory.All">@ItemCategory.All.GetDisplayName()</option>
                    foreach (ItemCategory itemCategory in itemCategories)
                    {
                        <option value="@itemCategory">@itemCategory.GetDisplayName()</option>
                    }
                }
            </select>
        </div>
        <div class="small-padding-top">
            <label for="condition">Item Condition</label>
            <input type="hidden" id="itemConditionDropdownValue" value="@(Model.SearchCondition)" />
            <select class="form-control" id="condition" name="condition">
                @{
                    List<ItemCondition> itemConditions = Enum.GetValues(typeof(ItemCondition)).Cast<ItemCondition>().ToList();
                    itemConditions.Remove(ItemCondition.All);
                    <option value="@ItemCondition.All">@ItemCondition.All</option>
                    foreach (ItemCondition itemCondition in itemConditions)
                    {
                        <option value="@itemCondition">@itemCondition</option>
                    }
                }
            </select>
        </div>
    </div>
</form>
<div id="marketStallsPartialView">
    @if (Model.CurrentMarketStall == null)
    {
        @if (string.IsNullOrEmpty(Model.SearchQuery))
        {
            @await Html.PartialAsync("_MarketStallsAllPartial", Model)
        }
        else
        {
            @await Html.PartialAsync("_MarketStallsSearchPartial", Model)
        }
    }
    else
    {
        @await Html.PartialAsync("_MarketStallsIdPartial", Model)
    }
</div>