﻿@model TermsViewModel

<div class="row">
    <nav class="col-sm-3 hidden-xs" id="termsScrollSpy">
        <ul id="sideTermsNav" class="nav nav-pills nav-stacked large-padding-top semi-bold">
            <li><a class="clickable" onclick="scrollToId('rules');">Rules of Conduct</a></li>
            <li><a class="clickable" onclick="scrollToId('commitments');">Your Commitments</a></li>
            <li><a class="clickable" onclick="scrollToId('content');">Use of Content</a></li>
            <li><a class="clickable" onclick="scrollToId('account');">Your Account</a></li>
            <li><a class="clickable" onclick="scrollToId('responsibilities');">Responsibilities</a></li>
            <li><a class="clickable" onclick="scrollToId('disputes');">Handling Disputes</a></li>
        </ul>
    </nav>
    <div class="col-sm-9">
        <div class="alert alert-info no-margin-bottom">
            Welcome to @Resources.SiteName! These Terms of Service govern your use of @Resources.SiteName and is an agreement between you and @Resources.SiteName ("us" or "we").
            When you create a @Resources.SiteName account or use @Resources.SiteName, you agree to these terms.
        </div>
        <div id="rules" class="anchor-fix">
            <h3>Rules of Conduct</h3>
            <h5>You should</h5>
            <ul>
                <li>
                    Create a safe and positive community by being kind and respectful to others.
                </li>
                <li>
                    Help others and report any users that are violating these Terms of Service.
                </li>
            </ul>
            <h5>You should not</h5>
            <ul>
                <li>
                    Attack, harass, insult, slander, or threaten any other users.
                </li>
                <li>
                    Manipulate other users for their password or personal information.
                </li>
                <li>
                    Inundate other users with messages that they do not want.
                </li>
                <li>
                    Use cheats, hacks, or create multiple accounts that are used to benefit a main account or any of your other accounts.
                </li>
                <li>
                    Buy or sell any virtual currency, items, or any other aspects of your account for real money.
                </li>
                <li>
                    Impersonate other users or provide inaccurate information about yourself.
                </li>
                <li>
                    Do anything fradulent or illegal or violate our Terms of Service.
                </li>
                <li>
                    Collect information about other users in unauthorized ways.
                </li>
                <li>
                    Write or post confidential or private information about other users or anything that violates someone else's rights.
                </li>
                <li>
                    Create or upload content that is against the law or promotes hate, violence, or anything else against @Resources.SiteName's beliefs.
                </li>
                <li>
                    Access, query, manipulate, or search @Resources.SiteName with any automated system unless we have explicitly granted you permission to do so.
                </li>
            </ul>
        </div>
        <div id="commitments" class="anchor-fix">
            <h3>Your Commitments</h3>
            <h5>Who Can Use @Resources.SiteName</h5>
            <ul>
                <li>
                    You're at least 13 years old.
                </li>
                <li>
                    We have not previously suspended your account for violating a law or these Terms of Service.
                </li>
                <li>
                    You must be allowed to receive all aspects and functionality of @Resources.SiteName's features by law.
                </li>
            </ul>
            <h5>Your Permissions</h5>
            You grant us certain permissions as part of the Terms of Service.
            <ul class="small-padding-top">
                <li>
                    We do not own content you provide to us but you grant us a non-exclusive, royalty-free, transferable, sub-licensable, worldwide license to host, use, distribute, modify, run, copy, publicly perform or display, translate, and create derivative works of your content.
                </li>
                <li>
                    You grant us permission to show your account across @Resources.SiteName and to share your account with other users, ads, and sponsored content without any compensation for you.
                </li>
                <li>
                    We hold additional rights including changing your username or profile information if it infringes on these Terms of Service.
                </li>
            </ul>
        </div>
        <div id="content" class="anchor-fix">
            <h3>Use of Content</h3>
            <h5>Your License to Our Content and Intellectual Property</h5>
            <ul>
                <li>
                    All @Resources.SiteName software, design, text, images, artwork, graphic material, files data, virtual currency, accomplishments, items, and statistics are the property of @Resources.SiteName.
                </li>
                <li>
                    Although any original content that you submit remains owned by you, you grant @Resources.SiteName a limited license to host the content. @Resources.SiteName's own original content, features, and functionality are owned by @Resources.SiteName and are protected by international copyright, trade secret, and other intellectual property or proprietary rights laws.
                </li>
            </ul>
            <h5>Unsolicited Content</h5>
            <ul>
                <li>
                    We greatly appreciate any feedback or suggestions but we may use them without any restrictions or obligation to compensate you for them.
                    They are also not required to be kept confidential.
                </li>
            </ul>
            <h5>Content Removal</h5>
            <ul>
                <li>
                    We can remove any content that you share on @Resources.SiteName if we believe that it violates these Terms of Service or if we're required to do so by law.
                </li>
                <li>
                    Any content you upload is your own responsiblity and will be removed without warning if it breaks these Terms of Service.
                </li>
            </ul>
        </div>
        <div id="account" class="anchor-fix">
            <h3>Your Account</h3>
            <h5>Our Rights</h5>
            <ul>
                <li>
                    We can refuse to provide you access to @Resources.SiteName, suspend, or terminate your account, without cause or notice, if you violate these Terms of Service, create a legal risk for us, infringe other users' intellectual rights, or are required to do so by law.
                    This may result in the destruction of all information associated with your account.
                </li>
            </ul>
            <h5>Your Content</h5>
            <ul>
                <li>
                    Content you delete may exist for a short period of time in backups or statistics or exist permanently if it has been shared (for example, on the News page).
                </li>
            </ul>
            <h5>Helpers</h5>
            If you are selected to be a Helper, you also agree to the following conditions:
            <ul class="small-padding-top">
                <li>
                    You may not state that you are authorized to act on behalf of @Resources.SiteName nor that you are an employee of @Resources.SiteName.
                </li>
                <li>
                    You may not perform any of your Helper duties in return for compensation or special favors.
                </li>
                <li>
                    If you gain access to non-public information, you will use that information only for your specific duty as Helper and not share that information with others.
                </li>
                <li>
                    @Resources.SiteName holds the right to revoke your Helper status, without warning, if you break any of these Terms of Service.
                </li>
            </ul>
        </div>
        <div id="responsibilities" class="anchor-fix">
            <h3>Responsibilities</h3>
            <h5>Liability</h5>
            <ul>
                <li>
                    @Resources.SiteName is provided "as is" and can't guarantee that it'll be safe or secure or work perfectly at all times.
                    TO THE EXTENT PERMITTED BY LAW, WE DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
                </li>
                <li>
                    We cannot control what you or other users say or do on @Resources.SiteName and we are not responsible for your (or their) actions or content.
                    We also are not responsible for any services provided by other users or companies, even if accessed through @Resources.SiteName.
                </li>
                <li>
                    You agree that we won't be responsible for any lost profits, revenues, information, or data, or consequential, special, indirect, exemplary, punitive, or incidental damages arising out of or related to these Terms of Services, even if we know they are possible.
                    This may include deleting your information or account.
                </li>
                <li>
                    Anything that is submitted, uploaded, or posted on @Resources.SiteName will not be held legally liable against us or any of the affiliates or employees of @Resources.SiteName.
                    If you post or upload content or information, its content remains your responsibility.
                </li>
            </ul>
            <h5>Virtual Goods</h5>
            <ul>
                <li>
                    You may purchase Virtual Goods (such as Sponsor Coins) using real money. All Virtual Good purchases are non-refundable and will not expire so long as @Resources.SiteName remains operational. If your account is suspended, we will not be held responsible for any Virtual Goods you may not have used and can no longer access.
                </li>
                <li>
                    The amount of Virtual Goods needed (such as Sponsor Coins needed to buy a perk) may change over time.
                </li>
                <li>
                    Virtual Goods have no monetary value and cannot be sold to another user or exchanged for cash or other favors. They also do not constitute currency.
                </li>
                <li>
                    @Resources.SiteName may change the fee associated with Virtual Goods from time to time.
                </li>
                <li>
                    We may submit your payment information to a third-party service to purchase Virtual Goods. If you submit your payment information, you agree to pay all associated costs and give @Resources.SiteName permission to charge you the associated cost including any applicable taxes and fees.
                </li>
            </ul>
            <h5>Third-Party Services</h5>
            <ul>
                <li>
                    @Resources.SiteName may contain links to third-party sites that are not owned or controlled by us. We have no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services.
                    We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.
                </li>
            </ul>
            <h5>Communicating With Us</h5>
            <ul>
                <li>
                    @Resources.SiteName provides ways for you to communicate with us concerning questions about your account, reporting other users, general questions, etc.
                    You are not expected to harass or excessively message any @Resources.SiteName team members or these communication methods.
                    If you do not use the proper communication methods with us, you may not receive an answer back.
                </li>
            </ul>
        </div>
        <div id="disputes" class="anchor-fix">
            <h3>Handling Disputes</h3>
            <h5>Law, Venue, and Jurisdiction</h5>
            <ul>
                <li>
                    These Terms of Service and the relationship between you and us shall be governed by the laws of the State of Illinois without regard to its conflict of law provisions.
                    For any dispute arising under these Terms of Service, you agree to submit to the personal and exclusive jurisdiction of the federal and state courts located in the State of Illinois and City of Chicago.
                    You further agree to accept service of process by mail, and hereby waive any and all jurisdictional and venue defenses otherwise available.
                    You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of @Resources.SiteName or these Terms of Service must be filed within one (1) year after such claim or cause of action arose or be forever barred.
                </li>
            </ul>
            <h5>Interpretation</h5>
            <ul>
                <li>
                    If any provision of these Terms of Service is found to be illegal or unenforceable, these Terms of Service will be altered to the extent necessary to make it legal and enforceable and will remain, as modified, in full force and effect.
                </li>
                <li>
                    In interpreting these Terms of Service, the English version governs the interpretation and meaning of the obligation set forth herein. To the extent there is an ambiguity or conflict with these Terms of Services in other languages, these Terms of Services in English governs.
                </li>
            </ul>
            <h5>Modifying These Terms</h5>
            <ul>
                <li>
                    We may make changes to @Resources.SiteName and may make changes to these Terms of Service so that they accurately reflect our policies.
                    We may change these Terms of Service from time to time. We will notify you when we make any changes and give you the opportunity to review these changes.
                    By continuing to use @Resources.SiteName after a change to these Terms of Service, you agree to be bound to these modified Terms of Service. If you do not wish to be bound, you may delete your account.
                </li>
            </ul>
            @if (Model.Authenticated && !Model.HasClaimedReward)
            {
                <h5>Additional Information</h5>
                <ul>
                    <li>
                        Thanks for reading these Terms of Service, <b>@Model.User.Username</b>! As a thank you, you can claim <b>@Helper.GetFormattedPoints(500)</b> free by clicking the button below.
                        <form action="@Url.Action("ClaimReward", "Terms")" method="POST" onsubmit="updateTerms(event, this)" class="small-padding-top">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-sm btn-success">Claim Reward (@Helper.GetFormattedPoints(500))</button>
                        </form>
                    </li>
                </ul>
            }
        </div>
        <h5 class="large-padding-top">These Terms of Service were last updated June 22, 2020 and are effective immediately.</h5>
    </div>
</div>
