﻿@model BankViewModel

@if (Model.Bank == null)
{
    <p>
        <div class="alert alert-warning alert-warning-coloring-gradient">
            <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> Uh-oh!</h4>
            <h5>
                You haven't opened an account yet with the Collector's Bank. Once you open an account, you can take a loan.
            </h5>
            <div class="small-padding-top"></div>
            <a href="/Bank" class="btn btn-warning">Open Account</a>
        </div>
    </p>
}
else
{
    <p>
        <div class="gray-container">
            <h5>How it works</h5>
            <ul>
                <li>
                    Take a loan from the Collector's Bank if you need extra <b class="win-green">@Resources.Currency</b>.
                </li>
                <li>
                    If you take a loan, you <b>won't</b> be able to take another loan until you pay it back at <b class="win-green">7.5% interest</b>.
                </li>
                <li>
                    The amount of <b class="win-green">@Resources.Currency</b> in your bank account determines the maximum size of the loan you can take.
                </li>
            </ul>
        </div>
    </p>
    @if (Model.LoanAmountOwed == 0)
    {
        <div class="primary-container light-blue-border">
            <h5>
                Your account is in <b class="win-green">Good Standing</b>. You can take a loan up to <b class="win-green">@Helper.GetFormattedPoints(Model.MaxLoanAmount)</b>.
            </h5>
        </div>
        <h5>Loan Amount</h5>
        <form action="@Url.Action("TakeLoan", "Bank")" method="POST" class="small-padding-top" onsubmit="updateBank(event, this, false)">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                    <input type="number" class="form-control" id="amount" min="1" max="@Model.MaxLoanAmount" name="amount" placeholder="Up to @Helper.GetFormattedPoints(Model.MaxLoanAmount)" required>
                </div>
            </div>
            <div class="form-group">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Take Loan</button>
            </div>
        </form>
    }
    else
    {
        <div class="primary-container">
            <h5>
                Your account is in <b class="lose-red">debt</b>. You owe <b class="win-green">@Helper.GetFormattedPoints(Model.LoanAmountOwed)</b> before you can take another loan.
            </h5>
        </div>
        <form action="@Url.Action("PayLoan", "Bank")" method="POST" class="large-padding-top" onsubmit="updateBank(event, this, false)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success @(Model.LoanAmountOwed > Model.User.Points ? "disabled" : "")">Pay Back Loan (@Helper.GetFormattedPoints(Model.LoanAmountOwed))</button>
        </form>
    }
}
