﻿@model BankViewModel

@if (Model.Bank == null)
{
    <p>
        <div class="gray-container">
            You haven't opened a bank account yet. Deposit at least <b class="win-green">@Helper.GetFormattedPoints(1)</b> to open an account!
        </div>
    </p>
    <h5>Open Your Account</h5>
    <form id="depositAmountForm" action="@Url.Action("Deposit", "Bank")" method="POST" class="small-padding-top" onsubmit="updateBank(event, this, true)">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                <input type="number" class="form-control" id="amount" min="0" max="@Model.User.Points" name="amount" placeholder="Deposit up to @Helper.GetFormattedPoints(Model.User.Points)" required>
            </div>
        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Open My Account</button>
        </div>
    </form>
}
else
{
    <p>
       <div class="gray-container">
            Welcome to the Collector's Bank! You currently have <b class="win-green">@Helper.GetFormattedPoints(Model.User.Points)</b> on hand
            and <b class="win-green">@Helper.GetFormattedPoints(Model.Bank.Points)</b> in your account.
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="@Resources.Currency stored in your bank account is safely secured and cannot be stolen."></span>
        </div>
    </p>
    @if (Model.HasDoubleBankInterest)
    {
        <div class="alert alert-success">
            <h5>
                Your <b>Bank Interest</b> reward lets you collect <b>double</b> your daily interest!
            </h5>
        </div>
    }
    <div class="row small-padding-top">
        <div class="col-sm-6">
            <form id="depositAmountForm" action="@Url.Action("Deposit", "Bank")" method="POST" onsubmit="updateBank(event, this, true)">
                <div class="form-group">
                    <h5 class="no-margin-top">On Hand</h5>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                        <input type="number" class="form-control" id="deposit-amount" min="0" max="@Model.User.Points" name="amount" placeholder="Up to @Helper.GetFormattedPoints(Model.User.Points)" required>
                    </div>
                </div>
                <div class="form-group inline">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success @(Model.User.Points > 0 ? "" : "disabled")">Deposit</button>
                </div>
                <button class="btn btn-secondary inline @(Model.User.Points > 0 ? "" : "disabled")" onclick="$('#deposit-amount').val(@Model.User.Points);">Add All</button>
            </form>
        </div>
        <div class="large-padding-top visible-xs"></div>
        <div class="col-sm-6">
            <form id="withdrawAmountForm" action="@Url.Action("Withdraw", "Bank")" method="POST" onsubmit="updateBank(event, this, true)">
                <div class="form-group">
                    <h5 class="no-margin-top">Bank Account</h5>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                        <input type="number" class="form-control" id="withdraw-amount" min="0" max="@Model.Bank.Points" name="amount" placeholder="Up to @Helper.GetFormattedPoints(Model.Bank.Points)" required>
                    </div>
                </div>
                <div class="form-group inline">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary @(Model.Bank.Points > 0 ? "" : "disabled")">Withdraw</button>
                </div>
                <button class="btn btn-secondary inline @(Model.Bank.Points > 0 ? "" : "disabled")" onclick="$('#withdraw-amount').val(@Model.Bank.Points);">Take All</button>
            </form>
        </div>
    </div>
    <div class="extra-large-padding-top">
        <h5 class="no-margin-top no-margin-bottom">
            Account Type: <b>@Model.BankAccountType.Name</b>
        </h5>
        <h5 id="bank-daily-interest" class="no-margin-bottom">
            Daily Interest: <b class="win-green">@(Math.Round(Model.BankAccountType.Interest * 100, 2))%</b>
        </h5>
        <form id="interestForm" action="@Url.Action("CollectInterest", "Bank")" method="POST" class="padding-top" onsubmit="updateBank(event, this, true)">
            <div class="form-group">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success @(Model.CanGetInterest && Model.Bank.GetDailyInterest() > 0 ? "" : "disabled")">
                    Collect Daily Interest (@Helper.GetFormattedPoints(Model.BankInterest))
                </button>
            </div>
        </form>
    </div>
    @if (Model.NextBankAccountType != null)
    {
        <div class="small-padding-top"></div>
        <div class="panel panel-primary no-margin-bottom">
            <div class="panel-heading">
                <h5 class="small-margin-top small-margin-bottom">
                    Want to earn more daily interest? Upgrade your account!
                </h5>
            </div>
            <div class="panel-body primary-container">
                <h5 class="small-margin-top">
                    Next Account Type: <b>@Model.NextBankAccountType.Name</b>
                </h5>
                <h5>
                    Daily Interest: <b class="win-green">@(Math.Round(Model.NextBankAccountType.Interest * 100, 2))%</b>
                </h5>
                <h5>
                    Account Minimum: <b class="win-green">@Helper.GetFormattedPoints(Model.NextBankAccountType.Points)</b>
                </h5>
                <h5 class="padding-top">
                    You need to add <b class="win-green">@Helper.GetFormattedPoints(Model.NextBankAccountType.Points - Model.Bank.Points)</b> to reach this account type!
                </h5>
            </div>
        </div>
    }
    @if (Model.BankTransactions.Count > 0)
    {
        <div class="padding-top">
            <h5>
                <a class="collapsed clickable" data-toggle="collapse" data-target="#transactions">
                    <span class="if-collapsed">
                        <span class="glyphicon glyphicon-plus"></span> Expand
                    </span>
                    <span class="if-not-collapsed">
                        <span class="glyphicon glyphicon-minus"></span> Collapse
                    </span>
                    past transactions
                </a>
            </h5>
            <div id="transactions" class="collapse">
                <div class="small-padding-top"></div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Recent Bank Transactions (@Helper.FormatNumber(Model.BankTransactions.Count))</div>
                    <div class="table-responsive" id="mobile-friendly-table">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (BankTransaction bankTransaction in Model.BankTransactions)
                                {
                                    <tr>
                                        <td data-title="Type">@bankTransaction.Type</td>
                                        <td data-title="Amount"><span class="small-padding-top @(bankTransaction.Type == BankTransactionType.Interest ? "win-green" : bankTransaction.Type == BankTransactionType.Deposit ? "win-green" : "lose-red")"><b>@Helper.GetFormattedPoints(bankTransaction.Amount)</b></span></td>
                                        <td data-title="Date">@bankTransaction.TransactionDate.GetTimeSince()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}