﻿@model BankViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Bank</a></li>
    <li><a href="@Url.Action("Loans", "Bank")">Loans</a></li>
</ul>
<div id="bankPartialView">
    @await Html.PartialAsync("_BankPartial", Model)
</div>