﻿@model BankViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "Bank")">Bank</a></li>
    <li class="active"><a href="#">Loans</a></li>
</ul>
<div id="bankPartialView">
    @await Html.PartialAsync("_BankLoansPartial", Model)
</div>