﻿@model MessagesViewModel

<h5 class="inline">
    @if (Model.AllMessages.Count == 50)
    {
        <span>Showing you top <b>@Helper.FormatNumber(Model.AllMessages.Count)</b> conversations</span>
    }
    else
    {
        <span>You have <b>@Helper.FormatNumber(Model.AllMessages.Count)</b> conversation@(Model.AllMessages.Count == 1 ? "" : "s")</span>
    }
</h5>
<div class="pull-right behind-margin-top hidden-xxs">
    <a onclick="$('#modal-new-message').modal();" class="btn btn-sm btn-success no-load-btn">New Message</a>
</div>
<div class="small-padding-top"></div>
<form>
    <div class="padding-top">
        <div class="input-group">
            <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search by username" autocomplete="off" onkeyup="delayedKeyUpUpdateMessages(event, this.form);" onkeydown="return event.key != 'Enter';" value="@Model.SearchQuery">
            <span class="input-group-btn">
                <button class="btn btn-secondary btn-rounded" onclick="$('#searchQuery').val('');"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
    </div>
</form>
<div class="small-padding-top"></div>
@foreach (Message message in Model.AllMessages)
{
    string correspondent = (message.Sender == Model.User.Username ? message.Recipient : message.Sender);
    <div class="padding-top"></div>
    <div id="@correspondent" class="gray-container white-background @(string.IsNullOrEmpty(Model.SearchQuery) ? "animated fadeIn" : "") clickable message @(message.Recipient == Model.User.Username && !message.IsRead ? "unread-message unread-message-hover" : "hover-container gray-border")" onclick="window.location.href='/Messages?username=@correspondent'">
        <div class="pull-left">
            @if (string.IsNullOrEmpty(message.DisplayPicUrl))
            {
                <div class="circle" id="colored-by-username-@message.Id" data-user-color="@message.Color" value="@correspondent">
                    @correspondent.Substring(0, 1).ToUpper()
                </div>
            }
            else
            {
                <img class="img-circle display-image" src="@message.DisplayPicUrl" />
            }
        </div>
        <div class="image-padding-left small-margin-left ">
            <div>
                <span class="semi-bold">
                    @correspondent
                    @if (message.IsRecentlyActive || correspondent == Helper.GetCourierUsername())
                    {
                        <span class="status-dot win-green-background" data-toggle="tooltip" data-placement="top" title="Last Active: @(correspondent == Helper.GetCourierUsername() ? DateTime.UtcNow.GetTimeSince() : message.LastActive.GetTimeSince())"></span>
                    }
                    <span class="label label-danger hidden-xxs extra-small-margin-left">@(message.Recipient == Model.User.Username && !message.IsRead ? "New" : "")</span>
                </span>
                <span class="pull-right margin-left hidden-xs">
                    <a href="#" onclick="window.event.stopPropagation(); removeAllMessages('@correspondent')"><span style="font-size: 16px;" class="glyphicon glyphicon-remove lose-red" data-toggle="tooltip" data-placement="top" title="Remove"></span></a>
                </span>
                <small class="text-muted pull-right semi-bold">
                    @message.CreatedDate.GetTimeSince()
                </small>
            </div>
            <div class="text-muted small-padding-top">
                <div class="truncate">
                    @if (message.Sender == Model.User.Username)
                    {
                        <span class="fas fa-share"></span>
                    }
                    @Html.Raw(Helper.MakeLinkClickable(message.Content))
                </div>
            </div>
        </div>
    </div>
}
@if (Model.AllMessages.Count == 0)
{
    <h2 class="text-center primary-color small-padding-bottom"><span class="fas fa-envelope-open"></span></h2>
    <div class="alert alert-info">
        @if (string.IsNullOrEmpty(Model.SearchQuery))
        {
            <span>You have <b>no conversations</b>. Check out someone's profile and send them a message!</span>
        }
        else
        {
            <span>No conversations matched your search of <b>@Model.SearchQuery</b>.</span>
        }
    </div>
}
<div class="modal fade" id="modal-new-message" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Message</h4>
            </div>
            <div class="modal-body">
                <div class="text-muted padding-bottom">
                    Enter a username to send them a message.
                </div>
                <form action="@Url.Action("GoToConversation", "Messages")" method="POST" onsubmit="submitNewMessagesForm(event, this);">
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <input type="text" class="form-control" name="username" placeholder="Username" autofocus maxlength="15" required />
                        <span class="input-group-btn"><button type="submit" class="btn btn-primary btn-rounded">Message</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>