﻿@model MessagesViewModel

<input type="hidden" id="messageCorrespondent" value="@Model.Correspondent.Username" />
<h5 class="small-margin-bottom">Convo with <a href="/Messages?username=@Model.Correspondent.Username">@Model.Correspondent.Username</a></h5>
<b><a class="clickable" onclick="updateMessagesBox('', true);"><span class="glyphicon glyphicon-chevron-left"></span> All Messages @(Model.AllMessages.Count(x => x.Recipient == Model.User.Username && !x.IsRead) > 0 ? $"({Helper.FormatNumberShortened(Model.AllMessages.Count(x => x.Recipient == Model.User.Username && !x.IsRead))})" : "")</a></b>
<div class="small-padding-top"></div>
<div id="scrollContainer" class="message-container small-message-container">
    @await Html.PartialAsync("_MessagesConversationBodyPartial", Model)
</div>
<form action="@Url.Action("Message", "Messages")" method="POST" onsubmit="submitMessagesForm(event, this, '@Model.Correspondent.Username', true);" class="small-padding-top">
    <div id="message-container">
        <input type="hidden" name="recipient" value="@Model.Correspondent.Username" />
        @Html.AntiForgeryToken()
        <div class="input-group">
            <input type="text" class="form-control" id="message" name="message" placeholder="Your message" autocomplete="off" autofocus maxlength="1000" required>
            <span class="input-group-btn "><button type="submit" class="btn btn-primary btn-rounded @(Model.CanSendMessage ? "" : "disabled")">Send</button></span>
        </div>
    </div>
</form>