﻿@model MessagesViewModel
<div id="conversationContainer">
    @if (Model.Conversation.Count == 0)
    {
        <div class="large-padding-top"></div>
        <div class="alert alert-info no-margin-top no-margin-bottom">
            You have no messages with <b>@Model.Correspondent.Username</b>. Send one below to start a conversation!
        </div>
    }
    @{
        int i = 0;
        Guid lastMessageId = Model.Conversation.FindAll(x => x.Sender == Model.User.Username).LastOrDefault()?.Id ?? Guid.Empty;
    }
    @foreach (Message message in Model.Conversation)
    {
        <div class="large-padding-top"></div>
        @if (i == 0 || (int)(Model.Conversation[i].CreatedDate - Model.Conversation[i - 1].CreatedDate).TotalMinutes >= 15)
        {
            <div class="large-padding-bottom text-center text-muted semi-bold">
                @message.CreatedDate.GetTimeSince()
            </div>
        }
        i++;
        <div id="@(Model.IsMessageBox && i == Model.Conversation.Count ? "last-message" : "")" class="row">
            @if (message.Recipient == Model.User.Username)
            {
                <div class="col-xs-9 link-without-format">
                    <div id="@message.Id" class="message-bubble @((DateTime.UtcNow - message.CreatedDate).TotalSeconds < 2 ? "animated fadeInLeft" : "")" data-toggle="tooltip" data-placement="right" title="@(Model.IsMessageBox ? "" : message.CreatedDate.GetTimeSince())">
                        @Html.Raw(Helper.MakeUserMessageItalicized(message.Sender, Helper.MakeUserMessageClickable(message.Sender, Helper.MakeLinkClickable(message.Content))))
                    </div>
                </div>
                <div class="col-xs-3">
                </div>
            }
            @if (message.Sender == Model.User.Username)
            {
                <div class="col-xs-3">
                </div>
                <div class="col-xs-9 text-right">
                    <div id="@message.Id" class="message-bubble text-left gray-background-color @((DateTime.UtcNow - message.CreatedDate).TotalSeconds < 2 ? "animated fadeInRight" : "")" data-toggle="tooltip" data-placement="left" title="@(Model.IsMessageBox ? "" : message.CreatedDate.GetTimeSince())" style="color: black;">
                        @Html.Raw(Helper.MakeUserMessageItalicized(message.Sender, Helper.MakeUserMessageClickable(message.Sender, Helper.MakeLinkClickable(message.Content))))
                    </div>
                </div>
            }
        </div>
        @if (message.Id == lastMessageId)
        {
            <div class="@((DateTime.UtcNow - message.CreatedDate).TotalSeconds < 2 ? "animated fadeInRight" : "")" data-toggle="tooltip" data-placement="right" title="@(Model.IsMessageBox ? "" : message.IsRead && Model.ShowReadReceipts ? "Seen" : "Delivered")">
                <span class="fas fa-check@(message.IsRead && (Model.User.Role > UserRole.Default || Model.ShowReadReceipts)  ? "-double" : "") pull-right win-green"></span>
            </div>
        }
    }
    <div class="large-padding-top"></div>
</div>