﻿@model MessagesViewModel

<input type="hidden" id="messageCorrespondent" value="@Model.Correspondent.Username" />
<h5>Conversation with <a href="/User/@Model.Correspondent.Username">@(Model.Correspondent.Username == Model.Correspondent.GetFriendlyName() ? $"{Model.Correspondent.Username}" : $"{Model.Correspondent.GetFriendlyName()} ({Model.Correspondent.Username})")</a>  <a href="/Preferences#blockUsers" class="label label-danger" data-toggle="tooltip" data-placement="top" title="You've blocked @Model.Correspondent.Username so they can't reply to your messages.">@(Model.IsBlocked ? "Blocked" : "")</a></h5>
<b><a href="/Messages"><span class="glyphicon glyphicon-chevron-left"></span> All Messages @(Model.AllMessages.Count(x => x.Recipient == Model.User.Username && !x.IsRead) > 0 ? $"({Helper.FormatNumberShortened(Model.AllMessages.Count(x => x.Recipient == Model.User.Username && !x.IsRead))})" : "")</a></b>
@if (Model.Conversation.Count > 0)
{
    <b class="pull-right">
        <a class="lose-red clickable" onclick="removeAllMessages('@Model.Correspondent.Username')" data-toggle="tooltip" data-placement="top" title="Remove"><span class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Remove</span></a>
        @if (!Model.IsBlocked)
        {
            <a href="/Preferences?blockUser=@Model.Correspondent.Username#blockUsers" class="text-warning" style="margin-left: 5px;" data-toggle="tooltip" data-placement="top" title="Block"><span class="glyphicon glyphicon-minus-sign"></span><span class="hidden-xs"> Block</span></a>
        }
    </b>
}
<div class="padding-top"></div>
<div id="scrollContainer" class="message-container">
    @await Html.PartialAsync("_MessagesConversationBodyPartial", Model)
</div>
<form action="@Url.Action("Message", "Messages")" method="POST" onsubmit="submitMessagesForm(event, this, '@Model.Correspondent.Username');" class="padding-top">
    <div id="message-container" class="form-group gray-container">
        <input type="hidden" name="recipient" value="@Model.Correspondent.Username" />
        @Html.AntiForgeryToken()
        <div class="input-group">
            <input type="text" class="form-control" id="message" name="message" placeholder="Your message..." autocomplete="off" autofocus maxlength="1000" required>
            <span class="input-group-btn "><button type="submit" class="btn btn-primary btn-rounded @(Model.CanSendMessage ? "" : "disabled")">Send</button></span>
        </div>
    </div>
</form>