﻿@model MessagesViewModel

<div class="text-center small-padding-bottom"><a onclick="toggleMessagesBox();" class="btn btn-block btn-primary">Close</a></div>
@foreach (Message message in Model.AllMessages)
{
    string correspondent = (message.Sender == Model.User.Username ? message.Recipient : message.Sender);
    <div class="gray-container white-background large-padding @(string.IsNullOrEmpty(Model.SearchQuery) ? "animated fadeIn" : "") clickable message @(message.Recipient == Model.User.Username && !message.IsRead ? "unread-message unread-message-hover" : "hover-container gray-border")" onclick="updateMessagesBox('@correspondent', true);">
        <div class="pull-left small-margin-right">
            @if (string.IsNullOrEmpty(message.DisplayPicUrl))
            {
                <div class="circle extra-small-circle" id="colored-by-username-@message.Id" data-user-color="@message.Color" value="@correspondent">
                    @correspondent.Substring(0, 1).ToUpper()
                </div>
            }
            else
            {
                <img class="img-circle display-image display-image-small" src="@message.DisplayPicUrl" />
            }
        </div>
        <div class="small-padding-top">
            <div>
                <span class="semi-bold">
                    @correspondent
                </span>
                @if (!message.IsRead && message.Sender != Model.User.Username)
                {
                    <span class="text-muted pull-right label label-danger">
                        New
                    </span>
                }
                else if (message.IsRecentlyActive || correspondent == Helper.GetCourierUsername())
                {
                    <span class="status-dot win-green-background" data-toggle="tooltip" data-placement="top" title="Last Active: @(correspondent == Helper.GetCourierUsername() ? DateTime.UtcNow.GetTimeSince() : message.LastActive.GetTimeSince())"></span>
                }
            </div>
            <div class="text-muted small-padding-top">
                <div class="truncate">
                    @if (message.Sender == Model.User.Username)
                    {
                        <span class="fas fa-share"></span>
                    }
                    @Html.Raw(Helper.MakeLinkClickable(message.Content))
                </div>
            </div>
        </div>
    </div>
    <div class="small-padding-top"></div>
}
@if (Model.AllMessages.Count == 0)
{
    <h2 class="text-center primary-color small-padding-bottom"><span class="fas fa-envelope-open"></span></h2>
    <div class="alert alert-info">
        You have <b>no conversations</b>. Check out someone's profile and send them a message!
    </div>
}