﻿@model PrizeCupViewModel

<div class="gray-container">
    <h5>How to play</h5>
    <ul>
        <li>
            Flip over cups and earn <b class="win-green">@Resources.Currency</b> each time you find a <b class="win-green">Green</b> or <b class="dark-gold-color">Gold</b> Marble.
        </li>
        <li>
            If you find a <b class="lose-red">Red Marble</b>, the game will end and you'll <b class="lose-red">lose</b> all your earned <b class="win-green">@Resources.Currency</b>! Make sure to cash out before that happens!
        </li>
        <li>
            You can play once every <b>5 hours</b>.
        </li>
    </ul>
</div>
<h5 id="total-prize-cups">Prize Cups (@Model.PrizeCups.FindAll(x => !x.IsRevealed).Count/@Model.PrizeCups.Count)</h5>
@if (Model.Pot > 0)
{
    <h5>Prize Pot: <b id="pot" data-count="@Model.Pot" class="@(Model.PrizeCups.Any(x => x.Color == CardColor.Red) ? "lose-red" : "win-green")">@Helper.GetFormattedPoints(Model.Pot)</b></h5>
}
@if (Model.CanPlay && Model.Pot > 0)
{
    <form id="pot-form" action="@Url.Action("TakePot", "PrizeCup")" method="POST" class="padding-bottom" onsubmit="submitPrizeCupForm(event, this)">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">Take Pot</button>
    </form>
}
<div class="grid-container grid-container--fit">
    @foreach (PrizeCup prizeCup in Model.PrizeCups)
    {
        <div class="grid-container-no-padding grid-element text-center @(!prizeCup.IsRevealed && Model.CanPlay ? "clickable grow grow-mobile" : "") @(Model.CanPlay ? "" : "faded") @(prizeCup.Color == CardColor.Red ? "lose-red-border itemSelected" : prizeCup.Color == CardColor.None ? "" : prizeCup.Color == CardColor.Gold ? "gold-border itemSelected" : "win-green-border itemSelected")" onclick="revealPrizeCup(@prizeCup.Position);">
            <div>
                <img class="@(prizeCup.IsRevealed ? "prize-marble-dimensions" : "prize-cup-dimensions")" src="@Helper.GetImageUrl(prizeCup.ImageUrl)" alt="@prizeCup.Description" title="@prizeCup.Description">
            </div>
        </div>
    }
</div>
