﻿@model NewsViewModel
<div class="padding-top"></div>
<b><a href="/News?page=@Model.CurrentPage"><span class="glyphicon glyphicon-chevron-left"></span> All News</a></b>
@if (Model.User.Role > UserRole.Helper)
{
    <b class="pull-right">
        <a href="/Admin?page=News&newsId=@Model.Article.Id"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="#" class="lose-red small-margin-left" onclick="removeArticle(@Model.Article.Id)"><span class="glyphicon glyphicon-remove"></span> Remove</a>
    </b>
}
<div id="newsTitle" class="large-padding-top">
    <div class="news-container">
        <h3 class="no-margin-bottom no-margin-top padding-top small-padding-bottom inline">
            @Model.Article.Title
        </h3>
        <div class="inline">
            @if ((DateTime.UtcNow - Model.Article.PublishDate).TotalDays < 1)
            {
                <span class="label label-success pull-right">New</span>
            }
            else
            {
                <small class="text-muted pull-right">@Model.Article.PublishDate.GetTimeSince()</small>
            }
        </div>
        <div>
            <a href="/User/@Model.Article.Username">@Model.Article.Username</a>
        </div>
        <div class="small-padding-top"></div>
        <div class="extra-large-padding-top">
            @Html.Raw(Helper.ExtractUserReply(Model.Article.Content))
        </div>
    </div>
</div>
<h5 id="totalComments" class="large-padding-top">
    Comments (@Helper.FormatNumber(Model.Article.Comments.Count))
</h5>
<form id="commentForm" action="@Url.Action("Comment", "News")" method="POST" onsubmit="submitNewsCommentForm(event, this, @Model.Article.Id, false);" class="small-padding-top">
    <div id="comment-container" class="form-group">
        <input type="hidden" name="id" value="@Model.Article.Id" />
        @Html.AntiForgeryToken()
        <div class="input-group">
            <textarea class="form-control" name="comment" rows="2" id="comment" placeholder="Your comment..." autocomplete="off" maxlength="750" required onkeyup="resizeTextarea(this);"></textarea>
            <span class="input-group-addon no-border white-background"><button class="btn btn-large btn-primary">Post</button></span>
        </div>
    </div>
</form>
@{int previousLevel = 0;}
@{NewsComment mostRecentComment = Model.Article.Comments.OrderBy(x => x.CommentDate).LastOrDefault();}
@foreach (NewsComment newsComment in Model.Article.Comments.Take(250))
{
    newsComment.Message = newsComment.Message.Replace(Environment.NewLine, "<br/>");
    @if (previousLevel > 0 && newsComment.Level == 0)
    {
        <div class="small-padding-top"></div>
    }
    <div class="@(newsComment.Level == 0 ? "" : "left-comment-border")" style="padding-left: @(25 * newsComment.Level)px;">
        <div id="@newsComment.Id" class="gray-container gray-border white-background @(newsComment == mostRecentComment ? "last-comment" : "")">
            <div>
                <div class="pull-left small-margin-right">
                    @if (string.IsNullOrEmpty(newsComment.DisplayPicUrl))
                    {
                        <div class="circle extra-small-circle" id="colored-by-username-@newsComment.Id" data-user-color="@newsComment.Color" value="@newsComment.Username">
                            @newsComment.Username.Substring(0, 1).ToUpper()
                        </div>
                    }
                    else
                    {
                        <img class="img-circle display-image display-image-small" src="@newsComment.DisplayPicUrl" />
                    }
                </div>
                <b><a class="@(newsComment.Username == Model.Article.Username ? "secondary-orange-color" : "")" href="/User/@newsComment.Username">@newsComment.Username</a></b> @Html.Raw(Helper.MakeLinkClickable(Helper.ExtractUserReply(newsComment.Message, out _, false, false)))
            </div>
            <div class="text-muted padding-top">
                @if (newsComment.Level < 6)
                {
                    <small class="extra-small-padding-right"><a class="clickable" onclick="$('#form-reply-@newsComment.Id').toggle(); $('#comment-padding-@newsComment.Id').toggle(); $(this).text($(this).text() === 'Reply' ? 'Hide Reply' : 'Reply');">Reply</a></small>
                }
                @if (newsComment.Username == Model.User.Username || Model.User.Role > UserRole.Helper)
                {
                    <small class="extra-small-padding-right"><a class="clickable text-danger" onclick="removeNewsComment(@newsComment.NewsId, '@newsComment.Id')">Remove</a></small>
                }
                <small class="hidden-xxs">@newsComment.CommentDate.GetTimeSince()</small>
                <small class="pull-right"><a class="clickable gray-color" onclick="likeNewsComment(@newsComment.NewsId, '@newsComment.Id')"><span data-toggle="tooltip" data-placement="top" title="@(newsComment.UserLiked ? "Unlike" : "Like")"><span class="@(newsComment.UserLiked ? "fas" : "far") fa-thumbs-up win-green")"></span></span></a> <span data-toggle="tooltip" data-placement="top" title="@newsComment.GetLikedUsernamesString()">@Helper.FormatNumberShortened(newsComment.TotalLikes)</span></small>
            </div>
        </div>
        @if (newsComment.Level < 6)
        {
            <form id="form-reply-@newsComment.Id" action="@Url.Action("Comment", "News")" method="POST" onsubmit="submitNewsCommentForm(event, this, @Model.Article.Id, true);" class="padding-top" style="display: none;">
                <div id="comment-container" class="form-group">
                    <input type="hidden" name="id" value="@Model.Article.Id" />
                    <input type="hidden" name="parentCommentId" value="@newsComment.Id" />
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <textarea class="form-control" name="comment" rows="2" placeholder="Your reply..." autocomplete="off" autofocus maxlength="500" required onkeyup="resizeTextarea(this);"></textarea>
                        <span class="input-group-addon no-border white-background"><button class="btn btn-large btn-primary">Reply</button></span>
                    </div>
                </div>
            </form>
        }
    </div>
    <div id="comment-padding-@newsComment.Id" class="small-padding-top"></div>
    previousLevel = newsComment.Level;
}