﻿@model NewsViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">News</a></li>
    <li><a href="/News/Horoscope">Horoscope</a></li>
</ul>
<p>
    <div class="gray-container">
        Want to get your <b>News article</b> featured? You can submit one <a href="/Jobs?JobPosition=@JobPosition.News#newsCollapse">here</a>!
    </div>
</p>
@foreach (News news in Model.News)
{
    <div class="news-container clickable hover-container" onclick="window.location.href='/News?id=@news.Id&page=@Model.CurrentPage'">
        <h4 class="no-margin-bottom small-padding-bottom inline">
            @news.Title
        </h4>
        <div class="inline">
            @if ((DateTime.UtcNow - news.PublishDate).TotalDays < 1)
            {
                <span class="label label-success pull-right">New</span>
            }
            else
            {
                <small class="text-muted pull-right">@news.PublishDate.GetTimeSince()</small>
            }
        </div>
        <div>
            <a href="/User/@news.Username">@news.Username</a>
        </div>
        <h5 class="padding-top">
            @if (news.Content.Length > 125)
            {
                <span>@Html.Raw(Helper.ExtractUserReply(news.Content).Substring(0, 125))...</span>
            }
            else
            {
                <span>@Html.Raw(Helper.ExtractUserReply(news.Content))</span>
            }
        </h5>
        <h5 class="padding-top">
            <a href="/News?id=@news.Id"><span class="glyphicon glyphicon-menu-right"></span> Read more</a>
        </h5>
    </div>
    <div class="large-padding-top"></div>
}

@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/News?page=@i">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
}