﻿@model NewsViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/News">News</a></li>
    <li class="active"><a href="#">Horoscope</a></li>
</ul>
<p>
    <div class="gray-container">
        Once per day, you can get your horoscope. Depending on what your horoscope says, it'll affect your luck for a full day.
    </div>
</p>
<h5>
    Your Horoscope 
    <span class="pull-right">
        Luck Score: <b>@Helper.FormatNumberShortened(Model.LuckLevel + 1)</b>
        <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="You can increase your Luck Score by playing games at the Fair, visiting the Young Wizard, etc. A higher score gives a greater chance to get a good horoscope."></span>
    </span>
</h5>
@if (Model.Horoscope == HoroscopeType.Good)
{
    <div class="alert alert-success alert-success-coloring-gradient no-margin-bottom animated fadeIn">
        <h5>
            Luck will be on your side today! Today may be a good day to open a Card Pack or to visit <a class="alert-link" href="/Wizard">The Young Wizard</a> or the <a class="alert-link" href="/Fair">Fair</a>!
        </h5>
    </div>
}
else if (Model.Horoscope == HoroscopeType.Bad)
{
    <div class="alert alert-danger alert-danger-coloring-gradient no-margin-bottom animated fadeIn">
        <h5>
            Luck will not be your friend today! You may want to avoid anything involving chance.
        </h5>
    </div>
}
else
{
    <div class="alert alert-info alert-info-coloring-gradient no-margin-bottom animated fadeIn">
        <h5>
            Today will be neutral. Luck will neither be on your side nor against you. It's as if you never even got your horoscope.
        </h5>
    </div>
}
<h5 class="padding-top">
    Today's horoscope will expire in <b>@Model.HoroscopeExpiryDate.GetTimeUntil()</b>.
</h5>