﻿@model ReportViewModel

<div class="alert alert-info no-margin-bottom">
    You should <b>only</b> report a @(Model.AttentionHallPostId > 0 ? "post if it's" : "user if they are") breaking the <a class="alert-link" href="/Terms">Terms of Service</a>.
    @if (Model.Authenticated)
    {
        <span>
            If you'd rather block a user without reporting them, you can do that <a class="alert-link" href="/Preferences?blockUser=@Model.ReportedUser.Username#blockUsers">here</a>.
        </span>
    }
</div>
<form id="reportForm" action="@Url.Action("Report", "Report")" method="POST" onsubmit="submitReportForm(event, this);" class="large-padding-top">
    <div class="form-group">
        <label for="reportText"><span class="glyphicon glyphicon-edit"></span> Why're you reporting @(Model.AttentionHallPostId > 0 ? "this post" : $"{(Model.ReportedUser.Username == Model.ReportedUser.GetFriendlyName() ? Model.ReportedUser.Username : $"{Model.ReportedUser.GetFriendlyName()} ({Model.ReportedUser.Username})")}")?</label>
        <textarea class="form-control" name="reportText" rows="5" id="reportText" placeholder="Please be as detailed as possible." required autofocus></textarea>
    </div>
    @if (Model.Authenticated && !Model.IsUserBlocked)
    {
        <div class="form-group">
            <div>
                <label class="checkbox-inline"><input name="blockUser" id="blockUser" type="checkbox" checked>Block @Model.ReportedUser.Username</label>
                <span class="text-muted">(Recommended)</span>
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Blocked users won't be able to visit your profile or message you."></span>
            </div>
        </div>
    }
    @if (!Model.Authenticated)
    {
        <div class="form-group">
            <label for="number">What is @Model.Number1 + @Model.Number2?</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i></span>
                <input type="number" class="form-control" aria-describedby="mathAnswerHelp" id="mathAnswer" name="mathAnswer" placeholder="Your Answer" required>
            </div>
            <small id="mathAnswerHelp" class="form-text text-muted">We do this to make sure you're a human.</small>
        </div>
    }
    <input type="hidden" name="username" value="@Model.ReportedUser.Username" />
    <input type="hidden" name="attentionHallPostId" value="@Model.AttentionHallPostId" />
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Report @(Model.AttentionHallPostId > 0 ? "Post" : "User")</button>
</form>