﻿@model StorageViewModel
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Storage</a></li>
    <li><a href="#" onclick="refreshStoragePartialView(false);">Bag</a></li>
</ul>
<p>
    <div class="gray-container">
        If your <a href="/Items">bag</a> is full or feeling cluttered, you can move items to your Storage. Any items stored here <b>cannot</b> be used or sold until they are moved back to your bag.
        @if (Model.Items.Count >= Model.MaxStorageSize)
        {
            <div class="text-muted padding-top semi-bold">
                Your Storage is full! Until you free up space, you will not be able to add any more items to your Storage.
            </div>
        }
    </div>
</p>
@if (Model.RepairAllCost > 0)
{
    <div class="primary-container light-blue-border margin-bottom">
        <h5>
            <b>Quick Repair:</b> Repair all the items in your Storage at once for <b class="win-green">@Helper.GetFormattedPoints(Model.RepairAllCost)</b>!
        </h5>
        <form class="small-padding-top" action="@Url.Action("RepairAll", "Storage")" method="POST" onsubmit="updateStorage(event, this, true)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success @(Model.User.Points >= Model.RepairAllCost ? "" : "disabled")">Repair All Items</button>
        </form>
    </div>
}
@if (Model.Items.Count > 0)
{
    <div class="dropdown">
        <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Sort by <b>@Model.Sort.GetDisplayName()</b>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/Storage?sort=@ItemSort.Manual">@ItemSort.Manual.GetDisplayName()</a></li>
            <li><a href="/Storage?sort=@ItemSort.Category">@ItemSort.Category.GetDisplayName()</a></li>
        </ul>
    </div>
}
<h5>
    Stored Items (@Helper.FormatNumber(Model.Items.Count)/@Helper.FormatNumber(Model.MaxStorageSize))
    @Html.Raw(Model.MaxStorageSize < Helper.GetMaxStorageSize() ? $"<span data-toggle='tooltip' data-placement='top' title='Your Storage can be upgraded to hold more items.'><b class='fas fa-arrow-up win-green'></b></span>" : "")
    <a href="/Items/Guide" class="btn btn-secondary btn-xs pull-right behind-@(Model.Items.Count > 0 ? "" : "small-")margin-top hidden-xs">Collector's Guide</a>
</h5>
<div id="storage-items" class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                @if (Model.Sort == ItemSort.Manual)
                {
                    <div class="draggable-bar draggable small-padding-top text-muted">
                        <span class="fas fa-bars"></span>
                    </div>
                }
                <div class="small-padding-top">
                    <form action="@Url.Action("RemoveItem", "Storage")" method="POST" onsubmit="updateStorage(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-primary btn-xs">Move to Bag</button>
                    </form>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("DisposeItem", "Storage")" method="POST" onsubmit="disposeStorageItemConfirmation(event, this, @Model.ShowDisposerConfirmation.ToString().ToLower())">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-danger btn-xs">Discard Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        You haven't added any items to your Storage yet. You can always <a href="#" class="alert-link" onclick="refreshStoragePartialView(false);">add some items</a>.
    </div>
}