﻿@model StorageViewModel
<ul class="nav nav-tabs nav-justified">
    <li><a href="#" onclick="refreshStoragePartialView(true);">Storage</a></li>
    <li class="active"><a href="#">Bag</a></li>
</ul>
<p>
    <div class="gray-container">
        Add any of your items from your bag to your Storage. Items that are in your <a href="/Items">Deck</a> cannot be added.
    </div>
</p>
<h5>
    Items (@Helper.FormatNumber(Model.Items.Count)/@Helper.FormatNumber(Model.MaxBagSize))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("StoreItem", "Storage")" method="POST" onsubmit="updateStorage(event, this, false)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.CanAddStorage ? "" : "disabled")">Store Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        You don't have any items to add to your Storage.
    </div>
}