﻿@model BaseViewModel


<div class="modal fade" id="modal-relic-requirements" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Relic Requirement</h4>
            </div>
            <div class="modal-body text-center">
                <img class="large-padding-bottom animated fadeInUp" src="@Helper.GetImageUrl("Relics/Eternal.png")" width="85" height="100">
                <div class="primary-container">
                    <h4>Relic Needed</h4>
                    <h5 class="small-padding-top">
                        You have a @Resources.DeckCard or Enhancer that has a <b>Relic requirement</b>! If you use it at the Stadium without having earned the needed Relic, it will <b>backfire</b> against you!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>