﻿@model BaseViewModel

<div class="modal fade" id="modal-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@(Model.Authenticated ? $"Welcome to {Resources.SiteName}!" : $"What is {Resources.SiteName}?")</h4>
            </div>
            <div class="modal-body text-center">
                <div class="panel panel-primary-gradient no-margin-bottom">
                    <div class="panel-body primary-container">
                        <img class="padding-bottom shadow animated bounceIn" src="@Helper.GetImageUrl("Locations/Lotto.png")" width="75" height="85">
                    </div>
                    <div class="panel-footer">
                        <h5 class="no-margin-top no-margin-bottom shadow">
                            Earn @Resources.Currency, the virtual currency of @Resources.SiteName, by exploring tons of locations!
                        </h5>
                    </div>
                </div>
                <div class="padding-top"></div>
                <div class="panel panel-primary-gradient no-margin-bottom">
                    <div class="panel-body primary-container">
                        <img class="padding-bottom shadow animated bounceIn" src="@Helper.GetImageUrl("Locations/Crafting.png")" width="105" height="85">
                    </div>
                    <div class="panel-footer">
                        <h5 class="no-margin-top no-margin-bottom shadow">
                            Craft, buy, sell, and earn hundreds of unique cards at the Plaza!
                        </h5>
                    </div>
                </div>
                <div class="padding-top"></div>
                <div class="panel panel-primary-gradient no-margin-bottom">
                    <div class="panel-body primary-container">
                        <img class="padding-bottom shadow animated bounceIn" src="@Helper.GetImageUrl("Locations/Stadium.png")" width="70" height="90">
                    </div>
                    <div class="panel-footer">
                        <h5 class="no-margin-top no-margin-bottom shadow">
                            Build your Deck with powerful cards and become a Stadium Champion!
                        </h5>
                    </div>
                </div>
                <div class="large-padding-top"></div>
                <div class="animated fadeInUp">
                    @if (Model.Authenticated)
                    {
                        <button type="button" class="btn btn-block btn-success" data-dismiss="modal" onclick="highlightChecklist(false);">
                            <h5 class="small-margin-top small-margin-bottom">
                                <span class="fas fa-play"></span>
                                <b>@(Model.Title == "About" ? "Got it!" : "Start Exploring!")</b>
                            </h5>
                        </button>
                    }
                    else
                    {
                        <form action="@Url.Action("Start", "Intro")" method="POST" onsubmit="submitIntroForm(event, this);">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-block btn-success">
                                <h5 class="small-margin-top small-margin-bottom">
                                    <span class="fas fa-play"></span>
                                    <b>Choose Your Cards!</b>
                                </h5>
                            </button>
                        </form>
                        <div class="small-padding-top"></div>
                    }
                    <a href="/Help" class="btn btn-block btn-primary">
                        <h5 class="small-margin-top small-margin-bottom">
                            <span class="fas fa-info-circle"></span>
                            <b>Visit the Help Hub</b>
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>