﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Limited Uses</h4>
            </div>
            <div class="modal-body text-center">
                @{ Enhancer enhancer = Model.Enhancers.Find(x => x.Uses == 1); }
                <img class="item-dimensions animated fadeInUp" src="@Helper.GetImageUrl(enhancer.ImageUrl)">
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h4>Recharging Enhancers</h4>
                    <h5 class="small-padding-top">
                        Some Enhancers have <b>limited uses</b>. If it has <b class="lose-red">1 use left</b> and you don't recharge it, you'll lose that Enhancer and have to buy a new one.
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>