﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Your Second Match</h4>
            </div>
            <div class="modal-body text-center">
                <img src="@Helper.GetImageUrl("CPU/Elena.png")" class="animated fadeInUp img-circle display-image display-image-large" width="80" height="80">
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h4>CPU Challengers</h4>
                    <h5 class="small-padding-top">
                        When you're ready, face-off against the Level 2 CPU Challenger, <b>@Model.CPU.Name</b>! You can do this!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal" onclick="scrollToChallengesTab();"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>