﻿@model StadiumViewModel
@using System.Text.Json;

<input type="hidden" value="@(Model.OpponentCard == null && !Model.IsCPU ? "true" : "false")" id="shouldPollForOpponentsMove" />
<input type="hidden" value="@((int)Model.RoundResult)" id="roundResult" />
<input type="hidden" value="@(Model.NextPowerMove?.Type == PowerMoveType.DeckSwap ^ Model.OpponentPowerMove?.Type == PowerMoveType.DeckSwap ? "true" : "false")" id="swapCards" />
<input type="hidden" value="@(Model.NextPowerMove?.Type == PowerMoveType.EnhancerSwap ^ Model.OpponentPowerMove?.Type == PowerMoveType.EnhancerSwap ? "true" : "false")" id="swapEnhancers" />
<input type="hidden" value="@(Model.NextPowerMove?.ImageUrl?.Contains(PowerMoveType.MirrorMirror.ToString()) ?? false ? "1" : Model.OpponentPowerMove?.ImageUrl?.Contains(PowerMoveType.MirrorMirror.ToString()) ?? false ? "-1" : "0")" id="mirrorPowerMoves" />
@if (Model.OpponentCard != null)
{
    <input type="hidden" value="@JsonSerializer.Serialize(Model.RoundPowers?.Select(x => x.IsFaded))" id="user-faded">
    <input type="hidden" value="@JsonSerializer.Serialize(Model.OpponentRoundPowers?.Select(x => x.IsFaded))" id="opponent-faded">
        <input type="hidden" value="@JsonSerializer.Serialize(Model.RoundPowers?.Select(x => x.HasBackfired))" id="user-backfired">
    <input type="hidden" value="@JsonSerializer.Serialize(Model.OpponentRoundPowers?.Select(x => x.HasBackfired))" id="opponent-backfired">
}
<h4 class="small-margin-top no-margin-bottom">
    @if (Model.OpponentCard == null)
    {
        <span>Waiting for @Model.OpponentName...</span>
    }
    else
    {
        @if (Model.MatchState.Position < Helper.GetMaxDeckSize())
        {
            <b class="label label-primary small-margin-right">
                Round @(Model.MatchState.Position + 1)
            </b>
        }
        else
        {
            <b class="label label-warning small-margin-right">
                Sudden Death
            </b>
        }
        @if (Model.Points > 0)
        {
            <b class="label label-success">
                <span class="fas fa-coins"></span>
                @Helper.GetFormattedPoints(Model.Points)
            </b>
        }
        @if (Model.IsCPU && !(Model.IsCPUChallenge || Model.IsSpecialCPU) && Model.CPU.IsCheckpoint && Model.NextRelic != null)
        {
            <span class="pull-right behind-margin-top" data-toggle="tooltip" data-placement="top" title="@Model.NextRelic.Name Relic">
                <img src="@Helper.GetImageUrl(Model.NextRelic.ImageUrl)" width="30" height="30" class="shadow"/>
            </span>
        }
        else if (Model.IsCPUChallenge)
        {
            <span class="glyphicon glyphicon-info-sign gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Stadium Challenge: @Model.UserSettings.StadiumChallenge.GetDisplayName()"></span>
        }
    }
</h4>
<hr class="margin-top no-margin-bottom" />
<h5 class="no-margin-bottom">
    <b>
        Vs.
        @Html.Raw(Model.IsCPU ? $"{Model.OpponentName} {(Model.IsCPUChallenge || Model.IsSpecialCPU ? "" : $"(Level {Model.CPU.Level + 1})")}" : $"<a href='/User/{Model.OpponentName}'>{Model.OpponentName}</a>")
    </b>
    @if (Model.IsCPU && !(Model.IsCPUChallenge || Model.IsSpecialCPU))
    {
        @Html.Raw(Model.CPU.IsCheckpoint ? "<span class='glyphicon glyphicon-exclamation-sign orange-color' data-toggle='tooltip' data-placement='top' title='Checkpoint CPU'></span>" : "")
    }
</h5>
@if (Model.IsCPU)
{
    <div class="visible-xs padding-top"></div>
}
else
{
    <h6 class="text-muted small-margin-top" id="countdown-match">
        You have <span id="match-secondsLeftCountdown"><span id="match-secondsLeft">@Model.SecondsLeft</span> second@(@Model.SecondsLeft == 1 ? "" : "s")</span> left in this round
    </h6>
}
<div id="cards" class="animated fadeIn">
    <div class="row">
        <div class="col-xs-6 text-center">
            <h5 class="animated fadeInUp"><b>Your @Resources.DeckCard</b></h5>
        </div>
        <div class="col-xs-6 text-center">
            <h5 class="animated fadeInUp"><b>Opponent's @Resources.DeckCard</b></h5>
       </div>
    </div>
    <div class="row">
        <div id="user-card-col"  class="col-xs-6 text-center @(Model.OpponentCard != null && Model.RoundPowers[0].IsFaded[0] ? "" : "animated bounceIn")">
            <div id="card" class="grid-element text-center center-block card-width medium-thick-border @(Model.OpponentCard != null && Model.RoundPowers[0].IsFaded[0] ? "faded" : Model.RoundPowers[0].HasBackfired[0] ? "lose-red-border" : "")">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(Model.NextCard.ImageUrl)" alt="@Model.NextCard.Description" title="@Model.NextCard.Description">
                    <div>
                        <h5>@Model.NextCard.Name</h5>
                        <p><i><small>@Model.NextCard.Description</small></i></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="opponent-card-col"  class="col-xs-6 text-center @(Model.OpponentCard != null && Model.OpponentRoundPowers[0].IsFaded[0] ? "" : "animated bounceIn")">
            @if (Model.OpponentCard == null)
            {
                <div class="small-padding-top">
                    <div class="loader center-block"></div>
                </div>
            }
            else
            {
                <div id="opponent-card" class="grid-element text-center center-block card-width medium-thick-border @(Model.OpponentCard != null && Model.OpponentRoundPowers[0].IsFaded[0] ? "faded" : Model.OpponentRoundPowers[0].HasBackfired[0] ? "lose-red-border" : "")">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.OpponentCard.ImageUrl)" alt="@Model.OpponentCard.Description" title="@Model.OpponentCard.Description">
                        <div>
                            <h5>@Model.OpponentCard.Name</h5>
                            <p><i><small>@Model.OpponentCard.Description</small></i></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="enhancers" data-count="@(Model.NextEnhancer != null || Model.OpponentEnhancer != null ? 1 : 0)">
    <div class="row">
        <div class="col-xs-6 text-center">
            <h5 id="user-enhancer-label" class="animated fadeInUp" style="@(Model.NextEnhancer == null ? "display: none;" : "")"><b>Your Enhancer</b></h5>
        </div>
        <div class="col-xs-6 text-center">
            <h5 id="opponent-enhancer-label" class="animated fadeInUp" style="@(Model.OpponentEnhancer == null ? "display: none;" : "")"><b>Opponent's Enhancer</b></h5>
        </div>
    </div>
    <div class="row">
        <div id="user-enhancer-col" class="col-xs-6 text-center @(Model.OpponentCard != null && Model.RoundPowers[1].IsFaded[1] ? "" : "animated bounceIn")">
            @if (Model.NextEnhancer != null)
            {
                <div id="enhancer" class="grid-element text-center center-block card-width medium-thick-border @(Model.OpponentCard != null && Model.RoundPowers[1].IsFaded[1] ? "faded" : Model.RoundPowers[1].HasBackfired[1] ? "lose-red-border" : "")">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.NextEnhancer.ImageUrl)" alt="@Model.NextEnhancer.Description" title="@Model.NextEnhancer.Description">
                        <div>
                            <h5>@Model.NextEnhancer.Name</h5>
                            <p><i><small>@Model.NextEnhancer.Description</small></i></p>
                        </div>
                        <div>
                            <small class="semi-bold @(Model.UserSettings.StadiumEnhancerUses <= 1 ? "lose-red" : "")">@(Model.NextEnhancer.TotalUses > 0 ? $"{Model.UserSettings.StadiumEnhancerUses} Use{(Model.UserSettings.StadiumEnhancerUses != 1 ? "s" : "")} {(Model.NextEnhancer.TotalUses <= Model.UserSettings.StadiumEnhancerUses ? "" : " Left")}" : "")</small>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="opponent-enhancer-col" class="col-xs-6 text-center @(Model.OpponentCard != null && Model.OpponentRoundPowers[1].IsFaded[1] ? "" : "animated bounceIn")">
            @if (Model.OpponentEnhancer != null)
            {
                <div id="opponent-enhancer" class="grid-element text-center center-block card-width medium-thick-border @(Model.OpponentCard != null && Model.OpponentRoundPowers[1].IsFaded[1] ? "faded" : Model.OpponentRoundPowers[1].HasBackfired[1] ? "lose-red-border" : "")">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.OpponentEnhancer.ImageUrl)" alt="@Model.OpponentEnhancer.Description" title="@Model.OpponentEnhancer.Description">
                        <div>
                            <h5>@Model.OpponentEnhancer.Name</h5>
                            <p><i><small>@Model.OpponentEnhancer.Description</small></i></p>
                        </div>
                        @if (!Model.IsCPU)
                        {
                            <div>
                                <small class="semi-bold @(Model.OpponentSettings.StadiumEnhancerUses <= 1 ? "lose-red" : "")">@(Model.OpponentEnhancer.TotalUses > 0 ? $"{Model.OpponentSettings.StadiumEnhancerUses} Use{(Model.OpponentSettings.StadiumEnhancerUses != 1 ? "s" : "")} {(Model.OpponentEnhancer.TotalUses <= Model.OpponentSettings.StadiumEnhancerUses ? "" : " Left")}" : "")</small>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="power-moves" data-count="@(Model.NextPowerMove != null || Model.OpponentPowerMove != null ? 1 : 0)">
    <div class="row">
        <div class="col-xs-6 text-center">
            <h5 id="user-power-move-label" class="animated fadeInUp" style="@(Model.NextPowerMove == null ? "display: none;" : "")"><b>Your Power Move</b></h5>
        </div>
        <div class="col-xs-6 text-center">
            <h5 id="opponent-power-move-label" class="animated fadeInUp" style="@(Model.OpponentPowerMove == null ? "display: none;" : "")"><b>Opponent's Power Move</b></h5>
        </div>
    </div>
    <div class="row">
        <div id="user-power-move-col" class="col-xs-6 text-center">
            @if (Model.NextPowerMove != null)
            {
                <div id="power-move" class="grid-element text-center center-block card-width medium-thick-border @(Model.NextPowerMove.CanBeNegative ? Model.NextPowerMove.IsNegative ? "lose-red-border" : "win-green-border" : "") @(Model.OpponentCard != null && Model.RoundPowers[2].IsFaded[2] ? "faded" : "animated bounceIn")">
                    <div>
                        <img class="power-move-dimensions" src="@Helper.GetImageUrl(Model.NextPowerMove.ImageUrl)" alt="@Model.NextPowerMove.Description" title="@Model.NextPowerMove.Description">
                        <div>
                            <h5 class="@(Model.NextPowerMove.CanBeNegative ? "no-margin-bottom small-margin-bottom" : "")">@Model.NextPowerMove.Name</h5>
                            @if (Model.NextPowerMove.CanBeNegative && Model.NextPowerMove.Type != PowerMoveType.None)
                            {
                                <div class="label label-@(Model.NextPowerMove.IsNegative ? "danger" : "success")" data-toggle="tooltip" data-placement="top" title="@(Model.NextPowerMove.IsNegative ? "The Power Move worked in your opponent's favor." : "The Power Move worked in your favor.")">@(Model.NextPowerMove.IsNegative ? "Negative" : "Positive")</div>
                                <div class="padding-top"></div>
                            }
                            <p><i><small>@Model.NextPowerMove.Description</small></i></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="opponent-power-move-col" class="col-xs-6 text-center">
            @if (Model.OpponentPowerMove != null)
            {
                <div id="opponent-power-move" class="grid-element text-center center-block card-width medium-thick-border @(Model.OpponentPowerMove.CanBeNegative ? Model.OpponentPowerMove.IsNegative ? "lose-red-border" : "win-green-border" : "") @(Model.OpponentCard != null && Model.OpponentRoundPowers[2].IsFaded[2] ? "faded" : "animated bounceIn")">
                    <div>
                        <img class="power-move-dimensions" src="@Helper.GetImageUrl(Model.OpponentPowerMove.ImageUrl)" alt="@Model.OpponentPowerMove.Description" title="@Model.OpponentPowerMove.Description">
                        <div>
                            <h5 class="@(Model.OpponentPowerMove.CanBeNegative ? "no-margin-bottom small-margin-bottom" : "")">@Model.OpponentPowerMove.Name</h5>
                            @if (Model.OpponentPowerMove.CanBeNegative && Model.OpponentPowerMove.Type != PowerMoveType.None)
                            {
                                <div class="label label-@(Model.OpponentPowerMove.IsNegative ? "danger" : "success")" data-toggle="tooltip" data-placement="top" title="@(Model.OpponentPowerMove.IsNegative ? "The Power Move worked in your favor." : "The Power Move worked in your opponent's favor.")">@(Model.OpponentPowerMove.IsNegative ? "Negative" : "Positive")</div>
                                <div class="padding-top"></div>
                            }
                            <p><i><small>@Model.OpponentPowerMove.Description</small></i></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="round-power" class="row">
    <div class="col-xs-6 text-center">
        <div class="large-padding-top no-margin-bottom">
            <h4 id="round-power-user" class="no-margin-top no-margin-bottom extra-big-font"><b id="roundPower" class="stadium-counter" data-round-powers="@string.Join("-", Model.RoundPowers.Select(x => x.Power))">0</b></h4>
            <small class="text-muted"><b>Power</b></small>
        </div>
        <div id="bonuses">
            @if (Model.Deck.All(x => x.Color == Model.Deck.First().Color))
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All your @Resources.DeckCards are the same color.">15% Color Bonus</span>
                </p>
            }
            else if (Model.Deck.GroupBy(x => x.Color).ToList().Count == Model.Deck.Count)
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All your @Resources.DeckCards are different colors.">20% Rainbow Bonus</span>
                </p>
            }
            @if (Model.RoundPowers.Last().Power > 0 && Model.UserSettings.FillerPercent > 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="You played a Filler Enhancer in an earlier round.">@Model.UserSettings.FillerPercent% Filler Bonus</span>
                </p>
            }
            @if (Model.RoundPowers.Last().Power > 0 && Model.UserSettings.StadiumSelfDestructMultiplier > 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="You used a Self-Destruct Power Move in your previous round.">@(Model.UserSettings.StadiumSelfDestructMultiplier)x Self-Destruct Bonus</span>
                </p>
            }
            @if (Model.MatchState.Position == Helper.GetMaxDeckSize() - 1 && Model.UserSettings.StadiumPlannedStrikeMultiplier > 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="You used a Planned Strike Power Move in an earlier round.">@(Model.UserSettings.StadiumPlannedStrikeMultiplier)x Planned Strike Bonus</span>
                </p>
            }
            @if (Model.IsCPU && (DateTime.UtcNow - Model.UserSettings.CandyExpiryDate).TotalMinutes < 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-@(Model.UserSettings.CandyPercent < 0 ? "danger" : "success")" data-toggle="tooltip" data-placement="top" title="You ate a Candy Card that gave you a @Model.UserSettings.CandyPercent% Candy Bonus.">@Model.UserSettings.CandyPercent% Candy Bonus</span>
                </p>
            }
            @if (Model.IsCPU && (DateTime.UtcNow - Model.UserSettings.StadiumBonusExpiryDate).TotalMinutes < 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="Your Stadium Bonus will last for another @Model.UserSettings.StadiumBonusExpiryDate.GetTimeUntil().">@Model.UserSettings.StadiumBonusPercent% Stadium Bonus</span>
                </p>
            }
            @if (Model.ThemeBoost > 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All your @Resources.DeckCards are the same theme.">@Helper.FormatNumber((int)(Math.Round((Model.ThemeBoost - 1) * 100)))% Theme Bonus</span>
                </p>
            }
            @if (Model.Deck.All(x => x.CreatedDate > DateTime.MinValue && x.GetAgeInHours() >= 720))
            {
                <p class="no-margin-bottom">
                    <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All your @Resources.DeckCards are 30 days or older.">10% Age Bonus</span>
                </p>
            }
            @if (Model.OpponentPowerMove?.Type != PowerMoveType.PoisonTouch && Model.UserSettings.StadiumPoisonTouchCurse > 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Your opponent used a Poison Touch Power Move and cursed you.">-@Model.UserSettings.StadiumPoisonTouchCurse% Poison Curse</span>
                </p>
            }
            @if (Model.NextPowerMove?.Type != PowerMoveType.PsychUp && Model.UserSettings.StadiumPsychUpCurse > 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="You used a Psych Up Power Move in an earlier round.">-@Model.UserSettings.StadiumPsychUpCurse% Psych Up Curse</span>
                </p>
            }
            @if (Model.OpponentPowerMove?.Type != PowerMoveType.Confusion && Model.UserSettings.StadiumIsConfused)
            {
                <p class="no-margin-bottom">
                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Your opponent used a Confusion Power Move so you couldn't play an Enhancer.">Confused</span>
                </p>
            }
            @if (Model.IsCPU && (DateTime.UtcNow - Model.UserSettings.CurseExpiryDate).TotalMinutes < 0)
            {
                <p class="no-margin-bottom">
                    <span class="label label-danger">@Model.UserSettings.CursePercent% Curse</span>
                </p>
            }
            @if (Model.RoundPowers[2].HasBackfired.Any(x => x))
            {
                <p class="no-margin-bottom">
                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="You used @(Model.RoundPowers[2].HasBackfired.Count(x => x) == 1 ? "a card" : "cards") beyond your experience and it backfired against you.">-@((Model.RoundPowers[2].HasBackfired[0] ? 50 : 0) + (Model.RoundPowers[2].HasBackfired[1] ? 50 : 0))% Backfire</span>
                </p>
            }
        </div>
    </div>
    @if (Model.OpponentCard != null)
    {
        <div class="col-xs-6 text-center">
            <div class="large-padding-top no-margin-bottom">
                <h4 id="round-power-opponent" class="no-margin-top no-margin-bottom extra-big-font"><b id="opponentRoundPower" class="stadium-counter" data-round-powers="@string.Join("-", Model.OpponentRoundPowers.Select(x => x.Power))">0</b></h4>
                <small class="text-muted"><b>Power</b></small>
            </div>
            <div id="bonuses-opponent">
                @if (Model.OpponentDeck.All(x => x.Color == Model.OpponentDeck.First().Color))
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All their @Resources.DeckCards are the same color.">15% Color Bonus</span>
                    </p>
                }
                else if (Model.OpponentDeck.GroupBy(x => x.Color).ToList().Count == Model.OpponentDeck.Count)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All their @Resources.DeckCards are different colors.">20% Rainbow Bonus</span>
                    </p>
                }
                @if (Model.OpponentRoundPowers.Last().Power > 0 && Model.UserSettings.OpponentFillerPercent > 0)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="They played a Filler Enhancer in an earlier round.">@Model.UserSettings.OpponentFillerPercent% Filler Bonus</span>
                    </p>
                }
                @if (Model.OpponentRoundPowers.Last().Power > 0 && Model.UserSettings.OpponentStadiumSelfDestructMultiplier > 0)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="They used a Self-Destruct Power Move in their previous round.">@(Model.UserSettings.OpponentStadiumSelfDestructMultiplier)x Self-Destruct Bonus</span>
                    </p>
                }
                @if (Model.MatchState.Position == Helper.GetMaxDeckSize() - 1 && Model.UserSettings.OpponentStadiumPlannedStrikeMultiplier > 0)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="They used a Planned Strike Power Move in an earlier round.">@(Model.UserSettings.OpponentStadiumPlannedStrikeMultiplier)x Planned Strike Bonus</span>
                    </p>
                }
                @if (Model.OpponentThemeBoost > 0)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All their @Resources.DeckCards are the same theme.">@Helper.FormatNumber((int)(Math.Round((Model.OpponentThemeBoost - 1) * 100)))% Theme Bonus</span>
                    </p>
                }
                @if (Model.OpponentDeck.All(x => x.CreatedDate > DateTime.MinValue && x.GetAgeInHours() >= 720))
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="All their @Resources.DeckCards are 30 days or older.">10% Age Bonus</span>
                    </p>
                }
                @if (Model.IsCPU && !Model.IsCPUChallenge && Model.CPU.Intensity > 0 && !Model.IsSpecialCPU)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="@Model.OpponentName has an Intensity Bonus as you reached Intensity @Helper.FormatNumber(Model.CPU.Intensity + 1).">x@(Math.Min(10, Model.CPU.Intensity + 2)) Intensity Bonus</span>
                    </p>
                }
                @if (Model.UserSettings.StadiumCPUBonus > 1)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-success" data-toggle="tooltip" data-placement="top" title="@Model.OpponentName has an Intensity Bonus for added difficulty.">x@(Helper.FormatNumber(Model.UserSettings.StadiumCPUBonus)) Intensity Bonus</span>
                    </p>
                }
                @if (Model.NextPowerMove?.Type != PowerMoveType.PoisonTouch && Model.UserSettings.OpponentStadiumPoisonTouchCurse > 0)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="You used a Poison Touch Power Move and cursed your opponent.">-@Model.UserSettings.OpponentStadiumPoisonTouchCurse% Poison Curse</span>
                    </p>
                }
                @if (Model.OpponentPowerMove?.Type != PowerMoveType.PsychUp && Model.UserSettings.StadiumOpponentPsychUpCurse > 0)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Your opponent used a Psych Up Power Move in an earlier round.">-@Model.UserSettings.StadiumOpponentPsychUpCurse% Psych Up Curse</span>
                    </p>
                }
                @if (Model.NextPowerMove?.Type != PowerMoveType.Confusion && Model.UserSettings.OpponentStadiumIsConfused)
                {
                    <p class="no-margin-bottom">
                        <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="You used a Confusion Power Move so your opponent couldn't play an Enhancer.">Confused</span>
                    </p>
                }
                @if (Model.OpponentRoundPowers[2].HasBackfired.Any(x => x))
                {
                    <p class="no-margin-bottom">
                        <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="They used @(Model.OpponentRoundPowers[2].HasBackfired.Count(x => x) == 1 ? "a card" : "cards") beyond their experience and it backfired against them.">-@((Model.OpponentRoundPowers[2].HasBackfired[0] ? 50 : 0) + (Model.OpponentRoundPowers[2].HasBackfired[1] ? 50 : 0))% Backfire</span>
                    </p>
                }
            </div>
        </div>
    }
</div>
@if (Model.RoundResult != MatchStatus.NotPlayed)
{
    <div class="large-padding-top"></div>
    <div class="large-padding-top"></div>
    <div id="match-result" class="alert alert-@(Model.RoundResult == MatchStatus.Won ? "success alert-success-coloring-gradient" : Model.RoundResult == MatchStatus.Lost ? "danger alert-danger-coloring-gradient" : "info alert-info-coloring-gradient") text-center thick-border animated bounceInUp">
        <div class="row">
            <div class="col-sm-2 col-md-1 col-xs-4 text-center vcenter">
                <div class="big-circle @(Model.RoundResult == MatchStatus.Won ? "win-green-gradient-background" : Model.RoundResult == MatchStatus.Lost ? "lose-red-gradient-background" : "primary-color-gradient-background")">
                    <div class="padding-top"></div>
                    <h5 class="no-margin-bottom">Round</h5>
                    <h3 class="no-margin-top padding-bottom">@(Model.MatchState.Position + 1)</h3>
                </div>
            </div>
            <div class="col-sm-9 col-md-10 col-xs-7 vcenter text-center-mobile animated fadeInUp delay-0-5s">
                @if (Model.RoundResult == MatchStatus.Won)
                {
                    <h5 class="slightly-larger-medium-font">
                        <span class="fas fa-check-circle"></span> Awesome! Your Round Power was higher and you <b>won</b> @(Model.MatchState.Position < Helper.GetMaxDeckSize() ? $"Round {Model.MatchState.Position + 1}" : "Sudden Death")!
                    </h5>
                }
                else if (Model.RoundResult == MatchStatus.Lost)
                {
                    <h5 class="slightly-larger-medium-font">
                        <span class="fas fa-times-circle"></span> Too bad! Your Round Power was lower and you <b>lost</b> @(Model.MatchState.Position < Helper.GetMaxDeckSize() ? $"Round {Model.MatchState.Position + 1}" : "Sudden Death")!
                    </h5>
                }
                else
                {
                    <h5 class="slightly-larger-medium-font">
                        <span class="fas fa-stop-circle"></span> Your Round Power was equal and Round @(Model.MatchState.Position + 1) was a <b>draw</b>!
                    </h5>
                }
            </div>
        </div>
    </div>
    <form id="stadiumForm-duel" action="@Url.Action("NextRound", "Stadium")" method="POST" onsubmit="submitStadiumForm(event, this);" class="animated fadeIn">
        @Html.AntiForgeryToken()
        @{
            try
            {
                Model.Results[Model.MatchState.Position] = Model.RoundResult;
            }
            catch(Exception)
            {
                ServicesLocator.GetService<IMatchStateRepository>().DeleteMatchState(Model.User, Model.OpponentName, true, false);
                Messages.AddSnack("We're sorry but something went wrong. Please refresh the page.", true);
            }
            MatchStatus finalStatus = ServicesLocator.GetService<IMatchStateRepository>().GetFinalStatus(Model.Results);
        }
        @if (finalStatus == MatchStatus.Won || finalStatus == MatchStatus.Lost)
        {
            <button id="final-results-button" type="submit" class="btn btn-@(finalStatus == MatchStatus.Won ? "success" : "danger")"><h5 class="small-margin-top small-margin-bottom"><i class="@(finalStatus == MatchStatus.Won ? "fas fa-check-circle" : "fas fa-times-circle")"></i> Match Results</h5></button>
        }
        else if (finalStatus == MatchStatus.Draw)
        {
            <button id="sudden-death-button" type="submit" class="btn btn-orange"><h5 class="small-margin-top small-margin-bottom"><i class="fas fa-skull-crossbones"></i> Enter Sudden Death!</h5></button>
        }
        else
        {
            <button id="next-round-button" type="submit" class="btn btn-primary"><h5 class="small-margin-top small-margin-bottom"><i class="fas fa-play"></i> Start Round @(Model.MatchState.Position + 2)</h5></button>
        }
    </form>
    @if (Model.ShowTutorial)
    {
        @await Html.PartialAsync("_StadiumMatchDuelTutorialPartial", Model)
    }
}
