﻿@model StadiumViewModel

<div class="modal fade" id="modal-suggestions-zone" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stadium Suggestions</h4>
            </div>
            <div class="modal-body">
                <h5 class="text-center small-padding-bottom animated fadeInUp">
                    Here are some suggestions to help you beat <b>@Model.CPU.Name</b> at the Stadium:
                </h5>
                <ul>
                    @if (Model.UserSettings.TrainingTokens > 0)
                    {
                        <li class="small-padding-top fade-in">
                            You have <b>@Helper.FormatNumber(Model.UserSettings.TrainingTokens) Training Token@(Model.UserSettings.TrainingTokens == 1 ? "" : "s")</b>! You can use @(Model.UserSettings.TrainingTokens == 1 ? "it" : "them") at the <a href="/TrainingCenter">Training Center</a> to upgrade your @Resources.DeckCards.
                        </li>
                    }
                    <li class="small-padding-top fade-in-small-delay">
                        Set your Power Moves! You can activate them from your <a href="/Items?showPowerMoves=true">bag</a>!
                    </li>
                    <li class="fade-in-delay">
                        Try to get temporary Stadium bonuses! Some ways you can get bonuses are having all the same colored @Resources.DeckCards, eating a Candy Card, or becoming a <a href="/club">@Resources.SiteName Club</a> member.
                    </li>
                    <li class="small-padding-top fade-in-large-delay">
                        When you get a stronger @Resources.DeckCard, don't forget to add it to your <a href="/Items">Deck</a> before starting a new Stadium match.
                    </li>
                    <li class="small-padding-top fade-in-extra-large-delay">
                        Learn more about Stadium matches by checking out the <a href="/Help#stadium">Help Hub</a>.
                    </li>
                </ul>
                <div class="extra-large-padding-top"></div>
                <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
            </div>
        </div>
    </div>
</div>