﻿@model StadiumViewModel

@{ Item enhancer = Model.Enhancers.FirstOrDefault() ?? Model.LossEnhancer; }
<div class="modal fade" id="modal-stadium-tutorial-2" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stadium Tutorial (2/4)</h4>
            </div>
            <div class="modal-body text-center">
                <div class="grid-element center-block card-width">
                    <div>
                        <img class="item-dimensions animated bounceIn" src="@Helper.GetImageUrl(enhancer.ImageUrl)" alt="@enhancer.Description" title="@enhancer.Description">
                        <div>
                            <h5>@enhancer.Name</h5>
                            <p><i><small>@enhancer.Description</small></i></p>
                        </div>
                    </div>
                </div>
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h5>
                        Nice choice! You can optionally play an Enhancer alongside your chosen @Resources.DeckCard for an additional boost. Try playing your <b>@enhancer.Name</b>.
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>