﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkpoint CPUs</h4>
            </div>
            <div class="modal-body text-center">
                <img src="@Helper.GetImageUrl("Stadium/Checkpoint.png")" class="animated fadeInUp" width="80" height="80">
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h4>Checkpoint CPU</h4>
                    <h5 class="small-padding-top">
                        <b>@Model.OpponentName</b> is your first <span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Checkpoint CPU! If you win, you'll earn <b class="win-green">bonus @Resources.Currency</b>, a new <b>Power Move</b>, and a <b>Stadium Relic</b> needed to access the <a href="/TrainingCenter/Plateau">Ancient Plateau</a>!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>