﻿@model StadiumViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Stadium</a></li>
    <li><a href="@Url.Action("Statistics", "Stadium")">Statistics</a></li>
</ul>
@if (Model.FromChallenge)
{
    <p>
        <div class="alert alert-warning thick-border alert-dismissible no-margin-bottom" role="alert">
            <a class="close" data-hide="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> Uh-oh!</h4>
            You don't have any active Stadium challenges. You'll be notified when you get a new one.
        </div>
    </p>
}
<h5 class="small-padding-top">
    Deck (@Model.Deck.Count/@Helper.GetMaxDeckSize())
    <a href="/Items" class="btn btn-default btn-xs extra-small-margin-left">Manage</a>
</h5>
<div class="scrolling-wrapper">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
        @foreach (Card card in Model.Deck)
        {
            <div class="scrolling-grid-element text-center clickable @(!ServicesLocator.GetService<IRelicsRepository>().HasEarned(card.Tier, Model.UserSettings.MatchLevel) ? "lose-red-border" : "")" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5 class="small-margin-bottom">@card.Name</h5>
                    </div>
                </div>
                <div class="push-down-class">
                    @if  (card.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
@if (Model.Deck.All(x => x.Color == Model.Deck.First().Color) || Model.Deck.GroupBy(x => x.Color).ToList().Count == Model.Deck.Count || Model.ThemeBoost > 0 || Model.Deck.All(x => x.CreatedDate > DateTime.MinValue && x.GetAgeInHours() >= 720))
{
    bool previousExists = false;
    <p>
        <div class="alert alert-success alert-success-coloring-gradient no-margin-bottom">
            @if (Model.Deck.All(x => x.Color == Model.Deck.First().Color))
            {
                <h5 class="small-margin-top small-margin-bottom">
                    <span></span>
                    All your @Resources.DeckCards are the same color! (You'll get a <b>15% Color Bonus</b> each round)
                </h5>
                previousExists = true;
            }
            else if (Model.Deck.GroupBy(x => x.Color).ToList().Count == Model.Deck.Count)
            {
                <h5 class="small-margin-top small-margin-bottom">
                   <span></span>
                    All your @Resources.DeckCards are different colors! (You'll get a <b>20% Rainbow Bonus</b> each round)
                </h5>
                previousExists = true;
            }
            @if (Model.ThemeBoost > 0)
            {
                if (previousExists)
                {
                    <div class="extra-small-padding-top"></div>
                }
                <h5 class="small-margin-top small-margin-bottom">
                    <span class="fas fa-caret-right"></span>
                    All your @Resources.DeckCards are the same theme! (You'll get a <b>@(Helper.FormatNumber((int)(Math.Round((Model.ThemeBoost - 1) * 100))))% Theme Bonus</b> each round)
                </h5>
                previousExists = true;
            }
            @if (Model.Deck.All(x => x.CreatedDate > DateTime.MinValue && x.GetAgeInHours() >= 720))
            {
                if (previousExists)
                {
                    <div class="extra-small-padding-top"></div>
                }
                <h5 class="small-margin-top small-margin-bottom">
                    <span class="fas fa-caret-right"></span>
                    All your @Resources.DeckCards are 30 days or older! (You'll get a <b>10% Age Bonus</b> each round)
                </h5>
                previousExists = true;
            }
        </div>
    </p>
}
else
{
    <div class="padding-top"></div>
}
<ul id="challenge-tabs" class="nav nav-tabs nav-justified padding-top">
    <li class="@(Model.StadiumTab == StadiumTab.CPU ? "active" : "")">
        <a data-toggle="tab" id="cpu-tab" href="#nav-cpu">
            <h5 class="small-margin-top no-margin-bottom">
            CPU Challengers
            </h5>
        </a>
    </li>
    <li class="@(Model.StadiumTab == StadiumTab.User ? "active" : "")">
        <a data-toggle="tab" id="user-tab" href="#nav-user">
            <h5 class="small-margin-top no-margin-bottom @(Model.UserLobby?.Count > 0 ? "text-danger" : "")">
                User Challengers
                @if (Model.UserLobby?.Count > 0)
                {
                    <span class="label label-danger hidden-xs">@Helper.FormatNumberShortened(Model.UserLobby.Count)</span>
                }
            </h5>
        </a>
    </li>
</ul>
<div class="tab-content padding-top" id="matchSelector">
    <div class="tab-pane fade @(Model.StadiumTab == StadiumTab.CPU ? "active in" : "")" id="nav-cpu">
        <form id="stadiumForm-cpu" action="@Url.Action("StartMatch", "Stadium")" method="POST" onsubmit="submitStadiumForm(event, this);">
            <div class="padding-top">
                <div class="alert alert-info @(Model.CPU.Intensity > 0 ? "alert-elite-zone-coloring" : "")">
                    <h5>
                        @if (Model.CPU.Intensity == 0)
                        {
                            <span>
                                Win against <b>CPU Challengers</b> and earn <b>all 7 Relics</b>!
                                Then you'll be granted access to the <a class="alert-link" href="/TrainingCenter/Plateau">Ancient Plateau</a>...
                            </span>
                        }
                        else
                        {
                            <span>
                                <b>Congratulations!</b> You defeated all of the <b>CPU Challengers</b>! You can now rematch all of them at <b>Intensity @(Helper.FormatNumber(Model.CPU.Intensity + 1))</b>.
                            </span>
                        }
                    </h5>
                </div>
            </div>
            <div class="form-group small-padding-bottom">
                @if (Model.UserSettings.HasDoubleStadiumCPUReward)
                {
                    <div class="alert alert-success">
                        <h5>
                            Your <b>Stadium Match</b> reward gives you <b>double</b> the reward against your next CPU Challenger!
                        </h5>
                    </div>
                }
                <div class="primary-container text-center">
                   <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 text-center vcenter">
                       @if (string.IsNullOrEmpty(Model.CPU.ImageUrl))
                       {
                            <div class="big-circle @(Model.CPU.IsCheckpoint ? "orange-color-background" : "win-green-gradient-background")">
                                <div class="padding-top"></div>
                                <h5 class="no-margin-bottom">Level</h5>
                                <h3 class="no-margin-top padding-bottom">@(Model.CPU.Level + 1)</h3>
                            </div>
                       }
                       else
                       {
                        <img src="@Helper.GetImageUrl(Model.CPU.ImageUrl)" class="img-circle display-image display-image-large @(Model.CanChallengeCPU ? "" : "faded")">
                       }
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10 col-xs-7 vcenter">
                        <h5 class="small-margin-left">
                            <span class="fas fa-arrow-alt-circle-up"></span>
                            Next Challenger:
                            <span class="extra-small-padding-top visible-xs"></span>
                            <b>
                                @Model.CPU.Name @Html.Raw(Model.CPU.IsCheckpoint ? "<span class='glyphicon glyphicon-exclamation-sign orange-color' data-toggle='tooltip' data-placement='top' title='Checkpoint CPU'></span> " : "")
                                @if (!string.IsNullOrEmpty(Model.CPU.ImageUrl))
                                {
                                    <span>(Level @(Model.CPU.Level + 1))</span>
                                }
                            </b>
                        </h5>
                        <h5 class="extra-small-padding-top small-margin-left">
                            <span class="fas fa-coins"></span>
                            Reward:
                            <span class="extra-small-padding-top visible-xs"></span>
                            <b class="win-green">
                                @Helper.GetFormattedPoints(Model.CPU.Reward * (Model.UserSettings.HasDoubleStadiumCPUReward ? 2 : 1))
                                @if (Model.CPU.IsCheckpoint)
                                {
                                    <span>(+@Helper.GetFormattedPoints(Math.Min(50000, (Model.CPU.Level + 1) * 1000)) Checkpoint Bonus)</span>
                                }
                            </b>
                        </h5>
                        @if (!string.IsNullOrEmpty(Model.CheckpointCPURequirement) && Model.CanChallengeCPU)
                        {
                            <h5 class="extra-small-padding-top small-margin-left">
                                Checkpoint CPU Criteria:
                                <span class="extra-small-padding-top visible-xs"></span>
                                 <b>
                                    <span data-toggle="tooltip" data-placement="top" title="You completed the criteria to challenge this Checkpoint CPU."><span class="fas fa-check-circle win-green"></span></span>
                                    @Model.CheckpointCPURequirement
                                 </b>
                            </h5>
                        }
                    </div>
                </div>
                @{ double cpuChallengerProgress = Math.Round((double)Model.CPU.Level / Model.TotalCPUs * 100, 1); }
                <h5 class="bold padding-top">
                    CPU Challenger Progress (@(Model.CPU.Level)/@Model.TotalCPUs)
                    @if (Model.CPU.Intensity > 0)
                    {
                        <span class="extra-small-margin-left" data-toggle="tooltip" data-placement="top" title="Intensity @Helper.FormatNumber(Model.CPU.Intensity + 1)"><span class="fas fa-plus-square gold-color"></span></span>
                    }
                </h5>
                <div class="relative">
                    @for (int i = Model.CPU.Level/5 + 1; i <= Model.TotalCPUs/5; i++)
                    {
                        <div class="progress-bar-checkpoint" style="left: calc(@(i * 100/((double)Model.TotalCPUs/5))% - 12px);" data-toggle="tooltip" data-placement="top" title="Checkpoint CPU (Level @(i * 5))"><b class="white-color" style="padding-left: 4px;">!</b></div>
                    }
                    <div class="progress border-gray-background-color small-margin-bottom @(cpuChallengerProgress == 0 ? "progress-bar-striped" : "")">
                        <div class="progress-bar @(Model.CPU.Intensity > 0 ? "gold-color-background" : "win-green-background") progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@cpuChallengerProgress%;">
                            <b class="progress-bar-text" style="@(cpuChallengerProgress < 10 ? "position: absolute;" : "")">@cpuChallengerProgress%</b>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <input type="hidden" value="true" name="isCPUMatch" id="isCPUMatch" />
                </div>
            </div>
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-@(Model.CPU.IsCheckpoint ? "orange" : "success") @(Model.CanChallengeCPU ? "" : "disabled")"><span class="fas fa-play"></span> <b>Challenge CPU!</b></button>
            <a href="/Items" class="btn btn-secondary">Change Deck</a>
            @if (Model.UserSettings.StadiumChallengeExpiryDate > DateTime.UtcNow)
            {
                <div class="extra-large-padding-top"></div>
                <div class="alert alert-success alert-success-coloring-gradient alert-dismissible no-margin-bottom" role="alert">
                    <a class="close" data-hide="alert">×</a>
                    <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Challenge!</h4>
                    <h5>
                        You have an active Stadium Challenge! It will expire in <b>@Model.UserSettings.StadiumChallengeExpiryDate.GetTimeUntil()</b>.
                    </h5>
                    <div class="padding-top"></div>
                    <a href="/Stadium/Challenge" class="btn btn-success">
                        <span class="fas fa-trophy"></span>
                        <b>See Stadium Challenge!</b>
                    </a>
                </div>
            }
        </form>
    </div>
    <div class="tab-pane fade @(Model.StadiumTab == StadiumTab.User ? "active in" : "")" id="nav-user">
        @if (Model.User.Points < Helper.GetMinMatchPoints() * 11)
        {
            <div class="padding-top">
                <div class="alert alert-warning">
                    <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> No Entry!</h4>
                    <h5 class="padding-top">
                        You can only go head-to-head against @Resources.SiteName users if you have at least <b>@Helper.GetFormattedPoints(Helper.GetMinMatchPoints() * 11)</b> on hand!
                    </h5>
                    <div class="padding-top"></div>
                    <a class="btn btn-warning no-load-btn" onclick="$('#cpu-tab').trigger('click');">See CPU Challengers</a>
                </div>
            </div>
        }
        else if (!Model.Accomplishments.Any(x => x.Id == AccomplishmentId.FirstCPUMatch))
        {
           <div class="padding-top">
                <div class="alert alert-warning">
                    <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> No Entry!</h4>
                    <h5 class="padding-top">
                        Try challenging a CPU to a Stadium match before going head-to-head against other @Resources.SiteName users!
                    </h5>
                    <div class="padding-top"></div>
                    <a class="btn btn-warning no-load-btn" onclick="$('#cpu-tab').trigger('click');">See CPU Challengers</a>
                </div>
           </div>
        }
        else
        {
            <form id="stadiumForm-player" action="@Url.Action("StartMatch", "Stadium")" method="POST" onsubmit="submitStadiumForm(event, this);">
                <div class="padding-top">
                    <div class="alert alert-info @(Model.IsElite ? "alert-elite-zone-coloring" : "")">
                        @if (Model.MatchRanking != null && Model.IsElite)
                        {
                            <h4 class="alert-heading padding-top"><span class="fas fa-trophy"></span> Elite Zone</h4>
                            <h5>
                                Congratulations! You rank in the top <b>25%</b> of users at the Stadium and will be matched with better opponents! Welcome to the <b>Elite Zone</b>!
                            </h5>
                        }
                        else
                        {
                            <h5>
                                Put your @Resources.Currency on the line, challenge real users, and improve your <b>Global Ranking</b>! Who knows? You might even qualify for the <b>Elite Zone</b>...
                            </h5>
                        }
                    </div>
                </div>
                @if (Model.UserLobby?.Count > 0)
                {
                    <h5 class="no-margin-top small-padding-bottom">
                        <span class="fas fa-exclamation-circle text-danger"></span>
                            @if (Model.UserLobby.Any(x => x.ChallengeUser == Model.User.Username))
                            {
                                string username = Model.UserLobby.Find(x => x.ChallengeUser == Model.User.Username).Username;
                                <span>
                                    <a href="/Stadium/ChallengeUser?username=@username">@username</a> is waiting to challenge you to a friendly match!
                                </span>
                            }
                            else
                            {
                                <span>
                                    @(Model.UserLobby.Count == 1 ? "There's a user" : $"are {Helper.FormatNumberShortened(Model.UserLobby.Count)} users") currently waiting in the lobby for someone to challenge!
                                </span>
                            }
                    </h5>
                }
                <div class="row">
                    <div class="col-xs-6">
                        <div class="panel panel-default text-center no-margin-bottom">
                            <div class="panel-heading">
                                <h5 class="no-margin-top no-margin-bottom">
                                    Global Ranking
                                </h5>
                            </div>
                            <div class="panel-body">
                                <h3 class="no-margin-top no-margin-bottom @(Model.IsElite ? "gold-color" : "")">@(Model.MatchRanking == null ? "N/A" : Helper.FormatNumber(Model.MatchRanking.Rank))</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-default text-center no-margin-bottom">
                            <div class="panel-heading">
                                <h5 class="no-margin-top no-margin-bottom">
                                    Win Percentage
                                </h5>
                            </div>
                            <div class="panel-body">
                                <h3 class="no-margin-top no-margin-bottom">@(Model.UserWinPercent == 0 && Model.MatchRanking == null ? "N/A" : $"{Model.UserWinPercent}%")</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group extra-large-padding-top">
                    <label for="betAmount">Double or Nothing: How much of your @Resources.Currency would you like to put on this match? (At most @(Model.User.Points / (Model.IsElite ? 3 : 10) >= (Model.IsElite ? 25000 : 10000) ? Helper.FormatNumber(Model.IsElite ? 25000 : 10000) : $"{(Model.IsElite ? "33" : "10")}%") of your @Resources.Currency on hand)</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                        <input type="number" class="form-control" id="betAmount" min="@Helper.GetMinMatchPoints()" max="@(Math.Min(Model.User.Points/(Model.IsElite ? 3 : 10), (Model.IsElite ? 25000 : 10000)))" name="betAmount" placeholder="Between @Helper.FormatNumber(Helper.GetMinMatchPoints()) and @Helper.GetFormattedPoints(Math.Min(Model.User.Points/(Model.IsElite ? 3 : 10), (Model.IsElite ? 25000 : 10000)))" required>
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <div class="small-padding-top">
                    <button type="submit" class="btn btn-@(Model.IsElite ? "gold" : "success")"><span class="fas fa-play"></span>  <b>Enter <span class="hidden-xxs">@(Model.IsElite ? "Elite" : "")</span> Lobby!</b></button>
                    <a href="/Items" class="btn btn-secondary">Change Deck</a>
                </div>
            </form>
            <hr />
            <div class="alert alert-info alert-dismissible no-margin-bottom" role="alert">
                <a class="close" data-hide="alert">×</a>
                <h4 class="alert-heading"><span class="fas fa-trophy" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> Looking for a friendly match?</h4>
                <h5 class="small-margin-bottom">
                    Challenge another user to a friendly match! It won't affect your Global Ranking and won't cost any @Resources.Currency!
                </h5>
                <div class="padding-top"></div>
                <form action="@Url.Action("ChallengeUser", "Profile")" method="POST" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <div class="input-group padding-bottom">
                        <span class="input-group-addon"><i class="fas fa-user"></i></span>
                        <input id="username" type="text" class="form-control" name="username" value="" placeholder="Username" maxlength="15" required>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <span class="fas fa-play-circle"></span>
                        <b>Challenge User!</b>
                    </button>
                </form>
            </div>
        }
    </div>
</div>
@if (Model.ShowEliteZoneTutorial)
{
    @await Html.PartialAsync("_StadiumEliteZoneTutorialPartial", Model)
}
@if (Model.ShowSecondMatchTutorial)
{
    @await Html.PartialAsync("_StadiumSecondMatchTutorialPartial", Model)
}
else if (Model.ShowRelicRequirementTutorial)
{
    @await Html.PartialAsync("../Tutorial/_RelicRequirementTutorial", Model)
}
@if (!Model.CanChallengeCPU)
{
    @await Html.PartialAsync("_StadiumCheckpointRequirementsPartial", Model)
}