﻿@model StadiumViewModel

<div class="modal fade" id="modal-checkpoint-cpu-requirements" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkpoint CPU</h4>
            </div>
            <div class="modal-body text-center">
                <img width="80" height="80" src="@Helper.GetImageUrl("Stadium/Checkpoint.png")">
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h4 class="small-padding-bottom">
                        Level @(Model.CPU.Level + 1) Checkpoint CPU
                    </h4>
                    <h5 id="checkpoint-cpu-requirements"></h5>
                </div>
                <div class="large-padding-top">
                    <div id="checkpoint-cpu-button" class="display-none">
                        <a id="checkpoint-cpu-button-url" class="btn btn-block btn-success" href="#"><h5 id="checkpoint-cpu-button-text" class="small-margin-top small-margin-bottom"></h5></a>
                        <div class="small-padding-top"></div>
                    </div>
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>