﻿@model StadiumViewModel

<div id="stadium-select" style="@(Model.ShowStadiumMatchIntro ? "display: none; border: 0.5px solid transparent;" : "")">
    <h4 class="small-margin-top no-margin-bottom">
        @if (Model.MatchState.Position < Helper.GetMaxDeckSize())
        {
            <b class="label label-primary small-margin-right">
                Round @(Model.MatchState.Position + 1)
            </b>
        }
        else
        {
            <b class="label label-warning small-margin-right">
                Sudden Death
            </b>
        }
        @if (Model.Points > 0)
        {
            <b class="label label-success">
                <span class="fas fa-coins"></span>
                @Helper.GetFormattedPoints(Model.Points)
            </b>
        }
        @if (Model.IsCPU && !(Model.IsCPUChallenge || Model.IsSpecialCPU) && Model.CPU.IsCheckpoint && Model.NextRelic != null)
        {
            <span class="pull-right behind-margin-top" data-toggle="tooltip" data-placement="top" title="@Model.NextRelic.Name Relic">
                <img src="@Helper.GetImageUrl(Model.NextRelic.ImageUrl)" width="30" height="30" class="shadow"/>
            </span>
        }
        else if (Model.IsCPUChallenge)
        {
            <span class="glyphicon glyphicon-info-sign gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Stadium Challenge: @Model.UserSettings.StadiumChallenge.GetDisplayName()"></span>
        }
    </h4>
    <hr class="margin-top no-margin-bottom" />
    @if (Model.UserSettings.MatchLevel == 0 && Model.MatchState.Position == 1)
    {
        <div class="alert alert-info alert-info-coloring-gradient alert-dismissible no-margin-bottom animated fadeInLeft" role="alert">
            <a class="close" data-hide="alert">×</a>
            <h5 class="small-margin-top">
                <span class="fas fa-exclamation-circle"></span>
                A bit confused? You can check out the Help Hub to learn more about Stadium matches!
            </h5>
            <a class="btn btn-primary" href="/Help#stadium">Read Rules!</a>
             <button type="button" class="btn btn-secondary" data-dismiss="alert" aria-label="Close">No Thanks</button>
        </div>
    }
    <h5 class="no-margin-bottom">
        <b>Vs. @Html.Raw(Model.IsCPU ? $"{Model.OpponentName} {(Model.IsCPUChallenge || Model.IsSpecialCPU ? "" : $"(Level {Model.CPU.Level + 1})")}" : $"<a href='/User/{Model.OpponentName}'>{Model.OpponentName}</a>")</b>
        @if (Model.IsCPU && !(Model.IsCPUChallenge || Model.IsSpecialCPU))
        {
            @Html.Raw(Model.CPU.IsCheckpoint ? "<span class='glyphicon glyphicon-exclamation-sign orange-color' data-toggle='tooltip' data-placement='top' title='Checkpoint CPU'></span>" : "")
        }
        @if (Model.IsCPU && Model.UserSettings.MatchLevel > 0)
        {
            <span class="lose-red pull-right big-font clickable" onclick="concedeStadiumMatch()" data-toggle="tooltip" data-placement="top" title="Concede Match"><span class="glyphicon glyphicon-remove"></span></span>
        }
    </h5>
    @if (!Model.IsCPU)
    {
        <h6 class="text-muted small-margin-top" id="countdown-match">
            You have <span id="match-secondsLeftCountdown"><span id="match-secondsLeft">@Model.SecondsLeft</span> second@(@Model.SecondsLeft == 1 ? "" : "s")</span> left for this move
        </h6>
    }
    @if (Model.IsCPUChallenge)
    {
        <div class="padding-top"></div>
        <div class="primary-container light-blue-border">
            <h5>Stadium Challenge: <b>@Model.UserSettings.StadiumChallenge.GetDisplayName()</b></h5>
        </div>
    }
    <h5 class="@(Model.IsCPU ? "small-padding-top" : "") no-margin-bottom">
        Round Results
        @if (Model.MatchState.Position < Helper.GetMaxDeckSize())
        {
            <span>(@(Model.MatchState.Position + 1)/@Helper.GetMaxDeckSize())</span>
        }
        else
        {
            <span class="label label-primary orange-color-background">Sudden Death</span>
        }
    </h5>
    <h6 class="small-margin-top">
        @for (int i = 0; i < Model.Results.Count; i++)
        {
            if (i == Model.MatchState.Position || Model.Results[i] == MatchStatus.NotPlayed)
            {
                <span class="far fa-circle gray-color"></span>
            }
            else
            {
                @if (Model.Results[i] == MatchStatus.Won)
                {
                    <span class="fas fa-check-circle win-green"></span>
                }
                else if (Model.Results[i] == MatchStatus.Lost)
                {
                    <span class="fas fa-times-circle lose-red"></span>
                }
                else
                {
                    <span class="fas fa-minus-circle primary-color"></span>
                }
            }
        }
    </h6>
    <h5 class="no-margin-bottom small-padding-top">
        <span id="card-selected-dot" class="@(Model.MatchState.CardId == Guid.Empty ? "far fa-circle" : "fas fa-check-circle") win-green"></span>
        @Resources.DeckCards (@Helper.FormatNumber(Model.AvailableDeck.Count) Left)
    </h5>
    <h6 class="text-muted small-margin-top">
        Choose a card from your Deck to play @(Model.MatchState.Position == 0 ? "first" : "next"). You can only play each @Resources.DeckCard once per match
    </h6>
    @if (Model.MatchState.CardId == Guid.Empty)
    {
        <div class="scrolling-wrapper">
            <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
            <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
            <div class="scrolling-container">
                @foreach (Card card in Model.AvailableDeck)
                {
                    <div class="scrolling-grid-element text-center clickable grow deck-card @(ServicesLocator.GetService<IRelicsRepository>().HasEarned(card.Tier, Model.UserSettings.MatchLevel) ? "" : "lose-red-border")" onclick="deckCardSelected(this);" id="@card.SelectionId">
                        <div>
                            <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                            <div>
                                <h5>@card.Name</h5>
                                <p><i><small>@card.Description</small></i></p>
                            </div>
                        </div>
                        <div class="push-down-class">
                            @if  (card.Tier > RelicId.None)
                            {
                                <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                                </div>
                            }
                        </div>
                    </div>
                }
                @if (Model.AvailableDeck.Count > 1)
                {
                    <div id="expand-cards" class="grow large-padding-top display-none">
                        <h2 class="primary-color expand-button clickable" onclick="deckCardSelected();"><span class="fas fa-plus-circle text-muted"></span></h2>
                    </div>
                }
                <div class="small-padding-right"></div>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info margin-bottom">
            Your opponent used a <b>Lose Control Power Move</b> and your next @Resources.DeckCard was randomly chosen for you.
        </div>
        Card chosenCard = Model.AvailableDeck.Find(x => x.SelectionId == Model.MatchState.CardId);
        <div class="grid-element text-center card-width cardSelected">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(chosenCard.ImageUrl)" alt="@chosenCard.Description" title="@chosenCard.Description">
                <div>
                    <h5>@chosenCard.Name</h5>
                    <p><i><small>@chosenCard.Description</small></i></p>
                </div>
            </div>
        </div>
    }
    <div id="enhancers" class="padding-top" style="@(Model.MatchState.CardId == Guid.Empty ? "display: none;" : "")">
        <h5 class="no-margin-bottom">
            <span id="enhancer-selected-dot" class="far fa-circle win-green"></span>
            Enhancers (@Helper.FormatNumber(Model.Enhancers.Count))
        </h5>
        @if (Model.UserSettings.StadiumIsConfused)
        {
            <div class="alert alert-info margin-top no-margin-bottom">
                You cannot use an Enhancer for this round as your opponent used a <b>Confusion Power Move</b>.
            </div>
        }
        else if (Model.Enhancers.Count > 0)
        {
            <h6 class="text-muted small-margin-top">
                Tap on an Enhancer to choose it. You can optionally play one per round alongside your chosen @Resources.DeckCard
            </h6>
            <div class="grid-container grid-container--fit">
                @foreach (Enhancer enhancer in Model.Enhancers)
                {
                    <div class="grid-container-no-padding grid-element text-center clickable grow enhancer @(ServicesLocator.GetService<IRelicsRepository>().HasEarned(enhancer.Tier, Model.UserSettings.MatchLevel) ? "" : "lose-red-border")" onclick="enhancerSelected(this);" id="@enhancer.SelectionId">
                        <div>
                            <img class="item-dimensions" src="@Helper.GetImageUrl(enhancer.ImageUrl)" alt="@enhancer.Description" title="@enhancer.Description">
                            <div>
                                <h5>@enhancer.Name</h5>
                                <p><i><small>@enhancer.Description</small></i></p>
                            </div>
                        </div>
                        <div>
                            @if  (enhancer.Tier > RelicId.None)
                            {
                                <div data-toggle="tooltip" data-placement="top" title="Needs the @enhancer.Tier Relic.">
                                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{enhancer.Tier}.png")" />
                                </div>
                            }
                            <div>
                                <small class="semi-bold @(enhancer.Uses == 1 ? "lose-red" : "")">@(enhancer.Uses > 0 ? $"{enhancer.Uses} Use{(enhancer.Uses != 1 ? "s" : "")} {(enhancer.TotalUses == enhancer.Uses ? "" : " Left")}" : "")</small>
                            </div>
                            @if (enhancer.Uses == 1)
                            {
                                <div>
                                    <small>Recharge: <b class="@(Model.User.Points >= enhancer.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(enhancer.Points)</b></small>
                                </div>
                                <form class="small-padding-top" action="@Url.Action("Recharge", "Repair")" method="POST" onsubmit="stadiumRechargeUses(event, this, @(Model.User.Points >= enhancer.Points ? "true" : "false"));">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="selectionId" value="@enhancer.SelectionId" />
                                    <button class="btn btn-success btn-xs @(Model.User.Points >= enhancer.Points ? "" : "disabled")">Recharge Uses</button>
                                </form>
                            }
                        </div>
                    </div>
                }
                @if (Model.Enhancers.Count > 1)
                {
                    <div id="expand-enhancers" class="grow large-padding-top display-none">
                        <h2 class="primary-color expand-button clickable" onclick="enhancerSelected();"><span class="fas fa-plus-circle text-muted"></span></h2>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="alert alert-info margin-top no-margin-bottom">
                You don't have any Enhancers @(Model.IsCPUChallenge ? "that meet this challenge's criteria" : "to choose. You can buy new ones at the Plaza").
            </div>
        }
    </div>
    <div id="power-moves" class="padding-top" style="@(Model.MatchState.CardId == Guid.Empty ? "display: none;" : "")">
        <h5 class="no-margin-bottom">
            <span id="power-move-selected-dot" class="@(Model.MatchState.PowerMove == PowerMoveType.None ? "far fa-circle" : "fas fa-check-circle") win-green"></span>
            Power Moves (@Helper.FormatNumber(Model.PowerMoves.Count(x => !x.IsDisabled) - (Model.ShowTutorial ? 2 : 0)) Left)
        </h5>
        <h6 class="text-muted small-margin-top">
            You can optionally use one Power Move per round. When a Power Move is used, that specific one can't be used again for the rest of the match
        </h6>
        @if (Model.MatchState.PowerMove == PowerMoveType.None)
        {
            @if (Model.PowerMoves.Count > 0)
            {
                <div class="grid-container grid-container--fit">
                    @foreach (PowerMove powerMove in Model.PowerMoves)
                    {
                        if (Model.ShowTutorial && (powerMove.Type == PowerMoveType.SelfDestruct || powerMove.Type == PowerMoveType.DoubleDip))
                        {
                            continue;
                        }
                        <div class="grid-container-no-padding grid-element text-center power-move @(powerMove.IsDisabled ? "faded" : "clickable grow")" onclick="@(powerMove.IsDisabled ? "" : "powerMoveSelected(this);")" id="@powerMove.Type">
                            <div>
                                <img class="power-move-dimensions" src="@Helper.GetImageUrl(powerMove.ImageUrl)" alt="@powerMove.Description" title="@powerMove.Description">
                                <div>
                                    <h5>
                                        @if (powerMove.IsDisabled)
                                        {
                                            <span class="label label-gold">Level @(powerMove.MinCPULevel)</span>
                                        }
                                        else
                                        {
                                            <span>@powerMove.Name</span>
                                        }
                                    </h5>
                                    <p>
                                        <i><small>
                                            @if (powerMove.IsDisabled)
                                            {
                                                <span>Unlock @powerMove.Name when you defeat the Level @(powerMove.MinCPULevel) @(powerMove.MinCPULevel % 5 == 0 ? "Checkpoint CPU" : "CPU").</span>
                                            }
                                            else
                                            {
                                                <span>@powerMove.Description</span>
                                            }
                                        </small></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.PowerMoves.Count > 1)
                    {
                        <div id="expand-power-moves" class="grow large-padding-top display-none">
                            <h2 class="primary-color expand-button clickable" onclick="powerMoveSelected();"><span class="fas fa-plus-circle text-muted"></span></h2>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-info margin-top no-margin-bottom">
                    You don't have any more Power Moves to use for this round.
                </div>
            }
        }
        else
        {
            <div class="alert alert-info margin-bottom">
                Your opponent used a <b>Double Dip Power Move</b> and forced you to reuse your previous Power Move.
            </div>
            PowerMove chosenPowerMove = ServicesLocator.GetService<IPowerMovesRepository>().GetAllPowerMoves().Find(x => x.Type == Model.MatchState.PowerMove);
            if (chosenPowerMove != null)
            {
                <div class="grid-element text-center card-width powerMoveSelected">
                    <div>
                        <img class="power-move-dimensions" src="@Helper.GetImageUrl(chosenPowerMove.ImageUrl)" alt="@chosenPowerMove.Description" title="@chosenPowerMove.Description">
                        <div>
                            <h5>@chosenPowerMove.Name</h5>
                            <p><i><small>@chosenPowerMove.Description</small></i></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <form id="stadiumForm" action="@Url.Action("Duel", "Stadium")" method="POST" class="extra-large-padding-top" onsubmit="submitStadiumForm(event, this);">
        @Html.AntiForgeryToken()
        <input type="hidden" name="deckCardId" id="deckCardId" />
        <input type="hidden" name="enhancerId" id="enhancerId" />
        <input type="hidden" name="powerMoveId" id="powerMoveId" />
        <button type="submit" id="play-round-button" class="btn btn-primary @(Model.MatchState.CardId == Guid.Empty ? "disabled" : "")"><h5 class="small-margin-top small-margin-bottom"><i class="fas fa-play"></i> Play Round @(Model.MatchState.Position + 1)!</h5></button>
    </form>
    @if (Model.ShowTutorial)
    {
        @await Html.PartialAsync("_StadiumMatchSelectTutorialPartial", Model)
        @await Html.PartialAsync("_StadiumMatchSelectTwoTutorialPartial", Model)
        @await Html.PartialAsync("_StadiumMatchSelectThreeTutorialPartial", Model)
    }
    @if (Model.ShowRelicsTutorial)
    {
        @await Html.PartialAsync("_StadiumRelicsTutorialPartial", Model)
    }
    @if (Model.ShowStadiumTipTutorial)
    {
        @await Html.PartialAsync("_StadiumTipTutorialPartial", Model)
    }
    @if (Model.ShowEnhancerLimitedUsesTutorial)
    {
        @await Html.PartialAsync("_StadiumEnhancerLimitedUsesTutorialPartial", Model)
    }
    @if (Model.ShowCheckpointTutorial)
    {
        @await Html.PartialAsync("_StadiumCheckpointTutorialPartial", Model)
    }
    @if (Model.ShowSuddenDeathTutorial)
    {
        @await Html.PartialAsync("_StadiumSuddenDeathTutorialPartial", Model)
    }
</div>
@if (Model.ShowStadiumMatchIntro)
{
    <div id="stadium-match-intro">
        <div id="match-type" style="display: none;" class="padding-top">
            <h4 class="no-margin-bottom">
                <b>@Html.Raw(Model.IsCPU ? Model.IsCPUChallenge ? "Challenge" : Model.IsSpecialCPU ? "Special" : Model.CPU.IsCheckpoint ? "<span class='glyphicon glyphicon-exclamation-sign orange-color'></span> Checkpoint CPU" : $"Level {Model.CPU.Level + 1} CPU" : Model.Points == 0 ? Model.MatchState?.TourneyMatchId != Guid.Empty ? "Tourney" : "Friendly" : (Model.IsElite ?  "<span class='label label-elite'>Elite Zone</span>" : "User")) Match</b>
                @if (Model.IsCPU && !(Model.IsCPUChallenge || Model.IsSpecialCPU) && Model.CPU.IsCheckpoint && Model.NextRelic != null)
                {
                    <span class="pull-right behind-margin-top fade-in" data-toggle="tooltip" data-placement="top" title="@Model.NextRelic.Name Relic">
                        <img src="@Helper.GetImageUrl(Model.NextRelic.ImageUrl)" width="30" height="30" class="shadow"/>
                    </span>
                }
            </h4>
        </div>
        <hr class="margin-top" />
        <div class="row text-center large-padding-top">
            <div id="user-circle" class="col-xs-5 display-none animated tada" >
                @if (string.IsNullOrEmpty(Model.User.DisplayPicUrl))
                {
                    <div class="big-circle" id="colored-by-username-@Model.User.Username" data-user-color="@Model.User.Color" value="@Model.User.Username">
                        @Model.User.Username.Substring(0, 1).ToUpper()
                    </div>
                }
                else
                {
                    <img class="img-circle display-image display-image-large" src="@Model.User.DisplayPicUrl" />
                }
                <h5>
                    <b>@Model.User.Username</b>
                </h5>
            </div>
            <div id="versus-label" class="col-xs-2 display-none">
                <h4 class="text-muted behind-margin-left large-padding-top shadow visible-xs very-very-large-font"><b>Vs.</b></h4>
                <h2 class="text-muted shadow hidden-xs very-large-font"><b>Vs.</b></h2>
            </div>
            <div id="opponent-circle" class="col-xs-5 display-none animated tada">
                @if (string.IsNullOrEmpty(Model.OpponentDisplayPicUrl))
                {
                    <div class="big-circle" id="colored-by-username-@Model.OpponentName" data-user-color="@Model.OpponentColor" value="@Model.OpponentName">
                        @Model.OpponentName.Substring(0, 1).ToUpper()
                    </div>
                }
                else
                {
                    <img class="img-circle display-image display-image-large" src="@Model.OpponentDisplayPicUrl" />
                }
                <h5>
                    <b>
                        @Model.OpponentName
                        @if (Model.IsCPU && !Model.IsCPUChallenge && !Model.IsSpecialCPU && Model.CPU.IsCheckpoint)
                        {
                            <span class="glyphicon glyphicon-exclamation-sign orange-color" data-toggle="tooltip" data-placement="top" title="Checkpoint CPU"></span>
                        }
                    </b>
                </h5>
            </div>
        </div>
    </div>
}