﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Checkpoint Cleared</h4>
            </div>
            <div class="modal-body text-center">
                <img class="large-padding-bottom animated fadeInUp" src="@Helper.GetImageUrl(Model.Relic.ImageUrl)" width="85" height="100">
                <div class="small-padding-top"></div>
                <div class="primary-container">
                    <h5>
                        You defeated your first Checkpoint CPU and earned the <b>@Model.Relic.Name Relic</b>! You also unlocked:
                    </h5>
                    <h5 class="animated fadeInUp">
                        <span class="fas fa-flag win-green"></span> @Model.PowerMoves.Find(x => x.MinCPULevel == Model.CPU.Level).Name Power Move (make sure to set it from your <a href="/Items?showPowerMoves=true#@Model.PowerMoves.Find(x => x.MinCPULevel == Model.CPU.Level).Type">bag</a>)
                    </h5>
                    <h5 class="animated fadeInUp">
                        <span class="fas fa-flag primary-color"></span> Access to the <a href="/ChallengerDome">Challenger Dome</a>!
                    </h5>
                    <h5 class="animated fadeInUp">
                        <span class="fas fa-flag gold-color"></span> Use Training Tokens to get new Power Moves and upgrades at the <a href="/TrainingCenter">Training Center</a>!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <a class="btn btn-block btn-success" href="/TrainingCenter/Plateau?expand=true#relic-perks"><h5 class="small-margin-top small-margin-bottom">See New Perks!</h5></a>
                </div>
                <div class="small-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>