﻿@model StadiumViewModel

@if (Model.FinalStatus == MatchStatus.Won && Model.UserSettings.ShowStadiumFireworksAnimation)
{
    <div class="container container-pyro">
        <div class="pyro">
            <div class="before"></div>
            <div class="after"></div>
        </div>
    </div>
}
<h4>
    Match Results
</h4>
<div class="row">
    <div class="col-xs-6 text-center text-muted">
        <h5 class="@(Model.FinalStatus == MatchStatus.Won ? "animated tada" : "") slightly-larger-medium-font small-margin-bottom">
            @if (string.IsNullOrEmpty(Model.User.DisplayPicUrl))
            {
                <span class="circle extra-small-circle inline-block" id="colored-by-username-@Model.User.Username" data-user-color="@Model.User.Color" value="@Model.User.Username">
                    @Model.User.Username.Substring(0, 1).ToUpper()
                </span>
            }
            else
            {
                <img class="img-circle display-image display-image-small" style="padding: 1px !important;" src="@Model.User.DisplayPicUrl" />
            }
            <b><a href="/Profile">@Model.User.Username</a></b>
        </h5>
    </div>
    <div class="col-xs-6 text-center text-muted">
        <h5 class="@(Model.FinalStatus == MatchStatus.Lost ? "animated tada" : "") slightly-larger-medium-font small-margin-bottom">
            <b>
                @if (string.IsNullOrEmpty(Model.OpponentDisplayPicUrl))
                {
                    <span class="circle extra-small-circle inline-block" id="colored-by-username-@Model.OpponentName" data-user-color="@Model.OpponentColor" value="@Model.OpponentName">
                        @Model.OpponentName.Substring(0, 1).ToUpper()
                    </span>
                }
                else
                {
                    <img class="img-circle display-image display-image-small" style="padding: 1px !important;" src="@Model.OpponentDisplayPicUrl" />
                }
                @Html.Raw(Model.IsCPU ? Model.OpponentName : $"<a href='/User/{Model.OpponentName}'>{Model.OpponentName}</a>")
                @if (Model.IsCPU && !(Model.IsCPUChallenge || Model.IsSpecialCPU) && (Model.CPU.Level + (Model.FinalStatus == MatchStatus.Won ? 0 : 1)) % 5 == 0 && (Model.CPU.Level > 1 || Model.CPU.Intensity > 0))
                {
                    <span class="glyphicon glyphicon-exclamation-sign orange-color" data-toggle="tooltip" data-placement="top" title="Checkpoint CPU"></span>
                }
            </b>
        </h5>
    </div>
    <div class="col-xs-6 text-center @(Model.FinalStatus == MatchStatus.Won ? "win-green-animated-500ms" : "lose-red-animated-500ms")">
        <h2 class="no-margin-top small-padding-top @(Model.FinalStatus == MatchStatus.Won ? "animated tada" : "") small-margin-bottom">
            <b class="number-counter" data-count="@Model.Results.FindAll(x => x == MatchStatus.Won).Count">
                0
            </b>
        </h2>
    </div>
    <div class="col-xs-6 text-center @(Model.FinalStatus == MatchStatus.Lost ? "win-green-animated-500ms" : "lose-red-animated-500ms")">
        <h2 class="no-margin-top small-padding-top @(Model.FinalStatus == MatchStatus.Lost ? "animated tada" : "") small-margin-bottom">
            <b class="number-counter" data-count="@Model.Results.FindAll(x => x == MatchStatus.Lost).Count">
                0
            </b>
        </h2>
    </div>
</div>
<p class="small-padding-top hidden-xs"></p>
<p class="visible-xs"></p>
<div class="alert alert-@(Model.FinalStatus == MatchStatus.Won ? "success alert-success-coloring-gradient" : "danger alert-danger-coloring-gradient") text-center margin-bottom medium-thick-border animated fadeInUp">
    @if (Model.FinalStatus == MatchStatus.Won)
    {
        @if (Model.IsSpecialCPU && Model.OpponentName.Contains("Floor"))
        {
            <h5 class="slightly-larger-medium-font">
                <span class="fas fa-check-circle"></span>
                Congratulations! You <b>won</b> the match and climbed past <b>Floor @Helper.FormatNumber(Model.UserSettings.TowerFloorLevel)</b>!
            </h5>
        }
        else if (Model.TourneyMatch != null)
        {
            if (Model.TourneyMatch.HasMoreMatches())
            {
                <h5 class="slightly-larger-medium-font">
                    <span class="fas fa-check-circle"></span>
                    Congratulations! You <b>won</b> Match #@(Model.TourneyMatch.Wins + Model.TourneyMatch.Losses) against <a class="alert-link" href="/User/@Model.OpponentName">@Model.OpponentName</a> in the <b>@Model.Tourney.Name</b> tourney!
                </h5>
            }
            else if (Model.Tourney.GetWinner() == Model.User.Username)
            {
                <h5 class="slightly-larger-medium-font">
                    <span class="fas fa-trophy gold-color"></span> Congratulations! You <b>won</b> the <b>@Model.Tourney.Name</b> tourney! You are the Tourney Champion!
                </h5>
            }
            else
            {
                <h5 class="slightly-larger-medium-font">
                    <span class="fas fa-check-circle"></span>
                    Congratulations! You <b>won</b> the match against <a class="alert-link" href="/User/@Model.OpponentName">@Model.OpponentName</a> and moved on to the next round in the <b>@Model.Tourney.Name</b> tourney!
                </h5>
            }
        }
        else
        {
            <h5 class="slightly-larger-medium-font">
                <span class="fas fa-check-circle"></span>
                Congratulations! You <b>won</b> the match against <b>@Model.OpponentName</b>!
            </h5>
        }
    }
    else
    {
        @if (Model.IsCPUChallenge)
        {
            <h5 class="slightly-larger-medium-font">
                <span class="fas fa-times-circle"></span>
                You <b>lost</b> the Stadium Challenge and didn't earn the <b>@Helper.GetFormattedPoints(Model.Points)</b> reward. Better luck next time!
            </h5>
        }
        else if (Model.IsSpecialCPU)
        {
            @if (Model.OpponentName.Contains("Floor"))
            {
                <h5 class="slightly-larger-medium-font">
                    <span class="fas fa-times-circle"></span>
                    You <b>lost</b> the match and got sent back to the <b>bottom floor</b>!
                </h5>
            }
            else
            {
                <h5 class="slightly-larger-medium-font">
                    <span class="fas fa-times-circle"></span>
                    You <b>lost</b> the match against <b>@Model.OpponentName</b>. Better luck next time!
                </h5>
            }
        }
        else if (Model.IsCPU)
        {
            <h5 class="slightly-larger-medium-font">
                <span class="fas fa-times-circle"></span>
                @if (Model.Results.FindAll(x => x == MatchStatus.Won).Count > 0)
                {
                    <span>@(Model.Results.FindAll(x => x == MatchStatus.Won).Count > 1 ? "That was really close!" : "That was close!")</span>
                }
                You <b>lost</b> the match against the @(Model.CPU.IsCheckpoint ? " Checkpoint CPU" : " CPU") <b>@Model.OpponentName</b>!
            </h5>
        }
        else
        {
            if (Model.Points > 0)
            {
                <h5 class="slightly-larger-medium-font">
                    <span class="fas fa-times-circle"></span>
                    You <b>lost</b> the match against <a class="alert-link" href="/User/@Model.OpponentName">@Model.OpponentName</a> (and <b>@Helper.GetFormattedPoints(Model.Points)</b>)!
                </h5>
            }
            else if (Model.TourneyMatch != null)
            {
                if (Model.TourneyMatch.HasMoreMatches())
                {
                    <h5 class="slightly-larger-medium-font">
                        <span class="fas fa-times-circle"></span>
                        You <b>lost</b> Match #@(Model.TourneyMatch.Wins + Model.TourneyMatch.Losses) against <a class="alert-link" href="/User/@Model.OpponentName">@Model.OpponentName</a> in the <b>@Model.Tourney.Name</b> tourney. Time for the next match!
                    </h5>
                }
                else
                {
                    <h5 class="slightly-larger-medium-font">
                       <span class="fas fa-times-circle"></span>
                        You <b>lost</b> the match against <a class="alert-link" href="/User/@Model.OpponentName">@Model.OpponentName</a> and were eliminated from the <b>@Model.Tourney.Name</b> tourney!
                    </h5>
                }
            }
            else
            {
                <h5 class="slightly-larger-medium-font">
                    <span class="fas fa-times-circle"></span>
                    You <b>lost</b> the friendly match against <a class="alert-link" href="/User/@Model.OpponentName">@Model.OpponentName</a>!
                </h5>
            }
        }
    }
</div>
<h6 class="small-margin-top fade-in-small-delay">
    Round Results:
    @for (int i = 0; i < Model.Results.Count; i++)
    {
        if (Model.Results[i] == MatchStatus.Won)
        {
            <span class="fas fa-check-circle win-green"></span>
        }
        else if (Model.Results[i] == MatchStatus.Lost)
        {
            <span class="fas fa-times-circle lose-red"></span>
        }
        else if (Model.Results[i] == MatchStatus.Draw)
        {
            <span class="fas fa-minus-circle primary-color"></span>
        }
    }
</h6>
<div class="extra-small-padding-top"></div>
@if (Model.IsCPU && !Model.IsCPUChallenge && !Model.IsSpecialCPU)
{
    if (Model.UserSettings.MatchLevel > 0 && Model.UserSettings.MatchLevel % Model.TotalCPUs == 0 && Model.FinalStatus == MatchStatus.Won)
    {
        <div class="alert alert-info alert-elite-zone-coloring stadium-message margin-bottom">
            <h4 class="alert-heading small-padding-top"><span class="fas fa-trophy"></span> CPU Challengers Defeated!</h4>
            <h5 class="extra-small-padding-top">
                Congratulations! You defeated all the CPU Challengers!
                @if (Model.CanChallengeCPU)
                {
                    <span>You can rematch all of them at <b>Intensity @Helper.FormatNumber(Model.CPU.Intensity + 1)</b>. You'll get <b>@Helper.FormatNumber((int)Math.Round(2 + (Model.CPU.Intensity * 0.5)))x</b> the reward but they'll be stronger!</span>
                }
                else
                {
                    <span>After you defeat the <b>Right-Side Up Guard</b>, you'll be able to rematch all of the CPU Challengers at <b>Intensity 2</b> to earn <b>2x</b> the reward!</span>
                }
            </h5>
        </div>
    }
    else
    {
        @if (Model.FinalStatus == MatchStatus.Won)
        {
            <div id="level-up">
                <div class="win-green-container text-center small-thick-border">
                    <h4 class="margin-bottom animated tada"><b class="win-green big-font">Level Up!</b></h4>
                    <div class="big-circle @(Model.CPU.IsCheckpoint ? "orange-color-background" : "win-green-gradient-background") small-margin-left animated tada">
                        <div class="small-padding-top"></div>
                        <h5 class="small-margin-bottom">Level</h5>
                        <h3 class="small-margin-top"><span class="global-level-counter" data-count="@(Model.CPU.Level + 1)">1</span></h3>
                        <div class="small-padding-top"></div>
                    </div>
                    <div class="small-padding-top"></div>
                    @{ double cpuChallengerProgress = Math.Round((double)Model.CPU.Level / Model.TotalCPUs * 100, 1); }
                    <h5 class="bold padding-top">CPU Challenger Progress (@(Model.CPU.Level)/@Model.TotalCPUs)</h5>
                    <div class="relative">
                        @for (int i = Model.CPU.Level / 5 + 1; i <= Model.TotalCPUs / 5; i++)
                        {
                            <div class="progress-bar-checkpoint" style="left: calc(@(i * 100 / ((double)Model.TotalCPUs / 5))% - 12px);" data-toggle="tooltip" data-placement="top" title="Checkpoint CPU (Level @(i * 5))"><b class="white-color">!</b></div>
                        }
                        <div class="progress border-gray-background-color small-margin-bottom @(cpuChallengerProgress == 0 ? "progress-bar-striped" : "")">
                            <div class="progress-bar win-green-background progress-bar-striped active" aria-valuemin="0" aria-valuemax="100"  aria-valuenow="@cpuChallengerProgress">
                                <b class="progress-bar-text" style="@(cpuChallengerProgress < 10 ? "position: absolute;" : "")">@cpuChallengerProgress%</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="large-padding-top"></div>
            </div>
        }
    }
}
@if (Model.UserSettings.CurrentIntroStage == IntroStage.Fourth)
{
    <div class="panel panel-success small-thick-border stadium-message margin-bottom">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-4 text-center vcenter">
                    <div class="big-circle win-green-gradient-background">
                        <h3 class="no-margin-bottom"><span class="glyphicon glyphicon-ok"></span></h3>
                        <h5 class="no-margin-top">1st @(Model.FinalStatus == MatchStatus.Won ? "Win" : "Try")</h5>
                        <div class="padding-top"></div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                    <h5 class="inline">
                        @if (Model.FinalStatus == MatchStatus.Won)
                        {
                            <span>Awesome! You <b class="win-green">won</b> your first Stadium match and learned the basics!</span>
                        }
                        else
                        {
                            <span>Too bad! You <b class="lose-red">lost</b> the Stadium match but learned the basics!</span>
                        }
                        Now collect some <b class="win-green">@Resources.CurrencyFull</b>!
                    </h5>
                    <div class="hidden-xs small-padding-top"></div>
                    <div class="small-padding-top">
                        <a href="/Intro" type="submit" class="btn btn-success">
                        <h5 class="small-margin-top small-margin-bottom">
                            <span class="fas fa-check-circle"></span>
                            Finish the Tutorial!
                        </h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Points > 0 && Model.FinalStatus == MatchStatus.Won || (Model.Tourney != null && Model.Tourney.EntranceCost > 0 && Model.Tourney.GetStatus() == TourneyStatus.Completed))
{
    <div class="panel panel-success small-thick-border stadium-message margin-bottom">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-4 text-center vcenter">
                    <img src="@Helper.GetImageUrl("Locations/Lotto.png")" width="80" height="85">
                </div>
                <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                    @if (Model.Tourney != null)
                    {
                        <h5>
                            Nice job! You earned <b class="win-green">@Helper.GetFormattedPoints(Model.Tourney.EntranceCost * Model.Tourney.RequiredParticipants * (Model.FinalStatus == MatchStatus.Won ? 0.8 : 0.2))</b> for @(Model.FinalStatus == MatchStatus.Won ? "winning" : "placing second in") the <b>@Model.Tourney.Name</b> tourney!
                        </h5>
                    }
                    else
                    {
                        <h5>
                            Nice job! You earned <b class="win-green">@Helper.GetFormattedPoints(Model.Points)</b> for winning the match!
                        </h5>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (Model.IsCPU && !Model.IsCPUChallenge && !Model.IsSpecialCPU)
{
    @if (Model.UserSettings.MatchLevel > 0 && Model.UserSettings.MatchLevel % 5 == 0 && Model.FinalStatus == MatchStatus.Won)
    {
        <div class="panel panel-success small-thick-border stadium-message margin-bottom">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-4 text-center vcenter">
                        <div class="big-circle win-green-gradient-background">
                            <h3 class="no-margin-bottom"><span class="glyphicon glyphicon-ok"></span></h3>
                            <h5 class="no-margin-top">Cleared</h5>
                            <div class="padding-top"></div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                        <h5>
                            Awesome! You defeated the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Level @(Model.CPU.Level == 0 ? Model.TotalCPUs : Model.CPU.Level) Checkpoint CPU</b> and earned a bonus <b class="win-green">@Helper.GetFormattedPoints(Math.Min(50000, Model.UserSettings.MatchLevel * 1000))</b> reward!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.UserSettings.MatchLevel <= Model.TotalCPUs)
                    {
            <div class="panel panel-success small-thick-border stadium-message margin-bottom">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4 text-center vcenter">
                            <img src="@Helper.GetImageUrl(Model.Relic.ImageUrl)" width="80" height="80">
                        </div>
                        <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                            <h5>
                                Congratulations! You earned the <b class="win-green">@Model.Relic.Name Relic</b>!
                            </h5>
                            @if (Model.Relic.Level == Model.TotalCPUs)
                    {
                                <h5>You've earned all <b>7 Relics</b>! You can now access the <a href="/TrainingCenter/Plateau">Ancient Plateau</a>!</h5>
                            }
                            else
                            {
                                <h5>Earn all 7 Relics by defeating the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Checkpoint CPUs</b> and gain access to the <a href="/TrainingCenter/Plateau">Ancient Plateau</a>!</h5>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @if (Model.FinalStatus == MatchStatus.Won)
    {
        PowerMove unlockedPowerMove = Model.PowerMoves.Find(x => x.MinCPULevel == Model.CPU.Level);
        if (unlockedPowerMove != null && Model.CPU.Intensity == 0)
        {
           <div class="panel panel-success stadium-message margin-bottom">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4 text-center vcenter">
                            <img src="@Helper.GetImageUrl(unlockedPowerMove.ImageUrl)" width="80" height="80">
                        </div>
                        <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                            <h5>
                                Awesome! You unlocked the <b>@unlockedPowerMove.Name Power Move</b>! You can activate it from your <a href="/Items?showPowerMoves=true#@unlockedPowerMove.Type">bag</a>!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    @if (Model.CPUWinStreak > 1)
                    {
        <div class="panel panel-success small-thick-border stadium-message margin-bottom">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-4 text-center vcenter">
                        <div class="big-circle win-green-gradient-background">
                            <h3 class="no-margin-bottom"><span data-count="@Model.CPUWinStreak" data-start-count="1" class="global-ranking-counter">1</span>x</h3>
                            <h5 class="no-margin-top">Streak</h5>
                            <div class="padding-top"></div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                        <h5>
                            You won <b>@Helper.FormatNumber(Model.CPUWinStreak) CPU Challenger</b> matches in a row without a rematch! You earned a bonus <b class="win-green">@(Helper.GetFormattedPoints(Math.Min(100000, Math.Round(Model.Points * ((double)(Model.CPUWinStreak - 1) / 10)))))</b>!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (Model.FinalStatus == MatchStatus.Lost)
    {
        if (Model.CPUMatchCount >= 2)
        {
            <div class="panel panel-danger small-thick-border stadium-message margin-bottom">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4 text-center vcenter">
                            <div class="big-circle lose-red-gradient-background">
                                <h3 class="no-margin-bottom"><span class="glyphicon glyphicon-remove"></span></h3>
                                <h5 class="no-margin-top">Stuck</h5>
                                <div class="padding-top"></div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                            <h5>
                                Struggling to beat <b>@Model.CPU.Name</b>? Check out the <b><a href="#" onclick="$('#modal-suggestions-zone').modal();">Stadium Suggestions</a></b> and learn about ways to win at the Stadium!
                            </h5>
                            @{
                                int skipCost = (Model.CPU.Level + 1) * 500 * (Model.CPU.Intensity + 1);
                                bool canSkip = !Model.CPU.IsCheckpoint && (Model.CPU.Level + 2) % 5 != 0 && Model.CPU.Level != 1 && Model.CPU.Level != 7;
                            }
                            <form action="@Url.Action("EndMatch", "Stadium")" method="POST" onsubmit="skipStadiumCPU(event, this, '@Model.CPU.Name.Replace("'", "%27")', '@(Model.CPU.Level + 2)', '@Helper.GetFormattedPoints(skipCost)');">
                                <input type="hidden" name="rematch" value="true" />
                                <input type="hidden" name="skipCPU" value="true" />
                                @Html.AntiForgeryToken()
                                <button id="skip-button" type="submit" class="btn btn-success @(skipCost > Model.User.Points || !canSkip ? "disabled" : "")"><span class="fas fa-fast-forward"></span> <b>Skip CPU <span class="hidden-xxs">@(canSkip ? $"({Helper.GetFormattedPoints(skipCost)})" : "")</span></b></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("_StadiumSuggestions", Model)
        }
        @if (Model.UserSettings.TrainingTokens > 0)
        {
            <div class="panel panel-success small-thick-border stadium-message margin-bottom">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-4 text-center vcenter">
                            <img src="@Helper.GetImageUrl("Stadium/TrainingToken.png")" width="80" height="80">
                        </div>
                        <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                            <h5>
                                Looking to improve your Deck?
                                Use your <b>@Helper.FormatNumber(Model.UserSettings.TrainingTokens) Training Token@(Model.UserSettings.TrainingTokens == 1 ? "" : "s")</b> at the <a href="/TrainingCenter">Training Center</a> to upgrade your @Resources.DeckCards!
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        }
        if (Model.LossEnhancer != null)
        {
            @await Html.PartialAsync("_StadiumMatchLostTutorialPartial", Model)
        }
    }
}
else if (Model.IsSpecialCPU && Model.FinalStatus == MatchStatus.Won)
{
    PowerMoveType unlockedPowerMoveType = PowerMoveType.None;
    @if (Model.OpponentName == SpecialOpponents.Guard.GetDisplayName())
    {
        unlockedPowerMoveType = PowerMoveType.BigShot;
    }
    PowerMove unlockedPowerMove = Model.PowerMoves.Find(x => x.Type == unlockedPowerMoveType);
    if (unlockedPowerMove != null)
    {
        <div class="panel panel-success small-thick-border stadium-message margin-bottom">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-4 text-center vcenter">
                        <img src="@Helper.GetImageUrl(unlockedPowerMove.ImageUrl)" width="80" height="80">
                    </div>
                    <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                        <h5>
                            Awesome! You unlocked the <b>@unlockedPowerMove.Name Power Move</b>! You can activate it from your <a href="/Items?showPowerMoves=true#@unlockedPowerMove.Type">bag</a>!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
}
else if (!Model.IsCPU && Model.Points > 0 && Model.FinalStatus == MatchStatus.Won && Model.UserWinStreak > 1)
{
    <div class="panel panel-success small-thick-border stadium-message margin-bottom">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-4 text-center vcenter">
                    <div class="big-circle win-green-gradient-background">
                        <h3 class="no-margin-bottom"><span data-count="@Model.UserWinStreak" data-start-count="1" class="global-ranking-counter">1</span>x</h3>
                        <h5 class="no-margin-top">Streak</h5>
                        <div class="padding-top"></div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                    <h5>
                        You won <b>@Helper.FormatNumber(Model.UserWinStreak) User</b> matches in a row without a rematch! You earned a bonus <b class="win-green">@(Helper.GetFormattedPoints(Math.Min(100000, Math.Round(Model.Points * ((double)(Model.UserWinStreak - 1) / 10)))))</b>!
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
@if (!Model.IsCPU && Model.FinalStatus == MatchStatus.Won && Model.MatchTags.Any(x => x.TagUsername == Model.OpponentName && x.FirstWinDate == Model.MatchHistories.First().CreatedDate))
{
    <div class="panel panel-success small-thick-border stadium-message margin-bottom">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-4 text-center vcenter">
                    <div class="big-circle" id="colored-by-username-@Model.OpponentName" value="@Model.OpponentName" data-user-color="@Model.OpponentColor">
                        @Model.OpponentName.Substring(0, 1).ToUpper()
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                    <h5>
                        You defeated <a href="/User/@Model.OpponentName">@Model.OpponentName</a> for the first time and earned their <a href="/Profile#matchtag-@Model.OpponentName">Match Tag</a>!
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.FinalStatus == MatchStatus.Won && Model.UserSettings.StadiumRewardLuckBonus > 0 && Model.Points > 0)
{
    <div class="panel panel-success small-thick-border stadium-message margin-bottom">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-4 text-center vcenter">
                    <div class="big-circle win-green-gradient-background">
                        <h3 class="no-margin-bottom">@(Model.UserSettings.StadiumRewardLuckBonus)x</h3>
                        <h5 class="no-margin-top">Bonus</h5>
                        <div class="padding-top"></div>
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                    <h5>
                        You used a <b>Lucky Clover Enhancer</b> and earned a bonus <b class="win-green">@(Helper.GetFormattedPoints(Math.Round(Model.Points * (Model.UserSettings.StadiumRewardLuckBonus - 1))))</b>!
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
@{
    int tokens = 2;
    if (Model.IsCPU)
    {
        if (Model.IsCPUChallenge || Model.IsSpecialCPU)
        {
            if (Model.OpponentName.Contains("Floor"))
            {
                if (Model.UserSettings.TowerFloorLevel <= 2)
                {
                    tokens = 0;
                }
                else if (Model.UserSettings.TowerFloorLevel <= 9)
                {
                    tokens = 1;
                }
                else
                {
                    tokens = 2;
                }
            }
            else if (Model.OpponentName == SpecialOpponents.ChallengerDome.GetDisplayName())
            {
                tokens = 0;
            }
        }
        else
        {
            tokens = (Model.UserSettings.MatchLevel - 1) % 35 / 5 + 1;
        }
    }
    else if (Model.IsElite)
    {
        tokens = 5;
    }
}
@if (Model.FinalStatus == MatchStatus.Won && Model.Points > 0 && tokens > 0)
{
    <div class="panel panel-success small-thick-border stadium-message margin-bottom">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-xs-4 text-center vcenter">
                    <img src="@Helper.GetImageUrl("Stadium/TrainingToken.png")" width="80" height="80">
                </div>
                <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                    <h5>
                        You earned <b class="win-green">@Helper.FormatNumber(tokens) Training Token@(tokens == 1 ? "" : "s")</b>!
                        Use @(tokens == 1 ? "it" : "them") at the <a href="/TrainingCenter">Training Center</a> to upgrade your @Resources.DeckCards!
                    </h5>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.UserSettings.MatchLevel > 1 && Model.User.AdFreeExpiryDate <= DateTime.UtcNow && Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Development" && ServicesLocator.GetService<IAdminSettingsRepository>().GetSettings().EnableAds)
{
    <div class="ad-feed stadium-message margin-bottom">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-h7+2d+3f-54+e"
            data-ad-client="ca-pub-9811434783745638"
            data-ad-slot="6313697800"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="enable-ad display-none feed-container margin-bottom">
        <h4><span class="fas fa-ban lose-red"></span> Disable Your Ad Blocker</h4>
        <div class="padding-bottom">
            You have an ad blocker <b class="lose-red">enabled</b>. Please disable it for @Resources.SiteName as only <b>one developer</b> runs @Resources.SiteName and needs ads to pay for its hosting fees.
            You can pay to remove ads and help keep @Resources.SiteName running from the <a href="/SponsorSociety">Sponsor Society</a>. Thank you for your support!
        </div>
    </div>
}
@if (Model.IsCPU && !Model.IsCPUChallenge && !Model.IsSpecialCPU && Model.UserSettings.CurrentIntroStage == IntroStage.Completed)
{
    @if (Model.NextRelic != null && (Model.UserSettings.MatchLevel % 5 == 3 || Model.UserSettings.MatchLevel % 5 == 4) && Model.FinalStatus == MatchStatus.Won)
    {
        <div class="panel panel-success small-thick-border stadium-message gray-border margin-bottom">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-4 text-center vcenter">
                        <img src="@Helper.GetImageUrl(Model.NextRelic.ImageUrl)" class="faded" width="80" height="80">
                    </div>
                    <div class="col-sm-8 col-xs-7 vcenter text-center-mobile">
                        @{ int winsAway = 5 - Model.UserSettings.MatchLevel % 5; }
                        <h5>
                            You're close!
                            @if  (winsAway == 1)
                            {
                                <span>You only need to defeat the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Checkpoint CPU @Model.CPU.Name</b></span>
                            }
                            else
                            {
                                <span>You only need to defeat <b>@Model.CPU.Name</b> and the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Level @Model.NextRelic.Level Checkpoint CPU</b></span>
                            }
                            to get the <b>@Model.NextRelic.Name Relic</b>!
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row stadium-message padding-top">
        <div class="col-xs-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading"><h5 class="no-margin-top no-margin-bottom">@(Model.FinalStatus == MatchStatus.Won ? "Next " : "")<span class="@(Model.CPU.IsCheckpoint ? "hidden-xs" : "")">Challenger</span> Level @Html.Raw(Model.CPU.IsCheckpoint ? "<span class='glyphicon glyphicon-exclamation-sign orange-color' data-toggle='tooltip' data-placement='top' title='Checkpoint CPU'></span>" : "")</h5></div>
                <div class="panel-body">
                    <h1 class="no-margin-top no-margin-bottom @(Model.FinalStatus == MatchStatus.Won ? "win-green" : "lose-red")">@Helper.FormatNumber(Model.CPU.Level + 1)</h1>
                    @if (Model.CPU.Intensity > 0)
                    {
                        <div class="label label-success" data-toggle="tooltip" data-placement="top" title="CPU Challengers are stronger but offer greater rewards.">Intensity @Helper.FormatNumber(Model.CPU.Intensity + 1)</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading"><h5 class="no-margin-top no-margin-bottom">Challenger Tries</h5></div>
                <div class="panel-body">
                    <h1 class="no-margin-top no-margin-bottom">@Helper.FormatNumberShortened(Math.Max(0, Model.CPUMatchCount))</h1>
                </div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
}
else if (!Model.IsCPU && Model.Points > 0)
{
    <div class="row stadium-message padding-top">
        <div class="col-xs-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h5 class="no-margin-top no-margin-bottom">
                        Global Ranking
                        <span class="glyphicon glyphicon-info-sign gray-color pull-right" data-toggle="tooltip" data-placement="top" title="Your Global Ranking is your ranking against other users and is always changing as other users win and lose matches."></span>
                    </h5>
                </div>
                <div class="panel-body">
                    @if (Model.MatchRanking.TotalMatches == 1)
                    {
                        <h1 class="no-margin-top no-margin-bottom">@Helper.FormatNumber(Model.MatchRanking.Rank)</h1>
                    }
                    else
                    {
                        <h1 data-count="@Model.MatchRanking.Rank" data-start-count="@Model.UserSettings.MatchStartGlobalRanking" class="global-ranking-counter no-margin-top no-margin-bottom @(Model.MatchRanking.Rank < Model.UserSettings.MatchStartGlobalRanking ? "win-green" : Model.UserSettings.MatchStartGlobalRanking < Model.MatchRanking.Rank ? "lose-red" : "")">0</h1>
                    }
                    @if (Model.IsElite)
                    {
                        <div class="label label-elite" data-toggle="tooltip" data-placement="top" title="You rank in the top 25% of users at the Stadium and will be matched with better opponents.">Elite Zone</div>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default text-center">
                <div class="panel-heading"><h5 class="no-margin-top no-margin-bottom">Global Percentile</h5></div>
                <div class="panel-body">
                    <h1 class="no-margin-top no-margin-bottom">@(Model.MatchRanking == null ? "N/A" : $"{Math.Round(100 - Model.MatchRanking.Percentile * 100, 1)}%")</h1>
                </div>
            </div>
            <div class="col-xs-4"></div>
        </div>
    </div>
}
@if (!Model.IsCPUChallenge && !Model.IsSpecialCPU && Model.UserSettings.CurrentIntroStage == IntroStage.Completed)
{
    <div class="fade-in-delay small-margin-top">
        <form action="@Url.Action("EndMatch", "Stadium")" method="POST" class="inline" onsubmit="submitStadiumForm(event, this);">
            @Html.AntiForgeryToken()
            <input type="hidden" name="rematch" value="true" />
            @if (Model.IsCPU)
            {
                @if (Model.FinalStatus == MatchStatus.Lost)
                {
                    <button type="submit" class="btn btn-success @(Model.CanChallengeCPU ? "" : "disabled")"><span class="fas fa-undo-alt"></span> <b>Retry Match</b></button>
                }
                else
                {
                    <div class="primary-container text-center">
                       <div class="col-sm-2 col-md-2 col-lg-1 col-xs-4 text-center vcenter">
                           @if (string.IsNullOrEmpty(Model.CPU.ImageUrl))
                           {
                                <div class="big-circle @(Model.CPU.IsCheckpoint ? "orange-color-background" : "win-green-gradient-background")">
                                    <div class="padding-top"></div>
                                    <h5 class="no-margin-bottom">Level</h5>
                                    <h3 class="no-margin-top padding-bottom">@(Model.CPU.Level + 1)</h3>
                                </div>
                           }
                           else
                           {
                            <img src="@Helper.GetImageUrl(Model.CPU.ImageUrl)" class="img-circle display-image display-image-large @(Model.CanChallengeCPU ? "" : "faded")">
                           }
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-10 col-xs-7 vcenter">
                            <h5 class="small-margin-left">
                                <span class="fas fa-arrow-alt-circle-up"></span>
                                Next Challenger:
                                <span class="extra-small-padding-top visible-xs"></span>
                                <b>@Model.CPU.Name @Html.Raw(Model.CPU.IsCheckpoint ? "<span class='glyphicon glyphicon-exclamation-sign orange-color' data-toggle='tooltip' data-placement='top' title='Checkpoint CPU'></span>" : "")</b>
                            </h5>
                            <h5 class="extra-small-padding-top small-margin-left">
                                <span class="fas fa-coins"></span>
                                Reward:
                                <span class="extra-small-padding-top visible-xs"></span>
                                <b class="win-green">
                                    @Helper.GetFormattedPoints(Model.CPU.Reward * (Model.UserSettings.HasDoubleStadiumCPUReward ? 2 : 1))
                                    @if (Model.CPU.IsCheckpoint)
                                    {
                                        <span>(+@Helper.GetFormattedPoints(Math.Min(50000, (Model.CPU.Level + 1) * 1000)) Checkpoint Bonus)</span>
                                    }
                                </b>
                            </h5>
                            @if (!string.IsNullOrEmpty(Model.CheckpointCPURequirement) && Model.CanChallengeCPU)
                            {
                                <h5 class="extra-small-padding-top small-margin-left">
                                    Checkpoint CPU Criteria:
                                    <span class="extra-small-padding-top visible-xs"></span>
                                    <b>
                                        <span data-toggle="tooltip" data-placement="top" title="You completed the criteria to challenge this Checkpoint CPU."><span class="fas fa-check-circle win-green"></span></span>
                                        @Model.CheckpointCPURequirement
                                    </b>
                                </h5>
                            }
                        </div>
                    </div>
                     <div class="large-padding-top"></div>
                     <button type="submit" class="btn btn-@(Model.CPU.IsCheckpoint ? "orange" : "success") @(Model.CanChallengeCPU ? "" : "disabled")"><span class="fas fa-play"></span> <b>Challenge @Model.CPU.Name</b></button>
                }
            }
            else if (Model.TourneyMatch != null)
            {
                if (Model.TourneyMatch.HasMoreMatches())
                {
                    <input type="hidden" id="tourneyId" name="tourneyId" value="@Model.Tourney.Id" />
                    <button type="submit" class="btn btn-success"><span class="fas fa-play"></span> <b>Play Match #@(Model.TourneyMatch.Wins + Model.TourneyMatch.Losses + 1)</b></button>
                }
                else
                {
                    <a class="btn btn-primary" href="/Tourney?id=@Model.Tourney.Id">Tourney Results</a>
                }
            }
            else
            {
                <button type="submit" class="btn btn-@(Model.IsElite ? "gold" : "success") @(Model.User.Points >= Helper.GetMinMatchPoints() * 11 ? "" : "disabled")"><span class="fas fa-play"></span>  <b>New @(Model.IsElite ? "Elite" : "User") Match (@Helper.GetFormattedPoints(Math.Min(Model.User.Points / (Model.IsElite ? 3 : 10), Model.IsElite ? 25000 : 10000)))</b></button>
            }
        </form>
        @if (Model.FinalStatus == MatchStatus.Won || !Model.IsCPU)
        {
            <div class="small-padding-top visible-xs"></div>
        }
        <form action="@Url.Action("EndMatch", "Stadium")" method="POST" class="inline" onsubmit="submitStadiumForm(event, this);">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-secondary">Change Match</button>
        </form>
    </div>
}
else if (Model.UserSettings.CurrentIntroStage == IntroStage.Completed)
{
    <div class="large-margin-top"></div>
    @if (Model.IsSpecialCPU)
    {
        if (Model.OpponentName == SpecialOpponents.ShowroomOwner.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/Profile/Showroom" class="btn btn-success fade-in-small-delay"><b>Visit Showroom!</b></a>
            }
            else
            {
                <form action="@Url.Action("ChallengeShowroomOwner", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success"><span class="fas fa-undo-alt"></span> <b>Retry Match?</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.Guard.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/RightSideUpWorld/Guard" class="btn btn-success fade-in-small-delay"><b>Visit Guard!</b></a>
            }
            else
            {
                <form action="@Url.Action("ChallengeGuard", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success @(Model.User.Points >= 500 ? "" : "disabled")"><span class="fas fa-undo-alt"></span> <b>Retry Match? (@Helper.GetFormattedPoints(500))</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.PhantomSpirit.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/PhantomDoor" class="btn btn-success fade-in-small-delay"><b>To the Phantom Door!</b></a>
            }
            else
            {
                <form action="@Url.Action("ChallengePhantomSpirit", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success"><span class="fas fa-undo-alt"></span> <b>Retry Match?</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.Evena.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/PhantomDoor" class="btn btn-success fade-in-small-delay"><b>To the Phantom Door!</b></a>
            }
            else
            {
                <form action="@Url.Action("ChallengeEvena", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success"><span class="fas fa-undo-alt"></span> <b>Retry Match?</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.Oddna.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/PhantomDoor" class="btn btn-success fade-in-small-delay"><b>To the Phantom Door!</b></a>
            }
            else
            {
                <form action="@Url.Action("ChallengeOddna", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success"><span class="fas fa-undo-alt"></span> <b>Retry Match?</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.PhantomBoss.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/PhantomDoor" class="btn btn-success fade-in-small-delay"><b>To the Phantom Door!</b></a>
            }
        }
        else if (Model.OpponentName == $"Mirror {Model.User.Username.First().ToString().ToUpper() + Model.User.Username.Substring(1)}")
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/BeyondWorld" class="btn btn-success fade-in-small-delay"><b>To the Beyond World!</b></a>
            }
            else
            {
                <form action="@Url.Action("ChallengeBeyondWorld", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success"><span class="fas fa-undo-alt"></span> <b>Retry Match?</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.Guardian.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                if (Model.UserSettings.SorceressGuardiansDefeated < 4)
                {
                    <form action="@Url.Action("ChallengeBeyondWorld", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-success"><span class="fas fa-play"></span> <b>Challenge Guardian #@(Model.UserSettings.SorceressGuardiansDefeated + 1)</b></button>
                    </form>
                }
                else
                {
                    <a href="/BeyondWorld" class="btn btn-success fade-in-small-delay"><b>To the Beyond World!</b></a>
                }
            }
            else
            {
                <form action="@Url.Action("ChallengeBeyondWorld", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success"><span class="fas fa-undo-alt"></span> <b>Retry Match?</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.BeyondCreature.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/BeyondWorld" class="btn btn-success fade-in-small-delay"><b>To the Beyond World!</b></a>
            }
            else
            {
                <form action="@Url.Action("ChallengeBeyondWorld", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success"><span class="fas fa-undo-alt"></span> <b>Retry Match?</b></button>
                </form>
            }
        }
        else if (Model.OpponentName == SpecialOpponents.Unknown.GetDisplayName())
        {
            if (Model.FinalStatus == MatchStatus.Won)
            {
                <a href="/Library/LibraryCards" class="btn btn-success fade-in-small-delay"><b>Visit Unknown!</b></a>
            }
        }
        else if (Model.OpponentName.Contains("Floor"))
        {
            <form action="@Url.Action("ChallengeTower", "Stadium")" method="POST" class="inline fade-in-small-delay" onsubmit="submitStadiumForm(event, this);">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success"><span class="fas fa-@(Model.FinalStatus == MatchStatus.Won ? "play" : "undo-alt")"></span> <b>@(Model.FinalStatus == MatchStatus.Won ? $"Climb to Floor {Helper.FormatNumber(Model.UserSettings.TowerFloorLevel + 1)}" : "Start Again")</b></button>
            </form>
        }
    }
    <form action="@Url.Action("EndMatch", "Stadium")" method="POST" class="fade-in-small-delay inline" onsubmit="submitStadiumForm(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Back to the Stadium</button>
    </form>
}
@if (Model.ShowEliteZoneTutorial)
{
    @await Html.PartialAsync("_StadiumEliteZoneTutorialPartial", Model)
}
@if (!Model.CanChallengeCPU)
{
    @await Html.PartialAsync("_StadiumCheckpointRequirementsPartial", Model)
}
@if (Model.ShowPowerMovesTutorial)
{
    @await Html.PartialAsync("_StadiumPowerMovesTutorialPartial", Model)
}
else if (Model.ShowRelicRequirementTutorial)
{
    @await Html.PartialAsync("../Tutorial/_RelicRequirementTutorial", Model)
}
else if (Model.ShowFirstCheckpointDefeatedTutorial)
{
    @await Html.PartialAsync("_StadiumCheckpointDefeatedTutorialPartial", Model)
}