﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stadium Tutorial (1/4)</h4>
            </div>
            <div class="modal-body text-center">
                <div class="grid-element center-block card-width">
                    <div>
                        <img class="item-dimensions animated bounceIn" src="@Helper.GetImageUrl(Model.Deck.Last().ImageUrl)" alt="@Model.Deck.Last().Description" title="@Model.Deck.Last().Description">
                        <div>
                            <h5>@Model.Deck.Last().Name</h5>
                            <p><i><small>@Model.Deck.Last().Description</small></i></p>
                        </div>
                    </div>
                </div>
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h4>Welcome to the Stadium!</h4>
                    <h5 class="small-padding-top">
                        Choose which card from your Deck you'd like to play for <b>Round 1</b>. For this round, try your <b>highest card</b>!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>