﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">7 Relics</h4>
            </div>
            <div class="modal-body text-center">
                <img class="large-padding-bottom animated fadeInUp" src="@Helper.GetImageUrl(Model.NextRelic.ImageUrl)" width="85" height="100">
                <div class="primary-container">
                    <h4>Moon Relic</h4>
                    <h5 class="small-padding-top">
                        There are <b>7 Relics</b> needed to access the Ancient Plateau! Make it to the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Level 5 Checkpoint CPU</b> to earn the Moon Relic!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>