﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sudden Death</h4>
            </div>
            <div class="modal-body text-center">
                <img width="80" height="85" src="@Helper.GetImageUrl("Stadium/Draw.png")" class="animated fadeInUp">
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h4 class="small-padding-bottom">
                        You're in Sudden Death!
                    </h4>
                    <h5>
                        You're tied after <b>@Helper.GetMaxDeckSize() rounds</b> and the first to win a round will win the match!
                        You have access to all of your @Resources.DeckCards and most of your Power Moves!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>