﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial-3" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stadium Tutorial (3/4)</h4>
            </div>
            <div class="modal-body text-center">
                <div class="grid-element center-block card-width">
                    <div>
                        <img class="power-move-dimensions animated bounceIn" src="@Helper.GetImageUrl(Model.PowerMoves[2].ImageUrl)" alt="@Model.PowerMoves[2].Description" title="@Model.PowerMoves[2].Description">
                        <div>
                            <h5>@Model.PowerMoves[2].Name</h5>
                            <p><i><small>@Model.PowerMoves[2].Description</small></i></p>
                        </div>
                    </div>
                </div>
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h5>
                        You can also choose to use <b>one Power Move</b> per round. When you use a Power Move, that specific one can't be used again for the rest of the match!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>