﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Power Move</h4>
            </div>
            @{ PowerMove unlockedPowerMove = Model.PowerMoves.FindAll(x => !x.IsDisabled && x.MinCPULevel > 0).Last(); }
            <div class="modal-body text-center">
                <div class="grid-element center-block card-width">
                    <div>
                        <img class="power-move-dimensions animated bounceIn" src="@Helper.GetImageUrl(unlockedPowerMove.ImageUrl)" alt="@unlockedPowerMove.Description" title="@unlockedPowerMove.Description">
                        <div>
                            <h5>@unlockedPowerMove.Name</h5>
                            <p><i><small>@unlockedPowerMove.Description</small></i></p>
                        </div>
                    </div>
                </div>
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h4>New Power Move!</h4>
                    <h5 class="small-padding-top">
                        You won the match and unlocked the <b>@unlockedPowerMove.Name</b> Power Move! To use it at the Stadium, you'll have to activate it from your bag!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <a class="btn btn-block btn-success" href="/Items?showPowerMoves=true#@unlockedPowerMove.Type"><h5 class="small-margin-top small-margin-bottom">Head to your bag!</h5></a>
                </div>
                <div class="small-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>