﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-elite-zone-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to the Elite Zone!</h4>
            </div>
            <div class="modal-body text-center">
                <img src="@Helper.GetImageUrl("Locations/Stadium.png")" class="animated fadeInUp" width="85" height="112">
                <div class="large-padding-top"></div>
                <div class="alert alert-info alert-elite-zone-coloring no-margin-bottom">
                    <h4>Elite Zone</h4>
                    <h5 class="small-padding-top">
                        Congratulations! You rank in the top <b>25%</b> of users at the Stadium and will be matched with better opponents! Welcome to the <b>Elite Zone</b>!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>