﻿@model StadiumViewModel

<input type="hidden" value="true" id="shouldPollForOpponentWaitlist" />
<input type="hidden" value="@Model.MatchWaitlist.ChallengeUser" id="pollForOpponentUsername" />
<h5>
    @if (string.IsNullOrEmpty(Model.MatchWaitlist.ChallengeUser))
    {
        <span>Finding you an @Html.Raw(Model.IsElite ? "<span class='label label-elite' data-toggle='tooltip' data-placement='top' title='You rank in the top 25% of users at the Stadium and will be matched with better opponents.'>Elite Zone</span>" : "") opponent....</span>
        <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Searching will continue until an opponent is found, you click Stop Searching, or the search times out."></span>
    }
    else
    {
       <span>Waiting for <a href="/User/@Model.MatchWaitlist.ChallengeUser">@Model.MatchWaitlist.ChallengeUser</a>...</span> 
    }
</h5>
<div class="small-padding-top padding-bottom animated bounceIn">
    <div class="loader loader-large center-block"></div>
</div>
<div class="padding-top"></div>
<div class="primary-container light-blue-border animated fadeIn">
    <h5 class="small-margin-top"><b>Match Tip</b></h5>
    <h5 id="stadiumTip">
        @Model.Tip
    </h5>
</div>
<form id="stadiumForm" action="@Url.Action("EndWaitlist", "Stadium")" method="POST" class="large-padding-top" onsubmit="submitStadiumForm(event, this);">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-secondary">Stop @(string.IsNullOrEmpty(Model.MatchWaitlist.ChallengeUser) ? "Searching" : "Waiting")...</button>
</form>