﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial-4" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stadium Tutorial (4/4)</h4>
            </div>
            <div class="modal-body text-center">
                <img src="@Helper.GetImageUrl("Locations/Stadium.png")" class="animated fadeInUp" width="85" height="112">
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h5>
                        @if (Model.RoundResult == MatchStatus.Won)
                        {
                            <span>Awesome! Your Round Power was higher than your opponent's so you <b class="win-green">won</b> the first round!</span>
                        }
                        else if (Model.RoundResult == MatchStatus.Lost)
                        {
                            <span>Too bad! Your Round Power was lower than your opponent's so you <b class="lose-red">lost</b> the first round!</span>
                        }
                        else
                        {
                            <span>Your Round Power was equal to your opponent's so your first round was a <b>draw</b>! Nobody wins or loses this round!</span>
                        }
                        The first to win the <b class="win-green">best of  @Helper.GetMaxDeckSize() rounds</b> wins the match!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>