﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-lost-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You Lost!</h4>
            </div>
            <div class="modal-body text-center">
                <div class="grid-element center-block card-width animated fadeInUp">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.LossEnhancer.ImageUrl)" alt="@Model.LossEnhancer.Description" title="@Model.LossEnhancer.Description">
                        <div>
                            <h5>@Model.LossEnhancer.Name</h5>
                            <p><i><small>@Model.LossEnhancer.Description</small></i></p>
                        </div>
                    </div>
                </div>
                <div class="large-padding-top"></div>
                <div class="primary-container light-blue-border">
                    <h4>Improve Your Enhancers!</h4>
                    <h5 class="small-padding-top">
                        Consider buying a <b>stronger Enhancer</b> to help you out! CPUs do <b>get easier</b> after several losses to them! 
                    </h5>
                </div>
                <div class="large-padding-top">
                    <a class="btn btn-block btn-success" href="/Store#@Model.LossEnhancer.Id"><h5 class="small-margin-top small-margin-bottom">Head to the General Store!</h5></a>
                </div>
                <div class="small-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>