﻿@model StadiumViewModel

<div class="modal fade" id="modal-stadium-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stadium Tip</h4>
            </div>
            <div class="modal-body text-center">
               @{ Enhancer enhancer = Model.Enhancers.Find(x => x.IsFiller); }
               <div class="grid-element center-block card-width">
                    <div>
                        <img class="item-dimensions animated bounceIn" src="@Helper.GetImageUrl(enhancer.ImageUrl)" alt="@enhancer.Description" title="@enhancer.Description">
                        <div>
                            <h5>@enhancer.Name</h5>
                            <p><i><small>@enhancer.Description</small></i></p>
                        </div>
                    </div>
                </div>
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h4>Filler Swap</h4>
                    <h5 class="small-padding-top">
                        Try playing your <b>@enhancer.Name</b> with your <b>Enhancer Swap Power Move</b>. You'll give your opponent your filler and they'll get a 0 for the round!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>