﻿@model StadiumChallengeUserViewModel

<div id="stadiumPartialView">
    <div class="primary-container light-blue-border">
        <h5>
            @if (Model.HasPendingRequest)
            {
                <span>You have a pending Stadium challenge request from <b><a href="/User/@Model.ChallengeUser.Username">@Model.ChallengeUser.Username</a></b>.</span>
            }
            else
            {
                <span>You can request to challenge <b><a href="/User/@Model.ChallengeUser.Username">@Model.ChallengeUser.Username</a></b> at the Stadium.</span>
            }
            <span>As it's a <b>friendly match</b>, it will be only for fun and you <b>cannot</b> earn any @Resources.Currency if you win and it <b>will not</b> affect your Global Ranking.</span>
        </h5>
    </div>
    @if (!Model.IsDeckAllowed)
    {
        <div class="padding-top"></div>
        <div class="alert alert-warning">
            <h5>
                <span class="fas fa-exclamation-triangle"></span> Your Deck isn't allowed. You must have <b>@Helper.GetMaxDeckSize() @Resources.DeckCards</b> and none of them can have an Unusable condition.
                Go to your <a class="alert-link" href="/Items">bag</a> and make changes to your Deck.
            </h5>
        </div>
    }
    <h5>Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div class="scrolling-container">
            @foreach (Card card in Model.Deck)
            {
                <div class="scrolling-grid-element text-center clickable @(!ServicesLocator.GetService<IRelicsRepository>().HasEarned(card.Tier, Model.MatchLevel) ? "lose-red-border" : "")" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                        <div>
                            <h5 class="small-margin-bottom">@card.Name</h5>
                        </div>
                    </div>
                   <div class="push-down-class">
                        @if  (card.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <form id="stadiumForm-challengeUser" action="@Url.Action("StartMatch", "Stadium")" method="POST" class="large-padding-top" onsubmit="submitStadiumForm(event, this);">
        <div class="input-group">
            <input type="hidden" value="@Model.ChallengeUser.Username" name="challengeUsername" id="challengeUsername" />
        </div>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.IsDeckAllowed ? "" : "disabled")">
            <b>
                <span class="fas fa-play"></span>
                @(Model.HasPendingRequest ? "Accept Challenge!" : $"Challenge {Model.ChallengeUser.Username}!")
            </b>
        </button>
        <div class="visible-xxs"><div class="small-padding-top"></div></div>
        <a href="/Items" class="btn btn-secondary">Change Deck</a>
    </form>
</div>