﻿@model StadiumChallengeViewModel

<div id="stadiumPartialView">
    <div class="gray-container">
        You have a new <b>Stadium Challenge</b>!
        Compared to regular Stadium matches, challenges have different conditions and reward <b class="win-green">@Resources.Currency</b> for winning them.
    </div>
    <div class="padding-top"></div>
    <div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
        <h4 class="alert-heading">
            <span class="fas fa-trophy"></span>
            Challenge Criteria
        </h4>
        <h5>
            Challenge: <b>@Model.Challenge.GetDisplayName()</b>
        </h5>
        <h5 class="no-margin-bottom">
            Reward: <b class="win-green">@Helper.GetFormattedPoints(Model.Reward * (Model.HasDoubleStadiumCPUReward ? 2 : 1))</b>
        </h5>
    </div>
    <h5>
        Your Stadium Challenge will expire in <b>@Model.ChallengeExpiryDate.GetTimeUntil()</b>.
    </h5>
    @if (!Model.IsDeckAllowed)
    {
        <div class="alert alert-warning small-margin-bottom">
            <h5>
                <span class="fas fa-exclamation-triangle"></span> Your Deck doesn't meet the challenge's criteria.
                Go to your <a class="alert-link" href="/Items">bag</a> and make changes to your Deck.
            </h5>
        </div>
    }
    @if (Model.HasDoubleStadiumCPUReward)
    {
        <div class="alert alert-success small-margin-bottom">
            <h5>
                Your <b>Stadium Match</b> reward gives you <b>double</b> the reward for your next Stadium challenge!
            </h5>
        </div>
    }
    <h5 class="small-padding-top">Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div class="scrolling-container">
            @foreach (Card card in Model.Deck)
            {
                <div class="scrolling-grid-element text-center clickable @(!ServicesLocator.GetService<IRelicsRepository>().HasEarned(card.Tier, Model.MatchLevel) ? "lose-red-border" : "")" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                        <div>
                            <h5 class="small-margin-bottom">@card.Name</h5>
                        </div>
                    </div>
                    <div class="push-down-class">
                        @if  (card.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <form id="stadiumForm-challenge" action="@Url.Action("StartMatch", "Stadium")" method="POST" class="large-padding-top" onsubmit="submitStadiumForm(event, this);">
        <div class="input-group">
            <input type="hidden" value="true" name="isCPUMatch" id="isCPUMatch" />
            <input type="hidden" value="true" name="isCPUChallenge" id="isCPUChallenge" />
        </div>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.IsDeckAllowed ? "" : "disabled")">
            <span class="fas fa-play-circle"></span>
            <b>Accept Challenge!</b>
        </button>
        <div class="visible-xxs"><div class="small-padding-top"></div></div>
        <a href="/Items" class="btn btn-secondary">Change Deck</a>
    </form>
</div>