﻿@model StadiumViewModel

@if (Model.Deck.Count != Helper.GetMaxDeckSize())
{
    <div class="alert alert-warning">
        <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> No Entry!</h4>
        <h5>
            You can only enter the Stadium if you have <b>@Helper.GetMaxDeckSize() @Resources.DeckCards</b> in your Deck!
            Go to your <a class="alert-link" href="/Items">bag</a> and make some changes.
        </h5>
        <div class="small-padding-top"></div>
        <a href="/Items" class="btn btn-warning">Head to Bag!</a>
    </div>
}
else if (Model.Deck.Any(x => x.Condition == ItemCondition.Unusable))
{
    <div class="alert alert-warning">
        <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> No Entry!</h4>
        <h5>
            You cannot enter the Stadium if any of the @Resources.DeckCards in your Deck have an <a href="/Repair"><b class="lose-red">Unusable</b></a> condition!
            Go to your <a class="alert-link" href="/Items">bag</a> and make some changes.
        </h5>
        <div class="small-padding-top"></div>
        <a href="/Repair" class="btn btn-warning">Repair Your Deck!</a>
    </div>
}
else
{
    <div id="stadiumPartialView">
        @if (Model.IsInWaitlist)
        {
            @await Html.PartialAsync("_StadiumMatchWaitPartial", Model)
        }
        else if (Model.FinalStatus == MatchStatus.Won || Model.FinalStatus == MatchStatus.Lost)
        {
            @await Html.PartialAsync("_StadiumMatchFinalPartial", Model)
        }
        else if (Model.MatchState == null)
        {
            @await Html.PartialAsync("_StadiumMainPartial", Model)
        }
        else if (Model.MatchState.IsInSelection)
        {
            @await Html.PartialAsync("_StadiumMatchSelectPartial", Model)
        }
        else
        {
            @await Html.PartialAsync("_StadiumMatchDuelPartial", Model)
        }
    </div>
}