﻿@model StadiumStatisticsViewModel

@if (Model.Authenticated && Model.User.Username == Model.Profile.Username)
{
    <ul class="nav nav-tabs nav-justified">
        <li><a href="@Url.Action("Index", "Stadium")">Stadium</a></li>
        <li class="active"><a href="#">Statistics</a></li>
    </ul>
}
<p class="@(Model.Authenticated && Model.User.Username == Model.Profile.Username ? "small-padding-top" : "")">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default text-center no-margin-bottom">
                <div class="panel-heading">
                    <h5>
                        Global Ranking
                        <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="@(Model.Authenticated && Model.User.Username == Model.Profile.Username ? "Your " : "")Global Ranking only factors in user matches and is always changing as you and other users win and lose matches."></span>
                    </h5>
                </div>
                <div class="panel-body">
                    <h2 class="no-margin-top no-margin-bottom @(Model.IsElite ? "gold-color" : "")">@(Model.MatchRanking == null ? "N/A" : Helper.FormatNumber(Model.MatchRanking.Rank))</h2>
                    @if (Model.IsElite)
                    {
                        <div class="label label-elite" data-toggle="tooltip" data-placement="top" title="The top 25% of users at the Stadium qualify for the Elite Zone.">Elite Zone</div>
                    }
                </div>
            </div>
        </div>
        <div class="padding-top visible-xs"></div>
        <div class="col-sm-6">
            <div class="panel panel-default text-center no-margin-bottom">
                <div class="panel-heading">
                    <h5>
                        User Matches Played
                        <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="This only counts user matches that apply to your Global Ranking."></span>
                    </h5>
                </div>
                <div class="panel-body">
                    <h2 class="no-margin-top no-margin-bottom">@Helper.FormatNumber(Model.MatchRanking?.TotalMatches ?? 0)</h2>
                </div>
            </div>
        </div>
    </div>
</p>
<div class="row">
    @if (!Model.OnlyShowUserMatches)
    {
        <div class="col-sm-6 text-center">
            <h5>
                CPU Challenger Progress % (Lvl. @Helper.FormatNumber(Model.CPULevel))
                @if (Model.Intensity > 0)
                {
                    <span class="extra-small-margin-left" data-toggle="tooltip" data-placement="top" title="Intensity @Helper.FormatNumber(Model.Intensity + 1)"><span class="fas fa-plus-square gold-color"></span></span>
                }
            </h5>
            <div class="relative">
                @for (int level = Model.CPU.Level/5 + 1; level <= Model.TotalCPUs/5; level++)
                {
                    <div class="progress-bar-checkpoint" style="left: calc(@(level * 100/((double)Model.TotalCPUs/5))% - 12px);" data-toggle="tooltip" data-placement="top" title="Checkpoint CPU (Level @(level * 5))"><b class="white-color">!</b></div>
                }
                <div class="progress border-gray-background-color small-margin-bottom @(Model.CPULevelPercent == 0 ? "progress-bar-striped" : "")">
                    <div class="progress-bar @(Model.Intensity > 0 ? "gold-color-background" : "win-green-background") progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@Model.CPULevelPercent%;">
                        <b class="progress-bar-text" style="@(Model.CPULevelPercent < 10 ? "position: absolute;" : "")">@Model.CPULevelPercent%</b>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="@(Model.OnlyShowUserMatches ? "col-sm-12" : "col-sm-6") text-center">
        <h5>
            User Win % (@Helper.FormatNumber(Model.MatchRanking?.WonMatches ?? 0)/@Helper.FormatNumber(Model.MatchRanking?.TotalMatches ?? 0))
        </h5>
        <div class="progress border-gray-background-color @(Model.UserWinPercent == 0 ? "progress-bar-striped" : "")">
            <div class="progress-bar @(Model.UserWinPercent >= 80 ? "win-green-background" : Model.UserWinPercent >= 50 ? "primary-color-background" : "lose-red-background") progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@Model.UserWinPercent%;">
                <b class="progress-bar-text" style="@(Model.UserWinPercent < 10 ? "position: absolute;" : "")">@Model.UserWinPercent%</b>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">Last 50 @(Model.OnlyShowUserMatches ? "User" : "") Matches</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Opponent</th>
                    <th>Type</th>
                    <th>Reward</th>
                    <th>Result</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @{int i = Math.Min(50, Model.MatchHistories.Count);}
                @foreach (MatchHistory matchHistory in Model.MatchHistories.Take(50).ToList())
                {
                    <tr>
                        <td data-title="#"><b>@i</b></td>
                        <td data-title="Opponent">@Html.Raw((matchHistory.CPUType > CPUType.None ? matchHistory.Opponent : $"<a href='/User/{matchHistory.Opponent}'>{matchHistory.Opponent}</a>"))</td>
                        <td data-title="Type">@(matchHistory.CPUType > CPUType.None ? $"CPU {(matchHistory.CPUType == CPUType.Normal ? $"(Level {matchHistory.Level + 1}{(matchHistory.Intensity > 0 ? $" - Intensity {Helper.FormatNumber(matchHistory.Intensity + 1)}" : "")})" : "")}" : matchHistory.TourneyMatchId == Guid.Empty ? "User" : "Tourney") @(matchHistory.CPUType == CPUType.None && matchHistory.Level == 0 && matchHistory.Intensity == 0 ? " (Timed Out)" : "")</td>
                        <td data-title="Reward"><span class="@(matchHistory.Points == 0 ? "" : matchHistory.Result == MatchHistoryResult.Won ? "win-green" : matchHistory.CPUType == CPUType.None ? "lose-red" : "")">@Helper.GetFormattedPoints(matchHistory.Points)</span></td>
                        <td data-title="Result"><b class="@(@matchHistory.Result == MatchHistoryResult.Won ? "win-green" : "lose-red")">@matchHistory.Result</b></td>
                        <td data-title="Date">@matchHistory.CreatedDate.GetTimeSince()</td>
                    </tr>
                    i--;
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.MatchHistories.Count == 0)
{
    <div class="alert alert-info behind-margin-top visible-xs">
        @if (Model.Authenticated && Model.User.Username == Model.Profile.Username)
        {
            if (Model.OnlyShowUserMatches)
            {
                <div>You haven't played any user matches yet.</div>
            }
            else
            {
                <div>You haven't played any matches yet.</div>
            }
        }
        else
        {
            if (Model.OnlyShowUserMatches)
            {
                <div>@Model.Profile.Username hasn't played any user matches yet.</div>
            }
            else
            {
                <div>@Model.Profile.Username hasn't played any matches yet.</div>
            }
        }
    </div>
}