﻿@model SponsorSocietyViewModel

<p>
    <div class="gray-container">
        <h5>You have <b class="@(Model.SponsorCoins > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.SponsorCoins) Sponsor Coin@(Model.SponsorCoins == 1 ? "" : "s")</b></h5>
        <ul class="no-margin-bottom">
            <li>
                You can buy <b class="win-green">Sponsor Coins</b> and use them to unlock <b>special perks</b> such as removing ads and unique items. You'll also help support a <b>single developer</b> cover @Resources.SiteName's costs!
            </li>
        </ul>
    </div>
</p>
<script src="https://checkout.stripe.com/checkout.js"></script>
<h5 class="small-margin-bottom">
    Buy Sponsor Coins
    <a href="https://www.stripe.com" target="_blank"><img src="@Helper.GetImageUrl("SponsorSociety/Stripe.png")" width="114" height="25" /></a>
</h5>
<h6 class="text-muted small-margin-top">Get new themes, access to the Store Magician, remove ads, and more! See what you can use your Sponsor Coins on by visiting the <b><a href="/SponsorSociety/CoinCatalog">Coin Catalog</a></b>!</h6>
<div class="grid-container grid-container--fit">
    @foreach (SponsorCoinPackage sponsorCoinPackage in Model.SponsorCoinPackages)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img src="@Helper.GetImageUrl(sponsorCoinPackage.ImageUrl)" width="75" height="82">
                <div>
                    <h5 class="@(string.IsNullOrEmpty(sponsorCoinPackage.Label) ? "" : "no-margin-bottom small-margin-bottom")">@Helper.FormatNumber(sponsorCoinPackage.CoinAmount) Coins</h5>
                    @if (!string.IsNullOrEmpty(sponsorCoinPackage.Label))
                    {
                        <div class="label label-elite">@sponsorCoinPackage.Label</div>
                        <div class="padding-top"></div>
                    }
                </div>
            </div>
            <div class="small-padding-top">
                <button class="btn btn-success btn-sm no-load-btn" onclick="buySponsorCoins(event, '@Model.StripePublishableKey', '@Resources.SiteName', '@Helper.GetImageUrl("Global/Logo.png")', '@Model.User.EmailAddress', @Math.Round(sponsorCoinPackage.MoneyAmount * 100), '@Helper.FormatNumber(sponsorCoinPackage.CoinAmount)');"><b>Buy $@sponsorCoinPackage.MoneyAmount</b></button>
            </div>
            <form action="@Url.Action("GetCoinsPaypal", "SponsorSociety")" class="small-padding-top"  method="POST" onsubmit="updateSponsorSociety(event, this)">
                @Html.AntiForgeryToken()
                <input type="hidden" name="amount" value="@sponsorCoinPackage.MoneyAmount" />
                <button type="submit" class="btn btn-gold btn-sm"><b><img src="@Helper.GetImageUrl("SponsorSociety/PayPal.png")" width="50" height="13" /></b></button>
            </form>
        </div>
    }
</div>
<h5>What can I get with Sponsor Coins?</h5>
<a class="btn btn-md btn-success" href="/SponsorSociety/CoinCatalog">Check the Coin Catalog!</a>
<div class="padding-top"></div>
<h5>Weekly Meter ($@Math.Round(Model.WeeklyAmount, 2)/@Model.WeeklyTotal)</h5>
<div class="progress border-gray-background-color small-margin-bottom @(Model.WeeklyAmount/Model.WeeklyTotal * 100 == 0 ? "progress-bar-striped" : "")">
    <div class="progress-bar win-green-background progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@(Math.Min(100, Model.WeeklyAmount/Model.WeeklyTotal * 100))%;">
        <b class="progress-bar-text" style="@(Model.WeeklyAmount/Model.WeeklyTotal * 100 < 10 ? "position: absolute;" : "")">@Math.Round(Model.WeeklyAmount/Model.WeeklyTotal * 100, 2)%</b>
    </div>
</div>
<div class="small-padding-top"></div>
<div class="panel panel-primary">
    <div class="panel-heading">Recent Sponsors</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Donor donor in Model.RecentDonors)
                {
                    <tr>
                        <td data-title="Username"><a href='/User/@donor.Username'>@donor.Username</a></td>
                        <td data-title="Date">@donor.CreatedDate.GetTimeSince()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@if (Model.RecentDonors.Count == 0)
{
    <div class="alert alert-info behind-margin-top visible-xs">
        Nobody has bought Sponsor Coins in the last <b>60 days</b>.
    </div>
}
