﻿@model SponsorSocietyViewModel

<p>
    <div class="gray-container">
        <h5>You have <b class="@(Model.SponsorCoins > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.SponsorCoins) Sponsor Coin@(Model.SponsorCoins == 1 ? "" : "s")</b></h5>
        <ul class="no-margin-bottom">
            <li>
                You can use your <b>Sponsor Coins</b> to get perks from the Coin Catalog. Low on coins? <a href="/SponsorSociety">Buy some more!</a>
            </li>
            <li>
                Sponsor Coins <b>never expire</b> and new perks are always being added!
            </li>
        </ul>
    </div>
</p>
<h5 class="small-padding-top">Coin Catalog (@Helper.FormatNumber(Model.SponsorPerks.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (SponsorPerk sponsorPerk in Model.SponsorPerks)
    {
        <div id="@sponsorPerk.Id" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(sponsorPerk.ImageUrl)" alt="@sponsorPerk.Description" title="@sponsorPerk.Description">
                <div>
                    <h5>@sponsorPerk.Name</h5>
                    <p>
                        <i><small>@sponsorPerk.Description</small></i>
                    </p>
                </div>
            </div>
            <div>
                <div>
                    <small>Cost: <b class="@(Model.SponsorCoins >= sponsorPerk.Coins ? "win-green" : "lose-red")">@(sponsorPerk.Coins == 1 ? "?" : Helper.FormatNumber(sponsorPerk.Coins)) Coins</b></small>
                </div>
                <div class="small-padding-top"></div>
                <form action="@Url.Action("GetSponsorPerk", "SponsorSociety")" method="POST" onsubmit="updateSponsorSociety(event, this)">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="sponsorPerkId" value="@sponsorPerk.Id" />
                    <button type="submit" class="btn btn-success btn-sm @(Model.SponsorCoins >= sponsorPerk.Coins ? "" : "disabled")"><b>Get It</b></button>
                </form>
            </div>
        </div>
    }
</div>
@if (Model.ActivePromoCodes.Count > 0)
{
    <h5 id="sponsor-codes" class="large-margin-top no-margin-bottom">Sponsor Codes</h5>
    <h6 class="text-muted small-margin-top">The following users used their Sponsor Coins to create a Promo Code for <b>24 hours</b> that everyone can redeem. Make sure to thank them!</h6>
    <div class="panel panel-success">
        <div class="panel-heading">Sponsor Codes (@Helper.FormatNumber(Model.ActivePromoCodes.Count))</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Code</th>
                        <th>Perk</th>
                        <th>Time Left</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PromoCode activePromoCode in Model.ActivePromoCodes)
                    {
                        <tr>
                            <td data-title="User"><a href="/User/@activePromoCode.Creator">@activePromoCode.Creator</a></td>
                            <td data-title="Code"><a href="/PromoCodes?code=@activePromoCode.Code">@activePromoCode.Code</a></td>
                            <td data-title="Perk">@activePromoCode.Effect.GetDisplayName()</td>
                            <td data-title="Time Left">@activePromoCode.ExpiryDate.GetTimeUntil()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}