﻿@model SponsorSocietyViewModel

<div id="itemsPartialView">
    <div class="gray-container">
        You can give your Companion a name and choose its color. Once activated, it will appear on <a href="/Profile"><b>your profile</b></a>.
    </div>
    <form action="@Url.Action("ActivateCompanion", "SponsorSociety")" method="POST" onsubmit="updateSponsorSociety(event, this);">
        <h5>Choose a Name</h5>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                <input id="name" type="text" class="form-control" name="name" value="" placeholder="Companion's Name" maxlength="10" required>
            </div>
        </div>
        <h5>Choose a Color</h5>
        <div class="form-group">
            <div class="grid-container grid-container--fit">
                @foreach (CompanionColor color in Enum.GetValues(typeof(CompanionColor)))
                {
                    <div id="@color" class="grid-container-no-padding grid-element text-center clickable grow" onclick="companionColorSelected(this);">
                        <div>
                            <img class="companion-dimensions" src="@Helper.GetImageUrl($"Companions/{Model.Companion}/{color}.png")">
                            <div>
                                <h5>@color.GetDisplayName()</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <h5>Favorite Activity</h5>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="activity" value="sleeping" required> Sleeping
            </label>
            <label class="radio-inline">
                <input type="radio" name="activity" value="playing" required> Playing
            </label>
            <label class="radio-inline">
                <input type="radio" name="activity" value="other" required> 
                @if (Model.Companion == CompanionType.Unicorn)
                {
                    <span>Flying</span>
                }
                else
                {
                    <span>Eating</span>
                }
            </label>
        </div>
        <div class="form-group small-padding-top">
            <input type="hidden" name="type" value="@Model.Companion" />
            <input type="hidden" id="selectedColor" name="selectedColor" />
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Activate</button>
            <a href="/SponsorSociety/CoinCatalog" class="btn btn-secondary">Back to Catalog</a>
        </div>
    </form>
</div>