﻿@model SponsorSocietyViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/SponsorSociety">Sponsor Society</a></li>
    <li class="active"><a href="#">Coin Catalog</a></li>
</ul>
<div id="sponsorSocietyPartialView">
    <p>
        <div class="gray-container">
            You can change the theme of one of your @Resources.DeckCards to <b>@Model.Theme</b>.
        </div>
    </p>
    <h5>@Resources.DeckCards (@Helper.FormatNumber(Model.Cards.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item card in Model.Cards)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5>@card.Name</h5>
                        <p><i><small>@card.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(card.GetAgeInHours()) hour@(card.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @card.Category <span class="@Helper.GetItemConditionColor(card.Condition)">(@card.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(card.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseTheme", "SponsorSociety")" method="POST" onsubmit="updateSponsorSociety(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="theme" value="@Model.Theme" />
                            <input type="hidden" name="selectionId" value="@card.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Use Theme</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Cards.Count == 0)
    {
        <div class="alert alert-info">
            You have no @Resources.DeckCard in your bag that can have its theme changed to <b>@Model.Theme</b>.
        </div>
    }
    <div class="large-padding-top">
        <a href="/SponsorSociety/CoinCatalog" class="btn btn-secondary">Back to Coin Catalog</a>
    </div>
</div>