﻿@model SponsorSocietyViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/SponsorSociety">Sponsor Society</a></li>
    <li class="active"><a href="#">Coin Catalog</a></li>
</ul>
<div id="sponsorSocietyPartialView">
    @await Html.PartialAsync("_SponsorSocietyCoinCatalogPartial", Model)
</div>