﻿@model SponsorSocietyViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/SponsorSociety">Sponsor Society</a></li>
    <li class="active"><a href="#">Coin Catalog</a></li>
</ul>
<div id="sponsorSocietyPartialView">
    <p>
        <div class="gray-container">
            Choose any user and give them up to <b class="@(Model.SponsorCoins > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.SponsorCoins) Sponsor Coin@(Model.SponsorCoins == 1 ? "" : "s")</b> as a gift!
        </div>
    </p>
    <h5>Coin Gift</h5>
    <form action="@Url.Action("GiveCoins", "SponsorSociety")" method="POST" onsubmit="updateSponsorSociety(event, this);">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" value="" placeholder="Username" maxlength="15" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                <input id="amount" type="number" class="form-control" name="amount" value="" placeholder="Coin Amount" min="1" max="@Model.SponsorCoins" required>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
                <input id="message" type="text" class="form-control" name="message" value="" placeholder="Message (Optional)" maxlength="75" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success"><b>Give Coin Gift!</b></button>
            <a href="/SponsorSociety/CoinCatalog" class="btn btn-secondary">Back to Coin Catalog</a>
        </div>
    </form>
</div>