﻿@model SponsorSocietyViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Sponsor Society</a></li>
    <li><a href="/SponsorSociety/CoinCatalog">Coin Catalog</a></li>
</ul>
<div id="sponsorSocietyPartialView">
    @await Html.PartialAsync("_SponsorSocietyMainPartial", Model)
</div>