﻿@model AttentionHallViewModel

<div class="padding-top"></div>
<b><a href="/AttentionHall?page=@Model.CurrentPage"><span class="glyphicon glyphicon-chevron-left"></span> All Posts</a></b>
<b class="pull-right">
    @if (Model.AttentionHallPost.Username == Model.User.Username)
    {
        <a href="/AttentionHall/Create?id=@Model.AttentionHallPost.Id"><span class="glyphicon glyphicon-edit"></span> Edit</a>
    }
    @if (Model.AttentionHallPost.Username == Model.User.Username || Model.User.Role >= UserRole.Helper)
    {
        <a href="#" class="lose-red small-margin-left" onclick="removeAttentionHallPost('@Model.AttentionHallPost.Id')" data-toggle="tooltip" data-placement="top" title="Remove"><span class="glyphicon glyphicon-remove"></span> Remove</a>
    }
    else
    {
        <a href="/Report?username=@Model.AttentionHallPost.Username&attentionHallPostId=@Model.AttentionHallPost.Id" class="lose-red" data-toggle="tooltip" data-placement="top" title="Report"><span class="glyphicon glyphicon-ban-circle"></span> Report</a>
    }
</b>
<div class="padding-top"></div>
<div class="news-container">
    <div class="inline">
        Posted by <a href="/User/@Model.AttentionHallPost.Username">@Model.AttentionHallPost.Username</a>
        @if (Model.AttentionHallPost.IsModified)
        {
            <b class="text-muted" data-toggle="tooltip" data-placement="top" title="This post was edited @Model.AttentionHallPost.ModifiedDate.GetTimeSince().">*</b>
        }
    </div>
    <small class="text-muted pull-right extra-small-padding-top hidden-xxs">
        @Model.AttentionHallPost.CreatedDate.GetTimeSince()
    </small>
    @if (Model.JobState != null)
    {
        <div></div>
        <div class="label @(Model.JobState == JobState.Open ? "label-primary" : Model.JobState == JobState.Accepted ? "label-success" : "label-warning")" data-toggle="tooltip" data-placement="top" title="This post was created as a job submission and has a status of '@Model.JobState.GetDisplayName()' at the Job Center.">@(Model.JobState.GetDisplayName())</div>
    }
    else if (Model.AttentionHallPost.Type == AttentionHallPostType.General && Model.AttentionHallPost.Flair != AttentionHallFlair.None)
    {
        <div></div>
        <div class="label label-primary">@Model.AttentionHallPost.Flair.GetDisplayName()</div>
    }
    <hr class="vertical-margins" />
    <div class="row">
        <div class="col-xs-2 col-sm-1 vcenter large-padding-left no-padding-right" style="max-width: @(Helper.FormatNumberShortened(Model.AttentionHallPost.Points).Length * 10 + 15)px;">
            <div class="pull-left text-center">
                <span class="glyphicon glyphicon-triangle-top @(Model.AttentionHallPost.UserVote == AttentionHallPointType.Positive ? "win-green" : "text-muted hover-win-green") clickable grow" onclick="attentionHallVote('@Model.AttentionHallPost.Id', '@AttentionHallPointType.Positive', '', true); event.stopPropagation();"></span>
                <h4 class="@(Model.AttentionHallPost.Points > 0 ? "win-green" : Model.AttentionHallPost.Points < 0 ? "lose-red" : "")">
                    @Helper.FormatNumberShortened(Model.AttentionHallPost.Points)
                </h4>
                <span class="glyphicon glyphicon-triangle-bottom @(Model.AttentionHallPost.UserVote == AttentionHallPointType.Negative ? "lose-red" : "text-muted hover-lose-red") clickable grow" onclick="attentionHallVote('@Model.AttentionHallPost.Id', '@AttentionHallPointType.Negative', '', true); event.stopPropagation();"></span>
            </div>
        </div>
        <div class="col-xs-9 col-sm-10 vcenter no-padding-right">
            <div class="pull-left">
                <h4 class="margin-top">
                    @Model.AttentionHallPost.Title
                </h4>
            </div>
        </div>
    </div>
    <div class="@(Model.AttentionHallPost.Type == AttentionHallPostType.General ? "padding-top" : "extra-large-padding-top")"></div>
    @if (Model.AttentionHallPost.Type == AttentionHallPostType.Accomplishment)
    {
        <div class="grid-element text-center accomplishment-width center-block">
            <div>
                <img class="accomplishment-dimensions" src="@Helper.GetImageUrl(Model.AttentionHallPost.Accomplishment.ImageUrl)">
                <div>
                    <h5>@Model.AttentionHallPost.Accomplishment.Name</h5>
                    <p><i><small>@Model.AttentionHallPost.Accomplishment.Description</small></i></p>
                </div>
            </div>
            <div>
                <b><small class="no-margin-top no-margin-bottom text-muted">@Math.Round(Model.AttentionHallPost.Accomplishment.PercentOwned, 1)% Earned</small></b>
            </div>
            <div>
                <b><small class="text-muted">@Model.AttentionHallPost.Accomplishment.Category</small></b>
            </div>
        </div>
    }
    else if (Model.AttentionHallPost.Type == AttentionHallPostType.Item)
    {
        <div class="grid-element text-center center-block card-width">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(Model.AttentionHallPost.Item.ImageUrl)" alt="@Model.AttentionHallPost.Item.Description" title="@Model.AttentionHallPost.Item.Description">
                <div>
                    <h5>@Model.AttentionHallPost.Item.Name</h5>
                    <p><i><small>@Model.AttentionHallPost.Item.Description</small></i></p>
                </div>
                <div>
                    @if (Model.AttentionHallPost.Item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.AttentionHallPost.Item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.AttentionHallPost.Item.Tier}.png")" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else if (Model.AttentionHallPost.Type == AttentionHallPostType.MatchTag)
    {
        <div class="grid-element small-thick-border text-center center-block matching-tag-width">
            <div class="center-circle">
                <div class="circle" id="colored-by-username-@Model.AttentionHallPost.MatchTag.TagUsername" value="@Model.AttentionHallPost.MatchTag.TagUsername" data-user-color="@Model.AttentionHallPost.MatchTag.Color">
                    @Model.AttentionHallPost.MatchTag.TagUsername.Substring(0, 1).ToUpper()
                </div>
            </div>
            <div>
                <h5><a href="/User/@Model.AttentionHallPost.MatchTag.TagUsername">@Model.AttentionHallPost.MatchTag.TagUsername</a></h5>
                <h5 data-toggle="tooltip" data-placement="top" title="Earned @Model.AttentionHallPost.MatchTag.FirstWinDate.GetTimeSince()"><small>@Helper.FormatNumber(Model.AttentionHallPost.MatchTag.Wins) Win@(Model.AttentionHallPost.MatchTag.Wins == 1 ? "" : "s")</small></h5>
            </div>
        </div>
    }
    <div class="show-line-spaces">
        @Html.Raw(Helper.MakeLinkClickable(Helper.ExtractUserReply(Helper.AddSpoilerTag(Model.AttentionHallPost.Content), out _, false, false)))
    </div>
</div>
<h5 id="totalComments" class="large-padding-top">
    Comments (@Helper.FormatNumber(Model.AttentionHallComments.Count))
</h5>
<form id="commentForm" action="@Url.Action("Comment", "AttentionHall")" method="POST" onsubmit="submitAttentionHallCommentForm(event, this, @Model.AttentionHallPost.Id, false);" class="small-padding-top">
    <div id="comment-container" class="form-group">
        <input type="hidden" name="id" value="@Model.AttentionHallPost.Id" />
        @Html.AntiForgeryToken()
        <div class="input-group">
            <textarea class="form-control" name="comment" rows="2" id="comment" placeholder="Your comment..." autocomplete="off" maxlength="750" required onkeyup="resizeTextarea(this);"></textarea>
            <span class="input-group-addon no-border white-background"><button class="btn btn-large btn-primary">Post</button></span>
        </div>
    </div>
</form>
@{int previousLevel = 0;}
@{AttentionHallComment mostRecentComment = Model.AttentionHallComments.OrderBy(x => x.CreatedDate).LastOrDefault();}
@foreach (AttentionHallComment attentionHallComment in Model.AttentionHallComments.Take(250))
{
    attentionHallComment.Comment = attentionHallComment.Comment.Replace(Environment.NewLine, "<br/>");
    if (previousLevel > 0 && attentionHallComment.Level == 0)
    {
        <div class="small-padding-top"></div>
    }
    <div class="@(attentionHallComment.Level == 0 ? "" : "left-comment-border")" style="padding-left: @(25 * attentionHallComment.Level)px;">
        <div id="@attentionHallComment.Id" class="gray-container gray-border white-background @(attentionHallComment == mostRecentComment ? "last-comment" : "")">
            <div>
                <div class="pull-left small-margin-right">
                    @if (string.IsNullOrEmpty(attentionHallComment.DisplayPicUrl))
                    {
                        <div class="circle extra-small-circle" id="colored-by-username-@attentionHallComment.Id" data-user-color="@attentionHallComment.Color" value="@attentionHallComment.Username">
                            @attentionHallComment.Username.Substring(0, 1).ToUpper()
                        </div>
                    }
                    else
                    {
                        <img class="img-circle display-image display-image-small" src="@attentionHallComment.DisplayPicUrl" />
                    }
                </div>
                <b><a class="@(attentionHallComment.Username == Model.AttentionHallPost.Username ? "secondary-orange-color" : "")" href="/User/@attentionHallComment.Username">@attentionHallComment.Username</a></b> @Html.Raw(Helper.MakeLinkClickable(Helper.ExtractUserReply(attentionHallComment.Comment, out _, false, false)))
            </div>
            <div class="text-muted padding-top">
                @if (attentionHallComment.Level < 6)
                {
                    <small class="extra-small-padding-right"><a class="clickable" onclick="$('#form-reply-@attentionHallComment.Id').toggle(); $('#comment-padding-@attentionHallComment.Id').toggle(); $(this).text($(this).text() === 'Reply' ? 'Hide Reply' : 'Reply');">Reply</a></small>
                }
                @if (attentionHallComment.Username == Model.User.Username || Model.User.Role >= UserRole.Helper)
                {
                    <small class="extra-small-padding-right"><a class="clickable text-danger" onclick="removeAttentionHallComment(@attentionHallComment.PostId, '@attentionHallComment.Id')">Remove</a></small>
                }
                <small class="hidden-xxs">@attentionHallComment.CreatedDate.GetTimeSince()</small>
                <small class="pull-right"><a class="clickable gray-color" onclick="likeAttentionHallComment(@attentionHallComment.PostId, '@attentionHallComment.Id')"><span data-toggle="tooltip" data-placement="top" title="@(attentionHallComment.UserLiked ? "Unlike" : "Like")"><span class="@(attentionHallComment.UserLiked ? "fas" : "far") fa-thumbs-up win-green"></span></span></a> <span data-toggle="tooltip" data-placement="top" title="@attentionHallComment.GetLikedUsernamesString()">@Helper.FormatNumberShortened(attentionHallComment.TotalLikes)</span></small>
            </div>
        </div>
        @if (attentionHallComment.Level < 6)
        {
            <form id="form-reply-@attentionHallComment.Id" action="@Url.Action("Comment", "AttentionHall")" method="POST" onsubmit="submitAttentionHallCommentForm(event, this, @Model.AttentionHallPost.Id, true);" class="padding-top" style="display: none;">
                <div id="comment-container" class="form-group">
                    <input type="hidden" name="id" value="@Model.AttentionHallPost.Id" />
                    <input type="hidden" name="parentCommentId" value="@attentionHallComment.Id" />
                    @Html.AntiForgeryToken()
                    <div class="input-group">
                        <textarea class="form-control" name="comment" rows="2" placeholder="Your reply..." autocomplete="off" autofocus maxlength="500" required onkeyup="resizeTextarea(this);"></textarea>
                        <span class="input-group-addon no-border white-background"><button class="btn btn-large btn-primary">Reply</button></span>
                    </div>
                </div>
            </form>
        }
    </div>
    <div id="comment-padding-@attentionHallComment.Id" class="small-padding-top"></div>
    previousLevel = attentionHallComment.Level;
}