﻿@model AttentionHallViewModel

<div class="dropdown inline">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Filter by <b class="hidden-xs">@Model.CurrentFilter.GetDisplayName()</b>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@AttentionHallPostsFilter.Popular&type=@Model.TypeFilter">Popular</a></li>
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@AttentionHallPostsFilter.Newest&type=@Model.TypeFilter">Newest</a></li>
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@AttentionHallPostsFilter.AllTime&type=@Model.TypeFilter">All-Time</a></li>
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@AttentionHallPostsFilter.UserCreated&type=@Model.TypeFilter">Your Posts</a></li>
    </ul>
</div>
<div class="dropdown inline">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="hidden-xs">
            <b>@Model.TypeFilter.GetDisplayName()</b>
            <span class="caret"></span>
        </span>
        <span class="visible-xs">
            Type
            <span class="caret"></span>
        </span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@Model.CurrentFilter&type=@AttentionHallPostType.None">All</a></li>
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@Model.CurrentFilter&type=@AttentionHallPostType.Accomplishment">Accomplishments</a></li>
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@Model.CurrentFilter&type=@AttentionHallPostType.Item">Items</a></li>
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@Model.CurrentFilter&type=@AttentionHallPostType.MatchTag">Match Tags</a></li>
        <li><a href="/AttentionHall?page=@Model.CurrentPage&filter=@Model.CurrentFilter&type=@AttentionHallPostType.General">General</a></li>
    </ul>
</div>
<div class="pull-right">
    <a href="/AttentionHall/Create" class="btn btn-sm btn-success">New Post</a>
</div>
<h5 class="visible-xs small-padding-left">@Model.CurrentFilter.GetDisplayName() - @Model.TypeFilter.GetDisplayName()</h5>
<div class="large-padding-top hidden-xs"></div>
@foreach (AttentionHallPost attentionHallPost in Model.AttentionHallPosts)
{
    <div id="@attentionHallPost.Id" class="feed-container clickable hover-container" onclick="window.location.href='/AttentionHall?id=@attentionHallPost.Id&page=@Model.CurrentPage'">
        <div class="pull-left text-center @(attentionHallPost.Type == AttentionHallPostType.General ? "extra-large-margin-right" : "large-margin-right")">
            <span class="glyphicon glyphicon-triangle-top @(attentionHallPost.UserVote == AttentionHallPointType.Positive ? "win-green" : "text-muted hover-win-green") clickable grow" onclick="attentionHallVote('@attentionHallPost.Id', '@AttentionHallPointType.Positive', '@Model.CurrentPage', false); event.stopPropagation();"></span>
            <h4 class="@(attentionHallPost.Points > 0 ? "win-green" : attentionHallPost.Points < 0 ? "lose-red" : "")">
                @Helper.FormatNumberShortened(attentionHallPost.Points)
            </h4>
            <span class="glyphicon glyphicon-triangle-bottom @(attentionHallPost.UserVote == AttentionHallPointType.Negative ? "lose-red" : "text-muted hover-lose-red") clickable grow" onclick="attentionHallVote('@attentionHallPost.Id', '@AttentionHallPointType.Negative', '@Model.CurrentPage', false); event.stopPropagation();"></span>
        </div>
        @if (attentionHallPost.Type == AttentionHallPostType.Accomplishment)
        {
            <img class="pull-left attention-hall-accomplishment-dimensions extra-small-margin-right hidden-xs" src="@Helper.GetImageUrl(attentionHallPost.Accomplishment.ImageUrl)" />
        }
        else if (attentionHallPost.Type == AttentionHallPostType.Item)
        {
            <img class="pull-left attention-hall-item-dimensions margin-right small-margin-left padding-bottom hidden-xs" src="@Helper.GetImageUrl(attentionHallPost.Item.ImageUrl)" />
        }
        else if (attentionHallPost.Type == AttentionHallPostType.MatchTag)
        {
            <span class="pull-left margin-right small-margin-left padding-bottom circle small-circle attention-hall-match-tag-dimensions hidden-xs" id="colored-by-username-@attentionHallPost.MatchTag.TagUsername" value="@attentionHallPost.MatchTag.TagUsername" data-user-color="@attentionHallPost.MatchTag.Color"><div class="extra-small-padding-top">@attentionHallPost.MatchTag.TagUsername.Substring(0, 1).ToUpper()</div></span>
        }
        <div class="@(attentionHallPost.Type == AttentionHallPostType.General ? "" : "non-mobile-image-extra-large-padding-left")">
            <small>
                Posted by <a href="/User/@attentionHallPost.Username">@attentionHallPost.Username</a>
            </small>
            <small class="text-muted pull-right hidden-xs">@attentionHallPost.CreatedDate.GetTimeSince()</small>
        </div>
        <hr class="vertical-margins"/>
        <div class="small-padding-bottom @(attentionHallPost.Accomplishment == null && attentionHallPost.Item == null ? "" : "non-mobile-image-extra-large-padding-left")">
            <h4 class="grid">@attentionHallPost.Title</h4>
        </div>
        <div class="padding-top"></div>
        <div class="extra-small-padding-top">
            <h6 class="text-muted no-margin-bottom">
                @if (attentionHallPost.Type == AttentionHallPostType.General && attentionHallPost.Flair != AttentionHallFlair.None)
                {
                    <span class="label label-primary">@attentionHallPost.Flair.GetDisplayName()</span>
                }
                else
                {
                    <span>@attentionHallPost.Type.GetDisplayName()</span>
                }
                <span class="pull-right">
                    @Helper.FormatNumberShortened(attentionHallPost.TotalComments) Comment@(attentionHallPost.TotalComments == 1 ? "" : "s")
                </span>
            </h6>
        </div>
    </div>
    <div class="large-padding-top"></div>
}
@if (Model.AttentionHallPosts.Count == 0)
{
    <div class="alert alert-info">
        @if  (Model.CurrentFilter == AttentionHallPostsFilter.UserCreated)
        {
            <span>
                It looks like you haven't made any posts. Why don't you <a class="alert-link" href="/AttentionHall/Create">create one</a>?
            </span>
        }
        else
        {
            <span>
                It looks like there are no posts. Why don't you <a class="alert-link" href="/AttentionHall/Create">create one</a>?
            </span>
        }
    </div>
}
@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/AttentionHall?page=@i">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
}