﻿@model AttentionHallViewModel

<div class="gray-container">
    @if (Model.AttentionHallPost == null)
    {
        <span>
            Make a post introducing yourself or write about an accomplishment, item, or general achievement.
        </span>
    }
    else
    {
        <span>
            You can make changes to the title and content of your Attention Hall post.
        </span>
    }
</div>
<form action="@Url.Action("Create", "AttentionHall")" method="POST" onsubmit="submitAttentionHallCreateForm(event, this);" class="padding-top">
    <div class="form-group">
        <label for="title">Post Title</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="title" name="title" placeholder="Title of your post" maxlength="50" value="@Model.AttentionHallPost?.Title" required>
        </div>
    </div>
    <div class="form-group">
        <label for="post">
            Post
        </label>
        <textarea class="form-control" name="post" rows="3" id="post" placeholder="Write your post..." autocomplete="off" onkeyup="updateAttentionHallPostCountMessage();" required>@Model.AttentionHallPost?.Content</textarea>
        <h6 class="pull-right text-muted" id="attentionHallPostCountMessage">@Helper.FormatNumber((2500 - (Model.AttentionHallPost?.Content?.Length ?? 0))) remaining</h6>
    </div>
    @if (Model.AttentionHallPost == null)
    {
        <div class="form-group">
            <div>
                <label for="postType">Your post is about...</label>
            </div>
            <label class="radio-inline">
                <input type="radio" name="postType" value="@AttentionHallPostType.Accomplishment" required onchange="showAttentionHallPostContainer('@AttentionHallPostType.Accomplishment')">An Accomplishment
            </label>
            <label class="radio-inline">
                <input type="radio" name="postType" value="@AttentionHallPostType.Item" required onchange="showAttentionHallPostContainer('@AttentionHallPostType.Item')">An Item
            </label>
            <label class="radio-inline">
                <input type="radio" name="postType" value="@AttentionHallPostType.MatchTag" required onchange="showAttentionHallPostContainer('@AttentionHallPostType.MatchTag')">A Match Tag
            </label>
            <label class="radio-inline">
                <input type="radio" name="postType" value="@AttentionHallPostType.General" required onchange="showAttentionHallPostContainer('@AttentionHallPostType.General')">General Post
            </label>
            <div id="generalContainer" style="display: none;">
                <div class="form-group padding-top">
                    <label for="flair">Pick a flair for this post:</label>
                    <select class="form-control" id="flair" name="flair">
                        @foreach (AttentionHallFlair attentionHallFlair in Enum.GetValues(typeof(AttentionHallFlair)).Cast<AttentionHallFlair>().OrderByDescending(x => (int)x == 0).ThenBy(x => x.GetDisplayName()).ToList())
                        {
                            <option value="@((int)attentionHallFlair)">@attentionHallFlair.GetDisplayName()</option>
                        }
                    </select>
                </div>
            </div>
            <div id="accomplishmentContainer" style="display: none;">
                <div class="padding-top"></div>
                @if (Model.UserAccomplishments.Count > 0)
                {
                    <div class="alert alert-info no-margin-bottom">
                        Choose an accomplishment that your post is about.
                    </div>
                }
                <h5>Accomplishments (@Helper.FormatNumber(Model.UserAccomplishments.Count))</h5>
                <div class="grid-container grid-container--fit">
                    @foreach (Accomplishment accomplishment in Model.UserAccomplishments)
                    {
                        <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="attentionHallAccomplishmentSelected(this);" id="@accomplishment.SelectionId">
                            <div>
                                <img class="accomplishment-dimensions" src="@Helper.GetImageUrl(accomplishment.ImageUrl)" alt="@accomplishment.Description" title="@accomplishment.Description">
                                <div>
                                    <h5>@accomplishment.Name</h5>
                                    <p><i><small>@accomplishment.Description</small></i></p>
                                </div>
                            </div>
                            <div>
                                <b><small class="no-margin-top no-margin-bottom text-muted">@Math.Round(accomplishment.PercentOwned, 1)% Earned</small></b>
                            </div>
                            <div>
                                <b><small class="text-muted" data-toggle="tooltip" data-placement="top" title="Earned @accomplishment.ReceivedDate.GetTimeSince()">@accomplishment.Category</small></b>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.UserAccomplishments.Count == 0)
                {
                    <div class="alert alert-info">
                        You don't have any accomplishments to make a post about.
                    </div>
                }
            </div>
            <div id="itemContainer" style="display: none;">
                <div class="padding-top"></div>
                @if (Model.UserItems.Count > 0)
                {
                    <div class="alert alert-info no-margin-bottom">
                        Choose an item that your post is about.
                    </div>
                }
                <h5>Items (@Helper.FormatNumber(Model.UserItems.Count))</h5>
                <div class="grid-container grid-container--fit">
                    @foreach (Item item in Model.UserItems)
                    {
                        <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="attentionHallItemSelected(this);" id="@item.SelectionId">
                            <div>
                                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                                <div>
                                    <h5>@item.Name</h5>
                                    <p><i><small>@item.Description</small></i></p>
                                </div>
                            </div>
                            <div>
                                @if (item.Tier > RelicId.None)
                                {
                                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                                    </div>
                                }
                                <div>
                                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                                </div>
                                <div>
                                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                        <small>
                                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                        </small>
                                    </span>
                                </div>
                                <div>
                                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.UserItems.Count == 0)
                {
                    <div class="alert alert-info">
                        You don't have any items to make a post about.
                    </div>
                }
            </div>
            <div id="matchTagsContainer" style="display: none;">
                <div class="padding-top"></div>
                @if (Model.UserMatchTags.Count > 0)
                {
                    <div class="alert alert-info no-margin-bottom">
                        Choose a Match Tag that your post is about.
                    </div>
                }
                <h5>Match Tags (@Helper.FormatNumber(Model.UserMatchTags.Count))</h5>
                <div class="grid-container grid-container--fit">
                    @foreach (MatchTag matchTag in Model.UserMatchTags)
                    {
                        <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="attentionHallMatchTagSelected(this);" id="@matchTag.TagUsername">
                            <div class="center-circle">
                                <div class="circle" id="colored-by-username-@matchTag.TagUsername" data-user-color="@matchTag.Color" value="@matchTag.TagUsername">
                                    @matchTag.TagUsername.Substring(0, 1).ToUpper()
                                </div>
                            </div>
                            <div>
                                <h5><a href="/User/@matchTag.TagUsername">@matchTag.TagUsername</a></h5>
                                <h5><small>@Helper.FormatNumber(matchTag.Wins) Win@(matchTag.Wins == 1 ? "" : "s")</small></h5>
                            </div>
                        </div>
                    }
                </div>
                @if (Model.UserMatchTags.Count == 0)
                {
                    <div class="alert alert-info">
                        You don't have any Match Tags to make a post about.
                    </div>
                }
            </div>
        </div>
        <input type="hidden" id="selectedAccomplishment" name="selectedAccomplishment" />
        <input type="hidden" id="selectedItem" name="selectedItem" />
        <input type="hidden" id="selectedMatchTag" name="selectedMatchTag" />
    }
    else
    {
        <input type="hidden" name="editId" value="@Model.AttentionHallPost.Id" />
    }
    @Html.AntiForgeryToken()
    <div class="form-group padding-top">
        <button type="submit" class="btn btn-success">@(Model.AttentionHallPost == null ? "Create" : "Edit") Post</button>
        <a href="/AttentionHall?id=@(Model.AttentionHallPost?.Id ?? 0)" class="btn btn-secondary">Never mind</a>
    </div>
</form>