﻿@model MatchingColorsViewModel

<h5 id="matching-cards-seen">
    Matching Cards 
    @if (Model.MatchingColor == CardColor.None)
    {
        <span>(@Helper.FormatNumber(Model.MatchingCards.FindAll(x => !x.IsHidden).Count)/@Helper.FormatNumber(Model.MatchingCards.Count))</span>
    }
    else
    {
        <span class="label label-success">@Model.MatchingColor Match</span>
    }
</h5>
<div class="grid-container grid-container--fit">
    @foreach (MatchingCard matchingCard in Model.MatchingCards)
    {
        <div class="grid-container-no-padding grid-element text-center matching-color-card @(Model.MatchingColor != CardColor.None && matchingCard.Color == Model.MatchingColor ? "itemSelected win-green-border" : "clickable") @(Model.CanPlayMatchingCards || !matchingCard.IsHidden ? "" : "faded") @(matchingCard.IsHidden && Model.CanPlayMatchingCards ? "grow" : "")" onclick="@(matchingCard.IsHidden || matchingCard.Color != Model.MatchingColor ? $"revealMatchingCard({matchingCard.Position});" : "")">
            <div class="active-matching-color-card">
                <img class="item-dimensions" src="@Helper.GetImageUrl(matchingCard.ImageUrl)" alt="@matchingCard.Description" title="@matchingCard.Description">
                <div>
                    <h5>@(matchingCard.IsHidden ? "" : matchingCard.Color.ToString())</h5>
                </div>
            </div>
        </div>
    }
</div>