﻿@model MatchingColorsViewModel

<div class="gray-container">
    Flip over a Color Card to reveal its color. If <b>3 Color Cards</b> have the same color, you'll earn <b class="win-green">@Resources.Currency</b>!
    You can play Matching Colors once every <b>8 hours</b>.
    <div class="small-padding-top">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#color-points">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Color Rewards
        </a>
    </div>
    <div id="color-points" class="collapse small-padding-top">
        <ul>
            <li>
                3 Red: <b class="win-green">@Helper.GetFormattedPoints(500)</b>
            </li>
            <li>
                3 Orange: <b class="win-green">@Helper.GetFormattedPoints(1000)</b>
            </li>
            <li>
                3 Yellow: <b class="win-green">@Helper.GetFormattedPoints(2500)</b>
            </li>
            <li>
                3 Green: <b class="win-green">@Helper.GetFormattedPoints(5000)</b>
            </li>
            <li>
                3 Blue: <b class="win-green">@Helper.GetFormattedPoints(7500)</b>
            </li>
            <li>
                3 Purple: <b class="win-green">@Helper.GetFormattedPoints(10000)</b>
            </li>
        </ul>
    </div>
</div>
<div id="matchingColorsPartialView">
    @await Html.PartialAsync("_MatchingColorsMainPartial", Model)
</div>