﻿@model CrystalBallViewModel

<div class="gray-container">
    <h5>How to play</h5>
    <ul>
        <li>
            Remember the pattern of the colors shown on the Crystal Ball to win and earn <b class="win-green">@Resources.Currency</b>!
        </li>
        <li>
            If you keep consecutively winning, your <b>play streak</b> will increase and you'll earn more <b class="win-green">@Resources.Currency</b> the next time you play!
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="You can win a maximum of @Helper.GetFormattedPoints(25000) per game."></span>
        </li>
        <li>
            You can only play once every <b>6 hours</b>.
        </li>
    </ul>
</div>
<h5 id="current-streak">Play Streak: <b class="@(Model.Streak > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.Streak)x</b></h5>
@if (!Model.CanPlayCrystalBall)
{
    <h5>Total Earned: <b class="@(Model.Streak > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Math.Min(25000, Model.Streak * 500))</b></h5>
}
<div class="text-center">
    <div id="crystal-ball-color" class="crystal-ball-color" style="display: none;"><h5 class="extra-extra-large-padding-top"><b id="color-name"></b></h5></div>
    <img src="@Helper.GetImageUrl("CrystalBall/CrystalBall.png")" width="115" height="150" />
</div>
@if (!Model.HasSeenPattern)
{
    <form id="start-form" action="@Url.Action("Start", "CrystalBall")" method="POST" class="large-padding-top" onsubmit="updateCrystalBall(event, this, true);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.CanPlayCrystalBall ? "" : "disabled")">Start a New Game!</button>
    </form>
}
<div id="color-choices" class="padding-top" style="@(Model.HasSeenPattern ? "" : "display: none;")">
    <h5>Tap on the colors in the order you saw them:</h5>
    <div class="grid-container grid-container--fit">
        @foreach (CardColor color in Model.Colors)
        {
            <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="crystalBallColorSelected(this);" id="@color">
                <div>
                    <div class="crystal-ball-color-choice" style="background-color: @color;"></div>
                    <div>
                        <h5>@color</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>