﻿@model CraftingViewModel

@if (Model.BetterCraftingLuckExpiryDate > DateTime.UtcNow)
{
    <p>
        <div class="alert alert-success">
            <h5>
                You used a <b>Berry Crafting Candy Card</b> and have better crafting luck for the next <b>@Model.BetterCraftingLuckExpiryDate.GetTimeUntil()</b>!
            </h5>
        </div>
    </p>
}
<form id="crafting-form" class="text-center" action="@Url.Action("Craft", "Crafting")" method="POST" onsubmit="updateCrafting(event, this, true);">
    <input type="hidden" id="item1" name="item1" />
    <input type="hidden" id="item2" name="item2" />
    <input type="hidden" id="item3" name="item3" />
    @Html.AntiForgeryToken()
    <div class="form-group">
        <button id="craftButton" type="submit" class="btn btn-success disabled">Craft New Card!</button>
    </div>
</form>
<h5>Recipes (5)</h5>
<div id="recipes" class="panel-group">
    <div class="panel panel-primary-gradient">
        <div class="panel-heading clickable collapsed" data-toggle="collapse" data-parent="#recipes" data-target="#deck" onclick="resetSelectedCraftingCards();">
            <h4 class="panel-title accordion-toggle">
                @Resources.DeckCard
            </h4>
        </div>
        <div id="deck" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="primary-container">
                    <h5>
                        If you have <b>3 of the same colored Crafting Cards</b>, you can craft a <b>new @Resources.DeckCard</b> of that color. Tap on <b>3 Crafting Cards</b> to craft a new @Resources.DeckCard.
                    </h5>
                </div>
                @foreach (IGrouping<CardColor, Crafting> craftingCardGroup in Model.GroupedCraftingCards)
                {
                    if (craftingCardGroup.Key == CardColor.Pink)
                    {
                        continue;
                    }
                    <h5>@craftingCardGroup.Key (@Helper.FormatNumber(craftingCardGroup.Count()))</h5>
                    <div class="scrolling-wrapper">
                        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                        <div class="scrolling-container">
                            @foreach (Crafting craftingCard in craftingCardGroup)
                            {
                                <div class="scrolling-grid-element text-center clickable grow crafting-card" onclick="craftingCardSelected(this);" id="@craftingCard.SelectionId">
                                    <div>
                                        <img class="item-dimensions" src="@Helper.GetImageUrl(craftingCard.ImageUrl)" alt="@craftingCard.Description" title="@craftingCard.Description">
                                        <div>
                                            <h5>@craftingCard.Name</h5>
                                            <p><i><small>@craftingCard.Description</small></i></p>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(craftingCard.GetAgeInHours()) hour@(craftingCard.GetAgeInHours() == 1 ? "" : "s") old">
                                                <small>
                                                    @craftingCard.Category <span class="@Helper.GetItemConditionColor(craftingCard.Condition)">(@craftingCard.Condition)</span>
                                                </small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="small-padding-top"></div>
                }
                @if (Model.GroupedCraftingCards.Count(x => x.Key != CardColor.Pink) == 0)
                {
                    <div class="alert alert-info margin-top no-margin-bottom">
                        You don't have any usable Crafting Cards to make a new @Resources.DeckCard yet.
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-pink">
        <div class="panel-heading collapsed clickable" data-toggle="collapse" data-parent="#recipes" data-target="#enhancer" onclick="resetSelectedCraftingCards();">
            <h4 class="panel-title accordion-toggle">
                Enhancer
            </h4>
        </div>
        <div id="enhancer" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="primary-container">
                    <h5>
                        If you have <b>2 pink Crafting Cards</b> and <b>1 Crafting Card of any color</b>, you can craft a <b>new Enhancer</b>. The stronger the 3rd Crafting Card, the better the Enhancer. Tap on <b>3 Crafting Cards</b> to craft a new Enhancer.
                    </h5>
                </div>
                @if (Model.GroupedCraftingCards.Count(x => x.Key == CardColor.Pink) == 0)
                {
                    <div class="alert alert-info margin-top no-margin-bottom">
                        You don't have any pink Crafting Cards to craft a new Enhancer.
                    </div>
                }
                else
                {
                    @foreach (IGrouping<CardColor, Crafting> craftingCardGroup in Model.GroupedCraftingCards.OrderByDescending(x => x.Key == CardColor.Pink).ToList())
                    {
                        <h5>@craftingCardGroup.Key (@Helper.FormatNumber(craftingCardGroup.Count()))</h5>
                        <div class="scrolling-wrapper">
                            <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                            <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                            <div class="scrolling-container">
                                @foreach (Crafting craftingCard in craftingCardGroup)
                                {
                                    <div class="scrolling-grid-element text-center clickable grow crafting-card" onclick="craftingCardSelected(this);" id="@craftingCard.SelectionId">
                                        <div>
                                            <img class="item-dimensions" src="@Helper.GetImageUrl(craftingCard.ImageUrl)" alt="@craftingCard.Description" title="@craftingCard.Description">
                                            <div>
                                                <h5>@craftingCard.Name</h5>
                                                <p><i><small>@craftingCard.Description</small></i></p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(craftingCard.GetAgeInHours()) hour@(craftingCard.GetAgeInHours() == 1 ? "" : "s") old">
                                                    <small>
                                                        @craftingCard.Category <span class="@Helper.GetItemConditionColor(craftingCard.Condition)">(@craftingCard.Condition)</span>
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="small-padding-top"></div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-orange">
        <div class="panel-heading collapsed clickable" data-toggle="collapse" data-parent="#recipes" data-target="#crafting" onclick="resetSelectedCraftingCards();">
            <h4 class="panel-title accordion-toggle">
                Crafting Card
            </h4>
        </div>
        <div id="crafting" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="primary-container">
                    <h5>
                        If you have <b>3 of the same colored Partial Crafting Cards</b>, you can craft a <b>new Crafting Card</b> of that color. Tap on <b>3 Partial Crafting Cards</b> to craft a new Crafting Card.
                    </h5>
                </div>
                @foreach (IGrouping<CardColor, Crafting> craftingPartialCardGroup in Model.GroupedPartialCraftingCards)
                {
                    <h5>@craftingPartialCardGroup.Key (@Helper.FormatNumber(craftingPartialCardGroup.Count()))</h5>
                    <div class="scrolling-wrapper">
                        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                        <div class="scrolling-container">
                            @foreach (Crafting craftingPartialCard in craftingPartialCardGroup)
                            {
                                <div class="scrolling-grid-element text-center clickable grow crafting-card" onclick="craftingCardSelected(this);" id="@craftingPartialCard.SelectionId">
                                    <div>
                                        <img class="item-dimensions" src="@Helper.GetImageUrl(craftingPartialCard.ImageUrl)" alt="@craftingPartialCard.Description" title="@craftingPartialCard.Description">
                                        <div>
                                            <h5>@craftingPartialCard.Name</h5>
                                            <p><i><small>@craftingPartialCard.Description</small></i></p>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(craftingPartialCard.GetAgeInHours()) hour@(craftingPartialCard.GetAgeInHours() == 1 ? "" : "s") old">
                                                <small>
                                                    @craftingPartialCard.Category <span class="@Helper.GetItemConditionColor(craftingPartialCard.Condition)">(@craftingPartialCard.Condition)</span>
                                                </small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="small-padding-top"></div>
                }
                @if (Model.GroupedPartialCraftingCards.Count == 0)
                {
                    <div class="alert alert-info margin-top no-margin-bottom">
                        You don't have any usable Partial Crafting Cards to make a new Crafting Card yet.
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-gold">
        <div class="panel-heading collapsed clickable" data-toggle="collapse" data-parent="#recipes" data-target="#theme" onclick="resetSelectedCraftingCards();">
            <h4 class="panel-title accordion-toggle">
                Theme Card
            </h4>
        </div>
        <div id="theme" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="primary-container">
                    <h5>
                        If you have <b>3 Theme Cards of the same type</b>, you can craft a <b>new Deck Theme Card</b> of that type. Tap on <b>3 Theme Cards</b> to craft a new Deck Theme Card.
                    </h5>
                </div>
                @foreach (IGrouping<ItemTheme, Theme> themeCardGroup in Model.GroupedThemeCards)
                {
                    <h5>@themeCardGroup.Key (@Helper.FormatNumber(themeCardGroup.Count()))</h5>
                    <div class="scrolling-wrapper">
                        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                        <div class="scrolling-container">
                            @foreach (Theme themeCard in themeCardGroup)
                            {
                                <div class="scrolling-grid-element text-center clickable grow crafting-card" onclick="craftingCardSelected(this);" id="@themeCard.SelectionId">
                                    <div>
                                        <img class="item-dimensions" src="@Helper.GetImageUrl(themeCard.ImageUrl)" alt="@themeCard.Description" title="@themeCard.Description">
                                        <div>
                                            <h5>@themeCard.Name</h5>
                                            <p><i><small>@themeCard.Description</small></i></p>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(themeCard.GetAgeInHours()) hour@(themeCard.GetAgeInHours() == 1 ? "" : "s") old">
                                                <small>
                                                    @themeCard.Category <span class="@Helper.GetItemConditionColor(themeCard.Condition)">(@themeCard.Condition)</span>
                                                </small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="small-padding-top"></div>
                }
                @if (Model.GroupedThemeCards.Count == 0)
                {
                    <div class="alert alert-info margin-top no-margin-bottom">
                        You don't have any usable Theme Cards to make a new Deck Theme Card yet.
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-purple">
        <div class="panel-heading collapsed clickable" data-toggle="collapse" data-parent="#recipes" data-target="#other" onclick="resetSelectedCraftingCards();">
            <h4 class="panel-title accordion-toggle">
                Other
            </h4>
        </div>
        <div id="other" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="primary-container">
                    <h5>
                        Sometimes crafting <b>3 of the same card</b> can create a <b>new card</b>. If you have any that apply, they'll be shown below.
                    </h5>
                </div>
                @foreach (IGrouping<string, Item> otherGroup in Model.GroupedOtherCards)
                {
                    <h5>@otherGroup.Key (@Helper.FormatNumber(otherGroup.Count()))</h5>
                    <div class="scrolling-wrapper">
                        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                        <div class="scrolling-container">
                            @foreach (Item item in otherGroup)
                            {
                                <div class="scrolling-grid-element text-center clickable grow other-card" onclick="craftingCardSelected(this);" id="@item.SelectionId">
                                    <div>
                                        <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                                        <div>
                                            <h5>@item.Name</h5>
                                            <p><i><small>@item.Description</small></i></p>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                                <small>
                                                    @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                                </small>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="small-padding-top"></div>
                }
                @if (Model.GroupedOtherCards.Count == 0)
                {
                    <div class="alert alert-info margin-top no-margin-bottom">
                        You don't have any cards that apply right now.
                    </div>
                }
            </div>
        </div>
    </div>
</div>