﻿@model CraftingViewModel

@if (Model.FurnaceItem == null)
{
    <h5>Frozen Items (@Helper.FormatNumber(Model.FrozenItems.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Frozen frozenItem in Model.FrozenItems)
        {
            <div id="@frozenItem.SelectionId" class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(frozenItem.ImageUrl)" alt="@frozenItem.Description" title="@frozenItem.Description">
                    <div>
                        <h5>@frozenItem.Name</h5>
                        <p><i><small>@frozenItem.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (frozenItem.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @frozenItem.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{frozenItem.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(frozenItem.GetAgeInHours()) hour@(frozenItem.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @frozenItem.Category <span class="@Helper.GetItemConditionColor(frozenItem.Condition)">(@frozenItem.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(frozenItem.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("AddToFurnace", "Crafting")" method="POST" onsubmit="updateCrafting(event, this, false)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@frozenItem.SelectionId" />
                            <button type="submit" class="btn btn-primary btn-xs">Defrost Item</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.FrozenItems.Count == 0)
    {
        <div class="alert alert-info">
            You don't have any frozen items that can be defrosted.
        </div>
    }
}
else
{
    <h5>Furnace Item</h5>
    <div class="grid-element text-center center-block card-width">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl(Model.FurnaceItem.ImageUrl)" alt="@Model.FurnaceItem.Description" title="@Model.FurnaceItem.Description">
            <div>
                <h5>@Model.FurnaceItem.Name</h5>
                <p><i><small>@Model.FurnaceItem.Description</small></i></p>
            </div>
        </div>
        <div>
            @if (Model.DefrostDate <= DateTime.UtcNow)
            {
                @if (Model.FurnaceItem.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.FurnaceItem.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.FurnaceItem.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(Model.FurnaceItem.TotalUses > 0 ? $"{Model.FurnaceItem.TotalUses} Use{(Model.FurnaceItem.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
            }
            <div>
                <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(Model.FurnaceItem.GetAgeInHours()) hour@(Model.FurnaceItem.GetAgeInHours() == 1 ? "" : "s") old">
                    <small>
                        @Model.FurnaceItem.Category <span class="@Helper.GetItemConditionColor(Model.FurnaceItem.Condition)">(@Model.FurnaceItem.Condition)</span>
                    </small>
                </span>
            </div>
            <div>
                <small class="text-muted">~@Helper.GetFormattedPoints(Model.FurnaceItem.Points)</small>
            </div>
        </div>
    </div>
    <div class="padding-top"></div>
    @if (Model.DefrostDate > DateTime.UtcNow)
    {
        <p>
            <div class="alert alert-info no-margin-bottom">
                Your item is in the Furnace and will be defrosted in <b>@Model.DefrostDate.GetTimeUntil()</b>.
            </div>
        </p>
    }
    else
    {
        <p>
            <div class="alert alert-success no-margin-bottom">
                <h5>
                    Your item has finished defrosting and revealed itself to be "<b>@Model.FurnaceItem.Name</b>"!
                </h5>
            </div>
        </p>
        <form action="@Url.Action("GetFurnaceItem", "Crafting")" method="POST" onsubmit="updateCrafting(event, this, false)" class="small-padding-top">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Get Item</button>
        </form>
    }
}