﻿@model CraftingViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Crafting">Crafting</a></li>
    <li class="active"><a href="#">Furnace</a></li>
</ul>
<p>
    <div class="gray-container">
        You can use the Furnace to defrost a <b>frozen item</b>. It will take between <b>1 to 3 days</b> to defrost it.
    </div>
</p>
<div id="craftingFurnacePartialView">
    @await Html.PartialAsync("_FurnaceMainPartial", Model)
</div>