﻿@model CraftingViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Crafting</a></li>
    <li><a href="/Crafting/Furnace">Furnace</a></li>
</ul>
<p>
    <div class="gray-container">
        You can craft new @Resources.DeckCards, Enhancers, Crafting Cards, and Theme Cards. Tap on a <b>Recipe</b> below to get started!
    </div>
</p>
<div id="craftingPartialView">
    @await Html.PartialAsync("_CraftingMainPartial", Model)
</div>