﻿@model TowerViewModel

<div class="gray-container">
    By defeating <b>The Right-Side Up Guard</b>, you gained access to the Tower. Challenge as many CPUs as you can while they get progessively harder. As you climb the Tower, your rewards will be <b>greater</b> but if you lose, you'll have to <b>restart</b> at the beginning.
</div>
<div class="row padding-top">
    <div class="col-sm-6">
        <div class="panel panel-default text-center no-margin-bottom">
            <div class="panel-heading">
                <h5 class="no-margin-top no-margin-bottom">
                    Current Floor
                </h5>
            </div>
            <div class="panel-body">
                <h2 class="no-margin-top no-margin-bottom">@Helper.FormatNumber(Model.CurrentStreak + 1)</h2>
            </div>
        </div>
    </div>
    <div class="padding-top visible-xs"></div>
    <div class="col-sm-6">
        <div class="panel panel-default text-center no-margin-bottom">
            <div class="panel-heading">
                <h5 class="no-margin-top no-margin-bottom">
                    Record Floor
                </h5>
            </div>
            <div class="panel-body">
                <h2 class="no-margin-top no-margin-bottom">@Helper.FormatNumber(Model.RecordStreak + 1)</h2>
            </div>
        </div>
    </div>
</div>
<h5>Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
<div class="scrolling-wrapper">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
        @foreach (Card card in Model.Deck)
        {
            <div class="scrolling-grid-element text-center clickable" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5 class="small-margin-bottom">@card.Name</h5>
                    </div>
                </div>
                <div class="push-down-class">
                    @if  (card.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<form class="large-padding-top" action="@Url.Action("ChallengeTower", "Stadium")" method="POST" onsubmit="updateTower(event, this, false)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.Deck.Count == Helper.GetMaxDeckSize() && Model.Deck.All(x => x.Condition < ItemCondition.Unusable) ? "" : "disabled")"><b>Climb the Tower!</b></button>
</form>
<div class="large-padding-top"></div>
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#recent"><h5>Monthly Climbs</h5></a></li>
    <li><a data-toggle="tab" href="#top"><h5>All-Time <span class="hidden-xxs">Climbers</span></h5></a></li>
</ul>
<div class="tab-content padding-top">
    <div class="tab-pane fade active in" id="recent">
        <div class="panel panel-primary">
            <div class="panel-heading">Top 50 Monthly Climbs</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Highest Floor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TowerRanking towerRanking in Model.RecentTowerRankings)
                        {
                            <tr>
                                <td data-title="Rank"><b class="@(towerRanking.Rank == 1 ? "gold-color" : towerRanking.Rank == 2 ? "silver-color" : towerRanking.Rank == 3 ? "bronze-color" : "")">@Html.Raw(towerRanking.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @towerRanking.Rank</b></td>
                                <td data-title="Username"><a href='/User/@towerRanking.Username'>@towerRanking.Username</a></td>
                                <td data-title="Highest Floor">@Helper.FormatNumber(towerRanking.TopFloorLevel)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.TowerRankings.Count == 0)
        {
            <div class="alert alert-info behind-margin-top visible-xs">
                Nobody has climbed any floors in The Tower this week.
            </div>
        }
    </div>
    <div class="tab-pane fade" id="top">
        <div class="panel panel-primary">
            <div class="panel-heading">Top 50 Highest Climbers</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Username</th>
                            <th>Highest Floor</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (TowerRanking towerRanking in Model.TowerRankings)
                        {
                            <tr>
                                <td data-title="Rank"><b class="@(towerRanking.Rank == 1 ? "gold-color" : towerRanking.Rank == 2 ? "silver-color" : towerRanking.Rank == 3 ? "bronze-color" : "")">@Html.Raw(towerRanking.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @towerRanking.Rank</b></td>
                                <td data-title="Username"><a href='/User/@towerRanking.Username'>@towerRanking.Username</a></td>
                                <td data-title="Highest Floor">@Helper.FormatNumber(towerRanking.TopFloorLevel)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.TowerRankings.Count == 0)
        {
            <div class="alert alert-info behind-margin-top visible-xs">
                Nobody has climbed any floors in The Tower yet.
            </div>
        }
    </div>
</div>