﻿@model WishingStoneViewModel

<div id="wishingScrollContainer" class="message-container">
    <div id="wishingContainer">
        @if (Model.Wishes.Count == 0)
        {
            <div class="alert alert-info">
                There are <b>no wishes</b>! Make one below and it might come true.
            </div>
        }
        @{int i = 0;}
        @foreach (Wish wish in Model.Wishes)
        {
            <div>
               <div class="pull-left small-margin-right small-padding-bottom">
                    @if (string.IsNullOrEmpty(wish.DisplayPicUrl))
                    {
                        <div class="circle extra-small-circle" id="colored-by-username-@wish.Id-pic" data-user-color="@wish.Color" value="@wish.Username">
                            @wish.Username.Substring(0, 1).ToUpper()
                        </div>
                    }
                    else
                    {
                        <img class="img-circle display-image display-image-small" src="@wish.DisplayPicUrl" />
                    }
                </div>
                <h5 class="group-message-margin-bottom">
                    <a class="@(wish.IsGranted ? "orange-color orange-hover" : "")" href="/User/@wish.Username">@wish.Username</a>
                    @if (wish.IsGranted)
                    {
                        <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Wish Granted"></span>
                    }
                </h5>
            </div>
            <div id="colored-by-username-@wish.Id" data-user-color="@wish.Color" class="message-bubble @((DateTime.UtcNow - wish.CreatedDate).TotalSeconds < 2 ? "animated fadeInLeft" : "")" value="@wish.Username" data-toggle="tooltip" data-placement="right" title="@wish.CreatedDate.GetTimeSince()">
                @wish.Content
            </div>
            <h6 class="inline extra-small-margin-left no-margin-top no-margin-bottom">
                <a href="#" onclick="$('#wish').val($('#colored-by-username-@wish.Id').text().trim()); scrollToId('wish');"><span class="far fa-copy"></span></a>
            </h6>
            @if (wish.IsGranted)
            {
                <h6 class="no-margin-bottom extra-extra-extra-large-margin-left orange-color"><b><span class="fas fa-magic"></span> Hooray! This wish was granted!</b></h6>
            }
            <div class="small-padding-top"></div>
            i++;
        }
    </div>
</div>
<form action="@Url.Action("MakeWish", "WishingStone")" method="POST" onsubmit="submitWishingStoneForm(event, this);" class="padding-top">
    <div id="makeWish-container" class="form-group gray-container">
        @Html.AntiForgeryToken()
        <div class="input-group">
            <input type="text" class="form-control" id="wish" name="wish" placeholder="Your wish..." autocomplete="off" autofocus maxlength="250" required>
            <span class="input-group-btn "><button type="submit" class="btn btn-success btn-rounded @(Model.CanMakeWish ? "" : "disabled")">Wish</button></span>
        </div>
    </div>
</form>