﻿@model WishingStoneViewModel

<p>
    <div class="gray-container">
        <h5>How it works</h5>
        <ul>
            <li>
                You can mine the <b>Wishing Stone Quarry</b> for @Resources.Currency.
            </li>
            <li>
                You're currently able to mine <b>@Helper.FormatNumber(Model.MaxQuarryStonesCanMine) stones</b> every <b>10 minutes</b>.
            </li>
            <li id="quarry-current-haul">
                Current Haul: <b class="@(Model.TotalEarned > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Model.TotalEarned)</b> (Mine up to <b class="@(Model.QuarryStonesLeft > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.QuarryStonesLeft) more stone@(Model.QuarryStonesLeft == 1 ? "" : "s")</b>).
            </li>
        </ul>
    </div>
</p>
@if (Model.HasBetterLuck)
{
    <p>
        <div class="alert alert-success">
            <h5>
                Your <b>Mint Quarry Candy Card</b> gives you double your regular earnings at the Quarry!
            </h5>
        </div>
    </p>
}
<div class="small-padding-top"></div>
<div class="grid-container grid-container--fit">
    @foreach (QuarryStone quarryStone in Model.QuarryStones)
    {
        <div class="grid-container-no-padding grid-element text-center quarry-stone @(Model.CanMine ? "clickable" : "faded")  @(quarryStone.MineAmount > 0 ? quarryStone.MineAmount >= 500 ? "gold-border" : "win-green-border" : "") @(quarryStone.MineAmount != 0 ? "darker-gray-selected" : Model.CanMine ? "grow grow-mobile" : "")" onclick="mineQuarryStone(@quarryStone.Position);">
            @if (quarryStone.IsRevealed)
            {
                <div class="quarry-stone-height">
                    <h4 id="quarry-stone-@quarryStone.Position" data-count="@(quarryStone.MineAmount == -1 ? 0 : quarryStone.MineAmount)" class="@(quarryStone.MineAmount > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(quarryStone.MineAmount == -1 ? 0 : quarryStone.MineAmount)</h4>
                </div>
            }
            else
            {
                <div class="active-quarry-stone">
                    <img class="quarry-stone-dimensions" src="@Helper.GetImageUrl(quarryStone.ImageUrl)" alt="@quarryStone.Description" title="@quarryStone.Description">
                </div>
            }
        </div>
    }
</div>