﻿@model WishingStoneViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Wishing Stone</a></li>
    <li><a href="/WishingStone/Quarry">The Quarry</a></li>
</ul>
<p>
    <div class="gray-container">
        Every <b>2 hours</b>, you can wish for a new item. It's important to be <b>very clear</b> and write out the name of the item you want. Who knows? The Wishing Stone might grant your wish.
    </div>
</p>
@if (Model.HasBetterLuck)
{
    <p>
        <div class="alert alert-success">
            <h5>
                Your Group Power grants you better luck with The Wishing Stone.
            </h5>
        </div>
    </p>
}
<div id="wishingStonePartialView" class="padding-top">
    @await Html.PartialAsync("_WishingStoneMainPartial", Model)
</div>