﻿@model WishingStoneViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/WishingStone">Wishing Stone</a></li>
    <li class="active"><a href="#">The Quarry</a></li>
</ul>
<div id="wishingStoneQuarryPartialView">
    @await Html.PartialAsync("_WishingStoneQuarryPartial", Model)
</div>