﻿@model PlazaViewModel

<div class="modal fade" id="modal-locations-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Exploring @Resources.SiteName</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img class="padding-bottom shadow animated fadeInUp" src="@Helper.GetImageUrl("Locations/Store.png")" width="90" height="90" />
                    <h4>
                        Welcome to the <b>Plaza</b>!
                    </h4>
                </div>
                <div class="extra-small-padding-top"></div>
                <div class="primary-container">
                    <ul class="small-margin-bottom">
                        <li class="animated fadeInDown">
                            <h5 class="small-margin-top">
                                Earn <b class="win-green">@Resources.CurrencyFull (@Resources.Currency)</b> by playing games, exploring, and more!
                            </h5>
                        </li>
                        <li class="animated fadeInDown">
                            <h5>
                                Buy and earn new cards to help you <b class="win-green">win</b> at the Stadium!
                            </h5>
                        </li>
                        <li class="animated fadeInDown">
                            <h5 class="no-margin-bottom">
                                You should start by checking out the <b>Fair</b>!
                            </h5>
                        </li>
                    </ul>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal" onclick="scrollToId('plazaPartialView'); $('#Fair-img').addClass('animated tada');"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>