﻿@model PlazaViewModel

<div class="modal fade" id="modal-locations-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Favoriting Locations</h4>
            </div>
            <div class="modal-body text-center">
                <div class="animated fadeInUp"><span class="fas fa-star orange-color very-very-large-font"></span></div>
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h4>Like certain locations?</h4>
                    <h5 class="small-padding-top">
                        Tap the <b>orange star</b> next a location's name to favorite it and quickly access it from your menu and the Plaza!
                    </h5>
                </div>
                <div class="padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>