﻿@model PlazaViewModel

@if (Model.LastLocation != null && Model.ShowHiddenLocation == FeedCategory.None)
{
    <input type="hidden" id="lastLocation" value="@Model.LastLocation" />
}
@foreach (IGrouping<LocationType, Location> groupedLocations in Model.Locations)
{
    <h4 id="@groupedLocations.Key">
        <b class="label label-@(groupedLocations.Key == LocationType.Favorites ? "success" : "primary") padding-left padding-right padding-top padding-bottom tabbed-border-radius shadow clickable" onclick="hideShowPlazaCategory('@groupedLocations.Key');">
            <span class="shadow">
                @if (groupedLocations.Key == LocationType.Favorites)
                {
                    <span class="fas fa-star orange-color extra-extra-large-behind-margin-top"></span>
                }
                else if (groupedLocations.Key == LocationType.Games)
                {
                    <span class="fas fa-dice-six gold-color extra-extra-large-behind-margin-top"></span>
                }
                else if (groupedLocations.Key == LocationType.Shops)
                {
                    <span class="fas fa-cart-plus gold-color extra-extra-large-behind-margin-top"></span>
                }
                else if (groupedLocations.Key == LocationType.Improvements)
                {
                    <span class="fas fa-toolbox gold-color extra-extra-large-behind-margin-top"></span>
                }
                else if (groupedLocations.Key == LocationType.Knowledge)
                {
                    <span class="fas fa-book-open gold-color extra-extra-large-behind-margin-top"></span>
                }
                @groupedLocations.Key.GetDisplayName() (@Helper.FormatNumber(groupedLocations.Count()))
            </span>
        </b>
        <span id="@(groupedLocations.Key)-chevron" class="fas fa-chevron-up text-muted clickable pull-right extra-small-margin-top" onclick="hideShowPlazaCategory('@groupedLocations.Key');"></span>
    </h4>
    List<Location> categoryLocations = groupedLocations.Select(x => x).ToList();
    if (Model.ExpandLocations)
    {
        <div id="@groupedLocations.Key-container" class="grid-location-container grid-container--fit @groupedLocations.Key-section">
            @foreach (Location location in categoryLocations.OrderByDescending(x => x.IsFavorited).ToList())
            {
                <a id="@location.LocationId" class="grid-container-no-padding grid-location-element location-element text-center clickable link-remove-decoration" href="@location.Url@(string.IsNullOrEmpty(Model.SearchQuery) || location.Tags.Count == 0 ? "" : $"?tag={location.Tags.First()}")">
                    <div>
                        <img id="@location.LocationId-img" class="grow grow-mobile img-rounded @(location.IsFaded ? "faded" : "")" src="@location.ImageUrl" width="@(85 * Math.Min(1.2, location.WidthToHeightRatio))" height="85" alt="@location.Description" title="@location.Description" />
                        <h5 class="large-padding-top">
                            <b>
                                @location.Name
                                <span class="extra-small-margin-left" data-toggle="tooltip" data-placement="top" title="@(location.IsFavorited ? "Unfavorite" : "Favorite")"><span class="clickable orange-color @(location.IsFavorited ? "fas fa-star" : "far fa-star")" onclick="updateLocation(event, document.forms['searchLocationsForm'], '@location.LocationId', '@groupedLocations.Key'); event.stopPropagation();"></span></span>
                            </b>
                        </h5>
                        <h5 class="text-muted dotted-top-border"><small><i class="smaller-font">@location.Description</i></small></h5>
                    </div>
                    <div>
                        @if (groupedLocations.Key == LocationType.Favorites)
                        {
                            <div class="draggable-bar draggable text-muted">
                                <span class="fas fa-bars"></span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Model.SearchQuery) && location.Tags.Count > 0)
                        {
                            <div class="small-padding-bottom"><span class="label label-default">@location.Tags.First()</span></div>
                        }
                    </div>
                </a>
            }
        </div>
    }
    else
    {
         <div id="@groupedLocations.Key" class="scrolling-wrapper @groupedLocations.Key-section">
            <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
            <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
            <div id="@groupedLocations.Key-container" class="scrolling-container large-behind-margin-top">
                @foreach (Location location in categoryLocations)
                {
                    <a id="@location.LocationId" class="scrolling-grid-location-element location-element text-center clickable link-remove-decoration @(string.IsNullOrEmpty(Model.SearchQuery) && location.LocationCategory == LocationCategory.More && !location.IsFavorited ? "display-none" : "")" href="@location.Url@(string.IsNullOrEmpty(Model.SearchQuery) || location.Tags.Count == 0 ? "" : $"?tag={location.Tags.First()}")">
                        @if (groupedLocations.Key == LocationType.Favorites)
                        {
                            <div class="small-padding-top"></div>
                        }
                        else
                        {
                            List<Location> matchingLocations = categoryLocations.FindAll(x => x.LocationCategory == location.LocationCategory);
                            bool isFirst = location == matchingLocations.First();
                            bool isLast  = location == matchingLocations.Last();
                            <div class="location-top-bar top-bar-@location.LocationCategory.ToString().ToLower() @(isLast && location.LocationCategory != LocationCategory.More ? "white-right-border" : "")">
                                @if (isFirst)
                                {
                                    <h6 class="no-margin-top no-margin-bottom">
                                        <b class="shadow">
                                            @if (location.LocationCategory == LocationCategory.Popular)
                                            {
                                                <span><span class="glyphicon glyphicon-star"></span> Popular (@Helper.FormatNumber(categoryLocations.Count(x => x.LocationCategory == LocationCategory.Popular)))</span>
                                            }
                                            else if (location.LocationCategory == LocationCategory.Limited)
                                            {
                                                <span><span class="glyphicon glyphicon-time"></span> Limited (@Helper.FormatNumber(categoryLocations.Count(x => x.LocationCategory == LocationCategory.Limited)))</span>
                                            }
                                            else if (location.LocationCategory == LocationCategory.Special)
                                            {
                                                <span><span class="fas fa-unlock"></span> Special (@Helper.FormatNumber(categoryLocations.Count(x => x.LocationCategory == LocationCategory.Special)))</span>
                                            }
                                            else if (location.LocationCategory == LocationCategory.Secret)
                                            {
                                                <span><span class="fas fa-key"></span> Secret (@Helper.FormatNumber(categoryLocations.Count(x => x.LocationCategory == LocationCategory.Secret)))</span>
                                            }
                                            else
                                            {
                                                <span><span class="glyphicon glyphicon-flag"></span> More (@Helper.FormatNumber(categoryLocations.Count(x => x.LocationCategory == LocationCategory.More)))</span>
                                            }
                                        </b>
                                    </h6>
                                }
                            </div>
                            <div class="padding-top"></div>
                        }
                        <div>
                            <img id="@location.LocationId-img" class="grow grow-mobile img-rounded @(location.IsFaded ? "faded" : "")" src="@location.ImageUrl" width="@(85 * Math.Min(1.2, location.WidthToHeightRatio))" height="85" alt="@location.Description" title="@location.Description" />
                            <h5 class="large-padding-top">
                                <b>
                                    @location.Name
                                    <span class="extra-small-margin-left" data-toggle="tooltip" data-placement="top" title="@(location.IsFavorited ? "Unfavorite" : "Favorite")"><span class="clickable orange-color @(location.IsFavorited ? "fas fa-star" : "far fa-star")" onclick="updateLocation(event, document.forms['searchLocationsForm'], '@location.LocationId', '@groupedLocations.Key'); event.stopPropagation();"></span></span>
                                </b>
                            </h5>
                            <h5 class="text-muted dotted-top-border"><small><i class="smaller-font">@location.Description</i></small></h5>
                        </div>
                        <div class="@(groupedLocations.Key == LocationType.Favorites ? "push-down-class" : "")">
                            @if (groupedLocations.Key == LocationType.Favorites)
                            {
                                <div class="draggable-bar draggable text-muted">
                                    <span class="fas fa-bars"></span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(Model.SearchQuery) && location.Tags.Count > 0)
                            {
                                <div class="small-padding-bottom"><span class="label label-default">@location.Tags.First()</span></div>
                            }
                        </div>
                    </a>
                }
                @if (string.IsNullOrEmpty(Model.SearchQuery) && categoryLocations.Any(x => x.LocationCategory == LocationCategory.More && !x.IsFavorited))
                {
                    <div id="@groupedLocations.Key-expand" class="flex-scrolling-element text-center clickable" onclick="showRemainingLocations(this);">
                        <div class="location-top-bar top-bar-more margin-top no-margin-left">
                            @if (!categoryLocations.Any(x => x.LocationCategory == LocationCategory.More && x.IsFavorited))
                            {
                                <h6 class="no-margin-top no-margin-bottom">
                                    <b class="shadow"><span class="glyphicon glyphicon-flag"></span> More (@Helper.FormatNumber(categoryLocations.Count(x => x.LocationCategory == LocationCategory.More)))</b>
                                </h6>
                            }
                        </div>
                        <div class="grow">
                            <h2 class="primary-color expand-button"><span class="fas fa-plus-circle"></span></h2>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @if (groupedLocations != Model.Locations.Last())
    {
        <div class="small-padding-top"></div>
    }
}
@if (Model.Locations.Count == 0)
{
    <div class="alert alert-info">
        @if (Model.MatchedUnavailableLocation == null)
        {
            <span>No places in the Plaza matched your search of <b>@Model.SearchQuery</b>.</span>
        }
        else if (Model.MatchedUnavailableLocation.LocationCategory == LocationCategory.Limited)
        {
            <span><b>@Model.MatchedUnavailableLocation.Name</b> is a temporary location. It is currently not available.</span>
        }
    </div>
}
@if (Model.CanShowAds)
{
    <div class="padding-top"></div>
    <div class="ad-feed stadium-message margin-bottom">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-h7+2d+3f-54+e"
            data-ad-client="ca-pub-9811434783745638"
            data-ad-slot="6313697800"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <div class="enable-ad display-none feed-container margin-bottom">
        <h4><span class="fas fa-ban lose-red"></span> Disable Your Ad Blocker</h4>
        <div class="padding-bottom">
            You have an ad blocker <b class="lose-red">enabled</b>. Please disable it for @Resources.SiteName as only <b>one developer</b> runs @Resources.SiteName and needs ads to pay for its hosting fees.
            You can pay to remove ads and help keep @Resources.SiteName running from the <a href="/SponsorSociety">Sponsor Society</a>. Thank you for your support!
        </div>
    </div>
}
@if (Model.ShowLocationsTutorial)
{
    @await Html.PartialAsync("_LocationsTutorialPartial", Model)
}
else if (Model.ShowFavoritesTutorial)
{
    @await Html.PartialAsync("_LocationsFavoritesTutorialPartial", Model)
}