﻿@model PlazaViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="@(Model.ExpandLocations ? "" : "active")"><a href="#" onclick="@(Model.ExpandLocations ? "togglePlazaView();" : "")"><h5 class="no-margin-top no-margin-bottom"><span class="fas fa-list"></span> Default View</h5></a></li>
    <li class="@(Model.ExpandLocations ? "active" : "")"><a href="#" onclick="@(Model.ExpandLocations ? "" : "togglePlazaView();")"><h5 class="no-margin-top no-margin-bottom"><span class="fas fa-expand"></span> Expanded View</h5></a></li>
</ul>
@if (Model.LocationNotAvailable)
{
    <p>
        <div class="alert alert-warning alert-warning-coloring-gradient alert-dismissible thick-border no-margin-bottom" role="alert">
            <a class="close" data-hide="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> Uh-oh!</h4>
            <h5 class="no-margin-bottom">
                This limited time location is currently not available. Don't worry, it'll come back again soon!
            </h5>
        </div>
    </p>
}
<form id="searchLocationsForm">
    <div class="form-group padding-top">
        <div class="input-group">
            <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search the Plaza..." autocomplete="off" autofocus onkeyup="delayedKeyUpUpdateLocations(event, this.form);" onkeydown="return event.key != 'Enter';" value="@Model.SearchQuery">
            <span class="input-group-btn">
                <button class="btn btn-secondary btn-rounded" onclick="$('#searchQuery').val('');"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
    </div>
</form>
<div class="extra-small-padding-top"></div>
@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success alert-success-coloring-gradient thick-border alert-dismissible" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="fas fa-check-circle"></span> Awesome!</h4>
        <h5 class="no-margin-bottom">
            @Model.SuccessMessage
        </h5>
    </div>
}
@if (Model.ShowHiddenLocation == FeedCategory.Stadium)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Challenge!</h4>
        <h5>
            A new Stadium Challenge has appeared!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/Stadium/Challenge" role="button">Take on Challenge!</a>
        </div>
    </div>
}
else if (Model.ShowHiddenLocation == FeedCategory.Merchants)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Location!</h4>
        <h5>
            The Traveling Merchants have arrived! Make sure to visit them before they leave in <b>6 hours</b>.
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/Merchants" role="button">Visit Merchants</a>
        </div>
    </div>
}
else if (Model.ShowHiddenLocation == FeedCategory.RewardsStore)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Location!</h4>
        <h5>
            The Rewards Store is open for the next <b>6 hours</b>!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/RewardsStore" role="button">Head to Store</a>
        </div>
    </div>
}
else if (Model.ShowHiddenLocation == FeedCategory.NoticeBoard)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Location!</h4>
        <h5>
            The Notice Board is open and there's a new task for you to complete!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/NoticeBoard" role="button">Check the Notice Board</a>
        </div>
    </div>
}
else if (Model.ShowHiddenLocation == FeedCategory.Warehouse)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Location!</h4>
        <h5>
            The Warehouse is open for the next <b>6 hours</b>!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/Warehouse" role="button">Visit the Warehouse</a>
        </div>
    </div>
}
else if (Model.ShowHiddenLocation == FeedCategory.SecretGifter)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Location!</h4>
        <h5>
            You can be a Secret Gifter for the next <b>24 hours</b>!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/SecretGifter" role="button">Send a Secret Gift</a>
        </div>
    </div>
}
else if (Model.ShowHiddenLocation == FeedCategory.Survey)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Location!</h4>
        <h5>
            You have <b>3 days</b> to fill out a survey!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/Survey" role="button">Complete Survey</a>
        </div>
    </div>
}
else if (Model.ShowHiddenLocation == FeedCategory.Museum)
{
    <div class="alert alert-success alert-success-coloring-gradient alert-dismissible animated bounceInLeft" role="alert">
        <a class="close" data-hide="alert">×</a>
        <h4 class="alert-heading"><span class="glyphicon glyphicon-time" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> New Location!</h4>
        <h5>
            The Museum is open for the next <b>24 hours</b>!
        </h5>
        <div class="small-padding-top">
            <a class="btn btn-success" href="/Museum" role="button">Visit the Museum</a>
        </div>
    </div>
}
<div id="plazaPartialView">
    @await Html.PartialAsync("_PlazaMainPartial", Model)
</div>
