﻿@model WarehouseViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="#" onclick="refreshWarehousePartialView(true);">Bulk Items</a></li>
    <li class="active"><a href="#">Companions</a></li>
</ul>
<p>
    <div class="gray-container">
        The Warehouse also sells <b>Companions</b>! Make sure to buy them quickly as the Warehouse closes in <b>@Model.ExpiryDate.GetTimeUntil()</b>!
    </div>
</p>
<h5>
    Companions (@Helper.FormatNumber((Model.Companions.Count)))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Companions)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b>
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("BuyCompanion", "Warehouse")" method="POST" onsubmit="updateWarehouse(event, this, false)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points && Model.CanBuy ? "" : "disabled")">Buy it!</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>