﻿@model WarehouseViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Bulk Items</a></li>
    <li><a href="#" onclick="refreshWarehousePartialView(false);">Companions</a></li>
</ul>
<p>
    <div class="gray-container">
        The Warehouse sells items <b>in bulk</b>. You can buy <b>5 of the same item</b> at a discounted rate! Make sure to buy them quickly as the Warehouse closes in <b>@Model.ExpiryDate.GetTimeUntil()</b>!
    </div>
</p>
<h5>
    Bulk Items (@Helper.FormatNumber((Model.BulkItems.Count)))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (StoreItem item in Model.BulkItems)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5 class="no-margin-bottom small-margin-bottom">@item.Name</h5>
                    <div class="label label-success">5 Items</div>
                    <div class="padding-top"></div>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= item.Cost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Cost)</b>
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("BuyBulk", "Warehouse")" method="POST" onsubmit="updateWarehouse(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Cost && Model.CanBuy ? "" : "disabled")">Buy 5!</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>