﻿@model IntroViewModel

<h2 class="animated fadeInDown">
    <b>Basics Learned!</b>
</h2>
<h5 class="fade-in">
    <span class="fas fa-coins win-green"></span>
    To improve your deck, you'll need <b class="win-green">@Resources.CurrencyFull (@Resources.Currency)</b>. You can use it to buy new cards (also known as items) at the Plaza!
</h5>
<div id="cards" class="stackable-cards-grid padding-top animated fadeIn">
    <div class="faded-white"></div>
    <div class="stackable-cards">
        @{
            string[] imageUrls = new string[]{
                "Cards/10.png",
                "Enhancers/Plus_25.png",
                "Art/24.png",
                "Cards/Neon/30.png",
                "Companions/Dog.png",
                "Stealth/StealthGrab.png",
                "Cards/Striped/80.png",
                "Art/6.png",
                "Fairy/Purple_Fairy.png",
                "Cards/Outline/100.png",
                "Candy/Wizard_Candy.png",
                "Companions/Penguin.png",
                "Frozen/Frozen.png",
                "CardPacks/RarePack.png",
                "Art/25.png",
                "Themes/Astral.png",
                "Enhancers/x10.png"
            };
        }
        @foreach (string imageUrl in imageUrls)
        {
            <img class="stackable-card" src="@Helper.GetImageUrl(imageUrl)" title="@Resources.SiteName Card" alt="@Resources.SiteName Card" />
        }
    </div>
</div>
@if (Model.User.Points < 5000)
{
    <div id="take-currency-intro" class="fade-in-delay padding-top">
        <h5>
            Let's get you some @Resources.Currency for you to use to buy new items and build your Deck!
        </h5>
        <h3 class="win-green small-margin-top"><b id="intro-currency" data-count="5000">@Helper.GetFormattedPoints(0)</b></h3>
        <form id="add-currency-form" style="display: none;" action="@Url.Action("AddCurrency", "Intro")" method="POST" onsubmit="submitIntroForm(event, this)" class="small-padding-top">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">
                <h5 class="small-margin-top small-margin-bottom">
                    <span class="fas fa-coins"></span>
                    <b>Take @Resources.Currency!</b>
                </h5>
            </button>
        </form>
    </div>
}
<div id="start-exploring-intro" class="padding-top fade-in" style="@(Model.User.Points < 5000 ? "display: none;" : ""))">
    <h4 class="animated fadeInUp margin-bottom">
        <span class="fas fa-check win-green"></span>
        Nice! You earned <b class="win-green">@Helper.GetFormattedPoints(5000)</b> and a <b>Card Pack</b> was added to your bag!
    </h4>
    <div class="animated fadeInDown">
        <img class="item-dimensions" src="@Helper.GetImageUrl("CardPacks/Pack.png")">
    </div>
    <h5 class="animated fadeInDown delay-1s padding-top">
        Now that you've earned @Resources.Currency and played your first match, it's time to start exploring and building your Deck!
    </h5>
    <form action="@Url.Action("Complete", "Intro")" method="POST" onsubmit="submitIntroForm(event, this)" class="small-padding-top animated fadeInUp delay-1s">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">
            <h5 class="small-margin-top small-margin-bottom">
                <span class="fas fa-play"></span>
                <b>Let's Go!</b>
            </h5>
        </button>
    </form>
</div>