﻿@model IntroViewModel

<h2 class="animated fadeInDown">
    <b>Nice Choice!</b>
</h2>
<h5 class="fade-in-small-delay">
    You'll use your chosen cards at the Stadium. More powerful cards lead to winning more matches!
</h5>
<div class="fade-in-large-delay extra-small-padding-top">
    <h4>
        <i class="fas fa-trophy gold-color"></i>
        Your First Match
    </h4>
    <h5>
        Before you enter your first Stadium match, you'll have to sign up for a new account!
        @if (!string.IsNullOrEmpty(Model.Referral))
        {
            <span>You were referred by <b>@Model.Referral</b>!</span>
        }
    </h5>
</div>
<div class="padding-top fade-in-extra-large-delay row">
    <div class="col-lg-10">
        <form id="registerAccountForm" action="@Url.Action("Register", "Intro")" method="POST" onsubmit="submitIntroForm(event, this);">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-user" aria-hidden="true"></i></span>
                    <input type="text" aria-describedby="usernameHelp" class="form-control" name="username" id="username" placeholder="Username" onfocusout="checkIfUsernameIsAvailable(this.value)" onkeyup="checkIfAllSignUpFormsAreFilled();" autocomplete="off" maxlength="15" required />
                </div>
                <small id="usernameHelp" class="form-text text-muted">Your username cannot be more than 15 characters or include certain characters or spaces.</small>
                <div class="small-margin-top" id="availableUsernameText"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" aria-describedby="emailHelp" id="emailAddress" name="emailAddress" onfocusout="checkIfEmailIsAvailable(this.value)" onkeyup="checkIfAllSignUpFormsAreFilled();" placeholder="Email Address" maxlength="35" value="@Model.EmailAddress" required>
                </div>
                <small id="emailHelp" class="form-text text-muted">You won't get any spam emails or junk mail.</small>
                <div class="small-margin-top" id="availableEmailText"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" aria-describedby="passwordHelp" id="password" name="password" placeholder="Password" onfocusout="$('#betaCodeInput').show();" onkeyup="checkIfAllSignUpFormsAreFilled();" required>
                </div>
                <small id="passwordHelp" class="form-text text-muted">Your password must be at least 5 characters.</small>
                <div class="small-margin-top" id="passwordsDoNotMatch" style="display: none;"><span class='lose-red'><span class='glyphicon glyphicon-remove'></span> Your passwords do not match.</span></div>
            </div>
            <div class="form-group">
                <label class="checkbox-inline text-muted"><input name="allowSoundEffects" id="allowSoundEffects" type="checkbox"><span class="fas fa-music primary-color extra-small-margin-right"></span> Enable Sound Effects (Recommended)</label>
            </div>
            @if (Model.IsBetaEnabled)
            {
                @if (string.IsNullOrEmpty(Model.BetaCode))
                {
                    <div id="betaCodeInput" class="form-group" style="display: none;">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-gift" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" aria-describedby="betaCodeHelp" id="betaCode" name="betaCode" placeholder="Beta Code" maxlength="8" required>
                        </div>
                        <small id="betaCode" class="form-text text-muted">@Resources.SiteName is currently in beta and requires a special code to sign up. You can <a target="_blank" href="/Contact">contact us</a> to request one.</small>
                    </div>
                }
                else
                {
                    <input type="hidden" name="betaCode" id="betaCode" value="@Model.BetaCode" />
                }
            }
            <div class="form-group text-muted">
                By signing up, you agree to our <a target="_blank" href="/Terms">Terms of Service</a> and have read our <a target="_blank" href="/Privacy">Privacy Policy</a>.
            </div>
            @Html.AntiForgeryToken()
            <button id="sign-up-button" type="submit" class="btn btn-success disabled">
                <h5 class="small-margin-top small-margin-bottom small-padding-left small-padding-right">
                    Enter the Stadium!
                </h5>
            </button>
        </form>
    </div>
</div>