﻿@model IntroViewModel

<input type="hidden" id="allotted-budget" value="@Model.AllottedBudget" />
<input type="hidden" id="total-cards" value="@(Helper.GetMaxDeckSize() + 1)" />
<h2 class="animated fadeInDown">
    <b>Choose Your Cards!</b>
</h2>
<div>
    <h5 class="small-padding-top padding-bottom animated fadeInUp">Tap on a <b>Starter Pack</b> to see which cards are inside!</h5>
    <div class="row text-center">
        @foreach (StarterItems starterItems in Model.StarterItems)
        {
            <div class="col-xs-4 animated bounceIn delay-0-5s">
                <img id="pack-@starterItems.Index" class="clickable grow adjustable-item-dimensions starter-pack shadow" src="@Helper.GetImageUrl($"CardPacks/{starterItems.Title}_Pack.png")" alt="@starterItems.Title Starting Pack" title="@starterItems.Title Starting Pack" onclick="chooseStarterPack(@starterItems.Index);">
                <h4 class="hidden-xs"><b id="starter-pack-label-@starterItems.Index"  class="label label-primary starter-pack-label clickable" onclick="chooseStarterPack(@starterItems.Index);">@starterItems.Title Pack</b></h4>
                <h5 class="visible-xs"><b id="starter-pack-small-label-@starterItems.Index" class="label label-primary starter-pack-label clickable" onclick="chooseStarterPack(@starterItems.Index);">@starterItems.Title</b></h5>
            </div>
        }
    </div>
</div>
@foreach (StarterItems starterItems in Model.StarterItems)
{
    <div class="padding-top card-pack-details" id="pack-info-@starterItems.Index" style="display: none;">
        <div class="large-padding-top">
            <div class="intro-text">
                 <b>
                    Balance
                    <span class="glyphicon glyphicon-question-sign primary-color"  data-toggle="tooltip" data-placement="top" title="The distribution of power between the cards in the Starter Pack."></span>
                </b>
            </div>
            <div class="intro-progress-meter">
                <div class="progress border-gray-background-color small-margin-bottom progress-bar-striped">
                    <div class="progress-bar progress-bar-primary progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@starterItems.Balance%;"></div>
                </div>
            </div>
        </div>
        <div class="small-padding-top">
            <div class="intro-text">
                <h5 class="no-margin-top">
                    <b>
                        Top Power
                        <span class="glyphicon glyphicon-question-sign orange-color" data-toggle="tooltip" data-placement="top" title="The power of the top cards in the Starter Pack."></span>
                    </b>
                </h5>
            </div>
            <div class="intro-progress-meter">
                <div class="progress border-gray-background-color small-margin-bottom progress-bar-striped">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@starterItems.Power%;"></div>
                </div>
            </div>
        </div>
       <div class="small-padding-top">
            <div class="intro-text">
                <h5 class="no-margin-top">
                    <b>
                        Enhancer
                        <span class="glyphicon glyphicon-question-sign purple-color" data-toggle="tooltip" data-placement="top" title="The power of the Enhancer (pink card) in the Starter Pack."></span>
                    </b>
                </h5>
            </div>
            <div class="intro-progress-meter">
                <div class="progress border-gray-background-color small-margin-bottom progress-bar-striped">
                    <div class="progress-bar progress-bar-default purple-color-background progress-bar-striped active" aria-valuemin="0" aria-valuemax="100" style="width:@starterItems.Enhancer%;"></div>
                </div>
            </div>
        </div>
        <h5 class="small-margin-bottom"><b>@starterItems.Title Pack (@(Helper.FormatNumber(starterItems.Items.Count)) Cards)</b></h5>
        @if (starterItems.Index == 0)
        {
            <h6 class="text-muted"><span class="fas fa-exclamation-circle primary-color"></span> This Starter Pack is great for someone who isn't sure what to pick!</h6>
        }
        else if (starterItems.Index == 1)
        {
            <h6 class="text-muted"><span class="fas fa-exclamation-circle orange-color"></span> This Starter Pack relies on 2 strong cards to carry the rest of the Deck!</h6>
        }
        else
        {
            <h6 class="text-muted"><span class="fas fa-exclamation-circle purple-color"></span> This Starter Pack focuses on a stronger Enhancer (pink card)!</h6>
        }
        <div class="margin-top">
            <div class="scrolling-wrapper">
                <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                <div class="scrolling-container">
                    @foreach (Item item in starterItems.Items)
                    {
                        <div class="scrolling-grid-element text-center">
                            <div>
                                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                            </div>
                            <div class="padding-top">
                                <small>
                                    @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                </small>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
<form id="starter-cards-form" action="@Url.Action("ChooseStarterCards", "Intro")" method="POST" onsubmit="submitStarterCardsForm(event, this)" class="large-padding-top" style="display: none;">
    @Html.AntiForgeryToken()
    <input type="hidden" id="packId" name="packId" />
    <button type="submit" class="btn btn-lg btn-success">
        <h5 class="small-margin-top small-margin-bottom">
            <span class="fas fa-check-circle"></span>
            <b>Choose These Cards!</b>
        </h5>
    </button>
</form>