﻿@model UnusableStoreViewModel

<div class="gray-container">
    Any items in the <a href="/Junkyard">Junkyard</a> or the <a href="/Donations">Donation Zone</a> that have an <b class="lose-red">Unusable</b> condition are moved here and sold at a <b>discounted</b> cost.
    If you buy an item from the Unusable Store, it will have to be <a href="/Repair">repaired</a> before you can use it.
</div>
<div id="unusableStorePartialView">
    @await Html.PartialAsync("_UnusableStoreMainPartial", Model)
</div>