﻿@model ClubhouseViewModel

<div class="gray-container">
    Only the richest users of @Resources.SiteName can become a member of the Clubhouse. To join, you must pay a one time cost of <b class="win-green">@Helper.GetFormattedPoints(1000000)</b>.
</div>
<h5>
    Get access to the Tokenizer, exclusive Art cards, and a unique badge to show off your wealth. When you join, you're a member for life!
</h5>
<div class="scrolling-wrapper">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
        @foreach (Item item in Model.SampleItems)
        {
            <div class="scrolling-grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div class="push-down-class">
                    <div>
                        <small>
                            @item.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<h5>Tokenizer</h5>
<div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
    <h5>
        Convert your excess Training Tokens into Reward Points to be spent at the Rewards Store!
    </h5>
</div>
<form action="@Url.Action("Join", "Clubhouse")" method="POST" class="text-center padding-top" onsubmit="updateClubhouse(event, this)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-gold @(Model.User.Points >= 1000000 ? "" : "disabled")">
        <h5>
            <span class="fas fa-coins"></span>
            <b>Join! (@Helper.GetFormattedPoints(1000000))</b>
        </h5>
    </button>
</form>
