﻿@model ClubhouseViewModel

<div class="gray-container">
    Welcome <b>@Model.User.GetFriendlyName()</b>! You are a member of the most prestigious club in all of @Resources.SiteName. Each day, an exclusive Art Card is available for sale. The next Art Card will be available in <b>@DateTime.UtcNow.Date.AddDays(1).GetTimeUntil()</b>. You can buy <b>1 Art Card</b> per day.
</div>
<h5 id="art-card">Today's Art Card</h5>
<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.DailyItem.ImageUrl)" alt="@Model.DailyItem.Description" title="@Model.DailyItem.Description">
        <div>
            <h5>@Model.DailyItem.Name</h5>
            <p><i><small>@Model.DailyItem.Description</small></i></p>
        </div>
    </div>
    <div>
        <div>
            <small>
                @Model.DailyItem.Category <span class="@Helper.GetItemConditionColor(Model.DailyItem.Condition)">(@Model.DailyItem.Condition)</span>
            </small>
        </div>
        <div>
            <small>Cost: <b class="@(Model.User.Points >= Model.DailyItem.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(Model.DailyItem.Points)</b></small>
        </div>
        <div class="small-padding-top">
            <form action="@Url.Action("BuyItem", "Clubhouse")" method="POST" onsubmit="updateClubhouse(event, this);">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary btn-xs @(Model.User.Points > Model.DailyItem.Points && Model.CanBuy ? "" : "disabled")">Buy Item</button>
            </form>
        </div>
    </div>
</div>
<h5>Tokenizer</h5>
<div class="alert alert-info alert-info-coloring-gradient margin-bottom">
    You have <b>@Helper.FormatNumber(Model.TrainingTokens) Training Token@(Model.TrainingTokens == 1 ? "" : "s")</b> and <b>@Helper.FormatNumber(Model.RewardPoints) Reward Point@(Model.RewardPoints == 1 ? "" : "s")</b>.
    For every <b>3 Training Tokens</b> you convert, you'll get <b>1 Reward Point</b>!
</div>
<form action="@Url.Action("ConvertTokens", "Clubhouse")" method="POST" onsubmit="updateClubhouse(event, this)">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-coins"></i></span>
            <input type="number" class="form-control" max="@Model.TrainingTokens" name="tokens" placeholder="Training Tokens" required>
        </div>
    </div>
    <div>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.TrainingTokens > 3 ? "" : "disabled")">Convert</button>
    </div>
</form>



