﻿@model StoreMagicianViewModel

<div class="gray-container">
    Quickly search for items across all stores at once! The Store Magician will close in <b>@Model.ExpiryDate.GetTimeUntil()</b>. Need more time? Extend it at the <a href="/SponsorSociety/CoinCatalog#@SponsorPerkId.StoreMagician">Coin Catalog</a>!
</div>
<form onsubmit="event.preventDefault(); searchStoreMagician();" class="form-group padding-top">
    <div class="input-group">
        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search Store Magician..." value="@Model.SearchQuery" autofocus autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="searchStoreMagician();"><span class="glyphicon glyphicon-search"></span></button>
            <a class="btn btn-secondary btn-rounded" href="/StoreMagician"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="input-group padding-top">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#advanced-search">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Advanced Search Options
        </a>
    </div>
    <div id="advanced-search" class="collapse">
        <div class="small-padding-top">
            <label class="checkbox-inline"><input name="matchExactSearch" id="matchExactSearch" type="checkbox" @(Model.MatchExactSearch ? "checked" : "")>Match search query exactly</label>
        </div>
        <div class="small-padding-top">
            <label for="condition">Item Category</label>
            <input type="hidden" id="itemCategoryDropdownValue" value="@(Model.SearchCategory)" />
            <select class="form-control" id="category" name="category">
                @{
                    List<ItemCategory> itemCategories = Enum.GetValues(typeof(ItemCategory)).Cast<ItemCategory>().ToList();
                    itemCategories.Remove(ItemCategory.None);
                    itemCategories.Remove(ItemCategory.All);
                    <option value="@ItemCategory.All">@ItemCategory.All.GetDisplayName()</option>
                    foreach (ItemCategory itemCategory in itemCategories)
                    {
                        <option value="@itemCategory">@itemCategory.GetDisplayName()</option>
                    }
                }
            </select>
        </div>
        <div class="small-padding-top">
            <label for="condition">Item Condition</label>
            <input type="hidden" id="itemConditionDropdownValue" value="@(Model.SearchCondition)" />
            <select class="form-control" id="condition" name="condition">
                @{
                    List<ItemCondition> itemConditions = Enum.GetValues(typeof(ItemCondition)).Cast<ItemCondition>().ToList();
                    itemConditions.Remove(ItemCondition.All);
                    <option value="@ItemCondition.All">@ItemCondition.All</option>
                    foreach (ItemCondition itemCondition in itemConditions)
                    {
                        <option value="@itemCondition">@itemCondition</option>
                    }
                }
            </select>
        </div>
    </div>
</form>
@if (string.IsNullOrEmpty(Model.SearchQuery))
{
    <div class="alert alert-info">
        Search for an item above across all stores. Any special promos for a specific store will not be shown in the Store Magician's costs.
    </div>
}
else
{
    <h5>Items (@Helper.FormatNumber(Model.Items.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (StoreMagicianItem item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                    </div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small>Cost: <b class="@(Model.User.Points >= item.Cost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Cost)</b></small> 
                    </div>
                    <div>
                        <small><b>@item.Location</b></small> 
                    </div>
                    <div class="small-padding-top">
                        <a class="btn btn-primary btn-xs" href="@item.Url">Visit Item</a>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info">
            No items in any of the stores matched your search of <b>@Model.SearchQuery</b>.
        </div>
    }
}