﻿@model GroupsViewModel

<div class="visible-xs small-padding-top"></div>
<ul class="nav nav-tabs nav-justified padding-bottom">
    <li><a href="/Groups?id=@Model.CurrentGroup.Id">Group</a></li>
    <li class="active"><a href="#">Messages</a></li>
</ul>
<input type="hidden" id="group-id" value="@Model.CurrentGroup.Id" />
<div id="groupsMessagesScrollContainer" class="message-container">
    @await Html.PartialAsync("_GroupsMessagesBodyPartial", Model)
</div>
@if (!Model.CurrentGroup.IsUserMember)
{
    @if (Model.Messages.Count > 0)
    {
        <div class="padding-top"></div>
    }
    <div class="alert alert-warning no-margin-bottom">
        You can <b>write</b> messages in this group because of your @Model.User.Role.GetDisplayName() role. Please only write a message if it's to help perform your @Model.User.Role.GetDisplayName() duties.
    </div>
}
<form action="@Url.Action("SendMessage", "Groups")" method="POST" onsubmit="submitGroupsMessageForm(event, this, @Model.CurrentGroup.Id);" class="padding-top">
    <div id="groups-messages-container" class="form-group gray-container">
        <input type="hidden" name="groupId" value="@Model.CurrentGroup.Id" />
        @Html.AntiForgeryToken()
        <div class="input-group">
            <input type="text" class="form-control" id="message" name="message" placeholder="Your message..." autocomplete="off" autofocus maxlength="1000" required>
            <span class="input-group-btn "><button type="submit" class="btn btn-primary btn-rounded">Send</button></span>
        </div>
    </div>
</form>