﻿@model GroupsViewModel

<form id="groupCreateForm" action="@Url.Action("Edit", "Groups")" method="POST" onsubmit="submitGroupCreateForm(event, this);" class="padding-top">
    <div class="form-group">
        <label for="name">Group Name</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's your group called?" maxlength="30" value="@Model.CurrentGroup.Name" required>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>Display Picture (Optional)</label>
        </div>
        <div id="upload-pic" class="@(string.IsNullOrEmpty(Model.CurrentGroup.DisplayPicUrl) ? "" : "display-none")">
            <h6 class="text-muted no-margin-top">Must be a .jpeg, .gif, or .png file and up to 250 KB in size.</h6>
            <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg, .gif" />
        </div>
        @if (!string.IsNullOrEmpty(Model.CurrentGroup.DisplayPicUrl))
        {
            <div id="existing-pic">
                <img class="img-circle display-image" src="@Model.CurrentGroup.DisplayPicUrl" />
                <a class="btn btn-sm" onclick="removeGroupDisplayPic(@Model.CurrentGroup.Id);">Remove Display Pic</a>
            </div>
        }
    </div>
    @if ((DateTime.UtcNow - Model.CurrentGroup.LastPowerChangeDate).TotalDays < 1)
    {
        <div class="form-group">
            <label for="category">
                Group Power
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="All members of your group will get this Group Power."></span>
            </label>
            <div class="text-muted">@Model.CurrentGroup.Power.GetDisplayName()</div>
            <input type="hidden" name="power" value="@Model.CurrentGroup.Power" />
        </div>
    }
    else
    {
        <div class="form-group">
            <label for="category">
                Group Power
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="All members of your group will get this Group Power."></span>
            </label>
            <h6 class="no-margin-top text-muted">You can only change your Group Power once every <b>24 hours</b>.</h6>
            <input type="hidden" id="groupPowerDropdownValue" value="@((int)Model.CurrentGroup.Power)" />
            <select class="form-control" id="power" name="power" required>
                <option value="1">@GroupPower.StockDiscount.GetDisplayName()</option>
                <option value="2">@GroupPower.BiggerTimedShowcaseDiscount.GetDisplayName()</option>
                <option value="3">@GroupPower.AdditionalReferralsBonus.GetDisplayName()</option>
                <option value="4">@GroupPower.BetterSeekerOffers.GetDisplayName()</option>
                <option value="5">@GroupPower.BetterStreakCardsLuck.GetDisplayName()</option>
                <option value="6">@GroupPower.BetterWishingStoneLuck.GetDisplayName()</option>
            </select>
        </div>
    }
    <div class="form-group">
        <label for="description"><span class="glyphicon glyphicon-edit"></span> Group Description</label>
        <textarea class="form-control" name="description" rows="5" id="description" placeholder="What's your group about?" required onkeyup="updateGroupsDescriptionCountMessage();">@Model.CurrentGroup.Description</textarea>
        <h6 class="pull-right text-muted" id="groupsCreateCountMessage">@(500 - Model.CurrentGroup.Description.Length) remaining</h6>
    </div>
    <div class="form-group">
        <div>
            <label for="isPrivateGroup">Private Group</label>
        </div>
        <label class="checkbox-inline">
            <input name="isPrivateGroup" id="isPrivateGroup" type="checkbox" @(Model.CurrentGroup.IsPrivate ? "checked" : "")>
            Make this group private
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Users will have to request to join your group."></span>
        </label>
    </div>
    <input type="hidden" id="groupId" name="groupId" value="@Model.CurrentGroup.Id" />
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Edit Group</button>
</form>