﻿@model GroupsViewModel

<h5>Groups (@Helper.FormatNumber(Model.UserGroups.Count))</h5>
@if (Model.UserGroups.Count > 1)
{
    <div class="gray-container">
        You can choose your <b>Primary Group</b> by tapping the yellow star next to the group. Your Group Power only applies to your Primary Group. You can change your Primary Group once every <b>24 hours</b>.
    </div>
}
@foreach (Group group in Model.UserGroups)
{
    <div class="padding-top"></div>
    <div class="panel panel-primary no-margin-bottom clickable" onclick="window.location='/Groups?id=@group.Id'">
        <div class="panel-body primary-container">
            <div class="pull-left">
                @if (string.IsNullOrEmpty(group.DisplayPicUrl))
                {
                    <h4 class="circle no-margin-top no-margin-bottom shadow" id="colored-by-username-@group.Id" value="@group.Name">
                        @group.Name.Substring(0, 1).ToUpper()
                    </h4>
                }
                else
                {
                    <img class="img-circle no-margin-top no-margin-bottom display-image shadow" src="@group.DisplayPicUrl" />
                }
            </div>
            <div class="image-padding-left small-margin-left">
                <h5 class="medium-font no-margin-bottom">
                    <b>@group.Name</b>
                    @if (group.IsUserMember)
                    {
                        if (group.Members.Any(x => x.Username == Model.User.Username && x.Role == GroupRole.Creator))
                        {
                            <a class="btn btn-xs btn-primary pull-right" href="/Groups/Create?id=@group.Id">Edit</a>
                        }
                    }
                </h5>
                <h6 class="small-margin-top text-muted">
                    Created by: <b><a href="/User/@group.CreatedBy">@group.CreatedBy</a></b>
                </h6>
                <h6 class="no-margin-top">
                    @if (group.Description.Length <= 100)
                    {
                        <span>@group.Description</span>
                    }
                    else
                    {
                        <span>@(group.Description.Substring(0, 100))...</span>
                    }
                </h6>
            </div>
        </div>
        <div class="panel-footer">
            <h6 class="no-margin-top no-margin-bottom inline">
                @Helper.FormatNumberShortened(group.Members.Count) Member@(group.Members.Count == 1 ? "" : "s")
            </h6>
            @if (group.IsPrivate)
            {
                <div class="label label-warning small-margin-left extra-small-margin-top"><b>Private</b></div>
            }
            <span class="pull-right" data-toggle="tooltip" data-placement="top" title="@(group.IsPrimary ? "Primary Group" : "Set as Primary Group")"><span class="@(group.IsPrimary ? "fas" : "far") fa-star gold-color clickable" onclick="event.stopPropagation(); setAsPrimaryGroup('@group.Id');"></span></span>
        </div>
    </div>
}
@if (Model.UserGroups.Count == 0)
{
    <div class="alert alert-info no-margin-bottom">
        You haven't joined a group yet. You can <b><a class="alert-link" href="/Groups/Create">create</a></b> a group or <b><a class="alert-link" href="/Groups/All">join</a></b> an existing group.
    </div>
}