﻿@model GroupsViewModel

<h5>No Group</h5>
<div class="alert alert-info no-margin-bottom">
    @if (Model.UserGroups.Count > 0)
    {
        <span>
            You haven't set your <a href="/Groups/AllUser" class="alert-link">Primary Group</a> yet. You can also join a new group below.
        </span>
    }
    else
    {
        <span>
            You haven't joined a group yet. You can <b><a class="alert-link" href="/Groups/Create">create</a></b> a group or <b><a class="alert-link" href="/Groups/All">join</a></b> an existing group. Some of the more popular ones are listed below.
        </span>
    }
</div>
@foreach (Group group in Model.AllGroups.Take(10))
{
    <div class="padding-top"></div>
    <div class="panel panel-primary no-margin-bottom clickable" onclick="window.location='/Groups?id=@group.Id'">
        <div class="panel-body primary-container">
            <div class="pull-left">
                @if (string.IsNullOrEmpty(group.DisplayPicUrl))
                {
                    <h4 class="circle no-margin-top no-margin-bottom shadow" id="colored-by-username-@group.Id" value="@group.Name">
                        @group.Name.Substring(0, 1).ToUpper()
                    </h4>
                }
                else
                {
                    <img class="img-circle no-margin-top no-margin-bottom display-image shadow" src="@group.DisplayPicUrl" />
                }
            </div>
            <div class="image-padding-left small-margin-left">
                <h5 class="medium-font no-margin-bottom">
                    <b>@group.Name</b>
                </h5>
                <h6 class="small-margin-top text-muted">
                    Created by: <b><a href="/User/@group.CreatedBy">@group.CreatedBy</a></b>
                </h6>
                <h6 class="no-margin-top">
                    @if (group.Description.Length <= 100)
                    {
                        <span>@group.Description</span>
                    }
                    else
                    {
                        <span>@(group.Description.Substring(0, 100))...</span>
                    }
                </h6>
            </div>
        </div>
        <div class="panel-footer">
            <h6 class="no-margin-top no-margin-bottom inline">
                @Helper.FormatNumberShortened(group.MembersCount) Member@(group.MembersCount == 1 ? "" : "s")
            </h6>
            @if (group.IsPrivate)
            {
                <div class="label label-warning pull-right extra-small-margin-top"><b>Private</b></div>
            }
        </div>
    </div>
}