﻿@model GroupsViewModel

<h5>Banned</h5>
<div class="alert alert-info">
    You've been <b>banned</b> from this group and can no longer visit it. 
    Feel free to <a href="/Groups/All" class="alert-link">join</a> another group instead or <a href="/Groups/Create" class="alert-link">create</a> your own.
</div>