﻿@model GroupsViewModel

<div id="groupMessagesContainer">
    @if (Model.Messages.Count == 0)
    {
        <div class="small-padding-top"></div>
        <div class="alert alert-info no-margin-bottom">
            There are <b>no messages</b> in this group conversation. You can start the conversation.
        </div>
        <div class="padding-top"></div>
    }
    @{ int i = 0; }
    @foreach (GroupMessage message in Model.Messages)
    {
        bool showDate = false;
        @if (i == 0 || (int)(Model.Messages[i].CreatedDate - Model.Messages[i - 1].CreatedDate).TotalMinutes >= 15)
        {
            <div class="extra-large-padding-top padding-bottom text-center text-muted semi-bold">
                @message.CreatedDate.GetTimeSince()
            </div>
            showDate = true;
        }
        bool showSender = i == 0 || showDate || Model.Messages[i].Sender != Model.Messages[i - 1].Sender;
        @if (showSender)
        {
            GroupMember groupMember = Model.CurrentGroup.Members.Find(x => x.Username == message.Sender);
            <div>
                <div class="pull-left small-margin-right small-padding-bottom">
                    @if (string.IsNullOrEmpty(message.DisplayPicUrl))
                    {
                        <div class="circle extra-small-circle" id="colored-by-username-@message.Id" data-user-color="@message.Color" value="@message.Sender">
                            @message.Sender.Substring(0, 1).ToUpper()
                        </div>
                    }
                    else
                    {
                        <img class="img-circle display-image display-image-small" src="@message.DisplayPicUrl" />
                    }
                </div>
                <h5 class="group-message-margin-bottom">
                    <a href="/User/@message.Sender" class="@(groupMember == null ? "text-muted" : groupMember?.Role == GroupRole.Creator ? "orange-color" : groupMember?.Role == GroupRole.Leader ? "purple-color" : "")">@message.Sender</a>
                </h5>
            </div>
        }
        i++;
        @if (showSender)
        {
            <div class="padding-top"></div>
        }
        @if (message.IsDeleted)
        {
            <h5 class="small-margin-top small-margin-bottom text-muted extra-extra-extra-large-margin-left">This message was deleted.</h5>
        }
        else
        {
            <div class="extra-extra-extra-large-margin-left message-bubble link-without-format @((DateTime.UtcNow - message.CreatedDate).TotalSeconds < 2 ? "animated fadeInLeft" : "")" id="colored-by-username-@message.Id" data-user-color="@message.Color" value="@message.Sender" data-toggle="tooltip" data-placement="right" title="@message.CreatedDate.GetTimeSince()">
                @Html.Raw(Helper.ExtractUserReply(Helper.MakeLinkClickable(message.Content), true))
            </div>
            @if (message.Sender == Model.User.Username)
            {
                <div class="extra-extra-extra-large-margin-left">
                    <a class="clickable smaller-font text-danger  @((DateTime.UtcNow - message.CreatedDate).TotalSeconds < 2 ? "animated fadeIn delay-0-5s" : "")" onclick="deleteGroupMessage('@message.Id', '@message.GroupId')">Delete</a>
                </div>
            }
        }
        <div class="small-padding-top"></div>
    }
</div>