﻿@model GroupsViewModel

@if (Model.CurrentGroup.IsUserMember || Model.User.Role >= UserRole.Helper)
{
    <div class="visible-xs small-padding-top"></div>
    <ul class="nav nav-tabs nav-justified padding-bottom">
        <li class="active"><a href="#">Group</a></li>
        <li><a href="/Groups/Messages?id=@Model.CurrentGroup.Id">Messages <span class="label label-danger">@(Model.UnreadGroupMessages > 0 ? Helper.FormatNumber(Model.UnreadGroupMessages) : "")</span></a></li>
    </ul>
}
<div class="small-padding-top"></div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="small-padding-top"></div>
        <h4 class="inline">
            @if (!string.IsNullOrEmpty(Model.CurrentGroup.DisplayPicUrl))
            {
                <img class="img-circle no-margin-top display-image display-image-medium" src="@Model.CurrentGroup.DisplayPicUrl" />
            }
            @Model.CurrentGroup.Name
        </h4>
        @if (Model.CurrentGroup.IsPrivate)
        {
            <span class="label label-warning hidden-xs" data-toggle="tooltip" data-placement="top" title="@(Model.CurrentGroup.IsUserMember ? "" : "Private groups require users to request to join.")">Private</span>
        }
        @if (Model.UserMember?.Role == GroupRole.Creator)
        {
            <a href="#" class="btn btn-xs btn-danger pull-right inline" onclick="deleteGroup(@Model.CurrentGroup.Id);">Delete</a>
        }
        else
        {
            @if (!Model.CurrentGroup.IsUserBanned && Model.CurrentGroup.IsPrivate && Model.RequestStatus != GroupRequestStatus.Accepted && !Model.CurrentGroup.IsUserMember)
            {
                <form class="pull-right inline" action="@Url.Action("RequestGroup", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id);">
                    <input type="hidden" id="groupId" name="groupId" value="@Model.CurrentGroup.Id" />
                    <button type="submit" class="btn btn-xs btn-info @(Model.RequestStatus == GroupRequestStatus.Pending ? "disabled" : "")" @(Model.RequestStatus == GroupRequestStatus.Pending ? "disabled" : "")>@(Model.RequestStatus == GroupRequestStatus.Pending ? "Pending" : "Join Request")</button>
                    @Html.AntiForgeryToken()
                </form>
            }
            else if (!Model.CurrentGroup.IsUserBanned)
            {
                <form class="pull-right inline" action="@Url.Action(Model.CurrentGroup.IsUserMember ? "LeaveGroup" : "JoinGroup", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id);">
                    <input type="hidden" id="groupId" name="groupId" value="@Model.CurrentGroup.Id" />
                    <button type="submit" class="btn btn-xs btn-@(Model.CurrentGroup.IsUserMember ? "danger" : "success") @(Model.User.Points < 50  && !Model.CurrentGroup.IsUserMember ? "disabled" : "")">@(Model.CurrentGroup.IsUserMember ? "Leave" : $"Join ({Helper.GetFormattedPoints(50)})")</button>
                    @Html.AntiForgeryToken()
                </form>
            }
        }
        <div>
            <small class="link-without-format">
                Created by <b><a href="/User/@Model.CurrentGroup.CreatedBy">@Model.CurrentGroup.CreatedBy</a></b> -
                @Helper.FormatNumber(Model.CurrentGroup.Members.FindAll(x => x.Role != GroupRole.Banned).Count) member@(Model.CurrentGroup.Members.FindAll(x => x.Role != GroupRole.Banned).Count == 1 ? "" : "s")
            </small>
        </div>
        @if (Model.CurrentGroup.IsPrivate)
        {
            <div class="visible-xs">
                <span class="label label-warning">Private</span>
            </div>
        }
        <div class="small-padding-top"></div>
    </div>
    <div class="panel-body padding-top" style="padding-top: 0px;">
        <div class="show-line-spaces">
            @Model.CurrentGroup.Description
        </div>
    </div>
</div>
<h5 class="no-margin-top">
    <b>@Model.CurrentGroup.Name</b> has <b>1 Founder</b>, <b>@Helper.FormatNumber(Model.CurrentGroup.Members.Count(x => x.Role == GroupRole.Leader)) Leader@(Model.CurrentGroup.Members.Count(x => x.Role == GroupRole.Leader) == 1 ? "" : "s")</b>, and <b>@Helper.FormatNumber(Model.CurrentGroup.Members.Count(x => x.Role == GroupRole.Standard)) Regular Member@(Model.CurrentGroup.Members.Count(x => x.Role == GroupRole.Standard) == 1 ? "" : "s")</b>
</h5>
@if (Model.CurrentGroup.IsUserMember && Model.UserMember.Role == GroupRole.Standard && Model.CurrentGroup.Members.Count(x => x.Role == GroupRole.Leader) < 5 && (DateTime.UtcNow - Model.UserMember.JoinDate).TotalDays >= 7)
{
    <h5 class="no-margin-top">
        <span class="glyphicon glyphicon-exclamation-sign purple-color"></span> You've been a member since <b>@Model.UserMember.JoinDate.GetTimeSince()</b>. Consider asking <a href="/User/@Model.CurrentGroup.Members.Find(x => x.Role == GroupRole.Creator).Username">@Model.CurrentGroup.Members.Find(x => x.Role == GroupRole.Creator).Username</a> to make you a <b>Group Leader</b>!
    </h5>
}
@if (Model.CurrentGroup.Members.Count > 0)
{
    <div>
        <h5>
            <a class="@(Model.CurrentGroup.Members.Count < 20 ? "" : "collapsed") clickable" data-toggle="collapse" data-target="#members">
                <span class="if-collapsed">
                    <span class="glyphicon glyphicon-plus"></span> Expand
                </span>
                <span class="if-not-collapsed">
                    <span class="glyphicon glyphicon-minus"></span> Collapse
                </span>
                all members (@Helper.FormatNumber(Model.CurrentGroup.Members.FindAll(x => x.Role != GroupRole.Banned).Count))
            </a>
        </h5>
        <div id="members" class="collapse @(Model.CurrentGroup.Members.Count < 20 ? "in" : "")">
            <div class="panel panel-primary margin-bottom">
                <div class="panel-heading">Members (@Helper.FormatNumber(Model.CurrentGroup.Members.FindAll(x => x.Role != GroupRole.Banned).Count))</div>
                <div class="table-responsive" id="mobile-friendly-table">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Join Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (GroupMember groupMember in Model.CurrentGroup.Members)
                            {
                                if ((Model.UserMember == null || Model.UserMember.Role < GroupRole.Leader) && groupMember.Role == GroupRole.Banned)
                                {
                                    continue;
                                }
                                <tr>
                                    <td data-title="Username"><b><a href="/User/@groupMember.Username" class="@(groupMember.Role == GroupRole.Creator ? "orange-color" : groupMember.Role == GroupRole.Leader ? "purple-color" : "")">@groupMember.Username</a></b></td>
                                    <td data-title="Role">
                                        <span>
                                            @if (groupMember.Role > GroupRole.Standard)
                                            {
                                                <span class="glyphicon glyphicon-star @(groupMember.Role == GroupRole.Creator ? "orange-color" : "purple-color")"></span>
                                            }
                                            @groupMember.Role.GetDisplayName()
                                            @if (groupMember.IsActive)
                                            {
                                                <span class="status-dot win-green-background" data-toggle="tooltip" data-placement="top" title="Last Active: @groupMember.ModifiedDate.GetTimeSince()"></span>
                                            }
                                        </span>
                                        @if ((Model.UserMember?.Role == GroupRole.Leader && groupMember.Role == GroupRole.Standard) || (Model.UserMember?.Role == GroupRole.Creator && groupMember.Role != GroupRole.Banned))
                                        {
                                            <form class="pull-right extra-small-margin-left inline" action="@Url.Action("Ban", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id);">
                                                <input type="hidden" id="memberUser" name="memberUser" value="@groupMember.Username" />
                                                <input type="hidden" id="groupId" name="groupId" value="@groupMember.GroupId" />
                                                <button type="submit" class="btn btn-danger btn-xs @(groupMember.Username == Model.User.Username ? "disabled" : "")">Ban</button>
                                                @Html.AntiForgeryToken()
                                            </form>
                                        }
                                        @if ((groupMember.Role == GroupRole.Banned))
                                        {
                                            <form class="pull-right extra-small-margin-left inline" action="@Url.Action("Unban", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id);">
                                                <input type="hidden" id="memberUser" name="memberUser" value="@groupMember.Username" />
                                                <input type="hidden" id="groupId" name="groupId" value="@groupMember.GroupId" />
                                                <button type="submit" class="btn btn-primary btn-xs">Unban</button>
                                                @Html.AntiForgeryToken()
                                            </form>
                                        }
                                        @if (groupMember.Role == GroupRole.Standard && Model.UserMember?.Role == GroupRole.Creator && Model.CurrentGroup.Members.FindAll(x => x.Role > GroupRole.Standard).Count < 6)
                                        {
                                            <form class="pull-right extra-small-margin-left inline" action="@Url.Action("Promote", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id);">
                                                <input type="hidden" id="memberUser" name="memberUser" value="@groupMember.Username" />
                                                <input type="hidden" id="groupId" name="groupId" value="@groupMember.GroupId" />
                                                <button type="submit" class="btn btn-success btn-xs">Promote</button>
                                                @Html.AntiForgeryToken()
                                            </form>
                                        }
                                        @if ((groupMember.Role == GroupRole.Leader && Model.UserMember?.Role == GroupRole.Creator))
                                        {
                                            <form class="pull-right extra-small-margin-left inline" action="@Url.Action("Demote", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id);">
                                                <input type="hidden" id="memberUser" name="memberUser" value="@groupMember.Username" />
                                                <input type="hidden" id="groupId" name="groupId" value="@groupMember.GroupId" />
                                                <button type="submit" class="btn btn-primary btn-xs">Demote</button>
                                                @Html.AntiForgeryToken()
                                            </form>
                                        }
                                    </td>
                                    <td data-title="Join Date">@groupMember.JoinDate.GetTimeSince()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<div class="padding-top"></div>
<div class="panel panel-primary margin-bottom">
    <div class="panel-heading">
        <h5 class="no-margin-top no-margin-bottom">
            Whiteboard
            @if (Model.UserMember?.Role > GroupRole.Standard)
            {
                <button class="btn btn-alt-blue btn-xs pull-right behind-extra-small-margin-top" onclick="editWhiteboard();">Edit</button>
            }
            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Any group leader can write news or updates."></span>
        </h5>
    </div>
    <div class="panel-body">
        <div id="whiteboardContent">
            @if (Model.CurrentGroup.IsPrivate && !Model.CurrentGroup.IsUserMember && Model.User.Role < UserRole.Helper)
            {
                <span class="text-muted">
                    You cannot read a private group's whiteboard unless you're a member of the group.
                </span>
            }
            else if (string.IsNullOrEmpty(Model.CurrentGroup.Whiteboard))
            {
                <span class="text-muted">
                    The whiteboard is empty...
                </span>
            }
            else
            {
                <div class="show-line-spaces extra-large-behind-margin-top">
                    @Model.CurrentGroup.Whiteboard
                </div>
            }
        </div>
        @if (Model.UserMember?.Role > GroupRole.Standard)
        {
            <div id="whiteboardEdit" style="display: none;">
                <form action="@Url.Action("EditWhiteboard", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id, false);">
                    <div class="form-group">
                        <textarea class="form-control" name="whiteboard" rows="5" id="whiteboard" placeholder="All group leaders can edit..." onkeyup="updateWhiteboardCountMessage();">@Model.CurrentGroup.Whiteboard</textarea>
                        <h6 class="pull-right text-muted" id="whiteboardCountMessage">@(500 - Model.CurrentGroup.Whiteboard.Length) remaining</h6>
                    </div>
                    <input type="hidden" name="groupId" value="@Model.CurrentGroup.Id" />
                    <button type="submit" class="btn btn-primary">Update</button>
                    <span class="btn btn-secondary clickable" onclick="editWhiteboard();">Cancel</span>
                    @Html.AntiForgeryToken()
                </form>
            </div>
        }
    </div>
</div>
<div class="small-padding-top"></div>
<div id="group-daily-prize" class="panel panel-default margin-bottom">
    <div class="panel-heading">
        <h5 class="no-margin-top no-margin-bottom">
            Daily Prize
            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="A random member is picked daily and has 24 hours to claim the prize. All group leaders and that member will get the prize if it's claimed."></span>
        </h5>
    </div>
    <div class="panel-body">
        @if (Model.CurrentGroup.Members.Count > 0 && Model.PrizeMember != null)
        {
            <div>
                Selected Member: <b><a href="/User/@Model.PrizeMember.Username">@Model.PrizeMember.Username</a></b>
            </div>
            double timeSinceLastPrizeDate = (DateTime.UtcNow - Model.CurrentGroup.LastPrizeDate).TotalDays;
            if (timeSinceLastPrizeDate < 1)
            {
                <div>
                    Can Claim In: <b>@((Model.CurrentGroup.LastPrizeDate.AddDays(1)).GetTimeUntil())</b>
                </div>
            }
            else
            {
                <div>
                    Time Left: <b class="win-green">@((Model.CurrentGroup.LastPrizeDate.AddDays(2)).GetTimeUntil())</b>
                </div>
                @if (Model.PrizeMember.Username == Model.User.Username)
                {
                    <div class="padding-top"></div>
                    <form action="@Url.Action("ClaimPrize", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id);">
                        <input type="hidden" id="groupId" name="groupId" value="@Model.CurrentGroup.Id" />
                        <button type="submit" class="btn btn-success">Claim Prize</button>
                        @Html.AntiForgeryToken()
                    </form>
                }
            }
        }
        else
        {
            <span class="text-muted">
                This group has no members who are eligible claim the daily prize...
            </span>
        }
    </div>
</div>
<div class="small-padding-top"></div>
<div class="panel panel-primary margin-bottom">
    <div class="panel-heading">
        <h5 class="no-margin-top no-margin-bottom">
            Group Power
            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="This Group Power can be used if this group is your Primary Group and you've been a member for over 24 hours."></span>
        </h5>
    </div>
    <div class="panel-body">
        <div>
            <b>@Model.CurrentGroup.Power.GetDisplayName()</b>
        </div>
        <div class="small-padding-top"></div>
        @if (Model.CurrentGroup.IsUserMember)
        {
            @if ((DateTime.UtcNow - Model.UserMember.JoinDate).TotalHours < 24)
            {
                <div class="text-muted">
                    You can only use this Group Power after you've been a member of this group for over 24 hours.
                </div>
            }
            else
            {
                <div class="text-muted">
                    This Group Power is <b class="win-green">applied</b> as long as you remain a member of this group.
                </div>
            }
        }
        else
        {
            <div class="text-muted">
                Join this group to use this Group Power.
            </div>
        }
    </div>
</div>
<div class="small-padding-top"></div>
<div class="panel panel-default margin-bottom">
    <div class="panel-heading">
        <h5 class="no-margin-top no-margin-bottom">
            Invite Members
        </h5>
    </div>
    <div class="panel-body">
        <div>
            Copy and share the group link with others.
            <div class="input-group padding-top">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input type="text" class="form-control" id="uniqueUrl" value="@Model.UniqueLink">
                <span class="input-group-btn">
                    <button class="btn btn-primary btn-rounded" onclick="copyText($('#uniqueUrl').val());">Copy</button>
                </span>
            </div>
        </div>
    </div>
</div>
@if (Model.CurrentGroup.IsPrivate && Model.UserMember?.Role > GroupRole.Standard && Model.Requests.Count > 0)
{
    <div class="small-padding-top"></div>
    <div id="requests" class="panel panel-primary">
        <div class="panel-heading">Join Requests (@Helper.FormatNumber(Model.Requests.Count))</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Action</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (GroupRequest request in Model.Requests)
                    {
                        <tr>
                            <td data-title="Username"><a href="/User/@request.Username">@request.Username</a></td>
                            <td data-title="Action">
                                <form class="inline" action="@Url.Action("AcceptRequest", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id, false);">
                                    <input type="hidden" id="username" name="username" value="@request.Username" />
                                    <input type="hidden" id="groupId" name="groupId" value="@request.GroupId" />
                                    <button type="submit" class="btn btn-xs btn-success">Accept</button>
                                    @Html.AntiForgeryToken()
                                </form>
                                <form class="inline" action="@Url.Action("RejectRequest", "Groups")" method="POST" onsubmit="submitGroupsIdForm(event, this, @Model.CurrentGroup.Id, false);">
                                    <input type="hidden" id="username" name="username" value="@request.Username" />
                                    <input type="hidden" id="groupId" name="groupId" value="@request.GroupId" />
                                    <button type="submit" class="btn btn-xs btn-danger">Reject</button>
                                    @Html.AntiForgeryToken()
                                </form>
                            </td>
                            <td data-title="Date">@request.CreatedDate.GetTimeSince()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}