﻿@model GroupsViewModel

@if (!string.IsNullOrEmpty(Model.SearchQuery) || Model.AllGroups.Count > 0)
{
    <form onsubmit="event.preventDefault(); searchGroups(0);" class="form-group padding-top">
        <div class="input-group">
            <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search groups..." value="@Model.SearchQuery" autofocus autocomplete="off">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" onclick="searchGroups(@Model.CurrentPage);"><span class="glyphicon glyphicon-search"></span></button>
                <a class="btn btn-secondary btn-rounded" href="/Groups/All"><span class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
    </form>
}
@foreach (Group group in Model.AllGroups)
{
    <div class="padding-top"></div>
    <div class="panel panel-primary no-margin-bottom clickable" onclick="window.location='/Groups?id=@group.Id'">
        <div class="panel-body primary-container">
            <div class="pull-left">
                @if (string.IsNullOrEmpty(group.DisplayPicUrl))
                {
                    <h4 class="circle no-margin-top no-margin-bottom shadow" id="colored-by-username-@group.Id" value="@group.Name">
                        @group.Name.Substring(0, 1).ToUpper()
                    </h4>
                }
                else
                {
                    <img class="img-circle no-margin-top no-margin-bottom display-image shadow" src="@group.DisplayPicUrl" />
                }
            </div>
            <div class="image-padding-left small-margin-left">
                <h5 class="medium-font no-margin-bottom">
                    <b>@group.Name</b>
                </h5>
                <h6 class="small-margin-top text-muted">
                    Created by: <b><a href="/User/@group.CreatedBy">@group.CreatedBy</a></b>
                </h6>
                <h6 class="no-margin-top">
                    @if (group.Description.Length <= 100)
                    {
                        <span>@group.Description</span>
                    }
                    else
                    {
                        <span>@(group.Description.Substring(0, 100))...</span>
                    }
                </h6>
            </div>
        </div>
        <div class="panel-footer">
            <h6 class="no-margin-top no-margin-bottom inline">
                @Helper.FormatNumberShortened(group.MembersCount) Member@(group.MembersCount == 1 ? "" : "s")
            </h6>
            @if (group.IsPrivate)
            {
                <div class="label label-warning pull-right extra-small-margin-top"><b>Private</b></div>
            }
        </div>
    </div>
}
@if (Model.AllGroups.Count == 0)
{
    <h5>No Groups</h5>
    <div class="text-muted">
        @if (string.IsNullOrEmpty(Model.SearchQuery))
        {
            <div class="alert alert-info">
                There are currently no existing groups. Why don't you <a class="alert-link" href="/Groups/Create">create one?</a>
            </div>
        }
        else
        {
            <div class="alert alert-info">
                No groups matched your search of <b>@Model.SearchQuery</b>.
            </div>
        }
    </div>
}
@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/Groups?page=@i&query=@Model.SearchQuery">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
}