﻿@model GroupsViewModel

<div class="gray-container">
    Creating a group costs a one-time fee of <b class="win-green">@Helper.GetFormattedPoints(500)</b> but you'll get <b class="win-green">@Helper.GetFormattedPoints(25)</b> for each new member who joins your group.
</div>
<form id="groupCreateForm" action="@Url.Action("Create", "Groups")" method="POST" onsubmit="submitGroupCreateForm(event, this);" class="padding-top">
    <div class="form-group">
        <label for="name">Group Name</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's your group called?" maxlength="30" required>
        </div>
    </div>
   <div class="form-group">
        <div>
            <label>Display Picture (Optional)</label>
        </div>
        <h6 class="text-muted no-margin-top">Must be a .jpeg, .gif, or .png file and up to 250 KB in size.</h6>
        <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg, .gif" />
    </div>
    <div class="form-group">
        <label for="category">
            Group Power
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="All members of your group will get this Group Power."></span>
        </label>
        <select class="form-control" id="power" name="power" required>
            <option value="1">@GroupPower.StockDiscount.GetDisplayName()</option>
            <option value="2">@GroupPower.BiggerTimedShowcaseDiscount.GetDisplayName()</option>
            <option value="3">@GroupPower.AdditionalReferralsBonus.GetDisplayName()</option>
            <option value="4">@GroupPower.BetterSeekerOffers.GetDisplayName()</option>
            <option value="5">@GroupPower.BetterStreakCardsLuck.GetDisplayName()</option>
            <option value="6">@GroupPower.BetterWishingStoneLuck.GetDisplayName()</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description"><span class="glyphicon glyphicon-edit"></span> Group Description</label>
        <textarea class="form-control" name="description" rows="5" id="description" placeholder="What's your group about?" required onkeyup="updateGroupsDescriptionCountMessage();"></textarea>
        <h6 class="pull-right text-muted" id="groupsCreateCountMessage">500 remaining</h6>
    </div>
    <div class="form-group">
        <div>
            <label for="isPrivateGroup">Private Group</label>
        </div>
        <label class="checkbox-inline">
            <input name="isPrivateGroup" id="isPrivateGroup" type="checkbox">
            Make this group private
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Users will have to request to join your group."></span>
        </label>
    </div>
    <div class="padding-bottom">
        <small class="text-muted">
            When you create a group, you'll be responsible for any members who join.
            Any groups that are found in violation of the <a href="/Terms">Terms of Service</a> will be removed.
        </small>
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.User.Points < 500 ? "disabled" : "")">Create Group (@Helper.GetFormattedPoints(500))</button>
</form>