﻿@model GroupsViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Groups">Primary Group</a></li>
            <li><a href="/Groups/AllUser">Your Groups</a></li>
            <li><a href="/Groups/All">All Groups</a></li>
            <li class="@(Model.CurrentGroup == null ? "active" : "")"><a href="/Groups/Create">Create a Group</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="groupsCreatePartialView">
            <h5>@(Model.CurrentGroup == null ? "Create a Group" : "Edit Group")</h5>
            @if (Model.CurrentGroup == null)
            {
                @await Html.PartialAsync("_GroupsCreatePartial", Model)
            }
            else if (Model.User.Role > UserRole.Helper || Model.UserMember.Role == GroupRole.Creator)
            {
                @await Html.PartialAsync("_GroupsEditPartial", Model)
            }
        </div>
    </div>
</div>