﻿@model GroupsViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li class="@(Model.CurrentGroup != null && Model.CurrentGroup.IsPrimary ? "active" : "")"><a href="/Groups">Primary Group</a></li>
            <li class="@(Model.CurrentGroup != null && Model.CurrentGroup.IsUserMember && !Model.CurrentGroup.IsPrimary ? "active" : "")"><a href="/Groups/AllUser">Your Groups</a></li>
            <li class="@(Model.CurrentGroup != null && !Model.CurrentGroup.IsUserMember ? "active" : "")"><a href="/Groups/All">All Groups</a></li>
            <li><a href="/Groups/Create">Create a Group</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="groupsPartialView">
            @if (Model.CurrentGroup == null)
            {
                @await Html.PartialAsync("_GroupsUserPartial", Model)
            }
            else
            {
                @await Html.PartialAsync("_GroupsIdPartial", Model)
            }
        </div>
    </div>
</div>