﻿@model EffectsViewModel

@if (Model.ActiveGroupPower > GroupPower.None)
{
    <p>
        <div class="alert alert-success alert-success-coloring-gradient no-margin-bottom">
            <h5>
                Active Group Power: <b>@Model.ActiveGroupPower.GetDisplayName()</b>
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="This Group Power cannot be removed unless you leave your current group."></span>
            </h5>
        </div>
    </p>
}
<h5>Active Effects (@Helper.FormatNumber(Model.ActiveEffects.Count))</h5>
@foreach (Effect effect in Model.ActiveEffects)
{
    <div class="gray-container @(effect.Type == EffectType.None ? "gray-border" : effect.Type == EffectType.Positive ? "win-green-full-border" : "lose-red-full-border") @(string.IsNullOrEmpty(effect.Url) ? "" : "clickable hover-container")" onclick="window.location.href='@(string.IsNullOrEmpty(effect.Url) ? "" : $"{effect.Url}")'">
        <div>Effect: <b>@effect.Name</b></div>
        @if (effect.Amount != 0)
        {
            <div>Amount: <b>@Helper.FormatNumber(effect.Amount)@(effect.IsPercent ? "%" : "")</b></div>
        }
        @if (effect.ExpiryDate > DateTime.MinValue)
        {
            <div>Expires: <b>@effect.ExpiryDate.GetTimeUntil() left</b></div>
        }
        @if (effect.Uses > 0)
        {
            <div>Uses Left: <b>@Helper.FormatNumber(effect.Uses)</b></div>
        }
    </div>
    <div class="padding-top"></div>
}
@if (Model.ActiveEffects.Count > 0)
{
    <form action="@Url.Action("RemoveAll", "Effects")" method="POST" class="padding-top" onsubmit="updateEffects(event, this)">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary @(Model.User.Points < 100 ? "disabled" : "")">Remove active effects (@Helper.GetFormattedPoints(100))</button>
    </form>
}
else
{
    <div class="alert alert-info">
        You have no active effects. When you eat a Candy Card, use a Coupon Card, or do other actions that cast an effect, you can come back here.
    </div>
}