﻿@model EffectsViewModel

<div class="gray-container">
    All of your active effects are listed below. You can <b>remove all</b> of your active effects (<b class="win-green">good</b> and <b class="lose-red">bad</b>) for <b class="win-green">@Helper.GetFormattedPoints(100)</b>.
</div>

<div id="effectsPartialView">
    @await Html.PartialAsync("_EffectsMainPartial", Model)
</div>