﻿@{
    bool isAuthenticated = (bool)ViewData["Authenticated"];
    bool showTitle = (bool)ViewData["ShowTitle"];
    bool showFooter = (bool)ViewData["ShowFooter"];
    UserRole userRole = (UserRole)ViewData["UserRole"];
    Settings settings = Model.User == null ? null : ServicesLocator.GetService<ISettingsRepository>().GetSettings(Model.User);
    List<Location> favoritedLocations = Model.User == null ? null : ServicesLocator.GetService<ILocationsRepository>().GetFavoritedPlazaList(Model.User, settings);
    bool showBagIndicator = false;
    bool isInActiveMatch = false;
    if (isAuthenticated)
    {
        if (ViewData["Title"].ToString() != "Bag")
        {
            if (settings.HasSeenTutorial && !settings.HasSeenBagTutorial)
            {
                showBagIndicator = true;
            }
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Earn rare and powerful cards, explore and build your Deck, and win against others at the Stadium!" />
    <title>@ViewData["Title"] - @Resources.SiteName</title>
    <link rel="icon" type="image/x-icon" href="@Helper.GetImageUrl("Global/favicon.ico")">
    <link rel="shortcut icon" type="image/png" href="@Helper.GetImageUrl("Global/Logo.png")" />
    <link rel="apple-touch-icon" href="@Helper.GetImageUrl("Global/Logo.png")" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jquery-ui/dist/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/animate/animate.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/lib/toastr/dist/css/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/snackbar/dist/snackbar.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170607574-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-170607574-1');
        </script>
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Helper.GetCDNRoot()/lib/jquery-ui/dist/jquery-ui.min.css"
              asp-fallback-href="~/lib/jquery-ui/dist/jquery-ui.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Helper.GetCDNRoot()/lib/animate/animate.min.css"
              asp-fallback-href="~lib/animate/animate.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
              asp-fallback-href="~/lib/font-awesome/css/all.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Helper.GetCDNRoot()/lib/bootstrap-select/dist/css/bootstrap-select.min.css"
              asp-fallback-href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Helper.GetCDNRoot()/lib/toastr/dist/css/toastr.min.css"
              asp-fallback-href="~/lib/toastr/dist/css/toastr.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Helper.GetCDNRoot()/lib/snackbar/dist/snackbar.min.css"
              asp-fallback-href="~/lib/snackbar/dist/snackbar.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap">
        <link rel="stylesheet" href="@Helper.GetCDNRoot()/css/site.min.css"
              asp-fallback-href="~/css/site.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top semi-bold">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="@(showBagIndicator ? "" : "navbar-toggle")" class="navbar-toggle @(showBagIndicator ? "alert-background" : "")" data-toggle="collapse" data-target="#navbar">
                    @if (showBagIndicator)
                    {
                        <b><span class="fas fa-bell"></span></b>
                    }
                    else
                    {
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    }
                </button>
                @if (isAuthenticated)
                {
                    <div class="navbar-text visible-xs-inline-block pull-right extra-large-margin-right white-color-hover clickable" onclick="goToPointsLocation();">
                        <span class="fas fa-coins @((int)ViewData["NumericalPoints"] >= 1000000 ? "hidden-xxs" : "")"></span> <span id="totalPoints-mobile">@ViewData["Points"]</span>
                    </div>
                }
                <a href="/" class="navbar-brand behind-extra-small-margin-top grow-no-mobile">
                    <span><img class="behind-extra-extra-small-margin-top shadow" src="@Helper.GetImageUrl("Global/Logo.png")" width="30" height="30" alt="@Resources.SiteName" title="@Resources.SiteName"/></span>
                    <span class="inline">
                        <img class="shadow behind-small-margin-top" src="@Helper.GetImageUrl("Global/Logo_Full.png")" width="80" height="16" alt="@Resources.SiteName" title="@Resources.SiteName"/>
                    </span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    @if (isAuthenticated)
                    {
                        if (ViewData["Title"].ToString() != "Stadium")
                        {
                            isInActiveMatch = ServicesLocator.GetService<IMatchStateRepository>().IsInMatch(Model.User, false);
                        }
                        <li class="@(ViewData["Title"].ToString() == "Feed" ? "active" : "grow-no-mobile")">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <span class="fas fa-home"></span> <span class="@(favoritedLocations.Count > 0 ? "hidden-sm" : "")">Feed</span>
                            </a>
                        </li>
                        <li class="@(ViewData["Title"].ToString() == "Bag" ? "active" : "grow-no-mobile")">
                            <a asp-area="" asp-controller="Items" asp-action="Index">
                                <span class="fas fa-shopping-bag"></span> <span class="@(favoritedLocations.Count > 0 ? "hidden-sm" : "")">Bag @Html.Raw(showBagIndicator ? "<span class='label label-danger small-font'>1</span>" : "")</span>
                            </a>
                        </li>
                        <li class="@(ViewData["Title"].ToString() == "Plaza" || ViewData["Parent"]?.ToString() == "Plaza" || ViewData["TopParent"]?.ToString() == "Plaza" ? "active" : "grow-no-mobile")">
                            <a href="/Plaza@(ViewData["LocationId"] == null ? "" : $"?locationId={ViewData["LocationId"]}")">
                                <span class="fas fa-shopping-basket"></span> <span class="@(favoritedLocations.Count > 0 ? "hidden-sm" : "")">Plaza</span>
                            </a>
                        </li>
                        @if (favoritedLocations.Count > 0)
                        {
                            <li class="dropdown grow-no-mobile">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="fas fa-star"></span> <span class="hidden-sm">Favorites</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (Location location in favoritedLocations.Take(10))
                                    {
                                        <li>
                                            <a href="@location.Url">
                                                <img class="img-circle display-image display-image-small extra-small-margin-right" style="border-width: 1px; border-color: white; padding: 1px;" src="@location.ImageUrl" />
                                                @location.Name
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        <li class="@(ViewData["Title"].ToString() == "Stadium" ? "active" : "grow-no-mobile")">
                            <a asp-area="" asp-controller="Stadium" asp-action="Index">
                                <span class="fas fa-landmark"></span> <span class="@(favoritedLocations.Count > 0 ? "hidden-sm" : "")">Stadium</span> @Html.Raw(isInActiveMatch ? "<span class='label label-success small-font'><span class='fas fa-exclamation'></span></span>" : "")
                            </a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right no-margin-top-mobile">
                    @if (isAuthenticated)
                    {
                        <li class="hidden-xs">
                            <a href="#" onclick="goToPointsLocation();">
                                <span class="fas fa-coins"></span> <span id="totalPoints">@ViewData["Points"]</span>
                            </a>
                        </li>
                        <li class="dropdown grow-no-mobile">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="max-height: 50px;">
                                <b id="userDropdownUnreadCount" class="label label-danger small-font"></b>
                                @if (ViewData["UserImage"] == null || ViewData["UserImage"].ToString() == string.Empty)
                                {
                                    <span id="userDropdownIcon" class="fas fa-user"></span>
                                }
                                else
                                {
                                    <img id="userDropdownIcon" class="img-circle display-image no-border display-image-small behind-extra-small-margin-top" src="@ViewData["UserImage"]" />
                                }
                                @ViewData["Username"]
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (userRole > UserRole.Default)
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Admin" asp-action="Index">
                                            <span class="fas fa-user-cog extra-small-padding-right"></span> Admin
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a asp-area="" asp-controller="Messages" asp-action="Index">
                                        <span id="message-bubble" class="fas fa-comment extra-small-padding-right"></span> Messages <span id="unreadMessagesCount" class="unreadMessagesCount label label-danger small-font"></span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Notifications" asp-action="Index">
                                        <span id="notification-bell" class="fas fa-bell extra-small-padding-right"></span> Notifications <span id="unreadNotificationsCount" class="label label-danger small-font"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Profile">
                                        <span class="fas fa-user extra-small-padding-right"></span> Profile
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Preferences" asp-action="Index">
                                        <span class="glyphicon glyphicon-cog extra-small-padding-right"></span> Preferences
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Help" asp-action="Index">
                                        <span class="fas fa-question-circle extra-small-padding-right"></span> Help Hub
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Logout" asp-action="Index">
                                        <span class="glyphicon glyphicon-log-out extra-small-padding-right"></span> Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="@(ViewData["Title"].ToString() == "Log in" ? "enabled" : string.Empty)">
                            <a asp-area="" asp-controller="Login" asp-action="Index">
                                <span class="boxed @(ViewData["Title"].ToString() == "Log in" ? "active" : string.Empty)">
                                    <span class="fas fa-sign-in-alt"></span> Log in
                                </span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content width">
        <noscript>
            <div class="alert alert-danger">
                <h5>
                    You don't have JavaScript enabled. @Resources.SiteName will not work properly until it is enabled.
                </h5>
            </div>
        </noscript>
        <div id="successMessage" class="alert alert-success alert-success-coloring-gradient thick-border alert-dismissible" role="alert" hidden="">
            <a class="close" data-hide="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-check-circle"></span> Awesome!</h4>
            <h5 id="successMessageText" class="no-margin-top no-margin-bottom"></h5>
            <div id="successMessageButton" class="padding-top display-none">
                <a class="btn btn-success" id="successMessageButtonText"></a>
            </div>
        </div>
        <div id="alertMessage" class="alert alert-warning alert-warning-coloring-gradient thick-border alert-dismissible" role="alert" hidden="">
            <a class="close" data-hide="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> Uh-oh!</h4>
            <h5 id="alertMessageText" class="no-margin-top no-margin-bottom"></h5>
            <div id="warningMessageButton" class="padding-top display-none">
                <a class="btn btn-warning" id="warningMessageButtonText"></a>
            </div>
        </div>
        <div id="infoMessage" class="alert alert-info alert-info-coloring-gradient thick-border alert-dismissible" role="alert" hidden="">
            <a class="close" data-hide="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-info-circle"></span> Hmm...</h4>
            <h5 id="infoMessageText" class="no-margin-top no-margin-bottom"></h5>
            <div id="infoMessageButton" class="padding-top display-none">
                <a class="btn btn-info" id="infoMessageButtonText"></a>
            </div>
        </div>
        <div id="dangerMessage" class="alert alert-danger alert-danger-coloring-gradient thick-border alert-dismissible" role="alert" hidden="">
            <a class="close" data-hide="alert">×</a>
            <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> Oh no!</h4>
            <h5 id="dangerMessageText" class="no-margin-top no-margin-bottom"></h5>
            <div id="dangerMessageButton" class="padding-top display-none">
                <a class="btn btn-danger" id="dangerMessageButtonText"></a>
            </div>
        </div>
        @if (ViewData["Parent"] != null)
        {
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @{ string locationId = ViewData["LocationId"] == null ? "" : $"?locationId={ViewData["LocationId"]}"; }
                    @if (ViewData["TopParent"] != null)
                    {
                        <li class="breadcrumb-item"><a href="/@ViewData["TopParent"]@locationId">@ViewData["TopParent"]</a></li>
                    }
                    <li class="breadcrumb-item"><a href="/@(ViewData["ParentUrl"] == null ? ViewData["Parent"] : ViewData["ParentUrl"])@(ViewData["TopParent"] == null ? locationId : "")">@ViewData["Parent"]</a></li>
                    <li class="breadcrumb-item active clickable" onclick="window.location.href='@(ViewData["ParentUrl"] == null ? GlobalHttpContext.Current.Request.Path.Value : "#")'" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </nav>
        }
        @if (showTitle)
        {
            <h2 class="margin-top"><b>@ViewData["Title"]</b></h2>
        }
        <div id="body">
            <button id="messages-box-button" class="messages-box-button hidden-xs @(isAuthenticated && settings.HasSeenTutorial && settings.CanShowMessagesTab && ViewData["Title"].ToString() != "Messages" ? "" : "display-none")" onclick="toggleMessagesBox();">
                <span class="far fa-comment"></span>
                <b>Messages</b>
                <span class="unreadMessagesCount label label-danger small-font"></span>
            </button>
            <div class="messages-box hidden-xs" id="messages-box"><div class="extra-large-padding-top"></div><div class="loader center-block"></div></div>
            @if (isAuthenticated && settings.HasSeenTutorial)
            {
                <div class="mobile-nav link-without-format visible-xs">
                  <a href="/" class="@(ViewData["Title"].ToString() == "Feed" ? "active-color" : "")"><span class="fas fa-home margin-right"></span></a>
                  <a href="/Items" class="@(ViewData["Title"].ToString() == "Bag" ? "active-color" : showBagIndicator ? "lose-red-important" : "")"><span class="fas fa-shopping-bag margin-right"></span></a>
                  <a href="/Plaza" class="@(ViewData["Title"].ToString() == "Plaza" || ViewData["Parent"]?.ToString() == "Plaza" || ViewData["TopParent"]?.ToString() == "Plaza" ? "active-color" : "")"><span class="fas fa-shopping-basket margin-right"></span></a>
                  <a href="/Stadium" class="@(ViewData["Title"].ToString() == "Stadium" ? "active-color" : isInActiveMatch ? "highlight-nav-green-color" : "")"><span class="fas fa-landmark margin-right"></span></a>
                  <a href="/Messages" class="@(ViewData["Title"].ToString() == "Messages" ? "active-color" : "")"><span class="messages fas fa-comment margin-right"></span></a>
                  <a href="/Notifications" class="@(ViewData["Title"].ToString() == "Notifications" ? "active-color" : "")"><span class="notifications fas fa-bell"></span></a>
                </div>
            }
            @RenderBody()
        </div>
        @Html.AntiForgeryToken()
        @if (showFooter)
        {
            <div class="large-padding-top">
                <footer class="text-muted text-center">
                    <hr>
                    <div>
                        <a href="/About">About</a> · <a href="/Contact">Contact</a> · <a href="/Help">Help</a> · <a href="/Privacy">Privacy</a> · <a href="/Terms">Terms</a>
                    </div>
                    <div class="small-padding-top">
                        @Resources.SiteName &copy; @DateTime.Now.Year.ToString()
                    </div>
                </footer>
            </div>
        }
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/dist/jquery-ui.js"></script>
        <script src="~/lib/jquery-ui/dist/jquery-ui-touch-punch.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script defer src="~/lib/font-awesome/js/all.js"></script>
        <script defer src="~/lib/toastr/dist/js/toastr.min.js"></script>
        <script defer src="~/lib/snackbar/dist/snackbar.js"></script>
        <script defer src="~/lib/resize-sensor/ResizeSensor.js"></script>
        <script defer src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/ads.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script data-ad-client="ca-pub-9811434783745638" async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"></script>
        <script src="@Helper.GetCDNRoot()/lib/jquery-ui/dist/jquery-ui.min.js"
                asp-fallback-src="~/lib/jquery-ui/dist/jquery-ui.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"></script>
        <script src="@Helper.GetCDNRoot()/lib/jquery-ui/dist/jquery-ui-touch-punch.min.js"
                asp-fallback-src="~/lib/jquery-ui/dist/jquery-ui-touch-punch.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"></script>
        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
                asp-fallback-src="~/lib/font-awesome/js/all.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"
                crossorigin="anonymous"
                integrity="sha384-b3ua1l97aVGAPEIe48b4TC60WUQbQaGi2jqAWM90y0OZXZeyaTCWtBTKtjW2GXG1"></script>
        <script defer src="@Helper.GetCDNRoot()/lib/toastr/dist/js/toastr.min.js"
                asp-fallback-src="~/lib/toastr/dist/js/toastr.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"></script>
        <script defer src="@Helper.GetCDNRoot()/lib/snackbar/dist/snackbar.min.js"
                asp-fallback-src="~/lib/snackbar/dist/snackbar.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"></script>
        <script defer src="@Helper.GetCDNRoot()/lib/resize-sensor/ResizeSensor.min.js"
                asp-fallback-src="~/lib/resize-sensor/ResizeSensor.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"></script>
        <script defer src="@Helper.GetCDNRoot()/lib/bootstrap-select/dist/js/bootstrap-select.min.js"
                asp-fallback-src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"></script>
        <script src="@Helper.GetCDNRoot()/js/site.min.js"
                asp-append-version="true"
                asp-fallback-src="~/js/site.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn"></script>
        <script src="~/js/ads.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
