﻿@model TakeOfferViewModel

@if (Model.CanPlay && Model.OfferCards.FindAll(x => x.IsHidden).Count > 1)
{
    @if (Model.Offer > 0)
    {
        <div class="padding-top"></div>
        <div class="alert alert-success alert-success-coloring-gradient no-margin-bottom">
            <h5 class="no-margin-top">Current Offer: <b id="offer-amount" data-count="@Model.Offer">@Helper.GetFormattedPoints(Model.Offer)</b></h5>
            <form class="extra-small-padding-top" action="@Url.Action("TakeOffer", "TakeOffer")" method="POST" onsubmit="submitTakeOfferForm(event, this);">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Take Offer</button>
            </form>
        </div>
    }
}
else if (Model.OfferTaken == 0)
{
    <div class="padding-top"></div>
    <div class="alert alert-info no-margin-bottom">
        <h5>You only have 1 card left and can no longer accept any offers.</h5>
    </div>
}
else
{
    <div class="padding-top"></div>
    <div class="alert alert-success no-margin-bottom">
        @if (Model.OfferCards.Any(x => x.IsHidden))
        {
            <h5>You took the offer and earned <b>@Helper.GetFormattedPoints(Model.OfferTaken)</b>!</h5>
        }
        else
        {
            <h5>You didn't take any offers and earned <b>@Helper.GetFormattedPoints(Model.OfferTaken)</b> from your last chosen card!</h5>
        }
    </div>
}
@if (Model.OfferTaken == 0)
{
    <h5>Highest Value Remaining: <b class="@(Model.HighestValueRemaining > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Model.HighestValueRemaining)</b></h5>
}
else
{
    <div class="padding-top"></div>
}
@{  OfferCard lastOfferCard = Model.OfferCards.OrderBy(x => x.FlipDate).LastOrDefault(); }
<div id="cards" class="grid-container grid-container--fit">
    @foreach (OfferCard offerCard in Model.OfferCards)
    {
        <div class="grid-container-no-padding grid-element text-center offer-card clickable @(Model.OfferTaken > 0 && Model.OfferCards.All(x => !x.IsHidden) && offerCard == lastOfferCard ? "offer-card-chosen itemSelected" : "") @(Model.CanPlay || !offerCard.IsHidden ? "" : "faded") @(offerCard.IsHidden && Model.CanPlay ? "grow" : "")" onclick="revealOfferCard(@offerCard.Position);">
            <div>
                @if (offerCard.IsHidden)
                {
                    <div class="active-offer-card">
                        <img class="item-dimensions" src="@Helper.GetImageUrl(offerCard.ImageUrl)" alt="@offerCard.Description" title="@offerCard.Description">
                    </div>
                }
                else
                {
                    <h3 id="offer-card-@offerCard.Position" data-count="@offerCard.Points" class="large-padding-top streak-cards-height @(offerCard.Points > Math.Max(Model.Offer, Model.OfferTaken) ? "lose-red" : "win-green")">@Helper.GetFormattedPoints(offerCard.Points)</h3>
                }
            </div>
        </div>
    }
</div>