﻿@model TakeOfferViewModel

<div class="gray-container">
    <h5>How to play</h5>
    <ul>
        <li>
            There are 15 flipped cards that each have a value ranging from <b class="win-green">@Helper.GetFormattedPoints(1)</b> to <b class="win-green">@Helper.GetFormattedPoints(25000)</b>.
        </li>
        <li>
            After you flip a card, you'll be given an offer based on the remaining values. You can choose to take the offer or keep flipping cards.
        </li>
        <li>
            If you don't take any offers, the last remaining card will be the <b class="win-green">@Resources.Currency</b> you earn.
        </li>
        <li>
            You can play once every <b>12 hours</b>.
        </li>
    </ul>
</div>
<div id="takeOfferPartialView">
    @await Html.PartialAsync("_TakeOfferMainPartial", Model)
</div>