﻿@model ItemsGuideViewModel

<div class="gray-container">
    Complete any of the sections and get <b class="win-green">rewarded</b>! Items in your <a href="/Storage">Storage</a>@Html.Raw(Model.HasShowroom ? ", <a href='/Profile/Showroom'>Showroom</a>," : "") or <a href="/Items">bag</a> that don't have an <span class="lose-red">Unusable</span> condition count towards completing a section. 
    <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="If you complete a section and earn a reward, you will not lose any of your items in that section."></span>
</div>
@foreach (ItemSection itemSection in Model.ItemSections)
{
    <h5 class="no-margin-bottom">
        @itemSection.Name
        @if (itemSection.IsRedeemed)
        {
            <span class="label label-success">Redeemed</span>
        }
        else if (itemSection.IsCompleted)
        {
            <span class="label label-success">Completed</span>
        }
        else
        {
            <span>(@Helper.FormatNumber(itemSection.AmountOwned)/@Helper.FormatNumber(itemSection.RequiredAmount))</span>
        }
    </h5>
    <h6 class="text-muted small-margin-top small-margin-bottom">
        @if (!itemSection.IsRedeemed)
        {
            <span>Collect at least @(Helper.FormatNumber(itemSection.RequiredAmount))/@Helper.FormatNumber(itemSection.Items.Count) items in this section to complete it. You need @Helper.FormatNumber(itemSection.RequiredAmount - itemSection.AmountOwned) more</span>
        }
    </h6>
    <div class="small-padding-top"></div>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div class="scrolling-container">
            @foreach (Item item in itemSection.Items.OrderByDescending(x => Model.ItemIds.Any(y => y == x.Id)).ToList())
            {
                bool isOwned = Model.ItemIds.Any(x => x == item.Id);
                <div class="scrolling-grid-element text-center @(itemSection.IsRedeemed ? "win-green-border" : "")">
                    <div>
                        <img class="item-dimensions @(itemSection.IsRedeemed || !isOwned ? "faded" : "")" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                        <div>
                            <h5>@item.Name</h5>
                            <p><i><small>@item.Description</small></i></p>
                        </div>
                    </div>
                    <div class="push-down-class">
                        <div>
                            <small class="semi-bold">@(item.TotalUses > 0 ? $"Any Uses Left" : "")</small>
                        </div>
                        <div>
                            <small>
                                @item.Category
                            </small>
                        </div>
                        <div>
                            <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                        </div>
                        @if (!itemSection.IsRedeemed)
                        {
                            <div>
                                @if (isOwned)
                                {
                                    <span class="label label-success">Owned</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Missing</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    @if (itemSection.IsRedeemed)
    {
        <div class="padding-top"></div>
        <div class="alert alert-success no-margin-bottom">
            <h4 class="alert-heading"><span class="fas fa-check-double"></span> Redeemed!</h4>
            You completed the <b>@itemSection.Name</b> section and redeemed your reward!
        </div>
    }
    else if (itemSection.IsCompleted)
    {
        <div class="padding-top"></div>
        <div class="alert alert-success no-margin-bottom">
            <h4 class="alert-heading"><span class="fas fa-check"></span> Completed!</h4>
            <h5>
                You completed the <b>@itemSection.Name</b> section!
            </h5>
            <form action="@Url.Action("CompleteSection", "Items")" method="POST" onsubmit="updateGuide(event, this)" class="small-padding-top">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@itemSection.Id" />
                <button type="submit" class="btn btn-success">Redeem Reward</button>
            </form>
        </div>
    }
    <div class="small-padding-top"></div>
}