﻿@model ItemsViewModel

<div class="modal fade" id="modal-items-open-card-pack" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Your Card Pack</h4>
            </div>
            <div class="modal-body text-center">
                <h5 class="small-margin-top medium-font">
                    <b>
                        <span class="fas fa-check win-green fade-in"></span>
                        Awesome! The Card Pack contains 5 items:
                    </b>
                </h5>
                <div class="hidden-sm hidden-xs small-padding-top"></div>
                <div class="scrolling-wrapper">
                    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
                    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
                    <div id="deck-container" class="scrolling-container">
                        @foreach (Item item in Model.Items.OrderByDescending(x => x.AddedDate).Take(5).OrderBy(x => x.Points).ToList())
                        {
                            <div class="scrolling-grid-element text-center item animated tada delay-1s" style="display: none;">
                                <div>
                                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                                    <div>
                                        <h5>@item.Name</h5>
                                        <p><i><small>@item.Description</small></i></p>
                                    </div>
                                </div>
                                <div class="push-down-class">
                                    @if (item.Tier > RelicId.None)
                                    {
                                        <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                                        </div>
                                    }
                                    <div>
                                        <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")}" : "")</small>
                                    </div>
                                    <div>
                                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                            <small>
                                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                            </small>
                                        </span>
                                    </div>
                                    <div>
                                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal" onclick="highlightRecentItems(); $('#checklist-banner').show();"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>