﻿@model ItemsViewModel

<div class="modal fade" id="modal-items-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Your Bag</h4>
            </div>
            <div class="modal-body text-center">
                <img class="item-dimensions animated fadeInUp" src="@Helper.GetImageUrl(Model.Items.Count > 0 ? Model.Items.Last().ImageUrl : "Cards/CardBack.png")">
                <div class="large-padding-top"></div>
                <div class="primary-container">
                    <h4>Your Bag</h4>
                    <h5 class="small-padding-top">
                        Any item you buy or earn will be added to your <b>bag</b>. Start by opening your <b>Card Pack</b> and see what you got!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal" onclick="highlightRecentItems();"><h5 class="small-margin-top small-margin-bottom">Got it!</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>