﻿@model ItemsViewModel

<div class="modal fade" id="modal-items-tutorial" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Power Move</h4>
            </div>
            @{ PowerMove unlockedPowerMove = Model.PowerMoves.FindAll(x => x.MinCPULevel != 0).Last(); }
            <div class="modal-body text-center">
                <img class="power-move-dimensions animated bounceIn" src="@Helper.GetImageUrl(unlockedPowerMove.ImageUrl)" alt="@unlockedPowerMove.Description" title="@unlockedPowerMove.Description">
                <div class="padding-top"></div>
                <div class="primary-container">
                    <h4>New Power Move!</h4>
                    <h5 class="small-padding-top">
                        You can only take up to <b>@Model.MaxPowerMoves Power Moves</b> with you into a Stadium match so you should <b class="win-green">activate</b> only the ones you want!
                    </h5>
                </div>
                <div class="large-padding-top">
                    <button type="button" class="btn btn-block btn-primary" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Close</h5></button>
                </div>
            </div>
        </div>
    </div>
</div>