﻿@model ItemsViewModel


@if (Model.TotalItems >= Model.MaxBagSize)
{
    <div class="alert alert-warning alert-warning-coloring-gradient">
        <h5>
            <span class="fas fa-exclamation-circle"></span> Your bag is full! Add items to your <a class="alert-link" href="/Storage">Storage</a> or remove them from your bag.
        </h5>
        <div class="extra-small-padding-top"></div>
        <a class="btn btn-warning" href="/Storage?addItems=true">Visit Your Storage</a>
    </div>
}
<div class="dropdown inline">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Sort by <b>@Model.Sort.GetDisplayName()</b>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/Items?sort=@ItemSort.Category">@ItemSort.Category.GetDisplayName()</a></li>
        <li><a href="/Items?sort=@ItemSort.Newest">@ItemSort.Newest.GetDisplayName()</a></li>
        <li><a href="/Items?sort=@ItemSort.HighestValue">@ItemSort.HighestValue.GetDisplayName()</a></li>
        <li><a href="/Items?sort=@ItemSort.LowestValue">@ItemSort.LowestValue.GetDisplayName()</a></li>
        <li><a href="/Items?sort=@ItemSort.Name">@ItemSort.Name.GetDisplayName()</a></li>
    </ul>
</div>
<div class="dropdown pull-right">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Quick Locations
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/Storage">Storage</a></li>
        <li><a href="/MarketStalls/Create">Market Stall</a></li>
        <li><a href="/Repair">Repair Shop</a></li>
        <li class="visible-xs"><a href="/Items/Guide">Collector's Guide</a></li>
        @if (Model.HasShowroom)
        {
            <li><a href="/Profile/Showroom">Showroom</a></li>
        }
    </ul>
</div>
<a href="/Items/Guide" class="btn btn-secondary btn-sm pull-right margin-right hidden-xs">Collector's Guide</a>
<ul class="nav nav-tabs nav-justified large-padding-top">
    <li class="@(Model.ShowPowerMovesFirst ? "" : "active")"><a data-toggle="tab" id="deck-cards-tab" href="#deck-cards"><h5 class="no-margin-top no-margin-bottom">Your Deck (@Model.Deck.Count/@Helper.GetMaxDeckSize())</h5></a></li>
    <li class="@(Model.ShowPowerMovesFirst ? "active" : "")"><a data-toggle="tab" id="power-moves-tab" href="#power-moves"><h5 class="no-margin-top no-margin-bottom">Power Moves (@Model.PowerMoves.Count(x => x.IsActive)<span class="hidden-xxs">/@Model.MaxPowerMoves</span>)</h5></a></li>
</ul>
<div class="tab-content large-padding-top">
    <div class="tab-pane fade @(Model.ShowPowerMovesFirst ? "" : "active in")" id="deck-cards">
        @if (Model.UnlockedExtraDeck)
        {
            <form action="@Url.Action("ChooseDeck", "Items")" method="POST">
                <select id="selectedDeck" name="selectedDeck" onchange="updateItems(event, $(this).closest('form'));" @(Model.IsInMatch ? "disabled" : "") class="@(Model.IsInMatch ? "faded" : "")">
                    @if (Model.DeckType == DeckType.Primary)
                    {
                        <option value="@DeckType.Primary">@DeckType.Primary Deck</option>
                        <option value="@DeckType.Secondary">@DeckType.Secondary Deck</option>
                    }
                    else
                    {
                        <option value="@DeckType.Secondary">@DeckType.Secondary Deck</option>
                        <option value="@DeckType.Primary">@DeckType.Primary Deck</option>
                    }
                </select>
                @Html.AntiForgeryToken()
            </form>
            <div class="padding-bottom"></div>
        }
        @if (Model.Deck.Count < Helper.GetMaxDeckSize())
        {
            <div class="alert alert-warning alert-warning-coloring-gradient @(Model.Deck.Count == 0 ? "no-margin-bottom" : "margin-bottom")">
                <h5>
                    <span class="fas fa-exclamation-triangle"></span> You need to have <b>@Helper.GetMaxDeckSize() @Resources.DeckCards</b> in @(Model.UnlockedExtraDeck ? $"your {Model.DeckType}" : "your") Deck to enter a Stadium match. Add <b>@(Helper.GetMaxDeckSize() - Model.Deck.Count) more</b> @(Helper.GetMaxDeckSize() - Model.Deck.Count == 1 ? Resources.DeckCard : Resources.DeckCards) from your bag.
                </h5>
            </div>
        }
        @if (Model.Deck.Exists(x => x.Condition == ItemCondition.Unusable))
        {
            <div class="alert alert-warning alert-warning-coloring-gradient margin-bottom">
                <h5>
                    <span class="fas fa-exclamation-triangle"></span> To enter the Stadium, no @Resources.DeckCards in @(Model.UnlockedExtraDeck ? $"your {Model.DeckType}" : "your") Deck can have an <b class="lose-red clickable" onclick="window.location='/Repair'">Unusable</b> condition.
                </h5>
            </div>
        }
        @if (Model.Deck.Any(x => Model.UnearnedCards.Any(y => y == x.SelectionId)))
        {
            <div class="alert alert-warning alert-warning-coloring-gradient margin-bottom">
                <h5>
                    <span class="fas fa-exclamation-triangle"></span> Some of the cards in your Deck are above your <a class="alert-link" href="/TrainingCenter/Plateau">current Relic level</a>. They will backfire if you use them without enough experience at the Stadium.
                </h5>
            </div>
        }
        <div class="scrolling-wrapper">
            <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
            <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
            <div id="deck-container" class="scrolling-container">
                @foreach (Card card in Model.Deck)
                {
                    <div id="@card.SelectionId" class="scrolling-grid-element text-center @(Model.UnearnedCards.Any(x => x == card.SelectionId) ? "lose-red-border" : "")">
                        <div>
                            <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                            <div>
                                <h5>@card.Name</h5>
                                <p><i><small>@card.Description</small></i></p>
                            </div>
                        </div>
                        <div class="push-down-class">
                            @if  (card.Tier > RelicId.None)
                            {
                                <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                                </div>
                            }
                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(card.GetAgeInHours()) hour@(card.GetAgeInHours() == 1 ? "" : "s") old">
                                <small>
                                    @card.Category <span class="@Helper.GetItemConditionColor(card.Condition)">(@card.Condition)</span>
                                </small>
                            </span>
                            <div class="small-padding-top">
                                <form action="@Url.Action("RemoveFromDeck", "Items")" method="POST" onsubmit="updateItems(event, this, false, false, $('#deck-container'))">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="selectionId" value="@card.SelectionId" />
                                    <button type="submit" class="btn btn-primary btn-xs @(Model.IsInMatch ? "disabled" : "")">Pull from Deck</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade @(Model.ShowPowerMovesFirst ? "active in" : "")" id="power-moves">
        @if (Model.PowerMoves.Count >= Model.MaxPowerMoves && Model.PowerMoves.Count(x => x.IsActive) < Model.MaxPowerMoves)
        {
            <div class="alert alert-info">
                <h5>
                    <span class="fas fa-info-circle"></span> You currently have <b>@Model.PowerMoves.Count(x => x.IsActive) Power Move@(Model.PowerMoves.Count(x => x.IsActive) ==  1 ? "" : "s")</b> activated but you can take up to <b>@Model.MaxPowerMoves Power Moves</b> with you in a Stadium match.
                </h5>
            </div>
        }
        <div class="scrolling-wrapper">
            <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
            <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
            <div id="power-moves-container" class="scrolling-container">
                @foreach (PowerMove powerMove in Model.PowerMoves)
                {
                    bool isNew = powerMove.MinCPULevel != 0 && powerMove.CreatedDate != DateTime.MinValue && (DateTime.UtcNow - powerMove.CreatedDate).TotalDays < 1;
                    <div id="@powerMove.Type" class="scrolling-grid-element text-center @(powerMove.IsActive ? "primary-color-border" : "")">
                        <div>
                            <img class="power-move-dimensions" src="@Helper.GetImageUrl(powerMove.ImageUrl)" alt="@powerMove.Description" title="@powerMove.Description">
                            <div>
                                <h5 class="@(isNew ? "no-margin-bottom small-margin-bottom" : "")">@powerMove.Name</h5>
                                @if (isNew)
                                {
                                    <div class="label label-success">New</div>
                                    <div class="padding-top"></div>
                                }
                                <p>
                                    <i><small>@powerMove.Description</small></i>
                                </p>
                            </div>
                        </div>
                        <div class="push-down-class">
                            <div class="small-padding-top">
                                <form action="@Url.Action("ActivatePowerMove", "Items")" method="POST" onsubmit="updateItems(event, this, false, true, $('#power-moves-container'))">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="type" value="@powerMove.Type" />
                                    <button type="submit" class="btn btn-@(powerMove.IsActive ? "primary" : "success") btn-xs @(Model.IsInMatch || (!powerMove.IsActive && Model.PowerMoves.Count(x => x.IsActive) == Model.MaxPowerMoves) ? "disabled" : "")">@(powerMove.IsActive ? "Deactivate" : "Activate")</button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                <div class="small-padding-right"></div>
            </div>
        </div>
    </div>
</div>
<h5 id="items" class="small-padding-top">
    Other Items (@Helper.FormatNumber(Model.Items.Count)/@(Helper.FormatNumber(Model.MaxItemsCount)))
    @Html.Raw(Model.MaxBagSize < Helper.GetMaxBagSize() ? $"<span data-toggle='tooltip' data-placement='top' title='Your bag can be upgraded to hold more items.'><b class='fas fa-arrow-up win-green'></b></span>" : "")
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.SelectionId" class="grid-container-no-padding grid-element text-center @(item.SelectionId == Model.SelectionId || (item.AddedDate > Model.BagAddedLastDate && (Model.User.GetAgeInSeconds() - item.GetSecondsSinceAddedToBag() >= 5)) ? "fade-out-border" : "") @(Model.UnearnedCards.Any(x => x == item.SelectionId) ? "lose-red-border" : "")">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if  (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold @(item.TotalUses > 1 && item.Uses == 1 ? "lose-red" : "")">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                @if (item.Category == ItemCategory.Deck && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("AddToDeck", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs @(Model.Deck.Count < Helper.GetMaxDeckSize() && !Model.IsInMatch ? "" : "disabled")">Add to Deck</button>
                        </form>
                    </div>
                }
                @if  (item.Category == ItemCategory.Enhancer && item.Uses == 1 && item.Condition != ItemCondition.Unusable){
                    <div class="small-padding-top">
                        <a class="btn btn-xs btn-success" href="/Repair?recharge=true#@item.SelectionId">Recharge Uses</a>
                    </div>
                }
                @if (item.Category == ItemCategory.Pack && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("OpenPack", "Items")" method="POST" onsubmit="updateItems(event, this, true)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs @(Model.TotalItems + 4 > Model.MaxBagSize ? "disabled" : "")">Open Pack</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Candy && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("EatCandy", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Eat Candy</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Coupon && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseCoupon", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Use Coupon</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Crafting && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <a class="btn btn-xs btn-primary" href="/Crafting">Visit Crafting</a>
                    </div>
                }
                @if (item.Category == ItemCategory.Library && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <a class="btn btn-xs btn-primary" href="/Library/LibraryCards">Visit Library</a>
                    </div>
                }
                @if (item.Category == ItemCategory.Key && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <a class="btn btn-xs btn-primary" href="/TopAdoptions/Cellar">Visit Cellar</a>
                    </div>
                }
                @if (item.Category == ItemCategory.Frozen && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <a class="btn btn-xs btn-primary" href="/Crafting/Furnace">Visit Furnace</a>
                    </div>
                }
                @if ((item.Category == ItemCategory.Art || item.Category == ItemCategory.Custom) && item.Condition != ItemCondition.Unusable && Model.HasShowroom)
                {
                    <div class="small-padding-top">
                        <a class="btn btn-xs btn-primary" href="/Profile/Showroom">Visit Showroom</a>
                    </div>
                }
                @if (item.Category == ItemCategory.Egg && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("OpenEgg", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Open Egg</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Theme && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseTheme", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="themeSelectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Use Theme</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Sleeve && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <a href="/Items/Sleeve?id=@item.SelectionId" class="btn btn-success btn-xs">Use Sleeve</a>
                    </div>
                }
                @if (item.Category == ItemCategory.Upgrader && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseUpgrader", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Use Upgrader</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Stealth && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseStealth", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Use Stealth</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Companion && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("CustomizeCompanion", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Activate Card</button>
                        </form>
                    </div>
                }
                @if (item.Category == ItemCategory.Fairy && item.Condition != ItemCondition.Unusable)
                {
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseFairy", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Use Fairy</button>
                        </form>
                    </div>
                }
                @if  (item.Condition == ItemCondition.Unusable){
                    <div class="small-padding-top">
                        <a class="btn btn-xs btn-success" href="/Repair#@item.SelectionId">Repair Item</a>
                    </div>
                }
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        @if (Model.Deck.Count == 0)
        {
            <span>You don't have any items.</span>
        }
        else
        {
            <span>You don't have any other items.</span>
        }
    </div>
}
@if (Model.ShowTutorial)
{
    @await Html.PartialAsync("_ItemsTutorialPartial", Model)
}
else if (Model.ShowPowerMovesTutorial)
{
    @await Html.PartialAsync("_ItemsPowerMovesTutorialPartial", Model)
}
else if (Model.ShowRelicRequirementTutorial)
{
    @await Html.PartialAsync("../Tutorial/_RelicRequirementTutorial", Model)
}
@if (Model.Items.Count >= 5)
{
    @await Html.PartialAsync("_ItemsOpenCardPackPartial", Model)
}
@if (Model.IsFirstCardPack)
{
    <div id="checklist-banner" class="bottom-banner animated slideInUp display-none">
        <h5 class="no-margin-top inline margin-left margin-right">
            <span class="fas fa-check-circle"></span> You completed a checklist task!
        </h5>
        <div class="hidden-xs inline">
            <a href="/?highlightChecklist=true" class="btn btn-success">
                <h5 class="small-margin-top small-margin-bottom">
                    <span class="fas fa-play-circle"></span>
                    <b>See Next Task!</b>
                </h5>
            </a>
        </div>
        <span class="visible-xs extra-small-padding-top">
            <a href="/?highlightChecklist=true" class="btn btn-success btn-sm margin-left">
                <span class="fas fa-play-circle"></span>
                <b>See Next Task!</b>
            </a>
        </span>
    </div>
}