﻿@model ItemsViewModel

<div id="itemsPartialView">
    <div class="gray-container">
        @if (Model.SelectedCandy.Amount == 0)
        {
            <span>
                You can change a Companion's color to another random color using your <b>@Model.SelectedCandy.Name Candy</b>.
            </span>
        }
        else
        {
            <span>
                You can change a Companion's color to another color of your choosing using your <b>@Model.SelectedCandy.Name Candy</b>.
            </span>
        }
    </div>
    @if (Model.SelectedActivatedCompanion == null)
    {
        <h5>Companions (@Helper.FormatNumber(Model.Companions.Count))</h5>
        <div class="grid-container grid-container--fit">
            @foreach (Companion companion in Model.Companions.OrderByDescending(x => x.Level).ToList())
            {
                <div id="@companion.Id" class="grid-container-no-padding grid-element text-center">
                    <div>
                        <img class="companion-dimensions" src="@Helper.GetImageUrl(companion.GetImageUrl())" title="@companion.GetHappiness()% Happiness" alt="@companion.GetHappiness()% Happiness">
                        <div>
                            <h5>@companion.Name @(companion.IsAsleep() ? "(Asleep)" : "") </h5>
                        </div>
                    </div>
                    <div>
                        <div><small class="text-muted"><span class="fas fa-medal"></span> Level @Helper.FormatNumber(companion.Level + 1)</small></div>
                        <div class="small-padding-top">
                            @if (Model.SelectedCandy.Amount == 0)
                            {
                                <form action="@Url.Action("UseCompanionDye", "Items")" method="POST" onsubmit="updateItems(event, this)">
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="candySelectionId" value="@Model.SelectedCandy.SelectionId" />
                                    <input type="hidden" name="companionId" value="@companion.Id" />
                                    <button type="submit" class="btn btn-success btn-xs">Change Color</button>
                                </form>
                            }
                            else
                            {
                                <a href="/Items/ColorCompanion?selectionId=@Model.SelectedCandy.SelectionId&companionId=@companion.Id" class="btn btn-success btn-xs">Choose Color</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Companions.Count == 0)
        {
            <div class="alert alert-info">
                You don't have any Companions to give a <b>@Model.SelectedCandy.Name Candy</b>.
            </div>
        }
    }
    else
    {
        <h5>Choose a New Color</h5>
        <form action="@Url.Action("UseCompanionDye", "Items")" method="POST" onsubmit="updateItems(event, this)">
            <div class="form-group">
                <div class="grid-container grid-container--fit">
                    @foreach (CompanionColor color in Model.CompanionColors)
                    {
                        <div id="@color" class="grid-container-no-padding grid-element text-center clickable grow" onclick="companionColorSelected(this);">
                            <div>
                                <img class="companion-dimensions" src="@Helper.GetImageUrl($"Companions/{Model.SelectedActivatedCompanion.Type}/{color}.png")">
                                <div>
                                    <h5>@color.GetDisplayName()</h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group small-padding-top">
                <input type="hidden" name="candySelectionId" value="@Model.SelectedCandy.SelectionId" />
                <input type="hidden" name="companionId" value="@Model.SelectedActivatedCompanion.Id" />
                <input type="hidden" id="selectedColor" name="selectedColor" />
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Change Color</button>
                <a href="/Items" class="btn btn-secondary">Back to Bag</a>
            </div>
        </form>
    }
</div>
