﻿@model ItemsViewModel

<div id="itemsPartialView">
    <div class="gray-container">
        You can use your <b>@Model.SelectedFairy.Name</b> to grant you any non-exclusive item up to <b class="win-green">@Helper.GetFormattedPoints(Model.SelectedFairy.Points/1.25)</b>.
        Please be <b>very clear</b> when writing out the name of the item you want.
    </div>
    <h5>@Model.SelectedFairy.Name</h5>
    <form action="@Url.Action("UseFairy", "Items")" method="POST" onsubmit="updateItems(event, this);" class="small-padding-top">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-magic"></i></span>
                <input id="itemName" type="text" class="form-control" name="itemName" value="" placeholder="Item Name" required>
                <input type="hidden" name="selectionId" value="@Model.SelectedFairy.SelectionId" />
            </div>
        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Grant Item</button>
            <a href="/Items" class="btn btn-secondary">Back to Bag</a>
        </div>
    </form>
</div>