﻿@model ItemsViewModel

<div id="itemsPartialView">
    <div class="gray-container">
        You can use your <b>@Model.SelectedStealth.Name</b> to steal from another user's <b class="win-green">@Resources.Currency on hand</b>. 
    </div>
    <h5>@Model.SelectedStealth.Name</h5>
    <form action="@Url.Action("StealthGrab", "Items")" method="POST" onsubmit="updateItems(event, this);" class="small-padding-top">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input id="username" type="text" class="form-control" name="username" value="" placeholder="Username" maxlength="15" required>
                <input type="hidden" name="selectionId" value="@Model.SelectedStealth.SelectionId" />
            </div>
        </div>
        <div class="form-group">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Steal @Resources.Currency</button>
            <a href="/Items" class="btn btn-secondary">Back to Bag</a>
        </div>
    </form>
</div>