﻿@model ItemsViewModel

<div id="itemsPartialView">
    <div class="gray-container">
        You can change the theme of one of your @Resources.DeckCards to <b>@Model.SelectedTheme.Theme</b>.
    </div>
    <h5>@Resources.DeckCards (@Helper.FormatNumber(Model.Items.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                    </div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseTheme", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="themeSelectionId" value="@Model.SelectedTheme.SelectionId" />
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Use Theme</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info">
            You have no @Resources.DeckCard in your bag that can have its theme changed to <b>@Model.SelectedTheme.Theme</b>.
        </div>
    }
    <div class="large-padding-top">
        <a href="/Items" class="btn btn-secondary">Back to Bag</a>
    </div>
</div>