﻿@model ItemsViewModel

<div id="itemsPartialView">
    <div class="gray-container">
        @if (Model.SelectedUpgrader.Type == UpgraderType.Negative)
        {
            <span>
                You can lower a @Resources.DeckCard's value by <b>@Helper.FormatNumber(Model.SelectedUpgrader.Amount)</b>.
            </span>
        }
        else
        {
            <span>
                You can upgrade <b>one</b> of your <b>@Model.SelectedUpgrader.Type.ToString().ToLower() @Resources.DeckCards</b> to increase its value by <b>@Helper.FormatNumber(Model.SelectedUpgrader.Amount)</b>.
            </span>
        }
    </div>
    <h5>Items (@Helper.FormatNumber(Model.Items.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseDeckUpgrader", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="upgraderSelectionId" value="@Model.SelectedUpgrader.SelectionId" />
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            @if (Model.SelectedUpgrader.Type == UpgraderType.Negative)
                            {
                                <button type="submit" class="btn btn-primary btn-xs">Downgrade</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-xs">Upgrade</button>
                            }
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info">
            You have no items in your bag that can be upgraded by this Upgrader.
        </div>
    }
    <div class="@(Model.Items.Count == 0 ? "" : "large-padding-top")">
        <a href="/Items" class="btn btn-secondary">Back to Bag</a>
    </div>
</div>