﻿@model ItemsViewModel

<div id="itemsPartialView">
    <div class="gray-container">
        You can increase a Companion's level by <b>1</b> using your <b>@Model.SelectedCandy.Name</b>. Companions with higher levels give <b class="win-green">greater rewards</b>.
    </div>
    <h5>Companions (@Helper.FormatNumber(Model.Companions.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Companion companion in Model.Companions.OrderByDescending(x => x.Level).ToList())
        {
            <div id="@companion.Id" class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="companion-dimensions" src="@Helper.GetImageUrl(companion.GetImageUrl())" title="@companion.GetHappiness()% Happiness" alt="@companion.GetHappiness()% Happiness">
                    <div>
                        <h5>@companion.Name @(companion.IsAsleep() ? "(Asleep)" : "") </h5>
                    </div>
                </div>
                <div>
                    <div><small class="text-muted"><span class="fas fa-medal"></span> Level @Helper.FormatNumber(companion.Level + 1)</small></div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("UseCompanionCandy", "Items")" method="POST" onsubmit="updateItems(event, this)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="candySelectionId" value="@Model.SelectedCandy.SelectionId" />
                            <input type="hidden" name="companionId" value="@companion.Id" />
                            <button type="submit" class="btn btn-success btn-xs">Level Up</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Companions.Count == 0)
    {
        <div class="alert alert-info">
            You don't have any Companions to give a <b>@Model.SelectedCandy.Name</b>.
        </div>
    }
    <div class="large-padding-top">
        <a href="/Items" class="btn btn-secondary">Back to Bag</a>
    </div>
</div>
