﻿@model WallViewModel

<div class="gray-container">
    You've broken the <b>fourth wall</b>! You can come back here for the next <b>@Model.ExpiryDate.GetTimeUntil()</b> by tapping your active effect on the <a href="/Effects">Active Effects</a> page.
</div>
<h5>Admin Panel</h5>
<div class="alert alert-success alert-success-coloring-gradient">
    <h5>
        Welcome <b>@Model.User.GetFriendlyName()</b>! You have access to some @Resources.SiteName admin capabilities for your account.
    </h5>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h5>Add @Resources.Currency</h5>
            </div>
            <div class="panel-body">
                <div>
                    Username: <b>@Model.User.Username</b>
                </div>
                <div>
                    Current @Resources.Currency On Hand: <b>@Helper.GetFormattedPoints(Model.User.Points)</b>
                </div>
                <form action="@Url.Action("AddPoints", "Wall")" method="POST" class="large-padding-top" onsubmit="submitWallForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-success btn-block @(Model.CanAddPoints ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Add @Resources.Currency</h5></button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>Add CPU Stadium Bonus</h5>
            </div>
            <div class="panel-body">
                <div>
                    Username: <b>@Model.User.Username</b>
                </div>
                <div>
                    Current CPU Stadium Bonus: <b>@Model.StadiumBonus%</b>
                </div>
                <form action="@Url.Action("AddStadiumBonus", "Wall")" method="POST" class="large-padding-top" onsubmit="submitWallForm(event, this);">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary btn-block @(Model.StadiumBonus > 0 ? "disabled" : "")" btn-block"><h5 class="small-margin-top small-margin-bottom">Add Stadium Bonus</h5></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Curse Protect</h5>
            </div>
            <div class="panel-body">
                @if (Model.HasCurseProtect)
                {
                    <div>
                        <b>@Model.User.Username</b> already has an active Curse Protect.
                    </div>
                }
                else
                {
                    <div>
                        Protect <b>@Model.User.Username</b> from any Stadium Curses.
                    </div>
                    <form action="@Url.Action("AddCurseProtect", "Wall")" method="POST" class="large-padding-top" onsubmit="submitWallForm(event, this);">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-secondary btn-block"><h5 class="small-margin-top small-margin-bottom">Add Curse Protect</h5></button>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Stealth Protect</h5>
            </div>
            <div class="panel-body">
                @if (Model.HasStealthProtect)
                {
                    <div>
                        <b>@Model.User.Username</b> already has an active Stealth Protect.
                    </div>
                }
                else
                {
                    <div>
                        Protect <b>@Model.User.Username</b> from any Stealth Grabs.
                    </div>
                    <form action="@Url.Action("AddStealthProtect", "Wall")" method="POST" class="large-padding-top" onsubmit="submitWallForm(event, this);">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-secondary btn-block"><h5 class="small-margin-top small-margin-bottom">Add Stealth Protect</h5></button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
