﻿@model SeekerViewModel
<div class="@(Model.HasSeekerGroupPower ? "small-padding-top" : "large-padding-top")">
    You're currently at <b class="win-green">Rank @Helper.FormatNumber(Model.Level + 1)</b>. Complete more tasks to move up the ranks and get better rewards.
</div>
<div class="padding-top"></div>
<div class="alert alert-info no-margin-bottom">
    @if (Model.HasChallengeExpired)
    {
        <h5 class="small-margin-top small-margin-bottom">Your previous challenge expired! You have <b>@Model.ExpiryDate.GetTimeUntil()</b> to complete this new challenge.</h5>
    }
    else
    {
        <h5 class="small-margin-top small-margin-bottom">You have <b>@Model.ExpiryDate.GetTimeUntil()</b> left to complete this challenge.</h5>
    }
    <form action="@Url.Action("Skip", "Seeker")" method="POST" onsubmit="updateSeeker(event, this)" class="padding-top">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary @(Model.User.Points < (Model.Level + 1) * 1000 ? "disabled" : "")">Skip Task (@Helper.GetFormattedPoints((Model.Level + 1) * 1000))</button>
    </form>
</div>
<h5 class="small-padding-top">
    The Seeker wants <b class="hidden-xxs">@Helper.FormatNumber(Model.ChallengeItems.Count) item@(Model.ChallengeItems.Count == 1 ? "" : "s")</b> from your <a href="/Items">bag</a>:
    <span class="glyphicon glyphicon-info-sign pull-right gray-color" data-toggle="tooltip" data-placement="top" title="Items in your Deck or that have an Unusable condition cannot be given to The Seeker."></span>
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.ChallengeItems.OrderBy(x => x.SelectionId == Guid.Empty).ToList())
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions @(item.SelectionId == Guid.Empty ? "faded" : "")" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"Any Uses Left" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category
                    </small>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                <div>
                    @if (item.SelectionId == Guid.Empty)
                    {
                        <span class="label label-danger">Missing</span>
                    }
                    else
                    {
                        <span class="label label-success">Owned</span>
                    }
                </div>
            </div>
        </div>
    }
</div>
<h5 class="padding-top">
    And offers as a reward:
</h5>
<div class="grid-element text-center card-width win-green-border">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.RewardItem.ImageUrl)" alt="@Model.RewardItem.Description" title="@Model.RewardItem.Description">
        <div>
            <h5>@Model.RewardItem.Name</h5>
            <p><i><small>@Model.RewardItem.Description</small></i></p>
        </div>
    </div>
    <div>
        <div>
            @if (Model.RewardItem.Tier > RelicId.None)
            {
                <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.RewardItem.Tier Relic.">
                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.RewardItem.Tier}.png")" />
                </div>
            }
            <div>
                <small class="semi-bold">@(Model.RewardItem.TotalUses > 0 ? $"{Model.RewardItem.TotalUses} Use{(Model.RewardItem.TotalUses == 1 ? "" : "s")}" : "")</small>
            </div>
            <small>
                @Model.RewardItem.Category
            </small>
            <div>
                <small class="text-muted">~@Helper.GetFormattedPoints(Model.RewardItem.Points)</small>
            </div>
        </div>
    </div>
</div>
@if (Model.ChallengeItems.FindAll(x => x.SelectionId != Guid.Empty).Count == Model.ChallengeItems.Count)
{
    <div class="padding-top"></div>
    <div class="alert alert-success no-margin-bottom">
        <h4 class="alert-heading"><span class="fas fa-check"></span> Completed!</h4>
        <h5>
            You have @(Model.ChallengeItems.Count == 1 ? "the item" : "all the items")! Claim your reward:
        </h5>
        <div class="small-padding-top">
            <form action="@Url.Action("Redeem", "Seeker")" method="POST" onsubmit="updateSeeker(event, this)">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Get Reward</button>
            </form>
        </div>
    </div>
}