﻿@model SeekerViewModel

<div class="gray-container">
    In a dim, wooden hut lives a mysterious figure known only as <b>The Seeker</b>.
    They ask for items and, in return, offer you great rewards.
</div>
@if (Model.HasSeekerGroupPower)
{
    <p>
        <div class="alert alert-success no-margin-bottom">
            <h5>
                You Group Power grants you better rewards from The Seeker.
            </h5>
        </div>
    </p>
}
<div id="seekerPartialView">
    @await Html.PartialAsync("_SeekerMainPartial", Model)
</div>