﻿@model JobsViewModel
<p>
    <div class="gray-container">
        <h5>Who are Helpers?</h5>
        Helpers are @Resources.SiteName users who are given special powers and privileges to help keep the community safe.
        If you're interested in becoming a Helper, you must meet the following criteria:
        <ul class="small-padding-top">
            <li>
                Your account is at least <b>2 weeks</b> old. (Your account is <b>@Helper.FormatNumber(Model.User.GetAgeInDays()/7) week@(Model.User.GetAgeInDays()/7 == 1 ? "" : "s")</b> old)
                @if (Model.User.GetAgeInDays() >= 14)
                {
                    <span class="fas fa-check-circle win-green"></span>
                }
            </li>
            <li>
                You've earned at least <b><a href="/Profile#accomplishments">50 accomplishments</a></b>. (You've earned <b>@Helper.FormatNumber(Model.Accomplishments.Count) accomplishment@(Model.Accomplishments.Count == 1 ? "" : "s")</b>)
                @if (Model.Accomplishments.Count >= 50)
                {
                    <span class="fas fa-check-circle win-green"></span>
                }
            </li>
            <li>
                You know and respect the <b><a href="/Terms">Terms of Service</a></b>.
                @if (Model.HasClaimedTermsReward)
                {
                    <span class="fas fa-check-circle win-green"></span>
                }
            </li>
            <li>
                You are at least <b>15 years of age</b>.
            </li>
        </ul>
    </div>
</p>
@if (Model.JobSubmissions.FirstOrDefault() != null && Model.CanSubmitHelperApplication == false)
{
    JobState jobState = Model.JobSubmissions.First().State;
    <div class="padding-top">
        @if (jobState == JobState.Open)
        {
            <h5>Application Status: <b>Open</b></h5>
            <div>
                Your Helper Application is currently <b>under review</b>. Please check back here or your <a href="/Notifications">Notifications</a> soon for an update.
            </div>
        }
        else if (jobState == JobState.Accepted)
        {
            <h5>Application Status: <b class="win-green">Accepted</b></h5>
            <div>
                Congratulations! Your Helper Application was accepted! Please make sure to review the <a href="/HelperGuidelines">Helper Guidelines</a> to learn about your responsibilities as a Helper. 
                You can access your Admin Panel by clicking <a href="/Admin">here</a> or beneath your username on the menu.
            </div>
        }
        else if (jobState == JobState.Declined)
        {
            <h5>Application Status: <b class="lose-red">Declined</b></h5>
            <div>
                <p>
                    Sorry! We unfortunately had to decline your Helper application. Don't worry, you're allowed to reapply every 2 weeks!
                </p>
                <p>
                    Last Application Date: <b>@Model.JobSubmissions.First().CreatedDate.GetTimeSince()</b>
                </p>
            </div>
        }
    </div>
}
else if (Model.User.Role >= UserRole.Helper)
{
    <div>
        You already have the role of <b>@Model.User.Role.GetDisplayName()</b>. You can review the <a href="/HelperGuidelines">Helper Guidelines</a> or visit your <a href="/Admin">Admin Panel</a>.
    </div>
}
else
{
    <h5>
        Helper Application
    </h5>
    <div>
        Once you submit your application, you can check its status on this page.
    </div>
    <div class="large-padding-top">
        <form id="helpersForm" action="@Url.Action("SubmitHelper", "Jobs")" method="POST" onsubmit="submitJobsForm(event, this, false);">
            <div class="form-group">
                <label for="article">Why do you want to become a Helper?</label>
                <textarea class="form-control" name="reason" rows="5" id="reason" placeholder="Your answer..." autocomplete="off" required @(Model.CanSubmitHelperApplication ? "" : "disabled") onkeyup="updateHelpersCountMessage();"></textarea>
                <h6 class="pull-right text-muted" id="helpersCountMessage">@Helper.FormatNumber(2500) remaining</h6>
            </div>
            @Html.AntiForgeryToken()
            <div class="form-group large-padding-top">
                <button type="submit" class="btn btn-primary @(Model.CanSubmitHelperApplication ? "" : "disabled")">Submit Application</button>
            </div>
        </form>
    </div>
}