﻿@model JobsViewModel
<p>
    <div class="gray-container">
        <h5>Earn <b class="win-green">@Resources.Currency</b> by helping out @Resources.SiteName!</h5>
        <ul>
            <li>
                Check out any of the job categories you're interested in below.
            </li>
            <li>
                Submit content based on the category's requirements.
            </li>
            <li>
                If we end up using what you submitted, you'll move up a <b>Job Title</b>, get <b>new accomplishments</b>, and earn <b class="win-green">@Resources.Currency</b>!
            </li>
        </ul>
    </div>
</p>
<h5 class="small-padding-top small-padding-bottom">Your current Job Title is <b>@Model.JobTitle.GetDisplayName()</b>. You'll earn <b class="win-green">@Helper.GetFormattedPoints(Model.JobTitlePoints)</b> for your next selected submission.</h5>
<div id="jobs" class="panel-group">
    <div class="panel panel-primary">
        <div id="advertisingCollapse" class="panel-heading @(Model.SelectedPosition == JobPosition.Attention ? "" : "collapsed") clickable" data-toggle="collapse" data-parent="#jobs" data-target="#advertising" onclick="updateJobsDropdown(0);">
            <h4 class="panel-title accordion-toggle">
                Attention Hog
            </h4>
        </div>
        <div id="advertising" class="panel-collapse collapse @(Model.SelectedPosition == JobPosition.Attention ? "in" : "")">
            <div class="panel-body">
                Found an interesting way to advertise or market @Resources.SiteName? Maybe you already have. Even better!
                For this category, if you have (or make!) any creative slogans, promotions, videos, or come up with any other ways of <a href="/Referrals">referring</a> us to
                others, submit it to us. If we like it (or end up using it), we'll bump you up a Job Title and reward you for
                your great work.
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div id="bugsCollapse" class="panel-heading @(Model.SelectedPosition == JobPosition.Bugs ? "" : "collapsed") clickable" data-toggle="collapse" data-parent="#jobs" data-target="#bugs" onclick="updateJobsDropdown(1);">
            <h4 class="panel-title accordion-toggle">
                Bug Catcher
            </h4>
        </div>
        <div id="bugs" class="panel-collapse collapse @(Model.SelectedPosition == JobPosition.Bugs ? "in" : "")">
            <div class="panel-body">
                Although we try our best to be bug-free, sometimes mistakes happen. If you find any bugs, typos, or anything not working
                as it should, submit a detailed report to us about how to reproduce it and we'll show our appreciation by rewarding you
                for your watchful eye.
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div id="visionaryCollapse" class="panel-heading @(Model.SelectedPosition == JobPosition.Visionary ? "" : "collapsed") clickable" data-toggle="collapse" data-parent="#jobs" data-target="#visionary" onclick="updateJobsDropdown(2);">
            <h4 class="panel-title accordion-toggle">
                @Resources.SiteName Visionary
            </h4>
        </div>
        <div id="visionary" class="panel-collapse collapse @(Model.SelectedPosition == JobPosition.Visionary ? "in" : "")">
            <div class="panel-body">
                This is your chance to let us know how @Resources.SiteName can be better! Have a new feature idea? Or maybe a way
                to improve upon something that already exists? We're open to all suggestions. For this category, suggest a new feature or enhancement
                and if we end up implementing it, we'll be sure to reward you for the idea.
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div id="designerCollapse" class="panel-heading @(Model.SelectedPosition == JobPosition.Design ? "" : "collapsed") clickable" data-toggle="collapse" data-parent="#jobs" data-target="#designer" onclick="updateJobsDropdown(3);">
            <h4 class="panel-title accordion-toggle">
                Design Scholar
            </h4>
        </div>
        <div id="designer" class="panel-collapse collapse @(Model.SelectedPosition == JobPosition.Design ? "in" : "")">
            <div class="panel-body">
                Making things look nice is important. And if you have an eye for design, we're interested! For this category, if you submit improvements
                to our existing graphics/images or suggest better ways to improve our design (different color schemes, UX suggestions, etc.),
                we'll make sure to reward you if we end up using what you send us.
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div id="newsCollapse" class="panel-heading @(Model.SelectedPosition == JobPosition.News ? "" : "collapsed") clickable" data-toggle="collapse" data-parent="#jobs" data-target="#news" onclick="updateJobsDropdown(4);">
            <h4 class="panel-title accordion-toggle">
                News Writer
            </h4>
        </div>
        <div id="news" class="panel-collapse collapse @(Model.SelectedPosition == JobPosition.News ? "in" : "")">
            <div class="panel-body">
                As a News Writer, your responsibility is to write great and interesting content about @Resources.SiteName for all the readers of
                the <a href="/News">News</a> page. Submit to us an original article, editiorial, or whatever writings you choose, and if we end up publishing it,
                you'll be rewarded for your great journalism!
            </div>
        </div>
    </div>
</div>
@if (Model.JobSubmissions.Count > 0)
{
    <h5 class="padding-bottom">
        <a class="@(Model.Expand ? "" : "collapsed") clickable" data-toggle="collapse" data-target="#jobSubmissions">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Past Submissions (@Helper.FormatNumber(Model.JobSubmissions.Count))
        </a>
    </h5>
    <div id="jobSubmissions" class="collapse @(Model.Expand ? "in" : "") padding-bottom">
        <div class="panel panel-primary">
            <div class="panel-heading">Past Submissions</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Write-Up</th>
                            <th>Status</th>
                            <th>Votes</th>
                            <th>Submitted</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (JobSubmission jobSubmission in Model.JobSubmissions)
                        {
                            <tr>
                                <td data-title="Category">@jobSubmission.Position.GetDisplayName()</td>
                                <td data-title="Title" >@jobSubmission.Title</td>
                                <td data-title="Write-Up">@jobSubmission.Content</td>
                                <td data-title="Status"><b class="@(jobSubmission.State == JobState.Open ? "" : jobSubmission.State == JobState.Accepted ? "win-green" : "text-warning")">@jobSubmission.State.GetDisplayName()</b></td>
                                <td data-title="Votes">@Html.Raw(jobSubmission.AttentionHallPost == null ? "N/A" : $"<a href='/AttentionHall?id={jobSubmission.AttentionHallPost.Id}'>{Helper.FormatNumberShortened(jobSubmission.AttentionHallPost.Points)}</a>")</td>
                                <td data-title="Submitted">@jobSubmission.CreatedDate.GetTimeSince()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
<div class="gray-container gray-border">
    <form id="jobsForm" action="@Url.Action("SubmitJob", "Jobs")" method="POST" onsubmit="submitJobsForm(event, this, true);">
        <div class="form-group">
            <input type="hidden" id="jobsDropdownValue" value="@((int)Model.SelectedPosition)" />
            <label for="length">Category</label>
            <select class="form-control" id="position" name="position" required>
                <option value="1">Attention Hog</option>
                <option value="2">Bug Catcher</option>
                <option value="3">@Resources.SiteName Visionary</option>
                <option value="4">Design Scholar</option>
                <option value="5">News Writer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="author">Title</label>
            <input id="title" type="text" class="form-control" name="title" placeholder="Title of your submission" autocomplete="off" maxlength="50" required>
        </div>
        <div class="form-group">
            <label for="article">
                Write-Up
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="If you'd like to include an image or video along with your submission, please provide a link."></span>
            </label>
            <textarea class="form-control" name="content" rows="5" id="content" placeholder="Your submission..." autocomplete="off" required onkeyup="updateJobsCountMessage();"></textarea>
            <h6 class="pull-right text-muted" id="jobsCountMessage">@Helper.FormatNumber(2500) remaining</h6>
        </div>
        <div class="form-group">
            <label class="checkbox-inline"><input name="addToAttentionHall" id="addToAttentionHall" type="checkbox" checked>
                Create an Attention Hall post with your write-up (Recommended)
            </label>
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Other users can vote and comment on your submission."></span>
        </div>
        <div class="small-padding-top ">
            <small class="text-muted">
                By submitting your write-up, you grant @Resources.SiteName the right to freely use any of the content you provide and guarantee that you are the creator of the content.
            </small>
        </div>
        @Html.AntiForgeryToken()
        <div class="form-group large-padding-top">
            <button type="submit" class="btn btn-primary">Submit Job</button>
        </div>
    </form>
</div>