﻿@model JobsViewModel
<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "Jobs")">Jobs</a></li>
    <li class="active"><a href="#">Helpers</a></li>
</ul>
<div id="helpersPartialView">
    @await Html.PartialAsync("_HelpersMainPartial", Model)
</div>