﻿@model JobsViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Jobs</a></li>
    <li><a href="@Url.Action("Helpers", "Jobs")">Helpers</a></li>
</ul>
<div id="jobsPartialView">
    @await Html.PartialAsync("_JobsMainPartial", Model)
</div>