﻿@model TopCounterViewModel

<div class="gray-container">
    Once every <b>hour</b>, you can count the total value of all the cards. If you get it right, you'll get <b class="win-green">@Helper.GetFormattedPoints(500)</b>!
</div>
<h5 id="value">Total Value</h5>
<form action="@Url.Action("Send", "TopCounter")" method="POST" onsubmit="updateTopCounter(event, this)">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-calculator"></i></span>
            <input type="number" class="form-control" id="amount" min="1" name="amount" placeholder="Total Card Value" required>
            <span class="input-group-btn">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary btn-rounded @(Model.CanPlay ? "" : "disabled")">Send</button>
            </span>
        </div>
    </div>
</form>
@if (Model.CanPlay)
{
    <h5>Cards (@(Helper.FormatNumber(Model.Cards.Count)))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Card card in Model.Cards)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5>@card.Name</h5>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-info">
        You can play Top Counter again in <b>@Model.LastPlayDate.AddHours(1).GetTimeUntil()</b>.
    </div>
}
