﻿@model RankingsViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="@(Model.WealthRankingsFirst ? "" : "active")"><a data-toggle="tab" href="#nav-stadium"><h5>Stadium</h5></a></li>
    <li class="@(Model.WealthRankingsFirst ? "active" : "")"><a data-toggle="tab" href="#nav-bank"><h5>Wealth</h5></a></li>
</ul>
<div class="tab-content padding-top">
    <div class="tab-pane fade @(Model.WealthRankingsFirst ? "" : "active in")" id="nav-stadium">
        <div class="gray-container">
            Stadium rankings are calculated by using results from <b>user matches</b> only. A user's ranking is calculated using a formula that involves factors such as win percent and matches played.
        </div>
        <div class="padding-top"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Top 50 Stadium Rankings</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ranking</th>
                            <th>User</th>
                            <th>Wins</th>
                            <th>Matches Played</th>
                            <th>Win Percent</th>
                            <th>Percentile</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MatchRanking matchRanking in Model.MatchRankings.Take(50).ToList())
                        {
                            <tr>
                                <td data-title="Ranking"><b class="@(matchRanking.Rank == 1 ? "gold-color" : matchRanking.Rank == 2 ? "silver-color" : matchRanking.Rank == 3 ? "bronze-color" : "")">@Html.Raw(matchRanking.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @Helper.FormatNumber(matchRanking.Rank)</b></td>
                                <td data-title="User">
                                    <div class="pull-left small-margin-right">
                                        @if (string.IsNullOrEmpty(matchRanking.DisplayPicUrl))
                                        {
                                            <div class="circle extra-small-circle" id="colored-by-username-@matchRanking.Username" data-user-color="@matchRanking.Color" value="@matchRanking.Username">
                                                @matchRanking.Username.Substring(0, 1).ToUpper()
                                            </div>
                                        }
                                        else
                                        {
                                            <img class="img-circle display-image display-image-small" src="@matchRanking.DisplayPicUrl" />
                                        }
                                    </div>
                                    <a href="/User/@matchRanking.Username">@matchRanking.Username</a>
                                    @if (ServicesLocator.GetService<IMatchHistoryRepository>().IsElite(null, matchRanking))
                                    {
                                        <div class="label label-elite">Elite</div>
                                    }
                                </td>
                                <td data-title="Wins">@Helper.FormatNumber(matchRanking.WonMatches)</td>
                                <td data-title="Matches Played">@Helper.FormatNumber(matchRanking.TotalMatches)</td>
                                <td data-title="Win Percent">@Math.Round((double)matchRanking.WonMatches/matchRanking.TotalMatches * 100, 1)%</td>
                                <td data-title="Percentile">@Math.Round(100 - matchRanking.Percentile * 100, 1)%</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade @(Model.WealthRankingsFirst ? "active in" : "")" id="nav-bank">
        <div class="gray-container">
            Wealth rankings are calculated by a combination of all @Resources.Currency on hand and in the <a href="/Bank">Bank</a>.
        </div>
        <div class="padding-top"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Top 50 Wealth Rankings</div>
            <div class="table-responsive" id="mobile-friendly-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ranking</th>
                            <th>User</th>
                            <th>Amount</th>
                            <th>Percentile</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WealthRanking wealthRanking in Model.WealthRankings.Take(50).ToList())
                        {
                            <tr>
                                <td data-title="Ranking"><b class="@(wealthRanking.Rank == 1 ? "gold-color" : wealthRanking.Rank == 2 ? "silver-color" : wealthRanking.Rank == 3 ? "bronze-color" : "")">@Html.Raw(wealthRanking.Rank <= 3 ? "<span class='fas fa-trophy'></span>" : "") @Helper.FormatNumber(wealthRanking.Rank)</b></td>
                                <td data-title="User">
                                   <div class="pull-left small-margin-right">
                                        @if (string.IsNullOrEmpty(wealthRanking.DisplayPicUrl))
                                        {
                                            <div class="circle extra-small-circle" id="colored-by-username-@wealthRanking.Username" data-user-color="@wealthRanking.Color" value="@wealthRanking.Username">
                                                @wealthRanking.Username.Substring(0, 1).ToUpper()
                                            </div>
                                        }
                                        else
                                        {
                                            <img class="img-circle display-image display-image-small" src="@wealthRanking.DisplayPicUrl" />
                                        }
                                    </div>
                                    <a href="/User/@wealthRanking.Username">@wealthRanking.Username</a>
                                </td>
                                <td data-title="Amount">@Helper.GetFormattedPoints(wealthRanking.TotalPoints)</td>
                                <td data-title="Percentile">@Math.Round(100 - wealthRanking.Percentile * 100, 1)%</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
