﻿@model TourneyViewModel

<h5 class="no-margin-bottom">Create a Tourney</h5>
<form action="@Url.Action("Create", "Tourney")" method="POST" onsubmit="submitTourneyForm(event, this);" class="padding-top">
    <div class="form-group">
        <label for="name">Tourney Name</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="name" name="name" placeholder="What's your tourney called?" maxlength="30" required>
        </div>
    </div>
    <div class="form-group">
        <label for="caliber">
            Tourney Requirements
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Users who join your tourney will need to meet these requirements (you must meet them as well)."></span>
        </label>
        <select class="form-control" id="caliber" name="caliber" required>
            <option value="@TourneyCaliber.All">@TourneyCaliber.All.GetDisplayName()</option>
            <option value="@TourneyCaliber.NonEliteOnly">@TourneyCaliber.NonEliteOnly.GetDisplayName()</option>
            <option value="@TourneyCaliber.EliteOnly">@TourneyCaliber.EliteOnly.GetDisplayName()</option>
        </select>
    </div>
    <div class="form-group">
        <label for="matchesPerRound">
            Best of
           <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Each match-up of the tourney can either be a best of 1, 3, or 5 matches."></span>
        </label>
        <select class="form-control" id="matchesPerRound" name="matchesPerRound" required>
            <option value="3">3</option>
            <option value="1">1</option>
            <option value="5">5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="requiredParticipants">
            Number of Participants (including yourself)
           <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="How many people must enter your tourney for it to begin."></span>
        </label>
        <select class="form-control" id="requiredParticipants" name="requiredParticipants" required>
            <option value="4">4</option>
            <option value="8">8</option>
        </select>
    </div>
    <div class="form-group">
        <div>
            <label for="noHostParticipation">No Host Participation</label>
        </div>
        <label class="checkbox-inline">
            <input name="noHostParticipation" id="noHostParticipation" type="checkbox">
            Don't participate in the tourney you're creating
        </label>
    </div>
    <div class="form-group">
        <div>
            <label for="noHostParticipation">Sponsor Tourney</label>
        </div>
        <label class="checkbox-inline">
            <input name="sponsorTourney" id="sponsorTourney" type="checkbox">
            You will pay the entrance cost for the tourney and everyone else can enter free. The winners will split your sponsored amount.
        </label>
    </div>
    <div class="form-group">
        <label for="entranceCost">
            Entry Cost (@Resources.Currency)
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="How much @Resources.Currency it costs to enter your tourney. If @Helper.GetFormattedPoints(0), everyone enters free. Otherwise, the total amount is split 80% to 1st, 20% to 2nd place."></span>
        </label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-coins" aria-hidden="true"></i></span>
            <input type="number" class="form-control" id="entranceCost" name="entranceCost" min="0" max="10000000" value="0" required>
        </div>
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">Create Tourney</button>
</form>