﻿@model TourneyViewModel

@foreach (Tourney tourney in Model.Tourneys)
{
    <div class="padding-top"></div>
    <div class="panel panel-primary no-margin-bottom clickable" onclick="window.location='/Tourney?id=@tourney.Id'">
        <div class="panel-body primary-container">
            <div class="pull-left">
                <h4 class="circle no-margin-top no-margin-bottom shadow" id="colored-by-username-@tourney.Id" value="@tourney.Name">
                    @tourney.Name.Substring(0, 1).ToUpper()
                </h4>
            </div>
            <div class="image-padding-left small-margin-left">
                <h5 class="medium-font no-margin-bottom">
                    <b>@tourney.Name</b>
                </h5>
                <h6 class="small-margin-top text-muted">
                    Hosted by: <b><a href="/User/@tourney.Creator">@tourney.Creator</a></b>
                </h6>
                <h6 class="no-margin-top">
                    @if (tourney.IsSponsored)
                    {
                        <span>
                            <span class="label label-elite">Sponsored</span> (Prize: <b class="win-green">@Helper.GetFormattedPoints(tourney.EntranceCost))</b>
                        </span>
                    }
                    else
                    {
                        <span>
                            Entry Cost: <b class="@(tourney.EntranceCost > Model.User.Points ? "lose-red" : "win-green")">@(tourney.EntranceCost == 0 ? "Free" : Helper.GetFormattedPoints(tourney.EntranceCost))</b>
                        </span>
                    }
                </h6>
                @if (tourney.TourneyCaliber != TourneyCaliber.All)
                {
                    <div class="label label-danger">@tourney.TourneyCaliber.GetDisplayName()</div>
                }
            </div>
        </div>
        <div class="panel-footer">
            <h6 class="no-margin-top no-margin-bottom inline">
                @Helper.FormatNumber(tourney.GetEntrantsCount())/@Helper.FormatNumber(tourney.RequiredParticipants) Entrants
            </h6>
            @{ TourneyStatus tourneyStatus = tourney.GetStatus(); }
            <div class="label label-@(tourneyStatus == TourneyStatus.NotStarted ? "success" : tourneyStatus == TourneyStatus.InProgress ? "danger" : "elite") pull-right extra-small-margin-top"><b>@tourneyStatus.GetDisplayName()</b></div>
        </div>
    </div>
}
@if (Model.Tourneys.Count == 0)
{
    <h5>No Tourneys</h5>
    <div class="alert alert-info">
        There are currently no active tourneys. Why don't you <a class="alert-link" href="/Tourney/Create">create one?</a>
    </div>
}
@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/Groups?page=@i">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
}