﻿@model TourneyViewModel

@{
    TourneyStatus tourneyStatus = Model.CurrentTourney.GetStatus();
    string tourneyWinner = Model.CurrentTourney.GetWinner();
}

<div class="panel panel-primary margin-bottom">
    <div class="panel-heading">
        <h5 class="small-margin-top small-margin-bottom">
            @Model.CurrentTourney.Name
            @if (tourneyStatus != TourneyStatus.Completed && (Model.User.Role >= UserRole.Helper || (tourneyStatus == TourneyStatus.NotStarted && Model.User.Role == UserRole.Default && Model.CurrentTourney.Creator == Model.User.Username)))
            {
                <a class="white-color pull-right big-font clickable" onclick="deleteTourney('@Model.CurrentTourney.Id')" data-toggle="tooltip" data-placement="top" title="Delete Tourney"><span class="glyphicon glyphicon-remove"></span></a>
            }
        </h5>
    </div>
    <div class="panel-body primary-container">
        <h5 class="small-margin-top">Hosted by <b><a href="/User/@Model.CurrentTourney.Creator">@Model.CurrentTourney.Creator</a></b></h5>
        <h5 class="small-margin-bottom">Rules:</h5>
        <ul>
            <li>
                <h5 class="no-margin-top no-margin-bottom">@Model.CurrentTourney.RequiredParticipants Entrants</h5>
            </li>
            <li>
                <h5 class="no-margin-top no-margin-bottom">Best of <b>@Model.CurrentTourney.MatchesPerRound Match@(Model.CurrentTourney.MatchesPerRound == 1 ? "" : "es")</b></h5>
            </li>
            @if (Model.CurrentTourney.EntranceCost > 0 && !Model.CurrentTourney.IsSponsored)
            {
                <li>
                    <h5 class="no-margin-top no-margin-bottom">Entry Cost: <b class="@(Model.CurrentTourney.EntranceCost > Model.User.Points ? "lose-red" : "win-green")">@Helper.GetFormattedPoints(Model.CurrentTourney.EntranceCost)</b> (1st place gets <b class="win-green">@(Helper.GetFormattedPoints(Model.CurrentTourney.EntranceCost * Model.CurrentTourney.RequiredParticipants * 0.8))</b>, 2nd place gets <b class="win-green">@Helper.GetFormattedPoints(Model.CurrentTourney.EntranceCost * Model.CurrentTourney.RequiredParticipants * 0.2)</b>)</h5>
                </li>
            }
            else if (Model.CurrentTourney.IsSponsored && Model.CurrentTourney.EntranceCost > 0)
            {
                <li>
                    <h5 class="no-margin-top no-margin-bottom">
                        <span class="label label-elite">Sponsored</span> (Free to enter, 1st place gets <b class="win-green">@(Helper.GetFormattedPoints(Model.CurrentTourney.EntranceCost * 0.8))</b>, 2nd place gets <b class="win-green">@Helper.GetFormattedPoints(Model.CurrentTourney.EntranceCost * 0.2)</b>)
                    </h5>
                </li>
            }
            @if (tourneyStatus != TourneyStatus.Completed)
            {
                <li>
                    <h5 class="no-margin-top no-margin-bottom">This tourney will be <b>cancelled</b> if it hasn't been completed in <b>@Model.CurrentTourney.CreatedDate.AddHours(96).GetTimeUntil()</b></h5>
                </li>
            }
            @if (Model.CurrentTourney.TourneyCaliber != TourneyCaliber.All)
            {
                <li>
                    <h5 class="label label-danger">@Model.CurrentTourney.TourneyCaliber.GetDisplayName()</h5>
                </li>
            }
        </ul>
    </div>
</div>
@if (tourneyStatus == TourneyStatus.Completed)
{
    <h5><span class="fas fa-crown gold-color"></span> Tourney Champion: <b><a href="/User/@tourneyWinner">@tourneyWinner</a></b></h5>
}
<h5 class="small-padding-top">
    Bracket
    <span class="label label-@(tourneyStatus == TourneyStatus.NotStarted ? "success" : tourneyStatus == TourneyStatus.InProgress ? "danger" : "elite") extra-small-margin-top">@tourneyStatus.GetDisplayName()</span>
</h5>
@if (Model.CurrentTourney.TourneyMatches.Count == 0)
{
    int spotsOpen = Model.CurrentTourney.RequiredParticipants - Model.CurrentTourney.GetEntrantsCount();
    <div class="panel panel-primary margin-bottom text-center">
        <div class="panel-heading">
            <h5 class="small-margin-top small-margin-bottom">
                Round 1
            </h5>
        </div>
        <div class="panel-body primary-container">
            <form action="@Url.Action("Join", "Tourney")" method="POST" class="small-padding-top" onsubmit="submitTourneyForm(event, this, '@Model.CurrentTourney.Id');">
                @Html.AntiForgeryToken()
                <input type="hidden" id="tourneyId" name="tourneyId" value="@Model.CurrentTourney.Id" />
                <button type="submit" class="btn btn-success @(Model.CurrentTourney.IsSponsored || Model.User.Points >= Model.CurrentTourney.EntranceCost ? "" : "disabled")">
                    Join Tourney
                    (@spotsOpen spot@(spotsOpen == 1 ? "" : "s") open)
                </button>
            </form>
        </div>
    </div>
}
@foreach (IGrouping<int, TourneyMatch> tourneyMatchGroup in Model.CurrentTourney.TourneyMatches.GroupBy(x => x.Round).ToList())
{
    <div class="panel panel-primary margin-bottom text-center">
        <div class="panel-heading">
            <h5 class="small-margin-top small-margin-bottom">
                Round @(tourneyMatchGroup.Key + 1)
            </h5>
        </div>
        <div class="panel-body primary-container">
            @foreach (TourneyMatch tourneyMatch in tourneyMatchGroup)
            {
                <h5>
                    @if (tourneyMatch.Username1 == tourneyWinner)
                    {
                        <span class="fas fa-crown gold-color"></span>
                    }
                    <a class="@(tourneyMatch.Username2 != null && tourneyMatch.GetWinner() == tourneyMatch.Username2 ? "strikethrough" : "")" href="/User/@tourneyMatch.Username1">@tourneyMatch.Username1</a>
                    vs.
                    @if (string.IsNullOrEmpty(tourneyMatch.Username2))
                    {
                        <span>?</span>
                    }
                    else
                    {
                        @if (tourneyMatch.Username2 == tourneyWinner)
                        {
                            <span class="fas fa-crown gold-color"></span>
                        }
                        <a class="@(tourneyMatch.Username1 != null && tourneyMatch.GetWinner() == tourneyMatch.Username1 ? "strikethrough" : "")" href="/User/@tourneyMatch.Username2">@tourneyMatch.Username2</a>
                        @if (!string.IsNullOrEmpty(tourneyMatch.Winner))
                        {
                            <span>(Forfeited)</span>
                        }
                        else
                        {
                            <span>(@Helper.FormatNumber(tourneyMatch.Wins) - @Helper.FormatNumber(tourneyMatch.Losses))</span>
                        }
                        if (string.IsNullOrEmpty(tourneyMatch.GetWinner()))
                        {
                            if (tourneyMatch.Username1 == Model.User.Username || tourneyMatch.Username2 == Model.User.Username)
                            {
                                <span data-toggle="tooltip" data-placement="top" title="This is your match-up."><span class="fas fa-eye text-muted"></span></span>
                            }
                        }
                        else
                        {
                            <span class="fas fa-check win-green"></span>
                        }
                    }
                </h5>
            }
            @if (tourneyStatus == TourneyStatus.NotStarted)
            {
                int spotsOpen = Model.CurrentTourney.RequiredParticipants - Model.CurrentTourney.GetEntrantsCount();
                @if (Model.CurrentTourney.IsParticipant(Model.User))
                {
                    <h5 class="padding-top text-muted">
                        <span class="fas fa-clock"></span>
                        Tourney will start when @spotsOpen more join@(spotsOpen == 1 ? "s" : "")!
                    </h5>
                }
                else
                {
                    <form action="@Url.Action("Join", "Tourney")" method="POST" class="small-padding-top" onsubmit="submitTourneyForm(event, this, '@Model.CurrentTourney.Id');">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="tourneyId" name="tourneyId" value="@Model.CurrentTourney.Id" />
                        <button type="submit" class="btn btn-success @(Model.CurrentTourney.IsSponsored || Model.User.Points >= Model.CurrentTourney.EntranceCost ? "" : "disabled")">
                            Join Tourney
                            (@spotsOpen spot@(spotsOpen == 1 ? "" : "s") open)
                        </button>
                    </form>
                }
            }
            else if (tourneyStatus == TourneyStatus.InProgress)
            {
                if (tourneyMatchGroup.Any(x => (x.Username1 == Model.User.Username && !string.IsNullOrEmpty(x.Username2) || x.Username2 == Model.User.Username && !string.IsNullOrEmpty(x.Username1)) && string.IsNullOrEmpty(x.GetWinner())))
                {
                    <form action="@Url.Action("StartTourney", "Stadium")" method="POST" class="small-padding-top" onsubmit="submitTourneyForm(event, this, '@Model.CurrentTourney.Id');">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="tourneyId" name="tourneyId" value="@Model.CurrentTourney.Id" />
                        <button type="submit" class="btn btn-success">
                            @{ TourneyMatch tourneyMatch = tourneyMatchGroup.ToList().Find(x => string.IsNullOrEmpty(x.GetWinner()) && (x.Username1 == Model.User.Username || x.Username2 == Model.User.Username)); }
                            <span class="fas fa-play"></span> <b>Play Match #@(tourneyMatch.Wins + tourneyMatch.Losses + 1)!</b>
                        </button>
                    </form>
                    <form action="@Url.Action("Forfeit", "Tourney")" method="POST" class="small-padding-top" onsubmit="forfeitTourney(event, this, '@Model.CurrentTourney.Id');">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="tourneyId" name="tourneyId" value="@Model.CurrentTourney.Id" />
                        <button type="submit" class="btn btn-warning">
                            <span class="fas fa-skull-crossbones"></span> Forfeit Tourney
                        </button>
                    </form>
                    if (Model.TourneyOpponent != null)
                    {
                        <h5 class="small-margin-bottom">
                            <span class="status-dot win-green-background"></span> Your opponent <a href="/User/@Model.TourneyOpponent.Username">@Model.TourneyOpponent.Username</a> was last active <b>@Model.TourneyOpponent.ModifiedDate.GetTimeSince()</b>.
                        </h5>
                    }
                }
            }
        </div>
    </div>
}