﻿@model TourneyViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Tourney">All Tourneys</a></li>
            <li><a href="/Tourney/Create">Create Tourney</a></li>
            <li class="active"><a href="/Tourney/Participant">Your Tourneys</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="tourneyPartialView">
            @await Html.PartialAsync("_TourneyParticipantPartial", Model)
        </div>
    </div>
</div>