﻿@model MerchantsViewModel

<div class="primary-container light-blue-border">
    <h5 class="no-margin-top">Gift Contest Rules</h5>
    <ul>
        <li>
            Enter the contest for <b class="win-green">@Helper.GetFormattedPoints(500)</b> and submit one of your rare or special items. 
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="The Traveling Merchants will not keep your entered item."></span>
        </li>
        <li>
            The Traveling Merchants will judge your entry and give it a <b>score</b>.
        </li>
        <li>
            If the score is high enough, you'll win a <b class="win-green">prize</b>.
        </li>
    </ul>
</div>
<h5>
    Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("EnterContest", "Merchants")" method="POST" onsubmit="updateMerchantsForm(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@item.SelectionId" />
                        <button type="submit" class="btn btn-primary btn-xs @(Model.User.Points >= 500 && Model.CanEnterContest ? "" : "disabled")">Enter Contest</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        You have no items that can be entered into the contest. Items that have an <b class="lose-red">Unusable</b> condition cannot be entered.
    </div>
}