﻿@model MerchantsViewModel

<h5>
    Jewel Cards (@Helper.FormatNumber(Model.Jewels.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Jewel jewel in Model.Jewels)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(jewel.ImageUrl)" alt="@jewel.Description" title="@jewel.Description">
                <div>
                    <h5>@jewel.Name</h5>
                    <p><i><small>@jewel.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(jewel.Uses > 0 ? $"{jewel.Uses} Use{(jewel.Uses != 1 ? "s" : "")} {(jewel.TotalUses == jewel.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(jewel.GetAgeInHours()) hour@(jewel.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @jewel.Category <span class="@Helper.GetItemConditionColor(jewel.Condition)">(@jewel.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small>Offer: <b class="win-green">@Helper.GetFormattedPoints(jewel.Points)</b></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("SellJewel", "Merchants")" method="POST" onsubmit="updateMerchantsForm(event, this, false)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@jewel.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs">Sell Jewel</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Jewels.Count == 0)
{
    <div class="alert alert-info">
        You don't have any Jewel Cards that can be valuated.
    </div>
}