﻿@model MerchantsViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Contest</a></li>
    <li><a href="@Url.Action("Jewel", "Merchants")">Jewel Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        The Traveling Merchants show up for brief periods of time to buy <b>Jewel Cards</b> and host <b>gift contests</b>.
        They leave in <b>@Model.ExpiryDate.GetTimeUntil()</b> so you don't have much time!
    </div>
</p>
<div id="merchantsPartialView">
    @await Html.PartialAsync("_MerchantsMainPartial", Model)
</div>