﻿@model MerchantsViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "Merchants", new {fromTab = true})">Contest</a></li>
    <li class="active"><a href="#">Jewel Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        The Traveling Merchants can valuate your <b>Jewel Cards</b> and make you an offer on any of them. If you don't like the offer, you'll have to wait until they come back again.
    </div>
</p>
<div id="merchantsJewelPartialView">
    @await Html.PartialAsync("_MerchantsJewelPartial", Model)
</div>
