﻿@model ChallengerDomeViewModel

<div class="gray-container">
    Challenge a new CPU for practice every <b>15 minutes</b>. Each day you play, your streak will increase and your <b class="win-green">reward</b> will get bigger! But if you skip a day, you'll have to start all over again!
    <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="You can earn a maximum of @Helper.GetFormattedPoints(5000) per match."></span>
</div>
<h5>Current Streak: <b class="@(Model.ChallengerDomeStreak > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.ChallengerDomeStreak)x</b></h5>
<h5>Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
<div class="scrolling-wrapper">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
        @foreach (Card card in Model.Deck)
        {
            <div class="scrolling-grid-element text-center clickable @(!ServicesLocator.GetService<IRelicsRepository>().HasEarned(card.Tier, Model.MatchLevel) ? "lose-red-border" : "")" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5 class="small-margin-bottom">@card.Name</h5>
                    </div>
                </div>
                <div class="push-down-class">
                    @if  (card.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<form class="large-padding-top" action="@Url.Action("ChallengeDome", "Stadium")" method="POST" onsubmit="updateChallengerDome(event, this, false)">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.Deck.Count == Helper.GetMaxDeckSize() && Model.Deck.All(x => x.Condition < ItemCondition.Unusable) && Model.CanPlay ? "" : "disabled")"><b>Enter the Dome!</b></button>
</form>