﻿@model VillagerViewModel

<p>
    <div class="gray-container">
        @if (Model.CardsGiven < 500)
        {
            <span>An old villager collects <b>red @Resources.DeckCards</b> and is trying to own <b>@Helper.FormatNumber(500) of them</b>.</span>
        }
        else
        {
            <span>An old villager proudly collects <b>red @Resources.DeckCards</b>.</span>
        }
        <ul class="small-margin-top no-margin-bottom">
            <li>
                For every <b>15 red @Resources.DeckCards</b> you bring, he'll give you <b>1 Training Token</b>.
            </li>
            @if (Model.CardsGiven < 500)
            {
                <li>
                    If you bring <b>@Helper.FormatNumber(500) red @Resources.DeckCards</b> to him, he'll give you a <b class="win-green">reward</b>!
                </li>
            }
        </ul>
    </div>
</p>
<h5>Red @Resources.DeckCards Given: <b id="cards-given" class="@(Model.CardsGiven >= 500 ? "win-green" : "")">@Helper.FormatNumber(Model.CardsGiven)</b></h5>
<h5>
    Red @Resources.DeckCards (@Helper.FormatNumber(Model.Cards.Count))
</h5> 
<div class="grid-container grid-container--fit">
    @foreach (Card card in Model.Cards)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                <div>
                    <h5>@card.Name</h5>
                    <p><i><small>@card.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(card.GetAgeInHours()) hour@(card.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @card.Category <span class="@Helper.GetItemConditionColor(card.Condition)">(@card.Condition)</span>
                        </small>
                    </span>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("GiveCard", "Villager")" method="POST" onsubmit="updateVillager(event, this, true)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="selectionId" value="@card.SelectionId" />
                        <button type="submit" class="btn btn-success btn-xs">Give Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Cards.Count == 0)
{
    <div class="alert alert-info">
        You don't have any red @Resources.DeckCards to give. Items in your Deck or that have an Unusable condition cannot be given.
    </div>
}
