﻿@model VillagerViewModel

<p>
    <div class="gray-container">
        The villager owns a <b>Theme Squeezer machine</b>. You can leave any @Resources.DeckCard in the machine for <b>one day</b> and extract its theme. This will destroy the @Resources.DeckCard and only leave the extracted Theme Card.
    </div>
</p>
@if (Model.CardsGiven < 10)
{
    <div class="alert alert-info">
        The villager will only let you use the machine when you've given at least <b>10 red @Resources.DeckCards</b>. You need to give <b>@(10 - Model.CardsGiven) more</b>!
    </div>
}
else
{
    @if (Model.ThemeFinishedDate == DateTime.MinValue)
    {
        <h5>
            @Resources.DeckCards (@Helper.FormatNumber(Model.Cards.Count))
        </h5> 
        <div class="grid-container grid-container--fit">
            @foreach (Card card in Model.Cards)
            {
                <div class="grid-container-no-padding grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                        <div>
                            <h5>@card.Name</h5>
                            <p><i><small>@card.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        @if (card.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                            </div>
                        }
                        <div>
                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(card.GetAgeInHours()) hour@(card.GetAgeInHours() == 1 ? "" : "s") old">
                                <small>
                                    @card.Category <span class="@Helper.GetItemConditionColor(card.Condition)">(@card.Condition)</span>
                                </small>
                            </span>
                        </div>
                        <div class="small-padding-top">
                            <form action="@Url.Action("SqueezeTheme", "Villager")" method="POST" onsubmit="updateVillager(event, this, false)">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="selectionId" value="@card.SelectionId" />
                                <button type="submit" class="btn btn-success btn-xs">Get Theme</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Cards.Count == 0)
        {
            <div class="alert alert-info">
                You don't have any @Resources.DeckCards to put in the Theme Squeezer machine. Items in your Deck or that have an Unusable condition cannot be given.
            </div>
        }
    }
    else
    {
        <h5>Theme Card</h5>
        <div class="grid-element text-center center-block card-width">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(Model.ThemeCard.ImageUrl)" alt="@Model.ThemeCard.Description" title="@Model.ThemeCard.Description">
                <div>
                    <h5>@Model.ThemeCard.Name</h5>
                    <p><i><small>@Model.ThemeCard.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(Model.ThemeCard.TotalUses > 0 ? $"{Model.ThemeCard.TotalUses} Use{(Model.ThemeCard.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @Model.ThemeCard.Category <span class="@Helper.GetItemConditionColor(Model.ThemeCard.Condition)">(@Model.ThemeCard.Condition)</span>
                    </small>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(Model.ThemeCard.Points)</small>
                </div>
            </div>
        </div>
        <div class="padding-top"></div>
        @if (Model.CanTakeThemeCard)
        {
            <p>
                <div class="alert alert-success no-margin-bottom">
                    <h5>
                        Your Theme Squeezer has finished and produced the Theme Card "<b>@Model.ThemeCard.Name</b>"!
                    </h5>
                </div>
            </p>
            <form action="@Url.Action("TakeThemeCard", "Villager")" method="POST" onsubmit="updateVillager(event, this, false)" class="small-padding-top">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">Get Theme Card</button>
            </form>
        }
        else
        {
            <p>
                <div class="alert alert-info no-margin-bottom">
                    Your @Resources.DeckCard is in the Theme Squeezer and will be finished in <b>@Model.ThemeFinishedDate.GetTimeUntil()</b>.
                </div>
            </p>
        }
    }
}
