﻿@model VillagerViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Villager</a></li>
    <li><a href="@Url.Action("ThemeSqueezer", "Villager")">Theme Squeezer</a></li>
</ul>
<div id="villagerPartialView">
    @await Html.PartialAsync("_VillagerMainPartial", Model)
</div>