﻿@model VillagerViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "Villager")">Villager</a></li>
    <li class="active"><a href="#">Theme Squeezer</a></li>
</ul>
<div id="villagerPartialView">
    @await Html.PartialAsync("_VillagerThemeSqueezerPartial", Model)
</div>