﻿@model ShowcaseViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Showcase</a></li>
    <li><a href="@Url.Action("Ager", "Showcase")">The Ager</a></li>
</ul>
<p>
    <div class="gray-container">
        <h5>How it works</h5>
        <ul>
            <li>
                A new, random item is showcased every <b>@Helper.GetShowcaseRefreshMinutes() minutes</b> and discounted by <b class="win-green">@(Model.HasBiggerDiscount ? "30%" : "25%")</b>.
            </li>
            <li>
                You can only buy <b>one</b> Timed Showcase item every <b>6 hours</b> so choose wisely!
            </li>
        </ul>
    </div>
</p>
@if (Model.HasBiggerDiscount)
{
    <p>
        <div class="alert alert-success no-margin-bottom">
            <h5>
                Your Group Power grants you an even better <b>30%</b> discount.
            </h5>
        </div>
    </p>
    <div class="small-padding-top"></div>
}
else
{
    <div class="large-padding-top"></div>
}
<h5>Current Showcased Item</h5>
<div class="grid-element text-center center-block card-width">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.Item.ImageUrl)" alt="@Model.Item.Description" title="@Model.Item.Description">
        <div>
            <h5>@Model.Item.Name</h5>
            <p><i><small>@Model.Item.Description</small></i></p>
        </div>
    </div>
    <div>
        @if (Model.Item.Tier > RelicId.None)
        {
            <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.Item.Tier Relic.">
                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.Item.Tier}.png")" />
            </div>
        }
        <div>
            <small class="semi-bold">@(Model.Item.TotalUses > 0 ? $"{Model.Item.TotalUses} Use{(Model.Item.TotalUses != 1 ? "s" : "")}" : "")</small>
        </div>
        <div>
            <small>
                @Model.Item.Category <span class="@Helper.GetItemConditionColor(Model.Item.Condition)">(@Model.Item.Condition)</span>
            </small>
        </div>
        <div>
            <small>
                Cost: <b class="@(Model.User.Points >= Model.Item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(Model.Item.Points)</b>
                <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(Model.Item.Points/(Model.HasBiggerDiscount ? 0.7 : 0.75))"></span>
            </small>
        </div>
    </div>
</div>
<div class="extra-large-padding-top">
    <div class="alert alert-success alert-success-coloring-gradient no-margin-bottom">
        <h5>
            This item's cost is currently reduced by <b>@(Model.HasBiggerDiscount ? "30%" : "25%")</b>. This deal will end in <b>@Model.TimeLeft minute@(Model.TimeLeft == 1 ? "" : "s")</b>. Make sure to buy it before it ends!
        </h5>
    </div>
</div>
<form action="@Url.Action("Buy", "Showcase")" method="POST" class="small-padding-top" onsubmit="submitShowcaseForm(event, this);">
    <input type="hidden" name="selectionId" value="@Model.Item.Id" />
    @Html.AntiForgeryToken()
    <div class="padding-top">
        <button type="submit" class="btn btn-success @(Model.CanBuyItem ? "" : "disabled")">Buy it!</button>
    </div>
</form>