﻿@model ShowcaseViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "Showcase")">Showcase</a></li>
    <li class="active"><a href="#">The Ager</a></li>
</ul>
<p>
    <div class="gray-container">
        Each day you leave an item in the Ager, it'll age by <b>7 days</b>. Be warned, as it becomes older, its condition will also <b>worsen</b>.
    </div>
</p>
@if (Model.Item == null)
{
    <h5>Items (@Helper.FormatNumber(Model.Items.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <div>
                            <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                        </div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("AgeItem", "Showcase")" method="POST" onsubmit="submitShowcaseForm(event, this, true);">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@item.SelectionId" />
                            <button type="submit" class="btn btn-primary btn-xs">Age Item</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info">
            You don't have any items to add to the Ager. You cannot add items in your Deck.
        </div>
    }
}
else
{
    <h5>Item</h5>
    <div class="grid-element text-center center-block card-width">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl(Model.Item.ImageUrl)" alt="@Model.Item.Description" title="@Model.Item.Description">
            <div>
                <h5>@Model.Item.Name</h5>
                <p><i><small>@Model.Item.Description</small></i></p>
            </div>
        </div>
        <div>
            @if (Model.Item.Tier > RelicId.None)
            {
                <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.Item.Tier Relic.">
                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.Item.Tier}.png")" />
                </div>
            }
            <div>
                <small class="semi-bold">@(Model.Item.TotalUses > 0 ? $"{Model.Item.TotalUses} Use{(Model.Item.TotalUses != 1 ? "s" : "")}" : "")</small>
            </div>
            <div>
                <small>
                    @Model.Item.Category
                </small>
            </div>
        </div>
    </div>
    <div class="extra-large-padding-top">
        <div class="alert alert-info alert-info-coloring-gradient no-margin-bottom">
            <h5>
                This item was added to the Ager <b>@Model.Item.AddedDate.GetTimeSince()</b> and has been aged by <b>@(Helper.FormatNumber((int)(DateTime.UtcNow - Model.Item.AddedDate).TotalDays * 7)) days</b>.
            </h5>
        </div>
    </div>
    <form action="@Url.Action("RemoveAgerItem", "Showcase")" method="POST" class="small-padding-top" onsubmit="submitShowcaseForm(event, this, true);">
        @Html.AntiForgeryToken()
        <div class="padding-top">
            <button type="submit" class="btn btn-primary">Remove Item</button>
        </div>
    </form>
}
