﻿@model LoginViewModel
<div class="padding-top visible-xs"></div>
<div class="row">
    <div class="hidden-sm hidden-xs col-md-6 large-padding-bottom">
        <div class="alert alert-info alert-info-coloring-gradient medium-thick-border extra-large-padding-left extra-large-padding-right no-margin-bottom">
            <h4 class="small-padding-top"><b><span class="fas fa-flag"></span> Don't have an account?</b></h4>
            <h5 class="small-padding-bottom">
                <span class="fas fa-star"></span>
                Choose your cards now and join @Resources.SiteName!
            </h5>
            <h5>
                Join the virtual world of @Resources.SiteName and start with:
            </h5>
            <div class="extra-large-margin-left"><span class="fas fa-coins"></span> <b>@Helper.FormatNumber(5000)</b> @Resources.CurrencyFull</div>
            <div class="extra-large-margin-left"><span class="fas fa-map-pin"></span> <b>50+</b> Explorable Locations</div>
            <div class="extra-large-margin-left"><span class="fas fa-play-circle"></span> <b>6</b> Starter Cards</div>
            <div class="large-padding-top"></div>
            <form action="@Url.Action("Start", "Intro")" method="POST" onsubmit="submitIntroForm(event, this);">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success">
                <h5 class="small-margin-top small-margin-bottom padding-left padding-right">
                    <span class="fas fa-play"></span>
                    <b>Choose Your Cards!</b>
                </h5>
                </button>
            </form>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h5 class="small-margin-top small-margin-bottom">Log in to your account</h5></div>
            <div class="panel-body">
                <form id="loginAccountForm" action="@Url.Action("Login", "Login")" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Username / Email" autofocus maxlength="35" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" id="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-block btn-primary"><h5 class="small-margin-top small-margin-bottom"><b>Log in!</b></h5></button>
                    </div>
                </form>
                <div class="visible-xs visible-sm text-center">
                    <div class="semi-bold">
                        <span class="fas-fa flag win-green"></span>
                        Don't have an account?
                        <form action="@Url.Action("Start", "Intro")" method="POST" class="small-padding-top" onsubmit="submitIntroForm(event, this);">
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-success btn-sm">
                                <span class="fas fa-play"></span>
                                <b>Choose Your Cards!</b>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="padding-top hidden-sm hidden-xs"></div>
<div class="row">
    <div class="col-md-12">
        <div id="reset" class="panel panel-default">
            <div class="panel-heading"><h5 class="small-margin-top small-margin-bottom">Reset your password</h5></div>
            <div class="panel-body">
                <div>
                    <p>
                        If you've forgot your password, enter your username or email below and we'll send you a password reset email!
                    </p>
                </div>
                <form id="forgotPasswordForm" action="@Url.Action("ForgotPassword", "Login")" method="POST" onsubmit="onLoginForgotSubmit(event, this);">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-10 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fas fa-envelope-open-text inline"></i></span>
                                    <input id="username" type="text" class="form-control" name="username" value="" placeholder="Username / Email" maxlength="35" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-secondary">
                            Send Reset Email
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>