﻿@model StockMarketViewModel
<p>
    <div class="gray-container">
        You can only sell shares <b>24 hours</b> after buying them. Any shares less than <b>30 days</b> old will also be taxed <b>15%</b> when sold.
    </div>
</p>
@if (Model.Portfolio.Count > 0)
{
    <div class="panel panel-primary no-margin-bottom">
        <div class="panel-heading">
            <h5 class="small-margin-top small-margin-bottom">
                Portfolio Information
            </h5>
        </div>
        <div class="panel-body primary-container">
            <h5 class="small-margin-top">
                Portfolio Value: <b class="@(Model.TotalPortfolioValue > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Model.TotalPortfolioValue)</b> <b class="@(Model.PortfolioValuePercentChanged == 0 ? "" : Model.PortfolioValuePercentChanged > 0 ? "win-green" : "lose-red")">(@Model.PortfolioValuePercentChanged%)</b>
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Your portfolio was originally worth @Helper.GetFormattedPoints(Model.OriginalTotalPortfolioValue) and is now worth @Helper.GetFormattedPoints(Model.TotalPortfolioValue)."></span>
            </h5>
            <h5>
                Portfolio Change: <b class="@(Model.TotalPortfolioChanged > 0 ? "win-green" : Model.TotalPortfolioChanged == 0 ? "" : "lose-red")">@Helper.GetFormattedPoints(Model.TotalPortfolioChanged)</b>
            </h5>
            <h5 class="inline">
                Daily Dividends: <b class="@(Model.CollectableDividends > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(Model.CollectableDividends)</b>
                <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="Different stocks award different dividends that you can collect daily."></span>
            </h5>
            <form class="inline" action="@Url.Action("CollectDividends", "StockMarket")" method="POST" onsubmit="submitPortfolioForm(event, this);">
                <button type="submit" class="btn btn-success btn-xs small-margin-left small-margin-bottom @(Model.CanCollectDividends ? "" : "disabled")"><b>Collect</b></button>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
    <div class="padding-top"></div>
    <div class="dropdown">
        <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Sort by <b>@Model.PortfolioSort.GetDisplayName()</b>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/StockMarket/Portfolio?sort=@PortfolioSort.Date">@PortfolioSort.Date.GetDisplayName()</a></li>
            <li><a href="/StockMarket/Portfolio?sort=@PortfolioSort.Stock">@PortfolioSort.Stock.GetDisplayName()</a></li>
        </ul>
    </div>
}
<h5>Positions (@Helper.FormatNumber(Model.Portfolio.Count))</h5>
@foreach (Stock stock in Model.Portfolio)
{
    double stockDifference = Math.Round(Math.Round(stock.CurrentCost)/stock.PurchaseCost * 100 - 100, 2);
    <div class="panel panel-primary">
        <div class="panel-heading clickable" onclick="window.location='/StockMarket?id=@stock.Id'">@stock.Name (@Helper.FormatNumber(Model.PortfolioSort == PortfolioSort.Date ? stock.UserAmount : stock.TotalAmount))</div>
        <div class="table-responsive" id="mobile-friendly-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Stock Ticker</th>
                        <th>Current Cost</th>
                        <th>Purchase Cost</th>
                        <th>Shares</th>
                        <th>Total Value</th>
                        @if (Model.PortfolioSort == PortfolioSort.Date)
                        {
                            <th>Date</th>
                        }
                        else
                        {
                            <th>Sellable</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="Stock Ticker"><a href="/StockMarket?id=@stock.Id">@stock.Id</a></td>
                        <td data-title="Current Cost">@Helper.GetFormattedPoints(Math.Round(stock.CurrentCost)) (<span class="@(stockDifference == 0 ? "" : stockDifference > 0 ? "win-green" : "lose-red")">@stockDifference%</span>)</td>
                        <td data-title="Purchase Cost">@Helper.GetFormattedPoints(stock.PurchaseCost)</td>
                        <td data-title="Shares">@Helper.FormatNumber(Model.PortfolioSort == PortfolioSort.Date ? stock.UserAmount : stock.TotalAmount)</td>
                        <td data-title="Total Value"><b class="win-green">@Helper.GetFormattedPoints(Math.Round(stock.CurrentCost) * (Model.PortfolioSort == PortfolioSort.Date ? stock.UserAmount : stock.TotalAmount))</b></td>
                        @if (Model.PortfolioSort == PortfolioSort.Date)
                        {
                            <td data-title="Date">@stock.PurchaseDate.GetTimeSince()</td>
                        }
                        else
                        {
                            <td data-title="Sellable">@Helper.FormatNumber(stock.UserAmount)</td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <form action="@Url.Action("Sell", "StockMarket")" method="POST" onsubmit="submitPortfolioForm(event, this, false);">
        <div class="form-group">
            <input type="hidden" name="selectionId" value="@stock.SelectionId" />
            <input type="hidden" name="stockId" value="@stock.Id" />
            <input type="hidden" name="sort" value="@Model.PortfolioSort" />
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                <input type="number" class="form-control" id="shares" min="0" max="@stock.UserAmount" name="shares" placeholder="Up to @Helper.FormatNumber(stock.UserAmount) share@(stock.UserAmount == 1 ? "" : "s")" required>
                <span class="input-group-btn"><button type="submit" class="btn btn-success btn-rounded @((DateTime.UtcNow - stock.PurchaseDate).TotalHours >= 24 ? "" : "disabled")">Sell</button></span>
            </div>
        </div>
        @Html.AntiForgeryToken()
    </form>
    <div class="padding-top"></div>
}
@if (Model.Portfolio.Count == 0)
{
    <div class="alert alert-info">
        You haven't bought any shares. Check out the <a class="alert-link" href="/StockMarket">various stocks</a> to build your portfolio!
    </div>
}