﻿@model StockMarketViewModel

<p>
    <div class="gray-container gray-border">
        <h4><span class="text-muted">@Model.Stock.Id |</span> @Model.Stock.Name</h4>
        <div class="text-muted">
            @Model.Stock.Description
        </div>
    </div>
    <div class="padding-top"></div>
    <div class="panel panel-primary no-margin-bottom">
        <div class="panel-heading">
            <h5 class="small-margin-top small-margin-bottom">
                Stock Information
            </h5>
        </div>
        <div class="panel-body primary-container">
            @{ double cost = Model.Stock.CurrentCost * (Model.HasStockDiscount ? 0.95 : 1); }
            @{ double marketCap = Model.Stock.TotalAmount * Math.Round(Model.Stock.CurrentCost); }
            <h5 class="small-margin-top">Cost: <b class="@(cost > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(cost)</b> <b class="@(Model.StockPercentChanged == 0 ? "" : Model.StockPercentChanged > 0 ? "win-green" : "lose-red")">(@Model.StockPercentChanged%)</b></h5>
            <h5>Daily Dividends: <b class="win-green">@Model.Stock.DividendsPercent%</b> <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="For each share you own, you can collect daily @Model.Stock.DividendsPercent% of the stock's current price for free."></span></h5>
            <h5 class="small-margin-bottom">Market Cap: <b class="@(marketCap > 0 ? "win-green" : "")">@Helper.GetFormattedPoints(marketCap)</b> <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="The total amount of existing shares multiplied by the current stock price."></span></h5>
            @if (!string.IsNullOrEmpty(Model.Stock.TopOwner))
            {
                <h5>Largest Shareholder: <a href="/User/@Model.Stock.TopOwner">@Model.Stock.TopOwner</a></h5>
            }
        </div>
    </div>
</p>
@if (Model.HasStockDiscount)
{
    <p>
        <div class="alert alert-success no-margin-bottom">
            <h5>
                Your Group Power grants you a <b>5%</b> discount that has been applied to all stocks.
            </h5>
        </div>
    </p>
}
<div class="extra-small-padding-top extra-large-padding-bottom">
    <h5>Buy Shares (<b class="win-green">@Helper.GetFormattedPoints(Model.Stock.CurrentCost * (Model.HasStockDiscount ? 0.95 : 1))</b> each)</h5>
    <form action="@Url.Action("Buy", "StockMarket")" method="POST" onsubmit="submitStockMarketForm(event, this, @((int)Model.Stock.Id));">
        <div class="form-group">
            <input type="hidden" name="stockId" value="@Model.Stock.Id" />
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                <input type="number" class="form-control" id="shares" min="1" max="@Helper.MaxSharesPerDay()" name="shares" placeholder="Amount of Shares" onkeyup="updateSharePrice(@Math.Round(Model.Stock.CurrentCost * (Model.HasStockDiscount ? 0.95 : 1)), '@Model.User.Points')" autofocus required>
            </div>
        </div>
        <h5>Total Cost: <b><span id="calculatedCost">0</span> <span id="currency">@Resources.Currency</span></b></h5>
        @Html.AntiForgeryToken()
        <h6 class="text-muted no-margin-top no-margin-bottom">You can only sell shares <b>24 hours</b> after buying them. Any shares less than <b>30 days</b> old will be taxed <b>15%</b> when sold. Stock prices are controlled by real users and may be volatile.</h6>
        <div class="padding-top">
            <button type="submit" class="btn btn-success @(Model.CanBuyShares ? "" : "disabled")">Buy it!</button>
            <a href="/StockMarket" class="btn btn-secondary">Back to All</a>
        </div>
    </form>
</div>
<div class="large-padding-top"></div>
<div class="panel panel-primary">
    <div class="panel-heading">Last 100 Transactions</div>
    <div class="table-responsive" id="mobile-friendly-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Shares</th>
                    <th>Share Price</th>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (StockHistory stockHistory in Model.RecentTransactions)
                {
                    <tr>
                        <td data-title="Username"><a href="/User/@stockHistory.Username">@stockHistory.Username</a></td>
                        <td data-title="Shares"><span class="@(stockHistory.HistoryType == StockHistoryType.Buy ? "win-green" : "lose-red")">@Helper.FormatNumber(stockHistory.UserAmount)</span></td>
                        <td data-title="Share Price"><span class="@(stockHistory.HistoryType == StockHistoryType.Buy ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(stockHistory.UserCost)</span></td>
                        <td data-title="Type"><span class="@(stockHistory.HistoryType == StockHistoryType.Buy ? "win-green" : "lose-red")">@stockHistory.HistoryType</span></td>
                        <td data-title="Date">@stockHistory.CreatedDate.GetTimeSince()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>