﻿@model StockMarketViewModel
<p>
    <div class="gray-container">
        <h5>How it works</h5>
        <ul>
            <li>Click on any stock to see more info and buy shares of the stock.</li>
            <li>When you buy shares, they are added to your <a href="/StockMarket/Portfolio">Portfolio</a>.</li>
            <li>You are limited to buying <b>@Helper.MaxSharesPerDay() shares</b> total per day and you can only sell new shares after <b>24 hours</b>.
        </ul>
    </div>
</p>
<div class="dropdown margin-no-mobile">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        Sort by <b>@Model.Sort.GetDisplayName()</b>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="/StockMarket?sort=@StockSort.Name">@StockSort.Name.GetDisplayName()</a></li>
        <li><a href="/StockMarket?sort=@StockSort.Lowest">@StockSort.Lowest.GetDisplayName()</a></li>
        <li><a href="/StockMarket?sort=@StockSort.Highest">@StockSort.Highest.GetDisplayName()</a></li>
        <li><a href="/StockMarket?sort=@StockSort.HighestDividends">@StockSort.HighestDividends.GetDisplayName()</a></li>
    </ul>
</div>
<marquee class="padding-top">
    <b class="text-muted">
        @Html.Raw(string.Join(" | ", Model.Market.Select(x => $"{x.Id} - <span class='win-green'>{Helper.GetFormattedPoints(x.CurrentCost)}</span>")))
    </b>
</marquee>
<div class="small-padding-top"></div>
@{int i = 0;}
<div class="margin-no-mobile">
    @foreach (Stock stock in Model.Market)
    {   
        <div class="auction-row text-center-no-mobile @(i % 2 == 0 ? "alternative-row-color" : "hover-container-darker")  extra-large-padding-left extra-large-padding-right" onclick="window.location='/StockMarket?id=@stock.Id'">
            <div class="row">
                <div class="col-sm-4 hidden-xs">
                    <h4>@stock.Id</h4>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h4>@stock.Name</h4>
                </div>
                <div class="col-xs-4 visible-xs">
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h5>@Helper.GetFormattedPoints(stock.CurrentCost * (Model.HasStockDiscount ? 0.95 : 1)) <span class="hidden-xs">/ @stock.DividendsPercent%</span></h5>
                </div>
            </div>
            <div class="small-padding-top padding-bottom">
                <small><i>@stock.Description</i></small>
            </div>
        </div>
        <div class="large-padding-bottom"></div>
        i++;
    }
</div>
