﻿@model StockMarketViewModel
<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="/StockMarket">Stocks</a></li>
    <li><a href="@Url.Action("Portfolio", "StockMarket")">Portfolio</a></li>
</ul>
<div id="stockMarketPartialView">
    @if (Model.Stock == null)
    {
        @await Html.PartialAsync("_StockMarketMainPartial", Model)
    }
    else
    {
        @await Html.PartialAsync("_StockMarketIdPartial", Model)
    }
</div>