﻿@model StockMarketViewModel
<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("Index", "StockMarket")">Stocks</a></li>
    <li class="active"><a href="#">Portfolio</a></li>
</ul>
<div id="portfolioPartialView">
    @await Html.PartialAsync("_StockMarketPortfolioPartial", Model)
</div>