﻿@model CavernsViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Caverns">Sorceress</a></li>
    <li class="active"><a href="#">Seed Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        You can buy and plant <b>Seed Cards</b>. Based on the color of the <b>Seed Card</b> you plant, it'll create a new <b>@Resources.DeckCard</b> of that color.
    </div>
</p>
@if (Model.PlantedItem == null)
{
    <h5>Your Seed Cards (@Helper.FormatNumber(Model.UserSeedCards.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (Seed seedCard in Model.UserSeedCards)
        {
            <div id="@seedCard.SelectionId" class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(seedCard.ImageUrl)" alt="@seedCard.Description" title="@seedCard.Description">
                    <div>
                        <h5>@seedCard.Name</h5>
                        <p><i><small>@seedCard.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(seedCard.GetAgeInHours()) hour@(seedCard.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @seedCard.Category <span class="@Helper.GetItemConditionColor(seedCard.Condition)">(@seedCard.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(seedCard.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("AddSeedCard", "Caverns")" method="POST" onsubmit="updateCaverns(event, this, false)">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="selectionId" value="@seedCard.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Plant Seed</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.UserSeedCards.Count == 0)
    {
        <div class="alert alert-info">
            You don't have any Seed Cards that can be planted.
        </div>
    }
    else
    {
        <div class="small-padding-top"></div>
    }
}
else
{
    <h5>Planted Item</h5>
    <div class="grid-element text-center center-block card-width">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl(Model.PlantedItem.ImageUrl)" alt="@Model.PlantedItem.Description" title="@Model.PlantedItem.Description">
            <div>
                <h5>@Model.PlantedItem.Name</h5>
                <p><i><small>@Model.PlantedItem.Description</small></i></p>
            </div>
        </div>
        <div>
            <div>
                <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(Model.PlantedItem.GetAgeInHours()) hour@(Model.PlantedItem.GetAgeInHours() == 1 ? "" : "s") old">
                    <small>
                        @Model.PlantedItem.Category <span class="@Helper.GetItemConditionColor(Model.PlantedItem.Condition)">(@Model.PlantedItem.Condition)</span>
                    </small>
                </span>
            </div>
            <div>
                <small class="text-muted">~@Helper.GetFormattedPoints(Model.PlantedItem.Points)</small>
            </div>
        </div>
    </div>
    <div class="padding-top"></div>
    @if (Model.SeedCardTakeDate > DateTime.UtcNow)
    {
        <div class="alert alert-info">
            Your Seed Card is planted and will be ready in <b>@Model.SeedCardTakeDate.GetTimeUntil()</b>.
        </div>
    }
    else
    {
        <p>
            <div class="alert alert-success no-margin-bottom">
                @if (Model.PlantedItem.Category == ItemCategory.Art)
                {
                    <h5>
                        Your Seed Card blossomed but something didn't go as planned! Instead of becoming a @Resources.DeckCard, it became "<b>@Model.PlantedItem.Name</b>"!
                    </h5>
                }
                else
                {
                    <h5>
                        Your Seed Card has blossomed and revealed itself to be "<b>@Model.PlantedItem.Name</b>"! 
                    </h5>
                }
            </div>
        </p>
        <form action="@Url.Action("GetPlantedItem", "Caverns")" method="POST" onsubmit="updateCaverns(event, this, false)" class="small-padding-bottom">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success">Get Item</button>
        </form>
    }
}
<h5>Buy Seed Cards (@Helper.FormatNumber(Model.SeedCards.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.SeedCards)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>Cost: <b class="@(Model.User.Points >= item.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Points)</b></small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("BuySeedCard", "Caverns")" method="POST" onsubmit="updateCaverns(event, this, false)">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Points ? "" : "disabled")">Buy Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
