﻿@model CavernsViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Sorceress</a></li>
    <li><a href="/Caverns/SeedCards">Seed Cards</a></li>
</ul>
<p>
    <div class="gray-container">
        The <b>Lemon Light</b> Candy Card lets you explore the Deep Caverns for the next <b>@Model.ExpiryDate.GetTimeUntil()</b>.
        As you travel deeper, you come across a <b>Sorceress</b>!
    </div>
</p>
<div class="alert alert-info">
    <h5>
        The Sorceress can cast different effects for a cost but she can only use her powers once every <b>2 hours</b>.
    </h5>
</div>
<h5>Sorceress' Effects (@Helper.FormatNumber(Model.Effects.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (SorceressEffect effect in Model.Effects)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(effect.ImageUrl)" alt="@effect.Description" title="@effect.Description">
                <div>
                    <h5>@effect.Name</h5>
                    <p>
                        <i><small>@effect.Description</small></i>
                    </p>
                </div>
            </div>
            <div>
                <small>
                    Cost: <b class="@(Model.User.Points >= effect.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(effect.Points)</b>
                </small>
            </div>
            <div class="small-padding-top">
                <form action="@Url.Action("CastEffect", "Caverns")" method="POST" onsubmit="updateCaverns(event, this, true)">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="effectId" value="@effect.Id" />
                    <button type="submit" class="btn btn-success btn-xs @(Model.CanCastEffect && Model.User.Points >= effect.Points ? "" : "disabled")">Cast Effect</button>
                </form>
            </div>
        </div>
    }
</div>