﻿@model CavernsViewModel

<div id="cavernsPartialView">
    <div class="gray-container">
        Choose a user to give a <b>15% Stadium Curse</b> for <b>10 minutes</b>. The Sorceress will expect <b class="win-green">@Helper.GetFormattedPoints(Model.SelectedEffect.Points)</b> in return.
    </div>
    <form action="@Url.Action("CastEffect", "Caverns")" method="POST" onsubmit="updateCaverns(event, this, true);">
        <h5>Choose a User</h5>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user"></i></span>
                <input id="username" type="text" class="form-control" name="name" value="" placeholder="Username" maxlength="15" required>
            </div>
        </div>
        <div class="form-group small-padding-top">
            @Html.AntiForgeryToken()
            <input type="hidden" name="effectId" id="effectId" value="@Model.SelectedEffect.Id" />
            <button type="submit" class="btn btn-primary">Cast Curse</button>
            <a href="/Caverns" class="btn btn-secondary">Back to Sorceress</a>
        </div>
    </form>
</div>