﻿@model CavernsViewModel

<div id="cavernsPartialView">
    <div class="gray-container">
        Choose one of your Companions to rename. The Sorceress will expect <b class="win-green">@Helper.GetFormattedPoints(Model.SelectedEffect.Points)</b> in return.
    </div>
    <div class="padding-top"></div>
    <div class="grid-container grid-container--fit">
        @foreach (Companion companion in Model.Companions)
        {
            <div id="@companion.Id" class="grid-container-no-padding grid-element text-center clickable grow"  onclick="companionSelected(this);">
                <div>
                    <img class="companion-dimensions" src="@Helper.GetImageUrl(companion.GetImageUrl())" title="@companion.GetHappiness()% Happiness" alt="@companion.GetHappiness()% Happiness">
                    <div>
                        <h5>@companion.Name @(companion.IsAsleep() ? "(Asleep)" : "") </h5>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Companions.Count == 0)
    {
        <div class="alert alert-info">
            You don't have any Companions.
        </div>
    }
    <form action="@Url.Action("CastEffect", "Caverns")" method="POST" onsubmit="updateCaverns(event, this, true);">
        <h5>Choose a New Name</h5>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                <input id="name" type="text" class="form-control" name="name" value="" placeholder="New Name" maxlength="10" required>
            </div>
        </div>
        <div class="form-group small-padding-top">
            @Html.AntiForgeryToken()
            <input type="hidden" name="effectId" id="effectId" value="@Model.SelectedEffect.Id" />
            <input type="hidden" name="selectedId" id="selectedId" />
            <button type="submit" class="btn btn-success">Rename</button>
            <a href="/Caverns" class="btn btn-secondary">Back to Sorceress</a>
        </div>
    </form>
</div>