﻿@model DoubtItViewModel

@if (string.IsNullOrEmpty(Model.DoubtItMessage))
{
    if (Model.DoubtItCards.Count(x => x.Owner == DoubtItOwner.Pile) > 0)
    {
        <div class="padding-top"></div>
        <div id="doubt-message" class="alert alert-info alert-info-coloring-gradient margin-bottom">
            <h5>
                Nobody doubted the turn played by @(Model.CurrentTurn == DoubtItOwner.You ? DoubtItOwner.Opponent3.GetDisplayName() : Model.CurrentTurn == DoubtItOwner.Opponent1 ? "you" : Model.CurrentTurn == DoubtItOwner.Opponent2 ?  DoubtItOwner.Opponent1.GetDisplayName() : DoubtItOwner.Opponent2.GetDisplayName())!
            </h5>
        </div>
    }
}
else
{
    <div class="padding-top"></div>
    <div id="doubt-message" class="alert alert-@(Model.DoubtItMessageSuccess ? "success" : "danger") alert-@(Model.DoubtItMessageSuccess ? "success" : "danger")-coloring-gradient margin-bottom">
        <h5>
            @Model.DoubtItMessage
            @if (Model.CurrentTurn == DoubtItOwner.You && Model.Winner == DoubtItOwner.Pile)
            {
                <span>You can play any card you'd like to start up the pile again...</span>
            }
        </h5>
    </div>
}
<h5>
    The pile has <b>@Helper.FormatNumber(Model.DoubtItCards.Count(x => x.Owner == DoubtItOwner.Pile)) card@(Model.DoubtItCards.Count(x => x.Owner == DoubtItOwner.Pile) == 1 ? "" : "s")</b>
    @if (Model.Winner == DoubtItOwner.Pile)
    {
        <span class="pull-right">
            <a href="#" onclick="restartDoubtItGame();"><span style="font-size: 16px;" class="glyphicon glyphicon-remove lose-red"></span></a>
        </span>
    }
</h5>
<div class="row">
    @foreach (DoubtItOwner owner in Model.Owners)
    {
        int cardsLeft = Model.DoubtItCards.Count(x => x.Owner == owner);
        <div class="col-xs-6 col-sm-3 text-center">
            <div class="gray-container @(owner == Model.CurrentTurn && Model.Winner == DoubtItOwner.Pile ? "unread-message" : Model.Winner == owner ? "win-green-full-border" : "gray-border")">
                <h5 class="small-margin-top small-margin-bottom">@owner.GetDisplayName()</h5>
                <h5 class="small-margin-top small-margin-bottom @(cardsLeft == 0 ? "win-green" : "")">@Helper.FormatNumber(cardsLeft) left</h5>
            </div>
            <div class="small-padding-top visible-xs"></div>
        </div>
    }
</div>
@if (Model.Winner != DoubtItOwner.Pile)
{
    <div class="padding-top"></div>
    <div class="alert alert-success alert-success-coloring-gradient margin-bottom">
        <h5>
            @if (Model.Winner == DoubtItOwner.You)
            {
                <span>Congratulations! You successfully got rid of all your cards and earned <b>@Helper.GetFormattedPoints(1000)</b> for winning the game! You've won Doubt It <b>@Helper.FormatNumber(Model.TotalWins) time@(Model.TotalWins == 1 ? "" : "s")</b>!</span>
            }
            else
            {
                <span><b>@Model.Winner.GetDisplayName()</b> successfully got rid of all their cards and won the game!</span>
            }
        </h5>
    </div>
    <form action="@Url.Action("NewGame", "DoubtIt")" method="POST" onsubmit="submitDoubtItForm(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">New Game</button>
    </form>
}
else if (Model.CurrentTurn == DoubtItOwner.You)
{
    <h5>
        @if (Model.LastMove == (0, 0))
        {
            <span>You can play up to 4 of <b>any card</b></span>
        }
        else
        {
            <span>The last move was <b>@(Model.LastMove.amount == 1 ? "one" : Model.LastMove.amount == 2 ? "two" : Model.LastMove.amount == 3 ? "three" : "four") @Model.LastMove.type card@(Model.LastMove.amount  == 1 ? "" : "s")</b></span>
        }
    </h5>
    <h5>Your Cards (@Helper.FormatNumber(Model.UserCards.Count))</h5>
    <div class="grid-container grid-container--fit">
        @foreach (DoubtItCard doubtItcard in Model.UserCards)
        {
            <div id="@doubtItcard.Id" class="grid-container-no-padding grid-element text-center clickable grow" onclick="doubtItCardSelected(this);">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(doubtItcard.ImageUrl)">
                    <div>
                        <h5>@doubtItcard.Amount</h5>
                    </div>
                </div>
            </div>
        }
    </div>
    <h5>Tap on the cards (up to 4) you want to play. Choose which card value to tell everyone else you're playing:</h5>
    <form action="@Url.Action("PlayCards", "DoubtIt")" method="POST" onsubmit="submitDoubtItForm(event, this);">
        <input type="hidden" id="card1" name="card1" />
        <input type="hidden" id="card2" name="card2" />
        <input type="hidden" id="card3" name="card3" />
        <input type="hidden" id="card4" name="card4" />
        <div class="form-group">
            <select class="form-control" id="chosenAmount" name="chosenAmount">
                @foreach (int amount in Model.PossibleAmounts)
                {
                    <option value="@amount">@amount</option>
                }
            </select>
        </div>
        @Html.AntiForgeryToken()
        <div class="form-group">
            <button id="play-cards-button" type="submit" class="btn btn-primary disabled">Play Cards</button>
        </div>
    </form>
}
else
{
    <div class="alert alert-info alert-info-coloring-gradient margin-top margin-bottom">
        <h5>
            @Model.CurrentTurn.GetDisplayName() played <b>@(Model.LastMove.amount == 1 ? "one" : Model.LastMove.amount == 2 ? "two" : Model.LastMove.amount == 3 ? "three" : "four") @Model.LastMove.type card@(Model.LastMove.amount  == 1 ? "" : "s")</b>!
        </h5>
    </div>
    <h5>Your Cards (@Helper.FormatNumber(Model.UserCards.Count))</h5>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div class="scrolling-container">
            @foreach (DoubtItCard doubtItcard in Model.UserCards)
            {
                <div id="@doubtItcard.Id" class="scrolling-grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(doubtItcard.ImageUrl)">
                        <div>
                            <h5>@doubtItcard.Amount</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="large-padding-top"></div>
    <form action="@Url.Action("Doubt", "DoubtIt")" method="POST" onsubmit="submitDoubtItForm(event, this);" class="inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Doubt It!</button>
    </form>
    <form action="@Url.Action("NextTurn", "DoubtIt")" method="POST" onsubmit="submitDoubtItForm(event, this);" class="inline">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-secondary">Let It Pass!</button>
    </form>
}

