﻿@model DoubtItViewModel

<div class="gray-container">
    <h5 class="small-margin-top">How to play</h5>
    <a class="collapsed clickable" data-toggle="collapse" data-target="#expandedRules">
        <span class="if-collapsed">
            <span class="glyphicon glyphicon-plus"></span>
        </span>
        <span class="if-not-collapsed">
            <span class="glyphicon glyphicon-minus"></span>
        </span>
        Expand Rules
    </a>
    <div id="expandedRules" class="collapse">
        <ul class="no-margin-bottom">
            <li>
                There are <b>4 of each card</b> from 1 to 10. You and 3 opponents each randomly start with <b>10</b> of these cards
            </li>
            <li>
                When it's your turn, you can play any card that is within <b>1 value</b> of the last played card (so if someone last played a 4, you could play for your turn a 3, 4, or 5)
            </li>
            <li>
                You can play up to <b>4 cards</b> for your turn but they should all be the same value
            </li>
            <li>
                If you don't have any cards that apply, you can choose to <b>lie</b> and play other cards instead
            </li>
            <li>
                If someone catches you lying, you'll have to pick up all the cards in the pile. Similarly, you can <b>doubt</b> someone else. If you're <b class="win-green">right</b>, they pick up the pile, if you're <b class="lose-red">wrong</b>, you pick it up
            </li>
            <li>
                The game ends whenever someone has no cards left. You'll get <b class="win-green">@Helper.GetFormattedPoints(25)</b> for each successful <b>Doubt It</b> and <b class="win-green">@Helper.GetFormattedPoints(1000)</b> if you win the game!
            </li>
        </ul>
    </div>
</div>
<div id="doubtItPartialView">
    @await Html.PartialAsync("_DoubtItMainPartial", Model)
</div>