﻿@model ErrorViewModel
@if (Model.Title != ((int)Model.StatusCode).ToString())
{
    <h5>Error @((int)Model.StatusCode)</h5>
}
@if (Model.StatusCode == System.Net.HttpStatusCode.NotFound)
{
    <div class="grid-element text-center center-block card-width">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl("Cards/404.png")" alt="This page couldn't be found." title="This page couldn't be found.">
            <div>
                <h5>404</h5>
                <p><i><small>This page couldn't be found.</small></i></p>
            </div>
        </div>
    </div>
    <div class="large-padding-top"></div>
}
<div class="alert alert-warning alert-warning-coloring-gradient text-center no-margin-bottom">
    @if (Model.StatusCode == System.Net.HttpStatusCode.NotFound)
    {
        <h5>This page couldn't be found. It might be removed or has never existed. You can let us know about it <a class="alert-link" href="/Contact">here</a> if you believe this is a mistake.</h5>
    }
    else
    {
        <h5>Something went wrong! You can let us know about it <a class="alert-link" href="/Contact">here</a> if you believe this is a mistake.</h5>
    }
</div>