﻿@model DeoJackViewModel

<div class="gray-container">
    <h5>How to play</h5>
    <ul>
        <li>
            Put down <b class="win-green">@Resources.Currency</b> and try to get as close to <b>21</b> as possible
            <span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="You cannot put down more than @Helper.GetFormattedPoints(25000)."></span>
        </li>
        <li>
            If you hit above 21, you'll <b class="lose-red">bust</b> and lose
        </li>
        <li>
            Once you stand, if your hand is <b>higher</b> than the dealer's, you'll <b class="win-green">double</b> your @Resources.Currency. If it's lower, you'll <b class="lose-red">lose</b> it
        </li>
    </ul>
</div>
@if (Model.Points == 0)
{
    <h5>Play a Hand</h5>
    <form action="@Url.Action("StartGame", "DeoJack")" method="POST" onsubmit="updateDeoJack(event, this)">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-coins"></i></span>
                <input type="number" class="form-control" id="amount" min="1" max="@Math.Min(25000, Model.User.Points)" name="amount" placeholder="@Resources.Currency Amount" required>
            </div>
        </div>
        <div class="form-group inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-success @(Model.User.Points > 0 ? "" : "disabled")">Put Down @Resources.Currency</button>
        </div>
        <button class="btn btn-secondary inline @(Model.User.Points >= 500 ? "" : "disabled")" onclick="$('#amount').val(500);">Quick Amount (@Helper.GetFormattedPoints(500))</button>
    </form>
}
else
{
    <h5>Pot: <b class="win-green">@Helper.GetFormattedPoints(Model.Points)</b></h5>
    <h5>Dealer's Cards</h5>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div id="deck-container" class="scrolling-container">
            @{ int i = 0; }
            @foreach (Card card in Model.DealerCards)
            {
                <div data-count="@Model.DealerCards.Take(i + 1).Sum(x => x.Amount)" class="scrolling-grid-element text-center @(i == 0 ? "" : "flipped-card")">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                        <div>
                            <h5>@card.Name</h5>
                        </div>
                    </div>
                </div>
                i++;
            }
            @if (Model.DealerCards.Count == 1)
            {
                <div class="scrolling-grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl("Cards/CardBack.png")" alt="Flipped Card" title="Flipped Card">
                        <div>
                            <h5>Flipped Card</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <h5 id="dealer-total">
        Total:
        <b id="dealer-result" class="@(Model.GameState == DeoJackGameState.Won ? "lose-red" : Model.GameState == DeoJackGameState.Lost ? "win-green" : "")">
            @Model.DealerTotal
        </b>
        @if (Model.DealerTotal > 21)
        {
            <b id="dealer-status" class="lose-red">(BUSTED)</b>
        }
        else if (Model.DealerTotal == 21)
        {
            <b id="dealer-status" class="win-green">(DEOJACK)</b>
        }
    </h5>
    <h5>Your Cards</h5>
    <div class="scrolling-wrapper">
        <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
        <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
        <div id="deck-container" class="scrolling-container">
            @foreach (Card card in Model.Cards)
            {
                <div class="scrolling-grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                        <div>
                            <h5>@card.Name</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <h5 id="user-total">
        Total: <b id="user-result" class="@(Model.GameState == DeoJackGameState.Lost ? "lose-red" : Model.GameState == DeoJackGameState.Won ? "win-green" : "")">
            @Model.Total
            @if (Model.Total > 21)
            {
                 <span>(BUSTED)</span>
            }
            else if (Model.Total == 21)
            {
                <span>(DEOJACK)</span>
            }
        </b>
    </h5>
    <div class="extra-small-padding-top"></div>
    @if (Model.GameState != DeoJackGameState.NotFinished)
    {
        <div id="result">
            @if (Model.GameState == DeoJackGameState.Won)
            {
                <div class="alert alert-success alert-success-gradient-coloring margin-bottom">
                    <h5>You @(Model.Total == 21 ? "got a DeoJack to automatically win" : "won") the game and earned <b>@Helper.GetFormattedPoints(Model.Points)</b>!</h5>
                </div>
            }
            else if (Model.GameState == DeoJackGameState.Lost)
            {
                <div class="alert alert-danger alert-danger-gradient-coloring margin-bottom">
                    <h5>You @(Model.Total > 21 ? "busted to lose" : "lost") the game! Better luck next time!</h5>
                </div>
            }
            else if (Model.GameState == DeoJackGameState.Draw)
            {
                <div class="alert alert-info alert-info-gradient-coloring margin-bottom">
                    <h5>The game was a draw! <b>@Helper.GetFormattedPoints(Model.Points)</b> was returned back to you! </h5>
                </div>
            }
        </div>
        <form id="end-game-buttons" action="@Url.Action("EndGame", "DeoJack")" method="POST" onsubmit="updateDeoJack(event, this)">
            <div class="form-group">
                @Html.AntiForgeryToken()
                @if (Model.Total == 21 || Model.DealerTotal > 21 || (Model.Total < 21 && Model.Total > Model.DealerTotal))
                {
                    <button type="submit" class="btn btn-success">Collect Winnings (@Helper.GetFormattedPoints(Model.Points))</button>
                }
                else
                {
                    <button type="submit" class="btn btn-secondary">New Game</button>
                }
            </div>
        </form>
    }
    else
    {
        <form class="inline" action="@Url.Action("Hit", "DeoJack")" method="POST" onsubmit="updateDeoJack(event, this)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Hit</button>   
        </form>
        <form class="inline" action="@Url.Action("Stand", "DeoJack")" method="POST" onsubmit="updateDeoJack(event, this, true)">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-secondary">Stand</button>   
        </form>
    }
}
