﻿@model BeyondWorldViewModel

<div class="gray-container">
    Upon defeating <b>Mirror @(Model.User.Username.First().ToString().ToUpper() + Model.User.Username.Substring(1))</b>, @(Model.User.Gender == Gender.Male ? "he" : Model.User.Gender == Gender.Female ? "she" : "they") speak@(Model.User.Gender == Gender.Male || Model.User.Gender == Gender.Female ? "s" : "") to you before vanishing.
</div>
<div class="padding-top text-center">
    <img class="@(Model.ShowAnimation ? "animated" : "") bounceIn" src="@Helper.GetImageUrl("BeyondWorld/Mirror.png")" width="100" height="149" />
    <div class="padding-top @(Model.ShowAnimation ? "animated" : "") fadeIn">
        <i>
            "My world connects itself to yours. To prevent this connection, an <b>Ancient Orb</b> was created to separate both worlds. <b>The Young Wizard</b> accidentally destroyed this orb and opened this entrance. You must <b>close</b> it!"
        </i>
    </div>
</div>
<h5 class="@(Model.ShowAnimation ? "animated" : "") fadeInUp delay-1s">Beyond Cards</h5>
<div class="@(Model.ShowAnimation ? "animated" : "") fadeInUp delay-1s">
    You're on the <b class="@(Model.Color == ColorWarsColor.Orange ? "orange-color" : "primary-color")">@Model.Color Team</b> and can only buy <b class="@(Model.Color == ColorWarsColor.Orange ? "orange-color" : "primary-color")">@Model.Color Beyond Cards</b>.
    To continue forward, you'll need to use both an <b class="orange-color">Orange</b> and <b class="primary-color">Blue</b> Beyond Card.
</div>
<div class="padding-top"></div>
<div class="grid-element text-center center-block card-width @(Model.ShowAnimation ? "animated" : "") fadeInUp delay-1s">
    <div>
        <img class="item-dimensions" src="@Helper.GetImageUrl(Model.BeyondCard.ImageUrl)" alt="@Model.BeyondCard.Description" title="@Model.BeyondCard.Description">
        <div>
            <h5>@Model.BeyondCard.Name</h5>
            <p><i><small>@Model.BeyondCard.Description</small></i></p>
        </div>
    </div>
    <div>
        <div>
            <small>
                @Model.BeyondCard.Category <span class="@Helper.GetItemConditionColor(Model.BeyondCard.Condition)">(@Model.BeyondCard.Condition)</span>
            </small>
        </div>
        <div>
            <small>Cost: <b class="@(Model.User.Points >= Model.BeyondCard.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(Model.BeyondCard.Points)</b></small>
        </div>
        <div class="small-padding-top">
            <form action="@Url.Action("BuyBeyondCard", "BeyondWorld")" method="POST" onsubmit="updateBeyondWorld(event, this);">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success btn-xs @(Model.User.Points < Model.BeyondCard.Points ? "disabled" : "")">Buy Item</button>
            </form>
        </div>
    </div>
</div>
<h5 class="@(Model.ShowAnimation ? "animated" : "") fadeIn delay-1-5s">Your Beyond Cards (@Helper.FormatNumber(Model.BeyondCards.Count))</h5>
<div class="grid-container grid-container--fit animated fadeIn delay-1-5s">
    @foreach (Beyond beyond in Model.BeyondCards)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(beyond.ImageUrl)" alt="@beyond.Description" title="@beyond.Description">
                <div>
                    <h5>@beyond.Name</h5>
                    <p><i><small>@beyond.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(beyond.GetAgeInHours()) hour@(beyond.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @beyond.Category <span class="@Helper.GetItemConditionColor(beyond.Condition)">(@beyond.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small><b>~@Helper.GetFormattedPoints(beyond.Points)</b></small>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.BeyondCards.Count == 0)
{
    <div class="alert alert-info @(Model.ShowAnimation ? "animated" : "") fadeIn delay-1-5s">
        You don't have any Beyond Cards. Cards with an Unusable condition cannot be used.
    </div>
}
else
{
    <form class="large-padding-top @(Model.ShowAnimation ? "animated" : "") fadeIn delay-1-5s" action="@Url.Action("GiveBeyondCards", "BeyondWorld")" method="POST" onsubmit="updateBeyondWorld(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary  @(Model.BeyondCards.Any(x => x.Color == CardColor.Blue) && Model.BeyondCards.Any(x => x.Color == CardColor.Orange) ? "" : "disabled")"><h5 class="small-margin-top small-margin-bottom">Use Beyond Cards!</h5></button>
    </form>
}