﻿@model BeyondWorldViewModel

<div class="gray-container">
    You flee with <b>The Young Wizard</b> to safety and arrive in a small room near the entrance of the Beyond World.
</div>
<div class="padding-top text-center">
    <img class="animated @(Model.ShowAnimation ? "fadeInUp" : "")" src="@Helper.GetImageUrl("Locations/Wizard.png")" width="175" height="175" />
    <div class="padding-top animated @(Model.ShowAnimation ? "fadeInUp" : "")">
        The Young Wizard speaks,
        <i>
            "I guess I always had it in me... Anyway, we must leave quickly so I can <b>close</b> this entrance once and for all!
            @if (Model.Path == BeyondWorldPath.Honor)
            {
                <span>Please take some items from this room as a <b class="win-green">reward</b> and then give me a heads up when you're ready to shut the entrance!"</span>
            }
            else
            {
                <span>Even though you were willing to sell that orb, I must thank you for giving me confidence in myself! Take some items from this room as a <b class="win-green">reward</b> and give me a heads up when you're ready to shut the entrance!"</span>
            }
        </i>
    </div>
</div>
<h5>
    Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div id="@item.Id" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("TakeItem", "BeyondWorld")" method="POST" onsubmit="updateBeyondWorld(event, this, false);">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button type="submit" class="btn btn-success btn-xs">Take Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info no-margin-bottom">
        There are no more items left in this room.
    </div>
}
<form class="large-padding-top" action="@Url.Action("CloseEntrance", "BeyondWorld")" method="POST" onsubmit="closeBeyondWorld(event, this);">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success"><h5 class="small-margin-top small-margin-bottom">Close the Entrance!</h5></button>
</form>
<hr />
<h5 class="text-center">The paths others would have taken...</h5>
<div class="row text-center">
    <div class="col-xs-6">
        <h5 class="gold-color"><span class="fas fa-hat-wizard"></span> Honor (@Helper.FormatNumber(Model.HonorPathUsers.Count))</h5>
        @foreach (User user in Model.HonorPathUsers)
        {
            <div>
                <a href="/User/@user.Username">@user.Username</a>
            </div>
        }
        @if (Model.HonorPathUsers.Count == 0)
        {
            <h6 class="text-muted">
                Nobody chose this path.
            </h6>
        }
    </div>
    <div class="col-xs-6">
        <h5 class="purple-color"><span class="fas fa-wallet"></span> Greed (@Helper.FormatNumber(Model.GreedPathUsers.Count))</h5>
        @foreach (User user in Model.GreedPathUsers)
        {
            <div>
                <a href="/User/@user.Username">@user.Username</a>
            </div>
        }
        @if (Model.GreedPathUsers.Count == 0)
        {
            <h6 class="text-muted">
                Nobody chose this path.
            </h6>
        }
    </div>
</div>
