﻿@model BeyondWorldViewModel

<div class="gray-container">
    You choose <b class="@(Model.Path == BeyondWorldPath.Honor ? "gold-color" : "purple-color")">@Model.Path</b> but suddenly the <b>Ancient Orb</b> vanishes right before your eyes! <b>The Young Wizard</b> appears, "Oh no! I only meant to help but I accidentally destroyed the second <b>Ancient Orb</b> as well!"
</div>
<div class="padding-top text-center">
    <img class="animated fadeInUp" src="@Helper.GetImageUrl("Sorceress/Purple_Effect.png")" width="98" height="150" />
    <div class="padding-top animated fadeInUp">
        The voice from before laughs maliciously and says,
        <i>"Foiled by your own friend! You're lucky though as I'm feeling generous! If you defeat me at the Stadium, I shall close this entrance!"</i>
    </div>
</div>
<h5 class="small-padding-top animated fadeIn delay-0-5s">Deck (@Helper.FormatNumber(Model.Deck.Count)/@Helper.GetMaxDeckSize())</h5>
<div class="scrolling-wrapper animated fadeIn delay-0-5s">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
        @foreach (Card card in Model.Deck)
        {
            <div class="scrolling-grid-element text-center clickable" onclick="window.location='/Items?selectionId=@card.SelectionId#@card.SelectionId'">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(card.ImageUrl)" alt="@card.Description" title="@card.Description">
                    <div>
                        <h5 class="small-margin-bottom">@card.Name</h5>
                    </div>
                </div>
                <div class="push-down-class">
                    @if  (card.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @card.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{card.Tier}.png")" />
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<form class="large-padding-top animated fadeIn delay-0-5s" action="@Url.Action("ChallengeBeyondWorld", "Stadium")" method="POST" onsubmit="updateBeyondWorld(event, this);">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success @(Model.Deck.Count == Helper.GetMaxDeckSize() && Model.Deck.All(x => x.Condition < ItemCondition.Unusable) ? "" : "disabled")"><b>Challenge Beyond Creature!</b></button>
</form>