﻿@model BeyondWorldViewModel

<div class="gray-container">
    The Young Wizard found a <b class="pink-color">glowing pink wand</b> and tried to cast a spell with it. Bright lights illuminated the sky and instead opened up an entrance to the <b>Beyond World</b>. Your help is needed to close this entrance!
</div>
<div class="padding-top text-center">
    <img class="@(Model.ShowAnimation ? "animated" : "") bounceIn" src="@Helper.GetImageUrl("BeyondWorld/Mirror.png")" width="100" height="149" />
    <div class="padding-top @(Model.ShowAnimation ? "animated" : "") fadeIn">
        @if (Model.Level == 0)
        {
            <i>
                You see emptiness in all directions except for a lone mirror. You stare at the mirror and see your own reflection. Speak your name to the mirror...
            </i>
        }
        else if (Model.Level == 1)
        {
            <i>
                Your reflection suddenly stares back at you holding your exact Deck and Enhancers. Can you defeat yourself at the Stadium?
            </i>
        }
    </div>
</div>
@if (Model.Level == 0)
{
    <form class="padding-top @(Model.ShowAnimation ? "animated" : "") fadeIn text-center" action="@Url.Action("SayName", "BeyondWorld")" method="POST" onsubmit="updateBeyondWorld(event, this);">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fas fa-user" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="username" id="username" autocomplete="off" maxlength="15" placeholder="Your name..." required />
            </div>
        </div>
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary"><h5 class="small-margin-top small-margin-bottom small-padding-left small-padding-right">Say your name!</h5></button>
    </form>
}
else if (Model.Level == 1)
{
    <form class="padding-top animated fadeIn text-center" action="@Url.Action("ChallengeBeyondWorld", "Stadium")" method="POST" onsubmit="updateBeyondWorld(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success" data-dismiss="modal"><h5 class="small-margin-top small-margin-bottom">Challenge Yourself!</h5></button>
    </form>
}