﻿@model BeyondWorldViewModel

<div class="gray-container">
    The <b>Beyond Creature</b> smirks and says, "Well done! Unfortunately, I have not kept my promise. I will <b class="lose-red">never close</b> this entrance!"
</div>
<div class="padding-top text-center">
    <img class="animated tada" src="@Helper.GetImageUrl("BeyondWorld/MagicBurst.png")" width="175" height="175" />
    <div class="padding-top animated fadeInUp">
        "<b>Enough!</b>", The Young Wizard shouts. "I caused this and I will <b>end</b> this!" He fires a <b class="pink-color">pink burst</b> from his wand towards the sky and it envelops everything in a pink glow. The <b>Beyond Creature</b> shrieks as it fades into nothing and the entrance to the Beyond World begins to shut.
    </div>
</div>
<form class="large-padding-top animated fadeInUp text-center" action="@Url.Action("HeadToFinalRoom", "BeyondWorld")" method="POST" onsubmit="updateBeyondWorld(event, this);">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary"><b>Head to Safety!</b></button>
</form>
