﻿@model BeyondWorldViewModel

<div class="gray-container">
    You proved yourself worthy and earned the second <b>Ancient Orb</b>! As you bring it to close the Beyond World, a voice speaks to you.
</div>
<div class="padding-top text-center">
    <img class="animated bounceIn" src="@Helper.GetImageUrl("BeyondWorld/Orb.png")" width="150" height="150" />
    <div class="padding-top">
        The voice hisses,
        <i>"Leave this entrance open and give me the Ancient Orb so I can destroy it! I will make you rich! So very rich!"</i>
    </div>
</div>
<h5 class="text-center padding-top">Choose a Path</h5>
<div class="row text-center small-padding-top">
    <div class="col-xs-1"></div>
    <div class="col-xs-4 clickable grow alert alert-primary alert-elite-zone-coloring" onclick="chooseBeyondWorldPath('@BeyondWorldPath.Honor');">
        <h4 class="small-margin-top"><span class="fas fa-hat-wizard"></span> Honor</h4>
        <h6>Use the Ancient Orb to close the entrance to the Beyond World!</h6>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-4 clickable grow alert alert-primary alert-purple-coloring" onclick="chooseBeyondWorldPath('@BeyondWorldPath.Greed');">
        <h4 class="small-margin-top"><span class="fas fa-wallet"></span> Greed</h4>
        <h6>Sell the Ancient Orb for great riches and destroy @Resources.SiteName!</h6>
    </div>
    <div class="col-xs-1"></div>
</div>