﻿@model BeyondWorldViewModel

<div class="gray-container">
    After using both your <b class="orange-color">Orange</b> and <b class="primary-color">Blue</b> Beyond Cards, you continue further. You come across a hologram projection of The Young Wizard's sister, <b>The Sorceress</b>.
</div>
<div class="padding-top text-center">
    <img class="animated bounceIn" src="@Helper.GetImageUrl("BeyondWorld/Orb.png")" width="150" height="150" />
    <h5 class="animated fadeInUp">The Second Orb</h5>
    <div class="animated fadeIn">
        <div>
            The Sorceress tells you: 
        </div>
        <div class="small-padding-top">
            <i>
                "Long ago, I created a <b>second Ancient Orb</b> fearing my brother's powers. If you're seeing this, the worst has happened. You must use my second orb to close this entrance and restore peace. To make sure the orb never falls in the wrong hands, I must speak cryptically. I've hidden the <b>ORB</b> right under my brother's nose. Good luck!"
            </i>
            <div class="padding-top text-muted">
                Need a hint?
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" title="What can ORB represent? And when you get there, make sure to tap in order. No need to submit!"></span>
            </div>
        </div>
    </div>
</div>
