﻿@model TradingViewModel

<div class="padding-top visible-xs"></div>
<h5 class="@(Model.CanTrade ? "no-margin-top" : "")">Create Posting</h5>
@if (Model.CanTrade && Model.Items.Count > 0)
{
    <div class="gray-container gray-border">
        Select <b>up to</b> 3 items to create a trade posting. You can also include a message listing which items you're looking for in return.
        <form id="tradePostingForm" action="@Url.Action("SubmitTradePosting", "Trading")" method="POST" onsubmit="submitTradingCreateForm(event, this);" class="padding-top">
            <div class="form-group">
                <label for="request">
                    Which items are you looking for in return? (Optional)
                </label>
                <textarea class="form-control" name="request" rows="3" id="request" placeholder="Make sure to leave a fair request..." autocomplete="off" onkeyup="updateTradingDescriptionCountMessage();"></textarea>
                <h6 class="pull-right text-muted" id="tradingDescriptionCountMessage">500 remaining</h6>
            </div>
            <input type="hidden" id="item1" name="item1" />
            <input type="hidden" id="item2" name="item2" />
            <input type="hidden" id="item3" name="item3" />
            @Html.AntiForgeryToken()
            <div class="form-group">
                <button id="tradeButton" type="submit" class="btn btn-success disabled">Create Posting</button>
            </div>
        </form>
    </div>
}
@if (Model.CanTrade)
{
    <h5>
        Items (<span id="tradingItemsSelected">0</span>/3)
    </h5>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="tradingItemSelected(this);" id="@item.SelectionId">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (item.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                    </div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small><b>~@Helper.GetFormattedPoints(item.Points)</b></small>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Items.Count == 0)
    {
        <div class="alert alert-info">
            You have no items to trade. Items in your <a class="alert-link" href="/Items">Deck</a> and items that have an <a class="alert-link" href="/Repair">Unusable</a> condition cannot be traded.
        </div>
    }
}
else
{
    <div class="alert alert-warning">
        You can't create a trade posting until you've won against the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Level 10 Checkpoint CPU</b> at the <a class="alert-link" href="/Stadium">Stadium</a>.
    </div>
}