﻿@model TradingViewModel

<h5>
    Posting by <a href="/User/@Model.CurrentTrade.Username">@Model.CurrentTrade.Username</a>
    @if (Model.CurrentTrade.IsAccepted)
    {
        <span>
            <span class="label label-success pull-right">Accepted Offer</span>
        </span>
    }
    else if (Model.CurrentTrade.Username == Model.User.Username)
    {
        <a href="#" class="lose-red pull-right big-font" onclick="deleteTrade('@Model.CurrentTrade.Id')" data-toggle="tooltip" data-placement="top" title="Remove Posting"><span class="glyphicon glyphicon-remove"></span></a>
    }
</h5>
<div class="small-padding-top"></div>
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.CurrentTrade.Items)
    {
        <div class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">@(Model.CurrentTrade.IsAccepted ? "" : $"({item.Condition})")</span>
                        </small>
                    </span>
                </div>
            </div>
        </div>
    }
</div>
@if (!string.IsNullOrEmpty(Model.CurrentTrade.Request))
{
    <div class="large-padding-top"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>
                Trade Request
                @if (!Model.CurrentTrade.IsAccepted && (Model.User.Username == Model.CurrentTrade.Username || Model.User.Role >= UserRole.Helper))
                {
                    <button class="btn btn-primary btn-xs pull-right behind-extra-small-margin-top" onclick="editTradeDescription();">Edit</button>
                }
            </h5>
        </div>
        <div class="panel-body">
            <div id="trade-request-content" class="show-line-spaces extra-large-behind-margin-top">
                @Model.CurrentTrade.Request
            </div>
            @if (!Model.CurrentTrade.IsAccepted && (Model.User.Username == Model.CurrentTrade.Username || Model.User.Role >= UserRole.Helper))
            {
                <div id="trade-request-edit" style="display: none;">
                    <form action="@Url.Action("EditRequest", "Trading")" method="POST" onsubmit="submitTradingOfferForm(event, this, @Model.CurrentTrade.Id);">
                        <div class="form-group">
                            <textarea class="form-control" name="request" rows="5" id="request" placeholder="Edit your request..." onkeyup="updateTradingDescriptionCountMessage();">@Model.CurrentTrade.Request</textarea>
                            <h6 class="pull-right text-muted" id="tradingDescriptionCountMessage">@(500 - Model.CurrentTrade.Request.Length) remaining</h6>
                        </div>
                        <input type="hidden" id="id" name="id" value="@Model.CurrentTrade.Id" />
                        <button type="submit" class="btn btn-primary">Update</button>
                        <span class="btn btn-secondary clickable" onclick="editTradeDescription();">Cancel</span>
                        @Html.AntiForgeryToken()
                    </form>
                </div>
            }
        </div>
    </div>
}
@if (Model.CurrentTrade.Username != Model.User.Username && !Model.CurrentTrade.IsAccepted && Model.CurrentTrade.Offers.Count < 15 && !Model.CurrentTrade.Offers.Exists(x => x.Username == Model.User.Username))
{
    <h5 class="small-padding-top padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#items">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Add Trade Offer
        </a>
    </h5>
    <div id="items" class="collapse">
        @if (Model.CanTrade)
        {
            <div class="gray-container">
                Select <b>up to</b> 3 items to offer as a trade.
                If your offer is selected by <a href="/User/@Model.CurrentTrade.Username">@Model.CurrentTrade.Username</a>, you will get their item@(Model.CurrentTrade.Items.Count == 1 ? "" : "s") and they will get yours.
            </div>
            <form action="@Url.Action("AddOffer", "Trading")" method="POST" onsubmit="submitTradingOfferForm(event, this, @Model.CurrentTrade.Id);" class="padding-top">
                <input type="hidden" name="id" value="@Model.CurrentTrade.Id" />
                <input type="hidden" id="item1" name="item1" />
                <input type="hidden" id="item2" name="item2" />
                <input type="hidden" id="item3" name="item3" />
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <button id="tradeButton" type="submit" class="btn btn-success disabled">Add Trade Offer</button>
                </div>
            </form>
            <h5>
                Items (<span id="tradingItemsSelected">0</span>/3)
            </h5>
            <div class="grid-container grid-container--fit">
                @foreach (Item item in Model.Items)
                {
                    <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="tradingItemSelected(this);" id="@item.SelectionId">
                        <div>
                            <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                            <div>
                                <h5>@item.Name</h5>
                                <p><i><small>@item.Description</small></i></p>
                            </div>
                        </div>
                        <div>
                            @if (item.Tier > RelicId.None)
                            {
                                <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                    <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                                </div>
                            }
                            <div>
                                <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                            </div>
                            <div>
                                <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                    <small>
                                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">@(Model.CurrentTrade.IsAccepted ? "" : $"({item.Condition})")</span>
                                    </small>
                                </span>
                            </div>
                            <div>
                                <small><b>~@Helper.GetFormattedPoints(item.Points)</b></small>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.Items.Count == 0)
            {
                <div class="alert alert-info">
                    You have no items to offer. Items in your <a href="/Items">Deck</a> and items that have an <a href="/Repair"><span class="lose-red">Unusable</span></a> condition cannot be traded.
                </div>
            }
        }
        else
        {
            <div class="alert alert-warning">
                You can't add any trade offers until you've won against the <b><span class="glyphicon glyphicon-exclamation-sign orange-color"></span> Level 10 Checkpoint CPU</b> at the <a class="alert-link" href="/Stadium">Stadium</a>.
            </div>
        }
    </div>
}
@if (Model.CurrentTrade.Offers.Count > 0)
{
    <hr class="small-margin-bottom" />
}
<h5 class="small-padding-top">Offers (@Model.CurrentTrade.Offers.Count)</h5>
@foreach (TradeOffer tradeOffer in Model.CurrentTrade.Offers)
{
    <div id="@tradeOffer.Username" class="small-padding-top extra-small-padding-bottom padding-left semi-bold">
        <span data-toggle="tooltip" data-placement="top" title="@(tradeOffer.IsAccepted ? "Accepted Offer" : "")"><span class="@(tradeOffer.IsAccepted ? "fas fa-star win-green" : "far fa-star text-muted")"></span></span>
        <a href="/User/@tradeOffer.Username">@tradeOffer.Username</a> offered:
        <small class="text-muted pull-right">@tradeOffer.CreatedDate.GetTimeSince()</small>
    </div>
    <div class="trade-container">
        <div class="grid-container grid-container--fit">
            @foreach (Item item in tradeOffer.Items)
            {
                <div class="grid-container-no-padding grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                        <div>
                            <h5>@item.Name</h5>
                            <p><i><small>@item.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        @if (item.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                            </div>
                        }
                        <div>
                            <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                        </div>
                        <div>
                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                <small>
                                    @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">@(Model.CurrentTrade.IsAccepted ? "" : $"({item.Condition})")</span>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.CurrentTrade.Username == Model.User.Username && !Model.CurrentTrade.IsAccepted)
        {
            <form action="@Url.Action("AcceptTradeOffer", "Trading")" method="POST" onsubmit="submitTradingOfferForm(event, this, @Model.CurrentTrade.Id);" class="padding-top">
                <input type="hidden" name="tradeId" value="@Model.CurrentTrade.Id" />
                <input type="hidden" name="offerId" value="@tradeOffer.Id" />
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Accept Offer!</button>
                </div>
            </form>
        }
        else if (tradeOffer.Username == Model.User.Username && !Model.CurrentTrade.IsAccepted)
        {
            <form action="@Url.Action("RemoveTradeOffer", "Trading")" method="POST" onsubmit="submitTradingOfferForm(event, this, @Model.CurrentTrade.Id);" class="padding-top">
                <input type="hidden" name="tradeId" value="@Model.CurrentTrade.Id" />
                <input type="hidden" name="offerId" value="@tradeOffer.Id" />
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-danger">Remove Offer</button>
                </div>
            </form>
        }
    </div>
    @if (Model.CurrentTrade.Offers.Last().Id != tradeOffer.Id)
    {
        <hr />
    }
}
@if (Model.CurrentTrade.Offers.Count == 0)
{
    <div class="alert alert-info">
        There are no offers on this posting yet.
    </div>
}