﻿@model TradingViewModel

@if (!string.IsNullOrEmpty(Model.SearchQuery) || Model.Trades.Count > 0)
{
<form onsubmit="event.preventDefault(); searchTrades(0);" class="form-group padding-top">
    <div class="input-group">
        <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Search postings..." value="@Model.SearchQuery" autofocus autocomplete="off">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" onclick="searchTrades(@Model.CurrentPage);"><span class="glyphicon glyphicon-search"></span></button>
            <a class="btn btn-secondary btn-rounded" href="/Trading"><span class="glyphicon glyphicon-remove"></span></a>
        </span>
    </div>
    <div class="input-group padding-top">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#advanced-search">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Advanced Search Options
        </a>
    </div>
    <div id="advanced-search" class="collapse">
        <div class="small-padding-top">
            <label class="checkbox-inline"><input name="matchExactSearch" id="matchExactSearch" type="checkbox" @(Model.MatchExactSearch ? "checked" : "")>Match search query exactly</label>
        </div>
        <div class="small-padding-top">
            <label for="condition">Item Category</label>
            <input type="hidden" id="itemCategoryDropdownValue" value="@(Model.SearchCategory)" />
            <select class="form-control" id="category" name="category">
                @{
                    List<ItemCategory> itemCategories = Enum.GetValues(typeof(ItemCategory)).Cast<ItemCategory>().ToList();
                    itemCategories.Remove(ItemCategory.None);
                    itemCategories.Remove(ItemCategory.All);
                    <option value="@ItemCategory.All">@ItemCategory.All.GetDisplayName()</option>
                    foreach (ItemCategory itemCategory in itemCategories)
                    {
                        <option value="@itemCategory">@itemCategory.GetDisplayName()</option>
                    }
                }
            </select>
        </div>
        <div class="small-padding-top">
            <label for="condition">Item Condition</label>
            <input type="hidden" id="itemConditionDropdownValue" value="@(Model.SearchCondition)" />
            <select class="form-control" id="condition" name="condition">
                @{
                    List<ItemCondition> itemConditions = Enum.GetValues(typeof(ItemCondition)).Cast<ItemCondition>().ToList();
                    itemConditions.Remove(ItemCondition.All);
                    <option value="@ItemCondition.All">@ItemCondition.All</option>
                    foreach (ItemCondition itemCondition in itemConditions)
                    {
                        <option value="@itemCondition">@itemCondition</option>
                    }
                }
            </select>
        </div>
    </div>
</form>
    <div class="small-padding-top"></div>
}
@foreach (Trade trade in Model.Trades)
{
    <h5 class="inline">
        Posting by <a href="/User/@trade.Username">@trade.Username</a>
    </h5>
    <h5 class="inline pull-right no-margin-top @(trade.Offers.Count > 0 ? "" : "text-muted")">
        @Helper.FormatNumber(trade.Offers.Count) Offer@(trade.Offers.Count == 1 ? "" : "s")
    </h5>
    <div class="small-padding-top"></div>
    <div class="trade-container clickable hover-container" onclick="window.location.href='/Trading?id=@trade.Id';">
        <div class="grid-container grid-container--fit">
            @foreach (Item item in trade.Items)
            {
                <div class="grid-container-no-padding grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                        <div>
                            <h5>@item.Name</h5>
                            <p><i><small>@item.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        @if (item.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                            </div>
                        }
                        <div>
                            <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                        </div>
                        <div>
                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                <small>
                                    @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.Trades.Last().Id != trade.Id)
    {
        <hr />
    }
}
@if (Model.Trades.Count == 0)
{
    <h5>No Postings</h5>
    <div class="alert alert-info">
        @if (string.IsNullOrEmpty(Model.SearchQuery))
        {
            <div>
                There are currently no active postings. Why don't you <a class="alert-link" href="/Trading/Create">create one?</a>
            </div>
        }
        else
        {
            <div>
                No active postings matched your search of <b>@Model.SearchQuery</b>.
            </div>
        }
    </div>
}
@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/Trading?page=@i&query=@Model.SearchQuery&matchExactSearch=@Model.MatchExactSearch&category=@Model.SearchCategory&condition=@Model.SearchCondition">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
}