﻿@model TradingViewModel

<div class="padding-top visible-xs"></div>
@foreach (Trade trade in Model.Trades)
{
    <h5 class="inline">
        Your Posting
    </h5>
    @if (trade.IsAccepted)
    {
        <span class="label label-success pull-right">@(trade.IsAccepted ? "Accepted" : "")</span>
    }
    else
    {
        <h5 class="inline pull-right no-margin-top @(trade.Offers.Count > 0 ? "" : "text-muted")">
            @Helper.FormatNumber(trade.Offers.Count) Offer@(trade.Offers.Count == 1 ? "" : "s")
        </h5>
    }
    <div class="small-padding-top"></div>
    <div class="trade-container clickable hover-container" onclick="window.location.href='/Trading?id=@trade.Id';">
        <div class="grid-container grid-container--fit">
            @foreach (Item item in trade.Items)
            {
                <div class="grid-container-no-padding grid-element text-center">
                    <div>
                        <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                        <div>
                            <h5>@item.Name</h5>
                            <p><i><small>@item.Description</small></i></p>
                        </div>
                    </div>
                    <div>
                        @if (item.Tier > RelicId.None)
                        {
                            <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                                <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                            </div>
                        }
                        <div>
                            <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                        </div>
                        <div>
                            <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                                <small>
                                    @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">@(trade.IsAccepted ? "" : $"({item.Condition})")</span>
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @if (Model.Trades.Last().Id != trade.Id)
    {
        <hr />
    }
}
@if (Model.Trades.Count == 0)
{
    <h5>No Postings</h5>
    <div class="alert alert-info">
        You haven't made any trade postings. Why don't you <a class="alert-link" href="/Trading/Create">create one?</a>
    </div>
}
@if (Model.TotalPages > 1)
{
    <div class="text-center">
        <ul class="pagination pagination-sm">
            @for (int i = 0; i < Math.Min(Model.TotalPages, 10); i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "disabled" : "")">
                    <a class="page-link" href="/Trading/Postings?page=@i">@(i + 1)</a>
                </li>
            }
        </ul>
    </div>
}