﻿@model TradingViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/Trading">All Postings</a></li>
            <li><a href="/Trading/Create">Create Posting</a></li>
            <li><a href="/Trading/Postings">Your Postings</a></li>
            <li><a href="/Trading/Offers">Your Offers</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="tradingPartialView">
            @if (Model.CurrentTrade == null)
            {
                @await Html.PartialAsync("_TradingAllPartial", Model)
            }
            else
            {
                @await Html.PartialAsync("_TradingIdPartial", Model)
            }
        </div>
    </div>
</div>