﻿@model TradingViewModel

<div class="row">
    <div class="col-md-3 text-center">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/Trading">All Postings</a></li>
            <li><a href="/Trading/Create">Create Posting</a></li>
            <li class="active"><a href="/Trading/Postings">Your Postings</a></li>
            <li><a href="/Trading/Offers">Your Offers</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="tradingPostingPartialView">
            @await Html.PartialAsync("_TradingPostingsPartial", Model)
        </div>
    </div>
</div>