﻿@model DisableAccountViewModel

<div class="gray-container">
    By disabling your account, your profile, rankings, messages, and other information, will be hidden from other users until you log back in.
</div>
<form id="disableAccount" action="@Url.Action("Disable", "DisableAccount")" method="POST" onsubmit="submitDisableAccountForm(event, this);" class="large-padding-top">
    <div class="form-group">
        <label for="category">Reason for Disabling Your Account</label>
        <select class="form-control" id="reason" name="reason" required>
            <option value="-1">@InactiveAccountReason.None.GetDisplayName()</option>
            <option value="1">@InactiveAccountReason.ConcernedAboutPrivacy.GetDisplayName()</option>
            <option value="7">@InactiveAccountReason.TakingABreak.GetDisplayName()</option>
            <option value="2">@InactiveAccountReason.TooBoring.GetDisplayName()</option>
            <option value="3">@InactiveAccountReason.TooConfusing.GetDisplayName()</option>
            <option value="4">@InactiveAccountReason.TooDifficult.GetDisplayName()</option>
            <option value="5">@InactiveAccountReason.TooDistracting.GetDisplayName()</option>
            <option value="0">@InactiveAccountReason.Other.GetDisplayName()</option>
        </select>
    </div>
    <div class="form-group">
        <label for="password">Please Re-enter Your Password</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-lock" aria-hidden="true"></i></span>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
    </div>
    <div class="text-muted padding-top large-padding-bottom">
        If you disable your account, all your information will be hidden from other users until your re-enable your account by logging back in.
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-secondary">Disable Account</button>
</form>