﻿@model SecretGifterViewModel

<div class="gray-container">
    <h5>How it works</h5>
    <ul>
        <li>Choose one of your items below to send as a gift to another user.</li>
        <li>The better the gift, the more you'll show up to other Secret Gifters and get gifts of your own!</li>
        <li>You have <b>@Model.ExpiryDate.GetTimeUntil()</b> left to send a gift.</li>
    </ul>
</div>
<h5>Send a Gift</h5>
<div class="alert alert-success alert-success-coloring-gradient">
    <h5>
        You've been chosen to be a Secret Gifter for... <b><a class="alert-link" href="/User/@Model.SecretGiftUsername">@Model.SecretGiftUsername</a></b>!
    </h5>
</div>
@if (Model.Items.Count > 0)
{
    <form id="secretGifterForm" action="@Url.Action("SendSecretGift", "SecretGifter")" method="POST" onsubmit="submitSecretGifterForm(event, this);">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input id="message" type="text" class="form-control" name="message" value="" placeholder="Message (Optional)" maxlength="100" autocomplete="off">
            </div>
        </div>
        <input type="hidden" id="selectionId" name="selectionId" />
        @Html.AntiForgeryToken()
        <div class="form-group">
            <button id="submitSecretGiftButton" type="submit" class="btn btn-success disabled">Send Secret Gift</button>
        </div>
    </form>
}
<h5>
    Items (@Helper.FormatNumber(Model.Items.Count))
</h5>
@if (Model.Items.Count > 0)
{
    <div class="primary-container light-blue-border">
        <h5>
            Choose an item to send to <b><a href="/User/@Model.SecretGiftUsername">@Model.SecretGiftUsername</a></b> as a gift.
        </h5>
    </div>
    <div class="padding-top"></div>
}
<div class="grid-container grid-container--fit">
    @foreach (Item item in Model.Items)
    {
        <div class="grid-container-no-padding grid-element text-center clickable grow" onclick="secretGiftItemSelected(this);" id="@item.SelectionId">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.Uses > 0 ? $"{item.Uses} Use{(item.Uses != 1 ? "s" : "")} {(item.TotalUses <= item.Uses ? "" : " Left")}" : "")</small>
                </div>
                <div>
                    <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(item.GetAgeInHours()) hour@(item.GetAgeInHours() == 1 ? "" : "s") old">
                        <small>
                            @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                        </small>
                    </span>
                </div>
                <div>
                    <small class="text-muted">~@Helper.GetFormattedPoints(item.Points)</small>
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Items.Count == 0)
{
    <div class="alert alert-info">
        You don't have any items to give as a Secret Gift. Items that are in your Deck or that have an Unusable condition cannot be gifted.
    </div>
}
