﻿@model SpinSuccessViewModel

@if (Model.HasBetterLuck)
{
    <p>
        <div class="alert alert-success">
            <h5>
                You used a <b>Apple Spin Candy Card</b> and have better luck for your next spin!
            </h5>
        </div>
    </p>
}
<h5>Spin the Wheel</h5>
Tap on the middle of the wheel to spin it!
<div class="spin-wrapper">
    <div id="wheel" class="@(Model.CanSpin ? "" : "faded")">
        <div id="inner-wheel">
            <div class="sec"><span class="text fas fa-shopping-bag"></span></div>
            <div class="sec"><span class="text fas fa-magic"></span></div>
            <div class="sec"><span class="text glyphicon glyphicon-star"></span></div>
            <div class="sec"><span class="text fas fa-cloud-rain"></span></div>
            <div class="sec"><span class="text fas fa-hammer"></span></div>
            <div class="sec"><span class="text fas fa-exclamation"></span></div>
        </div>
        <div id="spin" onclick="spinWheel();">
            <div id="inner-spin"><h5 class="light-gray-color wheel-text-alignment">Spin!</h5></div>
        </div>
    </div>
</div>
<div class="extra-large-padding-top"></div>
<div class="messages">
    <div id="success-spin" class="alert alert-success alert-success-coloring-gradient thick-border" style="display: none;">
        <h4 class="alert-heading"><span class="fas fa-check-circle"></span> Awesome!</h4>
        <h5 id="success-spin-message" class="no-margin-top no-margin-bottom"></h5>
        <div id="spin-success-button" class="padding-top display-none">
             <a class="btn btn-success" id="spin-success-button-text"></a>
        </div>
    </div>
    <div id="info-spin" class="alert alert-info alert-info-coloring-gradient thick-border" style="display: none;">
        <h4 class="alert-heading"><span class="fas fa-info-circle"></span> Hmm...</h4>
        <h5 id="info-spin-message" class="no-margin-top no-margin-bottom"></h5>
    </div>
    <div id="danger-spin" class="alert alert-danger alert-danger-coloring-gradient thick-border" style="display: none;">
        <h4 class="alert-heading"><span class="fas fa-exclamation-triangle"></span> Oh no!</h4>
        <h5 id="danger-spin-message" class="no-margin-top no-margin-bottom"></h5>
        <div id="spin-danger-button" class="padding-top display-none">
             <a class="btn btn-danger" id="spin-danger-button-text"></a>
        </div>
    </div>
</div>
@if (Model.SpinSuccessHistories.Count > 0)
{
    <h5 class="padding-top small-padding-bottom">
        <a class="collapsed clickable" data-toggle="collapse" data-target="#spinSuccessHistories">
            <span class="if-collapsed">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
            <span class="if-not-collapsed">
                <span class="glyphicon glyphicon-minus"></span>
            </span>
            Recent Spins
        </a>
    </h5>
    <div id="spinSuccessHistories" class="collapse padding-bottom">
        @foreach (SpinSuccessHistory spinSuccessHistory in Model.SpinSuccessHistories)
        {
            <div class="gray-container">
                <div>
                    <b class="@(spinSuccessHistory.Type == SpinSuccessType.None ? "" : (spinSuccessHistory.Type == SpinSuccessType.Positive ? "win-green" : "lose-red"))">@spinSuccessHistory.Type</b>
                    <small class="text-muted pull-right">@spinSuccessHistory.CreatedDate.GetTimeSince()</small>
                </div>
                <div class="small-padding-top">
                    @Html.Raw(Helper.BoldNumbers(Helper.BoldTimes(Helper.BoldPoints(Helper.BoldQuotes(spinSuccessHistory.Message)))))
                </div>
            </div>
            <div class="padding-top"></div>
        }
    </div>
}