﻿@model SpinSuccessViewModel

<div class="gray-container">
    You can spin the wheel once every <b>3 hours</b> but you might get a <b class="win-green">positive</b> or <b class="lose-red">negative</b> reward! The risk is yours...
    <div class="small-padding-top">
            <a class="collapsed clickable" data-toggle="collapse" data-target="#symbol-meanings">
                <span class="if-collapsed">
                    <span class="glyphicon glyphicon-plus"></span>
                </span>
                <span class="if-not-collapsed">
                    <span class="glyphicon glyphicon-minus"></span>
                </span>
                Symbol Meanings
            </a>
        </div>
        <div id="symbol-meanings" class="collapse small-padding-top">
            <ul>
                <li>
                    <span class="extra-small-margin-left"></span><span class="fas fa-exclamation"></span><span class="large-margin-left">Improve or worsen one of your @Resources.DeckCards</span>
                </li>
                <li>
                    <span class="fas fa-shopping-bag"></span><span class="margin-left">Get a free item</span>
                </li>
                <li>
                    <span class="fas fa-magic"></span><span class="margin-left">Get either a bonus or a curse at the Stadium</span>
                </li>
                <li>
                    <span class="glyphicon glyphicon-star"></span><span class="margin-left">Gain or lose @Resources.Currency</span>
                </li>
                <li>
                    <span class="fas fa-cloud-rain"></span><span class="margin-left">Lose an item from your bag</span>
                </li>
                <li>
                    <span class="fas fa-hammer"></span><span class="margin-left">Repair one of your items</span>
            </li>
            </ul>
        </div>
    </div>
<div id="spinSuccessPartialView">
    @await Html.PartialAsync("_SpinSuccessMainPartial", Model)
</div>