﻿@model ClubViewModel

<div class="gray-container">
    Join the <b>@Resources.SiteName Club</b> for exclusive member perks that include free monthly <b>Club items</b>, access to the <b>Incubator</b>, and more!
</div>
<h5>Some Club Items</h5>
<div class="scrolling-wrapper">
    <div class="scrolling-container-indicator scrolling-container-indicator-left clickable grow" onclick="scrollContainerToLeft($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-left scrolling-margin-spacing-left"></span></h4></div>
    <div class="scrolling-container-indicator scrolling-container-indicator-right clickable grow" onclick="scrollContainerToRight($(this).parent());"><h4 class="no-margin-top"><span class="fas fa-chevron-right scrolling-margin-spacing-right"></span></h4></div>
    <div class="scrolling-container">
        @foreach (Item item in Model.Items)
        {
            <div class="scrolling-grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div class="push-down-class">
                    <div>
                        <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                    </div>
                    <div>
                        <small>
                            @item.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<h5>Incubator</h5>
<div class="alert alert-info alert-info-coloring-gradient small-margin-bottom">
    <h5>
        Create new copies of your Enhancers for <b>free</b> as a member of the @Resources.SiteName Club!
    </h5>
</div>
<h5>More Perks</h5>
<ul>
    <li>
        <h5>Daily Stadium Bonus for CPU matches</h5>
    </li>
    <li>
        <h5>A @Resources.SiteName Club badge on your profile</h5>
    </li>
</ul>
<div class="small-padding-top"></div>
<div class="alert alert-success alert-success-coloring-gradient">
    <h5>
        Interested in signing up? Pick a membership option below:
    </h5>
    <div class="small-padding-top">
        <form class="inline" action="@Url.Action("GetMembership", "Club")" method="POST" onsubmit="submitClubForm(event, this);">
            @Html.AntiForgeryToken()
            <input type="hidden" name="months" id="months" value="1" />
            <button type="submit" class="btn btn-primary @(Model.User.Points >= 15000 ? "" : "disabled")">
                <h5 class="small-margin-top small-margin-bottom">
                    <span class="fas fa-coins"></span>
                    1 month for @Helper.GetFormattedPoints(15000)
                </h5>
            </button>
        </form>
        <div class="visible-xs small-padding-top"></div>
        <form class="inline" action="@Url.Action("GetMembership", "Club")" method="POST" onsubmit="submitClubForm(event, this);">
            @Html.AntiForgeryToken()
            <input type="hidden" name="months" id="months" value="12" />
            <button type="submit" class="btn btn-success @(Model.User.Points >= 150000 ? "" : "disabled")">
                <h5 class="small-margin-top small-margin-bottom">
                    <span class="fas fa-coins"></span>
                    12 months for @Helper.GetFormattedPoints(150000)
                </h5>
            </button>
        </form>
    </div>
</div>