﻿@model ClubViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/Club">Club</a></li>
    <li class="active"><a href="#">Incubator</a></li>
</ul>
<p>
    <div class="gray-container">
        You can incubate <b>any Enhancer</b> that has <b>unlimited uses</b> to create a copy of it. The longer you incubate your Enhancer, the more uses its copy will have.
        <ul class="extra-small-padding-top no-margin-bottom">
            <li>
                <b>3 days</b>: 1 Total Use
            </li>
            <li>
                <b>4 days</b>: 3 Total Uses
            </li>
            <li>
                <b>5 days</b>: 5 Total Uses
            </li>
        </ul>
    </div>
</p>
@if (Model.IncubatedItem == null)
{
    <h5>
        Enhancers (@Helper.FormatNumber(Model.Enhancers.Count))
    </h5>
    <div class="grid-container grid-container--fit">
        @foreach (Enhancer enhancer in Model.Enhancers)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(enhancer.ImageUrl)" alt="@enhancer.Description" title="@enhancer.Description">
                    <div>
                        <h5>@enhancer.Name</h5>
                        <p><i><small>@enhancer.Description</small></i></p>
                    </div>
                </div>
                <div>
                    @if (enhancer.Tier > RelicId.None)
                    {
                        <div data-toggle="tooltip" data-placement="top" title="Needs the @enhancer.Tier Relic.">
                            <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{enhancer.Tier}.png")" />
                        </div>
                    }
                    <div>
                        <small class="semi-bold">@(enhancer.Uses > 0 ? $"{enhancer.Uses} Use{(enhancer.Uses != 1 ? "s" : "")} {(enhancer.TotalUses == enhancer.Uses ? "" : " Left")}" : "")</small>
                    </div>
                    <div>
                        <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(enhancer.GetAgeInHours()) hour@(enhancer.GetAgeInHours() == 1 ? "" : "s") old">
                            <small>
                                @enhancer.Category <span class="@Helper.GetItemConditionColor(enhancer.Condition)">(@enhancer.Condition)</span>
                            </small>
                        </span>
                    </div>
                    <div>
                        <small class="text-muted">~@Helper.GetFormattedPoints(enhancer.Points)</small>
                    </div>
                    <div class="small-padding-top">
                        <form action="@Url.Action("Incubate", "Club")" method="POST" onsubmit="submitClubIncubatorForm(event, this);">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="enhancerId" id="enhancerId" value="@enhancer.SelectionId" />
                            <button type="submit" class="btn btn-success btn-xs">Incubate</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (Model.Enhancers.Count == 0)
    {
        <div class="alert alert-info">
            You don't have any unlimited-use Enhancers that can be incubated at this time.
        </div>
    }
}
else
{
    <h5>Incubated Enhancer</h5>
    <div class="grid-element text-center center-block card-width">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl(Model.IncubatedItem.ImageUrl)" alt="@Model.IncubatedItem.Description" title="@Model.IncubatedItem.Description">
            <div>
                <h5>@Model.IncubatedItem.Name</h5>
                <p><i><small>@Model.IncubatedItem.Description</small></i></p>
            </div>
        </div>
        <div>
            <div>
                <small class="semi-bold">@(Model.IncubatedItem.TotalUses > 0 ? $"{Model.IncubatedItem.TotalUses} Use{(Model.IncubatedItem.TotalUses != 1 ? "s" : "")}" : "")</small>
            </div>
            <div>
                @if (Model.IncubatedItem.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @Model.IncubatedItem.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{Model.IncubatedItem.Tier}.png")" />
                    </div>
                }
                <span data-toggle="tooltip" data-placement="top" title="@Helper.FormatNumber(Model.IncubatedItem.GetAgeInHours()) hour@(Model.IncubatedItem.GetAgeInHours() == 1 ? "" : "s") old">
                    <small>
                        @Model.IncubatedItem.Category <span class="@Helper.GetItemConditionColor(Model.IncubatedItem.Condition)">(@Model.IncubatedItem.Condition)</span>
                    </small>
                </span>
            </div>
            <div>
                <small class="text-muted">~@Helper.GetFormattedPoints(Model.IncubatedItem.Points)</small>
            </div>
        </div>
    </div>
    <div class="padding-top"></div>
    <p>
        <div class="alert alert-info no-margin-bottom">
            You've been incubating your Enhancer for <b>@Helper.FormatNumber(Model.IncubationDays) day@(Model.IncubationDays == 1 ? "" : "s")</b>.
        </div>
    </p>
    @if (Model.IncubationDays >= 3)
    {
        <p>
            <div class="alert alert-success no-margin-bottom">
                <h5>
                    You can complete the incubation and get a copy of your Enhancer <b>"@Model.IncubatedItem.Name"</b> that has <b>@(Math.Min(2 * Model.IncubationDays - 5, 5)) use@(Model.IncubationDays == 3 ? "" : "s")</b>!
                </h5>
            </div>
        </p>
    }
    <div class="extra-small-padding-top"></div>
    <form action="@Url.Action("StopIncubator", "Club")" method="POST" onsubmit="submitClubIncubatorForm(event, this)">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-@(Model.IncubationDays < 3 ? "danger" : "success")">@(Model.IncubationDays < 3 ? "Stop Incubating" : "Get Items")</button>
    </form>
}