﻿@model ClubViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Club</a></li>
    <li><a href="/Club/Incubator">Incubator</a></li>
</ul>
<p>
    <div class="alert alert-elite-zone-coloring margin-bottom">
        <h4 class="alert-heading"><span class="fas fa-shield-alt" data-toggle="tooltip" data-placement="top" title="Limited Time"></span> @Resources.SiteName Club</h4>
        <h5 class="extra-small-padding-top small-margin-bottom">
            Welcome to the @Resources.SiteName Club, <b>@Model.User.Username</b>! Your membership expires in <b class="@((Model.MembershipEndDate -DateTime.UtcNow).TotalDays < 3 ? "lose-red" : "")">@Model.MembershipEndDate.GetTimeUntil()</b>.
        </h5>
    </div>
</p>
@if (Model.Items.Count > 0)
{
    <h5 class="no-margin-bottom" id="unclaimed-monthly-item">Free Monthly Item@(Model.Items.Count > 1 ? "s" : "")</h5>
    <h6 class="text-muted small-margin-top no-margin-bottom">Each month, you can claim an exclusive @Resources.SiteName Club item for free.</h6>
    <div class="small-padding-top"></div>
    <div class="grid-container grid-container--fit">
        @foreach (Item item in Model.Items)
        {
            <div class="grid-container-no-padding grid-element text-center">
                <div>
                    <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                    <div>
                        <h5>@item.Name</h5>
                        <p><i><small>@item.Description</small></i></p>
                    </div>
                </div>
                <div>
                    <div>
                        <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                    </div>
                    <div>
                        <small>
                            @item.Category
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
    <form class="padding-top small-padding-bottom" action="@Url.Action("ClaimItems", "Club")" method="POST" onsubmit="submitClubForm(event, this)">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">Take Item@(Model.Items.Count == 1 ? "" : "s")</button>
    </form>
}
<h5 id="daily-bonus">Daily Club Bonus</h5>
<div class="alert alert-success alert-success-coloring-gradient margin-bottom">
    Every day, you can get a <b>Stadium Bonus</b> from the @Resources.SiteName Club! It only lasts for <b>10 minutes</b> and can only be used on <b>CPU matches</b> so make sure to use it when you need it.
    <form class="padding-top" action="@Url.Action("GetBonus", "Club")" method="POST" onsubmit="submitClubForm(event, this);">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success @(Model.CanUseBoost ? "" : "disabled")">
            <span class="fas fa-plus"></span>
            Get Daily Bonus
        </button>
    </form>
</div>
<h5>Next Month's Item</h5>
<div>
    If you're a member of the @Resources.SiteName Club next month, you'll be able to claim this item:
</div>
<div class="padding-top"></div>
<div class="grid-container grid-container--fit">
    <div class="grid-container-no-padding grid-element text-center">
        <div>
            <img class="item-dimensions" src="@Helper.GetImageUrl(Model.NextItem.ImageUrl)" alt="@Model.NextItem.Description" title="@Model.NextItem.Description">
            <div>
                <h5>@Model.NextItem.Name</h5>
                <p><i><small>@Model.NextItem.Description</small></i></p>
            </div>
        </div>
        <div>
            <div>
                <small class="semi-bold">@(Model.NextItem.TotalUses > 0 ? $"{Model.NextItem.TotalUses} Use{(Model.NextItem.TotalUses != 1 ? "s" : "")}" : "")</small>
            </div>
            <div>
                <small>
                    @Model.NextItem.Category
                </small>
            </div>
        </div>
    </div>
</div>
<div class="small-padding-top"></div>
@if (Model.Items.Count == 0)
{
    <h5>Unclaimed Monthly Item@(Model.Items.Count > 1 ? "s" : "")</h5>
    <div class="alert alert-info no-margin-bottom">
        You have no more monthly items to claim.
        @if (Model.ClubMemberships.Count > 1)
        {
            <span>
                Your next item can be claimed in <b>@Model.ClubMemberships[1].StartDate.GetTimeUntil()</b>.
            </span>
        }
        else
        {
            <span>
                Extend your membership to claim a new item next month!
            </span>
        }
    </div>
}
@if (Model.ClubMemberships.Count == 1)
{
    <div class="small-padding-top"></div>
    <h5 id="extend-club-membership">Extend Your Membership</h5>
    <div class="alert alert-info alert-info-coloring-gradient no-margin-bottom">
        <h5 class="no-margin-top">
            Your membership is set to expire in <b>@Model.MembershipEndDate.GetTimeUntil()</b>.
            Switch over to a 12 month membership and save <b class="win-green">@Helper.GetFormattedPoints(30000)</b> a year!
        </h5>
        <div class="padding-top large-padding-bottom">
            <form action="@Url.Action("ExtendMembership", "Club")" method="POST" onsubmit="submitClubForm(event, this);">
                <input type="hidden" name="oneMonth" value="false" />
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-success @(Model.User.Points >= 135000 ? "" : "disabled")">
                    <h5 class="small-margin-top small-margin-bottom">
                        <span class="fas fa-coins"></span>
                        11 more months for @Helper.GetFormattedPoints(135000)
                    </h5>
                </button>
            </form>
        </div>
        <h5 class="no-margin-top">
            Or extend your membership by one more month for <b class="win-green">@Helper.GetFormattedPoints(15000)</b>!
        </h5>
        <div class="padding-top">
            <form action="@Url.Action("ExtendMembership", "Club")" method="POST" onsubmit="submitClubForm(event, this);">
                <input type="hidden" name="oneMonth" value="true" />
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary @(Model.User.Points >= 15000 ? "" : "disabled")">
                    <h5 class="small-margin-top small-margin-bottom">
                        <span class="fas fa-coins"></span>
                        1 more month for @Helper.GetFormattedPoints(15000)
                    </h5>
                </button>
            </form>
        </div>
    </div>
}