﻿body {
    background: rgb(208,255,222);
    background-image: radial-gradient(circle, rgba(208,255,222,1) 50%, rgba(171,207,248,1) 100%);
    font-family: "Roboto", "Helvetica Neue Regular", "Helvetica Neue", "Segoe UI", Verdana, Helvetica, Arial, sans-serif;
}

.body-content {
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(252, 252, 252, 0.95);
    min-height: 100vh;
    width: 90%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media (max-width: 767px) {
    .body-content{
        padding-top: 65px;
    }
    .body-content.width {
        width: 95%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.title-gradient-background {
    position: absolute;
    background-color: #00a0d0;
    background-image: linear-gradient(#69eed0, #0eb6e8 59%, #fafafa 99%);
    width: 90%;
    margin-top: -40px;
    margin-left: -30px;
    height: 150px;
    opacity: 0.95;
}

@media (max-width: 767px) {
    .title-gradient-background {
        width: 95%;
        margin-left: -15px;
    }
}

.auction-row {
    background-color: #f4f4f4;
    padding-right: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    border: 1.5px #e4e4e4 solid;
    border-radius: 3px;
    cursor: pointer;
}

.alternative-row-color {
    background-color: #337ab7;
    color: white;
    border-color: #285f8f;
}

.alternative-row-color:hover {
    background-color: #3b87c8;
}

.message-bubble {
    background: #337ab7;
    border-radius: 1em;
    color: white;
    padding: 10px;
    display: inline-block;
    word-break: break-word;
}

.message-container {
    overflow-y: auto; 
    overflow-x: hidden; 
    max-height: 60vh;
}

.small-message-container {
    max-height: 230px !important;
}

.wheel-text-alignment{
    padding-left: 10px;
    padding-top: 9px;
}

.hide-list-dot {
    list-style-type: none;
}

.crystal-ball-color{
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    margin-top: 15px;
    border-radius: 50%;
    box-shadow: 25px 25px 50px 0 white inset, -2px -2px 50px 0 white inset;
    -moz-box-shadow: 25px 25px 50px 0 white inset, -2px -2px 50px 0 white inset;
    -webkit-box-shadow: 25px 25px 50px 0 white inset, -2px -2px 50px 0 white inset;
}

.crystal-ball-color-choice{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: calc(50% - 30px); 
}

.no-border {
    border-width: 0 !important;
}

.dotted-top-border {
    border-top: 2.5px double #878787;
    padding-top: 5.5px;
}

.white-border{
    border-color: white;
}

.small-thick-border {
    border-width: 2px !important;
}
.medium-thick-border {
    border-width: 3px !important;
}
.thick-border {
    border-width: 5px !important;
}

.top-radius-border {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.white-background {
    background-color: white !important;
}

.link-without-format a:visited, .link-without-format a:active,
.link-without-format a:link {
    color: #fff;
}

.link-remove-decoration {
    text-decoration: inherit !important;
}

.unread-message {
    background-color: #edf6f6 !important;
    border: solid 1.5px #badddd !important;
}

.unread-message-hover:hover {
    background-color: #f1f8f8 !important;
}

.alert-info-coloring {
    background-color: #D9EDF7 !important;
    color: #0C5875 !important;
}

.alert-info-coloring-gradient{
    background-image: radial-gradient(circle, #c3e3f2, #a3d3eb);
    color: #0C5875 !important;
}

.alert-success-coloring-gradient{
    background-image: radial-gradient(circle, #d1edc5, #a2d98d);
}

.alert-home-coloring-gradient {
    border: 3px #76c36e solid !important;
    background-color: rgba(80, 200, 46, 0.2) !important;
    color: #60963a !important;
}

.alert-warning-coloring-gradient{
    background-image: radial-gradient(circle, #f5e7ba, #efd992);
}

.alert-danger-coloring-gradient{
    background-image: radial-gradient(circle, #f2d5d5, #e79494);
}

.alert-gold-coloring {
    background-color: #fcf1d1 !important;
    color: #f4bc1c !important;
    border: 1px #f4bc1c solid !important;
}

.alert-elite-zone-coloring {
    background-color: #fcf1d1 !important;
    color: #cf9e13 !important;
    border: 1px #f4bc1c solid !important;
}

.alert-blue-coloring {
    background-color: #d8ecff !important;
    color: #3fa0ff !important;
    border: 1px #3fa0ff solid !important;
}
.alert-blue-coloring-gradient {
    background-image: linear-gradient(0deg, #a6cef5, #d8ecff);
}

.alert-purple-coloring {
    background-color: #ecd8ff !important;
    color: #846394 !important;
    border: 1px #846394 solid !important;
}
.alert-purple-coloring-gradient {
    background-image: linear-gradient(0deg, #d4aef5, #ecd8ff);
}

.alert-green-coloring {
    background-color: #bfffbf !important;
    color: #00da00 !important;
    border: 1px #00da00 solid !important;
}
.alert-green-coloring-gradient {
    background-image: linear-gradient(0deg, #8cf58c, #bfffbf);
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.relative {
    position: relative;
}

.gray-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 6px;
    word-wrap: break-word;
}

.add-feed-container {
    z-index: -1;
    width: 100% !important;
}

.gray-border {
    border: 1.5px #e4e4e4 solid !important;
}
.gray-border-thick {
    border: 5px #e4e4e4 solid;
}
.win-green-full-border {
    border: 1.5px #28a745 solid !important;
}
.lose-red-full-border {
    border: 1.5px #dc3545 solid !important;
}

.primary-container {
    border-radius: 6px;
    padding: 10px;
    background: repeating-linear-gradient( 45deg, rgba(51, 122, 183, 0.1), rgba(51, 122, 183, 0.1) 10px, rgba(99, 160, 212, 0.1) 10px, rgba(99, 160, 212, 0.1) 20px );
}

.win-green-container {
    border: 1.5px #28a745 solid;
    border-radius: 6px;
    padding: 10px;
    background: repeating-linear-gradient( 45deg, rgba(40, 167, 69, 0.1), rgba(40, 167, 69, 0.1) 10px, rgba(91, 201, 116, 0.1) 10px, rgba(91, 201, 116, 0.1) 20px );
}

.light-blue-border {
    border: 1.5px #aeceeb solid;
}
.light-blue-border-important {
    border: 1.5px #aeceeb solid !important;
}

.hover-container:hover {
    background-color: rgba(0, 0, 0, 0.02) !important;
}
.hover-container-darker:hover {
    background-color: rgba(0, 0, 0, 0.06) !important;
}

.orange-hover:hover {
    color: orange !important;
}

.feed-container {
    border: 1.5px #e4e4e4 solid;
    padding: 10px;
    border-radius: 4px;
    word-wrap: break-word;
    background-color: white;
}

.news-container {
    padding: 14px;
    border-radius: 3px;
    border: 1.5px #e4e4e4 solid;
    word-wrap: break-word;
}

.market-stall-container{
    height: 105px;
    border-radius: 3px;
}

.trade-container {
    padding: 10px;
    border-radius: 10px;
}

.padding-container {
    padding: 10px;
}

.messages-box-button {
  background-color: #337ab7;
  background-image: radial-gradient(circle, #1eaee3, #337ab7);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.85;
  position: fixed;
  bottom: 0;
  right: 1px;
  width: 200px;
  height: 35px;
  z-index: 100;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.messages-box-button:hover {
  opacity: 1;
}

.messages-box {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 1px;
  z-index: 99;
  height: 350px;
  width: 200px;
  padding: 10px;
  background-color: white;
  opacity: 0.95;
  border: 1.5px #337ab7 solid;
  border-bottom-width: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: auto;
}

@media (max-width: 768px) {
    .mobile-nav {
      height: 35px;
      width: 260px;
      background-color: rgb(51, 122, 183);
      background-image: radial-gradient(circle, #1eaee3, #337ab7);
      opacity: 0.95;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: white;
      position: fixed;
      padding: 5px;
      bottom: 0;
      left: calc(50% - 130px);
      z-index: 100;
      text-align: center;
      font-size: 20px;
    }
}

.active-color {
    color: rgba(0, 0, 0, 0.3) !important;
}

.highlight-nav-green-color {
    color: #33fb61 !important;
}

.bottom-banner {
  height: 50px;
  width: 100%;
  background-color: rgba(51, 122, 183, 0.95);
  color: white;
  position: fixed;
  padding: 5px;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
@media (max-width: 768px) {
    .bottom-banner {
        height: 62px;
    }
}

.primary-color {
    color: #337ab7;
}
.primary-color-background {
    background-color: #337ab7 !important;
}
.primary-color-gradient-background {
    background-color: #337ab7 !important;
    background-image: linear-gradient(0deg, #1c619c, #337ab7) !important;
}
.primary-color-border {
    border-color: #337ab7 !important;
}

.alt-primary-color {
    color: #19a3d1
}

.secondary-color {
    color: #285f8f;
}

.gray-color{
    color: gray;
}
.gray-background-color {
    background-color: #f4f4f4;
}
.border-gray-background-color {
    background-color: #e4e4e4;
}
.dark-gray-background-color {
    background-color: #c9c5c5;
}

.alert-background {
    color: white;
    background-color: #DC3545;
}
.alert-color {
    color: #DC3545 !important;
}

.blue-color {
    color: #337ab7;
}

.pink-color {
    color: #ff7ac2;
}

.pill-text {
    background-color: #337ab7;
    padding: 12px;
    color: white;
    border-radius: 16px;
}

.show-line-spaces {
    white-space: pre-line;
}

.grid-container-no-padding {
    display: grid;
}

.grid-container {
    display: grid;
    grid-gap: 5px;
}

.grid-location-container {
    display: grid;
    grid-gap: 30px;
    grid-row-gap: 12px;
}

.grid-element {
    background-color: #f4f4f4;
    background-image: linear-gradient(to top, rgba(224, 222, 222, 1), rgb(236, 236, 237) 43.28%, rgba(217, 217, 217, 0.84));
    padding: 10px;
    color: black;
    border: 1.5px #d9d9d9 solid;
    border-radius: 8px;
    grid-template-rows: 1fr min-content;
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
}
@media (max-width: 700px) {
    .grid-container--fit {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }
    .panel-body-mobile{
        padding-left: 5px;
        padding-right: 5px;
    }
    .grid-location-container {
        grid-gap: 25px;
        grid-row-gap: 5px;
    }
}

.scrolling-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.scrolling-container {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    padding-top: 10px;
    margin-top: -10px;
    padding-bottom: 10px;
    margin-bottom: -10px;
    padding-left: 10px;
    margin-left: -10px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}
.scrolling-container::-webkit-scrollbar {
  display: none;
}

.scrolling-wrapper:before {
    content: "";
    position: absolute;
    display: block;
    left: -10px;
    height: 100%;
    width: 35px;
    background-image: linear-gradient(90deg, rgba(252,252,252,1), rgba(252,252,252,0));
    z-index: 1;
}
.scrolling-wrapper.hidden-left:before{
    background-image: none;
}

.scrolling-wrapper:after {
    content: "";
    position: absolute;
    display: block;
    right: 0px;
    height: 100%;
    width: 35px;
    background-image: linear-gradient(90deg, rgba(252,252,252,0), rgba(252,252,252,1));
    z-index: 1;
}
.scrolling-wrapper.hidden-right:after{
    background-image: none;
}

.scrolling-grid-element {
    flex: 0 0 auto;
    margin-right: 8px;
    background-color: #f4f4f4;
    background-image: linear-gradient(to top, rgba(224, 222, 222, 1), rgb(236, 236, 237) 43.28%, rgba(217, 217, 217, 0.84));
    padding: 10px;
    color: black;
    border: 1.5px #d9d9d9 solid;
    border-radius: 8px;
    width: 135px !important;
}

.scrolling-grid-location-element {
    flex: 0 0 auto;
    margin-right: 8px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    color: black;
    width: 165px !important;
}
@media (max-width: 768px) {
    .scrolling-grid-location-element {
        width: 152px !important;
    }
}

.flex-scrolling-element{
    flex: 0 0 auto;
}

.scrolling-container-indicator {
    background-color: white;
    width: 30px;
    height: 30px;
    margin: -5px;
    padding: 5px;
    position: absolute;
    top: calc(50% - 50px);
    opacity: 0.95;
    border-radius: 50%;
    display: none;
    color: black;
    z-index: 2;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.30),0 2px 6px 2px rgba(60,64,67,.15);
}
.scrolling-container-indicator-left{
    margin-left: 10px;
}
.scrolling-container-indicator-right{
    right: 10px;
}

.scrolling-margin-spacing-left{
    margin-left: 20%;
    margin-top: 10%;
    opacity: 0.6;
}

.scrolling-margin-spacing-right{
    margin-left: 30%;
    margin-top: 10%;
    opacity: 0.6;
}

.bigger-grid-container--fit {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.grid-location-element {
    padding: 10px;
    color: black;
    grid-template-rows: 1fr min-content;
}

.location-top-bar {
    color: white;
    width: 173px;
    height: 18px;
    margin-left: -10px;
    opacity: 0.85;
    padding: 2px;
}
@media (max-width: 768px) {
    .location-top-bar {
        width: 160px !important;
    }
}
.top-bar-secret {
    background: #28a745;
    background-image: linear-gradient(0deg, #36ba54, #28a745);
}
.top-bar-limited {
    background: orange;
    background-image: linear-gradient(0deg, #e7b24e, orange);
}
.top-bar-special {
    background: #f53b3b;
    background-image: linear-gradient(0deg, #e34242, #f53b3b);
}
.top-bar-popular {
    background: #337ab7;
    background-image: linear-gradient(0deg, #1e88e3, #337ab7);
}
.top-bar-more {
    background: #a1a5ad;
    background-image: linear-gradient(0deg, #8d9096, #a1a5ad);
}

.white-box {
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    display: list-item;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

@media (min-width: 768px) {
    .margin-no-mobile {
        margin-left: 25px;
        margin-right: 25px;
    }
}

.large-padding {
    padding: 15px;
}
.padding {
    padding: 10px;
}

.extra-extra-large-padding-top{
    padding-top: 30px;
}
.extra-large-padding-top {
    padding-top: 20px;
}
.large-padding-top {
    padding-top: 15px;
}
.padding-top {
    padding-top: 10px;
}
.small-padding-top {
    padding-top: 5px;
}
.extra-small-padding-top{
    padding-top: 3px;
}

@media (min-width: 768px) {
    .small-padding-top-no-mobile {
        padding-top: 5px;
    }
    .padding-top-no-mobile {
        padding-top: 10px;
    }
    .text-muted-no-mobile {
        color: #777;
    }
}

.small-padding-bottom {
    padding-bottom: 5px;
}
.padding-bottom{
    padding-bottom: 10px;
}
.large-padding-bottom {
    padding-bottom: 15px;
}
.extra-large-padding-bottom {
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .no-padding-right-non-mobile {
        padding-right: 0px;
    }
}

.no-padding-right{
    padding-right: 0px;
}
.extra-small-padding-right{
    padding-right: 2px;
}
.small-padding-right{
    padding-right: 5px;
}
.padding-right{
    padding-right: 10px;
}
.large-padding-right{
    padding-right: 15px;
}
.extra-large-padding-right{
    padding-right: 20px;
}

.no-padding-left{
    padding-left: 0px;
}
.extra-small-padding-left {
    padding-left: 2px;
}
.small-padding-left {
    padding-left: 5px;
}
.padding-left {
    padding-left: 10px;
}
.large-padding-left {
    padding-left: 15px;
}
.extra-large-padding-left {
    padding-left: 20px;
}
.extra-extra-large-padding-left {
    padding-left: 25px;
}

.image-padding-left{
    padding-left: 55px;
}
.image-large-padding-left {
    padding-left: 60px;
}
.image-extra-large-padding-left {
    padding-left: 65px;
}
@media (min-width: 768px) {
    .non-mobile-image-extra-large-padding-left {
        padding-left: 65px;
    }
}

@media (min-width: 768px) {
    .non-mobile-behind-small-margin-left {
        margin-left: -5px;
    }
}
.extra-large-behind-margin-left {
    margin-left: -20px;
}
.large-behind-margin-left {
    margin-left: -15px;
}
.behind-margin-left {
    margin-left: -10px;
}
.behind-small-margin-left{
    margin-left: -5px;
}
.no-margin-left {
    margin-left: 0px;
}
.extra-small-margin-left{
    margin-left: 3px;
}
.small-margin-left {
    margin-left: 5px;
}
.margin-left{
    margin-left: 10px;
}
.large-margin-left {
    margin-left: 15px;
}
.extra-large-margin-left {
    margin-left: 20px;
}
.extra-extra-large-margin-left {
    margin-left: 25px;
}
.extra-extra-extra-large-margin-left {
    margin-left: 30px;
}

.no-margin-right{
    margin-right: 0px;
}
.extra-small-margin-right{
    margin-right: 3px;
}
.small-margin-right{
    margin-right: 5px;
}
.margin-right {
    margin-right: 10px;
}
.large-margin-right {
    margin-right: 15px;
}
.extra-large-margin-right {
    margin-right: 20px;
}

.extra-extra-large-behind-margin-top {
    margin-top: -25px;
}
.extra-large-behind-margin-top {
    margin-top: -20px;
}
.large-behind-margin-top {
    margin-top: -15px;
}
.behind-margin-top{
    margin-top: -10px;
}
.behind-small-margin-top {
    margin-top: -5px;
}
.behind-extra-small-margin-top {
    margin-top: -3px;
}
.behind-extra-extra-small-margin-top {
    margin-top: -2px;
}
.no-margin-top{
    margin-top: 0px;
}
@media (max-width: 768px) {
    .no-margin-top-mobile {
        margin-top: 0px !important;
    }
}
.extra-small-margin-top{
    margin-top: 3px;
}
.small-margin-top{
    margin-top: 5px;
}
.margin-top{
    margin-top: 10px;
}
.large-margin-top{
    margin-top: 15px;
}
.extra-large-margin-top{
    margin-top: 20px;
}
.no-margin-bottom {
    margin-bottom: 0px;
}
@media (max-width: 768px) {
    .no-margin-bottom-mobile {
        margin-bottom: 0px !important;
    }
}
.extra-small-margin-bottom {
    margin-bottom: 3px;
}
.small-margin-bottom{
    margin-bottom: 5px;
}
.margin-bottom{
    margin-bottom: 10px;
}
.vertical-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

.group-message-margin-bottom {
    margin-bottom: 7px;
}

.semi-bold {
    font-weight: 500;
}
@media (min-width: 768px) {
    .non-mobile-semi-bold {
        font-weight: 500;
    }
}
.bold {
    font-weight: 600;
}

.clickable {
    cursor: pointer !important;
}

.draggable {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.expand-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 32px;
    font-size: 60px;
}

.tabbed-border-radius {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 768px) {
    .mobile-opacity {
        opacity: 0.5 !important;
    }
}

@media (min-width: 992px) {
    .semi-fixed {
        position: fixed;
        overflow: hidden;
        width: 28vw;
        bottom: auto;
    }
}

.itemSelected {
    border-color: #337ab7;
    border-style: solid;
    border-width: 3px !important;
    background-color: #e7e7e7;
}
.cardSelected {
    border: 3px #337ab7 solid;
    background-color: #e7e7e7;
}
.accomplishmentSelected {
    border: 3px #337ab7 solid;
    background-color: #e7e7e7;
}
.powerMoveSelected {
    border: 3px #337ab7 solid;
    background-color: #e7e7e7;
}

.streak-card-selected {
    border: 2px #28a745 solid;
}

.offer-card-chosen {
    border: 2px #28a745 solid;
}

.darker-gray-selected {
    background-color: #e7e7e7;
}

.top-layer {
    position: relative;
    z-index: 1;
}

@keyframes fadeOutBorder {
    0% {
        border: 2px #337ab7 solid;
    }

    100% {
        border: 1.5px #e4e4e4 solid;
    }
}
.fade-out-border {
    animation: 15s ease-out 0s 1 fadeOutBorder;
}

@keyframes fadeOutBorderLightBlue {
    0% {
        border: 2px #19a4d2 solid;
    }

    100% {
        border: 1.5px #e4e4e4 solid;
    }
}
.fade-out-border-light-blue {
    animation: 5s ease-out 0s 1 fadeOutBorderLightBlue;
}

@keyframes fadeOutBorderWinGreen {
    0% {
        border: 3px #28a745 solid;
    }

    100% {
        border: 1.5px #e4e4e4 solid;
    }
}
.fade-out-border-win-green {
    animation: 5s ease-out 0s 1 fadeOutBorderWinGreen;
}

@keyframes fadeOutHighlight {
    0% {
        background-color: rgba(255, 255, 0, 0.5);
        border-radius: 10px;
    }

    100% {
        background-color: rgba(255, 255, 0, 0);
        border-radius: 0px;
    }
}
.fade-out-highlight {
    animation: 5s ease-out 0s 1 fadeOutHighlight;
}

@keyframes fadeOutHighlightedFeed {
    0% {
        background-color: #edf6f6;
        border: solid 1.5px #badddd;
    }

    100% {
        background-color: white;
        border: 1.5px #e4e4e4 solid;
    }
}
.fade-out-highlighted-feed {
    animation: 5s ease-out 0s 1 fadeOutHighlightedFeed;
}

.grid {
    display: grid;
}

.center-block {
    display: table;
    margin: auto;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.win-green {
    color: #28a745;
}
.hover-win-green:hover {
    color: #28a745;
}
.win-green-background {
    background-color: #28a745;
}
.win-green-gradient-background {
    background-color: #28a745 !important;
    background-image: linear-gradient(0deg, #11822b, #28a745) !important;
}

@keyframes winGreenAnimation {
    0% {
        color: black;
    }

    100% {
        color: #28a745;
    }
}
.win-green-animated-500ms {
    animation: 0.5s linear 0s 1 winGreenAnimation;
    animation-fill-mode: forwards;
}
.win-green-animated-1000ms {
    animation: 1s linear 0s 1 winGreenAnimation;
    animation-fill-mode: forwards;
}
.win-green-animated-1500ms {
    animation: 1.5s linear 0s 1 winGreenAnimation;
    animation-fill-mode: forwards;
}

.win-green-border {
    border-color: #28a745;
}

.lose-red {
    color: #dc3545;
}
.lose-red-important{
    color: #dc3545 !important;
}
.hover-lose-red:hover {
    color: #dc3545;
}
.lose-red-background {
    background-color: #dc3545 !important;
}
.lose-red-gradient-background {
    background-color: #dc3545 !important;
    background-image: linear-gradient(0deg, #a81624, #dc3545) !important;
}

@keyframes loseRedAnimation {
    0% {
        color: black;
    }

    100% {
        color: #dc3545;
    }
}

.lose-red-animated-500ms {
    animation: 0.5s linear 0s 1 loseRedAnimation;
    animation-fill-mode: forwards;
}
.lose-red-animated-1000ms {
    animation: 1s linear 0s 1 loseRedAnimation;
    animation-fill-mode: forwards;
}
.lose-red-animated-1500ms {
    animation: 1.5s linear 0s 1 loseRedAnimation;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.lose-red-border {
    border-color: #dc3545;
}

.fade-in {
    opacity: 0;
    animation: 1s linear 0s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}
.fade-in-extra-small-delay {
    opacity: 0;
    animation: 1s linear 0.25s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}
.fade-in-small-delay {
    opacity: 0;
    animation: 1s linear 0.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}
.fade-in-delay {
    opacity: 0;
    animation: 1s linear 1s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}
.fade-in-large-delay {
    opacity: 0;
    animation: 1s linear 1.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}
.fade-in-extra-large-delay {
    opacity: 0;
    animation: 1s linear 2s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}
.fade-in-extra-extra-large-delay {
    opacity: 0;
    animation: 1s linear 2.5s 1 fadeInAnimation;
    animation-fill-mode: forwards;
}

.light-gray-color {
    color: #A8A8A8
}

.orange-color{
    color: orange;
}
.orange-color-background{
    background-color: orange !important;
}
.orange-color-border{
    border-color: orange !important;
}

.purple-color{
    color: #8d52c4 !important;
}
.purple-color-background {
    background-color: #8d52c4 !important;
}
.purple-color-border{
    border-color: #8d52c4 !important;
}

.secondary-orange-color {
    color: #ff854e;
}

.gold-color {
    color: #f4bc1c;
}
.gold-color-background {
    background-color: #f4bc1c;
}

.dark-gold-color {
    color: #e3ae14;
}

.gold-border {
    border-color: #f4bc1c;
}

.platinum-color {
    color: #e5e4e2;
}

.silver-color {
    color: #c0c0c0;
}

.bronze-color {
    color: #cd7f32;
}

.white-color {
    color: white;
}

.white-color-hover {
    color: #e0e5e0 !important;
}
.white-color-hover:hover {
    color: white !important;
}

.off-green-color {
    color: #bdb76b;
}

.notification-red {
    color: #DC3545;
}

.checklist-green {
    color: #28a745;
}
.checklist-orange {
    color: #ff854e;
}
.checklist-red {
    color: #dc3545;
}
.checklist-yellow {
    color: #e8de54;
}
.checklist-blue {
    color: #579eea;
}
.checklist-purple {
    color: #c323c5;
}

.white-background {
    background-color: white;
}

.card-width {
    max-width: 135px;
}

.accomplishment-width {
    max-width: 135px;
}

.matching-tag-width {
    width: 148px;
}

footer{
    padding-top: 25px;
}

.fixed{
    position: fixed;
}

.inline{
    display: inline;
}

.anchor-fix {
    padding-top: 45px; 
    margin-top: -45px;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background: #000;
}

.small-circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.extra-small-circle {
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.center-circle {
    margin-left: 32%;
}

.big-circle {
    background: #28a745;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.8em;
    margin-right: 5px;
    text-align: center;
    width: 1.8em;
    font-size: 45px;
    font-weight: bold;
}

.border-image {
    overflow: hidden;
    width: 52px;
    height: 52px;
    object-fit: cover;
    border: solid 1.5px #337ab7;
    padding: 3px;
}

.display-image {
    overflow: hidden;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: solid 1.5px #337ab7;
    padding: 2px;
}

.display-image-large {
    width: 75px;
    height: 75px;
}

.display-image-small {
    width: 25px;
    height: 25px;
    padding: 0px;
}

.display-image-medium {
    width: 35px;
    height: 35px;
    padding: 0px;
}

.intro-text {
    width: 100px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
}
.intro-progress-meter {
    width: calc(100% - 110px);
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.smaller-font {
    font-size: 11.5px;
}
.small-font {
    font-size: 13px;
}
.medium-font {
    font-size: 15px;
}
.slightly-larger-medium-font {
    font-size: 16px;
}
.larger-medium-font {
    font-size: 17px;
}
.big-font {
    font-size: 18px;
}
.extra-big-font {
    font-size: 25px;
}
.very-large-font {
    font-size: 30px;
}
.very-very-large-font {
    font-size: 36px;
}
.mobile-font-size{
    font-size: 20px;
}
@media (max-width: 767px) {
    .mobile-font-size{
        font-size: 14px;
    }
}
.mobile-font-size-larger{
    font-size: 22px;
}
@media (max-width: 767px) {
    .mobile-font-size{
        font-size: 14px;
    }
}

.strikethrough {
    text-decoration: line-through;
}

.item-dimensions {
    width: 70px;
    height: 110px;
}

.adjustable-item-dimensions {
    width: 130px;
    height: 206px;
}
@media (max-width: 650px) {
    .adjustable-item-dimensions {
        width: 70px;
        height: 110px;
    }
}

.logo-dimensions{
    width: 60px;
    height: 60px;
}
@media (max-width: 767px) {
    .logo-dimensions {
         width: 55px;
         height: 55px;
    }
}

.main-logo-dimensions{
     width: 223px;
     height: 41px;
}
@media (max-width: 767px) {
    .main-logo-dimensions{
         width: 200px;
         height: 39px;
    }
}

.stadium-message {
    border-width: 1.5px;
}

.stadium-status-dimensions {
    width: 35px;
    height: 35px;
}

.attention-hall-item-dimensions {
    width: 45px;
    height: 80px;
}

.auction-item-dimensions {
    width: 51px;
    height: 80px;
}

.market-stall-item-dimensions {
    width: 51px;
    height: 80px;
}

.power-move-dimensions {
    width: 80px;
    height: 80px;
}

.relic-dimensions {
    width: 80px;
    height: 80px;
}

.relic-tier-dimensions {
    width: 20px;
    height: 20px;
}

.streak-cards-height {
    height: 80px;
}

.quarry-stone-height {
    height: 41px;
}

.accomplishment-dimensions {
    width: 87px;
    height: 110px;
}

.small-square-dimensions {
    width: 55px;
    height: 55px;
}
.square-dimensions {
    width: 85px;
    height: 85px;
}

.companion-dimensions {
    width: 100px;
    height: 100px;
}

.attention-hall-accomplishment-dimensions {
    width: 58px;
    height: 73px;
}

.attention-hall-match-tag-dimensions {
    height: 45px;
    width: 45px;
}

.quarry-stone-dimensions {
    width: 58px;
    height: 41px;
}

.prize-cup-dimensions {
    width: 52px;
    height: 70px;
}

.prize-marble-dimensions {
    width: 70px;
    height: 70px;
}

.lucky-guess-chest-dimensions {
    width: 63px;
    height: 70px;
}

.align-middle {
    display: flex;
    align-items: center;
}

.table-center{
    display: table;
    margin: 0 auto;
}

.faded {
    opacity: 0.5;
}

.status-dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.map-marker {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid 1px white;
}

.highlighted-map-area {
    background-color: #dc3545;
    opacity: 0.5;
    width: 50%;
    height: 100%;
    pointer-events: none;
    position: absolute;
}

.progress-bar-checkpoint{
    position: absolute;
    width: 12px;
    height: 24.5px;
    margin-top: -5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-image: linear-gradient(0deg, orange, #ffc919);
    z-index: 1;
    opacity: 0.65;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
}

.shadow {
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.25));
}
.strong-shadow {
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
}

.feed-menu {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: #f4f4f4 4px solid;
}

.stackable-cards-grid {
    display: grid;
    overflow: hidden;
    position: relative;
}

.stackable-cards {
    display: flex;
    flex-wrap: nowrap;
}

.stackable-card {
    width: 105px;
    height: 165px;
    display: none;
}

.stackable-card:not(:first-child) {
    margin-left: -2rem;
}

@media (max-width: 450px) {
    .stackable-card {
        width: 79px;
        height: 124px;
    }

    .faded-white {
        height: 140px;
    }
}

.bottom-menu {
    position: fixed;
    left: 0;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    bottom: 0%;
    background-color: #337ab7;
    background-image: linear-gradient(0deg, #337ab7, #1074c9);
    color: white;
    padding: 15px;
    border: #f4f4f4 2px solid;
    border-radius: 8px;
    opacity: 0.95;
    box-sizing: border-box;
    display: none;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.25);
    -webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.25)
}

@media (max-width: 767px) {
    .bottom-menu{
        width: 75%;
        margin-left: 12.5%;
        margin-right: 12.5%;
    }
}

.faded-white {
    background-image: linear-gradient(90deg, rgba(252,252,252,0), rgba(252,252,252,1));
    width: 100%;
    height: 180px;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

.overflow-hide {
    position: relative;
    overflow: hidden;
}

.grow {
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}
@media (hover: none), (pointer: none) {
    .grow:hover {
        transform: scale(1.0);
    }
    .grow-mobile:hover {
        transform: scale(1.05);
    }
}

@media (min-width: 768px) {
    .grow-no-mobile {
        -moz-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

    .grow-no-mobile:hover {
    transform: scale(1.05);
    }
}

.fixed-grow {
    transform: scale(1.05);
}

.white-right-border {
    border-right: 2px white solid;
}

@media (min-width: 768px) {
    .text-center-no-mobile {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .text-center-mobile {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .boxed {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #e0e5e0;
        border-radius: 2px;
    }

    .boxed:hover {
        border: 1px solid #ffffff;
        background-color: #2ebc4f;
        -moz-transition: background-color 0.1s linear;
        -webkit-transition: background-color 0.1s linear;
        transition: background-color 0.1s linear;
    }

    .enabled .boxed {
        border: 1px solid #ffffff;
        background-color: #2ebc4f;
        color: white;
    }
}

@media (max-device-width: 365px) {
    .hidden-xxs {
        display: none;
    }
}

.visible-xxs{
    display: none;
}
@media (max-device-width: 365px) {
    .visible-xxs {
        display: initial;
    }
}

.visible-xl {
    display: none;
}

@media (min-device-width: 1650px) {
    .visible-xl {
        display: initial;
    }
}

.display-none {
    display: none;
}

.left-comment-border {
    border-left: dashed #e4e4e4 2px;
}

.left-border-blue {
    border-left: 2px #337ab7 solid;
}

.progress-bar-vertical {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 65px;
    width: 120px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid gray;
}

.inline-block {
    display: inline-block;
}

/*loading spinner*/

.loader {
    border: 5px solid #337ab7;
    border-top: 5px solid #e4e4e4;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
}

.loader-large {
    width: 50px;
    height: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.glyphicon.normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/*nav color styling*/

.navbar-default {
    background-color: #337ab7;
    background-image: radial-gradient(circle, #1eaee3, #337ab7);
    border-width: 0px;
    opacity: 0.98;
}
.navbar-default .navbar-brand {
    color: #e0e5e0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
     color: #e0e5e0;
}
.navbar-default .navbar-nav > li > a {
    color: #e0e5e0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #337ab7;
    background-image: radial-gradient(circle, #1eaee3, #337ab7);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #e0e5e0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #337ab7;
    background-image: radial-gradient(circle, #1eaee3, #337ab7);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
     color: #ffffff;
     background-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-toggle {
     border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
     background-color: #285f8f;
}
.navbar-default .navbar-toggle .icon-bar {
     background-color: #e0e5e0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color:  #e4e4e4;
}
.navbar-default .navbar-link {
     color: #e0e5e0;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default {
        background-color: #337ab7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e0e5e0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #285f8f;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #285f8f;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #ffffff;
        background-color: #285f8f;
    }
}

/*input group add on styling*/

.input-group-addon {
    color: #3c3c3c;
    background-color: #f4f4f4;
    border-color: #c7c7c7;
}

.input-group-addon.blue {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}

.input-group-addon.green {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.red {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

/* bootstrap alert styling */

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d0e9c6;
}
.alert-success hr{
    border-color: #d0e9c6 !important;
}

.alert-warning {
    color: #7d6728;
    background-color: #fff3cd;
    border-color: #feedb9;
}
.alert-warning hr{
    border-color: #feedb9 !important;
}

.alert-info {
    color: #0c5875;
    background-color: #d9edf7;
    border-color: #cadee8;
}
.alert-info hr {
    border-color: #B8DAFF !important;
}

/* bootstrap button styling */

.btn {
    border-radius: 3px !important;
}

.input-group-btn .btn-primary {
    border-radius: 0px !important;
}

.input-group-btn .btn-secondary {
    border-radius: 0px !important;
}

.input-group-btn .btn-rounded {
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.btn-primary-dark {
    color: #fff;
    background-color: #1d476b;
    border-color: #2f608a;
}
.btn-primary-dark:hover, .btn-primary-dark:focus, .btn-primary-dark:active, .btn-primary-dark.active, .open > .dropdown-toggle.btn-primary-dark {
    color: #fff;
    background-color: #255278;
    border-color: #2d5d85;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #5a6268;
}

.btn-success {
    color: #fff;
    background-color: #2ebc4f;
    border-color: #2ebc4f;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-purple {
    color: #fff;
    background-color: #aa66cc;
    border-color: #846394;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open > .dropdown-toggle.btn-purple {
    color: #fff;
    background-color: #8851a3;
    border-color: #9f73b5;
}

.btn-orange {
    color: #fff;
    background-color: orange;
    border-color: #f7af11;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open > .dropdown-toggle.btn-orange {
    color: #fff;
    background-color: #ff9000;
    border-color: #ffba00;
}

.btn-gold {
    color: #fff;
    background-color: #f4bc1c;
    border-color: #f7c639;
}
.btn-gold:hover, .btn-gold:focus, .btn-gold:active, .btn-gold.active, .open > .dropdown-toggle.btn-gold {
    color: #fff;
    background-color: #e3ae17;
    border-color: #edb71c;
}

.btn-alt-blue {
    color: #fff;
    background-color: #6fafe5;
    border-color: #5e9fd6;
}
.btn-alt-blue:hover, .btn-alt-blue:focus, .btn-alt-blue:active, .btn-alt-blue.active, .open > .dropdown-toggle.btn-alt-blue {
    color: #fff;
    background-color: #4f9ee0;
    border-color: #5393c9;
}

/* nav tab fix */

@media (max-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }

    .nav-justified > li > a {
        border-bottom: 1px solid #ddd !important;
        border-radius: 4px 4px 0 0 !important;
        margin-bottom: 0 !important;
    }
}

/* nav pill styling */

.nav-pills > li > a {
    padding: 5.5px;
}

/* panel styling */

.panel-success {
    border-color: #2ebc4f;
}
.panel-success > .panel-heading {
    background: #2ebc4f;
    background-image: radial-gradient(circle, #00d630, #2ebc4f);
    color: #ffffff;
    border-color: #2ebc4f;
}

.panel-primary > .panel-heading {
    background-image: radial-gradient(circle, #3596b5, #337ab7);
}
.panel-primary > .panel-footer {
    background: #337ab7;
    background-image: radial-gradient(circle, #3596b5, #337ab7);
    color: #ffffff;
    border-color: #337ab7;
}
.panel-primary-gradient {
    border-color: #337ab7;
}
.panel-primary-gradient > .panel-heading {
    background: #337ab7;
    background-image: radial-gradient(circle, #1e88e3, #0abcda);
    color: #ffffff;
    border-color: #337ab7;
}
.panel-primary-gradient > .panel-footer {
    background: #337ab7;
    background-image: radial-gradient(circle, #1e88e3, #00b8e4);
    color: #ffffff;
    border-color: #337ab7;
}

.panel-pink {
    border-color: #e67589;
}
.panel-pink > .panel-heading {
    background: #e67589;
    background-image: linear-gradient(0deg, #e892a1, #e67589);
    color: #ffffff;
    border-color: #e67589;
}

.panel-orange {
    border-color: #e68107;
}
.panel-orange > .panel-heading {
    background: #e68107;
    background-image: linear-gradient(0deg, #ff8f08, #e68107);
    color: #ffffff;
    border-color: #e68107;
}

.panel-gold {
    border-color: #f4bc1c;
}
.panel-gold > .panel-heading {
    background: #f4bc1c;
    background-image: linear-gradient(0deg, #f0d405, #f4bc1c);
    color: #ffffff;
    border-color: #f4bc1c;
}

.panel-purple {
    border-color: #8c6da8;
}
.panel-purple > .panel-heading {
    background: #8c6da8;
    background-image: linear-gradient(0deg, #a377c9, #8c6da8);
    color: #ffffff;
    border-color: #8c6da8;
}

.panel-default {
    border-color: #ddd;
}
.panel-default > .panel-heading {
    background: #f5f5f5;
    background-image: linear-gradient(0deg, rgba(244, 244, 244, 1), rgba(228, 228, 228, 1));
    color: #333;
    border-color: #ddd;
}

.panel-danger {
    border-color: #dc3545;
}


/* jumbotron styling */

.jumbotron {
    background-color: #f4f4f4;
}

/* avoid navbar collapse */

.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.2s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    width: 190px;
}

.dropdown.open .dropdown-menu {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
}

.dropdown-menu > li > a {
    padding: 6px 12px;
    font-weight: 500;
}

/** fix iPhone Zoom issue with inputs **/

@media (max-width: 768px) {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
        font-size: 16px;
    }
    .form-control{
        font-size: 16px;
    }
}

/* override form background color */

.form-control {
    background-color: #fcfcfc;
    border-radius: 2px;
    -moz-box-shadow: 0px 0px 0px 0px #fff;
    -webkit-box-shadow: 0px 0px 0px 0px #fff;
    box-shadow: 0px 0px 0px 0px #fff;
}
.form-control:focus {
    background-color: #ffffff;
    outline: none !important;
    border:1px solid #337ab7;
}

/* override radio button */

input[type="radio"] {
    cursor: pointer;
}

@media (min-width: 768px) {
    input[type="radio"] {
        display: inline-block;
        vertical-align: middle;
        margin: -5px;
        padding: 0;
        height: 30px;
        cursor: pointer;
    }

    input[type='radio']:checked:after {
        width: 16px;
        height: 16px;
        border-radius: 16px;
        top: 7px;
        left: -2px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 6px solid #337ab7;
    }
}

.radio-inline-forced input[type="radio"] {
    margin: 0;
}

/* override checkbox */

input[type='checkbox'] {
    cursor: pointer;
}

@media (min-width: 768px) {
    input[type='checkbox']:checked:after {
        width: 13px;
        height: 13px;
        border-radius: 2px;
        top: -1px;
        left: -0.5px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 5px solid #337ab7;
    }
}

/* override toastr styling */
#toast-container > div {
    opacity: 0.9;
    font-size: 14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#toast-container > .toast {
    background-image: none !important;
}
#toast-container > .toast:before {
    position: relative;
    font-family: "Glyphicons Halflings";
    font-size: 22px;
    line-height: 1em;
    float: left;
    margin-left: -40px;
    padding-top: 5px;
    color: #FFF;
    padding-left: 5px;
}
#toast-container > .toast-success:before {
    content: "\e125";
}
#toast-container > .alert-success:before,
#toast-container > .alert-success {
    color: #dff0d8;
    background-color: #28a745;
}

/* add collapsed states */

[data-toggle="collapse"].collapsed .if-not-collapsed {
    display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
    display: none;
}

/* new label colors */

.label-none {
    background-color: black;
}
.label-staff {
    background-color: #d09440;
}
.label-helper {
    background-color: #70a1cc;
}
.label-club {
    background-color: #f4bc1c;
}
.label-donor {
    background-color: #d10404;
}
.label-ambassador {
    background-color: #663399;
}
.label-elite {
    background-color: #f4bc1c;
}
.label-contributor {
    background-color: #62deb5;
}
.label-gold {
    background-color: #e3c727;
}
.label-purple {
    background-color: #a162de;
}
.label-orange {
    background-color: #ffa500;
}
.label-more {
    background: #8d9096;
    border: 2px solid #8d9096;
}
.label-primary-gradient {
    background: #337ab7;
    border: 2px solid #337ab7;
    background-image: linear-gradient(0deg, #1e88e3, #337ab7);
}
.label-success-gradient {
    background: #28a745;
    border: 2px solid #28a745;
    background-image: linear-gradient(0deg, #1f9139, #28a745);
}
.label-gold-gradient {
    background: #f4bc1c;
    background-image: linear-gradient(0deg, #e3c022, #f4bc1c);
}

/* arrows for accordion */

.panel-heading {
    cursor: pointer;
}
.accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: inherit;
}
.panel-heading.collapsed .accordion-toggle:after {
    content: "\e114";
}

.jumbotron {
    padding: 8px;
    margin-bottom: 20px;
}

/* make tables collapse on mobile */

@media only screen and (max-width: 768px) {
    #mobile-friendly-table table,
    #mobile-friendly-table thead,
    #mobile-friendly-table tbody,
    #mobile-friendly-table th,
    #mobile-friendly-table td,
    #mobile-friendly-table tr {
        display: block;
    }
    
    #mobile-friendly-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #mobile-friendly-table tr {
        border: 1px solid #ccc;
    }

    #mobile-friendly-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    #mobile-friendly-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    #mobile-friendly-table td:before {
        content: attr(data-title);
    }
}

/* jumbotron */

.jumbotron .btn {
    border-radius: 0px !important;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    padding: 10px 40px;
}

/* fix radio inline for mobile */
@media (max-width: 768px) {
    .radio-inline {
        display: block;
        margin-left: 0px !important;
    }
}
.radio-inline-forced {
    display: block;
    margin-left: 0px !important;
    font-weight: 400;
}

/* add word breaking for long words in a panel */
.panel-body {
    word-break: break-word;
}

/* override h-tags */
h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
}

/* fireworks */
.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-moz-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-o-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-ms-keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@keyframes bang {
    from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
    }
}

@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
    }

    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

.container-pyro {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    pointer-events: none;
}

/* progress bar override */
.progress-bar .progress-bar-text {
    text-shadow: 1px 0px 3px gray;
    margin-left: 2px;
}

/* override modal header class */
.modal-header {
    background-color: #337ab7;
    background-image: radial-gradient(circle, #11c6d3 38.5%, #1971e8);
    color: white;
    border-color: #285f8f;
}

/* make tooltip clickable */
@media (max-width: 1366px) {
    .tooltip {
        cursor: pointer;
    }
}

/* make panel headings not clickable */
.panel-heading{
    cursor: default;
}

/* add caret rotation */
.caret {
    -moz-transition: transform 0.1s;
    -webkit-transition: transform 0.1s;
    transition: transform 0.1s;
}

.rotate-180 {
    transform: rotate(-180deg);
}

/* spin wheel */
.spin-wrapper {
    margin: 40px auto 0;
    width: 266px;
    position: relative;
    margin-top: 20px;
}

#wheel {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
    transform: rotate(0deg);
}

#wheel:before {
    content: '';
    position: absolute;
    border: 4px solid rgba(0,0,0,0.1);
    width: 242px;
    height: 242px;
    border-radius: 50%;
    z-index: 1000;
}

#inner-wheel {
    width: 100%;
    height: 100%;
    -webkit-transition: all 6s cubic-bezier(0,.99,.44,.99);
    -moz-transition: all 6s cubic-bezier(0,.99,.44,.99);
    -o-transition: all 6s cubic-bezier(0,.99,.44,.99);
    transition: all 6s cubic-bezier(0,.99,.44,.99);
}

#wheel div.sec {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 130px 75px 0;
    border-color: #19c transparent;
    transform-origin: 75px 129px;
    left: 43px;
    top: -10px;
    opacity: 1;
}

#wheel div.sec:nth-child(1) {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    border-color: rgb(175, 8, 8) transparent;
}

#wheel div.sec:nth-child(2) {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    border-color: rgb(207, 83, 10) transparent;
}

#wheel div.sec:nth-child(3) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    border-color: rgb(239, 206, 0) transparent;
}

#wheel div.sec:nth-child(4) {
    transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    -moz-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    border-color: rgb(40, 233, 3) transparent;
}

#wheel div.sec:nth-child(5) {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    -moz-transform: rotate(300deg);
    -o-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    border-color: rgb(0, 61, 199) transparent;
}

#wheel div.sec:nth-child(6) {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    border-color: rgb(110, 0, 238) transparent;
}


#wheel div.sec .text{
    margin-top: -100px;
    position: relative;
    z-index: 10000000;
    display: block;
    text-align: center;
    font-size: 30px;
    left: -10px;
    color: white;
}
    
#spin {
    width: 68px;
    height: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -34px 0 0 -34px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.1) 0px 3px 0px;
    z-index: 1000;
    background: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#spin:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 28px 20px;
    border-color: transparent transparent #ffffff transparent;
    top: -12px;
    left: 14px;
}

#inner-spin {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px 0 0 -27px;
    border-radius: 50%;
    background: red;
    z-index: 999;
    box-shadow: rgba(255,255,255,1) 0px -2px 0px inset, rgba(255,255,255,1) 0px 2px 0px inset, rgba(0,0,0,0.4) 0px 0px 5px;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
}

#spin:active #inner-spin {
    box-shadow: rgba(0,0,0,0.4) 0px 0px 5px inset;
}

#spin:active:after {
    font-size: 15px;
}

@-webkit-keyframes hh {
    0%, 100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    50% {
        transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
    }
}

@keyframes hh {
    0%, 100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }

    50% {
        transform: rotate(7deg);
        -webkit-transform: rotate(7deg);
    }
}

.spin {
    -webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
    animation: hh 0.1s;
}

/* animated extra delays */
.animated.delay-0-5s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.animated.delay-1-5s {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.animated.delay-2-5s {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.animated.delay-3-5s {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.animated.delay-4-5s {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

/* changing background */
.changing-background-color {
    background: linear-gradient(270deg, #a8f0ea, #dff0d8);
    animation: infinite background-color-change 5s ease;
    background-size: 150% 150%;
}
@keyframes background-color-change { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* override nav tab color */
.nav-tabs > li.active > a {
    background-color: rgb(252, 252, 252);
}