﻿@model BuyersClubViewModel

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#">Buyers Club</a></li>
    <li><a href="/BuyersClub/Showroom">Showroom Store</a></li>
</ul>
<p>
    <div class="gray-container">
        <h5>You have <b class="@(Model.BuyersClubPoints > 0 ? "win-green" : "")">@Helper.FormatNumber(Model.BuyersClubPoints) Buyers Club Point@(Model.BuyersClubPoints == 1 ? "" : "s")</b></h5>
        <ul>
            <li>
                Every <b>@Helper.GetFormattedPoints(10)</b> you spend will earn you <b>1 Buyers Club Point</b>.
            </li>
            <li>
                Earn <b>@Helper.FormatNumber(Helper.GetBuyersClubPointsRequired()) Points</b> and you'll get <b>15% off</b> all items in the Buyers Club.
            </li>
        </ul>
        The Buyers Club's inventory will refresh in <b>@(Helper.GetBuyersClubRefreshMinutes() - Model.StoreItems.First().GetAgeInMinutes()) minute@((Helper.GetBuyersClubRefreshMinutes() - Model.StoreItems.First().GetAgeInMinutes() == 1 ? "" : "s"))</b>.
        @if (Model.RemainingItems < 3 && (DateTime.UtcNow - Model.LastBuyDate).TotalHours < 1)
        {
            <span>You can buy <b>@Helper.FormatNumber(Model.RemainingItems) more item@(Model.RemainingItems == 1 ? "" : "s")</b> over the next <b>@Model.LastBuyDate.AddHours(1).GetTimeUntil()</b>.</span>
        }
    </div>
</p>
@if (Model.BuyersClubPoints >= Helper.GetBuyersClubPointsRequired())
{
    <p>
        <div class="alert alert-success">
            <h5>
                You've reached <b>@Helper.FormatNumber(Helper.GetBuyersClubPointsRequired()) Buyers Club Points</b>.
                @if (Model.ShowDiscount)
                {
                    <span>All items are <b>15% off</b> for your next purchase!</span>

                }
                else
                {
                    <span>Activate your discount to get <b>15% off</b> all items for your next purchase!</span>
                }
            </h5>
            @if (Model.ShowDiscount)
            {
                <div>
                    <a class="btn btn-success" href="/BuyersClub?showDiscount=false">Hide Discount</a>
                </div>
            }
            else
            {
                <div>
                    <a class="btn btn-success" href="/BuyersClub?showDiscount=true">Activate Discount</a>
                </div>
            }
        </div>
    </p>
}
<h5>
    Items (@Helper.FormatNumber(Model.StoreItems.Count))
</h5>
<div class="grid-container grid-container--fit">
    @foreach (StoreItem item in Model.StoreItems)
    {
        <div id="@item.Id" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="item-dimensions" src="@Helper.GetImageUrl(item.ImageUrl)" alt="@item.Description" title="@item.Description">
                <div>
                    <h5>@item.Name</h5>
                    <p><i><small>@item.Description</small></i></p>
                </div>
            </div>
            <div>
                @if (item.Tier > RelicId.None)
                {
                    <div data-toggle="tooltip" data-placement="top" title="Needs the @item.Tier Relic.">
                        <img class="relic-tier-dimensions" src="@Helper.GetImageUrl($"Relics/{item.Tier}.png")" />
                    </div>
                }
                <div>
                    <small class="semi-bold">@(item.TotalUses > 0 ? $"{item.TotalUses} Use{(item.TotalUses != 1 ? "s" : "")}" : "")</small>
                </div>
                <div>
                    <small>
                        @item.Category <span class="@Helper.GetItemConditionColor(item.Condition)">(@item.Condition)</span>
                    </small>
                </div>
                <div>
                    <small>
                        Cost: <b class="@(Model.User.Points >= item.Cost ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(item.Cost)</b>
                        @if (Model.ShowDiscount && Model.BuyersClubPoints >= Helper.GetBuyersClubPointsRequired())
                        {
                            <span class="glyphicon glyphicon-star orange-color" data-toggle="tooltip" data-placement="top" title="Regular Cost: @Helper.GetFormattedPoints(item.Cost / 0.85)"></span>
                        }
                    </small>
                </div>
                <div class="small-padding-top">
                    <form action="@Url.Action("Buy", "BuyersClub")" method="POST" onsubmit="submitBuyersClubForm(event, this, true, @Model.ShowDiscount.ToString().ToLower())">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <input type="hidden" name="showDiscount" value="@Model.ShowDiscount.ToString().ToLower()" />
                        <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= item.Cost && Model.CanBuy ? "" : "disabled")">Buy Item</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>