﻿@model BuyersClubViewModel

<form action="@Url.Action("ChangeShowroomInfo", "BuyersClub")" method="POST" onsubmit="submitBuyersClubForm(event, this, false);" class="small-padding-top">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
            <input id="username" type="text" class="form-control" name="title" value="@Model.ShowroomTitle" placeholder="Title" maxlength="30" required>
        </div>
    </div>
    <div class="form-group">
        <div>
            <label>Showroom Color</label>
        </div>
        <h6 class="text-muted no-margin-top">Tap to change it. This color will be used as the color to display your showroom's title.</h6>
        <input type="color" id="color" name="color" value="@Model.ShowroomColor" class="inline clickable">
    </div>
    <div class="form-group">
        <label for="description"><span class="glyphicon glyphicon-edit"></span> Description</label>
        <textarea class="form-control" name="description" rows="5" id="description" placeholder="Description" onkeyup="updateDescriptionCountMessage();">@Model.ShowroomDescription</textarea>
        <h6 class="pull-right text-muted" id="descriptionCountMessage">@Helper.FormatNumber(350 - Model.ShowroomDescription?.Length ?? 0) remaining</h6>
    </div>
    <div class="form-group">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">Update Info</button>
        <a href="/Profile/Showroom" class="btn btn-secondary">Back to Showroom</a>
    </div>
</form>