﻿@model BuyersClubViewModel

<h5>Showroom Enhancements (@Helper.FormatNumber(Model.ShowroomEnhancements.Count))</h5>
<div class="grid-container grid-container--fit">
    @foreach (ShowroomEnhancement showroomEnhancement in Model.ShowroomEnhancements)
    {
        <div id="@showroomEnhancement.Id" class="grid-container-no-padding grid-element text-center">
            <div>
                <img class="square-dimensions" src="@Helper.GetImageUrl(showroomEnhancement.ImageUrl)" alt="@showroomEnhancement.Description" title="@showroomEnhancement.Description">
                <div>
                    <h5>@showroomEnhancement.Name</h5>
                    <p>
                        <i><small>@showroomEnhancement.Description</small></i>
                        @if (!string.IsNullOrEmpty(showroomEnhancement.Info))
                        {
                            <small><span class="glyphicon glyphicon-info-sign gray-color" data-toggle="tooltip" data-placement="top" title="@showroomEnhancement.Info"></span></small>
                        }
                    </p>
                </div>
            </div>
            <div>
                <small>
                    Cost: <b class="@(Model.User.Points >= showroomEnhancement.Points ? "win-green" : "lose-red")">@Helper.GetFormattedPoints(showroomEnhancement.Points)</b>
                </small>
            </div>
            <div class="small-padding-top">
                <form action="@Url.Action("BuyShowroomEnhancement", "BuyersClub")" method="POST" onsubmit="submitBuyersClubForm(event, this, false, false)">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="showroomEnhancementId" value="@showroomEnhancement.Id" />
                    <button type="submit" class="btn btn-success btn-xs @(Model.User.Points >= showroomEnhancement.Points ? "" : "disabled")">Buy It</button>
                </form>
            </div>
        </div>
    }
</div>