﻿@model BuyersClubViewModel

<ul class="nav nav-tabs nav-justified">
    <li><a href="/BuyersClub">Buyers Club</a></li>
    <li class="active"><a href="#">Showroom Store</a></li>
</ul>
@if (!Model.CanAccessShowroom)
{
    <h5>Showroom Store</h5>
    <div class="extra-small-padding-top"></div>
}
@if (Model.CanAccessShowroom)
{
    <p>
        <div class="gray-container">
            @if (Model.ShowshowShowroomTitleChange)
            {
                <span>Make changes to your Showroom's title, description, and color.</span>
            }
            else
            {
                <span>Your <b><a href="/Profile/Showroom">Showroom</a></b> is now <b class="win-green">open</b>! You can use this store to buy enhancements for your Showroom.</span>
            }
        </div>
    </p>
    <div id="buyersClubShowroomPartialView">
        @if (Model.ShowshowShowroomTitleChange)
        {
            @await Html.PartialAsync("_BuyersClubShowroomTitleChangePartial", Model);
        }
        else
        {
            @await Html.PartialAsync("_BuyersClubShowroomPartial", Model)
        }
    </div>
}
else if (Model.CanChallengeShowroomOwner)
{
    <div class="alert alert-success no-margin-bottom">
        <h5>
            You've been invited to the <b>Showroom Store</b>! If you <b>defeat</b> the <b>Showroom Owner</b> at the <a class="alert-link" href="/Stadium">Stadium</a>, you'll get your own Showroom and be able to access the store.
        </h5>
    </div>
    <form action="@Url.Action("ChallengeShowroomOwner", "Stadium")" method="POST" onsubmit="submitBuyersClubForm(event, this, false)" class="large-padding-top">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Challenge Showroom Owner</button>
    </form>
}
else
{
    <div class="alert alert-info">
        You haven't been invited to the Showroom Store yet. Come back later.
    </div>
}