﻿@model SurveyViewModel

<div class="gray-container">
    Complete the survey in the next <b>@Model.ExpiryDate.GetTimeUntil()</b> and earn <b class="win-green">@Helper.GetFormattedPoints(Model.Reward)</b>!
</div>
<div class="extra-small-padding-top"></div>
@{ int index = 0; }
<form id="surveyForm" action="@Url.Action("SubmitSurvey", "Survey")" method="POST" onsubmit="submitSurveyForm(event, this);">
    @foreach (SurveyQuestion surveyQuestion in Model.SurveyQuestions)
    {
        <h5>
            <b>@(index + 1).</b> @surveyQuestion.Question
        </h5>
        @if (surveyQuestion.Options == null)
        {
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                    <input id="answer@(index)" type="text" class="form-control" name="answer@(index)" placeholder="Your answer" maxlength="250" autocomplete="off" @(surveyQuestion.Id == SurveyQuestionId.AnythingElse ? "" : "required")>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @foreach (string option in surveyQuestion.Options)
                {
                    <label class="radio-inline-forced">
                        <input id="answer@(index)" type="radio" name="answer@(index)" value="@option" class="big-radio" required><span class="small-padding-left">@option</span>
                    </label>
                }
            </div>
        }
        index++;
    }
    @Html.AntiForgeryToken()
    <div class="form-group padding-top">
        <button type="submit" class="btn btn-success">Submit Survey</button>
    </div>
</form>
